<html-import html-href="navigation/node.html"></html-import>
<dom-module id="navigation-list">
    <template>
        <style>
            .todo {
                padding: 8px 16px;
                background-color: white;
            }
            .todo a, .todo a:active, .todo a:focus, .todo a:hover {
                color: #A6AAAD;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                background-color: #A6AAAD;
                height: 100%;
            }

            nav {
                overflow-y: auto;
                height: 100%;
            }
        </style>
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="todo"><a href="javascript:void(0);" on-click="redirectToHome"><span class="df df-back"></span> HOME</a></div>
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <template is="dom-repeat" items="{{nodes}}">
                        <nav-node node="{{item}}" level="2"></nav-node>
                    </template>
                </ul>
            </div>
        </nav>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
                is: "navigation-list",

                properties: {
                    nodes: Array,
                    value: function () { return [] }
                },

                ready: function () {
                    var self = this;

                    if (window.jQuery) {
                        self.init();
                    }
                    else {
                        window.addEventListener("WebComponentsReady", self.init);
                    }
                },
                init: function () {
                    this.NavConfiguration = this.$.config.getAppConfiguration("navigation");
                    this.set("nodes", this.NavConfiguration.nodes);
                },
                redirectToHome: function () {
                    window.location.hash = this.configuration.private.url;
                }
            });
    </script>
</dom-module>
