<dom-module id="nav-minimize-button">
	<template>
		<a id="minimizeButton" class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:;" on-click="handleClick">
            <i class="fa fa-bars"></i>
        </a>
	</template>
	<script>
		Polymer({ 
			is : 'nav-minimize-button',
			handleClick : function(){
				$("body").toggleClass("mini-navbar");
		        
				if ($('body').hasClass('mini-navbar') || $('body').hasClass('body-small')) {
			        // Hide menu in order to smoothly turn on when maximize menu
			        $('#side-menu').hide();
					$('.contact-details').hide();

					// For smoothly turn on menu
			        setTimeout(function () {
                		$('#side-menu').fadeIn(500);
		            }, 100);
					
			    } else if ($('body').hasClass('fixed-sidebar')) {
					$('#side-menu').hide();
					$('.contact-details').hide();

			        setTimeout(function () {
		                $('#side-menu').fadeIn(500);
						$('.contact-details').fadeIn(500);
		            }, 300);
			    } else {
					$('.contact-details').fadeIn(500);
					$('#side-menu').fadeIn(500);

					// Remove all inline style from jquery fadeIn function to reset menu state
			        $('#side-menu').removeAttr('style');
					//$('.contact-details').removeAttr('style');
			    }
			}
		});
	</script>
</dom-module>
