<dom-module id="enrollment-layout-header">
    <template>
        <nav class="navbar navbar-static-top" role="navigation">
            <div class="row">
                <div class="col-sm-2">
                        <a href="#/">
                            <img src="../images/logo.svg" alt="Logo">
                        </a>
                </div>
            </div>
        </nav>
    </template>
<script>
    Polymer({
        is: "enrollment-layout-header",
    });
</script>
</dom-module>