<html-import html-href="services/format.html"></html-import>
<html-import html-href="navigation/minimize-button.html"></html-import>
<html-import html-href="profile/summary.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="header-view">
    <template>
        <nav class$="{{ dynamicPortalClass(portal) }}" role="navigation">
            <button type="button" hidden$="[[ isQuestionnaireSection ]]" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hamburger" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </button>
            <a href="javascript:void(0);" on-click="redirectHome" class="logo" title="Logo"></a>
            <profile-summary is-questionnaire-section="{{ isQuestionnaireSection }}" portal="[[ portal ]]"></profile-summary>
        </nav>
        <template is="dom-if" if="{{ portalLogoUrl(portal) }}">
            <div class="customer-phn">Customer Service&nbsp;<a href="tel:+1-[[ customerPhoneNumber ]]"><span><alloy-format phone-number="[[ customerPhoneNumber ]]"></alloy-format></span></a></div>
        </template>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <event-hub id="hub"></event-hub>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <!-- Terms of Service Modal -->
      <ui-modal id="termsofService" title="SECURITY INFORMATION" fit-to-screen>
        <template-loader name="TermsofService" version="1.0"> </template-loader>
      </ui-modal>
    </template>
    <script>
        Polymer({
            is: "header-view",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                portal: String,
                isQuestionnaireSection: { type: Boolean, value: true, notify: true }
            },

            attached: function () {
                this.customerPhoneNumber = window.config.customerPhoneNumber;
                this.portal = this.configuration.apps.securityLogin.configuration.portal;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);
            },

            redirectHome: function () {
                //borrower - check if application already exists. If exists, redirect to dashboard else default home
                if (this.portal === "borrower"){
                    window.location.hash =this.configuration.private.url;

                }
                else
                    window.location.hash = this.getDefaultPrivateApplication(); //redirect to deafult home for lender portal - pipeline
            },

            getDefaultPrivateApplication: function () {
                return this.configuration.private.url;
            },

            dynamicPortalClass: function (portal) {
                var defaultClass = ["header", "navbar", "navbar-fixed-top"];
                if (portal === "borrower") {
                    defaultClass.push("grey")
                }
                return defaultClass.join(" ");
            },

            portalLogoUrl: function (portal) {
                if (portal === "borrower")
                    return true;
                else
                    return false;
            },

            redirectDashboard: function () {
                var self = this;
                self.ensure('questionnaireService').then(function (questionnaireService) {
                    questionnaireService.getStatus(self.entityId).then(function (response) {
                        self.parseQuestionnaireStatus(response);
                    });
                });

            },

            parseQuestionnaireStatus: function (questionnaire) {
                if (questionnaire.status && questionnaire.status.toLowerCase() === 'open') {
                    //window.location.hash = "#/questioner-sections";
                    this.$.hub.publish("section:next", {
                        sectionId: 1
                    });
                }
                else if (questionnaire.status && questionnaire.status.toLowerCase() === 'postapplication') {
                    //window.location.hash = "#/post-application/id:" + questionnaire.applicationNumber;
                    this.$.hub.publish("post-section:next", {
                        selectedCurrentIndex: 0
                    });
                }
                else
                    window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
            }
        });
    </script>
</dom-module>