<html-import html-href="navigation/minimize-button.html"></html-import>
<html-import html-href="search/inline.html"></html-import>
<html-import html-href="profile/summary.html"></html-import>
<dom-module id="header-view">
    <template>
        <nav class="navbar navbar-static-top border-bottom white-bg" role="navigation" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <img src="../images/logo.svg" alt="Logo">
                    </div>
                </div>
                <nav-minimize-button></nav-minimize-button>
                <profile-summary options="{{ config.options }}"></profile-summary>
            </div>
        </nav>
    </template>
    <script>
        Polymer(
        {
            is: "header-view",
        });
    </script>
</dom-module>
