<dom-module id="public-header">
    <template>
<nav class="header nobg navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a href="javascript:void(0);" class="logo" title="Logo"></a>
    </div>
</nav> 
        
    </template>
    <script>
        Polymer(
        {
            is: "public-header"
        });
    </script>
</dom-module>
