<html-import html-href="lender-portal/lender-calendar.html"></html-import>
<html-import html-href="services/calendar-service.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="event/hub.html"></html-import>

<dom-module id="lender-calendar-view">
    <template>
        <div class="lenderView">
            <div id="eventsList"  class="eventlist">
                <template is="dom-repeat" items="{{ viewEventList }}">
                    <ul class="clearfix">
                            <li class$="[[ setClass(item.priority) ]]">
                                  {{ item.startTime }} {{ item.startTimePeriod }}<span class="dateoff" hidden$="{{!item.endTime}}">
                                  {{ item.endTime }} {{ item.endTimePeriod }}</span>
                            </li>
                            <li>
                                <span>[[ item.title ]]</span>
                                <address>[[ item.location ]]</address>
                            </li>
                            <li  hidden$=[[!isLapsedDate]]>
                                <button hidden$=[[!checkOwner(item.createdBy)]] class="clickBtn" on-click="update">edit</button>
                                <span hidden$=[[!checkOwner(item.createdBy)]] >&nbsp;|&nbsp;</span>
                                <button hidden$=[[!checkOwner(item.createdBy)]] class="clickBtn" on-click="delete">delete</button>
                            </li>
                    </ul>
                </template>
            </div>
            <div hidden$="[[ isShow(viewEventList) ]]" class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" on-click="createNewEvent">Schedule New Event</button>
            </div>
       </div>
        <calendar-service id="calendarService"></calendar-service>
        <ui-confirm id="confirm" confirm-title="Are you sure you want to delete ?"></ui-confirm>
    </template>
    <script>
        Polymer({
            is:'lender-calendar-view',

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            listeners: {
                "confirm": "handleConfirmDelete"
            },

            properties: {
                viewEventList:{
                    type:Array,
                    value: function () { return [] }
                },
                isOpenNew:{
                    type :Boolean,
                    value:false
                },
                isEdit:{
                    type :Boolean,
                    value:false
                },
                model:Object,
                date:{
                    type:String,
                    value:''
                },
                isLapsedDate :{
                    type :Boolean,
                    value:false
                },
                entityType: {
                    type: String,
                    value: "application"
                },
                entityId:{
                    type: String,
                    value: ""
                }
            },
            attached:function(){
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                $('#eventsList').slimScroll({
                    size: '5px',
                    height: '225px',
                    distance: '5px',
                    alwaysVisible: true,
                    opacity: 1
                });
            },

            setClass: function (value) {
                var defaultClasses = ["date","align-middle"];

                if (value ==='High') {
                    defaultClasses.push("brdr-red");
                }
                if (value ==='Low') {
                    defaultClasses.push("brdr-grn");
                }
                if (value ==='Information') {
                    defaultClasses.push("brdr-ylw");
                }
                if (value ==='Average') {
                    defaultClasses.push("brdr-blu");
                }
                return defaultClasses.join(" ")
            },
            /* To hide the button when events are more than 8 */
            isShow: function (data) {
                var self = this;
                if (data.length >= 8) {
                    return true;
                }
                return false;
            },

            update:function(e){
                var model = e.model.item;
                var self = this;
                self.set("isEdit",true);
                self.set("model",model);
                self.triggerModal();
            },

            delete:function(e){
                var eventId = e.model.item.id;
                var eventDate = moment(e.model.item.eventDate).format('YYYY-MM-DD');

                this.set('eventDeletePayload', {'eventId': eventId, 'eventDate': eventDate});
                this.$.confirm.open();
            },

            handleConfirmDelete: function () {
                var self = this;
                var eventDetails = this.get('eventDeletePayload');

                self.ensure("calendarService").then(function (service){
                    service.deleteEvent(self.entityType, self.entityId, eventDetails.eventId, eventDetails.eventDate)
                            .then(function(response) {
                                self.close();
                                self.set('eventDeletePayload', "");
                                return response;
                            });
                });
            },

            createNewEvent:function(){
                var self = this;
                self.set("isOpenNew",true);
                self.triggerModal();
            },

            triggerModal:function(){
                var self =this;
                var date = self.date;
                self.publish("trigger-modal-window", {
                    isNewEvent:self.isOpenNew,
                    isEdit    :self.isEdit,
                    model     :self.model,
                    date      :date
                });
            },

            close:function(){
                var self = this;
                self.publish("close-modal", {
                    id:'viewEvent'
                });
            },

            checkOwner: function (createdBy) {
                return (createdBy === this.loggedInUser)
            }
        });
    </script>
</dom-module>