<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-input-time.html"></html-import>
<html-import html-href="services/calendar-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="users/users-list.html"></html-import>
<html-import html-href="event/hub.html"></html-import>

<dom-module id="lender-calendar">
    <template>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form" data="{{ formData }}">
            <ui-container-group id="uiContainerGroup" has-error="{{formHasError}}">
                <div class="col-lg-7 col-md-8 col-sm-7 col-xs-12 left-clmn">
                    <ul class="clearfix">
                        <li>
                            <ui-container is-required=true auto-save=false>
                                <ui-input name="title" placeholder="Title" value="{{ title }}">
                                    <ui-validators>
                                        <ui-require-field>Please enter the title.</ui-require-field>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                        </li>
                        <li>
                            <ui-container is-required=true auto-save=false>
                                <ui-input name="location" placeholder="Location" value="{{ location }}">
                                    <ui-validators>
                                        <ui-require-field>Please enter the Location.</ui-require-field>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                        </li>
                        <input-time id="timeComp" date="{{ currentDate }}"></input-time>
                        <div class="clmn2">
                            <ui-container is-required=false auto-save=false default-value="">
                                <ui-text-area name="description" type="textarea" rows="3" placeholder="Description" lock-size="none" value="{{description }}">
                                </ui-text-area>
                            </ui-container>
                        </div>
                        <div class="priority-title">Set Priority</div>
                        <div id="calendarControl" class="celarfix">
                            <ui-label>
                                <ui-input-checkbox name="checkbox" form-group-class-name="custom-checkbox">
                                </ui-input-checkbox>
                                <span class="checkbox-label">High</span>
                            </ui-label>
                        </div>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-4 col-sm-5 col-xs-12 right-clmn">
                    <users-list added-users="{{ addedUser }}" selected-users="{{ selectedUsers }}" id="userLists"></users-list>
                </div>
            </ui-container-group>
        </ui-form>
        <div class="modal-footer">
            <button type="button" id="createEventButton" class="btn btn-sm btn-primary" on-click="saveDetails">SAVE</button>
        </div>
        <calendar-service id="calendarService"></calendar-service>
        <event-hub id="hub"></event-hub>
        <team-service id="teamService"></team-service>
    </template>
    <script>
        Polymer({
            is:'lender-calendar',

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                priority :{ type: String, value : "Low" },
                emailIds:Array,
                currentDate:String,
                entityType: {
                    type: String,
                    value: "application"
                },
                entityId:{
                    type: String,
                    value: ""
                },
                editObject:{
                    type: Object,
                    value: function() { return {}; }
                },
                isAdded: {
                    type:Boolean,
                    value:false
                },
                eventId:String,
                selectedUsers:{
                    type: Array,
                    value: function () {return []}
                },
                addedUser:{
                    type: Array,
                    value: function () {return []}
                },
                isEdit:{
                    type:Boolean,
                    value:false
                },
                loggedInUser:{
                    type:String,
                    value:''
                },
                defaultUsers:{
                    type: Array,
                    value: function () {return []}
                },
                allUsers:{
                    type: Array,
                    value: function () {return []}
                }
            },

            attached: function(){
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);

                // set the borrower and logged in user selected as default for calendar events
                var defaultSelectedUsers = _.concat(self.defaultUsers,self.loggedInUser);
                self.setSelectedInvities(defaultSelectedUsers.join(", "))

                $(document).on('click', '.newevent .close', function(event) {
                    self.closeModal();
                });

                if(this.isEdit){
                    self.editEvent(self.editObject);
                }
            },

            /* This method is called when the edit is clicked and user data needs to get populated*/
            editEvent: function(payload){
                var self = this;
                this.setSelectedInvities(payload.invities);
                this.isAdded = false;
                this.eventId = payload.id;
                this.currentDate = payload.eventDate;
                this.title= payload.title;
                this.location =payload.location;
                this.description =payload.description;
                if(payload.priority){
                    this.setClassActive(payload.priority);
                    this.priority = payload.priority;
                }
                this.$.timeComp.startTime = payload.startTime;
                this.$.timeComp.ampmStart = payload.startTimePeriod;
                this.$.timeComp.endTime = payload.endTime;
                this.$.timeComp.ampmEnd = payload.endTimePeriod ? payload.endTimePeriod : '';

            },

            setSelectedInvities:function(invities){
                var self = this;
                this.invities = invities.split(',');
                var users = this.invities;
                //This is to exclude the bororwers and coborrowers
                var user = [];
                self.defaultUsers.forEach(function(memberItem){
                    _.forEach(users, function (item) {
                        if(memberItem !== item ){
                            user.push({'assignee':item});
                        }
                    })
                });

                //fetches the lending team member
                var selectedUsers =[];

                users.forEach(function (item) {
                    self.allUsers.forEach(function(memberItem){
                        if(memberItem.assignee.trim() === item.trim()){
                            selectedUsers.push({'assignee':memberItem.assignee});
                        }
                    })
                });

                /* this will only have added users excluding the lending Team*/
                var newAddedUsers = [];
                if(user.length > 0){
                    newAddedUsers = user.filter(function(val) {
                        return selectedUsers.indexOf(val) !== -1;
                    });
                }
                var addedUser = _.difference(newAddedUsers,selectedUsers);

                self.set('selectedUsers',selectedUsers);
                self.set('addedUser',addedUser);
            },

            setClassActive:function(value) {
                var self = this;
                if(value  === "High"){
                    self.querySelector("#calendarControl input[type='checkbox']").checked = true;
                }else if(value  === "Low"){
                    self.querySelector("#calendarControl input[type='checkbox']").checked = false;
                }
            },

            /*This is called when selecting the users manually*/
            selectedUsersList :function(){
                var self = this;
                var usersArray = self.$.userLists.returnSelectedUsers();
                var idsList =[];
                var promises = [];
                _.forEach(usersArray, function (item) {
                    promises.push(
                            self.$.teamService.getUserDetails(item.assignee)
                                    .then(function (res) {
                                        idsList.push(res.email);
                                        return true;
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    })
                    );
                });

                return Promise.all(promises)
                        .then(function () {
                            return idsList;
                        });
            },

            /*This method is called when saving the data
             *  Default users  are borrowers ,coborrowers retreived from assignement service after filtering
             and the one who creates  the event(loggedInUser)
             */
            saveDetails: function (e) {
                var self = this;
                self.disableButton();
                self.selectedUsersList()
                        .then(function (selectedArray) {
                            var usersArr = _.concat(self.defaultUsers, selectedArray, self.loggedInUser);
                            //remove duplicates to avoid multiple notifications to same person
                            var result = usersArr.filter(function (elem, index, s) {
                                return index == s.indexOf(elem);
                            });
                            self.priority = "Low";
                            self.querySelectorAll("#calendarControl input[type='checkbox']:checked").forEach(function (items) {
                                self.priority = "High";
                            });
                            if (result.length > 0) {
                                self.$.uiContainerGroup.isValid().then(function (isValid) {
                                    if (isValid) {
                                        self.$.errorSummary.clearErrors();

                                        self.ensure("calendarService").then(function (service) {
                                            if (self.eventId) {
                                                result = _.uniqBy(result, function (val) {
                                                    return val;
                                                });

                                                service.updateEvent(self.entityType,
                                                        self.entityId,
                                                        self.eventId,
                                                        self.currentDate,
                                                        self.isAdded,
                                                        self.formData.title,
                                                        self.formData.location,
                                                        self.$.timeComp.startTime,
                                                        self.$.timeComp.selectedStart,
                                                        self.$.timeComp.endTime,
                                                        self.$.timeComp.selectedEnd,
                                                        self.formData.description,
                                                        self.priority,
                                                        result.toString()
                                                ).then(function (response) {
                                                    self.enableButton();
                                                    self.closeModal();
                                                    return response;
                                                }).catch(function (error) {
                                                    error = error.responseJSON && error.responseJSON.message || "Unable to Proceed.";
                                                    self.$.errorSummary.setErrors(error);
                                                    self.enableButton();
                                                });
                                            } else {
                                                service.createNewEvent(
                                                        self.currentDate,
                                                        self.entityId,
                                                        self.entityType,
                                                        self.formData.title,
                                                        self.formData.location,
                                                        self.$.timeComp.startTime,
                                                        self.$.timeComp.selectedStart,
                                                        self.$.timeComp.endTime,
                                                        self.$.timeComp.selectedEnd,
                                                        self.formData.description,
                                                        self.priority,
                                                        result.toString(),
                                                        self.loggedInUsername
                                                ).then(function (response) {
                                                    self.enableButton();
                                                    self.closeModal();
                                                    return response;
                                                }).catch(function (error) {
                                                    error = error.responseJSON && error.responseJSON.message || "Unable to Proceed.";
                                                    self.$.errorSummary.setErrors(error);
                                                    self.enableButton();
                                                });
                                            }
                                        })//ensure end
                                    }//isValid end
                                    else {
                                        self.enableButton();
                                    }
                                });//uicontainer end
                            }
                            else {
                                self.enableButton();
                            }
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            closeModal:function() {
                var self = this;
                self.publish("close-modal", {
                    id:'createEvent'
                });
            },

            disableButton: function () {
                this.querySelector('#createEventButton').setAttribute('disabled', true);
            },

            enableButton: function () {
                this.querySelector('#createEventButton').removeAttribute('disabled');
            }
        });
    </script>
</dom-module>