<dom-module id="docitt-loan-status-colors">
    <template>
        <style>
            .status-review .status-color-bg {
                background: var(--status-review-bg-color);
            }

            .status-processing .status-color-bg {
                background: var(--status-processing-bg-color);
            }

            .status-underwriting .status-color-bg {
                background: var(--status-underwriting-bg-color);
            }

            .status-documents .status-color-bg {
                background: var(--status-documents-bg-color);
            }

            .status-funding .status-color-bg {
                background: var(--status-funding-bg-color);
            }

            .status-suspended .status-color-bg {
                background: var(--status-suspended-bg-color);
            }

            .status-suspended .status-color-text {
                color: var(--status-suspended-text-color);
            }
        </style>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "docitt-loan-status-colors"
        })
    </script>
</dom-module>