<link rel="import" href="status-colors.html">
<dom-module id="status-progress-bar">
    <style include="docitt-loan-status-colors"></style>
    <template>
        <div class$="progress [[ computeStatusClass(status) ]]">
            <template is="dom-repeat" items="[[ progressBarArray ]]">
                <div class$="[[ item.class ]] progress-bar" style$="width: [[ computeSectionWidth(totalSections) ]]%">
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "status-progress-bar",

            properties: {
                progressBarArray: {
                    type: Array,
                    value: function () { return []; }
                },

                status: {
                    type: String,
                    observer: "buildProgressBarArray"
                },

                statuses: {
                    type: Object,
                    value: {
                        review: 0,
                        processing: 1,
                        underwriting: 2,
                        documents: 3,
                        funding: 4,
                        suspended: 2
                    }
                },

                totalSections: {
                    type: Number,
                    value: 5
                }
            },

            buildProgressBarArray: function (status) {
                if (!status) return;
                
                var self = this;
                var statusIndex = self.statuses[status.toLowerCase()];

                self.set("progressBarArray", []);

                if (statusIndex === undefined) return;

                for (var i = 0; i <= self.totalSections - 1; i++) {
                    var className = "";
                    if (i <= statusIndex) className = "status-color-bg";
                    self.push("progressBarArray", { class: className });
                }
            },

            computeSectionWidth: function (totalSections) {
                return 100 / totalSections;
            },

            computeStatusClass: function (status) {
                if (!status) return "";

                status = status.toLowerCase();
                return "status-" + status;
            },
        });
    </script>
</dom-module>