<html-import html-href="ui-elements/forms/activity-form.html"></html-import>
<html-import html-href="ui-elements/inputs/tag-input.html"></html-import>
<html-import html-href="ui-elements/custom-modal.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module is="inbox-header">
    <template>
        <style>
            .search {
                width: 320px;
            }
            .search-wrapper {
                display: inline;
                position: absolute;
                right: 42px;
            }
            .header-row {
                margin-top: 20px;
                height: 50px;
            }
            .inline-block {
                display: inline-block;
            }
            .well {
                margin-top: 30px;
                text-align: center;
            }
        </style>
        <div class="mail-box-header">
            <h2>Inbox (<span>{{unreadCount}}</span>)</h2>
            <div class="header-row">
                <div class="inline-block">
                    <span class="btn btn-xs btn-default" on-click="clearTags">Clear Tags</span>
                    <template is="dom-repeat" items="{{availableTags}}" as="tag">
                        <span class="btn btn-xs btn-default tag" on-click="toggleTag">{{tag}}</span>
                    </template>
                </div>
                <div class="search-wrapper">
                    <div class="input-group search">
                        <input class="form-control" type="text" value="{{searchTerm::input}}" placeholder="Search Inbox">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
            <div>
                <div class="inline-block button-group">
                    <button class$="{{btnMedia()}}" on-click="markAsUnread"><i class="fa fa-eye"></i>  Mark as Unread</button>
                    <button class$="{{btnMedia()}}" on-click="archiveMessages"><i class="fa fa-archive"></i>  Archive</button>
                    <button class$="{{btnMedia()}}" on-click="pinMessages"><i class="fa fa-thumb-tack"></i>  Pin</button>
                    <button class$="{{btnMedia()}}" on-click="unpinMessages"><i class="fa fa-thumb-tack fa-rotate-180"></i>  Unpin</button>
                </div>
                <div class="inline-block pull-right pagination-control">
                    <div class="btn-group">
                        <button class$="{{decreasePageClass(pageSelect, filteredLength)}}" on-click="decreasePage"><i class="fa fa-arrow-left"></i></button>
                        <button class$="{{increasePageClass(pageSelect, filteredLength)}}" on-click="increasePage"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="well" hidden$="{{hasMessage(messageList)}}">
                No messages
            </div>
        </div>
        
        <event-hub id="hub"></event-hub>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "inbox-header",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                if(this.configuration.services.inbox == undefined){
                    throw new Error("inbox service not found");
                }
                self.modalInput = "";
                
                return function(){
                    
                }
            },
            properties: {
                searchTerm: {
                    type: String,
                    notify: true
                },
                selectedTags: {
                    type: Object,
                    notify: true
                },
                pageSelect: {
                    type: Number,
                    notify: true
                },
                availableTags: {
                    type: Array,
                    notify: true
                },
                messageList: {
                    type: Array,
                    notify: true
                },
                selectedItems: {
                    type: Array,
                    notify: true
                },
                displayedMessages: {
                    type: Array,
                    notify: true
                },
                filteredLength: {
                    type: Number,
                    notify: true
                }
            },
            observers: [
                'generateUnreadCount(messageList.*)'
            ],
            modifySelectedItems: function(endpoint, property, bool, callback) {
                for (var i = 0; i < this.selectedItems.length; i++) {
                    var model = this.selectedItems[i];
                    var indexInList = this.messageList.indexOf(model);
                    this.set('messageList.' + indexInList + "." + property, bool)
                    this.$.http.post('/' + model.id + '/' + endpoint, {}, this.configuration.services.inbox, callback);
                }
            },
            markAsUnread: function() {
                var self = this;
                self.modifySelectedItems('unread', 'isRead', false, function() {
                    self.$.hub.publish('readMessages:change');
                });
            },
            archiveMessages: function(e) {
                this.modifySelectedItems('archive', 'isArchived', true, this.refresh.bind(this));
            },
            pinMessages: function() {
                this.modifySelectedItems('pin', 'isPinned', true);
            },
            unpinMessages: function() {
                this.modifySelectedItems('unpin', 'isPinned', false);
            },
            generateUnreadCount: function(messagesChange) {
                var count = 0;
                for (var i = 0; i < this.messageList.length; i++) {
                    var message = this.messageList[i];
                    if (!message.isRead) {
                        count += 1;
                    }
                }
                this.unreadCount = count;
            },
            increasePage: function() {
                var max = (this.filteredLength / this.pageLength) - 1;
                if (this.pageSelect < max) {
                    this.pageSelect += 1;
                }
            },
            decreasePage: function() {
                if (this.pageSelect > 0) {
                    this.pageSelect -= 1;
                }
            },
            increasePageClass: function() {
                var max = (this.filteredLength / this.pageLength) - 1;
                return this.pageSelect < max ? "btn btn-white btn-sm" : "btn btn-white btn-sm disabled"
            },
            decreasePageClass: function() {
                return this.pageSelect > 0 ? "btn btn-white btn-sm" : "btn btn-white btn-sm disabled"
            },
            clearTags: function(e) {
                this.set('selectedTags', {});
                $(".tag", this).each(function() {
                    $(this).removeClass("btn-primary");
                    $(this).addClass("btn-default");
                })
            },
            toggleTag: function(e) {
                if ($(e.target).hasClass("btn-default")) {
                    // Select
                    $(e.target).removeClass("btn-default");
                    $(e.target).addClass("btn-primary");
                    this.set('selectedTags.' + e.target.innerHTML, true);
                } else {
                    // Deselect
                    $(e.target).removeClass("btn-primary");
                    $(e.target).addClass("btn-default");
                    this.set('selectedTags.' + e.target.innerHTML, false);
                    delete this.selectedTags[e.target.innerHTML];
                }
            },
            hasMessage: function(messageList) {
                return messageList.length > 0;
            },
            btnMedia: function() {
                return window.matchMedia("(max-width: 360px)").matches ? "btn btn-white btn-xs" : "btn btn-white btn-sm"; 
            },
            refresh: function () {
                this.fire("inbox-refresh");
            }
        })
    </script>
</dom-module>