<html-import html-href="services/format.html"></html-import>
<dom-module is="inbox-body">
    <style>
        .checkbox-inline {
            cursor: default;
        }
        td {
            text-align: left;
        }
        table.table {
            margin-bottom: 0;
        }
        tr td:not(:first-of-type) {
            cursor: pointer;
        }
    </style>
    <template>
        <div class="mail-box">
            <table class="table table-hover table-mail">
                <thead>
                     <tr >
                            <th class="col-lg-1" align="center" >
                                &nbsp;                                
                            </th>
                            <th class="col-lg-4">Date</th>
                            <th>Subject</th>
                            <th>From</th>
                            <th>
                                
                                    Tags
                                
                            </th>
                           
                        </tr>
                </thead>
                <tbody>
                    <template id="test" is="dom-repeat" items="{{sortedMessages}}" as="message">
                        <tr class$="{{isRead(message.isRead)}}" on-click="redirect">
                            <td class="col-lg-1" align="center" on-click="toggleSelection">
                                <div class="checkbox checkbox-primary checkbox-inline">
                                    <input type="checkbox">
                                    <label></label>
                                </div>
                            </td>
                            <td class="col-lg-4">{{formatDate(message.date)}}</td>
                            <td>{{message.subject}}</td>
                            <td>{{message.from}}</td>
                            <td>
                                <template is="dom-repeat" items="{{message.tags}}" as="tag">
                                    <span class$="{{tagIsSelected(selectedTags, tag)}}">{{tag}}</span>
                                </template>
                            </td>
                            <td><i hidden$="{{!message.isPinned}}" class="fa fa-thumb-tack"></i></td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <alloy-format id="format"></alloy-format>
    </template>
    <script>
        Polymer({
            is: "inbox-body",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.displayedMessages = [];
                
                return function(){
                    
                }
            },
            properties: {
                selectedItems: {
                    type: Array,
                    notify: true,
                    value: function() {
                        return [];
                    }
                },
                searchTerm: {
                    type: String,
                    notify: true,
                    value: ""
                },
                selectedTags: {
                    type: Object,
                    notify: true
                },
                displayedMessages: {
                    type: Array,
                    notify: true
                }
            },
            isRead: function(isRead) {
                return isRead ? "read" : "unread";
            },
            formatDate: function(date) {
                return moment(date).format("MM/DD/YYYY hh:mm:ss a");
            },
            toggleSelection: function(e) {
                var model = e.model.message;
                if (e.target.nodeName !== "INPUT") {
                    if ($(e.target).parent().find('input').prop('checked') === true) {
                        $(e.target).parent().find('input').prop('checked', false);
                    } else {
                        $(e.target).parent().find('input').prop('checked', true);
                    }
                }
                var isChecked = $(e.target).parent().find('input').prop('checked');
                if (isChecked) {
                    this.push('selectedItems', model);
                } else {
                    var modelIndex = this.selectedItems.indexOf(model);
                    this.splice('selectedItems', modelIndex, 1);
                }
                e.stopPropagation();
            },
            tagIsSelected: function(selectedTags, tag) {               
                return selectedTags[tag] ? "btn btn-xs btn-primary tag"
                    : "btn btn-xs btn-default tag"
            },
            redirect: function(e) {
                if (e.target.nodeName !== "LABEL" && e.target.nodeName !== "INPUT") {
                    var id = e.model.message.id;
                    window.location.hash = "#/message/id:" + id;
                }
            },
            observers: ['sortMessages(displayedMessages)'],
            sortMessages: function(displayedMessages) {
                this.sortedMessages = displayedMessages.slice();
                this.sortedMessages.sort(function(a, b) {
                  if (a.isPinned && !b.isPinned) {
                      return -1
                  }
                  if (!a.isPinned && b.isPinned) {
                      return 1
                  }
                  return 0;
                });
            }
        })
    </script>
</dom-module>