<html-import html-href="inbox/inbox-body.html"></html-import>
<html-import html-href="inbox/inbox-header.html"></html-import>
<dom-module is="inbox-view">
    <template>
        <div class="wrapper wrapper-content">
            <inbox-header message-list="{{displayedMessages}}" selected-tags="{{selectedTags}}" available-tags="{{tags}}" page-select="{{pages}}"
                search-term="{{searchTerm}}" selected-items="{{selectedMessages}}" displayed-messages="{{displayedMessages}}"
                filtered-length="{{filteredLength}}" page-length="{{pageLength}}">
            </inbox-header>
            <template is="dom-if" if="{{hasMessages}}">
                <inbox-body selected-tags="{{selectedTags}}" search-term="{{searchTerm}}" selected-items="{{selectedMessages}}"
                    displayed-messages="{{displayedMessages}}">
                </inbox-body>
            </template>
        </div>

        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "inbox-view",

            properties: {
                messages: Array,
                hasMessages: {
                    type:Boolean,
                    value:true
                }
            },

            listeners: {
                "inbox-refresh": "refresh"
            },
            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function () {
                var self = this;
                if(this.configuration.services.inbox == undefined){
                    throw new Error("inbox service not found");
                }
                return function () {
                    self.pageLength = 10;

                    self.messages = self.messages || [];
                    self.pages = 0;
                    self.tags = [];
                    self.selectedTags = {};
                    self.searchTerm = "";
                    self.selectedMessages = [];
                    self.displayedMessages = [];

                    //Microtimer because inbox body will parse table before table can be generated
                    self.async(function () {
                        self.$.http.get('/', this.configuration.services.inbox, function (data) {
                            // Filter out archived messages
                            self.set('messages', data.filter(function (message) {
                                return !message.isArchived;
                            }));

                            // Generate list of unique tags found in messages
                            for (var i = 0; i < self.messages.length; i++) {
                                var message = self.messages[i];
                                if (message.tags != null) {
                                    for (var j = 0; j < message.tags.length; j++) {
                                        var tag = message.tags[j];
                                        if (self.tags.indexOf(tag) === -1) {
                                            self.push('tags', tag);
                                        }
                                    }
                                }
                            }
                        },
                            function (error) {
                                console.log(error);
                            })
                    }, 1)
                }
            },
            observers: [
                'parseMessages(messages.*, searchTerm, selectedTags.*, pages)',
                'generateTagList(messages.*)'
            ],
            generateTagList: function (changes) {
                if (changes.path.slice(-4) === "tags") {
                    for (var i = 0; i < changes.value.length; i++) {
                        var tag = changes.value[i];
                        if (tag != null) {
                            if (this.tags.indexOf(tag) === -1) {
                                this.push('tags', tag);
                            }
                        }
                    }
                }
            },
            parseMessages: function (messages, search, filters, pages) {
                // TODO: Find a way to not require a refresh
                // Refresh Display
                this.set('displayedMessages', []);
                // Render Display after refresh
                this.async(function () {
                    var filteredByTags = this.messages.filter(function (message) {

                        if (Object.keys(this.selectedTags).length === 0) { return true };
                        for (var tag in this.selectedTags) {
                            var showMessage = false;
                            if (message.tags != null) {
                                // if the selected tag is found show the inbox message in the results
                                showMessage = message.tags.indexOf(tag) !== -1;
                            }
                            // if message needs to be displayed, return the message
                            if (showMessage)
                                return showMessage;
                        }
                    }.bind(this));
                    var filteredBySearch = filteredByTags.filter(function (message) {
                        // hard-coded columns for filter which needs to be excluded from filter
                        var excludedfilterColumns = ["id"];
                        if (this.searchTerm === "") { return true }
                        var tempStr = "";
                        for (var prop in message) {
                            if (excludedfilterColumns.indexOf(prop) == -1) // if prop is not included in excluded list, then proceed
                            {
                                if (prop == "date") // convert the date for proper filtration
                                    tempStr += moment(message[prop]).format("MM/DD/YYYY hh:mm:ss a");
                                else
                                    tempStr += message[prop];
                            }
                        }
                        return tempStr.toLowerCase().indexOf(this.searchTerm.toLowerCase()) !== -1;
                    }.bind(this));
                    this.set('filteredLength', filteredBySearch.length);
                    var display = filteredBySearch.slice(this.pages * this.pageLength, (this.pages * this.pageLength) + this.pageLength)
                    this.set('displayedMessages', display);
                    this.set('hasMessages', display.length > 0);
                    this.set("selectedMessages", []);
                }.bind(this), 1)
            },
            refresh: function () {
                this.init()();
            }
        })
    </script>
</dom-module>