<html-import html-href="ui-elements/custom-modal.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<dom-module id="activity-drop-zone">
    <template>
    <ui-error-summary id="errorSummary"></ui-error-summary>
        <div class$="{{ getPreviewClass(totalQueuedFiles) }}" id="preview-container">
            <div hidden id="previewTemplate" class="preview-content">
                <span class="df df-close" data-dz-remove></span>
                <div class="preview-body"><span class="preview"><img data-dz-thumbnail/></span></div>
                <div class="preview-footer">
                        <p class="file-name" data-dz-name></p>
                    </div>
            </div>
            <div hidden$="{{ showHideUpload(totalQueuedFiles) }}" class$="{{ getUploadClass(totalQueuedFiles) }}">
                <form id="docu-drop" action="{{ submitTarget }}">
                    <content></content>
                </form>
            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "activity-drop-zone",

            behaviors: [ensureDependenciesBehavior, eventHub],

            properties: {
                submitTarget: {type: String, notify: false},
                metadata: Object,
                payload : Object,
                fileReference: {type: Object, notify: true},
                autoProcess: {type: Boolean, value: false},
                /** * Max number of concurrent uploads */
                parallelUploads: Number,
                method: String,
                /** * Name of file selected by user to upload */
                fileName: String,
                /** * Number of files dropzone will accept */
                maxFiles: Number,
                clickable: {type: Boolean, value: false},
                replaceFile: {
                    type: Boolean,
                    value: false
                },
                permittedFileTypes: {
                    type: String,
                    value: ".pdf,.jpg,.doc,.docx,.jpeg,.jpe"
                },
                submitBaseUrl: {
                    type: String,
                    value: ""
                },
                totalQueuedFiles: {
                    type: Number,
                    value: 0
                }
            },
            
            ready: function () {
                var self = this;

                if(!self.submitBaseUrl){
                    self.submitBaseUrl = this.configuration.services.documentManager;
                }
                
                if(self.submitBaseUrl == undefined){
                    throw new Error("service not found");
                }

                if (window.jQuery && window.jQuery.fn.dropzone) {
                    self.init()();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },

            init: function () {
                var self = this;

                self.filesAdded = false;
                //TODO: Expose itemData as component API
                self.itemData = {
                    tags: []
                };

                return function () {
                    self.async(function () {
                        $("input[type=submit]").on("click", function (e) {
                            e.preventDefault();
                        });

                        self.addEventListener("edit-file", function (e) {
                            var queuedFiles = self.dropzone[0].dropzone.getQueuedFiles();
                            var file = queuedFiles[e.detail.fileIndex]
                            // Add "tag" parameter to drop-zone component API that accepts a Boolean value
                            // It will either enable or disable showing tags on a file's preview element
                            file.data.tags = e.detail.tags;
                            $(file.previewElement).find(".tag").remove();
                            for (var i = 0; i < e.detail.tags.length; i++) {
                                $(file.previewElement).append('<span class="label label-primary label-xs tag">' + e.detail.tags[i] + '</span>')
                            }

                        });
                        $(self.$["docu-drop"]).on("dragend drop", function (e) {
                            $(this).removeClass("dragover");
                        });

                        Dropzone.autoDiscover = false;

                        self.initDropzone();
                    }, 1)
                }
            },

            /**
             * Setup options for dropzone
             */
            initDropzone: function () {
                var self = this;

                var token = self.$.session.get("token");
                var userIp = self.$.session.get("ip-address");
                // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
                var previewNode = this.querySelector("#previewTemplate");
                previewNode.id = "";
                previewNode.removeAttribute("hidden");
                var previewTemplate = previewNode.parentNode.innerHTML;
                previewNode.parentNode.removeChild(previewNode);

                var dropzoneOptions = {
                    init: function () {

                        this.on("addedfile", function (file) {

                            self.$.errorSummary.clearErrors();
                            self.filesAdded = true;
                            self.selectedFileName = file.name;
                            file.data = $.extend(true, {}, self.itemData);

                            switch (file.type) {
                                case 'application/pdf':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/pdf-icon.png");
                                    break;
                                case 'application/kset':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/vnd.ms-excel':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/kswps':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                                case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                                case 'application/msword':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                            }
                            var previewTemplate = file.previewTemplate;

                            var fileName = previewTemplate.querySelector("p").innerHTML;
                            var split = fileName.split('.');
                            var filename = split[0];
                            var extension = split[1];

                            if (filename.length > 10) {
                                filename = filename.substring(0, 10);
                            }
                            fileName = filename + '.' + extension;
                            previewTemplate.querySelector("p").innerHTML = fileName;
                            file.previewTemplate = previewTemplate;

                            self.set("totalQueuedFiles", this.getQueuedFiles().length + 1);
                            self.$.hub.publish("files:inQueue", {
                                type: "manual-file-added",
                                totalQueuedCount: self.totalQueuedFiles
                            });

                        });

                        this.on("removedfile", function (file) {
                            if (this.getQueuedFiles().length === 0) {
                                self.filesAdded = false;
                            }

                            self.set("totalQueuedFiles", this.getQueuedFiles().length);
                            self.$.hub.publish("files:inQueue", {
                                type: "manual-file-removed",
                                totalQueuedCount: self.totalQueuedFiles
                            });
                        });

                        this.on("sending", function (file, xhr, formData) {
                            if (self.payload)
                            {
                             formData.append("metadata", self.payload.metadata); 
                            }
                            else if (self.metadata != null) {
                                self.metadata.createdBy = self.currentUser;
                                formData.append("metadata", JSON.stringify(self.metadata));
                                formData.append("explanation", self.explanation || "");
                            }
                            formData.append("files", file);
                        });

                        this.on("dragenter", function () {
                            $(self.$["docu-drop"]).addClass("dragover");
                        });

                        this.on("maxfilesexceeded", function (file) {
                            //this.removeAllFiles();
                            //this.addFile(file);
                        });

                        this.on("success", function (file) {
                            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                self.async(function () {
                                    self.removeAllDocuments();
                                    self.$.hub.publish("document:upload", {
                                        enableButton: true,
                                        status: "files-uploaded"
                                    });
                                }, 500);
                            }
                        });

                        this.on("complete", function (file) {
                            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                /*self.$.hub.publish("document:upload", {
                                 enableButton: true,
                                 status: "files-uploaded"
                                 });*/
                            }
                        });

                        this.on('error', function (file, response) {
                            var error = "Unable to upload document.";
                            if (response != null) {
                                if (typeof response === 'string' || response instanceof String) {
                                    this.removeFile(file);
                                    error = response;
                                }
                                else if (response.message != null) {
                                    error = response = response.message;

                                }
                            }
                            // raising event for button to be visible again
                            self.$.hub.publish("uploadButton:enable", {
                                enableButton: true
                            });
                            self.$.errorSummary.setErrors(error);
                            //this.removeAllFiles();
                        });
                    },
                    url: [self.submitBaseUrl, self.submitTarget].join("/"),
                    clickable: self.clickable,
                    autoProcessQueue: self.autoProcess == null ? true : self.autoProcess,
                    method: "post",
                    parallelUploads: self.parallelUploads == null ? 5 : self.parallelUploads,
                    uploadMultiple: true,
                    paramName: "files",
                    addRemoveLinks: false,
                    maxFiles: self.maxFiles,
                    maxFilesize: 5,
                    thumbnailWidth: 128,
                    thumbnailHeight: 128,
                    previewTemplate: previewTemplate,
                    dictInvalidFileType: "Allowed files type are " + self.permittedFileTypes,
                    dictMaxFilesExceeded : "You can only upload " + self.maxFiles + " files",
                    dictFileTooBig: "File is too big ({{filesize}} MB). Max filesize: {{maxFilesize}} MB.",
                    previewsContainer: "#preview-container",
                    headers: {
                        "Authorization": "Bearer " + token,
                        "X-Client-IP": userIp
                    },
                    acceptedFiles: self.permittedFileTypes
                };

                self.dropzone = $(self.$["docu-drop"]).dropzone(dropzoneOptions);
                self.dropzone.addClass("dropzone");
            },

            processQueue: function (payload) {
                if (payload)
                {
                    this.set("payload", payload);
                    if(this.dropzone[0].dropzone.options)
                        this.dropzone[0].dropzone.options.url = payload.targetUrl;
                }
                this.dropzone[0].dropzone.processQueue();
            },

            removeAllDocuments: function () {
                this.dropzone[0].dropzone.removeAllFiles();
            },

            getUploadClass: function (totalQueuedFiles) {
                if (totalQueuedFiles % 2 === 0)
                    return "col-lg-12";
                else
                    return "col-lg-6 col-md-6 col-sm-6 col-xs-12 col6";
            },

            getPreviewClass: function (totalQueuedFiles) {
                if (totalQueuedFiles === this.maxFiles) {
                    return "files"
                }
                else {
                    if (totalQueuedFiles % 2 === 0)
                        return "files minheight";
                    else
                        return "files";
                }

            },

            dynamicSpacer: function (totalQueuedFiles) {
                if (totalQueuedFiles % 2 === 0)
                    return false;
                else
                    return true;
            },

            showHideUpload: function (totalQueuedFiles) {
                if (totalQueuedFiles === this.maxFiles)
                    return true;
                else
                    return false;
            }
        })
    </script>
</dom-module>