<link rel="import" href="../styles/full-calendar.html">
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/calendar-service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/ui-input-checkbox.html"></html-import>
<dom-module id="borrower-calendar">
    <template>
        <style include="full-calendar"></style>
        <div id="modalBody"
            class="modal-body clearfix">
            <ul id="calContent">
                <template is="dom-repeat"
                    items="{{ filteredList }}">
                    <li class="clearfix">
                        <ui-input-checkbox id="{{ item.id }}"></ui-input-checkbox>
                        <a class$="{{ setClass(item.priority) }}" title="{{ item.priority }}"></a><span title="{{ item.eventDate }}">{{ item.description }}</span>
                    </li>
                </template>
            </ul>
        </div>
        <div class="modal-footer">
            <div class="footerTitle">Add event to your calendar</div>
            <div class="calpopup-btns">
                <button type="button"
                    class="btn btn-outline-primary"
                    on-click="getIndex">iCalendar</button>
                <button class="btn btn-outline-primary"
                    on-click="getIndex">Google</button>
                <button class="btn btn-outline-primary"
                    on-click="getIndex">Outlook</button>
            </div>
        </div>
        <calendar-service id="calendarService"></calendar-service>
        <identity-service id="identityService"></identity-service>
        <team-service id="teamService"></team-service>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: 'borrower-calendar',

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                filteredList: {
                    type: Array,
                    value: function () { return [] }
                },
                email: {
                    value: "",
                    type: String
                }
            },

            attached: function () {
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                var self = this;
                $('#calContent').slimScroll({
                    size: '5px',
                    height: '210px',
                    distance: '5px',
                    alwaysVisible: true,
                    opacity: 1
                });
                $(document).on('click', '.viewEvent .close', function (event) {
                    self.closeEvent();
                });
                this.getUserDetails();
            },

            detached: function () {
                $(document).off('click', '.viewEvent .close');
            },

            getUserDetails: function () {
                var self = this;

                return self.ensure("identityService")
                    .then(function (identityService) {
                        return identityService.getCurrentUser();
                    }).then(function (response) {
                        self.set('email', response.email);
                    })
            },

            /* to get the selected checkbox ids*/
            getIndex: function (e) {
                var self = this;
                var entityId = this.entityId;
                var itemList = [];

                self.querySelectorAll("#calContent input[type='checkbox']:checked").forEach(function (items) {
                    var value = items.getAttribute('id');
                    itemList.push(value);
                })
                var emailId = self.email;

                if (itemList.length < 0) return
                self.ensure("calendarService").then(function (calendar) {
                    calendar.sendSelectedLists(self.entityId, itemList, self.email, 'REQUEST')
                        .then(function (response) {
                            self.closeEvent();
                            return response;
                        });

                });

            },

            setClass: function (value) {
                var self = this;
                var classes = ["priority"];
                if (value === 'High') {
                    classes.push("priorityHigh");
                } else if (value === 'Low') {
                    classes.push("priorityLow");
                } else if (value === 'Information') {
                    classes.push("priorityInfo");
                } else if (value === 'Medium') {
                    classes.push("priorityAvg");
                }
                return classes.join(" ");
            },

            closeEvent: function () {
                var self = this;
                self.publish("close-modal", {
                    id: 'borrower'
                });
            }
        });
    </script>
</dom-module>