<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<dom-module id="component-loader">
    <template>
        <h3 class="text-center" hidden$="[[ !isLoading ]]">Loading...</h3>
        <div id="componentHolder"></div>
        <alloy-config id="config" alloy-configuration="{{alloyConfiguration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
        <event-hub id="hub">
            <!-- Binding subscription dynamically because we are using dynamic name of event-->
        </event-hub>
    </template>
    <!-- -->
    <script>
        Polymer({
            is:'component-loader',
            properties: {
                /**
                 * As this component loader is going to used for multiple place on same screen,
                 * We have to dsitinguish events with prefix using componentLoaderId.
                 */
                componentLoaderId:String,
                
                /**
                 * Default component to be loaded on this loader. 
                 * If there is no component passed through event or current component is removed then default component
                 * will be displayed.
                 * Properties are: src, componentProperties
                 */
                defaultComponent:Object,

                /**
                 * Flag for component loading in progress
                 */
                isLoading: {
                    type: Boolean,
                    value: false
                },

                didLoad: {
                    type: Boolean,
                    value: false
                },

                listnerAttached:{
                    type: Boolean,
                    value: false
                },

                alloyConfiguration: Object,

                tenantConfig: Object
            },

            /*computed event name as per componentLoaderId*/
            generateEventName: function(eventType){
                return this.componentLoaderId+"-component:"+eventType;
            },

            /*Handler for dynamic loading event*/
            handleDynamicLoading: function(payload){
                    this.remove();
                    this.load(payload);
            },

            /**
             * Event handler for closing/removing component
             * It will then replace default component until it is specifically passed doNotLoadDefault as true in payload
             */
            handleClose: function(payload){
                if(this.didLoad){
                    this.remove();
                    if(!payload || !payload.doNotLoadDefault){
                        this.load();
                    }
                }
            },

            observers: [
                "requiredPropertiesChanged(alloyConfiguration, tenantConfig, defaultComponent)",
            ],

            requiredPropertiesChanged: function (alloyConfiguration, tenantConfig, defaultComponent) {
                if (this.hasPendingLoad!=false) {
                    this.remove();
                    this.load();
                    this.hasPendingLoad = false;
                }
            },

            load: function (componentToLoad) {
                var self = this;
                
                //
                componentToLoad = componentToLoad||self.defaultComponent;

                var configuration = this.alloyConfiguration || this.$.config && this.$.config.alloyConfiguration;
                var tenantConfig = this.tenantConfig || this.$.tenant && this.$.tenant.alloyTenant;

                // If we are missing important props wait set a flag and leave
                if (!configuration || !tenantConfig || !componentToLoad.src || !componentToLoad.componentProperties) {
                    this.hasPendingLoad = true;
                    return;
                }

                var base = configuration.base;
                var tenant = tenantConfig.name;
                var href = base + tenant + "/" + componentToLoad.src;

                self.isLoading = true;
                self.importHref(href, function (e) {
                        self.isLoading = false;
                        self.didLoad = true;

                        // Get the element tag
                        var elementName = Polymer
                            .dom(e.target.import.body)
                            .querySelector("dom-module")
                            .getAttribute("id");

                        // create the element with the provided parameters
                        var componentElement = document.createElement(elementName);

                        //Attach component loader id
                        componentElement['componentLoaderId'] = self.componentLoaderId;

                        if (typeof componentToLoad.componentProperties === "object") {
                            // extend componentElement with properties object
                            $.extend(componentElement, componentToLoad.componentProperties);
                        }

                        // So pretty!
                        componentElement.classList.add("animated", "fadeIn");

                        // append created element
                        self.$.componentHolder.appendChild(componentElement);
                        self.$.hub.publish(self.componentLoaderId+"-component.load.succeeded");
                    },
                    function (e) {
                        self.isLoading = false;
                        self.$.hub.publish(self.componentLoaderId+"-component.load.failed")
                    });
            },

            remove: function () {
                Polymer
                    .dom(this.$.componentHolder)
                    .children.forEach(function (child) {
                    Polymer.dom(this.$.componentHolder).removeChild(child)
                }, this);
                this.didLoad = false;
            },

            attached: function(){
                //Attach event-listners
                this.addEventListners();
            },

            addEventListners: function(){
                //Check if listner is already attached or not
                //Note: Sometime, attached event fires two times. This is because of micro-app
                if(!this.listnerAttached){
                    //Mark listnerAttached as true
                    this.listnerAttached = true;
                    //Event for dynamic loading of component
                    var  _loadEventSubscription = "<event-subscription event="+this.generateEventName('load.dynamic')+" handler=handleDynamicLoading>";

                    //Event for close/removing component
                    var _closeEventSubscription = "<event-subscription event="+this.generateEventName('close')+" handler=handleClose>";

                    //Attache subscriptions
                    this.$.hub.insertAdjacentHTML('beforeend',_loadEventSubscription);
                    this.$.hub.insertAdjacentHTML('beforeend',_closeEventSubscription);
                }
            }
        });
    </script>
</dom-module>