<html-import html-href="ui-elements/custom-modal.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<dom-module id="document-drop-zone">
    <style>
        .files {
            position: relative;
        }
        @media only screen and (max-width:800px){
            :host::content .tab-content .files .col-md-6,
            :host::content .tab-content .files .col-sm-6,
            :host::content .tab-content .files .col-lg-12{width:100% !important;}
        }
    </style>
    <template>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <div class$="{{ getPreviewClass(totalQueuedFiles) }}" id="preview-container">
          <div id="previewTemplate" class="preview-content">
              <span class="df df-close" data-dz-remove></span>
              <div class="preview-body"><span class="preview"><img data-dz-thumbnail/></div>
              <div class="preview-footer">
                        <p class="file-name" data-dz-name></p>
                    </div>
          </div>
            <div hidden$="{{ showHideUpload(totalQueuedFiles) }}" class$="{{ getUploadClass(totalQueuedFiles) }}">
                <form id="docu-drop"
                      action="{{ submitTarget }}">
                    <content></content>
                </form>
            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "document-drop-zone",

            behaviors: [ensureDependenciesBehavior, eventHub],

            properties: {
                submitTarget: { type: String, notify: false },
                metadata: Object,
                payload: Array,
                fileReference: { type: Object, notify: true },
                autoProcess: { type: Boolean, value: false },
                /** * Max number of concurrent uploads */
                parellelUploads: Number,
                method: String,
                /** * Name of file selected by user to upload */
                fileName: String,
                /** * Number of files dropzone will accept */
                maxFiles: Number,
                clickable: { type: Boolean, value: false },
                replaceFile: {
                    type: Boolean,
                    value: false
                },
                permittedFileTypes: {
                    type: String,
                    value: ".pdf,.jpg,.doc,.docx,.jpeg,.jpe"
                },
                submitBaseUrl: {
                    type: String,
                    value: null
                },
                totalQueuedFiles: {
                    type: Number,
                    value: 0
                }
            },

            ready: function () {
                if(this.configuration.services.documentManager == undefined){
                    throw new Error("service not found");
                }
                var self = this; 
                if(!self.submitBaseUrl)
                    self.submitBaseUrl = this.configuration.services.documentManager;

                if (window.jQuery && window.jQuery.fn.dropzone) {
                    self.init()();
                }

                else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },

            init: function () {
                var self = this;

                self.filesAdded = false;
                //TODO: Expose itemData as component API
                self.itemData = {
                    tags: []
                };

                return function () {
                    self.async(function () {
                        $("input[type=submit]").on("click", function (e) {
                            e.preventDefault();
                        });

                        $(self.$["docu-drop"]).on("dragend drop", function (e) {
                            $(this).removeClass("dragover");
                        });

                        Dropzone.autoDiscover = false;

                        self.initDropzone();
                    }, 1)
                }
            },

            /**
             * Setup options for dropzone
             */
            initDropzone: function () {
                var self = this;
                var token = self.$.session.get("token");
                // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
                var previewNode = this.querySelector("#previewTemplate");
                previewNode.id = "";
                var previewTemplate = previewNode.parentNode.innerHTML;
                previewNode.parentNode.removeChild(previewNode);

                var dropzoneOptions = {
                    init: function () {

                        this.on("addedfile", function (file) {
                            self.$.errorSummary.clearErrors();
                            self.filesAdded = true;
                            self.selectedFileName = file.name;
                            file.data = $.extend(true, {}, self.itemData);

                            /*if (ext == "pdf") {
                             //$(file.previewElement).find(".dz-image img").attr("src", "images/pdf-icon.png");
                             this.emit("thumbnail", file, "docitt/images/pdf-icon.png");
                             }*/

                            switch (file.type) {
                                case 'application/pdf':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/pdf-icon.png");
                                    break;
                                case 'application/kset':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/vnd.ms-excel':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/excel-xls-icon.png");
                                    break;
                                case 'application/kswps':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                                case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                                case 'application/msword':
                                    this.emit("thumbnail", file, "http://icons.iconarchive.com/icons/graphicloads/filetype/128/word-doc-icon.png");
                                    break;
                            }
                            var previewTemplate = file.previewTemplate;

                            var fileName = previewTemplate.querySelector("p").innerHTML;
                            var split = fileName.split('.');
                            var filename = split[0];
                            var extension = split[1];

                            if (filename.length > 10) {
                                filename = filename.substring(0, 10);
                            }
                            fileName = filename + '.' + extension;
                            previewTemplate.querySelector("p").innerHTML = fileName;
                            file.previewTemplate = previewTemplate;
                            self.set("totalQueuedFiles", this.getQueuedFiles().length + 1);
                            self.$.hub.publish("files:inQueue", {
                                type: "manual-file-added",
                                totalQueuedCount: self.totalQueuedFiles
                            });
                        });

                        this.on("removedfile", function (file) {
                            if (this.getQueuedFiles().length === 0) {
                                self.filesAdded = false;
                            }

                            self.set("totalQueuedFiles", this.getQueuedFiles().length);
                            self.$.hub.publish("files:inQueue", {
                                type: "manual-file-removed",
                                totalQueuedCount: self.totalQueuedFiles
                            });
                        });

                        this.on("sending", function (file, xhr, formData) {
                            if (self.payload.length) {
                                _.forEach(self.payload, function(obj) {
                                    for(var prop in obj) {
                                        if(obj.hasOwnProperty(prop))
                                            formData.append(prop, obj[prop]);
                                    }
                                });
                            }
                            formData.append("files", file);
                        });

                        this.on("dragenter", function () {
                            $(self.$["docu-drop"]).addClass("dragover");
                        });

                        this.on("maxfilesexceeded", function (file) {
                            //this.removeAllFiles();
                            //this.addFile(file);
                        });

                        this.on("success", function (file, response) {
                            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                self.async(function () {
                                    self.removeAllDocuments();
                                    self.$.hub.publish("document:upload", {
                                        status: "files-uploaded",
                                        response: response
                                    });
                                }, 500)
                            }
                        });

                        this.on("complete", function (file) {
                            if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                                /*self.$.hub.publish("document:upload", {
                                 status: "files-uploaded"
                                 });*/
                            }
                        });

                        this.on('error', function (file, response) {
                            var error = "Unable to upload document.";
                            if (response != null) {
                                if (typeof response === 'string' || response instanceof String) {
                                    this.removeFile(file);
                                    error = response;
                                }
                                else if (response.message != null) {
                                    error = response = response.message;
                                    // raising event for button to be visible again
                                    self.$.hub.publish("uploadButton:enable", {
                                        enableButton: true
                                    });
                                }
                            }
                            self.$.errorSummary.setErrors(error);
                            //this.removeAllFiles();
                        });
                    },
                    url: [self.submitBaseUrl, self.submitTarget].join("/"),
                    clickable: self.clickable,
                    autoProcessQueue: self.autoProcess == null ? true : self.autoProcess,
                    method: "post",
                    parallelUploads: self.parallelUploads == null ? 5 : self.parallelUploads,
                    uploadMultiple: true,
                    paramName: "files",
                    addRemoveLinks: false,
                    maxFiles: self.maxFiles,
                    maxFilesize: 5,
                    thumbnailWidth: 128,
                    thumbnailHeight: 128,
                    previewTemplate: previewTemplate,
                    dictInvalidFileType: "Allowed files type are " + self.permittedFileTypes,
                    dictMaxFilesExceeded : "You can oly upload " + self.maxFiles + " files",
                    dictFileTooBig: "File is too big ({{filesize}} MB). Max filesize: {{maxFilesize}} MB.",
                    previewsContainer: "#preview-container",
                    headers: {
                        "Authorization": "Bearer " + token
                    },
                    acceptedFiles: self.permittedFileTypes
                };

                self.dropzone = $(self.$["docu-drop"]).dropzone(dropzoneOptions);
                self.dropzone.addClass("dropzone");
            },

            processQueue: function (payload) {
                if (payload.length > 0)
                    this.set("payload", payload);
                this.dropzone[0].dropzone.processQueue();
            },

            removeAllDocuments: function () {
                this.dropzone[0].dropzone.removeAllFiles();
            },

            getUploadClass: function (totalQueuedFiles) {
                if (totalQueuedFiles % 2 === 0)
                    return "col-lg-12";
                else
                    return "col-lg-6 col6";
            },

            getPreviewClass: function (totalQueuedFiles) {
                if (totalQueuedFiles === this.maxFiles) {
                    return "files"
                }
                else {
                    if (totalQueuedFiles % 2 === 0)
                        return "files minheight";
                    else
                        return "files";
                }

            },

            dynamicSpacer: function (totalQueuedFiles) {
                if (totalQueuedFiles % 2 === 0)
                    return false;
                else
                    return true;
            },

            showHideUpload: function (totalQueuedFiles) {
                if (totalQueuedFiles === this.maxFiles)
                    return true;
                else
                    return false;
            },

            fileUploaded: function () {
                return this.totalQueuedFiles;
            }
        })
    </script>
</dom-module>