<html-import html-href="ui-elements/custom-modal.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>

<dom-module id="drop-zone">
    <template>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <form id="docu-drop"
            action="{{ submitTarget }}">
            <content></content>
        </form>
        <event-hub id="hub"></event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "drop-zone",

            behaviors: [ensureDependenciesBehavior, eventHub],

            properties: {
                submitTarget: { type: String, notify: false },
                metadata: Object,
                fileReference: { type: Object, notify: true },
                autoProcess: { type: Boolean, value: false },
                /** * Max number of concurrent uploads */
                parellelUploads: Number,
                method: String,
                /** * Name of file selected by user to upload */
                fileName: String,
                /** * Number of files dropzone will accept */
                maxFiles: Number,
                clickable: { type: Boolean, value: false },
                replaceFile: {
                    type: Boolean,
                    value: false
                },
                permittedFileTypes: { type: String, value: ".pdf,.jpg,.doc,.docx,.jpeg,.jpe"  }
            },

            ready: function () {
                if(this.configuration.services.documentManager == undefined){
                    throw new Error("service not found");
                }
                var self = this;
                if (window.jQuery && window.jQuery.fn.dropzone) {
                    self.init()();
                }

                else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },

            init: function () {
                var self = this;

                self.filesAdded = false;
                //TODO: Expose itemData as component API
                self.itemData = {
                    tags: []
                };

                return function () {
                    self.async(function () {
                        $("input[type=submit]").on("click", function (e) {
                            e.preventDefault();
                        });

                        self.addEventListener("edit-file", function (e) {
                            var queuedFiles = self.dropzone[0].dropzone.getQueuedFiles();
                            var file = queuedFiles[e.detail.fileIndex]
                            // Add "tag" parameter to drop-zone component API that accepts a Boolean value
                            // It will either enable or disable showing tags on a file's preview element
                            file.data.tags = e.detail.tags;
                            $(file.previewElement).find(".tag").remove();
                            for (var i = 0; i < e.detail.tags.length; i++) {
                                $(file.previewElement).append('<span class="label label-primary label-xs tag">' + e.detail.tags[i] + '</span>')
                            }

                        });
                        $(self.$["docu-drop"]).on("dragend drop", function (e) {
                            $(this).removeClass("dragover");
                        });

                        Dropzone.autoDiscover = false;

                        self.initDropzone();
                    }, 1)
                }
            },

            /**
             * Setup options for dropzone
             */
            initDropzone: function () {
                var self = this;
                var token = self.$.session.get("token");
                var dropzoneOptions = {
                    init: function () {

                        this.on("addedfile", function (file) {
                            self.$.errorSummary.clearErrors();
                            self.filesAdded = true;
                            self.selectedFileName = file.name;
                            file.data = $.extend(true, {}, self.itemData);
                        });

                        this.on("removedfile", function (file) {
                            if (this.getQueuedFiles().length === 0) {
                                self.filesAdded = false;
                            }
                        });

                        this.on("sending", function (file, xhr, formData) {
                            if (self.metadata != null) {
                                self.metadata.selectedFileName = self.selectedFileName;
                                formData.append("metadata", JSON.stringify(self.metadata));
                            }

                            if (self.fileName != null) {
                                var fileExtension = (file.name.match(/\.[a-z]+$/i) || [])[0] || "";
                                formData.append("fileName", self.fileName + fileExtension);
                            }
                        });

                        this.on("dragenter", function () {
                            $(self.$["docu-drop"]).addClass("dragover");
                        });

                        this.on("maxfilesexceeded", function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });

                        this.on("success", function (file) {
                            self.async(function () {

                                self.removeAllDocuments();

                                self.$.hub.publish("notification:show", {
                                    type: "success",
                                    message: "Document uploaded."
                                });

                                self.$.hub.publish("document:upload", {
                                    documentName: self.fileName,
                                    tags: [],
                                    ref: "",
                                    date: self.$.format.formatDate(Date.now()),
                                    format: file.name.split(".")[1]
                                });
                            }, 500)
                        });

                        this.on('error', function (file, response) {
                            var error = "Unable to upload document.";
                            if (response != null) {
                                if (typeof response === 'string' || response instanceof String) {
                                    error = response;
                                }
                                else if (response.message != null) {
                                    error = response = response.message;
                                }
                            }
                            self.$.errorSummary.setErrors(error);
                            this.removeAllFiles();
                        });
                    },
                    url: [this.configuration.services.documentManager, self.submitTarget].join("/"),
                    clickable: self.clickable,
                    autoProcessQueue: self.autoProcess == null ? true : self.autoProcess,
                    method: "post",
                    parallelUploads: self.parallelUploads == null ? 5 : self.parallelUploads,
                    addRemoveLinks: true,
                    maxFiles: self.maxFiles,
                    headers: {
                        "Authorization": "Bearer " + token,
                        // Very important! Necessary to associate the uploaded
                        // document with the correct request
                        //Note: ByNayan: metdata will not be part of header, it will be part of body.
                        //"metadata": JSON.stringify(self.metadata)
                    },
                    acceptedFiles: self.permittedFileTypes
                };

                self.dropzone = $(self.$["docu-drop"]).dropzone(dropzoneOptions);
                self.dropzone.addClass("dropzone");
            },

            processQueue: function () {
                this.dropzone[0].dropzone.processQueue();
            },

            removeAllDocuments: function () {
                this.dropzone[0].dropzone.removeAllFiles();
            }
        })
    </script>
</dom-module>