<dom-module id="dropdown-list">
  <template>
    <div class="input-group-btn">
      <a class$="{{getClass(disabled)}}" data-toggle="dropdown" href="javascript:;">
        <i class="fa fa-ellipsis-h"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <content></content>
      </ul>
  </div>
  </template>
  <script>
    Polymer({
      is: "dropdown-list",
      properties: {
        disabled: {
          type: Boolean,
          value: false
        }
      },
      getClass: function() {
        var dropdownClass = "dropdown-toggle btn btn-primary btn-xs";
        if (this.disabled) dropdownClass += " disabled";
        return dropdownClass;
      }
    })
  </script>
</dom-module>
