<dom-module id="element-pagination">
    <style>
        span {
            pointer-events: none;
        }
    </style>
    <template>
        <div class="nextprev clearfix">
            <a href="javascript:;" on-click="prev" class$="{{ selectorPrevClass(pageNumber) }}"></a>
            <span class="active">{{ pageNumber}}</span>
            <span class="totalCount">/{{ indicesLength }}</span>
            <a href="javascript:;" on-click="next" class$="{{ selectorNextClass(pageNumber,indicesLength) }}"></a>
        </div>
    </template>
    <script>
        Polymer({
            is: "element-pagination",
            properties: {
                elementLength: {
                    type: Number,
                    notify: true
                },
                selectedIndex: {
                    type: Number,
                    notify: true
                },
                pageLength: Number,
                listenerName: {
                    type: String,
                    value: "pageChanged"
                }
            },
            behaviors: [eventHub, publishLifecycleEventsBehavior],
            observers: [
                "displayIndices(selectedIndex, elementLength, pageLength)"
            ],
            selectorPrevClass: function(pageNumber) {
                var classes = ["df","df-prev"];
                if (pageNumber === 1 ) {
                    classes.push("df-prev");
                }
                else {
                    classes.push("active");
                }
                return classes.join(" ");
            },

            selectorNextClass: function(pageNumber,indicesLength) {
                var classes = ["df","df-next"];
                if (pageNumber === indicesLength){
                    classes.push("");
                }
                else {
                    classes.push("active");
                }
                return classes.join(" ");
            },

            attached: function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;

                return function() {}
            },
            displayIndices: function(selectedIndex, elementLength, pageLength) {
                this.pageLength = this.pageLength === "" ? 10 : this.pageLength;
                //when elementLength (total records) are less than the (selected index * page length), set selectedIndex as 0
                if(elementLength <= (selectedIndex * this.pageLength))
                    selectedIndex = 0;
                //var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength - 1 : this.elementLength / this.pageLength
                var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength : this.elementLength / this.pageLength;
                var numberOfPages = Math.ceil(lengthCalc);
                var pageNumber = selectedIndex + 1;
                var indices = [pageNumber];

                // Next numbers
                var maxNext = pageNumber === 1 ? 0 : pageNumber === 2 ? 1 : 2
                for (var i = 1; i < numberOfPages - maxNext; i++) {
                    if (pageNumber + i < numberOfPages + 1 && indices.length < numberOfPages) {
                        indices.push(pageNumber + i);
                    }
                }

                // Previous Numbers
                for (i = 1; i < numberOfPages; i++) {
                    if (pageNumber - i > 0 && indices.length < numberOfPages) {
                        indices.unshift(pageNumber - i);
                    }
                }
                if (indices[indices.length - 1] !== numberOfPages && numberOfPages !== pageNumber) {
                    indices[indices.length - 1] = numberOfPages
                }
                if (indices[0] !== 1 && numberOfPages !== pageNumber) {
                    indices[0] = 1;
                }
                this.set("indices", indices);
                this.set("pageNumber", pageNumber);
                this.set("indicesLength", indices.length);
            },
            prev: function() {
                if (this.selectedIndex > 0) {
                    this.set("selectedIndex", this.selectedIndex - 1);
                    // firing an event update the scroll to top
                    var listenerName = this.listenerName;
                    this.fire(listenerName, {
                        confirm: this
                    });
                }
            },
            next: function() {
                //var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength - 1 : this.elementLength / this.pageLength
                var lengthCalc = (this.elementLength / this.pageLength) % 2 === 0 ? this.elementLength / this.pageLength : this.elementLength / this.pageLength;
                var numberOfPages = Math.ceil(lengthCalc);
                if (this.selectedIndex + 1 < numberOfPages) {
                    this.set("selectedIndex", this.selectedIndex + 1);
                    // firing an event update the scroll to top
                    var listenerName = this.listenerName;
                    this.fire(listenerName, {
                        confirm: this
                    });
                }
            },
            setPage: function(e) {
                this.set("selectedIndex", +$(e.target).find("span").text() - 1);
            }

        });
    </script>
</dom-module>