<script src="../script/fullcalendar.js"></script>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="services/calendar-service.html"></html-import>
<html-import html-href="ui-elements/ui-cal-footer.html"></html-import>
<html-import html-href="lender-portal/lender-calendar.html"></html-import>
<html-import html-href="lender-portal/lender-calendar-view.html"></html-import>
<html-import html-href="ui-elements/borrower-calendar.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<link rel="import" href="../styles/full-calendar.html">

<dom-module id="event-based-calendar">
    <template>
        <style include="full-calendar"></style>
        <div class="container">
            <div class="rwCal">
                <div id="bootstrapModalFullCalendar" class="calendarModal"></div>
            </div>
        </div>
        <ui-modal id="lenderPortal" class="newevent" title="[[ calModalTitle ]]" subtitle="[[ subTitle ]]">
            <template is="dom-if" if="{{ isOpenCreate}}" restamp>
                <lender-calendar current-date="[[ createEventDate ]]" is-edit=[[isEditMode]]
                                 edit-object="{{ editObject }}" logged-in-username="{{ loggedInUser }}" logged-in-user="{{ loggedInUserEmail }}"
                                 default-users="{{ defaultUsers }}" all-users="{{ allUsers }}"></lender-calendar>
            </template>
        </ui-modal>

        <ui-modal id="lenderView" class="lenderView" title="[[ calModalTitle ]]" subtitle="[[ subTitle ]]">
            <template is="dom-if" if="{{ isOpenView }}" restamp>
                <lender-calendar-view view-event-list="{{ viewEventList }}" date="[[ createEventDate ]]"
                                      is-lapsed-date=[[isLapsedDate]] logged-in-user="[[ loggedInUser ]]" ></lender-calendar-view>
            </template>
        </ui-modal>

        <ui-modal id="fullCalModal" class="viewEvent" title="[[ calModalTitle ]]">
            <template is="dom-if" if="{{ isOpen}}" restamp>
                <borrower-calendar filtered-list="[[ filteredList ]]"></borrower-calendar>
            </template>
        </ui-modal>

        <calendar-service id="calendar"></calendar-service>
        <identity-service id="identityService"></identity-service>
        <event-hub id="hub"></event-hub>
        <http-request id="http"></http-request>
        <team-service id="teamService"></team-service>
    </template>
    <script>
        Polymer({
            is: "event-based-calendar",

            properties: {
                eventLists: {
                    type: Array,
                    value: []
                },
                filteredList: {
                    type: Array,
                    value: []
                },
                calModalTitle: {
                    value: "",
                    type: String
                },
                subTitle: {
                    type: String,
                    value: ""
                },
                monthTitle: {
                    value: "",
                    type: String
                },
                monthVal: {
                    value: "",
                    type: String
                },
                yearVal: {
                    value: "",
                    type: String
                },
                dateVal: {
                    value: "",
                    type: String
                },
                entityId: String,
                portal: String,
                isOpen: {
                    value: false,
                    type: Boolean
                },
                isOpenView: {
                    value: false,
                    type: Boolean
                },
                isOpenCreate: {
                    value: false,
                    type: Boolean
                },
                createEventDate: String,
                isViewEvents: {
                    type: Boolean,
                    value: true
                },
                viewEventList: {
                    type: Array,
                    value: []
                },
                isEditMode: {
                    type: Boolean,
                    value: false
                },
                editObject: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },
                loggedInUser: {
                    type: String,
                    value: ''
                },
                loggedInUserEmail: {
                    type: String,
                    value: ''
                },
                defaultUsers: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
                allUsers: {
                    type: Array,
                    value: function () {
                        return []
                    }
                }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior,
                alloy.activity
            ],

            attached: function () {
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.triggerModal = this.subscribe("trigger-modal-window", self.triggerModal.bind(self));
                this.closeModal = this.subscribe("close-modal", self.closeModal.bind(self));
            },

            init: function () {
                var self = this;
                //Update scroll height when tab gets active
                this._registerMutationObserver();
            },

            closeButtonClicked: function (event) {
                var self = this;
                var checkBoxes = self.querySelectorAll("#calContent input[type='checkbox']");
                for (var i = 0; i < checkBoxes.length; i++) {
                    if (checkBoxes[i].checked === true) {
                        checkBoxes[i].checked = false;
                    }
                }
            },

            detached: function () {
                this._deRegisterMutationObserver();
                this.unsubscribe(this.triggerModal);
                this.unsubscribe(this.closeModal);
            },

            /**
             * Register mutation observcer to listen class change on tab-pane
             */
            _registerMutationObserver: function () {
                var self = this;
                // select the target node
                var target = this.parentElement;
                while (target.tagName.toLowerCase() !== 'tab-pane') {
                    target = target.parentElement;
                }

                // create an observer instance
                this.observer = new MutationObserver(function (mutations) {
                    //
                    if (mutations[mutations.length - 1].target.classList.contains('active')
                            && mutations[mutations.length - 1].target.classList.contains('in')) {
                        self.onloadCalendar();
                        self.getCurrentLoggedInUser();
                        self.getDefaultAssignes();
                        self._deRegisterMutationObserver();
                    }
                });

                // configuration of the observer:
                var config = {attributes: true, childList: false, characterData: false};

                // pass in the target node, as well as the observer options
                this.observer.observe(target, config);
            },

            /**
             * De-Register mutation observer
             */
            _deRegisterMutationObserver: function () {
                if (this.observer) {
                    this.observer.disconnect();
                    this.observer = undefined;
                }
            },

            // to intialize the calendar
            onloadCalendar: function () {
                var self = this;
                $(this).ready(function () {
                    $('#bootstrapModalFullCalendar').fullCalendar({
                        header: {
                            left: '',
                            center: 'prev title next',
                            right: ''
                        },
                        theme: false,
                        dayNamesShort: ['S', 'M', 'T', 'W', 'T', 'F', 'S'],
                        buttonIcons: {
                            prev: 'left-single-arrow',
                            next: 'right-single-arrow',
                        },
                        titleFormat: 'MMMM',
                        events: function (start, end, timezone, callback) {
                            var month = self.month;
                            var year = self.year;

                            self.ensure("calendar").then(function (calendar) {
                                calendar.getEventList(self.entityId, month, year)
                                        .then(function (response) {
                                            self.eventLists = response;

                                            self.publish("tab:overview", {
                                                id: "calendar",
                                                dynamicText: self.eventLists.length +  " Upcoming Events"
                                            });

                                            var events = [];
                                            var bgClr;
                                            var dataList = [];
                                            if (self.eventLists) {
                                                $.map(self.eventLists, function (r) {
                                                    if (r.priority === "High") {
                                                        bgClr = "eventCircleHigh";
                                                    } else if (r.priority === "Low") {
                                                        bgClr = "eventCircleLow";
                                                    } else if (r.priority === "Information") {
                                                        bgClr = "eventCircleInfo";
                                                    } else {
                                                        bgClr = "eventCircleAvg";
                                                    }
                                                    events.push({
                                                        id: r.id,
                                                        title: moment(new Date(r.eventDate)).format("MMM"),
                                                        start: r.eventDate,
                                                        end: r.eventDate,
                                                        description: r.eventDescription,
                                                        allday: false,
                                                        className: bgClr,
                                                        priority: r.priority,
                                                        createdBy: r.createdBy
                                                    });
                                                });

                                            }
                                            callback(events);
                                        })
                            })
                        },
                        viewRender: function (view, element) {
                            self.loadMonthYear(view.title);
                        },
                        dayClick: function (date, jsEvent, view) {
                            if (date.month() === view.intervalStart.month()) {

                                //For back-office/affinity users
                                if (!self.config.configuration.readOnly) {
                                    var data = self.isEventCreated(date);
                                    if (data.length > 0) {
                                        self.set("viewEventList", data);
                                        self.viewEvent(date, view, data);
                                    } else {
                                        self.createNewEvent(date, view);
                                    }
                                }
                                else { //For borrower dashboard
                                    self.viewApplicationModal(date, view);
                                }
                            }
                        }

                    });
                    //to append the footer component
                    var calendarDiv = $('#bootstrapModalFullCalendar');
                    if (calendarDiv.find('#ftr-cal').length <= 0) {
                        calendarDiv.append("<ui-cal-footer id='ftr-cal'></ui-cal-footer>");
                    }
                });

            },//end of onloadCalendar

            /* to set month and year to be passed to the endpoints */
            loadMonthYear: function (title) {
                var self = this;
                var date = new Date();
                self.year = date.getFullYear();

                var monthNames = ["January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                ];

                if (title) {
                    self.monthTitle = title;
                    _.filter(monthNames, function (item, key) {
                        if (item === self.monthTitle) {
                            self.month = key + 1;
                            return true;
                        }
                    });
                }
            }, //end of loadMonthYear

            /* Toc check if the event is created on same day */
            isEventCreated: function (date) {
                var self = this;
                var currentDate = moment(date);

                if (self.eventLists) {
                    var events = _.filter(self.eventLists, function (item) {
                        return moment(item.eventDate).isSame(currentDate, 'Day');
                    });
                }
                return events;
            },

            /* This method is called to create a new event on lender portal*/
            createNewEvent: function (date, view) {
                var self = this;
                var today = moment().format('YYYY-MM-DD');
                var clickedDate = moment(date).format('YYYY-MM-DD');
                self.calModalTitle = "New Event";
                self.subTitle = moment(date).format("MMM D, YYYY");

                if (clickedDate >= today) {
                    if (_.isUndefined(self.$.lenderPortal)) return
                    this.set("isOpenCreate", true);
                    this.set('isEditMode', false);
                    this.$.lenderPortal.open({
                        backdrop: 'static',
                        keyboard: false
                    });
                    this.set("createEventDate", clickedDate);
                } else {
                    return
                }
            },

            /* This method is called to view the existing events on lender portal*/
            viewEvent: function (date, view, data) {
                var self = this;
                self.calModalTitle = "New Event";
                self.subTitle = moment(date).format("MMM D, YYYY");
                self.calModalTitle = "List of Events";
                var clickedDate = moment(date).format('YYYY-MM-DD');
                self.set('createEventDate', clickedDate);
                self.set('viewEventList', data);
                var today = moment().format('YYYY-MM-DD');

                if (moment(date).isAfter(today)) {
                    self.set('isLapsedDate', true);
                } else {
                    self.set('isLapsedDate', false);
                }
                if (_.isUndefined(self.$.lenderPortal)) return
                this.set("isOpenView", true);
                this.$.lenderView.open({
                    backdrop: 'static',
                    keyboard: false
                });
            },

            /* This method is called to display the borrowers events on dashboard*/
            viewApplicationModal: function (date, view) {
                var self = this;
                self.dateVal = ' ' + moment(date).date(); // to set the selected date in the modal title
                self.calModalTitle = view.title + self.dateVal; //Modal title

                /* to populate the selected list on clicking  current  date. Setting the new filtered list*/
                var data = self.isEventCreated(date);
                if (data.length > 0) {
                    self.set("filteredList", data);
                    if (_.isUndefined(self.$.fullCalModal)) return
                    self.set("isOpen", true);
                    self.$.fullCalModal.open({
                        backdrop: 'static',
                        keyboard: false
                    });
                }
            },

            /* This method is called to refresh the calendar*/
            reloadEvents: function () {
                var self = this;
                $('#bootstrapModalFullCalendar').fullCalendar('destroy');
                self.onloadCalendar();
            },

            /* This method is used for closing all the modal dialogs*/
            closeModal: function (payload) {
                if (payload.id === "viewEvent") {
                    if (_.isUndefined(this.$.lenderView)) return
                    this.set("isOpenView", false);
                    this.$.lenderView.close();
                    this.reloadEvents();
                }
                if (payload.id === "borrower") {
                    if (_.isUndefined(this.$.fullCalModal)) return
                    this.set("isOpen", false);
                    this.$.fullCalModal.close();
                }
                if (payload.id === "createEvent") {
                    if (_.isUndefined(this.$.lenderPortal)) return
                    this.set("isOpenCreate", false);
                    this.$.lenderPortal.close();
                    this.reloadEvents();
                }
            },

            /*Returns the current logged in User*/
            getCurrentLoggedInUser: function () {
                var self = this;
                self.ensure("identityService")
                        .then(function (identityService) {
                            identityService.getCurrentUser().then(function (response) {
                                self.set('loggedInUser', response.username);
                                self.set('loggedInUserEmail', response.email);
                            })
                        });
            },

            /*This method retrieves all the users*/
            getDefaultAssignes: function () {
                var usersArr = [];
                var self = this;
                return self.ensure("calendar")
                        .then(function (service) {
                            return service.getAllUsers(self.entityId)
                        }).then(function (response) {
                            self.set('allUsers', response);
                            _.forEach(self.allUsers, function (item) {
                                if (item.role === "Borrower" || item.role === "Co-borrower" || item.role === "Spouse" || item.role === "CoBorrowerSpouse")
                                {
                                    self.$.teamService.getUserDetails(item.assignee)
                                    .then(function (res){
                                        usersArr.push(res.email);
                                    });
                                }
                                    
                            });
                            self.set('defaultUsers', usersArr);
                        })

            },

            /*This method is called from edit when clicking the existing event and also on creating the new event */
            triggerModal: function (payload) {
                var self = this;
                if (_.isUndefined(self.$.lenderView)) return
                self.set("isOpenView", false);
                self.$.lenderView.close();
                $(document).on('shown.bs.modal', function (e) {
                    $('body').addClass('modal-open');
                })

                if (payload.isNewEvent) {
                    self.set('createEventDate', payload.date);
                    self.set("isOpenCreate", true);
                    self.set('isEditMode', false);
                    self.$.lenderPortal.open({
                        backdrop: 'static',
                        keyboard: false
                    });
                }
                if (payload.isEdit) {
                    self.set("isOpenCreate", true);
                    self.$.lenderPortal.open({
                        backdrop: 'static',
                        keyboard: false
                    });
                    self.set('isEditMode', true);
                    self.set('editObject', payload.model);
                }
            }
        });
    </script>
</dom-module>