<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
<script src="../script/quill.js"></script>

<dom-module id="generic-ui-text-editor">
    <template>
        <style>
            .editor-container {
                height: var(--text-editor-height, 200px);
            }
           .toolbar-container {
                text-align: left;
            }
            .ql-toolbar.ql-snow .ql-formats {
                margin-right: 9px;
            }
        </style>
        <div id="standalone-container">
            <div id="[[toolbarContainerId]]" class="toolbar-container">
                <span class="ql-formats">
                  <select class="ql-font"></select>
                  <select class="ql-size"></select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold"></button>
                  <button class="ql-italic"></button>
                  <button class="ql-underline"></button>
                  <button class="ql-strike"></button>
                </span>
                <span class="ql-formats">
                  <select class="ql-color"></select>
                  <select class="ql-background"></select>
                </span>
                <!--<span class="ql-formats">
                  <button class="ql-script" value="sub"></button>
                  <button class="ql-script" value="super"></button>
                </span>-->
                <span class="ql-formats">
                  <!--<button class="ql-header" value="1"></button>
                  <button class="ql-header" value="2"></button>-->
                  <button class="ql-blockquote"></button>
                  <!--<button class="ql-code-block"></button>-->
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <button class="ql-indent" value="-1"></button>
                  <button class="ql-indent" value="+1"></button>
                </span>
                <span class="ql-formats">
                 <!-- <button class="ql-direction" value="rtl"></button>-->
                  <select class="ql-align"></select>
                </span>
                <!--<span class="ql-formats">
                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                  <button class="ql-video"></button>
                  <button class="ql-formula"></button>
                </span>-->
               <!-- <span class="ql-formats">
                  <button class="ql-clean"></button>
                </span>-->
            </div>
            <div id="[[textEditorUniqueId]]" class="editor-container"></div>
        </div>
     
        <div hidden="">{{ description }}</div>
    </template>
    <script>
        Polymer({
            is: "generic-ui-text-editor",

            properties: {
                description: {
                    type: String,
                    value: "",
                    notify: true
                },
                textEditorUniqueId:String,
                toolbarContainerId:String
            },
            
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                var self = this;
                /*var toolbarOptions = [['bold', 'italic', 'underline', 'strike'], ['background',
                    'color', 'blockquote', 'header', 'indent', 'list']];
                //var toolbarOptions = [['bold', 'italic'], ['link', 'image']];
                var editor = new Quill('#editor-container', {
                    modules: {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });*/
                self.findTargetElement(self.textEditorUniqueId)
                        .then (function () {
                            var quill = new Quill('#' + self.textEditorUniqueId, {
                                modules: {
                                    toolbar: '#' + self.toolbarContainerId
                                },
                                placeholder: 'Compose an explanation...',
                                theme: 'snow'
                            });
                            self.querySelector(".ql-editor").innerHTML = self.description;
                            quill.on('text-change', function(delta, oldDelta, source) {
                                self.set("description", self.querySelector(".ql-editor").innerHTML);
                                self.fire("activity-explanation-added", {
                                    explanation: self.querySelector(".ql-editor").innerHTML
                                })
                            });
                        });
            },
            findTargetElement: function (name, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('#' + name);
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findTargetElement(name, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },
            getHtml: function () {
                return this.querySelector(".ql-editor").innerHTML;
            }
        });
    </script>
    <style>
        .ql-snow .ql-picker-options {
            right: 0 !important;
        }
    </style>
</dom-module>