<dom-module id="lf-collapse-group">
    <template>
        <div class="panel-group" id$="{{ groupId }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer(
        {
            is: "lf-collapse-group",

            properties:
            {
                groupMembers:
                {
                    type: Array,
                    value: []
                },
                groupId:
                {
                    type: String
                }
            },

            generateId: (function(initial)
            {
                return function()
                {
                    return "panel-group-" + initial;
                }
            })(0),

            ready: function()
            {
                var self = this;
                self.groupId = self.generateId();
                self.addEventListener("collapse.toggle", function(e)
                {
                    $(".collapse", self).not("#" + e.detail.id).each(function()
                    {
                        $(this).collapse("hide");
                    });
                    e.stopPropagation();
                });
            }
        })
    </script>
</dom-module>

<dom-module id="lf-collapse">
    <template>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{ collapseId }}">
                    <span><i class$="{{ icon }}"></i> {{ title }}</span>
                    <span class="pull-right"><i class="fa fa-chevron-right transition125" aria-hidden="true"></i></span>
                </a>
            </h4>
            </div>
            <div id="{{ collapseId }}" class="panel-collapse collapse">
                <div class$="{{ getCollapseBodyClass(padding) }}">
                    <content></content>
                </div>
            </div>
        </div>
        <style>
            .transition125 {
                transition: all .125s ease-out;
            }
            a[aria-expanded="true"] i.fa.fa-chevron-right {
                transform: rotate(90deg);
            }
        </style>
    </template>
    <script>
        Polymer(
        {
            is: "lf-collapse",

            properties:
            {
                title: String,
                icon: String,
                collapseId: String,
                padding:
                {
                    type: String,
                    value: "true"
                }
            },

            ready: function()
            {
                var self = this;
                self.collapseId = self.getUniqueId();

                self.addEventListener("click", function(e)
                {
                    self.fire("collapse.toggle",
                    {
                        id: self.collapseId
                    });
                });
            },

            getCollapseBodyClass: function(padding)
            {
                var BASE_CLASS = "panel-body";
                return padding.toLowerCase() === "false" ? BASE_CLASS + " no-padding" : BASE_CLASS;
            },

            getUniqueId: (function(initial)
            {
                return function()
                {
                    initial += 1;
                    return initial;
                }
            })(0),
        })
    </script>
</dom-module>
