<dom-module id="loadable-content">
    <template>
        <content></content>
    </template>

    <style>
    </style>
    <script>
        Polymer({
            is: "loadable-content",

//            listeners: {
//                "refresh": "onRefresh",
//                "loaded": "onLoaded"
//            },

            onRefresh: function (e) {
                console.log("REFRESH");
                this.hide();
            },

            onLoaded: function (e) {
                e.stopPropagation();
                console.log("LOADED");
                this.show();
            },

            show: function () {
                $(this).addClass("animated fadeIn");
            },

            hide: function () {
                $(this).addClass("animated fadeOut");
            }
        });
    </script>
</dom-module>