<dom-module id="lock-block">
    <template>
        <style>
            .well {
                text-align: center;
            }
        </style>
        <div class="well">
            <i class$="{{setClassSize(multiplier)}}"></i>
        </div>
    </template>
    <script>
        Polymer({
            is: "lock-block",
            properties: {
                multiplier: {
                    type: String,
                    value: ""
                }
            },
            setClassSize: function(multiplier) {
                var lockClass = ["fa", "fa-lock"];
                if (multiplier) {
                    lockClass.push("fa-" + multiplier)
                }
                return lockClass.join(" ");
            }
        });
    </script>
</dom-module>