<dom-module id="lusa-button-default">
    <template>
        <button class="btn btn-default">
            <content></content>
        </button>
    </template>
    <script>
        Polymer(
        {
            is: "lusa-button-default",

        })
    </script>
</dom-module>
