<link rel="import" href="./lfCollapse.html">
<dom-module id="lusa-collapse">
    <template>
        <lf-collapse title="{{ title }}" icon="{{ icon }}" padding="{{ padding }}">
            <content></content>
        </lf-collapse>
        <style>
            :host {
                --panel-heading-background-color: #03426b;
                --panel-heading-color: #fff;
            }
        </style>
    </template>
    <script>
        Polymer(
        {
            is: "lusa-collapse",

            properties:
            {
                title: String,
                icon: String,
                padding:
                {
                    type: String,
                    value: "true"
                }
            }
        })
    </script>
</dom-module>
