<dom-module id="panel-default">
    <template>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class$="{{ icon }}"></i> <span>{{ titleBar }}</span>
                </h4>
            </div>
            <div class$="{{ getPanelBodyClass(noPadding) }}">
                <content></content>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            is: "panel-default",

            behaviors: [eventHub],

            properties: {
                titleBar: String,
                icon: String,
                noPadding: {
                    type: Boolean,
                    value: false
                }
            },

            ready: function () {
                this.publish("panelDefault.ready", null, this);
            },

            getPanelBodyClass: function (noPadding) {
                var BASE_CLASS = "panel-body";
                return noPadding ? BASE_CLASS + " no-padding" : BASE_CLASS;
            },
        })
    </script>
</dom-module>
