<dom-module id="refresh-button">
    <template>
        <content></content>
    </template>

    <style>
        :host:hover {
            cursor: pointer;
        }
    </style>

    <script>
        Polymer({
            is: "refresh-button",

            properties: {
                events: {
                    value: { REFRESH: "refresh" },
                    type: Object
                }
            },

            attached: function () {
                this.addEventListener("click", this.handleClick.bind(this))
            },

            handleClick: function (e)
            {
                console.log("REFRESH");
                e.stopPropagation();
                e.preventDefault();
                this.fire(this.events.REFRESH);
            }
        })
    </script>
</dom-module>