<html-import html-href="ui-elements/sk-cube.html"></html-import>
<dom-module id="spinner-backdrop">
<template>
    <style>
        :host {
            position: fixed;
            z-index: 999;
            height: 2em;
            width: 2em;
            overflow: visible;
            margin: auto;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .add-z {
            z-index: 2050!important;
        }
    </style>
    <spinkit-cube hidden$="{{ !isBusy }}" class="add-z"></spinkit-cube>
</template>
<script>
    Polymer({
        is: "spinner-backdrop",

        properties: {
            isBusy: {
                type: Boolean,
                value: false
            }
        },

        observers: ["onIsBusyChanged(isBusy)"],

        onIsBusyChanged: function(isBusy) {
            var backdrops = $("div.modal-backdrop");

            if (isBusy && !backdrops.length) {
                $('<div class="modal-backdrop spinner-backdrop-backdrop"></div>')
                    .appendTo(document.body)
                    .css("background-color", "rgba(0,0,0,.25")
                    .hide()
                    .fadeIn(500);

                return;
            }

            if (!isBusy && backdrops.length) {
                $(".modal-backdrop.spinner-backdrop-backdrop").each(function() {
                    $(this).fadeOut(500, function() {
                      this.remove();
                    });
                });
            }
        }
    });
</script>
</dom-module>