<dom-module id="ui-custom-button">
    <template>
        <button
            class$="{{ getButtonClassName(color, fullWidth) }}"
            disabled$="{{ disabled }}"
            type$="{{ type }}">
            <span hidden$="{{ disabled }}"><content></content></span>
            <span hidden$="{{ !disabled }}">{{ disabledText }}</span>
        </button>
    </template>
    <script>
        Polymer({
            is: "ui-custom-button",

            properties: {
                color: {
                    value: "primary",
                    type: String
                },

                disabled: {
                    value: false,
                    type: Boolean,
                    reflectToAttribute: true
                },

                disabledText: {
                    value: "Processing",
                    type: String
                },

                clickHandler: String,

                fullWidth: {
                    value: false,
                    type: Boolean
                }
            },

            listeners: {
                "click": "handleClick"
            },

            disable: function () {
                this.set("disabled", true);
            },

            enable: function () {
                this.set("disabled", false);
            },

            getButtonClassName: function () {
                var className = ["btn"];

                if (this.fullWidth) className.push("btn-block");
                if (this.color === "secondary") className.push("btn-outline");
                if (this.color === "primary") className.push("btn-outline-primary");
                if (this.color === "clear") className.push("btn-outline-clear");
                if (this.color === "default") className.push("btn-default");

                return className.join(" ");
            },

            handleClick: function (e) {
                if (this.disabled)
                    return;

                if (this.clickHandler
                    && typeof this.domHost[this.clickHandler] === "function")
                    this.domHost[this.clickHandler].call(this.domHost, e);
            }
        })
    </script>
</dom-module>