<html-import html-href="ui-elements/forms/ui-select-boolean.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/calendar-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>

<dom-module id="ui-cal-footer">
  <template>
    <div class="ftr-hgt clearfix">
  <div class="fc-toolbar fc-footer-toolbar">
    <div class="fc-left calLeftfooter">&nbsp;</div>
    <div class="fc-center calCenterfooter">
      <ui-form>
        <ui-select-boolean text='Turn off Notifications' id='ui-select' value="{{switchValue}}"></ui-select-boolean>
      </ui-form>
    </div>
    <div class="fc-right calRightfooter">
      <div><a class="ftr-high"></a><span>High</span></div>
      <div><a class="ftr-low"></a><span>Low</span></div>
    </div>
  </div>
</div>
<identity-service id="identityService"></identity-service>
<calendar-service id="calendarService"></calendar-service>
<event-hub id="hub"></event-hub>
</template>
  <script>
    Polymer({
      is: 'ui-cal-footer',
      properties: {
        currentUser: {
          type: String,
          value: ''
        },
        switchValue: Boolean
      },
      behaviors: [
        eventHub,
        ensureDependenciesBehavior
      ],

      attached: function () {
        var self = this;

        if (window.jQuery) {
          self.init();
        } else {
          window.addEventListener("WebComponentsReady", self.init);
        }
      },

      init: function () {
         var self = this;

        self.ensure("identityService")
          .then(function (identityService) {
            identityService.getCurrentUser().then(function (response) {
              self.currentUser = response.username;
              self.setSwitchNotifyValue();
            })
          });

        var toggleElm = self.querySelector('#ui-select .switch-checkbox');
        $(toggleElm).change(function (event) {
          var value;
          if (event && (event.target.checked === true)) {
            value = true;
          } else {
            value = false;
          }
          self.switchNotification(value);
        });

      },
      setSwitchNotifyValue: function () {
        var self = this;

        self.$.calendarService.getNotificationValue(self.currentUser)
          .then(function (response) {
            self.switchValue = response;
          })
      },
      /* to send the on/off notification call to points */
      switchNotification: function (value) {
        this.$.calendarService.sendNotificationValue(this.currentUser, value)
          .then(function (response) {
            return response;
          })
      },
    });
  </script>
</dom-module>
