<dom-module id="ui-curtain-spinner">
    <template>
            <!--<div hidden$="{{ shouldHideSpinner }}"-->
                <!--class="sk-spinner sk-spinner-fading-circle"-->
                <!--style="transform: scale(2,2)">-->
                <!--<div class="sk-circle1 sk-circle"></div>-->
                <!--<div class="sk-circle2 sk-circle"></div>-->
                <!--<div class="sk-circle3 sk-circle"></div>-->
                <!--<div class="sk-circle4 sk-circle"></div>-->
                <!--<div class="sk-circle5 sk-circle"></div>-->
                <!--<div class="sk-circle6 sk-circle"></div>-->
                <!--<div class="sk-circle7 sk-circle"></div>-->
                <!--<div class="sk-circle8 sk-circle"></div>-->
                <!--<div class="sk-circle9 sk-circle"></div>-->
                <!--<div class="sk-circle10 sk-circle"></div>-->
                <!--<div class="sk-circle11 sk-circle"></div>-->
                <!--<div class="sk-circle12 sk-circle"></div>-->
            <!--</div>-->

        <div hidden$="{{ !shouldHideSpinner }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-curtain-spinner",

            properties: {
                shouldHideSpinner: {
                    value: false,
                    type: Boolean
                },

                hasContent: Object
            },

            observers: ["onHasContentChanged(hasContent)"],

            onShouldHideSpinnerChanged: function (shouldHideSpinner)
            {
//                console.log(shouldHideSpinner);
            },

            onHasContentChanged: function (hasContent)
            {
                this.shouldHideSpinner = Boolean(hasContent);
                this.onShouldHideSpinnerChanged(this.shouldHideSpinner);
            }
        })
    </script>
</dom-module>