<dom-module id="ui-empty-curtain">
    <template>
        <div hidden$="[[ !shouldHideCurtain ]]">
            <content></content>
        </div>
        <div hidden$="[[ shouldHideCurtain ]]"
            class="well"
            style="height: inherit; line-height: inherit;">[[ getMessage(isEmpty, isLoading) ]]</div>
    </template>
    <script>
        Polymer({
            is: "ui-empty-curtain",

            properties: {
                // Default message to show when empty
                emptyMessage: {
                    value: "Nothing to show",
                    type: String
                },

                loadingMessage: {
                    type: String,
                    value: "Loading..."
                },

                // Flag for empty content visibility
                isEmpty: {
                    value: true,
                    type: Boolean
                },

                isLoading: {
                    value: false,
                    type: Boolean
                },

                shouldHideCurtain: {
                    type: Boolean,
                    value: true,
                    computed: "computeShouldHideCurtain(isEmpty, isLoading)"
                }
            },

            computeShouldHideCurtain: function (isEmpty, isLoading) {
                if (!isEmpty && !isLoading) return true;
                if (!isEmpty && isLoading) return true;

                return false;
            },

            getMessage: function (isEmpty, isLoading) {
                if (isEmpty && isLoading) return this.loadingMessage;
                if (isEmpty && !isLoading) return this.emptyMessage;
            }
        })
    </script>
</dom-module>