<dom-module id="ui-ibox">
    <template>
        <div class="ibox">
            <div id="contentWrapper">
                <content></content>
            </div>
        </div>
        <style>
            :host {
                transition: all .25s ease-out;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "ui-ibox",

            properties: {
                isCollapsed: {
                    type: Boolean,
                    value: false
                }
            },

            observers: ["handleIsCollapsedChanged(isCollapsed)"],

            handleIsCollapsedChanged: function (isCollapsed) {
                isCollapsed
                    ? $(this.$.contentWrapper).slideUp()
                    : $(this.$.contentWrapper).slideDown();
            },

            attached: function () {
                this.isCollapsed
                    ? $(this.$.contentWrapper).slideUp()
                    : $(this.$.contentWrapper).slideDown();
            }
        })
    </script>
</dom-module>