<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-time-format.html"></html-import>

<dom-module id="input-time">
  <template>
        <ui-container-group id="uiContainerGroup" has-error="{{formHasError}}">
         <div class="clearfix">
         <div class="sdate">
                    <ui-container id="startTimeContainer" is-required=true auto-save=false default-value="">
                                            <ui-input id="start-input" name="start" label="Start" mask-format="99:99"
                                                      value="{{ startTime }}">
                                                <template is="dom-if" if="[[ checkEventToday(date) ]]">
                                                    <ui-validators>
                                                        <ui-require-field>Time is required.</ui-require-field>
                                                        <ui-custom-validator name="startCurrentTimeValidator">Time is
                                                            invalid.
                                                        </ui-custom-validator>
                                                    </ui-validators>
                                                </template>
                                                <template is="dom-if" if="[[ !checkEventToday(date) ]]">
                                                    <ui-validators>
                                                        <ui-require-field>Time is required.</ui-require-field>
                                                        <ui-custom-validator name="startTimeValidator">Time is
                                                            invalid.
                                                        </ui-custom-validator>
                                                    </ui-validators>
                                                </template>
                                            </ui-input>
                                        </ui-container>
              </div>
              <div class="sdate stime">
                     <ui-container id="validateStartTime" is-required=true auto-save=false default-value="{{ ampmStart }}">
                                            <ui-options id="start"
                                                        name="startOption"
                                                        items="[[ timeOptions.range ]]"
                                                        value="{{ selectedStart }}"
                                                        button-text=''>
                                                <ui-validators>
                                                    <ui-custom-validator name="validateStartTime">Time is invalid.</ui-custom-validator>
                                                </ui-validators>
                                            </ui-options>
                                        </ui-container>
             </div>
        </div>
        <div class="clearfix">
          <div class="sdate">
               <ui-container id="endTimeContainer" is-required=false auto-save=false default-value="">
                                            <ui-input id="end-input" name="end" label="End" mask-format="99:99"
                                                      value="{{ endTime }}">
                                                <ui-validators>
                                                    <ui-custom-validator name="endTimeValidator">Time is invalid.</ui-custom-validator>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
             </div>
           <div class="sdate stime">
                <ui-container id="validateEndTime" auto-save=false default-value="{{ ampmEnd }}">
                                            <ui-options id="end"
                                                        name="endOption"
                                                        items="[[ timeOptions.range ]]"
                                                        value="{{ selectedEnd }}"
                                                        button-text=''>
                                                <ui-validators>
                                                    <ui-custom-validator name="validateEndTime">Time is invalid.</ui-custom-validator>
                                                </ui-validators>
                                            </ui-options>
                                        </ui-container>
           </div>
        </div>
    </ui-container-group>
 </template>
 <script>
  Polymer({
     is:'input-time',

     properties: {
         date:String,
          timeOptions: {
                    type: Array,
                    value: {
                        range: [
                            "AM",
                            "PM"
                        ]
                    }
                },
         startTime :String,
         endTime:String,
         ampmStart:String,
         ampmEnd:String,
         inputType:{
           type:String,
           value:''
         }
     },

     attached :function(){
     },

     getCurrentTime:function(){
        var ampm = moment().format('A');
        if(this.ampmStart){
           var startPeriod = this.ampmStart;
           this.set('selectedStart', startPeriod);
        }else{
          this.set('ampmStart', ampm);
        }
        if(this.ampmEnd){
          var endPeriod = this.ampmStart;
          this.set('selectedEnd', endPeriod);
        }else{
          this.set('ampmEnd', ampm);
        }
     },
         startTimeValidator: function () {
                var regx = /^(0?[1-9]|1[012]):([0-5][0-9])$/g;
                if (regx.test(this.startTime)) {
                    if (this.endTime!=="") {
                        // endTime is already entered
                        var startTime = this.startTime + ":" + this.selectedStart;
                        var endTime = this.endTime + ":" + this.selectedEnd;
                        var beginningTime = moment(startTime, 'h:mma');
                        var endingTime = moment(endTime, 'h:mma');
                        if (!beginningTime.isBefore(endingTime)) {
                            return false;
                        }
                        this.$.endTimeContainer.isValid();
                    }
                      else {
                        return true;
                    }
                    return true;
                }
                return false;
            },

          validateStartTime: function () {
                var regx = /^(0?[1-9]|1[012]):([0-5][0-9])$/g;
                if (regx.test(this.startTime)) {
                    if (this.endTime!="") {
                        // endTime is already entered
                        var startTime = this.startTime + ":" + this.selectedStart;
                        var endTime = this.endTime + ":" + this.selectedEnd;
                        var beginningTime = moment(startTime, 'h:mma');
                        var endingTime = moment(endTime, 'h:mma');
                        if (!beginningTime.isBefore(endingTime)) {
                            return false;
                        }
                        this.$.startTimeContainer.isValid();
                        this.$.validateEndTime.isValid();
                        return true;
                    }
                    else{
                        this.$.startTimeContainer.isValid();
                        this.$.validateEndTime.isValid();
                    }
                    return true;
                }
                return false;
            },

          validateEndTime: function () {
              var regx = /^(0?[1-9]|1[012]):([0-5][0-9])$/g;
                if (this.endTime) {
                   if (regx.test(this.endTime)) {
                        if (this.startTime) {
                            // endTime is already entered
                            var startTime = this.startTime + ":" + this.selectedStart;
                            var endTime = this.endTime + ":" + this.selectedEnd;
                            var beginningTime = moment(startTime, 'h:mma');
                            var endingTime = moment(endTime, 'h:mma');
                            if (!beginningTime.isBefore(endingTime)) {
                                return false;
                            }
                            this.$.validateStartTime.isValid();
                       }
                        return true;
                   }
                    return false;
                }
                return true;
            },

            endTimeValidator: function (value) {
                var regx = /^(0?[1-9]|1[012]):([0-5][0-9])$/g;
                  if(value===""){
                    return true;
                }
                if (regx.test(value)) {
                    if (this.startTime) {
                        // endTime is already entered
                        var startTime = this.startTime + ":" + this.selectedStart;
                        var endTime = value + ":" + this.selectedEnd;
                        var beginningTime = moment(startTime, 'h:mma');
                        var endingTime = moment(endTime, 'h:mma');
                        if (!beginningTime.isBefore(endingTime)) {
                            return false;
                        }
                        this.$.startTimeContainer.isValid();
                    }
                    return true;
                }
                return false;
            },
          startCurrentTimeValidator: function () {
                var regx = /^(0?[1-9]|1[012]):([0-5][0-9])$/g;
                if (regx.test(this.startTime)) {
                    var startTime = this.startTime + ":" + this.selectedStart;
                    var startingTime = moment(startTime, 'h:mma');
                    var currentTime = moment().format("h:mma");
                    var QWEQWEQWEQW = moment(currentTime, 'h:mma');
                    if (!QWEQWEQWEQW.isBefore(startingTime)) {
                        return false;
                    }
                    if (this.endTime) {
                        // endTime is already entered
                        var startTime = this.startTime + ":" + this.selectedStart;
                        var endTime = this.endTime + ":" + this.selectedEnd;
                        var beginningTime = moment(startTime, 'h:mma');
                        var endingTime = moment(endTime, 'h:mma');
                        if (!beginningTime.isBefore(endingTime)) {
                            return false;
                        }
                        this.$.endTimeContainer.isValid();
                    }
                    return true;
                }
                return false;
            },

            checkEventToday: function (date) {
                var todayDate = moment().format("YYYY-MM-DD");
                return moment(todayDate).isSame(date);
            }

   });
 </script>
</dom-module>
