<dom-module id="ui-input-checkbox">
  <template>
    <div class="custom-checkbox">
        <input id$="{{id}}" type="checkbox" on-change="checkBoxClicked">
        <label><content></content></label>
    </div>
</template>
<script>
   Polymer({
        is:'ui-input-checkbox',
        properties:{
               title:String,
               id : {
                  type:String,
                  value:''
               },
               value :{
                  type :Boolean,
                  value:false
               }
        },

        observers: [
            "onValueChanged(value)",
        ],

        onValueChanged: function (value) {
            if (value == "True" || value == "TRUE" || value == true) {
                value = true;
            }
            else {
                value = false;
            }
            this.querySelector('input[type="checkbox"]').checked = value;
        },

        checkBoxClicked: function (e) {
          if(e){
            this.set("value", e.target.checked);
          }
        }
  });
</script>
</dom-module>
