<dom-module id="ui-popover">
    <template>
        <div data-toggle="popover">
            <!--- Only if it is not on full element -->
            <template is="dom-if"
                      if="[[_showIcon(selectorElement)]]">
                <!-- Content passed -->
                <template is="dom-if"
                          if="[[customIcon]]">
                    <content></content>
                </template>
                <!-- Default icon -->
                <template is="dom-if"
                          if="[[!customIcon]]">
                    <i class="default-icon glyphicon glyphicon-info-sign"></i>
                </template>
            </template>

            <!-- popover content-->
            <div class="hide popover-content">
                <div class="title">[[title]]</div>
                <div class="body-text">
                    [[bodyText]]
                </div>
            </div>
        </div>
    </template>
    <!-- component JS -->
    <script>
        Polymer({
            is: 'ui-popover',

            properties: {
                title: String,
                bodyText: String,
                customIcon: {
                    type: Boolean,
                    value: false
                },

                /* properties to configure popover */
                placement: {
                    type: String,
                    value: 'top'
                }, trigger: {
                    type: String,
                    value: 'hover'
                },
                selectorElement: {
                    type: String,
                    value: 'icon'
                },

                /* properties for appearance */
                colorTitle: {
                    type: String,
                    value: '#0095d0'
                },
                colorBodyText: {
                    type: String,
                    value: '#58595b'
                },

                /*Pass HTML to show in popover*/
                customHtml: String
            },

            _showIcon: function (selectorElement) {
                return selectorElement == 'icon';
            },

            htmlContent: function () {
                var htmlConent =
                    "<div>" +
                    "<span class='title'>" + this.title + "</span>" +
                    "</div>";
                return htmlConent;
            },

            attached: function () {
                var self = this;
                //Just to make sure that all the dependencies have been loaded
                self.async(function () {
                    //Configuration of popover
                    var _popOverConfig = {
                        placement: self.placement,
                        trigger: self.trigger,
                        container: "body",
                        html: "true",
                        content: function () {
                            if (self.customHtml) {
                                return self.customHtml;
                            } else {
                                var _element = self.querySelector('div.popover-content');
                                //Set title & body-text color
                                _element.querySelector('.title').style.color = self.colorTitle;
                                _element.querySelector('.body-text').style.color = self.colorBodyText;

                                return _element.innerHTML;
                            }
                        }
                    }

                    //Set popover on either full element or icon inside element
                    if (self.selectorElement == 'self') {
                        $(self.parentNode.parentNode).popover(_popOverConfig);
                    } else {
                        _popOverConfig.selector = "[data-toggle='popover']";
                        $(self).popover(_popOverConfig);
                    }
                });
            }
        });
    </script>
</dom-module>