<html-import html-href="ui-elements/modal/ui-modal.html">
</html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="activities/change-entity-status.html"></html-import>
<html-import html-href="services/application-service.html"></html-import>

<dom-module id="ui-progress-bar-status">
    <template>
        <style>
            :host::content .modal-dialog {
                height: 352px;
            }

            :host::content .modal-content {
                width: 460px;
            }

            .progress.active .progress-bar,
            .progress-bar.active {
                -webkit-animation: progress-bar-stripes 2s linear infinite;
                -o-animation: progress-bar-stripes 2s linear infinite;
                animation: progress-bar-stripes 2s linear infinite;
            }

            .progress-striped .progress-bar,
            .progress-bar-striped {
                background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-size: 40px 40px;
            }

            @media only screen and (max-width:600px) {
                :host::content .modal-content {
                    width: 90%;
                    padding: 30px 20px;
                }
            }

            :host::content .modal-header {
                border: 0;
                border-bottom: 1px solid #eee;
                margin: 0;
                padding: 0;
                padding-bottom: 5px;
                margin-bottom: 25px;
            }

            .noborder {
                border-right: 0 !important;
            }

            .ui-modal-trigger a {
                cursor: pointer;
            }

            .noborder {
                border-right: 0;
            }
        </style>
        <div class="progress-wrap clearfix">
            <div class="progress my-reverse-class">
                <template is="dom-repeat" items="{{ milestoneStatuses }}" as="status">
                    <div hidden$=[[!showModalPopup(status.code)]]>
                        <a href="javascipt:void(0);" on-click="triggerModalPopup">
                            <div class$="[[applyClasses(status.code,status.name)]]" role="progressbar">
                                <span class="text-transform">[[status.label ]]</span>
                                <span class="df df-tick" hidden$=[[!showMarkAsCompleted(status.code,status.name)]]>&nbsp;</span>
                            </div>
                        </a>
                    </div>
                    <div hidden$=[[showModalPopup(status.code)]]>
                        <div class$="[[applyClasses(status.code,status.name)]]" role="progressbar">
                            <span class="text-transform">[[status.label ]]</span>
                            <span class="df df-tick" hidden$=[[!showMarkAsCompleted(status.code,status.name)]]>&nbsp;</span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <div>
            <ui-modal id="changeEntityStatus" modal-size="small">
                <template is="dom-if" if="{{ isOpen}}" restamp>
                    <change-entity-status entity-type="[[entityType]]" entity-id="[[entityId]]"></change-entity-status>
                </template>
            </ui-modal>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub">
            <event-subscription event="activity:refresh" handler="refreshProgressStatus"></event-subscription>
        </event-hub>
        <application-service id="applicationService"></application-service>
        <status-management-service id="statusManagementService"></status-management-service>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-progress-bar-status",
            behaviors: [eventHub, alloy.activity, alloy.ensureDependenciesBehavior],

            listeners: {
                "handle-manual-popup-close": "handleManualPopupClose",

            },

            properties: {
                entityType: {
                    type: String
                },
                entityId: {
                    type: String
                },
                modalPopupTrigger: {
                    type: Boolean,
                    value: false
                },
                isOpen: {
                    type: Boolean,
                    value: false
                },
                currentStatus: {
                    type: Object
                },
                statusNames: {
                    type: Array,
                    value:[]
                },
                completedStatuses: {
                    type: Object
                },
                milestoneStatuses: {},
                isCompleted: {
                    type: Boolean
                }
            },
            baseUrl: null,

            attached: function () {
                if (this.configuration.services.configuration == undefined) {
                    throw new Error("configuration service not found");
                }
                this.baseUrl = this.configuration.services.configuration;
                this.getApplicationStatuses();
            },


            refreshProgressStatus: function () {
                this.getApplicationStatuses();
            },
            triggerModalPopup: function (e) {
                if (this.configuration.apps.securityLogin.configuration.portal !== "affinity-partner") {
                    if (typeof this.$.changeEntityStatus !== "undefined") {
                        this.set("isOpen", true);
                        this.$.changeEntityStatus.open({
                            backdrop: false
                        });
                    }
                }

                e.preventDefault();
            },
            handleManualPopupClose: function () {
                if (typeof this.$.changeEntityStatus !== "undefined") {
                    this.set("isOpen", false);
                    this.$.changeEntityStatus.close();

                }
            },
            getApplicationStatuses: function () {
                var self = this;
                return this.ensure("applicationService")
                    .then(function (applicationService) {
                        return applicationService.getByApplicationNumber(self.entityId)
                            .then(function (response) {
                                if (response != null) {
                                    self.set("currentStatus", response.status);
                                    self.set("completedStatuses", response.completedStatuses);
                                }
                                self.getMilestoneStatuses();
                            })
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            getMilestoneStatuses: function () {
                var self = this;
                if (this.configuration.services.configuration == undefined) {
                    throw new Error("configuration service not found");
                }
                return self.$.http.get("status-milestone", this.configuration.services.configuration).then(
                    function (response) {
                        if (typeof response.entityTypes[self.entityType.toLowerCase()] !== "undefined")
                            return response.entityTypes[self.entityType.toLowerCase()].statuses;

                    }).then(function (statuses) {
                    self.set("milestoneStatuses", statuses);
                    for(var i=0; i<self.milestoneStatuses.length;i++){
                        self.statusNames.push(self.milestoneStatuses[i].name);
                }
                });
            },


            applyClasses: function (code, name) {
                var self = this;
                var classes = ["progress-bar", "progressBarwidth"];
                var style = "progress-bar-" + self.currentStatus.name.toLowerCase();
                if (self.isCurrentStatus(code)) {
                    classes.push(style);
                    classes.push("progress-bar-striped active");
                }
                if (self.isStatusCompleted(code,name)) {
                    classes.push(style);
                    classes.push("progress-bar-striped completed");
                }
                if (name === "Funding") {
                    classes.push("noborder");
                }

                return classes.join(" ");
            },
            showMarkAsCompleted: function (code,name) {
                var self = this;
                return self.isStatusCompleted(code,name);

            },
            isCurrentStatus: function (code) {
                var self = this;
                if (self.currentStatus != null)

                    return code === self.currentStatus.code;

                return false;
            },
            isStatusCompleted: function (code,name) {
                var self = this;
                if (self.currentStatus != null) {
                    var completed=  self.statusNames.indexOf(name)<self.statusNames.indexOf(self.currentStatus.name);
                    self.set("isCompleted", completed);
                    return completed;
                   }
            },
            showModalPopup: function (code) {
                var self = this;
                return self.modalPopupTrigger && self.isCurrentStatus(code);
            }

        });
    </script>
</dom-module>