<html-import html-href="event/hub.html"></html-import>
<dom-module id="ui-summary-required-questions">
    <template>
        <style>
            .spacer {
                border-bottom: 1px solid #95989A;
                margin: 20px 0;
            }
        </style>
        <template is="dom-if"
            if="[[ showRequiredQuestion(requiredQuestion) ]]">
            <p class="subsection-heading">Please respond to the following mandatory question to proceed further.</p>
            <div class="sub-heading">Click the list of questions to respond.</div>

            <template is="dom-repeat"
                items="{{ requiredQuestion }}" restamp>
                <span style="white-space: pre-wrap"
                    class="question-text"
                    on-click="handleRedirectClick"
                    id$="[[ getDynamicId(index) ]]">[[ getInnerHtml(index, item.questionText, requiredQuestion.length) ]]</span>
                <div class="clearfix"></div>
            </template>

            <div class="spacer clearfix"></div>
        </template>
        <url-parser id="url"></url-parser>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <event-hub id="hub"></event-hub>
    </template>

    <script>
        Polymer({
            is: "ui-summary-required-questions",

            properties: {
                payloadForRedirect: Object,
                temporaryApplicationNumber: String,
                editLink: {
                    type: Boolean,
                    value: false
                },
                requiredQuestion: {
                    type: Array,
                    notify: true,
                    observe: true
                },
                subscriptionList: {
                    type: Array,
                    value: []
                },
            },

            behaviors: [
                eventHub
            ],

            observers: [
                'checkRequiredQuestion(userSummary)'
            ],
            attached: function () {
                var self = this;
                var temporaryApplicationNumber = self.$.url.getParams().id;
                self.set('temporaryApplicationNumber', temporaryApplicationNumber);
                this.subscriptionList.push(this.subscribe('handleReject', this.handleRedirect.bind(this)));
                this.subscriptionList.push(this.subscribe('handleConfirm', this.handleEmployementGap.bind(this)));

            },
            detached: function () {
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },
            checkRequiredQuestion: function (userSummary) {
                var self = this;
                var isRequiredQuestionAnswered = true;
                var cnt = 0;
                //check both the users's required questions are answered or not
                _.forEach(userSummary, function (item) {
                    _.filter(item, function (o) {
                        if (o.requiredQuestions && o.requiredQuestions !== null && o.requiredQuestions.length > 0) {
                            isRequiredQuestionAnswered = false;
                            cnt = cnt + o.requiredQuestions.length;
                        }
                    });
                })

                if(userSummary.length > 1) {
                    var array = self.changeJsonArray(userSummary[1]);
                    if(array[0].requiredQuestions && array[0].requiredQuestions !== null && array[0].requiredQuestions.length > 0)
                        self.publish('displaySummaryMessage',{display: true});
                    else
                        self.publish('displaySummaryMessage',{display: false});
                }

                if (!isRequiredQuestionAnswered) {
                    self.$.hub.publish("buttons:disable", {
                        disableButton: cnt
                    });
                    return true;
                }
                else{
                    self.$.hub.publish("buttons:enable", {});
                }
            },

            changeJsonArray: function (item) {
                return _.filter(item, function (o) { return o.subSectionSummary; });;
            },
            
            showRequiredQuestion: function (requiredQuestions) {
                if (requiredQuestions.length > 0) {
                    return true;
                }
            },

            counterDisplay: function (index) {
                return index + 1;
            },
            handleRedirectClick: function (e) {
                var self = this;
                var requiredQuestionPayload = e.model.item;
                this.set("payloadForRedirect", requiredQuestionPayload);

                if (requiredQuestionPayload.isEmploymentGap){
                    this.publish('publish-modal', {
                                confirmTitle: requiredQuestionPayload.employementGapPopupTitle,
                                dateValue:  requiredQuestionPayload.employementGapPopupText,
                                subtitle: "Is this correct ?",
                              });
                } 
                else if  (requiredQuestionPayload.isMissingCoBorrower || requiredQuestionPayload.isMissingCoBorrowerWithSpouse){
                                this.publish('publish-modal', {
                                confirmTitle: requiredQuestionPayload.employementGapPopupText,
                                dateValue:  "",
                                subtitle: requiredQuestionPayload.employementGapPopupTitle,
                              });
                            
                }   
                else
                    this.redirectToSection(this.payloadForRedirect);
            },
            handleRedirect: function () {
                if (!this.payloadForRedirect) return
               if(this.payloadForRedirect.isMissingCoBorrower){
                  this.removeCoBorrower(this.payloadForRedirect);
               }
               else if(this.payloadForRedirect.isMissingCoBorrowerWithSpouse){
                  this.updateLoanStatus(this.payloadForRedirect);
               }
               else{
                this.redirectToSection(this.payloadForRedirect);
               }
            },
            handleEmployementGap: function () {
                if (!this.payloadForRedirect) return
                if(this.payloadForRedirect.isMissingCoBorrower  || this.payloadForRedirect.isMissingCoBorrowerWithSpouse){
                  this.redirectToSection(this.payloadForRedirect);
               }
               else{
                this.removeAndUpdateRequireQuestion(this.payloadForRedirect);
               }
            },
            updateLoanStatus: function(){
                var self = this;
                self.publish("loaderInvite:show","Hold on just a few more seconds.");
                self.$.questionnaireService.changeLoanStatus(self.temporaryApplicationNumber).then(function(response){
                    self.publish("refreshSummarySection",{
                        temporaryApplicationNumber:self.temporaryApplicationNumber
                        })
                })
            },
            removeCoBorrower: function(){
                var self = this;
                self.publish("loaderInvite:show","Hold on just a few more seconds.");
                self.$.questionnaireService.removeCoborrower(self.temporaryApplicationNumber).then(function(response){
                    self.publish("refreshSummarySection",{
                        temporaryApplicationNumber:self.temporaryApplicationNumber
                        })
                })
            },
            removeAndUpdateRequireQuestion: function (response) {
                if (!response) return
                var self = this;
                if(response != null && response != undefined)
                {
                    var _currentSubSectionIndex = _.findIndex(self.requiredQuestion, { subSectionId: response.subSectionId, questionId : response.questionId });
                    if (_currentSubSectionIndex > -1 && response.employmentGapPayload != null) {
                        var payload = {"Answer": "yes"};
                        //Call endpoint to update
                        self.$.questionnaireService.updateQuestionAns(self.temporaryApplicationNumber, response.employmentGapPayload.sectionId, response.employmentGapPayload.subSectionId, response.employmentGapPayload.questionSectionSeqNo, response.employmentGapPayload.questionId, payload, "Employment Gap");
                        
                        self.requiredQuestion.splice(_currentSubSectionIndex, 1);
                        var requiredQuestionCopy = self.requiredQuestion;
                        self.set('requiredQuestion', []);
                        self.set('requiredQuestion', requiredQuestionCopy);
                        self.checkRequiredQuestion(self.userSummary);
                    }
                }
            },
            redirectToSection: function (payload) {
                if (!this.editLink) return
                if (!payload) return
                var self = this;
                var sectionId = payload.sectionId;
                var subSectionId = payload.subSectionId;
                var highestSectionReached = payload.highestSectionReached;
                var highestSubSectionReached = payload.highestSubSectionReached;
                //reorder array of required questions to have the clicked one at the beginning
                var requiredQuestionCompleteList = [];

                var index = 0;
                for (var i = 0; i < self.requiredQuestion.length; i++) {
                    var el = self.requiredQuestion[i];
                    if (el.sectionId == sectionId && el.subSectionId == subSectionId)
                        index = i;

                    // TODO Find a different way to make it work in case of Sex Race
                    if (el.sectionId == 4 && (el.questionId == 65 || el.questionId == 1065 || el.questionId == 70
                        || el.questionId == 1070 || el.questionId == 78
                        || el.questionId == 1078 || el.questionId == 48 || el.questionId == 1048 || el.questionId == 50 || el.questionId == 1050)) {
                        el.questionId = (el.questionId - 1).toString();
                    }
                    var sectionIndex = _.findIndex(requiredQuestionCompleteList, { 'section': el.sectionId, 'subSection': el.subSectionId });
                    if (sectionIndex >= 0)
                        requiredQuestionCompleteList[sectionIndex]['questions'].push(el.questionId);
                    else
                        requiredQuestionCompleteList.push({ 'section': el.sectionId, 'subSection': el.subSectionId, 'questions': [el.questionId] });
                }
                // pick up the array elements after the specified index
                self.requiredQuestion = self.requiredQuestion.slice(index, self.requiredQuestion.length);

                //Loop over the requiredQuestion and remove the duplicate section/sub-section
                var result = self.requiredQuestion.filter(function (a) {
                    var key = a.sectionId + '|' + a.subSectionId;
                    if (!this[key]) {
                        this[key] = true;
                        return true;
                    }
                }, Object.create(null));

                self.$.hub.publish("section:redirect", {
                    lastAccessedSectionId: sectionId,
                    lastAccessedSubSectionId: subSectionId,
                    highestSectionReached: highestSectionReached,
                    highestSubSectionReached: highestSubSectionReached,
                    isSummaryEdit: true,
                    requiredQuestionList: result,
                    requiredQuestionCompleteList: requiredQuestionCompleteList
                });
            },
            getDynamicId: function (index) {
                return "RequiredQuestion" + index;
            },

            getInnerHtml: function (index, questionText, length) {
                var questionIndex = this.counterDisplay(index);
                var self = this;
                this.async(function () {
                    var el = self.querySelector('#RequiredQuestion' + index);
                    if (el)
                        el.innerHTML = questionIndex + ". " + questionText;
                }, 57);
            }
        });
    </script>
</dom-module>