<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="ui-tour">
    <template>
        <style>
            :host::content .modal {
                z-index: 99999999;
            }
        </style>
        <div class="takeatour">
        	<div class="tour-header"><img src$="{{configuration.base}}docitt/images/tour/tour-header.jpg"/></div>
            <template is="dom-repeat" items="[[ tourDetails ]]">
                <img data-group$="[[ getIndex(index) ]]" class$="[[ getDesktopClass(index) ]]" src="[[ item.pic ]]"/>
                <img data-group$="[[ getIndex(index) ]]" class$="[[ getMobileClass(index) ]]"
                     src="[[ item.mobilePic ]]"/>
            </template>
        </div>
        
        <div class="tour-bottom">
            <a href="javascript:void(0);" class="close" on-tap="exitTour">X</a>
            <div class="tour-text">
                <h4>[[ _arrayTitleItem(tourDetails.*, currentPos) ]]</h4>
                <p>[[ _arrayContentItem(tourDetails.*, currentPos) ]]</p>
            </div>
            <!--<button on-tap="prev">[[ _arrayContentItem(tourDetails.*, currentPos) ]]</button>-->
            <div class="text-center">
                <button on-tap="next">[[ _arrayButtonItem(tourDetails.*, currentPos) ]]</button>
            </div>
        </div>

        <ui-confirm id="confirmTour" class="confirmTour" buttons="[[ confirmButtons ]]"
                    confirm-title="Would you like to skip the rest of the tour?"></ui-confirm>

        <ui-modal id="tourFinish" class="tour-finished-popup" hide-close-button>
            <span class="img-circle"><span class="df df-tick"></span></span>
            <h4>You're ready to begin!</h4>
            <p>We are continually making updates to our software. As we launch new features in the upcoming months we
                will notify you through our application.</p>
            <div class="letsgo text-center">
                <button on-tap="handleConfirmExit">Let's go</button>
            </div>
        </ui-modal>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-tour",

            behaviors: [eventHub],

            listeners: {
                "confirm": "handleConfirmExit"
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            properties: {
                currentPos: {
                    type: Number,
                    value: 0
                },
                confirmButtons: {
                    value: [
                        {
                            text: "Yes",
                            color: "default",
                            clickHandler: function () {
                                this.fire("confirm", {
                                    confirm: this
                                });
                                this.close();
                            }
                        },
                        {
                            text: "No",
                            color: "default",
                            clickHandler: function () {
                                this.fire("cancel", {
                                    confirm: this
                                });
                                this.close();
                            }
                        }
                    ]
                }
            },

            getIndex: function (index) {
                return index;
            },

            getDesktopClass: function (index) {
                var defaultClass = ["tourImg", "hidden-xs"];
                if (index === 0)
                    defaultClass.push("active");
                else
                    defaultClass.push("hidden");

                return defaultClass.join(" ");
            },

            getMobileClass: function (index) {
                var defaultClass = ["tourImg", "hidden-lg", "hidden-md", "hidden-sm"];
                if (index === 0)
                    defaultClass.push("active");
                else
                    defaultClass.push("hidden");

                return defaultClass.join(" ");
            },

            _arrayTitleItem: function (change, index) {
                return change.base[index].headerTitle;
            },

            _arrayContentItem: function (change, index) {
                return change.base[index].content;
            },

            _arrayButtonItem: function (change, index) {
                return change.base[index].buttonTitle;
            },

            next: function () {
                if (this.currentPos < this.tourDetails.length - 1) {
                    var elementsToHide = $("img[data-group='" + this.currentPos + "']");
                    $(elementsToHide[0]).removeClass("active").addClass("hidden");
                    $(elementsToHide[1]).removeClass("active").addClass("hidden");

                    this.currentPos = this.currentPos + 1;
                    var elementsToShow = $("img[data-group='" + this.currentPos + "']");
                    $(elementsToShow[0]).removeClass("hidden").addClass("active");
                    $(elementsToShow[1]).removeClass("hidden").addClass("active");
                } else {
                    //this.currentPos = 0;
                    document.querySelector('div.tour-bottom').style.visibility = 'hidden';
                    this.$.tourFinish.open({
                        backdrop: 'static',
                        keyboard: false
                    });
                }
            },

            exitTour: function () {
                this.$.confirmTour.open();
            },

            handleConfirmExit: function () {
                var self = this;
                this.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.updateStatus(self.applicationNumber, "WelcomePersonalDashboard")
                                    .then(function (response) {
                                        if (response)
                                            window.location.hash = self.redirectUrl;
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    });
                        });
            }
        })
    </script>
    <style>
        .modal-backdrop {
            z-index: -999
        }
    </style>
</dom-module>