<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="../script/bootstrap-tooltip.js"></script>
<dom-module id="ui-tooltip">
  <template>
      <style>
          :host {
              position: absolute;
              right: 2px;
              bottom: 5px;
              z-index: 999;
          }
          :host::content .tooltip > .tooltip-inner {
              max-width: 350px;
              width: 350px;
          }
      </style>
    <span class="toolTip" data-placement="{{ placement }}" data-toggle="tooltip"
          title="{{ title }}">
        <content></content>
    </span>
  </template>

  <script>
    Polymer({
      is : "ui-tooltip",

      properties : {
          title: {
              value: "Tooltip",
              type: String
          },
          placement: {
              value: "auto",
              type: String
          }
      },
      attached : function() {
        var self = this;
        if (window.jQuery) {
            self.init();
        } else {
            window.addEventListener("WebComponentsReady", self.init());
        }
      },

        init: function () {
            $('.toolTip').tooltip();
        }
    });
  </script>
</dom-module>
