<link rel="stylesheet" href="https://cdn.plyr.io/3.5.2/plyr.css">

<script src="https://cdn.plyr.io/3.5.2/plyr.polyfilled.js"></script>
<dom-module id="ui-video">
    <template>
        <style>
            /* This is purely for the demo */
            .plyr {
                border-radius: 4px;
                margin-bottom: 15px;
            }
            /* The Modal (background) */
            .modal-wrapper {
                position: fixed; /* Stay in place */
                z-index: 999999; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background: rgba(25,30,44,.8); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content-wrapper {
                position: fixed;
                padding: 0px;
                /* Width of popup can be changed
                width: 100%; */
                max-width: 64%;
                width: 64%;
                z-index: 5001;
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                text-align: center;
            }

            /* The Close Button */
            .close-btn {
                color: white;
                font-size: 28px;
                font-weight: bold;
                position: absolute;
                z-index: 1;
                float: right;
                right: -3%;
                top: -14px;
            }
            .close-btn:hover,
            .close-btn:focus {
                color: #00a7f8;
                text-decoration: none;
                cursor: pointer;
            }
            .plyr__video-embed { padding-bottom: 55%;}
            .plyr__video-wrapper {
                width: 100%;
            }
            @media (min-width: 741px) and (max-width: 768px) {
                .modal-content-wrapper {
                    max-width: 90%;
                    width: 90%;
                }
            }
            @media only screen and (min-width: 640px) and (max-width: 731px){
                .close-btn {right: -5%;}
            }
            @media (max-width:430px){
                .modal-content-wrapper {max-width: 82%;width: 82%;}
                .close-btn {right: -7%;}
            }
        </style>
        <div>
            <div class="container">
                <a on-click="openVideoPopup" href="javascript:void(0)"><img class="video-poster" /></a>
            </div>
            <div hidden$="[[ modalState ]]" id="videoModal" class="modal-wrapper">
                <div class="modal-content-wrapper">
                    <span on-click="closeVideoPopup" class="close-btn">&times;</span>
                    <div id="player"></div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-video",

            properties: {
                instances: Object,
                modalState: {
                    type: Boolean,
                    value: true
                },
                youtube:false,
                vimeo:false,
                dataType: "youtube",
                videoId: "",
            },

            observers: [
               'checkvideoType(videoUrl)'
            ],

            openVideoPopup: function () {
                this.set('modalState', false);
                this.instances.play();
            },

            closeVideoPopup: function () {
                this.set('modalState', true);
                this.instances.stop();
            },

            checkvideoType: function (url) {
                url.match(/(http:|https:|)\/\/(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);
                var self = this;
                if (RegExp.$3.indexOf('youtu') > -1) {
                    self.querySelector('#player').setAttribute('data-plyr-provider', 'youtube')
                    self.querySelector('#player').setAttribute('data-plyr-embed-id', url)
                    var video_id = url.split('v=')[1];
                    var ampersandPosition = video_id.indexOf('&');
                    if(ampersandPosition != -1) {
                        video_id = video_id.substring(0, ampersandPosition);
                    }

                    var poster = 'https://img.youtube.com/vi/' + video_id +'/0.jpg';
                    self.querySelector('.video-poster').setAttribute('src', poster);
                    self.async(function () {
                        self.instanciatePlayer()
                    }, 2000)
                } else if (RegExp.$3.indexOf('vimeo') > -1) {
                    self.querySelector('#player').setAttribute('data-plyr-provider', 'vimeo')
                    self.querySelector('#player').setAttribute('data-plyr-embed-id', url)

                    $.ajax({
                        type:'GET',
                        url: 'https://vimeo.com/api/oembed.json?url='+ url,
                        jsonp: 'callback',
                        dataType: 'jsonp',
                        success: function(data){
                            if (data.thumbnail_url_with_play_button)
                                self.querySelector('.video-poster').setAttribute('src', data.thumbnail_url_with_play_button);
                            self.querySelector('.video-poster').setAttribute('alt', data.title)
                            self.instanciatePlayer()
                        }
                    });
                }
            },

            instanciatePlayer: function () {
                var self = this;
                this.instances = new Plyr('#player');
                var modal = document.getElementById('videoModal');
                window.onclick = function(event) {
                    if (event.target == modal) {
                        self.closeVideoPopup();
                    }
                };
            }
        });
    </script>
</dom-module>