<html-import html-href="lender-portal/application-summary/view.html"></html-import>
<dom-module id="lender-detailed-loan-summary-container">
    <template>
        <style>
            .container {width:84%;padding:0;border:0; outline:none}
            @media only screen and (max-width:1260px){
                .container {width:100%;padding-left:15px;padding-right:15px;}
            }
            :host::content entity-view .row {
                margin-left: 0;
                margin-right: 0;
            }
        </style>
        <template is="dom-if" if="[[ !hideBorrowerDetail(config) ]]">
            <micro-app app-id="header-panel"></micro-app>
        </template>
        <div class="container">
            <div class="back-btn clearfix">
                <template is="dom-if" if="{{ !hideBorrowerDetail(config) }}">
                        <a href="javascript:void(0);" on-click="redirectToHome"><span class="df df-back"></span> HOME</a>                    
                </template>
            </div>
            <lender-detailed-application-summary-view config="[[ config ]]"></lender-detailed-application-summary-view>
        </div>
    </template>
    <script>
        Polymer({
            is: "lender-detailed-loan-summary-container",

            properties: {
                config: Object
            },

            redirectToHome: function () {
                window.location.hash = this.config.homePageUrl;
            },
            hideBorrowerDetail: function(config)
            {
                if(config && config.hideBorrowerDetail)
                    return config.hideBorrowerDetail;
                return false;
            }
        });
    </script>
</dom-module>
