<html-import html-href="lender-portal/loan/borrower-info.html"></html-import>
<html-import html-href="lender-portal/loan/loan-details.html"></html-import>
<html-import html-href="tabs/lender/application-summary.html"></html-import>
<html-import html-href="summary/property-info.html"></html-import>
<html-import html-href="summary/loan-detail.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<dom-module id="lender-detailed-application-summary-view">
    <template>
             <template is="dom-if" if="{{ isAssignedToMe }}">
        <div class="agent-details clearfix">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 no-pad">
                <lender-application-borrower-info application="[[ application ]]"
                                                  borrower="[[ borrower ]]"></lender-application-borrower-info>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 no-pad agent-det-clmn2">
                <span class="orange">[[ affinityName ]]</span>
                <span>[[ affinityTitle ]]</span>
                <span><alloy-format phone-number="[[ affinityPhone ]]"></alloy-format></span>
                <span>[[ affinityEmail ]]</span>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 no-pad">
                <div class="det-text">
                    <p class="charge-bx" hidden$="[[ !showLoanAmount ]]"><strong>$[[ loanAmount ]]</strong></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-pad" hidden$="[[ !showAddress ]]">
                <span class="df df-location"></span>
                <div class="det-text address">
                    <property-info state="[[state ]]" city="[[ city ]]" zip-code="[[ zipcode]]"
                                   address-line="[[ addressLine]]"></property-info>
                </div>
            </div>
        </div>
       
        <application-summary borrower="[[ borrower ]]" temporary-application-number="[[ temporaryApplicationNumber ]]"></application-summary>
    </template>
    
        <url-parser id="urlParser"></url-parser>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <questionnaire-filters-service id="questionnaireFiltersService"></questionnaire-filters-service>
        <logout-service id="logout"></logout-service>
    </template>
    <script>
        Polymer({
            is: "lender-detailed-application-summary-view",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties: {
                application: {
                    type: Object,
                    observer: "handleApplicationReceived"
                },
                loanAmount: {
                    type: String,
                    value: "0"
                },
                showLoanAmount: {
                    type: Boolean,
                    value: false
                },
                showAddress: {
                    type: Boolean,
                    value: false
                },
                isAssignedToMe: {
                    type: Boolean,
                    value: true
                },
                borrower: Object,
                coBorrower: Object,
                config: Object,
                entityId: String
            },
            ready: function () {
                var self = this;
                this.set("entityId", this.$.urlParser.getParams().id);
                
                // Security check 
                if(self.config!=null && self.config.affinityportal)
                {
                    self.ensure("questionnaireFiltersService").then(function (questionnaireFiltersService) {
                        questionnaireFiltersService.isAssignedToMe(self.entityId).then(function (response) {
                        
                            self.set("isAssignedToMe", response.isAssigned);
                            
                            if (!self.isAssignedToMe)
                                self.logout()
                        });
                    });
                }

                this.setLenderApplicationDetails();
                this.getLenderDetails();
            },
            logout: function () {
                this.$.logout.logout();
            },
            formatLoanAmount: function (amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },
            setLenderApplicationDetails: function () {
                var self = this;

                this.ensure("questionnaireService")
                        .then(function (services) {
                            return services.fetchEntityInfo(self.entityId)
                        })
                        .then(function (response) {
                            if (response.loanAmount) {
                                self.set("loanAmount", self.formatLoanAmount(response.loanAmount));
                                self.set('showLoanAmount', true);
                            }

                            if (response.propertyAddress) {
                                self.set("state", response.propertyAddress.state === "." ? "" : response.propertyAddress.state);
                                self.set("addressLine", response.propertyAddress.address === "." ? "" : response.propertyAddress.address);

                                self.set("city", response.propertyAddress.city);
                                self.set("zipcode", response.propertyAddress.zip);
                                self.set('showAddress', true);
                            }

                            self.set("temporaryApplicationNumber", response.applicationNumber);

                            self.set("application", {purpose : response.loanPurpose});

                            self.set("borrower", {
                                firstName: response.firstName,
                                lastName: response.lastName,
                                email: response.email,
                                phoneNumbers : [{
                                    isPrimary: false,
                                    number: response.phoneNumber
                                },
                                {
                                    isPrimary: true,
                                    number: response.cellPhoneNumber
                                }]
                            });
                        });
            },
            handleApplicationReceived: function (application) {
                this.setBorrowers(application);
            },

            setBorrowers: function (application) {
                var borrower = _.find(application.applicants, function (applicant) {
                    return applicant.isPrimary === true;
                });

                this.set("borrower", borrower);

            },
            getLenderDetails: function () {
                var self = this;
                self.ensure('assignmentService').then(function (assignmentService) {
                    assignmentService.fetchLoanAssignedOfficer(self.entityId, 'Affinity Partner Admin').then(function (response) {
                        if (response) {
                            self.$.userProfileService.fetchUserProfile(response.assignee).then(function (response) {
                                self.set('affinityName', response.firstName + " " + response.lastName);
                                self.set('affinityTitle', response.title);
                                self.set('affinityEmail', response.email);
                                self.set('affinityPhone', response.mobileNumber);
                            });
                        }
                    });
                });
            }
        });
    </script>
</dom-module>