<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>

<dom-module id="ui-dropdown-state">
    <template>
        <ui-options label="[[ label ]]"
                    name="state"
                    items="{{ states }}"
                    button-text="State">
            <ui-validators>
                <ui-require-field>State of residence is required.</ui-require-field>
            </ui-validators>
        </ui-options>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-dropdown-state",

            properties: {
                label: {
                    type: String,
                    value: "State"
                },
                states: {
                    type: Array,
                    value: function () { return [] }
                }
            },

            attached: function () {
                var self = this;
                if(this.configuration.services.lookup == undefined){
                    throw new Error("service not found");
                }
                self.$.http.get("us-states", this.configuration.services.lookup)
                    .then(function (states) {
                        self.states =
                            Object.keys(states).map(function (state) {
                                var capitalizedState =
                                    state[0].toUpperCase() +
                                    state.substring(1);

                                return {
                                    value: states[state],
                                    label: capitalizedState
                                };
                            });

                    })
            }
        })
    </script>
</dom-module>