<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/ui-custom-button.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="chat-interface">
    <template>
        <style>
            :host {
                --form-control-border-radius: 0px;
                --textarea-border-right: 5px solid #F3F3F3 !important;
                --textarea-border-left: 5px solid #F3F3F3 !important;
                --textarea-border-top: 5px solid #F3F3F3 !important;
                --textarea-border-bottom: 5px solid #F3F3F3 !important;
                --textarea-font-size: 14px;
                --textarea-padding-left: 10px;
                --textarea-padding-top: 5px;
            }
            .chatbox{width:100%;border:5px solid #eee;}
            .attach,
            .chatbtn{position: absolute;bottom:15px;right:30px; z-index: 9999 !important;}
            .attach{left:15px;right:inherit;}
            :host::content textarea{padding:10px;width:100%;border:0;}
            :host::content .form-group {margin: 0;}
            :host::content button{cursor:pointer !important;border:0 !important; background:transparent !important;color:#0095d0 !important;padding:0 !important;
            }
            :host::content button span{font-weight:700;}
			.loading-container{height:100%;}
        </style>
        <div hidden$="{{ loading }}">
            <div class="chatlist">
                <ul class="chatlistSlimscroll">
                    <template is="dom-if" if="[[ !startChat ]]">
                        <template is="dom-repeat" items="[[ threadChat ]]">
                            <template is="dom-repeat" items="[[ item.messages ]]">
                                <li class="clearfix">
                                    <template is="dom-if" if="[[ !checkLoggedInUser(item.sender) ]]">
                                        <div class="pic">
                                            <img class="img-circle" src="[[ getProfileInitials(item.sender) ]]"
                                                 title="[[ item.sender.name ]]" alt="[[ item.sender.name ]]"/>
                                        </div>
                                    </template>
                                    <div class$="[[ getClasses(item.sender) ]]">
                                        <span class="dt">[[ getDateTime(item.datetime) ]]</span>
                                        <div class="msgtext">
                                            [[ item.message ]]
                                        </div>
                                    </div>
                                </li>
                            </template>
                        </template>
                    </template>
                </ul>
            </div>
            <div class="chatbox">
                <ui-text-area name="chatText"
                              id="chatText"
                              type="textarea"
                              rows="4"
                              value="{{ chatText }}"
                              lock-size="none">
                </ui-text-area>
            </div>
            <div class="attach"><!--<span class="df df-attach"></span><span class="df df-emoji"></span>--></div>
            <div class="chatbtn">
                <ui-custom-button id="submit" color="secondary" disabled="[[ disabled ]]"
                                  on-click="sendMessage" disabled-text="SEND">SEND
                </ui-custom-button>
            </div>
        </div>

        <div class="loading-container animated fadeInUp clearfix" hidden$="{{ !loading }}">
            <loading-indicator></loading-indicator>
        </div>

        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "chat-interface",

            behaviors: [eventHub],

            properties: {
                today: String,
                disabled: {
                    type: Boolean,
                    value: true
                },
                chatText:{
                    type: String,
                    value: ""
                },
                startChat: {
                    type: Boolean,
                    notify: true,
                    observer: 'addUsersToThread'
                },
                threadChat: {
                    type: Array,
                    observer: 'updateThreadId'
                },
                loading: {
                    type: Boolean,
                    notify: true,
                },
                threadId: String
            },

            attached: function () {
                if (window.jQuery) {
                    this.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", this.init());
                }

                this.set("today", moment().format());
            },

            init: function () {
                var self = this;
                // Won't handel non-printable keys like backspace
                $(this).on('keypress', '#chatText', function(e) {
                    if(e.which === 13 && e.shiftKey)
                        return
                    else if (e.which == 13 && !this.disabled) {
                        self.sendMessage();
                        return false;
                    }
                });
                // Handel printable keys like backspace
                $(this).on('keydown', '#chatText', function(e) {
                    var chatText = self.chatText;
                    if (chatText.length > 0)
                        self.set("disabled", false);
                    else
                        self.set("disabled", true);
                });
            },

            addUsersToThread: function (startChat) {
                //console.log(startChat);
                //console.log("team list observer");
            },

            sendMessage: function () {
                var stash = this.stash;
                var chartText = this.chatText;
                if (!chartText) return

                if (this.startChat && stash.length > 0) {
                    this.set("loading", true);
                    this.$.hub.publish("thread:new", {
                        message: this.chatText
                    });
                }
                else if(this.threadId && !this.startChat && !_.isUndefined(this.threadChat)) {
                    this.$.hub.publish("thread:message", {
                        message: this.chatText,
                        threadId: this.threadId,
                        groupId: this.groupId,
                        groupChat: this.groupChat
                    });
                }
                this.set("chatText", "");
                this.set("disabled", true);
                return
            },

            updateThreadId: function (value) {
                if (_.isUndefined(value)) return

                this.set("threadId", value[0].threadId);
                this.set("groupId", value[0].groupId);
                this.set("groupChat", value[0].groupChat);

                var itemContainer = $(".chatlistSlimscroll");
                this.async(function() {
                    var scrollTo_int = itemContainer.prop('scrollHeight') + 'px';
                    itemContainer.slimScroll({
                        scrollTo : scrollTo_int,
                        size: '10px',
                        height: '390px',
                        distance: '0px',
                        start: 'bottom',
                        alwaysVisible: false,
                        opacity: 1
                    });
                }, 200);

            },

            checkLoggedInUser: function (user) {
                //return JSON.stringify(this.currentUser) === JSON.stringify(user[0]);
                return this.currentUser.userId === user.userId;
            },

            getClasses: function (user) {
                if (this.checkLoggedInUser(user))
                    return "msgtexton";
                else
                    return "msgtextof";
            },

            getDateTime: function (dateTime) {
                var today = moment(this.today, 'YYYY-MM-DD');
                var pastDate = moment(dateTime, 'YYYY-MM-DD');
                var momentDate = moment(dateTime);
                if (today.isSame(pastDate))
                    return moment(momentDate).format('h:mma');
                if (today.diff(pastDate, 'days') < 7)
                    return moment(momentDate).format('ddd, h:mma');
                else
                    return moment(momentDate).format('MMM DD, h:mma');
            },

            getProfileInitials: function (item) {
                if (item.profilePic) {
                    return item.profilePic;
                }
                return this.initialImage(item.firstName, item.lastName);
            },

            initialImage: function (firstName, lastName) {
                var canvas = document.createElement('canvas');
                canvas.style.display = 'none';
                canvas.width = '50';
                canvas.height = '50';
                document.body.appendChild(canvas);
                var context = canvas.getContext('2d');
                context.fillStyle = "#ddd";
                context.fillRect(0, 0, canvas.width, canvas.height);
                context.font = "400 25px Arial";
                context.textAlign = "center";
                context.fillStyle = "#fff";
                var first, last;
                if (firstName && lastName != '') {
                    first = firstName[0];
                    last = lastName && lastName != '' ? lastName[0] : null;
                    if (last) {
                        var initials = first + last;
                        context.fillText(initials.toUpperCase(), 25, 35);
                    } else {
                        var initials = first;
                        context.fillText(initials.toUpperCase(), 18, 23);
                    }
                    var data = canvas.toDataURL();
                    document.body.removeChild(canvas);
                    return data;
                }
            }
        });
    </script>
</dom-module>