<html-import html-href="chat/team-listing.html"></html-import>
<html-import html-href="chat/thread-list.html"></html-import>
<html-import html-href="chat/chat-interface.html"></html-import>
<html-import html-href="chat/applozic-services.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="chat-engine">
    <template>
        <style>

            .com-col{float: left;position: relative;}
            .com-col.coll{width:28%;}
            .com-col.colr{width:72%; padding-left:30px;}

            @media only screen and (max-width:1025px){
                .com-col.coll{width:32%;}
                .com-col.colr{width:68%;}
            }

            @media only screen and (max-width:991px){
                .com-col.coll{ margin-bottom:25px;}
                .com-col.coll,
                .com-col.colr{
					width:100%;
					float:none;
					border: 1px solid #ccc;
					box-shadow: 0 0 10px #666;
					background: #fff;padding:10px;
                }
                .chat-wrap{padding:10px;}

            }
        </style>
        <!-- Team list -->
        <div class="com-col coll">
            <team-listing teams="{{ teams }}" start-chat="{{ startChat }}" stash="{{ stash }}"></team-listing>
        </div>

        <div class="com-col colr">
            <!-- Thread list -->
            <thread-list threads="{{ threads }}" start-chat="{{ startChat }}" stash="{{ stash }}"></thread-list>

            <div class="clearfix">&nbsp;</div>

            <!-- Chat interface -->
            <div class="chat-wrap clearfix">
                <chat-interface start-chat="{{ startChat }}" thread-chat="{{ threadChat }}" stash="{{ stash }}" current-user="[[ currentUser ]]" loading="{{ loading }}"></chat-interface>
            </div>
        </div>

        <event-hub id="hub"></event-hub>
        <url-parser id="urlParser"></url-parser>
        <applozic-services id="inMemoryProvider"></applozic-services>
        <team-service id="teamService"></team-service>
        <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "chat-engine",

            properties: {
                pipelineView: {
                    type: Boolean,
                    value: false
                },
                loading: {
                    type: Boolean,
                    value: false,
                    notify: true
                },
                members: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
                teams: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
                threads: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
                startChat: {
                    type: Boolean,
                    value: false,
                    notify: true,
                    observer: 'addUsersToThread'
                },
                stash: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
                subscriberList: {
                    type: Array,
                    value: []
                },
                currentUser: {
                    type: Object,
                    value: function () {
                        return {}
                    }
                },
                threadId: String,
                threadChat: Array
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                'updateActiveThread(threads.*)',
                'initialiseApplozic(currentUser, members)'
            ],

            attached: function (){
                this.loadEntity();
                this.fetchCurrentUser();

                this.subscriberList.push(
                        this.subscribe('team:stashUser', this.addRemoveMemberStash.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('thread:new', this.startThreadFromStash.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('thread:message', this.sendMessage.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('thread:active', this.changeThreadStatus.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('user:online', this.userAppearedOnline.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('user:offline', this.userWentOffline.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('event:messageReceived', this.pushMessage.bind(this))
                );
                this.subscriberList.push(
                        this.subscribe('populate:teamThreadListing', this.setTeamThreadListing.bind(this))
                );
            },

            detached: function () {
                // UnSubscribing all subscriptions in attached
                this.subscriberList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },

            fetchCurrentUser: function () {
                var self = this;
                this.ensure("identityService", "teamService")
                        .then(function (its) {
                            its.identityService.getCurrentUser()
                                    .then(function (response) {
                                        self.set("loggedInUserDetails", response);

                                        if (self.pipelineView)
                                            self.fetchPipelineMembers();
                                        else
                                            self.fetchMembers();

                                        var userName = response.username;
                                        return its.teamService.getUserDetails(userName);
                                    })
                                    .then(function (profileDetails) {
                                        var entityId = self.pipelineView ? "" : self.entityId + "-";
                                        var userId =  entityId + profileDetails.userId;
                                        var loggedInUser = {
                                            userId: userId,
                                            name: profileDetails.firstName + " " + profileDetails.lastName,
                                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                                            role: "Loan Assistant",
                                            phone: profileDetails.mobileNumber,
                                            online: true,
                                            unReadMessage: false,
                                            socialIcon: [
                                                {facebook: profileDetails.facebookUrl},
                                                {twitter: profileDetails.twitterUrl},
                                                {linkedin: profileDetails.linkedInUrl}
                                            ]
                                        };
                                        self.set("currentUser", loggedInUser);
                                    });
                        });
            },

            fetchMembers: function () {
                var self = this;
                var entityType = "application";
                var entityId = self.entityId || ":id";
                return this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.fetchMembersList(entityType, entityId);
                        })
                        .then(function (membersList){
                            self.set("members", membersList);
                            return membersList;
                        });
            },

            fetchPipelineMembers: function () {
                var self = this;
                // check if AP is admin
                var adminCheck = _.indexOf(this.loggedInUserDetails.roles, "Affinity Partner Admin");
                var userName = this.loggedInUserDetails.username;
                var usersListRole = "Loan Officer";
                var membersList = [];

                if (adminCheck === -1) {
                    // User is not an admin
                    // we need to get the admin for this user where role will be (Affinity Partner Admin)
                    this.ensure("inMemoryProvider")
                            .then(function (chatProvider) {
                                chatProvider.getSuperiorByRole(userName, "Affinity Partner Admin")
                                        .then(function (response) {
                                            var affinityPartnerAdmin = [{
                                                memberName: response,
                                                memberRole: "Affinity Partner Admin",
                                                team: ""
                                            }];
                                            chatProvider.getAllAssignedUsers(response)
                                                    .then(function (assignedUsersResponse) {
                                                        if (assignedUsersResponse)
                                                            assignedUsersResponse.forEach(function (obj) {
                                                                obj.team = "";
                                                            });// AP team

                                                        chatProvider.getSuperiorByRole(userName, usersListRole)
                                                                .then(function (response) {
                                                                    var loanOfficer = [{
                                                                        memberName: response,
                                                                        memberRole: usersListRole,
                                                                        team: "lender"
                                                                    }];
                                                                    chatProvider.getAllAssignedUsers(response)// Lending team
                                                                            .then(function (response) {
                                                                                if (response)
                                                                                    response.forEach(function (obj) {
                                                                                        obj.team = "lender";
                                                                                    });

                                                                                membersList = _.uniq(_.union(assignedUsersResponse, response), false, function (item, key, memberName) {
                                                                                    return item.memberName;
                                                                                });
                                                                                membersList = _.union(membersList, loanOfficer);
                                                                                membersList = _.union(membersList, affinityPartnerAdmin);

                                                                                chatProvider.fetchPipelineUserDetails(membersList)
                                                                                        .then(function (membersList) {
                                                                                            self.set("members", membersList);
                                                                                        })
                                                                            })
                                                                })
                                                    })
                                        })
                            })
                }
                else {
                    // User is an admin
                    this.ensure("inMemoryProvider")
                            .then(function (chatProvider) {
                                chatProvider.getAllAssignedUsers(userName)
                                        .then(function (assignedUsersResponse) {
                                            if (assignedUsersResponse)
                                                assignedUsersResponse.forEach(function (obj) {
                                                    obj.team = "";
                                                });// AP team

                                            chatProvider.getSuperiorByRole(userName, usersListRole)
                                                    .then(function (response) {
                                                        var loanOfficer = [{
                                                            memberName: response,
                                                            memberRole: usersListRole,
                                                            team: "lender"
                                                        }];
                                                        chatProvider.getAllAssignedUsers(response)// Lending team
                                                                .then(function (response) {
                                                                    if (response)
                                                                        response.forEach(function (obj) {
                                                                            obj.team = "lender";
                                                                        });

                                                                    membersList = _.uniq(_.union(assignedUsersResponse, response), false, function (item, key, memberName) {
                                                                        return item.memberName;
                                                                    });
                                                                    membersList = _.union(membersList, loanOfficer);

                                                                    chatProvider.fetchPipelineUserDetails(membersList)
                                                                            .then(function (membersList) {
                                                                                self.set("members", membersList);
                                                                            })
                                                                })
                                                    })
                                        })
                            })
                }
            },

            loadEntity: function(){
                var self = this;
                this.ensure("urlParser").then(function(url){
                    self.set("entityId", url.getParams().id);
                });
            },

            initialiseApplozic: function (currentUser, members) {
                var self = this;
                if (currentUser && members && members.length > 0) {
                    var contactsJSON = [];
                    var usersList = [];
                    _.forEach(members, function(value) {
                        if (currentUser.userId !== value.userId) {
                            var user = {
                                "userId": value.userId,
                                "displayName": value.name,
                                "imageLink": value.profilePic
                            };
                            contactsJSON.push(user);
                            usersList.push(value.userId);
                        }
                    });
                    this.$.hub.publish("tab:overview", {
                        id: "communication",
                        dynamicText: contactsJSON.length + " Members"
                    });
                    this.$.hub.publish("Initialise:Chat", {
                        currentUser: currentUser,
                        contactList: members,
                        contactsJSON: contactsJSON,
                        usersList: usersList
                    });
                }
            },

            getTeams: function (membersList) {
                var self = this;
                return this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.fetchTeamsList(membersList, self.currentUser, self.pipelineView);
                        })
                        .then(function (teamsList){
                            self.set("teams", teamsList);
                            return teamsList;
                        });
            },

            fetchThreads: function (membersList) {
                var self = this;
                return this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.fetchThreadsList(membersList)
                                    .then(function (threads) {
                                        if (threads.length)
                                            threads[0].active = true;
                                        self.set("threads", threads);
                                        return threads;
                                    })
                        })
            },

            addRemoveMemberStash: function (payload) {
                var member = payload.user;
                var self = this;
                var index = this.stash.findIndex(function (item) {
                    return item.userId === member.userId
                });
                var stashedUsersList = _.cloneDeep(this.stash);
                if (index > -1)
                // remove user from stack
                    stashedUsersList.splice(index, 1);
                else
                // Add user to stack
                    stashedUsersList.push(member);
                return new Promise(function (resolve, reject) {
                    self.updateUserStatus(member.userId, member.online);
                    self.set('stash', stashedUsersList);
                    resolve(stashedUsersList);
                });
            },

            startThreadFromStash: function (payload) {
                var self = this;
                var stashedUsersList = this.get("stash");
                if (!stashedUsersList.length > 0) return;

                var message = payload.message;
                // Create new thread
                var dateTime = moment().format();
                var newMessage = {
                    sender: this.currentUser,
                    datetime: dateTime,
                    message: message
                };

                var threadId = self.entityId + "-" + self.randomId();
                var thread = {
                    threadId: threadId,
                    active: false,
                    started: false,
                    groupChat: true,
                    groupId: threadId,
                    clientGroupId: threadId,
                    title: self.entityId,
                    members: stashedUsersList,
                    messages: [
                        newMessage
                    ]
                };
                this.set('startChat', false);

                // Check group chat or individual chat
                if (stashedUsersList.length > 1) {
                    // group chat
                    this.startGroupChat(thread, threadId);
                }
                else {
                    // individual Chat
                    this.startIndividualChat(thread, threadId);
                }
            },

            startGroupChat : function (thread, threadId) {
                var self = this;
                this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.createThread(thread);
                        })
                        .then(function (response) {
                            self.unshift('threads', response);
                            self.set("stash", []);
                            var teamsList = _.cloneDeep(self.teams);
                            self.set("teams", teamsList);
                            self.set("loading", false);
                            self.selectThread(threadId);
                        });
            },

            startIndividualChat: function (thread, threadId) {
                var self = this;

                var toUserId = thread.members[0].userId;
                var message = thread.messages[0].message;
                thread.groupChat = false;
                thread.groupId = toUserId;
                thread.threadId = toUserId;
                threadId = toUserId;
                var teamsList = _.cloneDeep(self.teams);
                var threadList = _.cloneDeep(self.threads);

                // checking if chat is already initiated
                var matchedIndex = _.findIndex(threadList, function(item) { return item.threadId === threadId; });
                if (matchedIndex > -1 ) {
                    self.sendIndividualMessage(toUserId, message);
                    self.set("loading", false);
                    return
                }

                this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.createSingleThread(toUserId, message);
                        })
                        .then(function (response) {
                            self.unshift('threads', thread);
                            self.set("stash", []);
                            self.set("teams", teamsList);
                            self.selectThread(threadId);
                            self.set("loading", false);
                        });
            },

            sendIndividualMessage: function (toUserId, message) {
                var self = this;
                var threadId = toUserId;
                var teamsList = _.cloneDeep(self.teams);

                var index = this.threads.findIndex(function (item) { return item.threadId === toUserId });

                var dateTime = moment().format();
                var newMessage = {
                    sender: self.currentUser,
                    datetime: dateTime,
                    message: message
                };

                this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.createSingleThread(toUserId, message);
                        })
                        .then(function (response) {
                            self.set("stash", []);
                            self.set("teams", teamsList);
                            self.threads[index].messages.push(newMessage);
                            self.selectThread(threadId);
                        });
            },

            sendMessage: function (payload) {
                var self = this;
                var message = payload.message;
                var threadId = payload.threadId;
                var groupId = payload.groupId;
                var groupChat = payload.groupChat;

                if (!groupChat) {
                    this.sendIndividualMessage(threadId, message);
                    return
                }
                var index = this.threads.findIndex(function (item) {
                    return item.threadId === threadId
                });

                var dateTime = moment().format();
                var newMessage = {
                    sender: self.currentUser,
                    datetime: dateTime,
                    message: message
                };

                this.ensure("inMemoryProvider")
                        .then(function (chatProvider) {
                            return chatProvider.sendMessage(groupId, message)
                        })
                        .then(function () {
                            self.threads[index].messages.push(newMessage);
                            self.selectThread(threadId);
                        });

            },

            addUsersToThread: function (startChat) {
                if (startChat) {
                    this.deactivateAllThread();
                    return
                }

                this.set("stash", []);
                var teamsList = _.cloneDeep(this.teams);
                this.set("teams", teamsList);
                this.selectThread(this.threadId);
            },

            deactivateAllThread: function () {
                var self = this;
                var threadsList = _.cloneDeep(this.threads);
                var updatedList = _.forEach(threadsList, function(value, key) {
                    value.active = false;
                });
                return new Promise(function (resolve, reject) {
                    self.set('threads', updatedList);
                    resolve(updatedList);
                });
            },

            selectThread: function (threadId) {
                var self = this;
                var threadsList = _.cloneDeep(this.threads);
                var updatedList = _.forEach(threadsList, function(value, key) {
                    if(value.threadId === threadId) {
                        value.active = true;
                        value.unreadNotification = false;
                        _.forEach(value.members,function(value,key){
                            self.updateUserUnReadFlag(value.userId,false);
                        });
                    }
                    else {
                        value.active = false;
                    }
                });
                return new Promise(function (resolve, reject) {
                    self.set('threads', updatedList);
                    resolve(updatedList);
                });
            },

            updateUserStatus: function (userID, status) {
                var index = this.getTeamMemberIndex(this.teams, userID);
                if (index.teamIndex > -1) {
                    this.teams[index.teamIndex].members[index.memberIndex].online = status;
                    var notifyPath = 'teams.' + index.teamIndex + '.members';
                    this.notifyPath(notifyPath);
                }
            },

            getTeamMemberIndex: function (matrix, userID) {
                for (var i = 0, len=matrix.length; i < len; i++) {
                    for (var j = 0, len2 = matrix[i].members.length; j < len2; j++) {
                        if (matrix[i].members[j].userId == userID) {
                            return {teamIndex: i, memberIndex: j};
                        }
                    }
                }
                return {teamIndex: -1, memberIndex: -1};
            },

            updateActiveThread: function (thread) {
                var self = this;
                if (thread.path === "threads" && self.threads && self.threads.length > 0) {
                    var threadsList = _.cloneDeep(self.threads);
                    var currentActiveThread = _.filter(threadsList, function (thread) {
                        return thread.active;
                    });
                    if (currentActiveThread.length > 0 ) {
                        self.set("threadId", currentActiveThread[0].threadId);
                        self.set("threadChat", currentActiveThread);
                    }
                }
            },

            changeThreadStatus: function (payload) {
                this.selectThread(payload.threadId);
            },

            randomId: function() {
                return window.Math.random().toString(36).substring(7);
            },

            setThread: function (threads) {
                if (threads.length) {
                    var threadList = threads;
                    threadList[0].active = true;
                    this.set("threads", threadList);
                }
            },

            pushMessage: function (payload) {
                var groupId = payload.metadata.message.to;
                var from = payload.metadata.message.from;
                var payloadMessage = payload.metadata.message.message;
                var time = payload.metadata.message.timeStamp;
                // checking if default message is sent then don't create thread
                if (payloadMessage == "$WELC0ME-@-DOC!TT$") return;

                var membersList = this.members;

                var threadsList = _.cloneDeep(this.threads);
                if (_.isString(groupId)) // means its not a grp chat
                    var chatExist = from;
                else
                    var chatExist = groupId;

                var threadIndex = _.findIndex(threadsList, function (item) {
                    return item.groupId == chatExist;
                });

                var messageFrom = _.find(membersList, function (o) {
                    return o.userId === from;
                });
                
                this.updateUnReadFlag(from);

                if (threadIndex > -1) {
                    // Thread already exist
                    var message = {
                        sender: messageFrom,
                        datetime: time,
                        message: payloadMessage,
                        key: payload.metadata.message.key
                    };
                    var messageCount=threadsList[threadIndex].messages.length;
                    if(messageCount>=1){
                        if(threadsList[threadIndex].messages[messageCount-1].key==message.key){
                            return;
                        }
                    }
                    if(threadsList[threadIndex].active==false){
                        threadsList[threadIndex].unreadNotification=true;
                    }
                    threadsList[threadIndex].messages.push(message);
                    this.set('threads', threadsList);
                }
                else {
                    // New thread created
                    if (_.isString(groupId)) {
                        // Individual chat initiated
                        var message = {
                            sender: messageFrom,
                            datetime: time,
                            message: payloadMessage
                        };
                        var thread = {
                            threadId: chatExist,
                            groupId: chatExist,
                            groupChat: false,
                            started: "why ???",
                            title: chatExist,
                            active: false,
                            unreadNotification: false,
                            members: [messageFrom],
                            messages: [message]
                        };
                        threadsList.unshift(thread);
                        this.set('threads', threadsList);
                    }
                    else {
                        var self = this;
                        // Group Chat initiated
                        self.$.inMemoryProvider.getThreadDetails(groupId, self.currentUser, self.members)
                                .then(function (response) {
                                    if (!_.isUndefined(response)) {
                                        threadsList.unshift(response);
                                        self.set('threads', threadsList);
                                    }
                                });
                    }
                }
            },

            setTeamThreadListing: function (payload) {
                this.getTeams(payload.contactList);
                this.setThread(payload.threadList);
            },

            userAppearedOnline: function (payload) {
                this.updateUserStatus(payload.metadata.userId, true);
            },

            userWentOffline: function (payload) {
                this.updateUserStatus(payload.metadata.userId, false);
            },

            updateUnReadFlag: function (userId) {
                this.updateUserUnReadFlag(userId, true);
            },

            updateUserUnReadFlag: function (userId, status) {
                var index = this.getTeamMemberIndex(this.teams, userId);
                if (index.teamIndex > -1) {
                    this.teams[index.teamIndex].members[index.memberIndex].unReadMessage = status;
                    var notifyPath = 'teams.' + index.teamIndex + '.members';
                    this.notifyPath(notifyPath);
                }
            },
        });
    </script>
</dom-module>