<dom-module id="in-memory-provider">
    <template>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "in-memory-provider",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                this.publish(this.id + ".attached");
            },

            fetchMembersList: function () {
                var members = [
                        {
                            userId: "jh5j4h5gj34g",
                            name: "Alex Fernando",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistant",
                            phone: "9999999999",
                            online: true,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "54k5j367e3289hjf",
                            name: "Jude Itaka",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Director",
                            phone: "9999999999",
                            online: false,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "1uy3iun5b6hj4",
                            name: "Susy Freemon",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistant",
                            phone: "9999999999",
                            online: true,
                            unReadMessage: true,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "1uy3iun5wweb6hj4",
                            name: "test user1",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistant",
                            phone: "9999999999",
                            online: false,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "testuser2",
                            name: "test user2",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistants",
                            phone: "9999999999",
                            online: true,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "testuser3",
                            name: "test user3",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistant",
                            phone: "9999999999",
                            online: false,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        },{
                            userId: "testuser4",
                            name: "test user4",
                            profilePic: "http://www.docit.dev.lendfoundry.com/user/example@example.com?profile.jpg",
                            role: "Loan Assistant",
                            phone: "9999999999",
                            online: false,
                            unReadMessage: false,
                            socialIcon: [
                                {facebook: "www.facebook.com/alex"},
                                {twitter: "www.twitter.com/alex"},
                                {linkedin: "www.linkedin.com/alex"}
                            ]
                        }
                    ];
                return new Promise(function (resolve, reject) {
                    resolve(members);
                });
            },

            fetchTeamsList: function (membersList) {
                var teams = [
                    {
                        id: "team1",
                        title: "Lending Team",
                        members: [
                            membersList[0],
                            membersList[2],
                            membersList[5],
                            membersList[6]
                        ]
                    },
                    {
                        id: "team2",
                        title: "Contributors Team",
                        members: [
                            membersList[1],
                            membersList[3],
                            membersList[4]
                        ]
                    }
                ];
                return new Promise(function (resolve, reject) {
                    resolve(teams);
                });
            },

            fetchThreadsList: function (membersList) {
                var threads = [
                    {
                        threadId: "thread1",
                        started: "why ???",
                        title: "House Survey",
                        active: false,
                        members: [
                            membersList[0],
                            membersList[2],
                            membersList[3],
                            membersList[4],
                            membersList[5]
                        ],
                        messages: [
                            {
                                sender: membersList[2],
                                datetime: "2017-08-06T16:11:48+05:30",
                                message: "This is a test message"
                            },
                            {
                                sender: membersList[0],
                                datetime: "2017-09-04T16:11:48+05:30",
                                message: " is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
                            }
                        ]
                    },
                    {
                        threadId: "thread123",
                        started: "why ???",
                        title: "House papers",
                        active: false,
                        members: [
                            membersList[1],
                            membersList[2],
                            membersList[6]
                        ],
                        messages: [
                            {
                                sender: membersList[1],
                                datetime: "2017-07-04T16:11:48+05:30",
                                message: "Hellllllllo"
                            }
                        ]
                    },
                    {
                        threadId: "thread3",
                        started: "why ???",
                        active: false,
                        title: "SSN verification",
                        members: [
                            membersList[3]
                        ],
                        messages: [
                            {
                                sender: membersList[3],
                                datetime: "2017-07-04T16:11:48+05:30",
                                message: "SSN cannot be verified as pic not visible"
                            }
                        ]
                    }
                ];

                return new Promise(function (resolve, reject) {
                    resolve(threads);
                });
            },

            createThread: function (newThread) {
                return new Promise(function (resolve, reject) {
                    resolve(newThread);
                });
            }
        });
    </script>
</dom-module>