<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/component-loader.html"></html-import>
<html-import html-href="ui-elements/ui-popover.html"></html-import>
<dom-module id="team-listing">
    <template>
        <style>
            ul:last-of-type {padding-bottom: 0px !important;}
            :host::content .body-text {z-index:9999 !important;opacity: 1; background: #f00}
        </style>
        <component-loader component-loader-id="[[ componentId ]]"></component-loader>

        <span  hidden="[[ !componentInviteLoaded ]]">
        <div class="communication-list-wrapper">
            <div class="communication-list">
                <template is="dom-repeat" items="{{ teams }}">
                    <h3>[[ item.title ]] ([[ item.memberCount ]])</h3>
                    <ul>
                        <template is="dom-repeat" items="{{ item.members }}">
                            <li class$="[[ isSelectedUser(item) ]]">
                                <div class="pic">
                                    <img class$="{{ onlineIndicator(item.online) }}"
                                         src="[[ getProfileInitials(item) ]]" title="[[ item.name ]]"
                                         alt="[[ item.name ]]">

                                    <template is="dom-if" if="{{ item.unReadMessage }}" restamp>
                                        <span class="dot img-circle"></span>
                                    </template>
                                </div>
                                <div class="msgtext">
                                    <h5>[[ item.name ]]</h5>
                                    <span>[[ item.role ]]</span>
                                </div>
                                <div class="msgicons">
                                    <span>
                                        <a href="[[ formattedPhone(item.phone) ]]" class="df df-phone">
                                            <template is="dom-if" if="[[ !checkMobile(item.phone) ]]">
                                                <ui-popover trigger="focus" selector-element="self"
                                                            custom-html="[[ popoverPhoneHtmlContent(item.phone) ]]">
                                                </ui-popover>
                                            </template>
                                        </a>
                                    </span>
                                    <a on-click="addRemoveUserStash" href="javascript:void(0);" class="df df-message"></a>
                                    <span>
                                    <!--<a href="javascript:void(0);" class="df df-chat">
                                        <ui-popover trigger="focus" selector-element="self"
                                                    custom-html="[[ popoverHtmlContent(item.socialIcon) ]]">
                                        </ui-popover>
                                    </a>-->
                                    </span>
                                </div>
                            </li>
                        </template>
                    </ul>
                </template>
                <!--<div class="add-person"> <a href="javascript:void(0);" class="df df-no-user" on-click="addMember"><span class="df df-plus img-circle">&nbsp;</span></a> </div>-->
            </div>
        </div>
</span>
        <event-hub id="hub"></event-hub>
        <alloy-format id="alloyFormat"></alloy-format>
    </template>
    <script>
        Polymer({
            is: "team-listing",

            behaviors: [eventHub],

            properties : {
                teams: {
                    type: Array,
                    notify: true
                },
                startChat: {
                    type: Boolean,
                    notify: true,
                    observer: 'addUsersToThread'
                },
                componentId:{
                    type:String,
                    value:'communication-left'
                },
                subscriberList: {
                    type: Array,
                    value: []
                },
                componentInviteLoaded: {
                    type: Boolean,
                    value: true
                }
            },

            observers: [
                'updateUser(teams.*)'
            ],

            attached: function () {
                if (window.jQuery) {
                    this.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", this.init());
                }

                this.subscriberList.push(
                        this.subscribe('communication-left-component:close', this.removeInvitationComponent.bind(this))
                );
            },

            detached: function () {
                // UnSubscribing all subscriptions in attached
                this.subscriberList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },

            init: function () {
                $('.communication-list').slimScroll({
                    size: '10px',
                    height: '510px',
                    distance: '0px',
                    alwaysVisible: false,
                    opacity: 1
                });
            },

            onlineIndicator: function (online) {
                var classList = ["img-circle"];
                if(online)
                    classList.push("active");
                return classList.join(" ");
            },

            onlineIndicatorIfNoImage: function (online) {
                var classList = ["img-circle", "df", "df-circle"];
                if(online)
                    classList.push("active");
                return classList.join(" ");
            },

            updateUser: function (teams) {
                if (teams.path !== "teams") {
                    var teamsList = _.cloneDeep(this.teams);
                    this.set("teams", teamsList);
                }
            },

            addUsersToThread: function (startChat) {
                //console.log(startChat);
                //console.log("team list observer");
            },

            addRemoveUserStash: function (e) {
                if (!this.startChat) return

                var model = e.model;
                this.$.hub.publish("team:stashUser", {
                    user: model.item
                });
            },

            isSelectedUser: function (userData) {
                var stashedUsers = this.get("stash");
                var userAlreadyStashed = _.filter(stashedUsers, userData);
                if (userAlreadyStashed.length > 0)
                    return "active";
            },

            popoverHtmlContent: function (socialMediaLink) {
                var fbUrl = (!socialMediaLink[0].facebook ? "javascript:void(0)" : socialMediaLink[0].facebook);
                var twitterUrl = (!socialMediaLink[1].twitter ? "javascript:void(0)" : socialMediaLink[1].twitter);
                var linkedinUrl = (!socialMediaLink[2].linkedin ? "javascript:void(0)" : socialMediaLink[2].linkedin);

                var _html = '<a style="display:inline-block;background:#E8E8E8;width:28px;height:28px;line-height:32px;text-align:center;border-radius:50%" target="_blank" href="' + twitterUrl + '" class="img-circle"><span style="color:#969696;line-height:22px;" class="df df-soc-tw"></span></a>';
                _html += '<a style="display:inline-block;background:#E8E8E8;width:28px;height:28px;line-height:30px;margin:0 5px;text-align:center;border-radius:50%" target="_blank" href="' + fbUrl + '" class="img-circle"><span style="color:#969696;line-height:22px;" class="df df-soc-fb"></span></a>';
                _html += '<a style="display:inline-block;background:#E8E8E8;width:28px;height:28px;line-height:30px;text-align:center;border-radius:50%" target="_blank" href="' + linkedinUrl + '" class="img-circle"><span style="color:#969696;line-height:22px;" class="df df-soc-in"></span></a>';
                return _html;
            },

            getProfileInitials: function (item) {
                if (item.profilePic) {
                    return item.profilePic;
                }
                return this.initialImage(item.firstName, item.lastName);
            },

            initialImage: function (firstName, lastName) {
                var canvas = document.createElement('canvas');
                canvas.style.display = 'none';
                canvas.width = '60';
                canvas.height = '60';
                document.body.appendChild(canvas);
                var context = canvas.getContext('2d');
                context.fillStyle = "#ddd";
                context.fillRect(0, 0, canvas.width, canvas.height);
                context.font = "400 28px Arial";
                context.textAlign = "center";
                context.fillStyle = "#fff";
                var first, last;
                if (firstName && lastName != '') {
                    first = firstName[0];
                    last = lastName && lastName != '' ? lastName[0] : null;
                    if (last) {
                        var initials = first + last;
                        context.fillText(initials.toUpperCase(), 30, 40);
                    } else {
                        var initials = first;
                        context.fillText(initials.toUpperCase(), 18, 23);
                    }
                    var data = canvas.toDataURL();
                    document.body.removeChild(canvas);
                    return data;
                }
            },

            addMember: function(){
                var self = this;
                var _eventName = self.componentId + "-component:load.dynamic";
                this.set("componentInviteLoaded", false);
                self.$.hub.publish(_eventName,{
                    src:'borrower-portal/communication/team-new-invite.html',
                    componentProperties: {
                        team: self.teams
                    }
                });
            },

            removeInvitationComponent: function () {
                this.set("componentInviteLoaded", true);
            },

            popoverPhoneHtmlContent: function (phoneNumber) {
                return "<span>" + this.changeFormat(phoneNumber) + "</span>";
            },

            formattedPhone: function (phoneNumber) {
                if (!phoneNumber) return "javascript:void(0)";

                if (phoneNumber.length === 10) {
                    return "tel:+1-" + this.changeFormat(phoneNumber);
                }
            },

            changeFormat: function (phoneNumber) {
                var s2 = ("" + phoneNumber).replace(/\D/g, '');
                var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
                var formattedNumber = (!m) ? null : m[1] + "-" + m[2] + "-" + m[3];
                return formattedNumber;
            },

            checkMobile: function(phoneNumber) {
                if (!phoneNumber) return true;
                var check = false;
                (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
                return check;
            }
        });
    </script>
</dom-module>