<html-import html-href="event/hub.html"></html-import>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<dom-module id="thread-list">
    <template>
        <style>
			@media only screen and (max-width:479px){
			.btn{border-bottom:1px solid #D6D6D6;border-radius:0; margin-bottom:20px;}
			.content{margin-top:20px;float:none;}
			}
        </style>
        <div class="current-chat-list">
            <ul class="clearfix text-center acttiveusers">
                <!-- stash user list -->
                <template is="dom-if" if="{{ startChat }}" restamp>
                    <li class="clearfix active">
                        <div class="archived">
                            <template is="dom-repeat" items="[[ generateArchivedThread(stash) ]]">
                                <template is="dom-repeat" items="[[ item.profile ]]">
                                    <div class$="[[ getOverlapClasses(index) ]]">
                                        <img class="img-circle" src="[[ getProfileInitials(item) ]]"
                                             alt="">
                                    </div>
                                </template>
                                <div class="msgtext">
                                    <h5>[[ getNames(item.name) ]]</h5>
                                </div>
                            </template>
                        </div>
                    </li>
                </template>
                <!-- thread list -->

                <template is="dom-repeat" items="{{ getActiveThreadList(threads) }}" as="thread">
                    <li class="clearfix active">
                        <div class="archived">
                            <template is="dom-repeat" items="[[ generateArchivedThread(thread.members) ]]">
                                <template is="dom-repeat" items="[[ item.profile ]]">
                                    <div class$="[[ getOverlapClasses(index) ]]">
                                        <template is="dom-if" if="{{ thread.unreadNotification }}" restamp>
                                            <span class="dot img-circle"></span>
                                        </template>
                                        <img class="img-circle" src="[[ getProfileInitials(item) ]]"
                                             alt="[[ item.name ]]">
                                    </div>
                                </template>
                                <div class="msgtext">
                                    <h5>[[ getNames(item.name) ]]</h5>
                                </div>
                            </template>
                        </div>
                    </li>
                </template>
            </ul>
            <div class="content">
                <ul class="clearfix">
                        <template is="dom-repeat" items="{{  getInActiveThreadList(threads) }}">
                                <li class="clearfix nonactive" on-click="makeThreadActive">
                                        <div class="archived">
                                            <template is="dom-repeat" items="[[ generateArchivedThread(item.members) ]]" as="member">
                                                <template is="dom-repeat" items="[[ member.profile ]]" as="profile">
                                                    <div class$="[[ getOverlapClasses(index) ]]">
                                                        <template is="dom-if" if="{{ item.unreadNotification }}" restamp>
                                                            <span class="dot img-circle"></span>
                                                        </template>
                                                        <img class="img-circle" src="[[ getProfileInitials(profile) ]]"
                                                             alt="[[ profile.name ]]">
                                                    </div>
                                                </template>
                                                <div class="msgtext">
                                                    <h5>[[ getNames(member.name) ]]</h5>
                                                </div>
                                            </template>
                                        </div>
                                    </li>
                        </template>
                </ul>
            </div>
        </div>

        <a href="javascript:void(0);" class="start-chat" on-click="toggleStash"><span class="bg"><span
                class="df df-plus"></span><span class="df df-circle"></span><span
                class="df df-message"></span></span><span class="btntxt">START NEW CHAT</span></a>

        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "thread-list",
            properties : {
                threads: {
                    type: Array,
                    notify: true
                },
                startChat: {
                    type: Boolean,
                    notify: true,
                    observer: 'addUsersToThread'
                }
            },

            behaviors: [eventHub],

            observers: [
                'updateThread(threads.*)',
                'StashUpdated(stash.*)',
                'getActiveThreadList(threads.*)',
                'getInActiveThreadList(threads.*)'
            ],

            attached: function () {
                this.updateScroll();
            },

            updateThread: function (threads) {
                this.updateScroll();
            },

            StashUpdated: function (stash) {
                this.updateScroll();
            },

            addUsersToThread: function (startChat) {
                this.updateScroll();
            },

            toggleStash: function () {
                if(this.startChat)
                    this.set("startChat", false);
                else
                    this.set("startChat", true);
            },

            updateScroll: function () {
                $(".content").mCustomScrollbar({
                    axis:"x",
                    autoHideScrollbar: true,
                    advanced:{ autoExpandHorizontalScroll: true,updateOnContentResize: true }
                });
            },

            makeThreadActive: function (e) {
                var model = e.model;
                if(this.startChat)
                    this.set("startChat", false);

                this.$.hub.publish("thread:active", {
                    threadId: model.item.threadId
                });
                this.updateScroll();
            },

            profileVisible: function (indexCount) {
                if (indexCount < 3) return true
            },

            generateArchivedThread: function (membersList) {
                var profile = [];
                var name = [];
                var archivedUsersList = [{
                    profile: profile,
                    name: name
                }];
                _.forEach(membersList, function (value, key) {
                    if (key < 3)
                        profile.push({profilePic: value.profilePic, firstName: value.firstName, lastName: value.lastName});
                    if (key < 4)
                        name.push(value.name);
                });
                return archivedUsersList;
            },

            getOverlapClasses: function (index) {
                var picClass = ["pic"];
                if (index > 0)
                    picClass.push("overlap");
                if (index === 2)
                    picClass.push("overlapb");
                return picClass.join(" ");
            },

            getNames: function (nameList) {
                var concatNames = nameList.join(", ");
                if (concatNames.length > 46) {
                    var names = concatNames.substr(0, 40)
                    return names + "...";
                }
                return concatNames;
            },

            getNamelistClass: function (items) {
                if (items.length === 1) return "mtop";
            },

            getClassmtop: function (index) {
                if (index > 2) return "mtop";
            },

            getProfileInitials: function (item) {
                if (item.profilePic) {
                    return item.profilePic;
                }
                return this.initialImage(item.firstName, item.lastName);
            },

            initialImage: function (firstName, lastName) {
                var canvas = document.createElement('canvas');
                canvas.style.display = 'none';
                canvas.width = '60';
                canvas.height = '60';
                document.body.appendChild(canvas);
                var context = canvas.getContext('2d');
                context.fillStyle = "#ddd";
                context.fillRect(0, 0, canvas.width, canvas.height);
                context.font = "400 28px Arial";
                context.textAlign = "center";
                context.fillStyle = "#fff";
                var first, last;
                if (firstName && lastName != '') {
                    first = firstName[0];
                    last = lastName && lastName != '' ? lastName[0] : null;
                    if (last) {
                        var initials = first + last;
                        context.fillText(initials.toUpperCase(), 30, 40);
                    } else {
                        var initials = first;
                        context.fillText(initials.toUpperCase(), 18, 23);
                    }
                    var data = canvas.toDataURL();
                    document.body.removeChild(canvas);
                    return data;
                }
            },

            getActiveThreadList: function (thread) {
                return _.filter(thread, function(o) { return o.active; });
            },

            getInActiveThreadList: function (thread) {
                return _.filter(thread, function(o) { return !o.active; });
            }
        });
    </script>
</dom-module>