
<html-import html-href="services/identity/service.html"></html-import>
<link rel="import" href="./lists/large-deposits-list.html" />

<link rel="import" href="../assets/lists/grid.html" />
<link rel="import" href="../assets/forms/credentials.html" />
<link rel="import" href="../assets/scene-title.html" />
<link rel="import" href="../assets/dcc-service.html" />
<link rel="import" href="../assets/interactors/add-update-institution.html" />
<link rel="import" href="../assets/interactors/init-dcc.html" />

<link rel="import" href="../data-url-image.html" />
<link rel="import" href="../progress-bar/progress-bar.html" />
<link rel="import" href="../../ui-elements/forms/ui-selector/ui-selector.html" />
<link rel="import" href="../../ui-elements/forms/ui-datalist/ui-datalist.html" />

<html-import html-href="ui-elements/forms/ui-input-container.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="borrower-portal/error-message.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="activities/add-document.html"></html-import>
<html-import html-href="services/custom-http-request-service.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<link rel="import" href="styles.html">
<dom-module id="assets-large-deposits-container">
    <template>
        <style include="assets-large-deposits-styles"></style>        
        <!--INIT MESSAGE-->
        <template is="dom-if" if="[[ isActiveMode(visibilityModes.INIT, activeVisibilityMode) ]]">
            <assets-scene-title title-text="Loading..." subtitle-text="Retrieving your data"></assets-scene-title>
        </template>
        <!--ERROR MESSAGE-->
        <template is="dom-if" if="[[ isActiveMode(visibilityModes.ERROR, activeVisibilityMode) ]]">
            <assets-scene-title title-text="Sorry" subtitle-text="Something went wrong while processing your information."></assets-scene-title>
            <pre>[[ prettyPrint(error) ]]</pre>
        </template>
        <!--SUMMARY LIST-->
        <template is="dom-if" if="[[ isActiveMode(visibilityModes.LIST, activeVisibilityMode) ]]">
             <large-deposits-list class="animated fadeIn" large-deposits="[[largeDeposits]]">
             </large-deposits-list>
             <div class="clearfix margin-top"></div>
             <manual-upload-document id="manualUploadLargeDeposits" selected-requested="[[outStandingCondition]]">
             </manual-upload-document>
        </template>            
        
        <identity-service id="identityService"></identity-service>
        <assets-dcc-service id="dccService"></assets-dcc-service>
        <assets-interactors-init-dcc id="initDcc"></assets-interactors-init-dcc>
        <assets-interactors-fetch-customer-institutions id="fetchCustomerInstitutions"></assets-interactors-fetch-customer-institutions>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
        <custom-http-request-service id="customHttpRequestService"></custom-http-request-service>
    </template>
    <script src="container.js"></script>
</dom-module>