<dom-module id="assets-large-deposits-styles">
    <template>
        <style>
            :host {
                display: block;
                margin: 0 auto;
            }
            .spacer {
               padding: 20px 0 5px 0;
            }
             :host::content label.ui-input-container,
             :host::content.assets-scene-title-0 h3.assets-scene-title {
                font-size: 16px;
            }

             :host::content.assets-scene-title-0 p.assets-scene-title {
                font-size: 14px;
                margin-bottom: 20px;
            }            
        </style>
    </template>
    <script>
        Polymer({
            is: "assets-large-deposits-styles"
        })
    </script>
</dom-module>