<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>

<dom-module id="ui-is-valid-date">
    <template>
        <ui-custom-validator name="isValidDate"
                             id="validator"
                             format="{{format}}">
            <content>{{content}}</content>
        </ui-custom-validator>
    </template>
    <script>
        Polymer({
            is: "ui-is-valid-date",

            behaviors: [alloy.customValidatorBehavior],

            properties: {
                format: {
                    type: String,
                    value: 'MM/DD/YYYY'
                },
                content: String
            },

            isValidDate: function (value) {
                //If date is not complete
                if (value.indexOf('/') < 0 || value.length < 10) {
                    this.content = "Invalid Input."
                    return false;
                }

                if (!(moment(value, this.format).isValid())) { // validate with moment.js
                    this.content = "Invalid Input";
                    return false;
                }
                if (moment(value, this.format).isAfter(moment())) {// check for future date
                    this.content = "Please enter date less than today's date";
                    return false;
                }
                if (!(moment(value, this.format).isAfter(moment('01/01/1900', this.format)))) { // date can't be less than 01/01/1900
                    this.content = "Please enter date greater than 01/01/1900";
                    return false;
                }

                return true;
            }
        });
    </script>
</dom-module>