<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>

<dom-module id="ui-is-month-greater">
    <template>
        <ui-custom-validator name="startEndDateValidator" id="validator">
            {{ messageOnError }}
        </ui-custom-validator>
    </template>
    <script>
        Polymer({
            is: "ui-is-month-greater",

            behaviors: [alloy.customValidatorBehavior],

            properties: {
                referenceValue: {
                    type: String,
                    notify: true
                },
                messageOnError: {
                    type: String,
                    notify: true
                },
                errorMsg: String,
                startDate: true,
                endDate: false
            },

            startEndDateValidator: function (value) {
                if (!this.referenceValue) return true;

                if (this.startDate === undefined || this.endDate === undefined) return true;

                if (this.startDate === "true")
                    var _startDate = moment({month: value.split("/")[0], year: value.split("/")[1]});
                else
                    var _startDate = moment({
                        month: this.referenceValue.split("/")[0],
                        year: this.referenceValue.split("/")[1]
                    });

                if (this.endDate === "true")
                    var _endDate = moment({month: value.split("/")[0], year: value.split("/")[1]});
                else
                    var _endDate = moment({
                        month: this.referenceValue.split("/")[0],
                        year: this.referenceValue.split("/")[1]
                    });

                var _differenceInMonths = _endDate.diff(_startDate, 'month');
                if (_differenceInMonths < 0) {
                    this.set('messageOnError', this.errorMsg);
                    return false;
                }
                else
                    this.set('messageOnError', '');
                    return true;
            }
        });
    </script>
</dom-module>