<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>

<dom-module id="ui-is-valid-month-year">
    <template>
        <ui-custom-validator name="isValidMonthYear"
                             id="validator"
                             format="{{format}}">
            <content>{{content}}</content>
        </ui-custom-validator>
    </template>
    <script>
        Polymer({
            is: "ui-is-valid-month-year",

            behaviors: [alloy.customValidatorBehavior],

            properties: {
                format: {
                    type: String,
                    value: 'MM/YYYY'
                },
                content: String
            },

            isValidMonthYear: function (value) {
                if (value) {
                    //If date is not complete
                    if (value.indexOf('/') < 0 || value.length < 7) {
                        this.content = "Invalid Input."
                        return false;
                    }

                    //Check date
                    var _enteredDate = moment({ month: value.split("/")[0], year: value.split("/")[1] });
                    var _differenceInMonths = moment().diff(_enteredDate, 'month');
                    if (!(moment(value, this.format).isValid())) {// validate with moment.js
                        this.content = "Invalid Input."
                        return false;
                    }
                    if (_differenceInMonths < 0) { //check for future dates
                        this.content = "Please enter date less than today's date";
                        return false;
                    }
                    if (!(moment(value, this.format).isAfter(moment('01/1900', this.format)))) { //date can't be less than 01/01/1900 
                        this.content = "Please enter date greater than 01/1900";
                        return false;
                    }
                }
                return true;
            }
        });
    </script>
</dom-module>