<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>

<dom-module id="ui-timeformat">
    <template>
        <ui-custom-validator name="isTwelveHourFormat" id="validator">
            <content>{{ content }}</content>
        </ui-custom-validator>
    </template>
    <script>
        Polymer({
            is: "ui-timeformat",

            properties: {
              /* to provide optional property for the end or start  time if not mandatory*/
                optional:{
                  type:Boolean,
                  value:false
                },
                referenceValueStart:String,
                referenceValueEnd :String,
                referenceOption:String,
                content: String,
                selectedDate:String
            },

            behaviors: [alloy.customValidatorBehavior],

            isTwelveHourFormat: function (value) {

                var regex = /^(0?[1-9]|1[012]):([0-5][0-9])$/i;

                var currentTimeForAm = moment().format('A');

                var maxTimeRange = "11:59";

                var currentTime =moment().format('hh:mm');

                var currentDate =moment().format('YYYY-MM-DD');

                var match = value.match( regex );
                    if (!value  && !this.optional) {
                        this.content = "The is a required field";
                        return false;
                    }else if(!value && this.optional ){
                          return true;
                    }else {
                      if(match){
                            var hour  = parseInt( match[1] );
                            var mins = parseInt(match[2]);
                            var currentMatch = currentTime.split(":");
                            if(this.referenceValueStart || this.referenceValueEnd){
                                if(this.referenceOption === "PM"){
                                    if (hour === 12) {
                                        var valueHour = '0';
                                        value = valueHour +":"+parseInt(match[2]);
                                        if(currentMatch[0] === "12"){
                                          currentMatch[0] = '0';
                                          currentTime = currentMatch[0] +":"+ currentMatch[1];
                                        }
                                        if( !isNaN( hour) && (valueHour >= currentMatch[0]) && (value > currentTime)){
                                            return true;
                                        }
                                        else{
                                          this.content = "The time is invalid";
                                          return false;
                                        }
                                    }
                                  if ( !isNaN( hour) && hour <= 11 ){
                                        if(currentMatch[0] === "12"){
                                          var valueHour = '00';
                                          currentTime = valueHour +":"+currentMatch[1];
                                          currentTime = currentTime.split(":");
                                          if ( !isNaN( hour) && (hour >= currentTime[0])  && value <= maxTimeRange && value >= currentTime) {

                                          //  if ( !isNaN( hour) && (hour >= currentMatch[0] && mins >=currentMatch[1])  && value <= maxTimeRange && value >= currentTime) {
                                              return true;
                                             }else{
                                               this.content = "The time is invalid";
                                               return false;
                                            }
                                      }else{
                                          if(currentTimeForAm === 'AM'){
                                              if ( !isNaN( hour) && value <=maxTimeRange) {
                                                return true;
                                              }
                                          }else {
                                          if ( !isNaN( hour) && hour >= currentMatch[0] && value <= maxTimeRange && value >= currentTime && (value >= this.referenceValueStart)) {
                                            return true;
                                          }else{
                                            this.content = "The time is invalid";
                                            return false;
                                          }
                                        }
                                      }

                                  }
                               }
                                 if(this.referenceOption === "AM"){
                                      if (hour === 12) {
                                          hour = '00';
                                          value = hour + ":" +parseInt(match[2]);


                                          if(currentMatch[0] === '12') {
                                            currentMatch[0]='00'
                                            currentTime = '00' +":"+currentMatch[1];
                                          }
                                          if ( !isNaN( hour) && hour <= currentMatch[0]  && value>=currentTime && value <= maxTimeRange ) {
                                            return true;
                                          }else{
                                            this.content = "The time is invalid";
                                            return false;
                                          }
                                      }
                                      if ( !isNaN( hour) && hour <= 11 ) {
                                        if( hour ==='12' &&  mins >= currentMatch[1]){
                                           return true;
                                        }else{
                                            if(this.referenceValueEnd && this.referenceValueEnd !== ""){//&& this.referenceValueEnd >= currentTime
                                              if(this.referenceValueStart && this.referenceValueStart <= this.referenceValueEnd) {
                                                return true
                                              }else if(moment(this.selectedDate).isAfter(currentDate)){
                                                 return true
                                              } else{
                                                this.content = "The time is invalid";
                                                return false
                                              }

                                            }else if(this.referenceValueStart && this.referenceValueStart!==""){
                                                var compare= currentTime.split(':');
                                                if(compare[0] === '12') {
                                                  currentTime = '00' +":"+compare[1];
                                                }
                                                if(moment(this.selectedDate).isAfter(currentDate)){
                                                   return true
                                                }else if(this.referenceValueStart >= currentTime && currentTimeForAm === this.referenceOption ){
                                                   return true
                                                }else if(this.referenceValueEnd && this.referenceValueEnd !=undefined){
                                                  this.referenceValueStart > this.referenceValueEnd
                                                  return true;
                                                }else{
                                                  this.content = "The time is invalid";
                                                  return false;
                                                }

                                            }else{
                                              this.content = "The time is invalid";
                                              return false;
                                            }
                                         }
                                      }
                                      this.content = "The time is invalid";
                                      return false;
                                  }
                            }else{
                              this.content = "The time is invalid";
                              return false;
                            }

                         }else {
                            var match = value.split(':');
                            var hour = match[0];
                            var min=match[1];



                            if(this.referenceOption  === "PM"){
                                  if(value && value !== "" && value!== "PM"){
                                    if ( !isNaN( hour) && hour <= 11 && value <= maxTimeRange && (this.referenceValueEnd >= currentTime || this.referenceValueStart >=currentTime)) {
                                      return true;
                                    }else{
                                      this.content = "The time is invalid";
                                      return false;
                                    }
                                  }else{
                                    if(currentTimeForAm === "AM" ) {
                                        // if(this.referenceValueStart && this.referenceValueStart > currentTime)
                                         return true
                                    }else if(currentTimeForAm === "PM"){
                                      return true
                                    }
                                    else{
                                      this.content = "The time is invalid";
                                      return false;
                                    }
                                    // else if(this.referenceValueEnd && (this.referenceValueEnd > currentTime  &&  this.referenceValueEnd > this.referenceValueStart)){
                                    //   return true
                                    // }
                                  }
                            }else if(this.referenceOption === "AM" && value!=="AM"){
                                  if(value){
                                    if ( !isNaN( hour) && hour <= 11 && min <= '59') {
                                      return true;
                                    }else{
                                      this.content = "The time is invalid";
                                      return false;
                                    }
                                  }else{
                                    return true
                                  }

                            }else if( value === '' && this.referenceValueEnd === ""){
                              return true
                            }else if( value === 'AM' && this.referenceValueEnd === ''){
                              return true
                            }else if(value === 'AM' && this.referenceValueStart){
                             return true
                            }else{
                             if((this.referenceValueStart || this.referenceValueEnd)  && this.referenceOption === "PM") {
                               if ( !isNaN( hour) && hour <= 12 && value >= currentTime && value <= maxTimeRange ) {
                                 return true;
                               }else{
                                 this.content = "The time is invalid";
                                 return false;
                               }
                             }else if((this.referenceValueStart || this.referenceValueEnd) && this.referenceOption === "AM") {
                                if ( !isNaN( hour) && hour <= 12 && value >= currentTime) {
                                  return true;
                                }else{

                                  this.content = "The time is invalid";
                                  return false;
                                }
                              }else{
                               this.content = "The time is invalid";
                               return false;
                             }
                           }

                         }
                      }
                }


        });
    </script>
</dom-module>
