<html-import html-href="ui-elements/profile-uploader.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="company-logo">
    <template>
        <style>
            profile-uploader {
                --drop-zone-preview-alignment: center;
            }
            .df-close-o {cursor: pointer;}
             :host::content .dropzone .dz-message {margin: 0 !important;}
             :host::content .dz-message {margin: 0 !important;padding-top: 24px;color: #fff;}
        </style>
        <div class="upload-photo">
            <template is="dom-if"
                      if="{{ noImage }}">
                <profile-uploader id="dropZone"
                                  submit-target="[[ target ]]"
                                  next-target="[[ nextTarget ]]"
                                  submit-base-url="{{ submitBaseUrl }}"
                                  max-files="1"
                                  file-name="{{ fileName }}"
                                  method="[[ method ]]"
                                  next-method="[[ nextMethod ]]"
                                  fileName
                                  clickable
                                  auto-process=true>
                    <div class="dz-message">UPLOAD PHOTO</div>
                </profile-uploader>
            </template>
            <template is="dom-if"
                      if="[[ !noImage ]]">
                <img class="img-circle"
                     src="[[imageUrl]]"
                     height="80"
                     width="80"
                     on-click="uploadNewPic">
            </template>
        </div>
        <identity-service id="identityService"></identity-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "company-logo",

            properties: {
                submitBaseUrl: {
                    type: String,
                    value: null
                },
                username: {
                    type: String
                },
                companyId: String,
                noImage: {
                    type: Boolean,
                    value: true
                },
                dropZoneInitialised: {
                    type: Boolean,
                    value: false
                },
                fileName: {
                    type: String,
                    value: "profile.jpeg"
                },
                subscriptionList: {
                    type: Array,
                    value: []
                }
            },

            attached: function () {
                this.submitBaseUrl=this.configuration.services.assetManager;
                this.getCompanyLogo();
                this.subscriptionList.push(this.subscribe('notification:show', this.getCompanyLogo.bind(this)));
            },

            detached: function () {
                // UnSubscribing all subscriptions in attached
                this.subscriptionList.map(function (subscription) {this.unsubscribe(subscription);}, this);
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            getCompanyLogo: function () {
                var self = this;
                this.ensure("userProfileService")
                        .then(function (userProfileService) {
                            userProfileService.fetchCompanyLogo(self.companyId)
                                    .then(function (response) {
                                        if (response && response.url) {
                                            self.set('noImage', false);
                                            var imageUrl = response.url + "?" + new Date().getTime();
                                            self.set('imageUrl', imageUrl);

                                            var target = "company/" + self.companyId + "/profile.jpeg";
                                            self.set("target", target);
                                            self.set("nextTarget", target);
                                            self.set("method", "put");
                                            self.set("nextMethod", "PUT");

                                            self.checkDropZoneInitialised();
                                        }
                                    })
                                    .catch(function (error) {
                                        if (error.status == 404 || error.status == 400) {
                                            self.set('noImage', true);
                                            self.set('imageUrl', '');
                                            var target = "company/" + self.companyId;
                                            var nextTarget = "company/" + self.companyId + "/profile.jpeg";
                                            self.set("target", target);
                                            self.set("nextTarget", nextTarget);
                                            self.set("nextMethod", "PUT");
                                            self.set("method", "post");

                                            self.checkDropZoneInitialised();
                                        }
                                    });
                        })
            },

            uploadNewPic: function () {
                this.set('noImage', true);
            },

            initialiseDropZone: function () {
                this.ensure("dropZone")
                    .then(function (dropZone) {
                        dropZone.initDropzone();
                    });
            },

            checkDropZoneInitialised: function () {
                var self = this;
                if (self.dropZoneInitialised) return;

                self.initialiseDropZone();
                self.set('dropZoneInitialised', true);
            }
        });
    </script>
</dom-module>