<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-custom-address.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-zip-code.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-only-special-characters.html"></html-import>
<html-import html-href="affinity-partner-portal/company-logo.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="company-profile">
    <template>
    <style>
    ul li.clearfix{ height:0; line-height:0;width:100%; display:block;}
    </style>
            <div class="affinity-wrap prf-screen clearfix" hidden$="[[loader]]">
                    <h3>Company Profile</h3>
                    <div class="profilepic">
                        <template is="dom-if"
                            if="[[companyId]]">
                            <company-logo company-id="[[companyId]]"></company-logo>
                        </template>
                    </div>
                        <ui-error-summary id="errorSummary"></ui-error-summary>
                        <ui-form id="form"
                            data="{{ formData }}">
                            <ui-container-group id="uiContainerGroup"
                                has-error="{{formHasError}}">
                                <ul class="row clearfix">
                                    <li class="col-md-12 col-sm-12 col-xs-12">
                                        <ui-container floating-label="Company Name"
                                            is-required=true
                                            auto-save=false>
                                            <ui-input name="companyName"
                                                value="{{ formData.companyName }}">
                                                <ui-validators>
                                                    <ui-require-field>Please enter a Company Name.</ui-require-field>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>

                                    <li class="col-md-12 col-sm-12 col-xs-12">
                                        <template is="dom-if"
                                            if="{{ isEqual('Address', companyAddress.questionType) }}"
                                            restamp>
                                            <ui-container question="[[ companyAddress ]]">
                                                <ui-custom-address question="{{companyAddress}}"></ui-custom-address>
                                            </ui-container>
                                        </template>
                                    </li>

                                    <li class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-container floating-label="Phone #"
                                            auto-save=false control-type="TextPhone">
                                            <ui-input name="phone"
                                                value="{{ formData.phone }}"
                                                mask-format="(999) 999-9999">
                                                <ui-validators>
                                                    <ui-require-field>Please enter a Phone Number.</ui-require-field>
                                                    <ui-custom-validator name="isPhoneNumber">Phone Number is not valid.
                                                    </ui-custom-validator>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>
                                    <li class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-container floating-label="Website"
                                            auto-save=false>
                                            <ui-input name="website"
                                                value="{{ formData.website }}">
                                            </ui-input>
                                            <!--<ui-validators>
                                                <ui-is-not-only-special-characters>
                                                    Website cannot only be symbols.
                                                </ui-is-not-only-special-characters>
                                                <ui-custom-validator name="isURL">
                                                    Website must be a valid URL.
                                                </ui-custom-validator>
                                            </ui-validators>-->
                                        </ui-container>
                                    </li>
                                    
                                    <li class="clearfix">&nbsp;</li>
                                    
                                    <li class="col-lg-8 col-md-10 col-sm-12 col-xs-12 social-paltform">
                                        <h3 class="margins">Social Platforms</h3>
                                        <div class="social-tabs clearfix">
                                            <ul class="nav nav-tabs responsive">
                                                <li class="lin active"><a href="#linkedin"
                                                        data-toggle="tab"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                                <li class="tw"><a href="#twitter"
                                                        data-toggle="tab"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                                <li class="fb"><a href="#facebook"
                                                        data-toggle="tab"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active"
                                                    id="linkedin">
                                                    <ui-container floating-label="LinkedIn Address"
                                                        is-required=true
                                                        auto-save=false>
                                                        <ui-input name="linkedInUrl"
                                                            value="{{ formData.linkedInUrl }}"></ui-input>
                                                    </ui-container>
                                                    <div class="btns"><a href="#"
                                                            class="btn btn-sm btn-outline-primary"
                                                            attr-platform="linkedin"
                                                            on-click="removeURL">DELETE</a>&nbsp;<a href="#"
                                                            class="btn btn-sm btn-outline-primary"
                                                            attr-platform="linkedin"
                                                            on-click="addURL">SAVE</a></div>
                                                </div>
                                                <div class="tab-pane"
                                                    id="twitter">
                                                    <ui-container floating-label="Twitter Address"
                                                        is-required=true
                                                        auto-save=false>
                                                        <ui-input name="twitterUrl"
                                                            value="{{ formData.twitterUrl }}"></ui-input>
                                                    </ui-container>
                                                    <div class="btns"><a href="#"
                                                            class="btn btn-sm btn-outline-primary"
                                                            attr-platform="twitter"
                                                            on-click="removeURL">DELETE</a>&nbsp;
                                                        <a href="#"
                                                            class="btn btn-sm btn-outline-primary"
                                                            attr-platform="twitter"
                                                            on-click="addURL">SAVE</a></div>
                                                </div>
                                                <div class="tab-pane"
                                                    id="facebook">
                                                    <ui-container floating-label="Facebook Address"
                                                        is-required=true
                                                        auto-save=false>
                                                        <ui-input name="facebookUrl"
                                                            value="{{ formData.facebookUrl }}"></ui-input>
                                                    </ui-container>
                                                    <div class="btns"><a href="#"
                                                            attr-platform="facebook"
                                                            on-click="removeURL"
                                                            class="btn btn-sm btn-outline-primary">DELETE</a>&nbsp;
                                                        <a href="#"
                                                            attr-platform="facebook"
                                                            on-click="addURL"
                                                            class="btn btn-sm btn-outline-primary">SAVE</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="clearfix">&nbsp;</li>

                                    <li class="col-lg-12 nextbtns">
                                        <ui-button id="acceptButton"
                                            disabled="{{ busy }}"
                                            disabled-text="Saving..."
                                            color="primary"
                                            fullWidth=true
                                            class=""
                                            on-click="submit">Next
                                        </ui-button>
                                    </li>
                                </ul>
                            </ui-container-group>
                        </ui-form>
            </div>

        <!-- Loading section: START -->
        <div class="loading-container animated fadeInUp clearfix" hidden$="[[!loader]]">
            <h3>Hold on just a few more seconds.</h3>
            <loading-indicator></loading-indicator>
        </div>
        <!-- Loading section: END -->

        <user-profile-service id="userProfileService"></user-profile-service>
        <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "company-profile",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                formData: Object,
                companyId: String,
                busy: Boolean,
                companyAddress: {
                    type: Object
                },
                username: String,
                loader: {
                    type: Boolean,
                    value: true
                }
            },

            attached: function () {
                var self = this;
                //check for user role. 
                return self.ensure("userProfileService")
                    .then(function (userService) {
                        return userService.fetchSignedInUsersProfile().then(function (response) {
                            self.username = response.username;
                            self.ensure("identityService")
                                .then(function (service) {
                                    service.getUserRoles(encodeURIComponent(response.username)).then(function (response) {
                                        var found = false;
                                        for (var i = 0; i < response.length; i++) {
                                            if (window.config.rolesAllowedForCompanyAccess.indexOf(response[i]) > -1) {
                                                found = true;
                                                break;
                                            }
                                        }
                                        //If it is admin, allow to fetch company details, else redirect to pipeline view
                                        if (found) {
                                            self.fetchCompanyDetails();
                                        }
                                        else {
                                            // call endpoint to update the isProfileComplete flag
                                            userService.enableDashboardView(self.username).then(function (flag) {
                                                window.location.hash = "#/pipeline";
                                            });
                                        }
                                    })
                                });
                        });
                    });
            },

            isURL: function (value) {
                return window.validator.isURL(value || "");
            },

            fetchCompanyDetails: function () {
                var self = this;
                return self.ensure("userProfileService")
                    .then(function (service) {
                        return service.fetchSignedInUsersProfile().then(function (response) {
                            self.companyId = response.companyId;
                            // check if the company exists and fetch the company details
                            if (response.companyId !== null) {
                                return service.fetchCompanyDetails(self.companyId).then(function (companyDetails) {
                                    self.formData = companyDetails;
                                    self.companyAddress = {
                                        "questionText": "Address",
                                        "required": true,
                                        "answer": "{\"address\":\"" + (companyDetails.address !== null ? companyDetails.address : "") + "\",\"city\":\"" + (companyDetails.city !== null ? companyDetails.city : "") + "\",\"state\":\"" + (companyDetails.state !== null ? companyDetails.state : "") + "\",\"zip\":\"" + (companyDetails.zipCode !== null ? companyDetails.zipCode : "") + "\"}",
                                        "questionType": "Address"
                                    };
                                    self.set('loader', false);
                                });
                            }
                            else {
                                self.companyAddress = {
                                    "questionText": "Address",
                                    "required": false,
                                    "answer": "{\"address\":\"\",\"city\":\"\",\"state\":\"\",\"zip\":\"\"}",
                                    "questionType": "Address"
                                };
                                // create a new company if none exists
                                self.updateCompanyDetails();
                            }
                        });
                    });
            },

            submit: function (e) {
                var self = this;
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            var platform = self.validateAllSocialPlatforms();
                            if(platform && platform.length > 0)
                                self.$.errorSummary.setErrors(platform);
                            else {
                                self.set("busy", true);
                                self.updateCompanyDetails
                                    .bind(self)()
                                    .then(function (response) {
                                        var output = {
                                            status: "success"
                                        };
                                        window.location.hash = "#/invite-members";
                                    })
                                    .catch(function (error) {
                                        if (error && error.responseJSON && error.responseJSON.message) {
                                            self.$.errorSummary.setErrors(error.responseJSON.message);
                                        }
                                        self.set("busy", false);
                                    });
                            }
                        }
                        else {
                            self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    }.bind(self)); // Promise ends here (then block)
            },

            updateCompanyDetails: function () {
                var self = this;
                var payload = {
                    companyName: self.get("formData.companyName"),
                    phone: self.scrubPhoneData(self.get("formData.phone")),
                    website: self.get("formData.website"),
                    facebookUrl: self.get("formData.facebookUrl"),
                    twitterUrl: self.get("formData.twitterUrl"),
                    linkedInUrl: self.get("formData.linkedInUrl"),
                    address: self.get("formData.address"),
                    city: self.get("formData.city"),
                    state: self.get("formData.state"),
                    zipCode: self.get("formData.zip")
                };

                if (self.companyId && self.companyId !== "") {
                    payload.id = self.companyId;
                    return self.ensure("userProfileService")
                        .then(function (service) {
                            return service.updateCompanyDetails(payload);
                        });
                }
                else {
                    return self.ensure("userProfileService")
                        .then(function (service) {
                            return service.addCompanyDetails(payload).then(function (response) {
                                self.companyId = response;
                                return service.mapUserAndCompanyProfile(response).then(function (userCompanyMap) {
                                    self.set('loader', false);
                                });
                            });
                        });
                }


            },

            scrubPhoneData: function (value) {
                return value.replace(/([()-. ])/g, "");
            },

            removeURL: function (e) {
                e.preventDefault();
                var socialPlatform = e.target.getAttribute('attr-platform');
                if (socialPlatform === 'linkedin')
                    this.formData.linkedInUrl = "";
                else if (socialPlatform === 'twitter')
                    this.formData.twitterUrl = "";
                else if (socialPlatform === 'facebook')
                    this.formData.facebookUrl = "";
                this.updateCompanyDetails();
                this.fetchCompanyDetails();
            },

            isEqual: function (fixValues, questionValue) {
                //
                var result = false;
                //Values must be passed for comparision
                if (fixValues && questionValue) {
                    //May have to compare more then one values
                    _.forEach(fixValues.split("/"), function (fixValue) {
                        //Avoid unnecessory spacing
                        fixValue = fixValue.trim();
                        //Compare value
                        if (fixValue && questionValue && questionValue.toLowerCase() === fixValue.toLowerCase()) {
                            result = true;
                            //Break the loop
                            return false;
                        }
                    });
                }

                return result;
            },
            validateAllSocialPlatforms: function(){
                var self = this;
                var result = [];
                if (self.formData.linkedInUrl && !self.validateSocialPlatforms('linkedin'))
                    result.push("Please enter a valid linkedin URL");
                if (self.formData.twitterUrl && !self.validateSocialPlatforms('twitter'))
                    result.push("Please enter a valid twitter URL");
                if (self.formData.facebookUrl && !self.validateSocialPlatforms('facebook'))
                    result.push("Please enter a valid facebook URL");

                return result;
            },
            validateSocialPlatforms: function (socialPlatform) {
                var self = this;
                var match = false;
                var linkedInRegex =  /(http(s)?:\\)?linkedin\.com\/in\/[0-9a-zA-Z/ -_]+$/i
                var twitterRegex = /(http(s)?:\\)?twitter\.com\/[a-zA-Z0-9_]+$/i
                var facebookRegex = /(http(s)?:\\)?facebook\.com\/[a-zA-Z0-9._]+$/i
                if (socialPlatform === 'linkedin')
                    match = linkedInRegex.test(self.formData.linkedInUrl)
                else if (socialPlatform === 'twitter')
                    match = twitterRegex.test(self.formData.twitterUrl)
                else if (socialPlatform === 'facebook')
                    match = facebookRegex.test(self.formData.facebookUrl)
                return match;
            },

            addURL: function (e) {
                var self = this;
                e.preventDefault();
                var socialPlatform = e.target.getAttribute('attr-platform');
                //validate the url's with regex
                if (self.validateSocialPlatforms(socialPlatform)) {
                    self.$.errorSummary.setErrors([]);
                    self.updateCompanyDetails();
                }
                else
                    self.$.errorSummary.setErrors("Please enter a valid " + socialPlatform + " URL");
            },

            isPhoneNumber: function (value) {
                var re = /^\d{10}$/g;
                value = value || "";
                if (value) {
                    value = this.scrubPhoneData(value);
                    return re.test(value);
                }
                return true;
            }
        });
    </script>
</dom-module>