<html-import html-href="event/hub.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<dom-module id="affinity-home">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>

        <div class="container-fluid landing_bg no-pad clearfix">
            <div class="vertical-center vcenter-vspace clearfix">

                <!-- Get Started section: START -->
                <div hidden$="[[loader]]"
                    class="welcome-docit text-center animated fadeInUp celarfix">
                    <h1>Welcome to {{appTenant.tenantDisplayName}}</h1>
                </div>
                <!-- Get Started section: END -->

                <!-- Loading section: START -->
                <div class="loading-container animated fadeInUp clearfix" hidden$="[[!loader]]">
                    <h3>Hold on just a few more seconds.</h3>
                    <loading-indicator></loading-indicator>
                </div>
                <!-- Loading section: END -->

            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <url-parser id="url"></url-parser>
        <user-profile-service id="userProfileService"></user-profile-service>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "affinity-home",
            properties: {
                loader: {
                    type: Boolean,
                    value: true
                }
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                var self = this;
                // check the flag and redirect user to signup section or pipeline view
                return self.ensure("userProfileService")
                    .then(function (service) {
                        return service.fetchSignedInUsersProfile().then(function (response) {
                            if (response) {
                                if (!response.enableDashboard) //redirect to user-profile screen
                                    window.location.hash = "#/user-profile";
                                else
                                    window.location.hash = "#/pipeline";
                            }
                        });
                    });
            }
        });
    </script>
</dom-module>