<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="invite-members">
    <template>
    <style>
    .prf-screen h3{margin-bottom: 30px;}
	.prf-screen .nextbtns {margin-top:30px;}
    ul li.clearfix{ height:0; line-height:0;width:100%; display:block;}
    </style>
        <values-service id="values"></values-service>
            <div class="affinity-wrap prf-screen clearfix">
                    <h3>Invite</h3>
                        <ui-error-summary id="errorSummary"></ui-error-summary>
                        <div class="success-message">
                            <template is="dom-if"
                                if="[[ success ]]">
                                [[successMessage]]
                            </template>
                        </div>
                        <ui-form id="form"
                            data="{{ formData }}">
                            <ui-container-group id="uiContainerGroup"
                                has-error="{{formHasError}}">
                                <ul class="row clearfix">
                                    <li class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-container floating-label="First Name"
                                            is-required=true
                                            auto-save=false>
                                            <ui-input name="InviteFirstName"
                                                value="{{ formData.InviteFirstName }}">
                                                <ui-validators>
                                                    <ui-require-field>Please enter a First Name.</ui-require-field>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>
                                    <li class="col-md-6 col-sm-6 col-xs-12">
                                        <ui-container floating-label="Last Name"
                                            is-required=true
                                            auto-save=false>
                                            <ui-input name="InviteLastName"
                                                value="{{formData.InviteLastName}}">
                                                <ui-validators>
                                                    <ui-require-field>Please enter a Last Name.</ui-require-field>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>
                                    
                                    <li class="col-lg-12 clearfix">&nbsp;</li>
                                    
                                    <li class="col-md-12 col-sm-12 col-xs-12">
                                        <template is="dom-if"
                                            if="{{ isRelationshipsAvailable(relationships) }}"
                                            restamp>
                                            <ui-container floating-label="Relationship"
                                                is-required=true
                                                auto-save=false>
                                                <ui-options id="Role"
                                                    name="Role"
                                                    items="{{ relationships }}"
                                                    button-text=""
                                                    on-change="changeRelationShip"
                                                    value="{{ SelectedRelationship }}">
                                                </ui-options>
                                            </ui-container>
                                        </template>
                                    </li>
                                    <li class="col-md-12 col-sm-12 col-xs-12">
                                        <ui-container floating-label="Email"
                                            is-required=true
                                            auto-save=false control-type="TextEmail">
                                            <ui-input name="InviteEmail"
                                                value="{{ formData.InviteEmail }}">
                                                <ui-validators>
                                                    <ui-is-email>Email address is not valid.</ui-is-email>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>
                                    
                                    <li class="col-lg-12 clearfix">&nbsp;</li>
                                    
                                    <li class="col-md-12 col-sm-12 col-xs-12">
                                        <ui-container floating-label="Phone #"
                                            auto-save=false control-type="TextPhone">
                                            <ui-input name="InviteMobileNumber"
                                                value="{{ formData.InviteMobileNumber }}"
                                                mask-format="(999) 999-9999">
                                                <ui-validators>
                                                    <ui-custom-validator name="isPhoneNumber">Phone Number is not valid.
                                                    </ui-custom-validator>
                                                </ui-validators>
                                            </ui-input>
                                        </ui-container>
                                    </li>
                                    
                                    <li class="col-lg-12 clearfix">&nbsp;</li>
                                    
                                    <li class="col-lg-12 nextbtns">
                                        <ui-button id="inviteButton"
                                            disabled="{{ busy }}"
                                            disabled-text="Invite..."
                                            color="primary"
                                            fullWidth=true
                                            on-click="invite">Invite</ui-button>&nbsp;<ui-button id="finishButton"
                                            color="primary"
                                            fullWidth=true
                                            on-click="finish">Finish</ui-button>
                                    </li>
                                </ul>
                            </ui-container-group>
                        </ui-form>
            </div>
        <user-profile-service id="userProfileService"></user-profile-service>
        <identity-service id="identityService"></identity-service>
        <assignment-service id="assignmentService"></assignment-service>
    </template>
    <script>
        Polymer({
            is: "invite-members",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                busy: Boolean,
                username: String,
                success: { type: Boolean, value: false }
            },

            attached: function () {
                var self = this;
                // Populate dropdown options
                self.ensure("values").then(function (values) {
                    self.set("relationships", values.inviteRelationships.affinityPartner);
                    self.SelectedRelationship = values.inviteRelationships.affinityPartner[0].value;
                    self.resetForm();
                });
                self.ensure("userProfileService")
                    .then(function (userService) {
                        return userService.fetchSignedInUsersProfile().then(function (response) {
                            self.username = response.username;
                        })
                    });
            },

            invite: function (e) {
                var self = this;
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            self.set("busy", true);

                            self.sendInvite
                                .bind(self)()
                                .then(function (response) {
                                    self.$.errorSummary.setErrors([]);
                                    self.success = true;
                                })
                                .catch(function (error) {
                                    self.success = false;
                                    self.successMessage = "";
                                    if (error && error.responseJSON && error.responseJSON.message) {
                                        self.$.errorSummary.setErrors(error.responseJSON.message);
                                    }
                                    self.set("busy", false);
                                });


                        }
                        else {
                            self.set("busy", false);
                            self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    }.bind(self)); // Promise ends here (then block)
            },

            scrubPhoneData: function (value) {
                return value.replace(/([()-. ])/g, "");
            },

            sendInvite: function () {
                var self = this;

                // get the value for selectedRelationship
                var selectedRelationshipValue = self.relationships.filter(function (item) {
                    return item.label === self.SelectedRelationship
                });

                var payload = {
                    InvitedBy: self.username,
                    InviteEmail: self.get("formData.InviteEmail"),
                    InviteFirstName: self.get("formData.InviteFirstName"),
                    InviteLastName: self.get("formData.InviteLastName"),
                    InviteMobileNumber: self.scrubPhoneData(self.get("formData.InviteMobileNumber")),
                    Role: (selectedRelationshipValue !== null && selectedRelationshipValue.length > 0) ? selectedRelationshipValue[0].value : self.relationships[0].value,
                    Team: "affinitypartner"
                };

                return self.ensure("assignmentService")
                    .then(function (service) {
                        return service.sendInvite(self.username, payload).then(function (response) {
                            self.successMessage = "Invite successfully sent out to " + payload.InviteFirstName + ".";
                            self.resetForm();
                            self.set("busy", false);
                        });
                    });
            },

            resetForm: function () {
                var self = this;
                self.formData = {
                    InviteFirstName: "",
                    InviteLastName: "",
                    InviteEmail: "",
                    InviteMobileNumber: "",
                    Role: (self.relationships !== null && self.relationships.length > 0) ? self.relationships[0].value : "",
                    Team: "affinitypartner",
                    InvitedBy: self.username
                }
                self.SelectedRelationship = self.formData.Role;
            },

            changeRelationShip: function (e) {
                if (e.detail && e.detail.value)
                    self.SelectedRelationship = e.detail.value;
            },

            finish: function (e) {
                var self = this;
                // update the flag for the isProfileComplete
                self.ensure("userProfileService")
                    .then(function (userService) {
                        return userService.enableDashboardView(self.username).then(function (response) {
                            window.location.hash = "#/pipeline";
                        })
                    });
            },

            isRelationshipsAvailable: function (relationships) {
                return relationships.length > 0;
            },

            isPhoneNumber: function (value) {
                var re = /^\d{10}$/g;
                value = value || "";
                if (value) {
                    value = this.scrubPhoneData(value);
                    return re.test(value);
                }
                return true;
            }
        });
    </script>
</dom-module>