<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/ui-video.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<html-import html-href="behaviors/ensure-dependencies.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<dom-module id="welcome-screen-affinity">
    <template>
        <style>
            :host::content .welcome-confirm .modal-dialog .btn.btn-primary {
                padding: 18px 30px !important;
                width: auto !important;
            }
        </style>
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
                <div class="vertical-center vcenter-vspace clearfix" hidden$="[[ showVideo ]]">
                    <div hidden$="[[loader]]">
                    <div class="welcome-area clearfix">
                        <div class$="[[ getDefaultVideoClassName ]]">
                            <div class="welcome">
                                <h1>Welcome</h1>
                                <h6>Affinity Partnerships</h6>
                                <p>{{appTenant.tenantDisplayName}} is your number one source for online loan
                                    applications.
                                    We are committed to maintaining the confidentiality, integrity, and availability of
                                    the
                                    data you maintain with our easy to use web-app. Our primary objective is to provide
                                    a
                                    secure environment for our customers to manage their online accounts.</p>
                            </div>
                        </div>
                        <template is="dom-if" if="[[ videoOn ]]" restamp>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn2">
                                <div class="video">
                                    <img src="[[ videoPoster ]]" alt="Video">
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="text-center getstartbtn">
                        <button class="btn btn-lg btn-primary" type="submit" on-click="getStarted">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
         <!-- Loading section: START -->
         <div class="text-center get_started animated fadeInUp celarfix"
         hidden$="[[!loader]]">
        <h3>Hold on just a few more seconds.</h3>
        <loading-indicator></loading-indicator>
    </div>
    <!-- Loading section: END -->
        <ui-confirm class="welcome-confirm" id="confirmRequireQuestion"
        confirm-title="[[ confirmTitle ]]"
        buttons='[[ buttons ]]'></ui-confirm>
        <ui-modal id="uiModal"></ui-modal>
        <url-parser id="urlParser"></url-parser>
        <session-manager id="session"></session-manager>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
        <theme-service id="themeService"></theme-service>
        <identity-service id="identityService"></identity-service>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "welcome-screen-affinity",

            properties: {
                buttons: {
                    type: Array,
                    value: function () {
                        return [
                            {
                                text: "Logout and accept invite",
                                color: "primary",
                                clickHandler: function () {
                                    this.fire("confirmRequireQuestion", {
                                        confirm: this
                                    });
                                   // this.close();
                                }
                            },
                            {
                                text: "I'll try later",
                                color: "primary",
                                clickHandler: function () {
                                    this.fire("reject", {
                                        confirm: this
                                    });

                                    //this.close();
                                }
                            }]
                    }
                },
                refId: String,
                videoOn: false,
                backgroundImageOn: false,
                videoPoster: "",
                videoUrl: "",
                backgroundClass: "container-fluid no-pad clearfix",
                getDefaultVideoClassName: "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1",
                showVideo: true,
                confirmTitle: "You have received an invite to create an account, but the user is already logged in.",
                confirmButtonTitle: "Logout and accept invite",
                loader: {
                    type: Boolean,
                    value: true
                },
            },

            observers: [
                'setClass(backgroundImageOn)',
                'getDefaultClassName(videoOn)'
            ],

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            listeners: {
                "confirmRequireQuestion": "acceptInvite",
                "reject": "handleReject"
            },

            attached: function () {
                this.getToken();
                var self = this;
                var token = self.$.session.get("token");
                if (token) {
                    this.ensure("identityService", "confirmRequireQuestion", "uiModal")
                            .then(function (itServices) {

                                itServices.identityService.getCurrentUser()
                                        .then(function (loggedInUser) {
                                            //self.set("username", loggedInUser.username);
                                            self.set('confirmTitle', "You have received an invite to create an account, but the user " + loggedInUser.username + " is already logged in.")
                                            self.set('confirmButtonTitle', "Logout " + loggedInUser.username + " and accept invite")
                                            self.$.confirmRequireQuestion.open();
                                        })
                            });
                }
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.set('getDefaultVideoClassName', "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1");
                this.set('showVideo', true);
                self.set("loader", false);
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('videoOn', resposne.isWelcomScreenVideoOn)
                                        self.set('videoPoster', resposne.welcomScreenImageUrl)
                                        self.set('videoUrl', resposne.welcomScreenVideoUrl)
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                        self.set('showVideo', false)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })
            },

            acceptInvite: function () {
                var self = this;
                this.$.session.remove("token");
                this.set('loader', true)
                this.$.confirmRequireQuestion.close();
                setTimeout(function(){ self.set('loader', false) }, 25000);
            },

            handleReject: function () {
                window.location.hash = this.configuration.private.url;
            },

            getToken: function () {
                var self = this;
                this.ensure("urlParser")
                        .then(function (urlParser) {
                            self.set("refId", urlParser.getParams().refid);
                        });
            },

            getStarted: function () {
                if (_.isUndefined(this.refId)) return;

                window.location.hash = "#/sign-up/refid:" + this.refId;
            },

            checkIfVideo: function (videoUrl) {
                return (videoUrl)
            },

            getDefaultClassName: function (isVideoOn) {
                var defaultclass = "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1";
                if (!isVideoOn) {
                    defaultclass += " no-video";
                }
                this.set('getDefaultVideoClassName', defaultclass);
            },

            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            }
        });
    </script>
</dom-module>
