<link rel="import" href="../assets/dcc-service.html" />

<dom-module id="assets-filethis-answer-challenge">
  <template>
    <assets-dcc-service id="dccService"></assets-dcc-service>
  </template>
  <script>
    Polymer({
      is: "assets-filethis-answer-challenge",

      behaviors: [alloy.lifeCycleEvents, alloy.interactor],

      require: ["dccService"],

      execute: function (context) {
        return this.$.dccService.answerFileThisChallenge(context.challenge)
          .then(function (response) {
           return response;
           
          })
          .catch(function (error) {
            return { error: error}
          })
      }
    })
  </script>
</dom-module>