<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>

<link rel="import" href="../assets/scene-title.html">

<dom-module id="assets-filethis-forms-challenge">
	<template>
		<style>
			:host {
				--subTitleFontSize: 10pt;
			}
			.divMarginChallenge{
				margin-top: 20px;
			}
		</style>
		<div class="bankinfo">
			<div class="clearfix scene">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad banklogo">
					<img src="[[logo]]" class="img-responsive" alt="Bank Logo">
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<assets-scene-title title-text="[[titleText]]" subtitle-text="[[subtitleText]]"></assets-scene-title>
				</div>
			</div>
			<!-- Add logic to handle mfa -->			
			<div class="clearfix">
				<ui-form id="questionsForm" >
					<template is="dom-repeat" items="[[ mfa.parts ]]" as="part" index-as="que_no">
						<template is="dom-if" if="{{ checkKind(part.kind, 'static-text') }}">
							<span class="blue">[[part.text]]</span>
							<div class="input-group"></div>
						</template>
						<template is="dom-if" if="{{ checkKind(part.kind, 'text-input') }}">
							<span class="blue">[[part.label]]</span>
							<div class="input-group">
								<!-- <ui-container floating-label="Enter answer" auto-save=false> -->
									<template is="dom-if" if="[[ !part.sensitive ]]">
										<ui-container floating-label="Enter Username" auto-save=false>
											<ui-input type="text" id="{{part.id}}" alt="{{part.id}}" data-que-no$="[[que_no]]" on-blur="handleInput"></ui-input>
										</ui-container>
									</template>	
									<template is="dom-if" if="{{ part.sensitive }}">
										<ui-container floating-label="Enter Password" auto-save=false>
											<ui-input type="password" id="{{part.id}}" alt="{{part.id}}" data-que-no$="[[que_no]]" on-blur="handleInput"></ui-input>
										</ui-container>
									</template>									
								<!-- </ui-container> -->
							</div>
						</template>
						<template is="dom-if" if="{{ checkKind(part.kind, 'choices') }}">
							<span class="blue">[[part.label]]</span>
							<ui-container>
								<template is="dom-repeat" items="[[ part.choices ]]" as="choice" index-as="que_no1">
									<div class="answer-info clearfix">
										<div class="radio">
											<input value="{{ choice.id }}" id="{{ choice.id }}" on-click="handleInput" name="[[part.id]]"
												data-que-no$="[[que_no]]" type="radio">
											<label for$="{{ choice.id }}"><span></span></label>
										</div>
										<div class="title">{{ choice.label }}</div>
									</div>				
								</template>
							</ui-container>
						</template>
					</template>
				</ui-form>
			</div>
			<!-- Add logic to handle mfa -->
			<div class="clearfix spacer divMarginChallenge">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad backbtn">
					<button back action="assets-set-visibility-mode" action-visibility-mode="GRID" on-click="fireAction"><i class="df df-back"></i>Back</button>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad nextbtns">
					<button class="next" primary action="assets-answer-challenge"
						action-challenge-mfa-type$="[[ mfa.mfa_type ]]"
						action-challenge-institution-id$="[[ institutionId ]]"
						on-click="fireAction"
						action-challenge-selected-answer$=[[selectedAnswer]]
						action-challenge-selected-answer-id$=[[selectedAnswerId]]>Enter</button>
				</div>
			</div>
		</div>
		<event-hub id="hub"></event-hub>
	</template>
	<script src="challenge.js"></script>
</dom-module>