<html-import html-href="services/application-service.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="ui-elements/ui-summary-required-questions.html"></html-import>
<html-import html-href="summary/borrower-application-summary.html"></html-import>
<html-import html-href="summary/borrower-declarations.html"></html-import>
<html-import html-href="summary/assets-summary.html"></html-import>
<html-import html-href="borrower-portal/assets/scene-title.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/email-service.html"></html-import>
<html-import html-href="services/questionnaire-filters-service.html"></html-import>
<html-import html-href="borrower-portal/assets/dcc-service.html"></html-import>
<html-import html-href="borrower-portal/assets/interactors/init-dcc.html"></html-import>

<dom-module id="application-summary">
    <template>
        <style>
            .tab-content .row .tab-pane {
                display: none;
            }

            .tab-content .row .active {
                display: block;
            }

            .nav-tabs {
                border: 0;
                margin-bottom: 40px
            }

            .nav-tabs {
                padding: 0;
            }

            .nav-tabs>li {
                margin: 0;margin-left:2%;
            }
			.nav-tabs>li>a{padding: 5px 0}
            .nav-tabs>li:first-child {
                margin-left: 0
            }
			.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-bottom-width:2px
}
			
            .assets-container {
                width: 50%;
                padding: 0 15px;
                float: left;
            }


            @media only screen and (max-width:767px) {
                .nav-tabs {
                padding: 0;margin-bottom:15px;
				width:100%;overflow-x: auto; white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;text-align:center;}
				
				.summary-clmn {
                    padding: 0 15px;
                }
                .summary-fields{margin:0}
                .assets-container{width:100%;}
				.tab-pane.fade.summary-fields{margin-left:0;margin-right:0;}
            }
			@media only screen and (max-width:479px) {
			.nav-tabs>li>a{font-size:13px;}
			 }
			 @media only screen and (max-width:379px) {
			.nav-tabs>li>a{font-size:12px}
			 }
        </style>

        <div hidden$="{{ tabView(userSummary) }}">
            <ul class="nav nav-tabs clearfix">
                <template is="dom-repeat" items="[[ userSummary ]]">
                    <li style$="[[ getWidth() ]]" class$="[[ setFirstActive() ]]"><a data-toggle="tab"
                                                                                     href$="#tab[[ index ]]">[[
                        fetchTabTitle(item) ]]</a></li>
                </template>
            </ul>
        </div>

        <div class="tab-content app-summary-detail">
            <!--Summary tab content start-->
                <template is="dom-repeat" items="[[ userSummary ]]">
                    <div id$="tab[[ index ]]" class$="[[ setFirstActivePanel() ]]">
                        <div class="last-login clearfix">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 no-pad">
                                User Last Login: [[ lastLogin ]]
                                <br> Last Reminder Sent: [[ lastReminderSent ]]
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 no-pad clmn2">
                                <a href="javascript:void(0);" on-click="sendReminder" class="btn">SEND REMINDER</a>
                            </div>
                        </div>
<div class="row">
                        <template is="dom-repeat" items="{{ questionerSummary(item) }}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 summary-clmn">
                                <p class="subsection-heading">[[item.subSectionType]]</p>
                                <borrower-application-summary question-sections="[[ item.subSection.questionSections ]]">
                                </borrower-application-summary>
                            </div>
                            <div class$="{{ getClass(index) }}"></div>
                        </template>

                        <template is="dom-repeat" items="{{ assetsSummary(item) }}">
                            <div class="assets-container">
                                <assets-summary items="[[getAssets()]]"></assets-summary>
                            </div>
                        </template>

                        <template is="dom-repeat" items="{{ getDeclarationSummary(item) }}">
                            <borrower-declarations question-sections="[[ item.subSection.questionSections ]]">
                            </borrower-declarations>
                        </template>
                      </div>
                    </div>
                </template>
            <!--Summary tab content end-->
        </div>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <application-service id="applicationService"></application-service>
        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
        <assets-dcc-service id="dccService"></assets-dcc-service>
        <assets-interactors-init-dcc id="initDcc"></assets-interactors-init-dcc>
        <questionnaire-filters-service id="questionnaireFiltersService"></questionnaire-filters-service>
        <email-service id="email"></email-service>
        <assignment-service id="assignmentService"></assignment-service>
    </template>
    <script>
        Polymer({
            is: "application-summary",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                assets: Array,
                isAssetSummary: {type: Boolean, value: false},
                currentIndex: {type: Number, value: 0},
                currentTabIndex: {type: Number, value: 0},
                lastLogin: String,
                lastReminderSent: String
            },

            attached: function () {
                this.assets = [];
                Promise.all([
                    this.initDcc(),
                    this.getSummary()
                ]);
                this.getLoginRemainder();
            },

            require: [
                "dccService"
            ],

            initDcc: function () {
                return this.ensure("initDcc")
                        .then(function (initDcc) {
                            return initDcc.execute()
                        })
            },

            changeJsonArray: function (item) {
                return _.filter(item, function (o) {
                    return o.subSectionSummary;
                });
                ;
            },

            tabView: function (userList) {
                if (userList.length > 1) {
                    return false;
                }
                return true;
            },

            getWidth: function () {
                var totalWidth = (Math.ceil(100 / this.userSummary.length) - 2);
                return "width:" + totalWidth + "%";
            },

            //tab panes
            setFirstActivePanel: function () {
                var defaultClasses = ["tab-pane", "fade", "summary-fields", "clearfix"];
                if (!this.setActivePanel) {
                    this.setActivePanel = true;
                    defaultClasses.push("in active");
                }
                return defaultClasses.join(" ");
            },

            //tabs
            setFirstActive: function (icon) {
                var defaultClass = "";
                if (!this.setFirstTabActive) {
                    this.setFirstTabActive = true;
                    defaultClass = "active";
                }
                return defaultClass;
            },


            fetchTabTitle: function (item) {
                for (var propName in item) {
                    var summary = _.filter(this.allApplicants, function (item) {
                        return item.userName === propName;
                    });
                    if(summary!=null)
                    {
                        return summary[0].firstName + " " + summary[0].lastName;
                    }
                    else{
                        return "";
                    }
                }
            },

            getSummary: function () {
                var self = this;
                var params = this.$.url.getParams();
                var entityId = params.id;
                self.ensure("applicationService", "questionnaireService")
                        .then(function (service) {
                            return service.questionnaireService.fetchApplicantInfoForSummary(entityId)
                                    .then(function (response) {
                                        self.set("allApplicants", response);
                                        return service.applicationService.getApplicationSummaryQuestions(entityId);
                                    })
                                    .then(function (summary) {
                                        var allowedEmails = [];
                                        summary.forEach(function (propName) {
                                            for (var pName in propName) {
                                                allowedEmails.push(pName);
                                            }
                                            self.ensure("dccService")
                                                    .then(function (dccService) {
                                                        var promises = [];
                                                        for (var i = 0; i < allowedEmails.length; i++) {
                                                            var primaryUser = allowedEmails[i];
                                                            if(summary && summary.length > 0 && summary[i] && summary[i][allowedEmails[i]])
                                                            {
                                                                var applicantType = summary[i][allowedEmails[i]].applicantType;
                                                                if(applicantType!=null){
                                                                    if(applicantType.toLowerCase() === "spouse" || applicantType.toLowerCase() === "coborrowerspouse")
                                                                    {
                                                                        primaryUser = summary[i][allowedEmails[i]].spouseUserName
                                                                    }
                                                                    promises.push(dccService.fetchCustomerAccounts(primaryUser, entityId))
                                                              }
                                                            }
                                                            else
                                                            {
                                                                promises.push(dccService.fetchCustomerAccounts(allowedEmails[i], entityId));
                                                            }
                                                        }
                                                        return Promise.all(promises)
                                                                .then(function (responses) {

                                                                    responses.forEach(function (response) {
                                                                        self.assets.push(response)
                                                                    });
                                                                    return self.setSummaryData(summary)
                                                                })
                                                                .catch(self.handleError)
                                                    });
                                        })
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    })
                        }).catch(function (error) {
                    console.warn(error);
                });
            },

            setSummaryData: function (response) {
                this.set("userSummary", response)
            },

            getRequiredQuestion: function (item) {
                var itemArray = this.changeJsonArray(item);
                if (itemArray[0] && itemArray[0].requiredQuestions)
                    return itemArray[0].requiredQuestions;
            },

            questionerSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var summary = _.filter(propValue, function (item) {
                    return (item.subSectionType !== 'declarations' && item.subSectionType !== 'bankandinvestment');
                });
                return summary;
            },

            getDeclarationSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var declarationSummary = _.filter(propValue, function (item) {
                    return item.subSectionType === 'declarations';
                });
                return declarationSummary;
            },
            isAssetSummaryPresent: function () {
                var self = this;
                var index = self.currentTabIndex;
                if (self.userSummary.length > 1)
                    self.currentTabIndex = self.currentTabIndex + 1;
                return self.assets[index].length;

            },
            assetsSummary: function (summaryData) {
                var self = this;
                var array = self.changeJsonArray(summaryData);
                
                if(array && array.length > 0 && array[0])
                {
                    var applicantType = array[0].applicantType;
                    if(applicantType!=null){
                        if(applicantType.toLowerCase() === "spouse" || applicantType.toLowerCase() === "coborrowerspouse")
                        {
                            try
                            {
                                var assetUserName = Object.keys(summaryData)[0];
                                var spouseSummaryData = _.filter(self.userSummary, function(val){
                                    var valArray = self.changeJsonArray(val);
                                    if(valArray && valArray.length > 0 && valArray[0] && valArray[0].spouseUserName == assetUserName)
                                        return val;
                                });

                                array = self.changeJsonArray(spouseSummaryData[0]);
                            }
                            catch(ex){/*Allow to proceed in case of error*/}
                        }
                    }
                }
                var propValue = array[0].subSectionSummary;
                var summary = _.filter(propValue, function (item) {
                    if (item.subSectionType === 'bankandinvestment') {
                        for (var subSection in item.subSection) {
                            for (var questionSection in item.subSection.questionSections) {
                                for (questionList in item.subSection.questionSections[questionSection].questionList)
                                    return (item.subSection.questionSections[questionSection].questionList[questionList].questionText === 'Assets');
                            }
                        }
                    }
                });
                return summary;
            },

            getAssets: function () {
                var self = this;
                var index = self.currentIndex;
                if (self.userSummary.length > 1)
                    self.currentIndex = self.currentIndex + 1;
                return self.assets[index];
            },

            getClass: function (index) {
                if (index % 2 != 0) {
                    return "blank clearfix"
                }
            },

            sendReminder: function () {
                var self = this;
                var payload = {
                    email: self.borrower.email,
                    borrowerLastName: self.borrower.lastName,
                    borrowerFirstName: self.borrower.firstName
                };
                    
                self.ensure('assignmentService')
                    .then(function (service) {
                        return service.sendApplicationReminderNotification( 
                                self.temporaryApplicationNumber,
                                "reminder-email",
                                payload
                        ).then(function(){
                            var format = "MMM DD, YYYY: hh:mm A (z)";
                            self.lastReminderSent= self.formatDate(new Date(), format);
                        });
                });
            },

            getLoginRemainder: function () {
                var self = this;
                var params = this.$.url.getParams();
                var entityId = params.id;

                var format = "MMM DD, YYYY: hh:mm A (z)";
                this.ensure('questionnaireFiltersService')
                        .then(function (service) {
                            service.getApplicationdetails(entityId)
                                    .then(function (response) {
                                        self.set('lastLogin', self.formatDate(response.lastLoggedIn, format));
                                        self.set('lastReminderSent', self.formatDate(response.lastReminder, format));
                                    });
                        });
            },

            formatDate: function (date, format) {
                if (!date) return "N/A";

                var processedDate = moment.tz(date, window.tenant.timezone);

                return processedDate.format(format);
            }
        });
    </script>
</dom-module>