<html-import html-href="ui-elements/component-loader.html"></html-import>
<html-import html-href="services/action-center-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>
<html-import html-href="activities/add-conditions.html"></html-import>
<html-import html-href="tabs/search.html"></html-import>
<html-import html-href="tabs/document-viewer.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="ui-elements/ui-popover.html"></html-import>
<script src="../../script/download.js"></script>
<dom-module id="lender-conditions">
    <style>
        :host::content .slimScrollDiv {
            overflow: inherit !important;
        }
        @media only screen and (max-width:767px){
		.doctabs {margin:0;padding:20px 0;}
        }
		@media only screen and (max-width:479px){
		.search{margin:0;width:76%}
		}
    </style>
    <template>
        <div class="conditions-wrap clearfix">
        <div class="tab-content clearfix">
            <ul class="nav nav-tabs doctabs clearfix">
                <li class="conditionsCount">Met Conditions: [[receivedCount]] of [[totalConditions]]</li>
                <li class="active cursr"><a data-toggle="tab" data-target="#tab-outstanding"><span>Outstanding</span> <span> ([[ outstandingCount ]])</span></a></li>
                <li class="cursr"><a data-toggle="tab" data-target="#tab-received"><span>Received</span> <span> ([[ receivedCount ]]) </span></a></li>
                <li id="liAddNewCondition" class="cursr"><a data-toggle="tab" data-target="#tab-new-condition"><span>Add New Condition</span></a></li>
            </ul>
            
              <div class="clearfix"></div> 
                   
                <tab-pane id="tab-outstanding" class="tab-pane fade active in clearfix">
                    <!-- Outstanding conditions START -->
                   <div class="filtering clearfix">
                        <div class="search pull-left">
                        	<ui-search value="{{outstandingSearchVal::input}}" icon-right-align=true></ui-search>
                        </div>
                        <div class="displayDropdown">
                            <ui-options id="length-selector"
                            name="length-selector"
                            items="[[ pageOptions ]]"
                            icon="df df-line-bar"
                            button-text="10"
                            value="{{ outstandingPageLength::input}}">
                            </ui-options>
                        </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    
                    <div class="well" hidden$="{{hasOutstandingConditions}}">No outstanding conditions</div>
                    
                    <div hidden$="{{!hasOutstandingConditions}}" class="fullWidth">
                        <div id="outstandingList" class="clearfix">
                            <div class="con-info">
                                <div class="issue-tracker">
                                    <ul class="clearfix">
                                        <li class="title">Name</li>
                                        <li class="title">Created By</li>
                                        <li class="title">Recepient(s)</li>
                                        <li class="title">Requested</li>
                                    </ul>
                                    <template is="dom-repeat" items="[[ parsedOutstandingConditions ]]">
                                        <ul class="clearfix">
                                            <li>
                                                <div class="title mbtitle">Name</div>[[item.requestType.title]]&nbsp;
                                                <template is="dom-if" if="{{ hasNotes(item.notes) }}">
                                                    <ui-popover body-text="[[item.notes]]"
                                                        placement="bottom"
                                                        custom-icon=true>
                                                        <span class="rejection-tooltip">! Rejection Note</span>
                                                    </ui-popover>
                                                </template>
                                            </li>
                                            <li><div class="title mbtitle">Created By</div>[[ getCreatedByUser(item) ]]&nbsp;</li>
                                            <li>
                                            <div class="title mbtitle">Recepient(s)</div>[[ concatRecepients(item.recipients) ]]&nbsp;</li>
                                            <li>
                                            <div class="title mbtitle">Requested</div>[[ formatDate(item.requestedDate.time) ]]&nbsp;</li>
                                        </ul>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="paginationContainer" class="footer-right">
                        <element-pagination listener-name="outstandingPageChanged" element-length="{{ outstandingCount }}"
                                            selected-index="{{ selectedOutstandingIndex }}"
                                            page-length="{{ outstandingPageLength }}"
                                            hidden$="{{ !hasOutstandingConditions }}"></element-pagination>
                    </div>
                    <!-- Outstanding conditions END -->
                </tab-pane>
                
                <tab-pane id="tab-received" class="tab-pane fade clearfix">
                  <!-- Received Conditions START -->
                  <div class="filtering clearfix">
                        <div class="search pull-left">
                        	<ui-search value="{{receivedSearchVal::input}}" icon-right-align=true></ui-search>
                        </div>
                        <div class="displayDropdown">
                            <ui-options id="length-selector"
                            name="length-selector"
                            items="[[ pageOptions ]]"
                            icon="df df-line-bar"
                            button-text="10"
                            value="{{ receivedPageLength::input}}">
                            </ui-options>
                        </div>
                    </div>
                    <div class="well" hidden$="{{ hasReceivedConditions }}">No received conditions</div>
                    <div hidden$="{{ !hasReceivedConditions }}">
                        <div id="receivedList">
                            <div class="con-info">
                                <div class="received-condition-tracker">
                                    <ul class="clearfix">
                                        <li class="title">Name</li>
                                        <li class="title">Created By</li>
                                        <li class="title">Recepient(s)</li>
                                        <li class="title">Status</li>
                                        <li class="title">Received</li>
                                        <li class="title">View</li>
                                    </ul>
                                    <template is="dom-repeat" items="[[ parsedReceivedConditions ]]">
                                        <ul class="clearfix">
                                            
                                            <li><div class="title mbtitle">Name</div>[[item.requestType.title]]&nbsp;</li>
                                            <li><div class="title mbtitle">Created By</div>[[ getCreatedByUser(item) ]]&nbsp;</li>
                                            <li>
                                            <div class="title mbtitle">Recepient(s)</div>[[ concatRecepients(item.recipients) ]]&nbsp;</li>
                                            
                                            <li class="con-status"><div class="title mbtitle">Status</div><span class$="{{ getStatusClass(item.status) }}">[[ item.statusLabel ]]</span><p>[[item.notes]]</p>
                                            &nbsp;</li>
                                            
                                            <li><div class="title mbtitle">Received</div>[[ formatDate(item.submittedDate.time) ]]&nbsp;</li>
                                            <li><div class="title mbtitle">View</div>
                                            <ui-modal-trigger modal-id$="condition-documentViewer-[[ index ]]"><span
                                            class="df df-document" data-id$="[[ item.id ]]" on-click="handleDownloadDocumentClick"></span>
                                            </ui-modal-trigger>
                                            <ui-modal id$="condition-documentViewer-[[ index ]]" fullscreen no-sections>
                                            <docitt-document-viewer condition-id="[[ item.id ]]"
                                            entity-id="[[ entityId ]]"></docitt-document-viewer>
                                            </ui-modal></li>
                                        </ul>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="paginationContainer" class="footer-right">
                        <element-pagination listener-name="receivedPageChanged" element-length="{{ receivedCount }}"
                                            selected-index="{{ selectedReceivedIndex }}"
                                            page-length="{{ receivedPageLength }}"
                                            hidden$="{{ !hasReceivedConditions }}"></element-pagination>
                    </div>
                    <!-- Received Conditions END -->
                </tab-pane>
                <tab-pane id="tab-new-condition" class="tab-pane fade">
                    <add-conditions id="addCondition"></add-conditions>
                </tab-pane>
            </div>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
        <action-center-service id="acService"></action-center-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <identity-service id="identityService"></identity-service>
        <team-service id="teamService"></team-service>
        <document-manager-service id="documentManagerService"></document-manager-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "lender-conditions",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties: {
                entityId: {
                    type: String,
                    value: ""
                },
                recipientList: {
                    type: Array,
                    value: ""
                },
                outstandingCount: {
                    type: Number,
                    value: 0
                },
                receivedCount: {
                    type: Number,
                    value: 0
                },
                receivedList: Array,
                outstandingList: Array,
                parsedOutstandingConditions: Array,
                parsedReceivedConditions: Array,
                minScrollHeight: {
                    type: Number,
                    value: 240
                },
                outstandingSearchVal: {
                    value: '',
                    type: String
                },
                receivedSearchVal: {
                    value: '',
                    type: String
                },
                totalConditions: { type: Number, value: 0 },
                selectedOutstandingIndex: {
                    type: Number,
                    value: 0
                },
                selectedReceivedIndex: {
                    type: Number,
                    value: 0
                },
                outstandingPageLength: {
                    type: Number,
                    value: 10
                },
                receivedPageLength: {
                    type: Number,
                    value: 10
                },
                hasOutstandingConditions: Boolean,
                hasReceivedCondition: Boolean,
                pageOptions: {
                    type: Array,
                    value: [10, 20, 30, 50]
                },
                fetchedDocuments: {
                  type: Array,
                    value: function () { return []; }
                }
            },

            observers: [
                "parseOutstandingConditions(selectedOutstandingIndex, outstandingSearchVal, outstandingList, outstandingPageLength)",
                "parseReceivedConditions(selectedReceivedIndex, receivedSearchVal, receivedList, receivedPageLength)",
                "hasConditions(outstandingCount, receivedCount)",
                "fetchAllDocuments(entityId)"
            ],
            listeners: {
                "outstandingPageChanged": "outstandingPaginationChanged",
                "receivedPageChanged": "receivedPaginationChanged"
            },
            attached: function () {
                var self = this;
                var entityId = self.entityId || self.$.url.getParams().id;
                self.set("entityId", entityId);
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.subScriptionInstance = this.subscribe("conditions:refreshOutStanding", self.init.bind(self));              
            },

            init: function () {
                var self = this;
                $('#outstandingList').slimScroll({
                    size: '5px',
                    height: '240px',
                    distance: '-1px',
                    width: '100%',
                    alwaysVisible: false,
                    opacity: 1
                });
                $('#receivedList').slimScroll({
                    size: '5px',
                    height: '243px',
                    distance: '-1px',
                    width: '100%',
                    alwaysVisible: false,
                    opacity: 1
                });

                if(this.configuration.apps.securityLogin.configuration.portal === "affinity-partner"){
                    $("#liAddNewCondition").hide();
                }
                self.fetchUserList();
            },
            hasNotes:function(notes){
                if(notes)
                    return true;
                else    
                    return false;
            },
            fetchAllDocuments: function(entityId){
                if (!entityId) return;
                var self = this;
                return self.ensure("documentManagerService").then(function (service) {
                            return service.fetchAllDocuments(entityId)
                                .then(function (documents) {
                                    self.fetchedDocuments = documents;
                                    return self.fetchedDocuments;
                                });
                    });
            },
            handleDownloadDocumentClick: function (e) {
                var self = this;
                var conditionId = e.target.dataset.id;
                var documents = _.filter(self.fetchedDocuments, function (document) { return document.metadata && document.metadata.requestId === conditionId});
                if(documents && documents.length > 0)
                {
                    for(var i=0; i< documents.length; i++)
                    {
                        if(this.isDocDownload(documents[i].fileName))
                            this.downloadDocument(documents[i], this.entityId);
                    }
                }
            },
            isDocDownload: function(fileName){
                var fileExtensions = ["jpg", "png", "pdf"];

                var match = _.find(fileExtensions, function (ext) {
                    return fileName.slice(-3).toLowerCase() === ext;
                });

                return !match;
            },
            downloadDocument : function(document, entityId){
                if (!document || !entityId) return;
                if(this.configuration.services.documentManager == undefined){
                   throw new Error("documentManager service not found");
                }
                    var base = this.configuration.services.documentManager;
                    var url = [base, "application", this.entityId, document.id, "download"].join("/");

                    var x = new XMLHttpRequest();
                    x.open("GET", url, true);
                    x.responseType = "blob";
                    x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                    x.onload = function (e) {
                        download(e.target.response, document.fileName, "application/pdf");
                    };
                    x.send();
            },
            
            /*
             * This function will fetch the conditions from action-center service
             */
            getConditions: function () {
                var self = this;

                this.ensure("acService")
                        .then(function (service) {
                            return service.getActions(self.entityId);
                        })
                        .then(function (response) {
                            if (!response || !response.length) {
                                self.tableIsEmpty = true;
                                return;
                            }
                            self.tableIsEmpty = false;
                            self.getSourceByUserDetails(response);
                            return self.ensure("addCondition").then(function(addCondition){
                                addCondition.clearErrors();
                            });
                        })
                        .catch(function (error) {
                            console.error("Unable to retrieve requests at this time.", error);
                        });
            },

            getSourceByUserDetails:function(response){
                var self = this;
                var responseList = _.cloneDeep(response);
                var promises = [];

                var distUserList = _.uniq(_.map(responseList, 'sourceBy'));
                _.forEach(distUserList, function (item) {
                    if (item) {
                        promises.push(self.$.teamService.getUserDetails(item).then(function (response) {
                            return {
                                sourceBy: item,
                                sourceByFirstName: response.firstName,
                                sourceByLastName: response.lastName
                            };
                        }));
                    }
                });

                Promise.all(promises).then(function (items) {
                    _.forEach(responseList, function (item) {
                            var response = items.filter(i=>i.sourceBy==item.sourceBy);
                            if(response && response.length>0){
                                item.sourceByFirstName = response[0].sourceByFirstName;
                                item.sourceByLastName = response[0].sourceByLastName;
                            }
                    });
                    self.filterConditions(responseList);
                });
            },

            /*
             * This function will filter the conditions into outstanding and received list
             */
            filterConditions: function (actions) {
                var outstanding = [];
                var received = [];
                actions.forEach(function (element) {

                    if (element.status === "Requested") {
                        outstanding.unshift(element);
                    }
                    else {
                        received.unshift(element);
                    }
                });
                this.totalConditions = actions.length;
                this.setOutstandingList(outstanding);
                this.setReceivedList(received);
            },

            /*
             * This function will set the outstanding list and its counts
             */
            setOutstandingList: function (outstandingListData) {
                if (!outstandingListData || !outstandingListData.length) {
                    this.set("outstandingCount", 0);
                    return;
                }
                this.set("outstandingList", outstandingListData);
                this.set("outstandingCount", outstandingListData.length);
            },

            /*
             * This function will set the received list and its counts
             */
            setReceivedList: function (receivedListData) {
                if (!receivedListData || !receivedListData.length) {
                    return;
                }
                this.set("receivedList", receivedListData);
                this.set("receivedCount", receivedListData.length);
            },

            /*
             * This function will format the dates for display
             */
            formatDate: function (date, isLong) {
                if (!date) return "";

                if (isLong) {
                    return moment
                            .tz(date, window.tenant.timezone)
                            .format("MM/DD/YYYY");
                }

                return moment
                        .tz(date, window.tenant.timezone)
                        .format("MMM D, YYYY");
            },

            /*
             * This function will set the class for the status color scheme
             */
            getStatusClass: function (status) {
                if (status === "Rejected") {
                    return "not-accept";
                }
                else if (status === "Completed") {
                    return "accept";
                }
                return "pend";
            },

            /*
             * Observer to parse outstanding conditions
             */
            parseOutstandingConditions: function (selectedOutstandingIndex, outstandingSearchVal, outstandingConditions, outstandingPageLength) {
                outstandingConditions = this.searchOutstandingConditions(outstandingSearchVal, outstandingConditions);
                this.set("outstandingCount", outstandingConditions.length);
                outstandingConditions = this.paginateConditions(selectedOutstandingIndex, outstandingConditions, true);
                this.set("parsedOutstandingConditions", outstandingConditions);
            },

            /*
             * Observer to parse received conditions
             */
            parseReceivedConditions: function (selectedReceivedIndex, receivedSearchVal, receivedConditions, receivedPageLength) {
                receivedConditions = this.searchReceivedConditions(receivedSearchVal, receivedConditions);
                this.set("receivedCount", receivedConditions.length);
                receivedConditions = this.paginateConditions(selectedReceivedIndex, receivedConditions, false);
                this.set("parsedReceivedConditions", receivedConditions);
            },

            /*
             * This function will set the pagination counts
             */
            paginateConditions: function (index, conditions, isOutstanding) {
                var length = 0;
                if (isOutstanding) {
                    if (this.outstandingPageLength === "")
                        this.outstandingPageLength = 10;
                    length = this.outstandingPageLength;
                }
                else {
                    if (this.receivedPageLength === "")
                        this.receivedPageLength = 10;
                    length = this.receivedPageLength;
                }

                var currentPageStart = index * length;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;
                // when total records are less than (currentPageStart) display from 0th record
                if (conditions.length <= currentPageStart)
                    currentPageStart = 0;
                var currentIndexcount = countSetToOne + "-" + (conditions.slice(
                                currentPageStart,
                                currentPageStart + parseInt(length)
                        )).length;
                return conditions.slice(
                        currentPageStart,
                        currentPageStart + parseInt(length)
                );
            },

            /*
             * This function will search on outstanding conditions list
             */
            searchOutstandingConditions: function (searchVal, conditions) {
                var self = this;
                if (!searchVal) return conditions;
                return conditions.filter(function (condition) {
                    var searchables = [];
                    for (var prop in condition) {
                        if (typeof condition[prop] === "object") {
                            //search only for requestType > title and requestedDate
                            if (prop.toLowerCase() === "requesteddate") {
                                searchables.push(self.formatDate(condition[prop]["time"]).toLowerCase());
                            }
                            if (prop.toLowerCase() === "requesttype") {
                                for (var p in condition[prop]) {
                                    if (typeof condition[prop][p] !== "object" && p === "title") {
                                        searchables.push(condition[prop][p].toString().toLowerCase());
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    searchables = searchables.join(", ");
                    if (searchVal) {
                        return searchables.indexOf(searchVal.toLowerCase()) !== -1;
                    }
                });
            },

            /*
             * This function will search on received conditions list
             */
            searchReceivedConditions: function (searchVal, conditions) {
                var self = this;
                if (!searchVal) return conditions;
                return conditions.filter(function (condition) {
                    var searchables = [];
                    for (var prop in condition) {
                        //search only for status, requestType > title and submittedDate
                        if (typeof condition[prop] !== "object" && prop.toLowerCase() === "status")
                            searchables.push(condition[prop].toLowerCase());
                        else {
                            if (prop.toLowerCase() === "submitteddate") {
                                searchables.push(self.formatDate(condition[prop]["time"]).toLowerCase());
                            }
                            if (prop.toLowerCase() === "requesttype") {
                                for (var p in condition[prop]) {
                                    if (typeof condition[prop][p] !== "object" && p === "title") {
                                        searchables.push(condition[prop][p].toString().toLowerCase());
                                        break;
                                    }
                                }
                            }
                        }
                    }
                    searchables = searchables.join(", ");
                    if (searchVal) {
                        return searchables.indexOf(searchVal.toLowerCase()) !== -1;
                    }
                });
            },

            /*
             * This function will check if any conditions exist
             */
            hasConditions: function (outstandingCount, receivedCount) {
                if (outstandingCount > 0)
                    this.set("hasOutstandingConditions", true);
                else
                    this.set("hasOutstandingConditions", false);

                if (receivedCount > 0)
                    this.set("hasReceivedConditions", true);
                else
                    this.set("hasReceivedConditions", false);
            },

            concatRecepients: function(selectedRecepientList) {
                var self = this;
                var selectedRecpientNames = [];
                if(selectedRecepientList != null && selectedRecepientList.length > 0) {
                    _.forEach(selectedRecepientList, function (rcp) {
                        var selectedRecepient = self.getUserName(rcp);
                        if(selectedRecepient != null && selectedRecepient.length > 0) {
                            var recepientName = selectedRecepient[0].firstName + " " + selectedRecepient[0].lastName;
                            selectedRecpientNames.push(recepientName);
                        }
                    });

                    return selectedRecpientNames.join(', ');
                }
            },
            getCreatedByUser(item){
                if (item.sourceByFirstName) {
                    return item.sourceByFirstName + " " + item.sourceByLastName;
                }
            },
            getUserName: function (name) {
                var selectedRecipient = _.filter(this.recipientList, function (item) {
                    return item.userName === name
                })
                return selectedRecipient;
            },
            fetchUserList: function () {
                var self = this;
                self.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.fetchApplicantWithSpouseName(self.entityId)
                        })
                        .then(function (applicants) {
                            self.set("recipientList", applicants);
                            self.getConditions();
                        })
                        .catch(function (error) {
                            console.warn(error);
                            self.getConditions();
                        });
            },
            detached: function(){
                this.unsubscribe(this.subScriptionInstance);
            },
            receivedPaginationChanged: function () {
                $(this.$.receivedList).slimScroll({ scrollTo: '0px' });
            },
            outstandingPaginationChanged: function () {
                $(this.$.outstandingList).slimScroll({ scrollTo: '0px' });
            }
        });
    </script>
</dom-module>