<dom-module id="data-mapping-row">
    <template>
        <style>            
            :host::content .form-group {
                margin-bottom: 0 !important;
            }
            .disabled-btn {
                color: #95989a;
            }
            :host::content .form-control[disabled] {
                background-color: #fff;
                border: 0px solid transparent !important;
                cursor: auto;
                padding-left: 3% !important;
                width: 97% !important;
                color: #fff !important;
                height: 1px;
            }

            :host::content .form-control {
                border: 1px solid #9c9e9f !important;
                padding-left: 3% !important;
                width: 97% !important;
                color: #95989a !important;
            }

            :host::content #confirm .modal-content {
                width: 460px;
            }

            :host::content #confirm .modal-footer {
                border: 0;
            }

            .editnsave {
                width: 30px;
                display: inline-block;
            }

            @media (max-width: 767px) {
                li {
                    width: 100% !important;
                }
               
            }
        </style>
        <li><div class="hidden-lg hidden-md mtitle">Docitt ID</div>[[ getId(data.standardizedField) ]]</li>
		<li><div class="hidden-lg hidden-md mtitle">Docitt Standard Labels</div>[[ index ]] [[ data.defaultLabel ]]&nbsp;</li>
        <li><div class="hidden-lg hidden-md mtitle">Tenant Labels</div>
            <template is="dom-if" if="[[ !editButtonEnable ]]" restamp>
                <span>[[ index ]] [[ tenantLabel ]]</span>
            </template>
            <ui-container-group id="uiContainerGroup" has-error="{{formHasError}}">
                <ui-container is-required=true auto-save=false>
                    <ui-input on-blur="saveTenantLabel" name="tenantLabel" value="{{ tenantLabel }}"
                              disabled="[[ isDisabled ]]">
                        <ui-validators>
                            <ui-require-field>Please enter Tenant Label.</ui-require-field>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </ui-container-group>
        </li>
        <li><div class="hidden-lg hidden-md mtitle">Actions</div>
            <a hidden$="[[ editButtonEnable ]]" href="javascript:void(0);" on-click="makeFieldEditable"
               class="editnsave">Edit</a>
            <a hidden$="[[ saveButtonEnable ]]" href="javascript:void(0);" class="editnsave">Save</a>

            <template is="dom-if" if="[[ resetAllowed ]]" restamp>
                <a href="javascript:void(0);" on-click="confirmResetTenantLabel">Reset</a>
            </template>
            <template is="dom-if" if="[[ !resetAllowed ]]" restamp>
                <a class="disabled-btn" href="javascript:void(0);">Reset</a>
            </template>
        </li>
        <li><div class="hidden-lg hidden-md mtitle">Field Types</div>
        [[ data.tenantFieldType ]]</li>
        <ui-confirm id="confirm"
                    confirm-title="Are you sure if you want to reset the label to Docitt Standard Label?"></ui-confirm>
        <event-hub id="hub">
            <event-subscription event="edit.ready"
                                handler="disableEdit"></event-subscription>
        </event-hub>
        <data-mapper-service id="dataMapperService"></data-mapper-service>
    </template>
    <script>
        Polymer({
            is: "data-mapping-row",

            properties: {
                data: {
                    type: Object
                },
                isDisabled: {
                    type: Boolean
                },
                editButtonEnable: {
                    type: Boolean
                },
                saveButtonEnable: {
                    type: Boolean
                },
                resetAllowed: {
                    type: Boolean
                },
                originalTenantLabel: {
                    type: String
                },
                tenantLabel: {
                    type: String
                },
                standardizedField: {
                    type: String
                }
            },
            listeners: {
                "confirm": "handleConfirmReset"
            },
            behaviors: [eventHub, ensureDependenciesBehavior],
            observers: [
                'updateTenantLabel(data.tenantLabel)'
            ],
            updateTenantLabel: function (tenantLabel) {
                this.set('originalTenantLabel', tenantLabel);
                this.set('tenantLabel', tenantLabel);
                if (this.get('data.defaultLabel') === tenantLabel)
                    this.set('resetAllowed', false);
                else
                    this.set('resetAllowed', true);
                this.set('editButtonEnable', false);
                this.set('saveButtonEnable', true);
                this.set('isDisabled', true);
            },
            attached: function () {
                if (this.get("data.standardizedEnum"))
                    this.set('standardizedField', this.get("data.standardizedEnum"));
                else
                    this.set('standardizedField', this.get("data.standardizedField"));
            },
            getId: function () {
                if (this.get("data.standardizedEnum"))
                    return this.get("data.standardizedEnum");
                else
                    return this.get("data.standardizedField");
            },
            makeFieldEditable: function () {
                this.changeFlags();
                this.$.hub.publish("edit.ready", {id: this.get('data.id')});
            },
            saveTenantLabel: function () {
                if (this.originalTenantLabel === this.tenantLabel) return

                var self = this;
                this.validateField().then(function (isValid) {
                    if (isValid) {
                        var payload = {
                            "standardizedField": self.get('data.standardizedField'),
                            "tenantLabel": self.tenantLabel
                        };
                        var type = 'field';
                        var standardizedField = self.get('data.standardizedField');
                        if (self.get('data.standardizedEnum')) {
                            payload.standardizedEnum = self.get('data.standardizedEnum');
                            payload.visible = true;
                            payload.sequenceNo = 1;
                            type = 'enum';
                            standardizedField = self.get('data.standardizedEnum');
                        }
                        else {
                            payload.tenantFieldType = self.get('data.tenantFieldType');
                            self.get('data.standardizedField')
                        }
                        self.ensure("dataMapperService")
                                .then(function (service) {
                                    return service.updateLabel(type, standardizedField, payload);
                                })
                                .then(function (response) {
                                    self.set('originalTenantLabel', self.tenantLabel);
                                    // checking if defaultLabel is same as  tenantLabel then disable the rest button
                                    if (self.get('data.defaultLabel') === self.get('tenantLabel'))
                                        self.set('resetAllowed', false);
                                    else
                                        self.set('resetAllowed', true);
                                    self.resetFlags();
                                    self.$.hub.publish("data.updated", {data: response});
                                })
                                .catch(function (error) {
                                    console.warn(error);
                                });
                    }
                });
            },
            validateField: function () {
                return this.$.uiContainerGroup.isValid();
            },
            changeFlags: function () {
                this.set('editButtonEnable', !this.editButtonEnable);
                this.set('saveButtonEnable', !this.saveButtonEnable);
                this.set('isDisabled', !this.isDisabled);
            },
            confirmResetTenantLabel: function () {
                this.$.confirm.open();
                this.$.hub.publish("edit.ready", {id: this.get('data.id')});
            },
            handleConfirmReset: function () {
                var self = this;
                var payload = {
                    "standardizedField": self.get('data.standardizedField'),
                    "tenantLabel": self.get("data.defaultLabel")
                };
                var type = 'field';
                var standardizedField = self.get('data.standardizedField');
                if (self.get('data.standardizedEnum')) {
                    payload.standardizedEnum = self.get('data.standardizedEnum');
                    payload.visible = true;
                    payload.sequenceNo = 1;
                    type = 'enum';
                    standardizedField = self.get('data.standardizedEnum');
                }
                else {
                    payload.tenantFieldType = self.get('data.tenantFieldType');
                }
                self.ensure("dataMapperService")
                        .then(function (service) {
                            return service.updateLabel(type, standardizedField, payload);
                        })
                        .then(function (response) {
                            self.set('tenantLabel', self.get("data.defaultLabel"));
                            self.set('originalTenantLabel', self.get("data.defaultLabel"));
                            self.set('resetAllowed', false);
                            self.validateField();
                            self.set('editButtonEnable', false);
                            self.set('saveButtonEnable', true);
                            self.set('isDisabled', true);
                            self.$.hub.publish("data.updated", {data: response});
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },
            disableEdit: function (payload) {
                var self = this;
                if (payload.id !== this.get('data.id') && this.get('isDisabled') === false) {
                    this.validateField().then(function (response) {
                        if (!response) {
                            self.set('tenantLabel', self.originalTenantLabel);
                            self.validateField()
                        }
                        self.changeFlags();
                    });
                }
            },
            resetFlags: function () {
                this.set('editButtonEnable', false);
                this.set('saveButtonEnable', true);
                this.set('isDisabled', true);
            }
        });
    </script>
</dom-module>