<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>
<html-import html-href="tabs/search.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="tabs/lender/data-mapping-row.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/data-mapper-service.html"></html-import>
<dom-module id="data-mapping">
    <template>
        <style>
            .panel-primary {
                border: 0;
				border-radius:0
            }
            .df-document {
                color: #fff;
                font-size: 25px;
            }
            .panel-title{
                vertical-align: super;
                padding-left: 10px;
				color: #fff;
            }
            .filtering{ position:relative; margin-bottom:30px;}
			.loading-container{height:100%;}
        </style>
        <div class="panel panel-primary">
            <div class="datamap-heading"><span class="df df-document"></span><span class="panel-title">Data Mapping Settings</span></div>
            <div class="panel-body">
                <div class="filtering pull-right no-pad">
                    <div class="search pull-left">
                        <ui-search value="{{ searchVal::input }}" icon-right-align=true></ui-search>
                    </div>
                    <div class="displayDropdown pull-right">
                        <ui-options id="length-selector"
                                    name="length-selector"
                                    items="[[ pageOptions ]]"
                                    icon="df df-line-bar"
                                    button-text="10"
                                    value="{{ pageLength::input}}">
                        </ui-options>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div hidden$="[[ isLoading ]]" class="tab-content">
                        <ul class="data-map-list-titles clearfix">
                            <li>Docitt ID</li>
                            <li>Docitt Standard Labels</li>
                            <li>Tenant Labels</li>
                            <li>Actions</li>
                            <li>Field Types</li>
                        </ul>
                        <template is="dom-repeat" items="{{ searchedDataList }}">
                            <ul class="data-map-list clearfix">
                                <data-mapping-row data="[[ item ]]"></data-mapping-row>
                                <template is="dom-if" if="[[ checkEnumData(item.enums) ]]" restamp>
                                    <li class="full-width clearfix">
                                        <template is="dom-repeat" items="[[ item.enums ]]" as="enum">
                                            <ul class="clearfix">
                                                <data-mapping-row index="[[ getIndex(index) ]]" data="[[ enum ]]"></data-mapping-row>
                                            </ul>
                                        </template>
                                    </li>
                                </template>
                            </ul>
                        </template>
                    <div id="paginationContainer" class="footer-right">
                        <element-pagination element-length="{{ dataMappingListLength }}"
                                            selected-index="{{ selectedIndex }}"
                                            page-length="{{ pageLength }}"
                                            hidden$="{{ !checkData(dataMappingListLength) }}"></element-pagination>
                    </div>
                </div>

                <div class="loading-container animated fadeInUp clearfix" hidden$="[[ !isLoading ]]">
                    <loading-indicator></loading-indicator>
                </div>

            </div>
        </div>

        <event-hub id="hub">
            <event-subscription event="data.updated" handler="updatedLocalData"></event-subscription>
        </event-hub>
        <data-mapper-service id="dataMapperService"></data-mapper-service>
    </template>
    <script>
        Polymer({
            is: "data-mapping",

            properties: {
                isLoading: {
                    type: Boolean,
                    value: true
                },
                pageOptions: {
                    type: Array,
                    value: [10, 20, 30, 50]
                },
                selectedIndex: {
                    type: Number,
                    value: 0
                },
                searchVal: {
                    value: '',
                    type: String
                },
                pageLength: {
                    type: Number,
                    value: 10
                },
                dataMappingList: {
                    type: Array
                },
                searchedDataList: {
                    type: Array,
                    notify: true
                }
            },
            observers: [
                "parseDataMapping(selectedIndex,searchVal,dataMappingList, pageLength)"
            ],
            behaviors: [ eventHub, ensureDependenciesBehavior ],
            attached: function () {
                var self = this;
                this.ensure("dataMapperService")
                        .then(function (service) {
                            return service.getAllList();
                        })
                        .then(function (response) {
                            self.set('dataMappingList', response);
                            self.set('isLoading', false);
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },
            updatedLocalData: function (payload) {
                var _copyOfDataMappingList = _.cloneDeep(this.dataMappingList);

                var standardizedFieldIndex = _.findIndex(_copyOfDataMappingList, { standardizedField: payload.data.standardizedField });

                var currentUpdatedField = _copyOfDataMappingList[standardizedFieldIndex];
                if (payload.data.standardizedEnum) {
                    // Enum is updated
                    var standardizedEnumIndex = _.findIndex(currentUpdatedField.enums, { standardizedEnum: payload.data.standardizedEnum });
                    var currentUpdatedEnum = _copyOfDataMappingList[standardizedFieldIndex].enums[standardizedEnumIndex];
                    currentUpdatedEnum.tenantLabel = payload.data.tenantLabel;
                }
                else {
                    currentUpdatedField.tenantLabel = payload.data.tenantLabel;
                }
                this.set('dataMappingList', _copyOfDataMappingList);
            },
            parseDataMapping: function (selectedIndex, searchedVal, dataMappingList, pageLength) {
                if (selectedIndex == "" && dataMappingList == "") return

                var searchedDataList = this.searchLog(searchedVal, dataMappingList);
                this.set("dataMappingListLength", searchedDataList.length);
                searchedDataList = this.paginateLog(selectedIndex, searchedDataList);
                this.set('searchedDataList', searchedDataList);
            },
            searchLog: function (searchVal, activities) {
                var self = this;
                if (!searchVal) return activities;

                return activities.filter(function (dataList) {
                    var searchables = [];
                    for (var prop in dataList) {
                        if (searchVal) {
                            if (typeof dataList[prop] !== "object" &&
                                    (prop === "standardizedField" || prop === "defaultLabel" || prop === "tenantLabel"))
                                searchables.push(dataList[prop].toLowerCase());
                            else if (prop === "enums" && dataList[prop] && dataList[prop].length > 0) {
                                dataList[prop].filter(function (enumDataList) {
                                    for (var propKey in enumDataList) {
                                        if (typeof enumDataList[propKey] !== "object" &&
                                                (propKey === "standardizedEnum" || propKey === "defaultLabel" || propKey === "tenantLabel")) {
                                            searchables.push(enumDataList[propKey].toLowerCase());
                                        }
                                    }
                                });
                            }
                        }
                    }
                    searchables = searchables.join(", ");
                    return (searchables.indexOf(searchVal.toLowerCase()) !== -1);
                });
            },
            paginateLog: function (selectedIndex, searchedDataList) {
                if (this.pageLength == "")
                    this.pageLength = 10;

                var currentPageStart = selectedIndex * this.pageLength;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;
                // when total records are less than (currentPageStart) display from 0th record
                if (searchedDataList.length <= currentPageStart)
                    currentPageStart = 0;
                var pageRangeTwo = parseInt(this.pageLength * (this.selectedIndex + 1));
                if (pageRangeTwo > searchedDataList.length) pageRangeTwo = searchedDataList.length;

                var currentIndexCount = [
                    countSetToOne,
                    pageRangeTwo
                ].join(" - ");

                this.set("currentCount", currentIndexCount);
                return searchedDataList.slice(
                        currentPageStart,
                        currentPageStart + parseInt(this.pageLength)
                );
            },
            checkEnumData: function (enumsList) {
                return (enumsList && enumsList.length);
            },
            checkData: function (enumsList) {
                return (enumsList);
            },
            getIndex: function (index) {
                return index + 1 + '.';
            }
        });
    </script>
</dom-module>