<html-import html-href="services/activity-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>
<html-import html-href="tabs/search.html"></html-import>
<dom-module id="activity-history">
    <style>
         :host::content .ui-options-container {
            margin-top: 0 !important;
        }
    </style>
    <template>
        <div class="active-logs-wrap clearfix">
                <div class="sorting">
                    <ui-form id="form">
                        <ui-options id="sortBy"
                                    name="sortBy"
                                    items="[[ sortOptions.roleBased ]]"
                                    button-text="Sort by"
                                    value="{{ selectedDropdownVal::input}}">
                        </ui-options>
                    </ui-form>
                </div>
                <div class="filtering clearfix">
                    <div class="logs" hidden$="{{ !hasActivities(newActivityListLength) }}">
                        <span>Showing {{ currentCount }} of {{ newActivityListLength }}</span>
                    </div>
                    <div class="search pull-left">
                        <ui-search value="{{searchVal::input}}" icon-right-align=true></ui-search>
                    </div>
                    <div class="displayDropdown">
                            <ui-options id="length-selector"
                            name="length-selector"
                            items="[[ pageOptions ]]"
                            icon="df df-line-bar"
                            button-text="10"
                            value="{{ pageLength::input}}">
                            </ui-options>
                    </div>
                </div>
            </div>

            <div class="active-logs clearfix" hidden$="{{ !hasActivities(newActivityListLength) }}">
                <h3>Activity log</h3>
                    <ul id="activityLog">
                        <template id="activityUserId"
                                  is="dom-repeat"
                                  items="{{ parsedActivities }}">
                            <li class="titleStyle">
                                <div>[[ item.title ]]</div>
                                <div>[[ getFullName(item)]] [[ item.role ]]: {{ formatDate(item.activityDate)
                                    }} / {{ formatTime(item.activityDate) }}</div>
                            </li>
                            <li class="divider"></li>
                        </template>
                    </ul>
            </div>

            <div id="paginationContainer" class="footer-right">
                <element-pagination listener-name="activityHistoryPageChanged" element-length="{{ newActivityListLength }}"
                                    selected-index="{{ selectedIndex }}"
                                    page-length="{{ pageLength }}"
                                    hidden$="{{ !hasActivities(newActivityListLength) }}"></element-pagination>
            </div>

        <div class="well"
             hidden$="{{ hasActivities(newActivityListLength) }}">
            No activity history logged
        </div>
        <activity-service id="activityService"></activity-service>
        <event-hub id="hub"></event-hub>
        <identity-service id="identityService"></identity-service>
        <team-service id="teamService"></team-service>
    </template>
    <script>
        Polymer({
            is: "activity-history",
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            properties: {
                currentCount: String,
                newActivityListLength: String,
                parsedActivities: {
                    type: Array,
                    value: []
                },
                selectedIndex: {
                    type: Number,
                    value: 0
                },
                pageLength: {
                    type: Number,
                    value: 10
                },
                searchVal: {
                    value: '',
                    type: String
                },
                selectedDropdownVal: {
                    value: '',
                    type: String
                },
                sortOptions: {
                    type: Array
                },
                newActivityList: { type: Array, value: [] },
                activityLogList: { type: Array, value: [] },
                entityId: String,
                authorNameRole: {
                    type: String,
                    value: ''
                },
                pageOptions: {
                    type: Array,
                    value: [10, 20, 30, 50]
                }
            },
            observers: [
                "parseActivities(selectedIndex,searchVal,selectedDropdownVal,newActivityList, pageLength)"
            ],

            listeners: {
                "activityHistoryPageChanged": "paginationChanged"
            },

            attached: function () {
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);
                if (window.jQuery && $.fn.DataTable) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                self.fetchActivityList();


            },
            init: function () {
                var self = this;
                self.sortOptions = this.config.configuration.activityList;
                $('#activityLog').slimScroll({
                    size: '5px',
                    height: '270px',
                    distance: '-1px',
                    alwaysVisible: true,
                    opacity: 1,
                    right: '0px'
                });
            },

            formatTime: function (date) {
                if (!date) return "";

                return moment(date).format("hh:mma");
            },

            formatDate: function (date, isLong) {
                if (!date) return "";

                if (isLong) {

                    return moment
                        .tz(date, window.tenant.timezone)
                        .format("MM/DD/YYYY");
                }
                return moment
                    .tz(date, window.tenant.timezone)
                    .format("MMM D, YYYY");
            },

            fetchActivityList: function () {

                var self = this;

                self.ensure("activityService")
                    .then(function (activityService) {
                        return activityService.getActivityLogList(self.entityId)
                    })
                    .then(function (response) {
                        self.activityLogLists = response;
                        return response
                    }).then(function (response) {
                        self.getRolesAndNames(response);
                    });
            },

            getRolesAndNames: function (dataList) {
                var self = this;

                var activityLists = _.cloneDeep(dataList);
                var newArray = [];
                var promises = [];

                var distUserList = _.uniq(_.map(activityLists, 'author'));
                _.forEach(distUserList, function (item) {
                    if (item) {
                        promises.push(self.$.teamService.getUserDetails(item).then(function (response) {
                            return {
                                author: item,
                                title: response.title,
                                firstName: response.firstName,
                                lastName: response.lastName
                            };
                        }));
                    }
                });

                Promise.all(promises).then(function (items) {
                    _.forEach(activityLists, function (item) {
                            var response=items.filter(i=>i.author==item.author);
                            if(response && response.length>0){
                                item.role = response[0].title;
                                item.firstName = response[0].firstName;
                                item.lastName = response[0].lastName;
                            }
                    });
                    self.set("newActivityList", activityLists)
                    self.set("newActivityListLength", self.newActivityList.length)
                });
            },

            sortBy: function (sortProperty) {
                return function (a, b) {
                    return new Date(b.activityDate) - new Date(a.activityDate);
                };
            },
            parseActivities: function (selectedIndex, searchVal, selectedDropdownVal, activities, pageLength) {
                activities = this.searchLog(searchVal, selectedDropdownVal, activities);
                this.set("newActivityListLength", activities.length);
                activities = this.paginateLog(selectedIndex, activities);
                this.set("parsedActivities", activities);
            },
            paginateLog: function (selectedIndex, activities) {
                if (this.pageLength === "")
                    this.pageLength = 10;

                var currentPageStart = selectedIndex * this.pageLength;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;
                // when total records are less than (currentPageStart) display from 0th record
                if (activities.length <= currentPageStart)
                    currentPageStart = 0;
                var pageRangeTwo = parseInt(this.pageLength * (this.selectedIndex + 1));
                if (pageRangeTwo > activities.length) pageRangeTwo = activities.length;

                var currentIndexcount = [
                    countSetToOne,
                    pageRangeTwo
                ].join(" - ");

                this.set("currentCount", currentIndexcount);
                return activities.slice(
                    currentPageStart,
                    currentPageStart + parseInt(this.pageLength)
                );
            },
            /*   This method is called for searching in the activity list
             *     searcVal : for search field
             *     selectedDropdownVal :selecting from dropdown
             *    activities : the length of the activity records
            */
            searchLog: function (searchVal, selectedDropdownVal, activities) {
                var self = this;
                if (!searchVal && !selectedDropdownVal) return activities

                return activities.filter(function (activity) {
                    var searchables = [];
                    var sortables = [];
                    for (var prop in activity) {
                        if (searchVal) {
                            if (typeof activity[prop] !== "object" &&
                                (prop === "lastName" || prop === "firstName" || prop === "role" || prop === "title"))
                                searchables.push(activity[prop].toLowerCase());
                            //format date time before search
                            else if (typeof activity[prop] !== "object" && prop === "activityDate") {
                                searchables.push(self.formatDate(activity[prop]).toLowerCase());
                                searchables.push(self.formatTime(activity[prop]).toLowerCase());
                            }
                        }
                        if (selectedDropdownVal && selectedDropdownVal !== "Default") {
                            if (typeof activity[prop] !== "object" && prop === "role")
                                sortables.push(activity[prop].toLowerCase());
                        }
                    }
                    searchables = searchables.join(", ");
                    sortables = sortables.join(", ");
					if(selectedDropdownVal === "Default")
						return ((searchables.indexOf(searchVal.toLowerCase()) !== -1));
					else
						return ((searchables.indexOf(searchVal.toLowerCase()) !== -1) && (sortables.indexOf(selectedDropdownVal.toLowerCase()) !== -1));
                });
            },
            hasActivities: function (newActivityListLength) {
                return newActivityListLength > 0;
            },

            getFullName: function (item) {
                if (item.firstName) {
                    return item.firstName + " " + item.lastName + ",";
                }
            },

            paginationChanged: function () {
                $(this.$.activityLog).slimScroll({ scrollTo: '0px' });
            }
        });
    </script>
</dom-module>
