<html-import html-href="ui-elements/component-loader.html"></html-import>
<html-import html-href="services/action-center-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="application-actions">
    <style>
        :host::content .slimScrollDiv {
            overflow: inherit !important;
        }
     </style>
    <template>

        <div class="conditions-wrap clearfix">
            <div class="well" hidden$="{{!tableIsEmpty}}"> No pending actions </div>
            <div hidden$="{{tableIsEmpty}}">
                <ul class="nav nav-tabs clearfix">
                    <li class="active cursr"> <a data-toggle="tab" data-target="#tab-outstanding"> <span>Outstanding</span><span> ([[ outstandingCount ]]) </span> </a> </li>
                    <li class="cursr"> <a data-toggle="tab" data-target="#tab-received"> <span>Received</span><span> ([[ receivedCount ]])</span> </a> </li>
                </ul>
                <div class="tab-content">
                    <tab-pane id="tab-outstanding" class="tab-pane fade active in">
                        <div class="well" hidden$="{{!outstandingIsEmpty}}"> Thank you. It looks like we have what we need.  We will be in touch soon. <span> You have (0) outstanding conditions.</span></div>
                        <div hidden$="{{outstandingIsEmpty}}">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 conditions-scroll no-pad-left">
                                <ul id="outstandingList" class="outstand-wrap clearfix">
                                    <template is="dom-repeat" items="[[ outstandingList ]]">
                                        <li on-click="handelOutstandingItemClick">
                                        <span class="df df-upload"></span>
                                            <template is="dom-if" if="{{ isLatest(item.requestedDate) }}">
                                                <div class="new-outstanding-cond style-scope application-actions">NEW</div>
                                            </template>
                                            <a href="javascript:void(0)">
                                                <div class="con-info">
                                                    <h4>[[ item.requestType.title ]]</h4>
                                                    <p>[[ item.requestType.description ]]</p>
                                                    <span>Requested: <br />[[ formatDate(item.requestedDate.time) ]]</span>
                                                    <p>[[ concatRecepients(item.recipients) ]]</p>
                                                </div>
                                            </a> </li>
                                    </template>
                                </ul>
                            </div>
                            <div class="col-sm-6 no-pad-right">
                                <component-loader component-loader-id="[[ outstandingComponentId ]]"> </component-loader>
                            </div>
                        </div>
                    </tab-pane>
                    <tab-pane id="tab-received" class="tab-pane fade">
                        <div class="well nodocs" hidden$="{{ !receivedIsEmpty }}"> No documents submitted. <span> Please start over.</span></div>
                        <div hidden$="{{ receivedIsEmpty }}">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 conditions-scroll no-pad-left">
                                <ul id="receivedList" class="outstand-wrap">
                                    <template is="dom-repeat" items="[[ receivedList ]]">
                                        <li on-click="handelReceivedItemClick"> <a href="javascript:void(0)">
                                            <div class="con-info received-info">
                                                <h4>[[ item.requestType.title ]]</h4>
                                                <span>[[ formatDate(item.submittedDate.time) ]]</span>
                                                <p>[[ concatRecepients(item.recipients) ]]</p>
                                            <div class="con-status"> <span class$="{{ getStatusClass(item.status) }}">[[ item.statusLabel ]]</span> </div>
                                        </a> </li>
                                    </template>
                                </ul>
                            </div>
                            <div class="col-sm-6 no-pad-right">
                                <component-loader component-loader-id="[[ receivedComponentId ]]"> </component-loader>
                            </div>
                        </div>
                    </tab-pane>
                </div>
            </div>
        </div>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <action-center-service id="acService"></action-center-service>
       <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "application-actions",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties: {
                tableIsEmpty: {
                    type: Boolean,
                    value: true
                },
                outstandingIsEmpty: {
                    type: Boolean,
                    value: true
                },
                receivedIsEmpty: {
                    type: Boolean,
                    value: true
                },
                entityId: String,
                outstandingCount: {
                    type: Number,
                    value: 0
                },
                receivedCount: {
                    type: Number,
                    value: 0
                },
                receivedList: Array,
                outstandingList: Array,
                outstandingComponentId:{
                    type:String,
                    value:'outstanding-condition-support'
                },
                receivedComponentId:{
                    type:String,
                    value:'received-summary'
                },
                minScrollHeight:{
                    type:Number,
                    value:510
                },
                recipientList: {
                    type: Array,
                    value: []
                }
            },

            attached: function () {
                var self = this;
                var entityId = self.entityId || ":id";
                self.set("entityId", entityId);
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.subScriptionInstance = this.subscribe("documents.updated", self.getActions.bind(self));

                self.fetchUserList();
                //self.getActions();
            },
            listeners: {
                    "modify-receive-info": "handleModifyReceiveInfo"
                },
                handleModifyReceiveInfo: function (e) {
                    e.stopPropagation();
                    this.loadModifyReceivedSupport(e.detail);

                },
            detached: function(){
                this.unsubscribe(this.subScriptionInstance);
            },

            init: function () {
                $('#outstandingList').slimScroll({
                    size: '10px',
                    height: '510px',
                    distance: '5px',
                    alwaysVisible: false,
                    opacity: 1
                });
                $('#receivedList').slimScroll({
                    size: '10px',
                    height: '510px',
                    distance: '5px',
                    alwaysVisible: false,
                    opacity: 1
                });

                //Update scroll height
                this._updateScrollHeight();
            },

            _updateScrollHeight: function(attempt){
                this.async(function(){
                    attempt = attempt || 1;
                    if(attempt<=100){
                        var _dimensions = this.querySelector('.tab-content').getBoundingClientRect();

                        if(_dimensions!=undefined && _dimensions!=null && _dimensions.top!=undefined && _dimensions.top!==0){
                            var _calculatedScrollHeight = window.innerHeight-_dimensions.top-29;
                            $('#outstandingList').slimScroll({
                                height: (_calculatedScrollHeight < this.minScrollHeight?this.minScrollHeight:_calculatedScrollHeight)+'px'
                            });

                            $('#receivedList').slimScroll({
                                height: (_calculatedScrollHeight < this.minScrollHeight?this.minScrollHeight:_calculatedScrollHeight)+'px'
                            });

                            //This will set minimum height to panel as it is required to avoid flickr due to progressbar show/hide while switching tab.
                            this.publish('adjust-dashboard-panel-height');
                        }else{
                            attempt++;
                            this._updateScrollHeight(attempt);
                        }
                    }
                },500);
            },

            getActions: function () {
                var self = this;
                this.ensure("acService")
                        .then(function (service) {
                            //return service.getActions(self.entityId);
                            return service.getAllApplicationsMineWithSpouse(self.entityId);
                        })
                        .then(function (response) {
                            if (!response || !response.length) {
                                self.tableIsEmpty = true;
                                self.hideLoader();
                                return;
                            }
                            self.tableIsEmpty = false;
                            self.filterActions(response);
                        })
                        .catch(function (error) {
                            console.error("Unable to retrieve requests at this time.", error);
                            self.hideLoader()
                        });
            },

            filterActions: function (actions) {
                var outstanding = [];
                var received = [];
                actions.forEach(function (element) {
                    if (element.status === "Requested") {
                        outstanding.unshift(element);
                    }
                    else {
                        received.unshift(element);
                    }
                });
                var totalConditions = actions.length;
                var metConditions = received.length;
                var finalPayload = metConditions + " of " + totalConditions + " Conditions Met";

                this.$.hub.publish("tab:overview", {
                    id: "condition",
                    dynamicText: finalPayload
                });


                this.$.hub.publish("summary:outStandingCount", {
                    outStandingCount:outstanding.length
                });

                var element = this.querySelector("#outstandingList li.active-condition");
                if (element && element.classList.contains("active-condition")) {
                    element.classList.remove("active-condition");
                }
                var element = this.querySelector("#receivedList li.active-condition");
                if (element && element.classList.contains("active-condition")) {
                    element.classList.remove("active-condition");
                }
                this.setOutstandingList(outstanding);
                this.setReceivedList(received);
                this.hideLoader()
            },

            setOutstandingList: function (outstandingListData) {
                if (!outstandingListData || !outstandingListData.length) {
                    this.set("outstandingIsEmpty", true);
                    this.set("outstandingCount", 0);
                    return;
                }
                this.set("outstandingIsEmpty", false);
                this.set("outstandingList", outstandingListData);
                this.set("outstandingCount", outstandingListData.length);
                this.loadOutstandingSupport(outstandingListData[0]);
            },

            setReceivedList: function (receivedListData) {
                if (!receivedListData || !receivedListData.length) {
                    this.set("receivedIsEmpty", true);
                    return;
                }
                this.set("receivedIsEmpty", false);
                this.set("receivedList", receivedListData);
                this.set("receivedCount", receivedListData.length);
                if(this.selectedReceivedItem)
                    this.loadReceivedSupport(this.selectedReceivedItem);
                else
                    this.loadReceivedSupport(receivedListData[0]);
            },

            handelOutstandingItemClick: function (e) {
                var element = this.querySelector("#outstandingList li.active-condition");
                if (element && element.classList.contains("active-condition")) {
                    element.classList.remove("active-condition");
                }
                e.currentTarget.classList.add("active-condition");
                var model = e.model;
                this.loadOutstandingSupport(model.item);
            },

            handelReceivedItemClick: function (e) {
                var element = this.querySelector("#receivedList li.active-condition");
                if (element && element.classList.contains("active-condition")) {
                    element.classList.remove("active-condition");
                }
                e.currentTarget.classList.add("active-condition");
                var model = e.model;
                this.set("selectedReceivedItem",model.item);
                this.loadReceivedSupport(model.item);
            },

            loadOutstandingSupport: function(request){
                var self = this;
                var _eventName = self.outstandingComponentId+"-component:load.dynamic";
                self.$.hub.publish(_eventName,{
                    src:'tabs/document-activities.html',
                    componentProperties:{
                        request: request,
                        requestConfiguration: self.generateRequestConfiguration(request)
                    }
                });
            },
            loadModifyReceivedSupport: function(request){
                var self = this;
                var _eventName = self.receivedComponentId+"-component:load.dynamic";
                self.$.hub.publish(_eventName,{
                    src:'tabs/modify-received-activity.html',
                    componentProperties:{
                        isDisplayTitle:false,
                        request: request,
                        requestConfiguration: self.generateRequestConfiguration(request)
                    }
                });
            },
            loadReceivedSupport: function(request) {
                var self = this;
                var _eventName = self.receivedComponentId+"-component:load.dynamic";
                self.$.hub.publish(_eventName,{
                    src:'tabs/received-activity-overview.html',
                    componentProperties:{
                        request: request
                    }
                });
            },

            generateRequestConfiguration: function (request) {
                // TODO: Move to action-center configuration
                var requestConfigurationTemplate = {
                    "documentName": "DOCITT-{entityId}-DL",
                    "metadata": {
                        "requestId": "{id}"
                    },
                    "tags": ["documents"]
                };
                var interpolatedTemplate =
                        JSON.stringify(requestConfigurationTemplate);

                Object.keys(request).forEach(function (key) {
                    interpolatedTemplate = interpolatedTemplate.replace
                    (
                            // Match occurrences of {key} (with curlies)
                            new RegExp("\{" + key + "\}", "g"),
                            request[key]
                    );
                });

                return JSON.parse(interpolatedTemplate);
            },

            formatDate: function (date, isLong) {
                if (!date) return "";

                if (isLong) {
                    return moment
                            .tz(date, window.tenant.timezone)
                            .format("MM/DD/YYYY");
                }

                return moment
                        .tz(date, window.tenant.timezone)
                        .format("MMM D, YYYY");
            },

            getStatusClass: function (status) {
                if (status === "Rejected") {
                    return "not-accept";
                }
                else if (status === "Completed") {
                    return "accept";
                }
                return "pend";
            },

            isLatest: function (time) {
                return moment(time.time).isAfter(moment().subtract(24, 'hours'))
            },

            concatRecepients: function(selectedRecepientList) {
                var self = this;
                var selectedRecpientNames = [];
                if(selectedRecepientList != null && selectedRecepientList.length > 0) {
                    _.forEach(selectedRecepientList, function (recepient) {
                        var selectedRecepient = self.getRecepient(recepient);
                        if(selectedRecepient != null && selectedRecepient.length > 0) {
                            var recepientName = selectedRecepient[0].firstName + " " + selectedRecepient[0].lastName;
                            selectedRecpientNames.push(recepientName);
                        }
                    });

                    return "Recepients: " + selectedRecpientNames.join(', ');
                }
            },

            getRecepient: function (recepient) {
                var selectedRecipient = _.filter(this.recipientList, function (item) {
                    return item.userName === recepient
                })
                return selectedRecipient;
            },
            fetchUserList: function () {
                var self = this;
                self.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.fetchApplicantWithSpouseName(self.entityId)
                        })
                        .then(function (applicants) {
                            self.set("recipientList", applicants);
                            self.getActions();
                        })
                        .catch(function (error) {
                            console.warn(error);
                            self.hideLoader()
                        });
            },

            hideLoader: function () {
                this.$.hub.publish("condition:loaded", {
                    condition: true
                });
            }
        });
    </script>
</dom-module>