<html-import html-href="ui-elements/element-pagination.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="tabs/search.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="tabs/document-viewer.html"></html-import>
<html-import html-href="services/application-documents-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<script src="../script/download.js"></script>

<dom-module id="document-manager">
	<style>
		/* CSS for customizing confirmation modal dialog */
		:host::content .modal-header {
		border-bottom: none;
		}
		:host::content .modal-footer {
		border-top: none;
		}
    </style>
    <template>
        <div class="loanview clearfix">
            <div hidden$="[[ !documentsAdded ]]" id="documents" class="tab-pane loglist clearfix">
                <!-- TAG CLOUD -->
                <div class="documenttab-wrap col-lg-7 col-md-7 col-sm-12 col-xs-12 no-pad clearfix">
                    <ul class="nav nav-tabs doctabs clearfix">
                        <li class="active cursr">
                            <a on-click="handleTagClick"
                               data-toggle="tab"
                               href="#all"
                               data-property="tag">All</a>
                        </li>
                        <template is="dom-repeat"
                                  items="[[ tags ]]"
                                  as="tag">

                            <li class="cursr">
                                <a on-click="handleTagClick"
                                   data-toggle="tab"
                                   data-property="tag">[[ tag ]]</a>
                            </li>
                        </template>
                    </ul>
                </div>
                
                <div class="filtering clearfix">
                    <!-- RESULTS SUMMARY -->
                    <div class="logs" hidden$="[[ !getLength(displayedDocuments) ]]">
                        <span>Showing [[ currentCount ]] </span>
                        <span> of [[ getLength(displayedDocuments) ]]</span>
                    </div>
                    
                    <!-- SEARCH BAR -->
                    <div class="search pull-left">
                    	<ui-search value="{{ searchVal::input }}" icon-right-align=true></ui-search>
                    </div>
                    
                    <!-- PAGE LENGTH SELECTOR -->
                    <div class="displayDropdown">
                        <ui-options id="length-selector"
                            name="length-selector"
                            items="[[ pageOptions ]]"
                            icon="df df-line-bar"
                            button-text="10"
                            value="{{ pageLength::input}}">
                        </ui-options>
                    </div>
                </div>
                <span id="documentListingHeader"></span>
				<div class="clearfix"></div>
                
                <!-- DOCUMENTS TABLE -->
                <div class="tab-content clearfix">                
                    <div id="qualifying" class="tab-pane fade in active clearfix">
                    <div class="well" hidden$="[[ documentsAdded ]]">No documents added</div>
                            <div class="document-listing">
                                <ul class="titles clearfix">
                                    <li class="title">Label</li>
                                    <li class="title">Tags</li>
                                    <li class="title">Source</li>
                                    <li class="title">Date</li>
                                    <li class="title view-down-del">View</li>
                                    <li class="title view-down-del">Download</li>
                                    <li class="title view-down-del">Delete</li>
                                </ul>
                                <template is="dom-repeat" items="[[ paginatedList ]]" as="document">
                                    <ul class="clearfix">
                                        <li><span class="mbtitle">Label</span>[[ document.fileName ]]&nbsp;</li>
                                        <li><span class="mbtitle">Tag</span>[[ getTag(document) ]]&nbsp;</li>
                                        <li><span class="mbtitle">Source</span>[[ getSource(document) ]]&nbsp;</li>
                                        <li><span class="mbtitle">Date</span>[[ formatDate(document.timestamp) ]]&nbsp;</li>
                                        
                                        <li class="view-down-del">
                                        <span class="mbtitle view-down-del">View</span>
                                            <template is="dom-if" if="{{ isViewable(document.fileName) }}">
                                                <ui-modal-trigger modal-id$="doc-documentViewer-[[ index ]]">
                                                    <span class="df df-document cursr" data-id$="[[ document.id ]]"></span>
                                                </ui-modal-trigger>
                                                <ui-modal id$="doc-documentViewer-[[ index ]]" fullscreen no-sections>
                                                <docitt-document-viewer document-id="[[ document.id ]]" entity-id="[[ entityId ]]"></docitt-document-viewer>
                                                </ui-modal>
                                            </template>
                                            <template is="dom-if" if="{{ !isViewable(document.fileName) }}">
                                                <span class="df df-document cursr"
                                                  on-click="handleDownloadDocumentClick"
                                                  data-id$="[[ document.id ]]"></span>
                                            </template>
                                        </li>
                                        <li class="view-down-del">
                                        <span class="mbtitle view-down-del">Download</span>
                                            <span class="df df-download cursr"
                                                  on-click="handleDownloadDocumentClick"
                                                  data-id$="[[ document.id ]]"></span>
                                        </li>
                                        <li class="view-down-del">
                                        <span class="mbtitle view-down-del">Delete</span>
                                            <span class="df df-close-o cursr"
                                                  HEAD
                                                  on-click="handleDeleteDocumentClick"
                                                  data-id$="[[ document.id ]]"></span>
                                        </li>
                                    </ul>
                                </template>
                            </div>
                    </div>
                    
                    <!-- DOWNLOAD ALL -->
                    <div class="pull-left">
                     <button class="btn" on-click="handleDownloadAllClick" id="downloadAllBtn">
                        <span class="df df-download"></span> Download All
                    </button>
                    </div>
                    
                    <!-- PAGINATION -->
                    <div class="pagination-container pull-right">
                        <element-pagination listener-name="allDocumentPageChanged" element-length="{{ getLength(displayedDocuments) }}"
                                            selected-index="{{ selectedIndex }}"
                                            page-length="{{ pageLength }}"
                                            hidden$="{{ !getLength(parsedList) }}"></element-pagination>
                    </div>
                </div>
            </div>
        </div>
            <event-hub id="hub">
                <event-subscription event="documents.zip.ready"
                                    handler="handleDocumentsZipReady"></event-subscription>
                <event-subscription event="document:upload"
                                    handler="resetTable"></event-subscription>
                <event-subscription event="documents.updated"
                                    handler="resetTable"></event-subscription>
            </event-hub>

            <ui-confirm id="confirm"
                        confirm-title="Are you sure you want to delete ?"></ui-confirm>

            <url-parser id="url"></url-parser>
            <http-request id="http"></http-request>
            <session-manager id="session"></session-manager>
            <alloy-format id="format"></alloy-format>
            <application-documents-service id="applicationDocumentsService"></application-documents-service>
            <questionnaire-service id="questionnaireService"></questionnaire-service>
            <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "document-manager",

            behaviors: [eventHub, ensureDependenciesBehavior],

            listeners: {
                "confirm": "handleConfirmDelete",
                "allDocumentPageChanged": "paginationChanged"
            },
            observers: [
                "checkForDocuments(documents)",
                "getTags(documents)",
                "parseList(selectedIndex, displayedDocuments, pageLength)"
            ],
            properties: {
                documentToDelete: Object,

                displayedDocuments: Array,

                documents: {
                    type: Array,
                    value: function () {
                        return [];
                    },
                    observer: "checkForDocuments"
                },

                documentsAdded: {
                    type: Boolean,
                    value: false
                },

                entityId: String,

                entityType: String,

                pageLength: {
                    type: Number,
                    value: 10
                },

                publicOnly: Boolean,

                readOnly: Boolean,

                searchVal: {
                    type: String,
                    value: "",
                    notify: true,
                    observer: "search"
                },

                selectedTag: {
                    type: String,
                    value: "all"
                },

                selectedIndex: {          
                    type: Number,
                    value: 0
                },

                tagOptions: {
                    type: Array,
                    value: [
                        "Qualifying",
                        "Credit",
                        "Transaction",
                        "Property",
                        "Personal",
                        "Legal"
                    ]
                },
                pageOptions: {
                    type: Array,
                    value: [10, 20, 30, 50]
                },
                portal: {
                    type: String,
                    value: ""
                }
            },

            documentManagerService: null,

            attached: function () {
                var self = this;
                if(this.configuration.services.documentManager == undefined){
                   throw new Error("documentManager service not found");
                }
                self.documentManagerService = this.configuration.services.documentManager;
                self.portal = self.configuration.apps.securityLogin.configuration.portal;

                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                var self = this;
                var params = this.$.url.getParams();

                self.publicOnly = self.config.configuration.publicOnly;
                self.readOnly = self.config.configuration.readOnly;

                self.entityId = params.id;
                self.entity = this.config.configuration.entityType;

                return function () {
                    self.resetTable();
                }
            },

            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },

            deleteDocument: function (document, entity, entityId) {
                var self = this;
                var url = [entity, entityId, document.id].join("/");

                return this.$.http.delete(url, {}, this.configuration.services.documentManager)
                    .then(function () {
                        return self.resetTable()
                    });
                    // .then(function (documents) {
                    //     self.documents = documents;
                    //     self.displayedDocuments = documents;
                    //     self.search(self.searchVal);
                    // });
             },

            downloadAllDocuments: function (entityId) {
                var self = this;

                return self.ensure("applicationDocumentsService")
                    .then(function (service) {
                        
                        return service.downloadAllDocuments(entityId, self.portal, self.entity);
                    });
            },

            downloadDocument: function (document, entity, entityId) {
                if(this.configuration.services.documentManager == undefined){
                   throw new Error("documentManager service not found");
                }
                var base = this.configuration.services.documentManager;
                var url = [base, entity, entityId, document.id, "download"].join("/");

                var x = new XMLHttpRequest();
                x.open("GET", url, true);
                x.responseType = "blob";
                x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                x.onload = function (e) {
                    download(e.target.response, document.fileName, "application/pdf");
                };
                x.send();
            },

            checkForDocuments: function (documents) {
                if (!documents) this.documentsAdded = false;
                this.documentsAdded = documents.length > 0;
            },

            fetchDocuments: function () {
                var self = this;

                if(self.portal === "affinity-partner"){
                    return self.$.http.get("/" + self.entity + "/:id", self.documentManagerService);
                }
                else{
                    return self.config.configuration.publicOnly ?
                        self.$.http.get("/" + self.entity + "/:id/search/public?=*", self.documentManagerService) :
                        self.$.http.get("/" + self.entity + "/:id", self.documentManagerService);
                }
            },

            filter: function (property, value) {
                var self = this;

                if (!property || !value) return;

                switch (property) {
                    case "tag":
                        self.displayedDocuments = filterByTag(value);
                        break;
                    default:
                        return;
                }

                function filterByTag(tag) {
                    if (tag === "All") return self.documents;

                    return _.filter(self.documents, function (document) {
                        if (!document.tags) return;
                        return (document.tags.indexOf(value.toLowerCase()) > -1)
                    });
                }
            },

            formatDate: function (date) {
                return this.$.format.formatDate(date, null, "MMM D, YYYY / h:mm a");
            },

            getDate: function (document) {
                return document.timestamp;
            },

            getLength: function (array) {
                return array && array.length;
            },

            getTag: function (document) {
                return document.tags ? document.tags.join(", ") : "";
            },

            getTags: function (documents) {
                var self = this;
                var tags = [];

                documents.forEach(function (document) {
                    if (Array.isArray(document.tags)) {
                        tags.push(document.tags);
                    }
                });

                if (tags.length) {
                    tags = tags.reduce(function (prev, curr) {
                        return prev.concat(curr);
                    }).map(function (tag) {
                        return self.capitalize(tag);
                    });
                }

                this.tags = _.uniq(tags);
            },

            getSource: function (document) {
                if(document.createdBy)
                {
                    return document.createdBy.firstName + " " + document.createdBy.lastName;
                }
                else{
                    if (document.metadata && document.metadata.createdBy)
                        return document.metadata.createdBy;
                    else
                        return "";
                }
            },

            getDocument: function (documentId) {
                return _.find(this.documents, function (document) {
                    return document.id === documentId;
                });
            },

            handleConfirmDelete: function () {
                this.deleteDocument(this.documentToDelete, this.entity, this.entityId);
            },

            handleDeleteDocumentClick: function (e) {
                var self = this;
                var documentId = $(e.target).attr("data-id");
                var document = this.getDocument(documentId);

                this.set("documentToDelete", document);
                this.openConfirmModal();
            },

            handleDocumentsZipReady: function () {
                $("#downloadAllBtn").first().attr("disabled", false);
            },

            handleDownloadAllClick: function () {
                $("#downloadAllBtn").first().attr("disabled", true);
                this.downloadAllDocuments(this.entityId);
            },

            handleDownloadDocumentClick: function (e) {
                var documentId = e.target.dataset.id;
                var document = this.getDocument(documentId);

                this.downloadDocument(document, this.entity, this.entityId);
            },

            handleTagClick: function (e) {
                var value = $(e.target).text();
                var property = e.target.dataset.property;

                this.selectedTag = value;
                this.filter(property, value);
                this.search(this.searchVal);
            },

            handleViewDocumentClick: function (e) {
                var documentId = e.target.dataset.id;
                var document = this.getDocument(documentId);

                this.redirectToDocumentViewer(this.entityId, documentId);
            },

            openConfirmModal: function () {
                this.$.confirm.open();
            },

            paginateLog: function (selectedIndex, list) {
                if (this.pageLength === "")
                    this.pageLength = 10;
                var currentPageStart = selectedIndex * this.pageLength;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;

                if (list.length <= currentPageStart)
                    currentPageStart = 0;

                var pageRangeTwo = parseInt(this.pageLength * (this.selectedIndex + 1));

                if (pageRangeTwo > list.length) pageRangeTwo = list.length;

                var currentIndexcount = [
                    countSetToOne,
                    pageRangeTwo
                ].join(" - ");

                this.set("currentCount", currentIndexcount);

                var paginatedList = list.slice(
                    currentPageStart,
                    currentPageStart + parseInt(this.pageLength)
                );

                return paginatedList;
            },

            parseList: function (selectedIndex, displayedDocuments, pageLength) {
                var list = [];

                if (this.displayedDocuments.length)
                    list = this.displayedDocuments;

                list = this.paginateLog(selectedIndex, list);
                this.set("paginatedList", list);
            },
            _getApplicant:function(sourceBy,applicants,loggedInUserName){
                    return _.find(applicants, function (applicant) {
                                        if(applicant.userName === sourceBy ){
                                            return applicant;
                                        }
                                    });
                },
            resetTable: function () {
                var self = this;

                self.fetchDocuments()
                    .then(function (documents) {
                        self.ensure("questionnaireService")
								.then(function (questionnaireService) {
									return questionnaireService.fetchApplicantWithSpouseName(self.entityId)                                    
								})
								.then(function (applicants) {                                    
                                 self.documents = documents;
                                 _.forEach(self.documents, function (result) {                                               
                                                result.createdBy = self._getApplicant(self.getSource(result),applicants);
                                            });
                                 self.displayedDocuments = self.documents;
                                 self.search(self.searchVal);
                                });
                    });
            },

            isViewable: function (fileName) {
                var extension = fileName.slice((fileName.lastIndexOf(".") - 1 >>> 0) + 2);
                if(extension == "")
                    return false;
                var excludedList = ["docx","xlsx","doc","xls","ppt","pptx"];                
                return !(excludedList.indexOf(extension.toLowerCase()) > -1);
            },

            search: function (searchVal, documents) {
                var self = this;

                if (!searchVal || !self.documents || !self.documents.length) {
                    self.displayedDocuments = self.documents;
                }

                var filtered = _.filter(self.documents, function (document) {
                    var searchables = [];

                    searchables.push(document.fileName.toLowerCase());
                    searchables.push(self.getTag(document).toLowerCase());
                    if (self.getSource(document))
                        searchables.push(self.getSource(document).toLowerCase());

                    searchables.push(self.formatDate(document.timestamp).toLowerCase());

                    searchables = searchables.join(", ");
                    if (self.selectedTag.toLowerCase() === "all")
                        self.selectedTag = "";
                    return (searchables.indexOf(searchVal.toLowerCase()) !== -1 && searchables.indexOf(self.selectedTag.toLowerCase()) !== -1);
                });

                this.displayedDocuments = filtered;
            },
            paginationChanged: function () {
                $('html, body').animate({
                    scrollTop: $(this.$.documentListingHeader).offset().top
                }, 500);
            }
        });
    </script>
</dom-module>