<html-import html-href="activities/verify-condition.html"></html-import>
<html-import html-href="services/action-center-service.html"></html-import>
<html-import html-href="services/document-manager-service.html"></html-import>
<html-import html-href="tabs/document-view.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>

<dom-module id="docitt-document-viewer">
    <template>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <div class="pagination-container text-center">
            <element-pagination element-length="{{ getLength(displayedDocuments) }}"
                                selected-index="{{ selectedIndex }}"
                                page-length="{{ pageLength }}"
                                hidden$="{{ !getLength(paginatedList) }}"></element-pagination>
        </div>
        <!-- shows if only rendering document -->
        <template is="dom-if"
                  if="[[ document ]]">
            <document-view document="[[ document ]]"
                           entity-id="[[ entityId ]]" configuration=[[configuration]]></document-view>
        </template>

        <!-- shows if rendering document + accept/reject modal -->
        <template is="dom-if"
                  if="[[ conditionId ]]">
            <div class="verfiy-status" id="divVerifyCondition">
                <verify-condition entity-id="[[ entityId ]]"
                                  condition-id="[[ conditionId ]]"></verify-condition>
            </div>
            <template is="dom-repeat"
                      items="[[ paginatedList ]]"
                      as="document">
                <document-view document="[[ document ]]"
                               entity-id="[[ entityId ]]" configuration=[[configuration]]></document-view>
            </template>
        </template>

        <div class="pagination-container btm text-center">
            <element-pagination element-length="{{ getLength(displayedDocuments) }}"
                                selected-index="{{ selectedIndex }}"
                                page-length="{{ pageLength }}"
                                hidden$="{{ !getLength(paginatedList) }}"></element-pagination>
        </div>

        <url-parser id="url"></url-parser>
        <action-center-service id="actionCenterService"></action-center-service>
        <document-manager-service id="documentManagerService"></document-manager-service>
    </template>
    <script>
        Polymer({
            is: "docitt-document-viewer",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                "fetchCondition(entityId, conditionId)",
                "fetchDocuments(entityId, conditionId)",
                "fetchDocument(entityId, documentId)",
                "parseList(selectedIndex, displayedDocuments, pageLength)"
            ],

            properties: {
                displayedDocuments: Array,

                document: Object,

                documentId: Object,

                documents: {
                    type: Array,
                    value: function () { return []; },
                    observer: "setDisplayedDocuments"
                },

                entityId: {
                    type: String,
                    value: ""
                },

                conditionId: {
                    type: String,
                    value: ""
                },

                pageLength: {
                    type: Number,
                    value: 1
                },

                paginatedList: Array,

                selectedIndex: {
                    type: Number,
                    value: 0
                }
            },
            attached: function () {
                var self = this;
                if(self.configuration.apps.securityLogin.configuration.portal === "affinity-partner"){
                    $("#divVerifyCondition").hide();
                }

                this.subscribe("conditions:hide", function (payload) {
                    if (payload.conditionId === self.conditionId) {
                        self.querySelector('#divVerifyCondition').style.visibility = 'hidden';
                    }
                });
                this.subscribe("popup:closed", function (payload) {
                    if (self.querySelector('#divVerifyCondition')) {
                        self.querySelector('#divVerifyCondition').style.visibility = 'visible';
                    }
                });
            },

            fetchCondition: function (entityId, conditionId) {
                if (!entityId || !conditionId) return;

                var self = this;

                return self.ensure("actionCenterService")
                    .then(function (service) {
                        return service.findAction(entityId, conditionId);
                    })
                    .then(function (condition) {
                        self.condition = condition;
                        return condition;
                    });
            },

            fetchDocument: function (entityId, documentId) {
                if (!entityId || !documentId) return;

                var self = this;

                return self.ensure("documentManagerService")
                    .then(function (service) {
                        return service.fetchDocument(entityId, documentId);
                    })
                    .then(function (document) {
                        self.document = document;
                        return document;
                    });
            },

            fetchDocuments: function (entityId, conditionId) {
                if (!entityId || !conditionId) return;

                var self = this;

                return self.ensure("documentManagerService")
                    .then(function (service) {
                        return service.fetchDocumentsByRequest(entityId, conditionId);
                    })
                    .then(function (documents) {
                        self.documents = documents;
                        return documents;
                    });
            },

            getLength: function (array) {
                return array && array.length;
            },

            paginateLog: function (selectedIndex, list) {
                var currentPageStart = selectedIndex * this.pageLength;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;

                if (list.length <= currentPageStart)
                    currentPageStart = 0;

                var pageRangeTwo = parseInt(this.pageLength * (this.selectedIndex + 1));

                if (pageRangeTwo > list.length) pageRangeTwo = list.length;

                var currentIndexcount = [
                    countSetToOne,
                    pageRangeTwo
                ].join(" - ");

                this.set("currentCount", currentIndexcount);

                var paginatedList = list.slice(
                    currentPageStart,
                    currentPageStart + parseInt(this.pageLength)
                );

                return paginatedList;
            },

            parseList: function (selectedIndex, displayedDocuments, pageLength) {
                var list = [];

                if (this.displayedDocuments.length)
                    list = this.displayedDocuments;

                list = this.paginateLog(selectedIndex, list);
                this.set("paginatedList", list);
            },

            setDisplayedDocuments: function (documents) {
                var self = this;
                this.displayedDocuments = _.filter(documents, function (document) {
                     return self.isDisplayDocs(document.fileName)
                });
            },
            isDisplayDocs: function(fileName){
                var fileExtensions = ["jpg", "png", "pdf"];

                var match = _.find(fileExtensions, function (ext) {
                    return fileName.slice(-3).toLowerCase() === ext;
                });

                return !!match;
            },
        });
    </script>
</dom-module>