<html-import html-href="activities/add-document.html"></html-import>
<html-import html-href="activities/write-explanation.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/custom-http-request-service.html"></html-import>
<dom-module id="document-activities">
    <template>
        <style>
            .file-btn input {width: 100%; height: 100%; cursor: pointer;}
            .btn-outline-primary,
            .btn-outline-primary:hover,
            .btn-outline-primary:active,
            .btn-outline-primary:focus {
                background-color: var(--primary-background-color);
                color: var(--primary-color);
            }
        </style>
        <div class="tab-box">
            <ul class="nav nav-tabs document-activity-tab">
                <li class="active cursr"><a data-toggle="tab" data-target="#upload-document"><span class="df df-upload"></span>Upload Documentation</a></li>
                <li class="w-exp cursr"><a data-toggle="tab" data-target="#write-explanation"><span class="df df-write"></span>Write&nbsp;<br />Explanation</a></li>
            </ul>
            <div class="tab-content">
                <tab-pane id="upload-document" class="tab-pane fade in active">
                    <add-document id="addDocument" adjustable-height="277" target="[[ target ]]" title="[[ title ]]" metadata="[[ metadata ]]" fileName="[[ fileName ]]" tags="[[ tags ]]"
                                  base-url="[[ baseUrl ]]" explanation="{{ description }}"></add-document>
                </tab-pane>
                <tab-pane id="write-explanation" class="tab-pane fade">
                    <write-explanation id="writeExplanation" title="[[ title ]]" description="{{ description }}"></write-explanation>
                </tab-pane>
            </div>
            <div hidden$="[[ showDismissButton ]]">
                 <button disabled$="{{ uploadBusy }}"
                class="btn btn-lg btn-primary btn-block"
                on-click="submit">
                    <span hidden$="{{ uploadBusy }}">[[uploadButtonText]]</span>
                    <span hidden$="{{ !uploadBusy }}">{{ disabledText }}</span>
                </button>
            </div>
        </div>
         <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
         <session-manager id="session"></session-manager>
         <identity-service id="identityService"></identity-service>
         <event-hub id="hub"></event-hub>
         <custom-http-request-service id="customHttpRequestService"></custom-http-request-service>
         <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "document-activities",

            behaviors: [eventHub, window.alloy.activity,ensureDependenciesBehavior],

            listeners: {
                "activity-explanation-added": "handleActivityExplanation"
            },

            properties: {
                description:{
                    type: String,
                    value: "",
                    notify: true
                },
                 errorMessage: {
                    type: String
                },
                   uploadBusy: {
                    type: Boolean,
                    value: false
                },
                disabledText: {
                    value: "Processing",
                    type: String
                },
                  uploadButtonText: {
                    type: String,
                    value: "NO, I'M FINISHED SATISFYING THIS CONDITION"
                },
                    showDismissButton: {
                    type: Boolean,
                    value: true
                },
                currentUser: {
                   type: String,
                   value: ''
                },
            },

            attached: function () {
                var self = this;
                if(this.configuration.services.requiredCondition == undefined){
                   throw new Error("requiredCondition service not found");
                }
                try {
                    var entityId = this.request.entityId;
                    var entityType = this.request.entityType;
                    var tags = this.requestConfiguration.tags;
                    var metadata = this.requestConfiguration.metadata;
                    var requestId = this.requestConfiguration.metadata.requestId;
                    var documentName = this.requestConfiguration.documentName;
                    var title = this.request.requestType.title;

                    this.set("target", [entityType, entityId, requestId, "submit"].join("/"));
                    this.set("metadata", metadata);
                    this.set("fileName", documentName);
                    this.set("title", title);
                    this.set("tags", tags);
                    this.set("baseUrl", this.configuration.services.requiredCondition);

// Listen for upload completion to close activity
                    this.subScriptionInstance = this.subscribe("document:upload", function () {
                        this.publish("documents.updated");
                        this.closeActivity();
                    }.bind(this));
                }
                catch (error) {
                    console.warn("Unable to initialize Add Document Activity without the necessary properties.", error);
                    this.closeActivity();
                    return;
                }

                this.subscribe("tab:change", function (payload) {
                    $('.document-activity-tab a[data-target="#' + payload.changeTabTo + '"]').tab('show');
                });
                 this.subscribe("files:inQueue", function (payload) {
                    self.showHideDismissBtn(payload);
                });
                self.ensure("identityService")
                     .then(function (identityService) {
                    identityService.getCurrentUser().then(function (response) {
                    self.currentUser = response.username;
                 })
          });
            },

            detached: function(){
                this.unsubscribe(this.subScriptionInstance);
            },

            handleActivityExplanation: function (e) {
                this.set('description', e.detail.explanation);
                if($('.ql-editor').text().length!==0 ||this.$.addDocument.querySelector('#dropZone').filesAdded ){
                this.set('showDismissButton', false);
            }
            else{
                  this.set('showDismissButton', true);
            }
            },
             submit: function () {
                   if (this.$.addDocument.querySelector('#dropZone').filesAdded) {
                        this.set('uploadBusy', true);
                        this.$.addDocument.querySelector('#dropZone').processQueue();
                    }
                    else if(this.$.writeExplanation.querySelector(".ql-editor").innerHTML!==""){
                         this.set('uploadBusy', true);
                        this.customDocumentActivity();
                    }
                    else if (!this.$.addDocument.isFileRequired) {
                        this.$.hub.publish("document:skipped");
                    }
            },
            customDocumentActivity : function(){
                var self = this;
                var explanation=this.$.writeExplanation.querySelector(".ql-editor").innerHTML;
                var entityId = this.request.entityId;
                var entityType = this.request.entityType;
                var requestId = this.requestConfiguration.metadata.requestId;
                var token = self.$.session.get("token");
                var metadata =JSON.stringify({'createdBy':self.get("currentUser"),'requestId':requestId});
                var payload = new FormData();
                var url=  [entityType, entityId, requestId,"submit"].join("/");
                 payload.append('metadata', metadata);
                 payload.append('files', '');
                 payload.append('explanation',explanation);
                     this.ensure("customHttpRequestService")
                        .then(function (service) {
                            return service.post(url, payload, self.configuration.services.requiredCondition);
                        })
                         .then(function (response) {
                            self.$.hub.publish("documents.updated");
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },
                showHideDismissBtn: function (payload) {
                if (this.$.addDocument.querySelector('#dropZone').filesAdded)
                    this.set('showDismissButton', false);
                else if (payload != null && payload.totalQueuedCount > 0) {
                    this.set('showDismissButton', false);
                }
                else {
                    this.set('showDismissButton', true);
                }
            }
        });
    </script>
</dom-module>