<html-import html-href="activities/verify-condition.html"></html-import>

<dom-module id="document-view">
    <style>
        object {
            width: 100%;
            height: 100vh;
        }
		img{max-height:calc(100vh - 44px);margin:0 auto;}
    </style>
    <template>
            <img hidden="[[IsPdf]]" src="[[ imageUrl ]]">
            <object hidden="[[!IsPdf]]" data="[[ pdfUrl ]]"></object>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "document-view",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                "processDocument(document, entityId, configuration)"
            ],

            properties: {
                document: {
                    type: Object,
                    value: function () { return {}; }
                },
                configuration: Object,

                entityId: {
                    type: String,
                    value: ""
                },
                imageUrl: {
                    type: String,
                    value: ""
                },
                pdfUrl: {
                    type: String,
                    value: ""
                },
                IsPdf: {
                    type: Boolean,
                    value: false
                }
            },
            documentIsImage: function (document) {
                var fileExtensions = ["jpg", "png", "gif", "bmp"];

                var match = _.find(fileExtensions, function (ext) {
                    return document.fileName.slice(-3).toLowerCase() === ext;
                });

                return !!match;
            },

            documentIsPDF: function (document) {
                var fileExtensions = ["pdf"];

                var match = _.find(fileExtensions, function (ext) {
                    return document.fileName.slice(-3).toLowerCase() === ext;
                });

                return !!match;
            },
            processDocument: function (document, entityId, configuration) {
                var self = this;
                if (!document || !entityId) return;
                if(this.configuration.services.documentManager == undefined){
                   throw new Error("documentManager service not found");
                }
                if (this.documentIsImage(document) || this.documentIsPDF(document)) {
                    var base = this.configuration.services.documentManager;
                    var url = [base, "application", this.entityId, document.id, "download"].join("/");

                    var x = new XMLHttpRequest();
                    x.open("GET", url, true);
                    x.responseType = "blob";
                    x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                    x.onload = function (e) {
                        var fileUrl = URL.createObjectURL(e.target.response, {
                            type: e.target.response.type
                        });
                        if (this.documentIsImage(document)) {
                            self.IsPdf = false;
                            this.imageUrl = fileUrl;
                        }
                        else if (this.documentIsPDF(document)) {
                            self.IsPdf = true;
                            this.pdfUrl = fileUrl;
                        }
                    }.bind(this);
                    x.send();
                }
            }            
        });
    </script>
</dom-module>