<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/drop-zone.html"></html-import>
<html-import html-href="ui-elements/tables/index.html"></html-import>
<style>
    .well {
        margin-bottom: 0;
        min-height: 200px;
        line-height: 150px;
    }
    
    .header {
        margin-bottom: 10px;
    }
    
    .header-right {
        position: absolute;
        right: 20px;
    }
    
    #table-search {
        width: 250px;
    }
    
    .header .input-group {
        width: 1px;
    }
    
    .inline-block {
        display: inline-block;
    }
    
    #length-selector {
        width: auto;
        display: inline-block;
        margin-right: 10px;
    }
    
    label {
        font-weight: normal;
    }
    
     :host tr td:nth-of-type(4) {
        text-align: center;
    }
    
    .action-button {
        min-width: 56px;
    }
    
    #status-message {
        margin-bottom: 0;
        height: 200px;
        line-height: 150px;
        text-align: center;
    }
</style>
<dom-module id="general-document-manager">
    <template>
        <template is="dom-if" if="[[ target ]]">
            <drop-zone id="document-drop" submit-target="[[ target ]]" file-reference="[[ fileReference ]]" auto-process>
                <div hidden$="[[ tableIsEmpty ]]">
                    <alloy-table id="table" table-config="[[ processedTableConfig ]]"></alloy-table>
                </div>
                <div class="well" hidden$="[[ !tableIsEmpty ]]">
                    No documents added
                </div>
            </drop-zone>
        </template>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <event-hub id="hub">
            <event-subscription event="document:upload" handler="resetTable"></event-subscription>
            <event-subscription event="documents.updated" handler="resetTable"></event-subscription>
        </event-hub>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "general-document-manager",

            behaviors: [eventHub],

            attached: function () {
                var self = this;
                if(this.configuration.services.documentManager == undefined){
                   throw new Error("documentManager service not found");
                }
                if (window.jQuery && $.fn.DataTable) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            properties: {
                hasAlert: {
                    type: Boolean,
                    value: false
                },
                tableConfig: {
                    type: Object
                },
                tableInitialized: {
                    type: Boolean,
                    value: false
                },
                processedTableConfig: {
                    type: Object
                }
            },

            init: function () {
                var self = this;
                var params = this.$.url.getParams();

                self.publicOnly = self.config.configuration.publicOnly;
                self.readOnly = self.config.configuration.readOnly;

                self.entityId = params.id;
                self.entity = this.config.configuration.entityType;

                return function () {
                    self.setTarget();
                }
            },

            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },

            checkIfEmptyTable: function (documents) {
                this.tableIsEmpty = documents.length ? false : true;
            },

            deleteDoc: function (document, entity) {
                var self = this;
                var url = "/" + entity + "/:id/" + document.id;

                return this.$.http.delete(url, {}, this.configuration.services.documentManager)
                    .done(function () {
                        self.resetTable();
                    });;
            },

            downloadDoc: function (document, entity, entityId) {
                var base = this.configuration.services.documentManager;
                var url = [base, entity, entityId, document.id, "download"].join("/");

                var x = new XMLHttpRequest();
                x.open("GET", url, true);
                x.responseType = "blob";
                x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                x.onload = function (e) {
                    download(e.target.response, document.name, "application/pdf");
                };
                x.send();
            },

            fetchDocuments: function () {
                var self = this;
                var url = [self.config.configuration.entityType, self.entityId].join("/");

                return self.config.configuration.publicOnly ?
                    self.$.http.get([url, "search", "public?=*"].join("/"), this.configuration.services.documentManager) :
                    self.$.http.get(url, this.configuration.services.documentManager);
            },

            formatDate: function (date, isLong) {
                if (!date) {
                    return "";
                }
                return moment.tz(date, window.tenant.timezone).format("MMM D YYYY, h:mm a");
            },

            formatDocuments: function (documents) {
                var self = this;
                return documents.map(function (doc) {
                    return [
                        doc.fileName,
                        // return no tags if loading Public only or if no tags exist
                        self.publicOnly ? [] :
                        doc.tags ? doc.tags.map(function (tag) {
                            return self.capitalize(tag);
                        }) : [],
                        self.formatDate(doc.timestamp),
                        "",
                        doc.id
                    ]
                })
            },

            getTags: function (documents) {
                var self = this;
                var tags = [];

                documents.forEach(function (document) {
                    if (Array.isArray(document.tags)) {
                        tags.push(document.tags);
                    }
                });

                if (tags.length) {
                    tags = tags.reduce(function (prev, curr) {
                        return prev.concat(curr);
                    }).map(function (tag) {
                        return self.capitalize(tag);
                    });
                }
                return _.uniq(tags);
            },

            initializeTable: function () {
                var self = this;

                self.fetchDocuments()
                    .then(function (documents) {
                        var tags = self.setTags(documents);
                        documents = self.formatDocuments(documents);
                        self.checkIfEmptyTable(documents);
                        self.processedTableConfig = self.processTableConfig(documents, tags);
                        self.tableInitialized = true;
                    });
            },

            replaceDoc: function (document, entity, entityId) {
                this.$.hub.publish("activity:dynamo", {
                    path: "activities/replace-document.html",
                    title: "Replace Document",
                    properties: {
                        document: document,
                        entity: entity,
                        entityId: entityId,
                        target: this.target
                    }
                });
            },

            resetTable: function () {
                var self = this;
                self.fetchDocuments()
                    .then(function (documents) {
                        var tags = self.setTags(documents);
                        documents = self.formatDocuments(documents);
                        self.checkIfEmptyTable(documents);
                        self.processedTableConfig = self.processTableConfig(documents, tags);
                        self.$$("#table").reloadWithData(documents);
                    });
            },

            setTable: function () {
                this.tableInitialized ? this.resetTable() : this.initializeTable();
            },

            setTags: function (documents) {
                return self.publicOnly ? null : self.getTags(documents);
            },

            setTarget: function () {
                this.target = "/" + this.config.configuration.entityType + "/" + this.entityId;
            },

            processTableConfig: function (documents, tags) {
                var self = this;

                self.processedTableConfig = self.tableConfig;
                self.processedTableConfig.data = documents;
                self.processedTableConfig.tags.values = tags;
            },

            tagDoc: function (document, entity, entityId) {
                this.$.hub.publish("activity:dynamo", {
                    path: "activities/add-document-tag.html",
                    title: "Add Tags",
                    properties: {
                        document: document,
                        entity: entity,
                        entityId: entityId
                    }
                });
            }
        });



        //download.js v4.2, by dandavis; 2008-2016. [CCBY2] see http://danml.com/download.html for tests/usage
        // v1 landed a FF+Chrome compat way of downloading strings to local un-named files, upgraded to use a hidden frame and optional mime
        // v2 added named files via a[download], msSaveBlob, IE (10+) support, and window.URL support for larger+faster saves than dataURLs
        // v3 added dataURL and Blob Input, bind-toggle arity, and legacy dataURL fallback was improved with force-download mime and base64 support. 3.1 improved safari handling.
        // v4 adds AMD/UMD, commonJS, and plain browser support
        // v4.1 adds url download capability via solo URL argument (same domain/CORS only)
        // v4.2 adds semantic variable names, long (over 2MB) dataURL support, and hidden by default temp anchors
        // https://github.com/rndme/download

        (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
                // AMD. Register as an anonymous module.
                define([], factory);
            } else if (typeof exports === 'object') {
                // Node. Does not work with strict CommonJS, but
                // only CommonJS-like environments that support module.exports,
                // like Node.
                module.exports = factory();
            } else {
                // Browser globals (root is window)
                root.download = factory();
            }
        }(this, function () {

            return function download(data, strFileName, strMimeType) {

                var self = window, // this script is only for browsers anyway...
                    defaultMime = "application/octet-stream", // this default mime also triggers iframe downloads
                    mimeType = strMimeType || defaultMime,
                    payload = data,
                    url = !strFileName && !strMimeType && payload,
                    anchor = document.createElement("a"),
                    toString = function (a) {
                        return String(a);
                    },
                    myBlob = (self.Blob || self.MozBlob || self.WebKitBlob || toString),
                    fileName = strFileName || "download",
                    blob,
                    reader;
                myBlob = myBlob.call ? myBlob.bind(self) : Blob;

                if (String(this) === "true") { //reverse arguments, allowing download.bind(true, "text/xml", "export.xml") to act as a callback
                    payload = [payload, mimeType];
                    mimeType = payload[0];
                    payload = payload[1];
                }


                if (url && url.length < 2048) { // if no filename and no mime, assume a url was passed as the only argument
                    fileName = url.split("/").pop().split("?")[0];
                    anchor.href = url; // assign href prop to temp anchor
                    if (anchor.href.indexOf(url) !== -1) { // if the browser determines that it's a potentially valid url path:
                        var ajax = new XMLHttpRequest();
                        ajax.open("GET", url, true);
                        ajax.responseType = 'blob';
                        ajax.onload = function (e) {
                            download(e.target.response, fileName, defaultMime);
                        };
                        setTimeout(function () {
                            ajax.send();
                        }, 0); // allows setting custom ajax headers using the return:
                        return ajax;
                    } // end if valid url?
                } // end if url?


                //go ahead and download dataURLs right away
                if (/^data\:[\w+\-]+\/[\w+\-]+[,;]/.test(payload)) {

                    if (payload.length > (1024 * 1024 * 1.999) && myBlob !== toString) {
                        payload = dataUrlToBlob(payload);
                        mimeType = payload.type || defaultMime;
                    } else {
                        return navigator.msSaveBlob ? // IE10 can't do a[download], only Blobs:
                            navigator.msSaveBlob(dataUrlToBlob(payload), fileName) :
                            saver(payload); // everyone else can save dataURLs un-processed
                    }

                } //end if dataURL passed?

                blob = payload instanceof myBlob ?
                    payload :
                    new myBlob([payload], {
                        type: mimeType
                    });


                function dataUrlToBlob(strUrl) {
                    var parts = strUrl.split(/[:;,]/),
                        type = parts[1],
                        decoder = parts[2] == "base64" ? atob : decodeURIComponent,
                        binData = decoder(parts.pop()),
                        mx = binData.length,
                        i = 0,
                        uiArr = new Uint8Array(mx);

                    for (i; i < mx; ++i) uiArr[i] = binData.charCodeAt(i);

                    return new myBlob([uiArr], {
                        type: type
                    });
                }

                function saver(url, winMode) {

                    if ('download' in anchor) { //html5 A[download]
                        anchor.href = url;
                        anchor.setAttribute("download", fileName);
                        anchor.className = "download-js-link";
                        anchor.innerHTML = "downloading...";
                        anchor.style.display = "none";
                        document.body.appendChild(anchor);
                        setTimeout(function () {
                            anchor.click();
                            document.body.removeChild(anchor);
                            if (winMode === true) {
                                setTimeout(function () {
                                    self.URL.revokeObjectURL(anchor.href);
                                }, 250);
                            }
                        }, 66);
                        return true;
                    }

                    // handle non-a[download] safari as best we can:
                    if (/(Version)\/(\d+)\.(\d+)(?:\.(\d+))?.*Safari\//.test(navigator.userAgent)) {
                        url = url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                        if (!window.open(url)) { // popup blocked, offer direct download:
                            if (confirm(
                                    "Displaying New Document\n\nUse Save As... to download, then click back to return to this page."
                                )) {
                                location.href = url;
                            }
                        }
                        return true;
                    }

                    //do iframe dataURL download (old ch+FF):
                    var f = document.createElement("iframe");
                    document.body.appendChild(f);

                    if (!winMode) { // force a mime that will download:
                        url = "data:" + url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                    }
                    f.src = url;
                    setTimeout(function () {
                        document.body.removeChild(f);
                    }, 333);

                } //end saver




                if (navigator.msSaveBlob) { // IE10+ : (has Blob, but not a[download] or URL)
                    return navigator.msSaveBlob(blob, fileName);
                }

                if (self.URL) { // simple fast and modern way using Blob and URL:
                    saver(self.URL.createObjectURL(blob), true);
                } else {
                    // handle non-Blob()+non-URL browsers:
                    if (typeof blob === "string" || blob.constructor === toString) {
                        try {
                            return saver("data:" + mimeType + ";base64," + self.btoa(blob));
                        } catch (y) {
                            return saver("data:" + mimeType + "," + encodeURIComponent(blob));
                        }
                    }

                    // Blob but not URL support:
                    reader = new FileReader();
                    reader.onload = function (e) {
                        saver(this.result);
                    };
                    reader.readAsDataURL(blob);
                }
                return true;
            }; /* end download() */
        }));
    </script>
</dom-module>