<html-import html-href="ui-elements/tables/index.html"></html-import>
<html-import html-href="ui-elements/ui-empty-curtain.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>

<dom-module id="entity-assignments">
    <template>
        <identity-service id="identityService"></identity-service>
        <assignment-service id="assignmentService"></assignment-service>
        <url-parser id="urlParser"></url-parser>
        <alloy-format id="alloyFormat"></alloy-format>
        <event-hub>
            <event-subscription event="assignments.changed" handler="refreshTable"></event-subscription>
            <event-subscription event="activity:refresh" handler="refreshTable"></event-subscription>
        </event-hub>
        <style>
            .pull-right span {
                margin: 0 10px;
            }
            
            .well {
                margin-bottom: 0;
                height: 200px;
                line-height: 150px;
                text-align: center;
            }
            
            #search {
                width: 40%;
                float: right;
            }
            
            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 10px;
            }
            
            label {
                font-weight: normal;
            }
        </style>
        <ui-empty-curtain is-empty="{{ hasNoData }}" empty-message="No Assignments">
            <alloy-table id="table" hidden$="{{ tableIsEmpty() }}" table-config="[[ tableConfig ]]"></alloy-table>
        </ui-empty-curtain>
    </template>
    <script>
        Polymer({
            is: "entity-assignments",
            behaviors: [eventHub, ensureDependenciesBehavior],

            attached: function () {
                var self = this;

                this.subscribe("assignments.released", function () {
                    window.location.reload();
                });

                this.subscribe("assignments.cancelled", function () {
                    window.location.reload();
                });

                this.subscribe("assignments.completed", function () {
                    window.location.reload();
                });

                this.getAssignments().then(function (assignments) {
                    if (!self.tableIsEmpty(assignments)) {
                        var assignmentData = self.formatAssignments(assignments);
                        self.setTableConfig(assignmentData);
                        return assignmentData;
                    }
                });

            },

            refreshTable: function (tableData) {
                var self = this;
                this.getAssignments().then(function (assignmentData) {
                    if (!self.tableIsEmpty(assignmentData)) {
                        this.$.table.reloadWithData(this.formatAssignments(assignmentData));
                    }
                }.bind(this));
            },

            getAssignments: function () {
                var self = this;

                return this.ensure("assignmentService", "urlParser", "alloyFormat", "identityService")
                    .then(function (ctx) {
                        self.alloyFormat = ctx.alloyFormat;
                        var entityType = self.config.options.entityType;
                        var entityId = ctx.urlParser.getParams().id;
                        var scope = {};
                        return ctx.assignmentService.getAssignments(entityType, entityId)
                            .then(function (assignments) {
                                scope.assignments = assignments
                            })
                            .then(function () {
                                return ctx.identityService.getCurrentUser()
                            })
                            .then(function (me) {
                                scope.me = me;
                            })
                            .then(function () {
                                return ctx.identityService.getCurrentUserSubordinateRoles();
                            })
                            .then(function (roles) {
                                roles.forEach(function (r) {
                                    scope.me.roles.push(r);
                                });
                            })
                            .then(function () {

                                function canUnassign(assignment) {
                                    return scope.me.roles.indexOf(assignment.role) > -1 && assignment.assignee !== scope.me.username;
                                }

                                function canRelease(assignment) {
                                    return assignment.assignee === scope.me.username;
                                }

                                return scope.assignments.map(function (assignment) {
                                    return _.extend(assignment, {
                                        canUnassign: canUnassign(assignment),
                                        canRelease: canRelease(assignment)
                                    });
                                });
                            });
                    });
            },

            tableIsEmpty: function (tableData) {
                if (tableData && tableData.length === 0) {
                    this.set("hasNoData", true);
                    return true;
                }
                this.set("hasNoData", false);
                return false;
            },

            formatAssignments: function (assignments) {
                return assignments.map(function (value) {
                    return [
                        value.role,
                        value.assignee,
                        this.alloyFormat.formatDate(value.assignedOn),
                        value
                    ];
                }.bind(this));
            },

            setTableConfig: function (data) {
                var self = this;
                var columns = [
                    { title: 'Role' },
                    { title: 'Name' },
                    { title: 'Date' },
                    null
                ];

                self.tableConfig = {
                    columns: columns,
                    data: data,
                    pageLabel: 'assignments',
                    columnDefs: [
                        {
                            targets: [columns.length - 1],
                            orderable: false,
                            render: function (data, type) {
                                if (type === "display") {

                                    var menu = '<dropdown-list';
                                    menu += !(data.canRelease || data.canUnassign) ? ' disabled>' : '>';
                                    if (data.canRelease) menu += '<dropdown-element class="release">Release</dropdown-element>';
                                    if (data.canUnassign) menu += '<dropdown-element class="unassign">Unassign</dropdown-element>';
                                    menu += '</dropdown-list>';
                                    return menu;
                                }
                                return data;
                            }
                        }
                    ],
                    addClickHandling: function () {
                        var table = this.$$("#table");
                        ["release", "unassign"].forEach(function (action) {
                            $("." + action, self).off()
                                .filter(function () { return !this.disabled; })
                                .on("click", function (e) {
                                    var row = $(this).closest('tr')[0];
                                    var data = table.getData(row);
                                    self.openActivity(action, data[data.length - 1]);
                                });
                        });
                    }.bind(self)
                };
            },

            openActivity: function (action, assignment) {
                this.publish("activity:dynamo", {
                    path: this.config.activities[action].src,
                    title: this.config.activities[action].title,
                    properties: {
                        entityType: this.entityType,
                        entityId: this.entityId,
                        action: action,
                        assignment: assignment
                    }
                });
            }
        });
    </script>
</dom-module>