<html-import html-href="ui-elements/tables/index.html"></html-import>
<html-import html-href="ui-elements/dropdown-list.html"></html-import>
<html-import html-href="ui-elements/dropdown-element.html"></html-import>
<html-import html-href="ui-elements/ui-empty-curtain.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>

<dom-module id="entity-escalations">
    <template>

        <identity-service id="identityService"></identity-service>
        <assignment-service id="assignmentService"></assignment-service>
        <url-parser id="urlParser"></url-parser>
        <alloy-format id="alloyFormat"></alloy-format>
        <event-hub>
            <event-subscription event="escalations.changed" handler="refreshTable"></event-subscription>
            <event-subscription event="activity:refresh" handler="refreshTable"></event-subscription>
        </event-hub>

        <style>
            .pull-right span {
                margin: 0 10px;
            }

            .well {
                margin-bottom: 0;
                height: 200px;
                line-height: 150px;
                text-align: center;
            }

            #search {
                width: 40%;
                float: right;
            }

            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 10px;
            }

            label {
                font-weight: normal;
            }
        </style>

        <ui-empty-curtain is-empty="{{ hasNoData }}" empty-message="No Escalations">
            <alloy-table id="table" hidden$="{{ tableIsEmpty() }}" table-config="[[ tableConfig ]]"></alloy-table>
        </ui-empty-curtain>
    </template>
    <script>
        Polymer({
            is: "entity-escalations",

            behaviors: [eventHub, ensureDependenciesBehavior],

            attached: function () {
                var self = this;
                self.loadEntity()
                    .then(self.loadEscalations.bind(self))
                    .then(self.formatEscalations.bind(self))
                    .then(function (escalations) {
                        if (!self.tableIsEmpty(escalations)) {
                            self.setTableConfig(escalations);
                        }
                    });
            },

            refreshTable: function (tableData) {
                this.loadEscalations()
                    .then(this.formatEscalations.bind(this))
                    .then(function (escalations) {
                        this.$.table.reloadWithData((escalations));
                    }.bind(this));
            },

            loadEntity: function () {
                this.set("entityType", this.config.options.entityType);
                return this.ensure("urlParser").then(function (url) {
                    this.set("entityId", url.getParams().id);
                }.bind(this));
            },

            loadEscalations: function () {
                var self = this;
                var scope = {};
                return this.ensure("assignmentService", "identityService").then(function (ctx) {
                    return ctx.assignmentService.getEscalations(self.entityType, self.entityId)
                        .then(function (escalations) { scope.escalations = escalations })
                        .then(function () { return ctx.assignmentService.getAssignments(self.entityType, self.entityId); })
                        .then(function (assignments) { scope.assignments = assignments })
                        .then(function () { return ctx.identityService.getCurrentUser(); })
                        .then(function (me) { scope.me = me; })
                        .then(function () { return ctx.identityService.getCurrentUserSubordinateRoles(); })
                        .then(function (roles) {
                            roles.forEach(function (r) {
                                scope.me.roles.push(r);
                            });
                        })
                        .then(function () {

                            function canComplete(escalation) {
                                return escalation.status === "Pending" && scope.assignments.filter(function (assignment) {
                                        return assignment.escalationId === escalation.id && assignment.assignee === scope.me.username;
                                    }).length;
                            }

                            function canAccept(escalation) {
                                return escalation.status == "Open" && scope.me.roles.indexOf(escalation.toRole) > -1;
                            }

                            function canCancel(escalation) {
                                return (escalation.status === "Open" && escalation.fromUser === scope.me.username) ||
                                    (escalation.status !== "Completed" && escalation.status !== "Cancelled" && scope.me.roles.indexOf(escalation.toRole) > -1);
                            }

                            return scope.escalations.map(function (escalation) {

                                return _.extend(escalation, {
                                    canCancel: canCancel(escalation),
                                    canAccept: canAccept(escalation),
                                    canComplete: canComplete(escalation)
                                });

                            });
                        });
                });

            },

            tableIsEmpty: function (tableData) {
                if (tableData && tableData.length === 0) {
                    this.set("hasNoData", true);
                    return true;
                }
                this.set("hasNoData", false);
                return false;
            },

            formatEscalations: function (escalations) {
                return this.ensure("alloyFormat").then(function (alloyFormat) {
                    return escalations.map(function (value) {
                        return [
                            alloyFormat.formatDate(value.createdOn),
                            [value.fromUser, "(" + value.fromRole + ")"].join(" "),
                            value.toRole,
                            value.requestNotes,
                            value.status,
                            value
                        ];
                    }.bind(this));
                }.bind(this));

            },

            setTableConfig: function (escalations) {
                var self = this;
                var columns = [
                    {title: 'Date'},
                    {title: 'From'},
                    {title: 'To Role'},
                    {title: 'Escalation Notes'},
                    {title: 'Status'},
                    null
                ];

                self.tableConfig = {
                    columns: columns,
                    data: escalations,
                    pageLabel: 'escalations',
                    columnDefs: [
                        {
                            targets: [columns.length - 1],
                            orderable: false,
                            render: function (data, type) {
                                if (type === "display") {

                                    var menu = '<dropdown-list';
                                    menu += !(data.canCancel || data.canAccept || data.canComplete) ? ' disabled>' : '>';
                                    if (data.canAccept) menu += '<dropdown-element class="accept">Accept</dropdown-element>';
                                    if (data.canComplete) menu += '<dropdown-element class="complete">Complete</dropdown-element>';
                                    if (data.canCancel) menu += '<dropdown-element class="cancel">Cancel</dropdown-element>';
                                    menu += '</dropdown-list>';
                                    return menu;
                                }
                                return data;
                            }
                        }
                    ],
                    addClickHandling: function () {
                        var table = this.$$("#table");
                        ["cancel", "accept", "complete"].forEach(function (action) {
                            $("." + action, self).off()
                                .filter(function () { return !this.disabled; })
                                .on("click", function (e) {
                                    var row = $(this).closest('tr')[0];
                                    var data = table.getData(row);
                                    self.openActivity(action, data[data.length - 1]);
                                });
                        });
                    }.bind(self)
                };
            },

            openActivity: function (action, escalation) {
                this.publish("activity:dynamo", {
                    path: this.config.activities[action].src,
                    title: this.config.activities[action].title,
                    properties: {
                        entityType: this.entityType,
                        entityId: this.entityId,
                        action: action,
                        escalation: escalation
                    }
                });
            }
        });
    </script>
</dom-module>