<html-import html-href="activities/generic-add-document.html"></html-import>
<html-import html-href="activities/generic-write-explanation.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/custom-http-request-service.html"></html-import>
<dom-module id="generic-document-activities">
    <template>
        <style>
            .file-btn input {width: 100%; height: 100%; cursor: pointer;}
            .btn-outline-primary,
            .btn-outline-primary:hover,
            .btn-outline-primary:active,
            .btn-outline-primary:focus {
                background-color: var(--primary-background-color);
                color: var(--primary-color);
            }
        </style>
       
        <div class="tab-box">
            <ul class="nav nav-tabs document-activity-tab">
                <li class="active cursr"><a data-toggle="tab" data-target$="[[uploadUniqueDocumentTargetId]]"><span class="df df-upload"></span>Upload Documentation</a></li>
                <li class="w-exp cursr"><a data-toggle="tab" data-target$="[[uploadUniqueWriteExplanationTargetId]]"><span class="df df-write"></span>Write&nbsp;<br />Explanation</a></li>
            </ul>
            
            <div class="tab-content">
               
                <tab-pane id="[[uploadUniqueDocumentId]]"  class="tab-pane fade in active">
                    <generic-add-document    id="[[genericUniqueAddDocumentId]]" document-id="[[addUniqueDocumentId]]" adjustable-height="277" target="[[ target ]]" title="[[ title ]]" metadata="[[ metadata ]]" fileName="[[ fileName ]]" tags="[[ tags ]]"
                                  base-url="[[ configuration.services.requiredCondition ]]" explanation="{{ description }}" change-tab-to="[[uploadUniqueWriteExplanationId]]" max-files="[[maxFiles]]"></generic-add-document>
                </tab-pane>
                <tab-pane id="[[uploadUniqueWriteExplanationId]]" class="tab-pane fade">
                    <generic-write-explanation  id="[[genericUniqueWriteExplanationId]]" write-explanation-id="[[addWriteExplanationId]]" title="[[ title ]]" description="{{ description }}" change-tab-to="[[uploadUniqueDocumentId]]"></generic-write-explanation>
                </tab-pane>
            </div>
            <div hidden$="[[ showDismissButton ]]">
                 <button disabled$="{{ uploadBusy }}"
                class="btn btn-lg btn-primary btn-block"
                on-click="submit">
                    <span hidden$="{{ uploadBusy }}">[[uploadButtonText]]</span>
                    <span hidden$="{{ !uploadBusy }}">{{ disabledText }}</span>
                </button>
            </div>
        </div>
         <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
         <session-manager id="session"></session-manager>
         <identity-service id="identityService"></identity-service>
         <event-hub id="hub"></event-hub>
         <custom-http-request-service id="customHttpRequestService"></custom-http-request-service>
         <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "generic-document-activities",

            behaviors: [eventHub, window.alloy.activity,ensureDependenciesBehavior],
            observers: [
                'generateUniqueId(requestConfiguration)'
            ],
            listeners: {
                "activity-explanation-added": "handleActivityExplanation"
            },

            properties: {
                description:{
                    type: String,
                    value: "",
                    notify: true
                },
                 errorMessage: {
                    type: String
                },
                   uploadBusy: {
                    type: Boolean,
                    value: false
                },
                disabledText: {
                    value: "Processing",
                    type: String
                },
                  uploadButtonText: {
                    type: String,
                    value: "NO, I'M FINISHED SATISFYING THIS CONDITION"
                },
                    showDismissButton: {
                    type: Boolean,
                    value: true
                },
                currentUser: {
                   type: String,
                   value: ''
                },
                isDisplayTitle:Boolean,
                addUniqueDocumentId:String,
                uploadUniqueDocumentId:String,
                uploadUniqueDocumentTargetId:String,
                uploadUniqueWriteExplanationId:String,
                uploadUniqueWriteExplanationTargetId:String,
                addWriteExplanationId:String,
                genericUniqueAddDocumentId:String,
                genericUniqueWriteExplanationId:String
            },
            generateUniqueId:function(requestConfiguration){
                this.set("addUniqueDocumentId","addDocument-" + requestConfiguration.metadata.requestId);
                this.set("uploadUniqueDocumentId","upload-document-"+ requestConfiguration.metadata.requestId);
                this.set("uploadUniqueDocumentTargetId","#upload-document-"+ requestConfiguration.metadata.requestId);
                this.set("uploadUniqueWriteExplanationId","write-explanation-" + requestConfiguration.metadata.requestId);
                this.set("uploadUniqueWriteExplanationTargetId","#write-explanation-" + requestConfiguration.metadata.requestId);
                this.set("addWriteExplanationId","add-write-explanation-" + requestConfiguration.metadata.requestId);
                this.set("genericUniqueAddDocumentId","generic-add-document-" + requestConfiguration.metadata.requestId);
                this.set("genericUniqueWriteExplanationId","generic-write-explanation-" + requestConfiguration.metadata.requestId);
            },

            attached: function () {
                var self = this;
                if(this.configuration.services.requiredCondition == undefined){
                    throw new Error("requiredCondition service not found");
                }
                try {
                    var entityId = this.request.entityId;
                    var entityType = this.request.entityType;
                    var tags = this.requestConfiguration.tags;
                    var metadata = this.requestConfiguration.metadata;
                    var requestId = this.requestConfiguration.metadata.requestId;                  
                    var documentName = this.requestConfiguration.documentName;
                    var title = "";
                    if(this.request.explanation)
                        this.set("description",this.request.explanation);
                    if(this.isDisplayTitle)
                     title = this.request.requestType.title;                 
                    this.set("target", [entityType, entityId, requestId, "submit"].join("/"));
                    this.set("metadata", metadata);
                    this.set("fileName", documentName);
                    this.set("title", title);
                    this.set("tags", tags);

// Listen for upload completion to close activity
                    this.subScriptionInstance = this.subscribe("document:upload", function () {
                        this.publish("documents.updated");
                        this.closeActivity();
                    }.bind(this));
                }
                catch (error) {
                    console.warn("Unable to initialize Add Document Activity without the necessary properties.", error);
                    this.closeActivity();
                    return;
                }

                this.subscribe("tab:change", function (payload) {
                    $('.document-activity-tab a[data-target="#' + payload.changeTabTo + '"]').tab('show');
                });
                 this.subscribe("files:inQueue", function (payload) {
                    self.showHideDismissBtn(payload);
                });
                self.ensure("identityService")
                     .then(function (identityService) {
                    identityService.getCurrentUser().then(function (response) {
                    self.currentUser = response.username;
                 })
          });
            },

            detached: function(){
                this.unsubscribe(this.subScriptionInstance);
            },

            handleActivityExplanation: function (e) {
                this.set('description', e.detail.explanation);
                var genericUniqueAddDocumentIdElement= this.querySelector("#" + this.genericUniqueAddDocumentId);
                if($('.ql-editor').text().length!==0 ||genericUniqueAddDocumentIdElement.querySelector('#dropZone').filesAdded ){
                this.set('showDismissButton', false);
            }
            else{
                  this.set('showDismissButton', true);
            }
            },
             submit: function () {
                var genericUniqueAddDocumentIdElement= this.querySelector("#" + this.genericUniqueAddDocumentId);
                var genericUniqueWriteExplanationIdElement= this.querySelector("#" + this.genericUniqueWriteExplanationId);
                   if (genericUniqueAddDocumentIdElement.querySelector('#dropZone').filesAdded) {
                        this.set('uploadBusy', true);
                        genericUniqueAddDocumentIdElement.querySelector('#dropZone').processQueue();
                    }
                    else if(genericUniqueWriteExplanationIdElement.querySelector(".ql-editor").innerHTML!==""){
                         this.set('uploadBusy', true);
                        this.customDocumentActivity();
                    }
                    else if (!genericUniqueAddDocumentIdElement.isFileRequired) {
                        this.$.hub.publish("document:skipped");
                    }
            },
            customDocumentActivity : function(){
                var self = this;
                var genericUniqueWriteExplanationIdElement= this.querySelector("#" + this.genericUniqueWriteExplanationId);
                var explanation=genericUniqueWriteExplanationIdElement.querySelector(".ql-editor").innerHTML;
                var entityId = this.request.entityId;
                var entityType = this.request.entityType;
                var requestId = this.requestConfiguration.metadata.requestId;
                var token = self.$.session.get("token");
                var metadata =JSON.stringify({'createdBy':self.get("currentUser"),'requestId':requestId});
                var payload = new FormData();
                var url=  [entityType, entityId, requestId,"submit"].join("/");
                 payload.append('metadata', metadata);
                 payload.append('files', '');
                 payload.append('explanation',explanation);
                     this.ensure("customHttpRequestService")
                        .then(function (service) {
                            return service.post(url, payload, self.configuration.services.requiredCondition);
                        })
                         .then(function (response) {
                            self.$.hub.publish("documents.updated");
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },
                showHideDismissBtn: function (payload) {
                   var genericUniqueAddDocumentIdElement= this.querySelector("#" + this.genericUniqueAddDocumentId);
                if (genericUniqueAddDocumentIdElement.querySelector('#dropZone').filesAdded)
                    this.set('showDismissButton', false);
                else if (payload != null && payload.totalQueuedCount > 0) {
                    this.set('showDismissButton', false);
                }
                else {
                    this.set('showDismissButton', true);
                }
            }
        });
    </script>
</dom-module>