<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="tabs/new-loan-invite-modal.html"></html-import>
<dom-module id="new-loan-invite">
<style>
:host::content .modal-dialog {height:480px;}
:host::content .modal-content {padding: 30px;width: 430px;}
:host::content .modal-header,
:host::content .modal-footer {padding:0;margin:0;border:0}
:host::content .modal-header{ position:absolute;top:30px;right:28px;z-index: 9999;}
:host::content .modal-footer {margin-top:30px}

@media only screen and (max-width: 767px) {
:host::content .modal-dialog {height:96vh;}	
:host::content .modal-body {height: 82vh; overflow-y:auto;}
}

@media only screen and (max-width: 479px) {
:host::content .modal-dialog {height:70vh;}
:host::content .modal-content {width: 90%;}
}
</style>
<template>
<a class="btn btn-outline-primary"  href="javascript:void(0);" on-click="triggerInviteModalPopup">NEW LOAN</a>
<ui-modal id="sendInviteModal">
  <template is="dom-if" if="{{ isOpen}}" restamp>
    <new-loan-invite-modal users="[[ user ]]"></new-loan-invite-modal>
  </template>
</ui-modal>
</template>
<script>
        Polymer({
            is: "new-loan-invite",

            listeners: {
                "send-invite-pop-up-close": "sendInvitePopUpClose",
            },

            properties: {
                user: {
                    type:Object
                },
				
                isOpen: {
                    type: Boolean,
                    value: false
                },
				
                inviationDetail:{
                    Type:String,
                    value:"Feb 21,2018:12:23 PM(EDT)"
                }
            },
            triggerInviteModalPopup: function(e) {
                if (_.isUndefined(this.$.sendInviteModal)) return
                this.set("isOpen", true);
                e.preventDefault();
                this.$.sendInviteModal.open();
            },

            sendInvitePopUpClose: function() {
                if (_.isUndefined(this.$.sendInviteModal)) return
                this.set("isOpen", false);
                this.$.sendInviteModal.close();
            }

        });
    </script>
</dom-module>
