<html-import html-href="services/format.html"></html-import>
<html-import html-href="services/invitation-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/ui-input-checkbox.html"></html-import>
<html-import html-href="ui-elements/forms/ui-radio.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="new-loan-invite-modal">
    <template>
        <style>
			.form-group {margin: 0;}
            .clmn {
                width: 40%;
                float: left;
            }
            .clmn2 {
                width: 56%;
                margin-left: 4%;
            }
			.btn {
                padding: 10px 30px;
            }
            .close-button-container {
                width: 100%;
            }
			:host::content .ui-label{text-align:left;}
            :host::content .alert{padding:5px 0;}
            :host::content .alert > ul {
                list-style: none;
                text-align: center;
            }
			.inviteModal p {
				margin: 0 0 20px 0;
			}
			.invite-header{margin-bottom:40px;}

			@media only screen and (max-width: 479px) {
                .clmn, .clmn2 {width:100%;margin:0;}
                .clmn2 {margin:0 0 10px 0;}
                .invite {margin:20px 0 10px 0;}
            }
        </style>
        <div class="inviteModal">
            <div class="invite-header">
                <h3 class="modal-title">Invite</h3>
            </div>
            <ui-error-summary id="errorSummary"></ui-error-summary>
            <ui-form id="form"
                     data="{{ formData }}">
                <ui-container-group id="uiContainerGroup"
                                    has-error="{{formHasError}}">
                    <ul class="clearfix">
                        <li class="clmn">
                            <ui-container floating-label="First Name"
                                          is-required=true
                                          auto-save=false >
                                <ui-input name="firstName" value="[[users.firstName]]" disabled="true">
                                </ui-input>
                            </ui-container>
                        </li>
                        <li class="clmn clmn2">
                            <ui-container floating-label="Last Name"
                                          is-required=true
                                          auto-save=false >
                                <ui-input name="lastName" value="[[users.lastName]]" disabled="true">
                                </ui-input>
                            </ui-container>
                        </li>
                      </ul>
                        <p>Send Invitation:</p>
                        
                      <ul class="clearfix">
                        <li>
                            <ui-container floating-label="Email"
                                          is-required=true
                                          auto-save=false control-type="TextEmail">
                                <ui-input name="email"  value=[[users.email]] disabled="true">
                                </ui-input>
                            </ui-container>
                        </li>
                        <li>
                        <template is="dom-if"
                                if="{{checkboxChecked}}"
                                restamp>   
                            <ui-container floating-label="Phone #"
                                          auto-save=false control-type="TextPhone"
                                          is-required={{checkboxChecked}}>
                                <ui-input name="phone" mask-format="(999) 999-9999" value="{{users.phone}}">
                                        <ui-validators>
                                                <ui-require-field>Please enter phone number.
                                                </ui-require-field>
                                            <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                                            </ui-is-phone-number>
                                        </ui-validators>                
                                </ui-input>
                            </ui-container>
                        </template>
                        <template is="dom-if"
                            if="{{!checkboxChecked}}"
                                restamp>   
                            <ui-container floating-label="Cell Phone #"
                                    auto-save=false control-type="TextPhone">
                                <ui-input name="phone" mask-format="(999) 999-9999" value="{{phoneNumber}}">
                                        <ui-validators>                                                    
                                                <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                                                </ui-is-phone-number>
                                            </ui-validators>             
                                </ui-input>
                             </ui-container>
                         </template>
                        </li>
                    </ul>

                    <ui-label>
                        <ui-input-checkbox id="checkbox"
                                           name="checkbox" value=true
                                           form-group-class-name="custom-checkbox" on-change="handleCheckboxClick">
                        </ui-input-checkbox>
                        <span class="checkbox-label">Send both (Email &amp; Text)</span>
                    </ui-label>
                </ui-container-group>
            </ui-form>
            
            <div class="modal-footer clearfix">
                <button id="sendinvite"
                        type="button"
                        class="btn btn-primary"
                        on-click="handleButtonClick" disabled="{{ busy }}">SEND INVITE</button>
            </div>
        </div>
        <identity-service id="identityService"></identity-service>
        <invitation-service id="invitationService"></invitation-service>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: 'new-loan-invite-modal',
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                loanOficerDetails: Object,
                formData: Object,
                users: Object,
                isOpen: {
                    type: Boolean,
                    value: false
                },
                checkboxChecked: {
                    type: Boolean,
                    value: true
                },
                firstName :String,
                lastName :String,
                email :String,
                phoneNumber : {
                    type:String,
                    value:""
                } ,
                selectedRole : {
                    type:String,
                    value:"Borrower"
                },
                isLenderNewLoan:{
                    type: Boolean,
                    value: true
                }
            },

            attached: function () {
                var self = this;
                this.attachCloseIconClickHandler();
                self.init();
            },
             init:function(){
                 var self = this;
                this.fetchUser()
                    .then(function (user) {
                       self.set("loanOficerDetails",user);
                    }.bind(this))

             },
            attachCloseIconClickHandler: function () {
                var self = this;
                $(document).on('click', '.close', function (event) {
                    self.closeInvite(event.target);
                });
            },
            handleCheckboxClick: function (e) {
                e.preventDefault();
                var self = this;
                self.checkboxChecked = (e.target).checked;
                self.phoneNumber = self.formData.phone;
            },
            fetchUser: function () {
                var self = this;

                return self.ensure("identityService")
                    .then(function (service) {
                        return service.getCurrentUser();
                    })
            },
            closeInvite: function () {
                var self = this;
                self.fire("send-invite-pop-up-close");
            },

            handleButtonClick: function (e) {
                var self = this;
                
                self.$.uiContainerGroup.isValid().then(function (isValid) {
                    if (isValid) {
                        self.set("busy", true);
                        //Clear server side errors
                        self.$.errorSummary.clearErrors();
                        self.ensure("invitationService")
                                .then(function (service) {
                                    
                                    var portal = self.configuration.apps.securityLogin.configuration.portal
                                    
                                    var team = "";
                                    var role = self.selectedRole;

                                    if(portal === "back-office") 
                                    {
                                        if(self.selectedRole === "Borrower")
                                            team = "contributor"
                                    }
                                    service.inviteNewMember(
                                            "user",
                                            self.loanOficerDetails.username,
                                            self.formData.email,
                                            role,
                                            self.loanOficerDetails.username,
                                            self.formData.firstName,
                                            self.formData.lastName,
                                            self.scrubPhoneNumber(self.formData.phone),
                                            team,
                                            window.config.countryCode,
                                            self.checkboxChecked,
                                            self.isLenderNewLoan
                                            )
                                            .then(function (response) {
                                                self.closeInvite();                                               
                                                self.publish('update-inviation-detail',response);
                                                return response;
                                            }).catch(function (error) {
                                        self.set("busy", false);
                                        error = error.responseJSON && error.responseJSON.message || "Unable to Proceed.";
                                        self.$.errorSummary.setErrors(error);
                                    });
                                })
                    } //end of isValid method
                });
            },

            scrubPhoneNumber: function (phoneNumber) {
                return phoneNumber.replace(/([()-. ])/g, "");
            }
        });
    </script>
</dom-module>