
<dom-module id="received-activity-overview">
    <template>
        
        <div class="receive-info">
            <div id="content-4" class="content">
               
                <div class="re-heading">
                    <h3>[[ title ]] </h3>
                    <span>[[ createdDate ]]</span>
                    <br/>
                    <a hidden$="[[ displayClass(status) ]]" on-click="handelModifyReceivedItemClick"  href="javascript:void(0)" class="btn btn-outline">MODIFY</a>
                </div>

                <div class="re-description">
                  <h5>[[ statusLabel ]]<template is="dom-if" if="[[ notes]]"> -</template></h5> <span>[[ notes ]]</span></h5>
                </div>
                <div class="re-document">
                    <h5>Documents</h5>

                    <div class="docs">
                        <template is="dom-repeat" items="{{ documentList }}">
                            <div class="re-text" on-click="downloadDocument">
                                <a href="javascript:void(0)">[[ item.fileName ]]</a>
                            </div>
                        </template>
                    </div>
                </div>

                <div class="re-updates">
                    <h5>Updates</h5>
                    <template is="dom-repeat" items="{{ updatesList }}">
                        <div class="re-text">
                            <p>[[ item.title ]]</p>
                            <span>[[ formatDate(item.activityDate) ]]</span>
                        </div>
                    </template>
                </div>
            </div>           
            
            
        </div>
       
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "received-activity-overview",

            properties:{
                minScrollHeight: {
                    type: Number,
                    value: 510
                },
                showModifySection:{
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;              
                try {                  
                    var entityId = this.request.entityId;
                    var requestId = this.request.id;
                    var entityType = this.request.entityType;
                    var title = this.request.requestType.title;
                    var description = this.request.requestType.description;
                    var createdDate = this.formatDate(this.request.submittedDate.time);
                    var status = this.request.status;
                    var statusLabel = this.request.statusLabel;
                    var notes = this.request.notes;
                    if (this.request.verification) {
                        notes = this.request.verification.notes;
                    }

                    this.set("entityId", entityId);
                    this.set("title", title);
                    this.set("description", description);
                    this.set("notes", notes);
                    this.set("createdDate", createdDate);
                    this.set("status", status);
                    this.set("statusLabel", statusLabel);
                    this.fetchUpdates(entityId, requestId);
                    this.fetchAllDocument(entityId, requestId);
                }
                catch (error) {
                    console.warn("Unable to initialize Add Document Activity without the necessary properties.", error);
                    this.closeActivity();
                    return;
                }

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            detached: function(){
                this._deRegisterMutationObserver();
            },

            init: function () {
                $('#content-4').slimScroll({
                    size: '10px',
                    height: '0px',
                    distance: '5px',
                    alwaysVisible: true,
                    opacity: 1
                });
                //
                this._updateScrollHeight();
                //Update scroll height when tab gets active
                this._registerMutationObserver();
            },

            /**
             * Register mutation observcer to listen class change on tab-pane
             */
            _registerMutationObserver: function(){
                var self = this;
                // select the target node
                var target = this.parentElement;
                while(target.tagName.toLowerCase() !== 'tab-pane'){
                    target = target.parentElement;
                }

                // create an observer instance
                this.observer = new MutationObserver(function(mutations){
                    //mutations.forEach(function(mutation) {
                    //
                    if(mutations[mutations.length-1].target.classList.contains('active') && mutations[mutations.length-1].target.classList.contains('in') ){
                        self._updateScrollHeight();
                    }
                    // });
                });

                // configuration of the observer:
                var config = { attributes: true, childList: false, characterData: false };

                // pass in the target node, as well as the observer options
                this.observer.observe(target, config);
            },

            /**
             * De-Register mutation observer
             */
            _deRegisterMutationObserver:function(){
                if(this.observer){
                    this.observer.disconnect();
                    this.observer = undefined;
                }
            },

            /**
             * This method update slim scroll height dynamically it gets top position plus 29px(which is fixed margin)
             */
            _updateScrollHeight: function(attempt){
                this.async(function(){
                    //
                    attempt = attempt || 1;

                    if(attempt<=20){
                        var _dimensions = this.getBoundingClientRect();
                        if(_dimensions!=undefined && _dimensions!=null && _dimensions.top!=undefined && _dimensions.top!==0){
                            //Update scroll height
                            var _calculatedScrollHeight = window.innerHeight-_dimensions.top-29;
                            $('#content-4').slimScroll({
                                height: (_calculatedScrollHeight < this.minScrollHeight?this.minScrollHeight:_calculatedScrollHeight)+'px'
                            });
                            this._deRegisterMutationObserver();
                        }else{
                            attempt++;
                            this._updateScrollHeight(attempt);
                        }
                    }
                },10)
            },

            checkStatusLabel: function (status) {
                if (status === "Rejected") {
                    return "Not Accepted";
                }
                return status;
            },

            formatDate: function (date, isLong) {
                if (!date) return "";

                if (isLong) {
                    return moment
                            .tz(date, window.tenant.timezone)
                            .format("MM/DD/YYYY");
                }

                return moment
                        .tz(date, window.tenant.timezone)
                        .format("MMM D, YYYY");
            },

            fetchUpdates: function (entityId, requestId) {
                var self = this;
                return self.ensure("http")
                        .then(function (http) {
                            var url = ["application", entityId].join("/");
                            if(self.configuration.services.activityLog == undefined){
                                throw new Error("activityLog service not found");
                            }
                            return http.get(url, self.configuration.services.activityLog);
                        }).then(function (response) {
                            var updates = _.filter(response, function(value) { 
                                    return value.event.data && ((value.event.data.request && value.event.data.request.id === requestId) || (value.event.data.Request && value.event.data.Request.Id === requestId)) ; 
                                    }
                                );
                            self.set("updatesList", updates);
                        });
            },

            fetchAllDocument: function (entityId, requestId) {
                var self = this;
                return self.ensure("http")
                        .then(function (http) {
                            var url = ["application", entityId].join("/");
                            if(self.configuration.services.documentManager == undefined){
                                throw new Error("documentManager service not found");
                            }
                            return http.get(url, self.configuration.services.documentManager);
                        }).then(function (response) {
                            var documentList = _.filter(response,
                                    function(value) {
                                        return value.metadata && value.metadata.requestId === requestId;
                                    });
                            self.set("documentList", documentList);
                        });
            },

            displayClass: function (status) {
                if(status === "Pending")
                    return false;
                else
                    return true;
            },

            downloadDocument: function (e) {
                var model = e.model;
                if(this.configuration.services.documentManager == undefined){
                    throw new Error("documentManager service not found");
                }
                var base = this.configuration.services.documentManager;
                var url = [base, "application",this.entityId, model.item.id, "download"].join("/");

                var x = new XMLHttpRequest();
                x.open("GET", url, true);
                x.responseType = "blob";
                x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                x.onload = function (e) {
                    download(e.target.response, model.item.fileName, "application/pdf");
                };
                x.send();
            },
            handelModifyReceivedItemClick:function(e){
                this.fire("modify-receive-info",this.request);             
            }
        });

        //TODO to be removed once document viewer is added
        //download.js v4.2, by dandavis; 2008-2016. [CCBY2] see http://danml.com/download.html for tests/usage
        // v1 landed a FF+Chrome compat way of downloading strings to local un-named files, upgraded to use a hidden frame and optional mime
        // v2 added named files via a[download], msSaveBlob, IE (10+) support, and window.URL support for larger+faster saves than dataURLs
        // v3 added dataURL and Blob Input, bind-toggle arity, and legacy dataURL fallback was improved with force-download mime and base64 support. 3.1 improved safari handling.
        // v4 adds AMD/UMD, commonJS, and plain browser support
        // v4.1 adds url download capability via solo URL argument (same domain/CORS only)
        // v4.2 adds semantic variable names, long (over 2MB) dataURL support, and hidden by default temp anchors
        // https://github.com/rndme/download

        (function (root, factory) {
            if (typeof define === 'function' && define.amd) {
                // AMD. Register as an anonymous module.
                define([], factory);
            }
            else if (typeof exports === 'object') {
                // Node. Does not work with strict CommonJS, but
                // only CommonJS-like environments that support module.exports,
                // like Node.
                module.exports = factory();
            }
            else {
                // Browser globals (root is window)
                root.download = factory();
            }
        }(this, function () {

            return function download(data, strFileName, strMimeType) {

                var self = window, // this script is only for browsers anyway...
                        defaultMime = "application/octet-stream", // this default mime also triggers iframe downloads
                        mimeType = strMimeType || defaultMime,
                        payload = data,
                        url = !strFileName && !strMimeType && payload,
                        anchor = document.createElement("a"),
                        toString = function (a) {
                            return String(a);
                        },
                        myBlob = (self.Blob || self.MozBlob || self.WebKitBlob || toString),
                        fileName = strFileName || "download",
                        blob,
                        reader;
                myBlob = myBlob.call ? myBlob.bind(self) : Blob;

                if (String(this) === "true") { //reverse arguments, allowing download.bind(true, "text/xml", "export.xml") to act as a callback
                    payload = [payload, mimeType];
                    mimeType = payload[0];
                    payload = payload[1];
                }


                if (url && url.length < 2048) { // if no filename and no mime, assume a url was passed as the only argument
                    fileName = url.split("/").pop().split("?")[0];
                    anchor.href = url; // assign href prop to temp anchor
                    if (anchor.href.indexOf(url) !== -1) { // if the browser determines that it's a potentially valid url path:
                        var ajax = new XMLHttpRequest();
                        ajax.open("GET", url, true);
                        ajax.responseType = 'blob';
                        ajax.onload = function (e) {
                            download(e.target.response, fileName, defaultMime);
                        };
                        setTimeout(function () {
                            ajax.send();
                        }, 0); // allows setting custom ajax headers using the return:
                        return ajax;
                    } // end if valid url?
                } // end if url?


                //go ahead and download dataURLs right away
                if (/^data\:[\w+\-]+\/[\w+\-]+[,;]/.test(payload)) {

                    if (payload.length > (1024 * 1024 * 1.999) && myBlob !== toString) {
                        payload = dataUrlToBlob(payload);
                        mimeType = payload.type || defaultMime;
                    }
                    else {
                        return navigator.msSaveBlob ? // IE10 can't do a[download], only Blobs:
                                navigator.msSaveBlob(dataUrlToBlob(payload), fileName) :
                                saver(payload); // everyone else can save dataURLs un-processed
                    }

                } //end if dataURL passed?

                blob = payload instanceof myBlob ?
                        payload :
                        new myBlob([payload], {
                            type: mimeType
                        });


                function dataUrlToBlob(strUrl) {
                    var parts = strUrl.split(/[:;,]/),
                            type = parts[1],
                            decoder = parts[2] == "base64" ? atob : decodeURIComponent,
                            binData = decoder(parts.pop()),
                            mx = binData.length,
                            i = 0,
                            uiArr = new Uint8Array(mx);

                    for (i; i < mx; ++i) uiArr[i] = binData.charCodeAt(i);

                    return new myBlob([uiArr], {
                        type: type
                    });
                }

                function saver(url, winMode) {

                    if ('download' in anchor) { //html5 A[download]
                        anchor.href = url;
                        anchor.setAttribute("download", fileName);
                        anchor.className = "download-js-link";
                        anchor.innerHTML = "downloading...";
                        anchor.style.display = "none";
                        document.body.appendChild(anchor);
                        setTimeout(function () {
                            anchor.click();
                            document.body.removeChild(anchor);
                            if (winMode === true) {
                                setTimeout(function () {
                                    self.URL.revokeObjectURL(anchor.href);
                                }, 250);
                            }
                        }, 66);
                        return true;
                    }

                    // handle non-a[download] safari as best we can:
                    if (/(Version)\/(\d+)\.(\d+)(?:\.(\d+))?.*Safari\//.test(navigator.userAgent)) {
                        url = url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                        if (!window.open(url)) { // popup blocked, offer direct download:
                            if (confirm(
                                            "Displaying New Document\n\nUse Save As... to download, then click back to return to this page."
                                    )) {
                                location.href = url;
                            }
                        }
                        return true;
                    }

                    //do iframe dataURL download (old ch+FF):
                    var f = document.createElement("iframe");
                    document.body.appendChild(f);

                    if (!winMode) { // force a mime that will download:
                        url = "data:" + url.replace(/^data:([\w\/\-\+]+)/, defaultMime);
                    }
                    f.src = url;
                    setTimeout(function () {
                        document.body.removeChild(f);
                    }, 333);

                } //end saver


                if (navigator.msSaveBlob) { // IE10+ : (has Blob, but not a[download] or URL)
                    return navigator.msSaveBlob(blob, fileName);
                }

                if (self.URL) { // simple fast and modern way using Blob and URL:
                    saver(self.URL.createObjectURL(blob), true);
                }
                else {
                    // handle non-Blob()+non-URL browsers:
                    if (typeof blob === "string" || blob.constructor === toString) {
                        try {
                            return saver("data:" + mimeType + ";base64," + self.btoa(blob));
                        } catch (y) {
                            return saver("data:" + mimeType + "," + encodeURIComponent(blob));
                        }
                    }

                    // Blob but not URL support:
                    reader = new FileReader();
                    reader.onload = function (e) {
                        saver(this.result);
                    };
                    reader.readAsDataURL(blob);
                }
                return true;
            };
            /* end download() */
        }));
    </script>
</dom-module>