<dom-module id="ui-search">
  <style>  
	.fa {
	   position: absolute;
	   top: 7px;
	   color: #a3a3a3;
	}
	.iconRight{
	 right :10px;
	}
	.iconLeft {
	   left: 10px;
	}
	input {
	   background: transparent;
	   border: 0;
	   padding: 5px 10px;
	   color: #ccc;
        width:94%;
	}
	input[type="search"]:focus {
	   outline-color : transparent;
	}
	input[type=search]::-ms-clear {
        display: none;
    }
    @media only screen and (max-width: 479px) {

    }
  </style>
      <template>
           <input id="table-search" type="search"  placeholder="[[ placeHolder ]]">
            <i class="fa fa-search" class$="{{ setClass(iconRightAlign) }}"></i>
      </template>
  <script>
  Polymer({
            is: "ui-search",
            properties: {
              iconRightAlign :{
                type:Boolean,
                value:false
              },
              value:{
                type:String,
                value:''
              },
              placeHolder :String
            },

            setClass: function(value) {
                var classes = ["fa"  , "fa-search"];
                if (value === true){
                    classes.push("iconRight");
                }else {
                    classes.push("iconLeft");
                }
                return classes.join(" ");
            }
    });
  </script>
</dom-module>