<html-import html-href="services/application-service.html"></html-import>
<html-import html-href="services/application-filters-service.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="ui-elements/ui-summary-required-questions.html"></html-import>
<html-import html-href="summary/borrower-summary.html"></html-import>
<html-import html-href="summary/borrower-declarations.html"></html-import>
<html-import html-href="summary/assets-summary.html"></html-import>
<html-import html-href="summary/additional-loan-details.html"></html-import>
<html-import html-href="borrower-portal/assets/scene-title.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<link rel="import" href="../borrower-portal/assets/dcc-service.html" />
<link rel="import" href="../borrower-portal/assets/interactors/init-dcc.html" />

<dom-module id="lender-summary">
    <template>
        <style>
            .tab-content .row .tab-pane {
                display: none;
            }

            .tab-content .row .active {
                display: block;
            }
            .nav-tabs {
                border: 0;
				display:block; overflow:hidden;
                margin-bottom: 40px
            }
            .nav-tabs {
                padding: 0;
            }
			.nav-tabs>li {
				margin:15px 1%;
				text-align:center;
				width:14.666%;
				max-width:14.666%;
				display:inline-block;
				float:left;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.summary-tab-2 li{width:48%;max-width: inherit;}
			.summary-tab-3 li{width:31.333%;max-width: inherit;}
			.summary-tab-4 li{width:23%;max-width: inherit;}
			.summary-tab-5 li{width:18%;max-width: inherit;}
			
			.nav-tabs>li>a{padding: 5px 0;
				overflow: hidden;
				text-overflow: ellipsis;}
			.nav-tabs>li.active>a,
			.nav-tabs>li.active>a:focus,
			.nav-tabs>li.active>a:hover {
				border-bottom-width:2px
			}
            .assets-container {
                width: 50%;
                padding: 0 15px;
                float: left;
            }
			
			.tab-pane.fade.summary-fields{margin-left:-5px;margin-right:-5px;}

            @media only screen and (max-width:767px) {
                .nav-tabs {
                padding: 0;margin-bottom:15px;
				width:100%;overflow-x: auto; white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;text-align:center;}
				
				.summary-clmn {
                    padding: 0;
                }
                .summary-fields{margin:0}
                .summary-fields .col-lg-6, .summary-fields .col-lg-12 {
                    padding: 0
                }
                .assets-container{width:100%;padding: 0}
				.tab-pane.fade.summary-fields{margin-left:0;margin-right:0;}
            }
			@media only screen and (max-width:479px) {
			.nav-tabs>li>a{font-size:13px;}
			 }
			 @media only screen and (max-width:379px) {
			.nav-tabs>li>a{font-size:12px}
			 }
        </style>

        <div hidden$="{{ tabView(userSummary) }}">
            <ul class$="[[ setUlClass(userSummary) ]]">
                <template is="dom-repeat" items="[[ userSummary ]]">
                    <template is="dom-if" if="[[ hasApplicantType(item) ]]">
                        <li class$="[[ setFirstActive() ]]"><a data-toggle="tab" href$="#tab[[ index ]]">[[ fetchTabTitle(item) ]]</a></li>
                    </template>
                </template>
            </ul>
        </div>

        <div class="tab-content lender-summary-detail">
            <!--Summary tab content start-->
            <div class="row">
                <template is="dom-repeat" items="[[ userSummary ]]">
                    <div id$="tab[[ index ]]" class$="[[ setFirstActivePanel() ]]">

                        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-summary-required-questions
                                    required-question="[[ getRequiredQuestion(item) ]]"></ui-summary-required-questions>
                        </div>-->
                      <!-- Start to display additional loan details -->                        
                      <template is="dom-if" if="[[hasPrimaryBorrower(item)]]">                            
                            <additional-loan-details  user="[[getApplicantDetails()]]"></additional-loan-details>                                               
                        </template>
                      <!-- End to display additional loan details -->

                        <template is="dom-repeat" items="{{ questionerSummary(item) }}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 summary-clmn">                                
                                <p class="subsection-heading">[[item.subSectionType]]</p>
                                <borrower-summary question-sections="[[ item.subSection.questionSections ]]">
                                </borrower-summary>
                            </div>
                            <div class$="{{ getClass(index) }}"></div>
                        </template>

                        <template is="dom-repeat" items="{{ assetsSummary(item) }}">
                                <div>
                            <div class="assets-container" >
                                <assets-summary items="[[getAssets()]]"></assets-summary>
                            </div>
                            </div>
                        </template>

                        <template is="dom-repeat" items="{{ getDeclarationSummary(item) }}">
                            <borrower-declarations question-sections="[[ item.subSection.questionSections ]]">
                            </borrower-declarations>
                        </template>
                    </div>
                </template>
            </div>
            <!--Summary tab content end-->
        </div>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <application-service id="applicationService"></application-service>
        <application-filters-service id="applicationFiltersService"></application-filters-service>
        <url-parser id="url"></url-parser>
        <event-hub id="hub">
            <event-subscription event="activity:refresh" handler="refreshSummary"></event-subscription>
        </event-hub>
        <assets-dcc-service id="dccService"></assets-dcc-service>
        <assets-interactors-init-dcc id="initDcc"></assets-interactors-init-dcc>
    </template>
    <script>
        Polymer({
            is: "lender-summary",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                primaryApplicant: {
                    type: Object,
                    value:{}
                },               
                assets: Array,
                isAssetSummary: { type: Boolean, value: false },
                currentIndex: { type: Number, value: 0 },
                currentTabIndex: { type: Number, value: 0 },
                applicationStatus: {
                    type: String,
                    value: ""
                }                            
            },

            attached: function () {
                this.assets = [];
                Promise.all([
                    this.initDcc(),
                    this.getSummary()
                ])
            },

            require: [
                "dccService"
            ],
           
            initDcc: function () {
                return this.ensure("initDcc")
                        .then(function (initDcc) {
                            return initDcc.execute()
                        })
            },            
            getApplicantDetails:function(){
                return this.primaryApplicant;
            },
            hasApplicantType(item){
                for (var propName in item) {
                    var summary = _.filter(this.allApplicants, function (item) {
                        return item.userName === propName;
                    });
                    if(summary[0] && summary[0].applicantType != null)
                    {
                        return true;
                    }
                }
                return false;
            },
            hasPrimaryBorrower(item){  
                var self = this;    
                if(self.applicationStatus && self.applicationStatus.toLowerCase() === "review")
                    return false;
                    
                var userEmail = Object.keys(item)[0];
                var applicant = _.filter(this.allApplicants, function (item) {
                        return item.email.toLowerCase() === userEmail.toLowerCase();
                    })[0];
              
                if(applicant){                                       
                    if(applicant.applicantType.toLowerCase() === "borrower")
                    {
                        self.set("primaryApplicant", applicant);                        
                         return true;                   
                    }
                    return false;
                } 
                return false;                       
            },
            changeJsonArray: function (item) {
                return _.filter(item, function(o) { return o.subSectionSummary; });
            },

            tabView: function (userList) {
              
                if (userList.length > 1) {
                    return false;
                }
                return true;
            },

            getWidth: function () {
                var totalWidth = Math.ceil(100 / this.userSummary.length);
                return "width:" + "calc(" + totalWidth + "%" + " - 29px)";
            },

            //tab panes
            setFirstActivePanel: function () {
                var defaultClasses = ["tab-pane", "fade", "summary-fields", "clearfix"];
                if (!this.setActivePanel) {
                    this.setActivePanel = true;
                    defaultClasses.push("in active");
                }
                return defaultClasses.join(" ");
            },

			setUlClass: function (userSummary) {
				var defaultClasses = "nav nav-tabs clearfix";
                var summary = _.filter(this.allApplicants, function (item) {
                    return item.applicantType !== null;
                });
                if(summary)
                    return defaultClasses += " summary-tab-" + summary.length;
                else
				    return defaultClasses += " summary-tab-" + userSummary.length;
			},
            //tabs
            setFirstActive: function (icon) {
                var defaultClass = "";
                if (!this.setFirstTabActive) {
                    this.setFirstTabActive = true;
                    defaultClass = "active";
                }
                return defaultClass;
            },


            fetchTabTitle: function (item) {
                for (var propName in item) {
                    var summary = _.filter(this.allApplicants, function (item) {
                        return item.userName === propName;
                    });
                    if(summary[0])
                        return summary[0].firstName + " " + summary[0].lastName;
                }
            },
            getApplicantType: function(propName){
                var self = this;
                if(self.allApplicants){
                    var applicant = _.filter(self.allApplicants, function (applicant) {
                    return (applicant.email == propName );
                });
                
                }
            },
            refreshSummary: function () {
                this.getSummary();
            },
            getSummary: function () {
                var self = this;
                var params = this.$.url.getParams();
                var entityId = params.id;
                self.ensure("applicationService", "questionnaireService")
                        .then(function (service) {
                            return service.applicationService.getByApplicationNumber(entityId)
                                .then(function(result){
                                    if(result != null && result.status)
                                        self.set("applicationStatus",result.status.name)
                                    return service.questionnaireService.fetchApplicantInfoForSummary(entityId)
                                    .then(function (response) {
                                        self.set("allApplicants", response);
                                        return service.applicationService.getApplicationSummary(entityId);
                                    })
                                    .then(function (summary) {
                                        var allowedEmails = [];
                                        summary.forEach(function (propName) {
                                                                                      
                                            for (var pName in propName) {
                                                allowedEmails.push(pName);
                                            }                                           
                                            self.ensure("dccService")
                                                    .then(function (dccService) {
                                                        var promises = []; 
                                                        for (var i = 0; i < allowedEmails.length; i++) {
                                                            var primaryUser = allowedEmails[i];
                                                            if(summary && summary.length > 0 && summary[i] && summary[i][allowedEmails[i]])
                                                            {
                                                                var applicantType = summary[i][allowedEmails[i]].applicantType;
                                                                if(applicantType != null && (applicantType.toLowerCase() === "spouse" || applicantType.toLowerCase() === "coborrowerspouse"))
                                                                {
                                                                    primaryUser = summary[i][allowedEmails[i]].spouseUserName
                                                                }
                                                                promises.push(dccService.fetchCustomerAccounts(primaryUser, entityId))
                                                            }
                                                            else
                                                            {
                                                                promises.push(dccService.fetchCustomerAccounts(allowedEmails[i], entityId));
                                                            }
                                                        }
                                                        return Promise.all(promises)
                                                                .then(function (responses) {
                                                                    
                                                                    responses.forEach(function (response) {
                                                                        self.assets.push(response)
                                                                    });
                                                                    return self.setSummaryData(summary)
                                                                })
                                                                .catch(self.handleError)
                                                    });
                                        })
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    })
                                })
                               
                        }).catch(function (error) {
                    console.warn(error);
                });
            },

            setSummaryData: function (response) {
                this.set("userSummary", response)
            },

            getRequiredQuestion: function (item) {
                var itemArray = this.changeJsonArray(item);
                if (itemArray[0] && itemArray[0].requiredQuestions)
                    return itemArray[0].requiredQuestions;
            },

            questionerSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var summary = _.filter(propValue, function (item) {
                    return (item.subSectionType !== 'declarations' && item.subSectionType !== 'bankandinvestment');
                });
                return summary;
            },

            getDeclarationSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var declarationSummary = _.filter(propValue, function (item) {
                    return item.subSectionType === 'declarations';
                });
                return declarationSummary;
            },
          
            assetsSummary: function (summaryData) {
                var self = this;
                var array = self.changeJsonArray(summaryData);

                if(array && array.length > 0 && array[0])
                {
                    var applicantType = array[0].applicantType;
                    if(applicantType != null && (applicantType.toLowerCase() === "spouse" || applicantType.toLowerCase() === "coborrowerspouse"))
                    {
                        try
                        {
                            var assetUserName = Object.keys(summaryData)[0];
                            var spouseSummaryData = _.filter(self.userSummary, function(val){
                                var valArray = self.changeJsonArray(val);
                                if(valArray && valArray.length > 0 && valArray[0] && valArray[0].spouseUserName == assetUserName)
                                    return val;
                            });

                            array = self.changeJsonArray(spouseSummaryData[0]);
                        }
                        catch(ex){/*Allow to proceed in case of error*/}
                    }
                }
                if(array && array.length > 0 && array[0])
                {
                    var propValue = array[0].subSectionSummary;
                    var summary = _.filter(propValue, function (item) {
                        if (item.subSectionType === 'bankandinvestment') {
                            for (var subSection in item.subSection) {
                                for (var questionSection in item.subSection.questionSections) {
                                    for (questionList in item.subSection.questionSections[questionSection].questionList)
                                        return (item.subSection.questionSections[questionSection].questionList[questionList].questionText === 'Assets');
                                }
                            }
                        }
                    });
                    return summary;
                }
               return [];
            },

            getAssets: function () {
                var self = this;
                var index = self.currentIndex;
                if (self.userSummary.length > 1)
                    self.currentIndex = self.currentIndex + 1;
                return self.assets[index];
            },

            getClass: function (index) {
                if (index % 2 != 0) {
                    return "blank clearfix"
                }
            }
        });
    </script>
</dom-module>