<dom-module id="ui-formatter-phone">
    <script>
        Polymer({
            is: "ui-formatter-phone",

            format: function (value) {
                return value.replace(/.*?(\d{3}).*?(\d{3}).*?(\d{4})/, '($1) $2-$3').substr(0, 14);
            }
        })
    </script>
</dom-module>