<dom-module id="w2s-and-paystubs-summary-styles">
    <template>
        <style>
            .bank-statements li {
                width: 7%;
            }
			.bank-statements li.actions,
            .bank-statements li:nth-child(3) {
                width: 21%;
            }

            .bank-statements li:nth-child(6),
            .bank-statements li:nth-child(7),
            .bank-statements li:nth-child(8),
            .bank-statements li:nth-child(10) {
                width: 10%;
                word-break: break-all;
            }

            .bank-statements li:nth-child(9) {
                width: 11%;
                word-break: break-all;
            }

            .bank-statements .banklogo img {
                max-width: 70px;
            }
            .div-hidden {
                opacity: -1;
            }

            .div-margin-top {
                margin-top: 8px;
            }

            .div-cursor {
                cursor: pointer;
            }

            :host::content .floating-group {
                margin-right: 4px !important;
            }

            :host::content input {
                font-size: 14px !important;
            }

            .div-margin {
                margin-bottom: 10px;
            }

            .bank-statements a.disabled,
            .bank-statements button.disabled {
                pointer-events: none;
                cursor: default;
            }

            span {
                cursor: pointer;
            }

            .no-click,
            .no-click span {
                cursor: not-allowed;
                pointer-events: none;
            }

            .liNewSave {
                width: 10% !important;
            }

            .bank-statements-wrap {
                margin-bottom: 20px;
            }
            .note {
                color: #999;
                font-size: 12px;
                font-style: italic;
                margin: 30px 0
            }

            .note span {
                display: inline-block;
                padding-top: 15px;
            }

            @media only screen and (max-width:1025px) {
                .bank-statements-wrap {
                    width: 100%;
                    overflow-x: auto;
                }
                .bank-statements {
                    width: 1030px;
                }
            }

            @media only screen and (max-width:767px) {
                .note .pull-right {
                    float: none !important;
                    margin-top: 30px
                }
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "w2s-and-paystubs-summary-styles"
        })
    </script>
</dom-module>