<html-import html-href="applications/filter.html"></html-import>
<dom-module id="user-filter">
    <template>
        <div class="clearfix">
            <div class="ibox-title">
                <h1>Users</h1>
            </div>
            <div class="ibox-content table-responsive">
                <alloy-table id="table" table-config="{{tableConfig}}"></alloy-table>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-format id="format"></alloy-format>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "user-filter",
            attached: function() {
                var self = this;

                self.getUsers()
                    .then(function(users) {
                        self.userRows = users.map(function(user) {
                            return self.convertToRow(user);
                        });
                    })
                    .then(function() {
                        self.setTableConfig();
                    })
            },
            getUsers: function() {
                if(this.configuration.services.userFilter == undefined){
                    throw new Error("userFilter service not found");
                }
                var base = this.configuration.services.userFilter;
                var url = "/";
                
                return Promise.resolve([{
                            name: "John Smith",
                            username: "john.smith",
                            email: "john.smith@lendfoundry.com",
                            createdOn: "08/10/2016",
                            lastLogin: "08/10/2016 6:45pm PST",
                            lastActivity: "User john.smith logged on 08/10/2016 at 6:45pm PST",
                            id: 123
                        }]);

                return this.$.http.get(url, base);
            },
            convertToRow: function(user) {
                return [
                    user.name,
                    user.email,
                    user.username,
                    "",
                    user.id
                ];
            },
            setTableConfig: function() {
                var columns = [
                    { title: 'Name' },
                    { title: 'Email' },
                    { title: 'Username' },
                    { className: 'text-center'},
                    { visible: false }
                ];
                this.tableConfig = {
                    columns: columns,
                    columnDefs: [{
                        targets: [columns.length - 2],
                        orderable: false,
                        render: function(data, type, rowData, meta) {
                            if (type === "display") {
                                return "<span class=\"btn btn-primary btn-xs detail-btn\">Details</span>"
                            }
                            return data;
                        }
                    }],
                    data: this.userRows,
                    addClickHandling: this.addClickHandling.bind(this),
                    pageLabel: "users"
                }
            },
            addClickHandling: function() {
                var self = this;
                $(".detail-btn", self).each(function() {
                    $(this).on('click', function() {
                        var table = self.$$("#table");
                        var row = $(this).closest('tr')[0];
                        var rowData = table.getData(row);

                        window.location.hash = "#/user/id:" + rowData[rowData.length - 1];
                    });
                })
            }
        });
    </script>
</dom-module>