<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="borrower-portal/communication/team-member-photo.html"></html-import>
<dom-module id="users-list">
    <template>
        <div class="no-pad">
            <div class="addname">
                <span class="df df-plus cursr" on-click="addUser"></span>
                <ui-input name="search" placeholder="Type name or email" value="{{ searchText }}"></ui-input>
                <ui-error-summary id="errorSummary"></ui-error-summary>
            </div>
            <div class="evlistby">
                <ul>
                    <template is="dom-repeat" items="[[ addedUsers ]]">
                        <li class="active">
                            <span on-click="removeNewUser" class="df df-close-o"></span>
                            <div class="msgtext">[[ item.assignee]]</div>
                        </li>
                    </template>
                </ul>
            </div>
            <div class="evlistby" id="usersList">
                <template is="dom-repeat" items="[[ formattedList ]]" as="teamList">
                    <h3>[[ teamList.title ]] ([[ teamList.count ]])</h3>
                    <ul>
                        <template is="dom-repeat" items="[[teamList.list]]">
                            <li on-click="selectUser" class$="{{ checkSelectedUser(item) }}">
                                <span on-click="removeUser" hidden$="{{checkSelectedUserRole(item)}}" class="df df-close-o cursr"></span>

                                <div class="pic cursr">
                                    <team-member-photo user-name="[[ item.assignee ]]">
                                    </team-member-photo>
                                </div>
                                <div class="msgtext cursr">
                                    <h5>[[ item.name ]]</h5>
                                    <span>[[ item.role ]]</span>
                                </div>
                            </li>
                        </template>
                    </ul>
                </template>
            </div>
        </div>
        <url-parser id="urlParser"></url-parser>
        <assignment-service id="assignmentService"></assignment-service>
        <team-service id="teamService"></team-service>
    </template>
    <script>
        Polymer({
            is: "users-list",

            properties: {
                formattedList:{
                    type:Array,
                    value:[
                        {
                            title:'Lending Team',
                            list:[],
                            count:0
                        },
                        {
                            title:'Affinity Partners',
                            list:[],
                            count:0
                        },
                        {
                            title:'Contributors Team',
                            list:[],
                            count:0
                        }
                    ]
                },
                selectedUsers : {
                    type: Array,
                    value: function () {return []}
                },
                addedUsers : {
                    type: Array,
                    value: function () {return []}
                },
                users: {
                    type: Array,
                    value: []
                },
                defaultUsersList: {
                    type: Array,
                    value: []
                },
                entityType: {
                    type: String,
                    value: "application"
                },
                entityId:{
                    type: String,
                    value: ""
                }
            },

            observers:[
                'filterTeamList(users)',
                'filterTeamListOnSearch(searchText)'
            ],

            behaviors:[
                eventHub,
                ensureDependenciesBehavior,
                alloy.customValidatorBehavior
            ],

            attached: function () {
                var self = this;
                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);
                $('#usersList').slimScroll({
                    size: '5px',
                    height: '360px',
                    distance: '0px',
                    alwaysVisible: false,
                    opacity: 1
                });
                this.ensure("assignmentService")
                        .then(function (assignmentService) {
                            return assignmentService.getAssignments(self.entityType, self.entityId)
                        })
                        .then(function(response){
                           return self.fetchUserDetails(response);
                        })
                        .then(function (filteredUsers) {
                            self.users = filteredUsers;
                            self.defaultUsersList = filteredUsers;
                            self.publish("defaultUsers", {
                                users: self.defaultUsersList
                            });
                        });
            },

            filterTeamList: function (teamMembersList) {
                //Lenders team
                var _lendingTeam = teamMembersList.filter(function(memberItem){
                    return memberItem.team == "lender";
                });
                var _lendingTeamCount = _lendingTeam.length;

                //Contributors team
                var _contributorsTeam = teamMembersList.filter(function(memberItem){
                    return memberItem.team == "contributor";
                });
                var _contributorsTeamCount = _contributorsTeam.length;

                var _affinitypartnerTeam = teamMembersList.filter(function(memberItem){
                    return memberItem.team == "affinitypartner";
                });
                var _affinitypartnerTeamCount = _affinitypartnerTeam.length;


                //Update formattedList as per new data
                this.formattedList[0].list = _lendingTeam;
                this.formattedList[0].count = _lendingTeamCount;
                this.notifyPath('formattedList.0.list');
                this.notifyPath('formattedList.0.count');

                this.formattedList[1].list = _affinitypartnerTeam;
                this.formattedList[1].count = _affinitypartnerTeamCount;
                this.notifyPath('formattedList.1.list');
                this.notifyPath('formattedList.1.count');

                this.formattedList[2].list = _contributorsTeam;
                this.formattedList[2].count = _contributorsTeamCount;
                this.notifyPath('formattedList.2.list');
                this.notifyPath('formattedList.2.count');
            },

            fetchUserDetails: function (usersList) {
                var self = this;
                var promises = [];
                _.forEach(usersList, function (item) {
                    promises.push(self.$.teamService.getUserDetails(item.assignee)
                                    .then(function (response) {
                                        item.name = response.firstName + " " + response.lastName;
                                        return item;
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    })
                    );
                });
                return Promise.all(promises)
                        .then(function (response) {
                            var recipientList = _.filter(response, function (item) {
                                if (item)
                                    return item;
                            });
                            return recipientList;
                        }).then(function (response) {
                            return response;
                        });
            },

            selectUser: function (e) {
                var model = e.model;
                var selectedUsersList = _.cloneDeep(this.get("selectedUsers"));
                var userAlreadySelected = _.filter(selectedUsersList, model.item);
                if (!userAlreadySelected.length > 0) {
                    this.push("selectedUsers", model.item);
                    e.currentTarget.classList.add("active");
                }
            },

            removeUser: function (e) {
                var model = e.model;
                var index = this.selectedUsers.findIndex(function (item) {
                    return item.assignee === model.item.assignee
                });
                if (index > -1) {
                    var selectedUsers = _.cloneDeep(this.selectedUsers);
                    selectedUsers.splice(index, 1);
                    this.set('selectedUsers', selectedUsers);
                }

                var node = e.currentTarget;
                if (Polymer.dom(node).parentNode.classList.contains("active")) {
                    Polymer.dom(node).parentNode.classList.remove("active");
                    e.stopPropagation();
                }
            },

            removeNewUser: function (e) {
                var model = e.model;
                var index = this.addedUsers.findIndex(function (item) {
                    return item.assignee === model.item.assignee
                });
                if (index > -1) {
                    var newlyAddedUsers = _.cloneDeep(this.addedUsers);
                    newlyAddedUsers.splice(index, 1);
                    this.set('addedUsers', newlyAddedUsers);
                }
            },

            filterTeamListOnSearch: function (searchedValue) {
                var results = _.filter(this.defaultUsersList, function (item) {
                    return item.name.toLowerCase().indexOf(searchedValue) > -1
                            || item.assignee.toLowerCase().indexOf(searchedValue) > -1;
                });
                this.set("users", results);
            },

            checkSelectedUser: function (userData) {
                var selectedUsers = this.get("selectedUsers");
                var userAlreadySelected = _.filter(selectedUsers, function (item) {
                    return item.assignee === userData.assignee
                });
                if (userAlreadySelected.length > 0)
                    return "active";
            },
			
			/* Function which will not allow to remove the borrower and loan officer from the calendar event */
			checkSelectedUserRole: function(item){
				return (item.role === "Borrower" || item.role === "Loan Officer");
			},

            addUser: function () {
                if (this.validateEmail(this.searchText)) {
                    var userAlreadySelected = _.filter(this.addedUsers, {"assignee": this.searchText});

                    var selectedUserIndex = _.filter(this.selectedUsers, {"assignee": this.searchText});

                    if (userAlreadySelected.length === 0 && selectedUserIndex.length === 0) {
                        this.push("addedUsers", {"assignee": this.searchText});
                        this.searchText = "";
                    }
                }
            },

            validateEmail: function (email) {
                return validator.isEmail(email);
            },

            returnSelectedUsers: function () {
                var addedUsers = _.cloneDeep(this.addedUsers);
                var selectedUsers = _.cloneDeep(this.selectedUsers);
                var result = _.unionBy(addedUsers, selectedUsers);
                return result;
            }
        });
    </script>
</dom-module>
