<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/notification-service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<dom-module id="context-menu-list">
    <template>
        <style>
            .dropdown.open,
            .dropdown-menu,
            .drpdwn-bg {
                background-color: var(--context-menu-list-background-color);
                color: var(--context-menu-list-dropdown-color);
            }

            .dropdown.open .username {
                color: var(--context-menu-list-username-color);
            }

            .dropdown-menu li,
            .dropdown-menu li a {
                color: var(--context-menu-list-dropdown-li-color);
            }

            .dropdown a,
            .dropdown .fa {
                color: var(--context-menu-list-toggle-color);
            }
        </style>
        <template is="dom-if" if="{{viewingLink}}">
            <div class$="[[ computeClass(portal) ]]">
                <a href="#" class="clearfix prfpic" data-toggle="dropdown">
                    <template is="dom-if" if="{{ isBackOfficePortal(portal) }}">
                        <span hidden$="[[!noImage]]" class="df df-no-user img-circle"></span>
                        <span hidden$="[[noImage]]"><img class="img-circle" src="[[imageUrl]]"></span>
                    </template>
                    <template is="dom-if" if="{{ !isBackOfficePortal(portal) }}">
                        <span hidden$="[[isQuestionnaireSection]]">
                            <template is="dom-if" if="{{ !isBorrowerPortal(portal) }}">
                                <span hidden$="[[!noImage]]" class="df df-no-user img-circle"></span>
                                <span hidden$="[[noImage]]"><img class="img-circle" src="[[imageUrl]]"></span>
                            </template>
                        </span>
                    </template>
                    <span class="username">{{ firstName }}</span><i class="df df-angle-down-o"></i></a>
                <ul class="dropdown-menu clearfix">
                <div class="drpdwn-bg clearfix">
                        <div class="prfmpic">
                            <template is="dom-if" if="{{ isBackOfficePortal(portal) }}">
                                <span hidden$="[[!noImage]]" class="df df-no-user img-circle"></span>
                                <span hidden$="[[noImage]]"><img class="img-circle" src="[[imageUrl]]"></span>
                            </template>
                            <template is="dom-if" if="{{ !isBackOfficePortal(portal) }}">
                                <span hidden$="[[isQuestionnaireSection]]">
                                    <template is="dom-if" if="{{ !isBorrowerPortal(portal) }}">
                                        <span hidden$="[[!noImage]]" class="df df-no-user img-circle"></span>
                                        <span hidden$="[[noImage]]"><img class="img-circle" src="[[imageUrl]]"></span>
                                    </template>
                                </span>
                            </template>
                        </div>
                        <li class="user-title">{{ userName }}</li>
                        <template is="dom-repeat" items="{{links}}">
                            <template is="dom-if" if="{{ checkForLink(item.url) }}">
                                <li><a href$="{{item.url}}" data-title$="{{item.title}}">{{item.title}}</a><span class="vline">|</span></li>
                            </template>
                        </template>
                        <li class="logout"><a href="javascript:void(0)" class="no-underline" on-click="logout">Log out</a></li>
                     </div>   
                </ul>
            </div>
        </template>
        <alloy-config id="config"></alloy-config>
        <http-request id="http"></http-request>
        <identity-service id="identityService"></identity-service>
        <notification-service id="notify"></notification-service>
        <team-service id="teamService"></team-service>
        <logout-service id="logout"></logout-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <event-hub id="hub">
            <event-subscription event="user.updated"
                handler="handleUserUpdated"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "context-menu-list",

            properties: {
                userName: String,
                email : String,
                firstName: String,
                lastName: String,
                imageUrl: String,
                noImage: { type: Boolean, value: true },
                portal: { type: String, value:""},
                subscriptionList: { type: Array, value: [] }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init);
                }
                self.getUserDetails();

				self.set("entityType", "application");
                var entityId = self.entityId || ":id";
				self.set("entityId", entityId);
                this.subscriptionList.push(this.subscribe('profile:updated', this.getUserDetails.bind(this)));
            },

            detached: function () {
                // UnSubscribing all subscriptions in attached
                this.subscriptionList.map(function (subscription) {this.unsubscribe(subscription);}, this);
            },

			fetchMessageCount: function () {
                var self = this;
                self.ensure("notify").then(function (notify) {
                    notify.getCount(self.entityType, self.entityId, self.username, self.portal)
                        .then(function (response) {
                            self.count = response;
                        })
				});
						
            },

            init: function () {
                var self = this;
                self.configuration = self.$.config.getAppConfiguration("navheader");
                self.links = self.configuration.links;
                self.viewingLink = !!self.links;
            },

            getUserDetails: function () {
                var self = this;
                this.ensure("identityService", "teamService")
                    .then(function (itServices) {
                        itServices.identityService.getCurrentUser()
                            .then(function (loggedInUser) {
								self.set("username", loggedInUser.username);
								self.fetchMessageCount();
                                return itServices.teamService.getUserDetails(loggedInUser.username);
                            })
                            .then(function (userDetails) {
                                self.set("userName", userDetails.username);
                                var firstName = userDetails.firstName ? userDetails.firstName : "";
                                self.set("firstName", firstName);
                                var lastName = userDetails.lastName ? userDetails.lastName : "";
                                self.set("lastName", lastName);
                                var email = userDetails.email ? userDetails.email : "";
                                self.set("email", email);
                                return self.ensure("userProfileService")
                                    .then(function (service) {
                                        return service.fetchUserLogo(userDetails.username).then(function (response) {
                                            if (response) {
                                                if (response.url) {
                                                    self.set('noImage', false);
                                                    var imageUrl = response.url + "?" + new Date().getTime();
                                                    self.set('imageUrl', imageUrl);
                                                }
                                            }
                                        }).catch(function (error) {
                                            self.set('imageUrl', '');
                                            self.set('noImage', true);
                                        });
                                    });
                            });
                    })
                    .catch(function (error) {
                        console.warn(error);
                    })
            },

            handleUserUpdated: function (payload) {
                var self = this;
                self.getUserDetails();
            },

            logout: function () {
                this.$.logout.logout();
            },

            isBackOfficePortal: function (portal) {
                return portal && portal.toLowerCase() === "back-office";
            },
            isBorrowerPortal: function (portal) {
                return portal && portal.toLowerCase() === "borrower";
            },
            checkForLink: function (url) {
                return (url);
            },
            computeClass: function (portal) {
                var checkPortal = this.isBorrowerPortal(portal)
                if (checkPortal)
                    return "dropdown borrower-portal-logout";
                else
                    return "dropdown";
            }
        });
    </script>
</dom-module>