<html-import html-href="ui-elements/profile-uploader.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="profile-picture">
    <template>
        <style>
            profile-uploader {
                --drop-zone-preview-alignment: center;
            }
            .df-close-o {
                cursor: pointer;
            }
            :host::content .dropzone .dz-message{margin: 0 !important;}
            :host::content .dz-message{margin: 0 !important;padding-top: 24px;color:#fff;}
        </style>
        <div class="upload-photo">
            <template is="dom-if" if="{{ noImage }}">
                <profile-uploader id="dropZone" submit-target="[[ target ]]" next-target="[[ nextTarget ]]"
                                  submit-base-url="{{ submitBaseUrl }}" max-files="1" file-name="{{ fileName }}"
                                  method="[[ method ]]" next-method="[[ nextMethod ]]" profile-pic="[[ profilePic ]]"
                                  fileName clickable
                                  auto-process=true>
                    <div class="dz-message">UPLOAD PHOTO</div>
                </profile-uploader>
            </template>
            <template is="dom-if" if="[[ !noImage ]]">
                <img class="img-circle" src="[[imageUrl]]" height="80" width="80" on-click="uploadNewPic">
            </template>
        </div>
        <identity-service id="identityService"></identity-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "profile-picture",

            properties: {
                submitBaseUrl: {
                    type: String,
                    value: null
                },
                username: {
                    type: String
                },
                noImage: {
                    type: Boolean,
                    value: true
                },
                profilePic: {
                    type: Boolean,
                    value: true
                },
                dropZoneInitialised: {
                    type: Boolean,
                    value: false
                },
                fileName: {
                    type: String,
                    value: "profile.jpeg"
                },
                subscriptionList: {
                    type: Array,
                    value: []
                }
            },

            attached: function () {
                var self = this;
                if(this.configuration.services.assetManager == undefined){
                    throw new Error("assetManager service not found");
                }
                self.submitBaseUrl = this.configuration.services.assetManager;
                this.getCurrentUser();

                this.subscriptionList.push(this.subscribe('notification:show', this.getProfilePic.bind(this)));
            },

            detached: function () {
                // UnSubscribing all subscriptions in attached
                this.subscriptionList.map(function (subscription) {this.unsubscribe(subscription);}, this);
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            getCurrentUser: function () {
                var self = this;

                this.ensure("identityService")
                        .then(function (itServices) {
                            itServices.getCurrentUser()
                                    .then(function (loggedInUser) {
                                        self.set("username", loggedInUser.username);
                                        self.getProfilePic();
                                    });
                        });
            },

            getProfilePic: function () {
                var self = this;
                this.ensure("userProfileService")
                        .then(function (userProfileService) {
                            userProfileService.fetchUserLogo(self.username)
                                    .then(function (response) {
                                        if (response && response.url) {
                                            self.set('noImage', false);
                                            var imageUrl = response.url + "?" + new Date().getTime();
                                            self.set('imageUrl', imageUrl);

                                            var target = "user/" + self.username + "/profile.jpeg";
                                            self.set("nextTarget", target);
                                            self.set("method", "put");
                                        }
                                        else {
                                            self.set('noImage', true);
                                            self.set('imageUrl', '');

                                            var target = "user/" + self.username;
                                            var nextTarget = "user/" + self.username + "/profile.jpeg";
                                            self.set("nextTarget", nextTarget);
                                            self.set("method", "post");
                                        }
                                        self.set("target", target);
                                        self.set("nextMethod", "PUT");
                                    })
                                    .then(function () {
                                        if (self.dropZoneInitialised) return ;

                                        self.initialiseDropZone();
                                        self.set('dropZoneInitialised', true);
                                    });
                        });
            },

            uploadNewPic: function () {
                this.set('noImage', true);
            },

            initialiseDropZone: function () {
                this.ensure("dropZone")
                        .then(function (dropZone) {
                            dropZone.initDropzone();
                        });
            }
        });
    </script>
</dom-module>