<html-import html-href="profile/context-menu-list.html"></html-import>
<html-import html-href="profile/lender-context-menu-list.html"></html-import>
<html-import html-href="profile/notification-menu-list.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="profile-summary">
    <template id="rightProfile">
        <div class="user-settings">
            <template is="dom-if"
                      if="{{ !isBackOfficePortal(portal) }}">
                <context-menu-list is-questionnaire-section="{{isQuestionnaireSection}}"
                                   portal="[[portal]]"></context-menu-list>
            </template>

            <template is="dom-if"
                      if="{{ isBackOfficePortal(portal) }}">
                <lender-context-menu-list portal="[[portal]]"></lender-context-menu-list>
            </template>

            <div class="collapse navbar-collapse" id="hamburger">
                <ul class="nav navbar-nav navbar-right">
                    <template is="dom-if"
                              if="{{isItemsExist}}">
                        <template is="dom-repeat"
                                  items="{{headerItems}}">
                            <li>
                                <template is="dom-if"
                                          if="{{ !item.url }}">
                                    <template is="dom-if"
                                              if="[[ isNotification(item.icon, 'df-bell') ]]">
                                        <template is="dom-if"
                                                  if="[[ !isQuestionnaireSection]]">
                                            <notification-menu-list portal="[[ portal ]]"></notification-menu-list>
                                        </template>
                                    </template>
                                </template>
                            </li>
                        </template>
                    </template>
                </ul>
            </div>
        </div>
        <alloy-config id="config"></alloy-config>
        <url-parser id="url"></url-parser>
        <user-profile-service id="userProfileService"></user-profile-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
    </template>
    <script>
        Polymer({
            is: 'profile-summary',

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            isNotification: function (code, format) {
                return code === format;
            },

            properties: {
                currentHash: {
                    value: "",
                    type: String
                },
                headerItems: {
                    type: Array,
                    value: []
                },
                portal: {
                    type: String,
                    value: ""
                },
                isQuestionnaireSection: { type: Boolean, notify: true }
            },

            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init);
                }
                var entityId = this.entityId || ":id";
                self.set("entityId", entityId);
            },

            init: function () {
                var self = this;
                if (self.isBackOfficePortal(self.portal) || self.isAffinityPartnerPortal(self.portal)) {
                    self.isQuestionnaireSection = false;
                    self.initializeComponents();
                }
                else {
                    self.ensure('questionnaireService',"url").then(function (ctx) {
                        if(self.entityId==":id"){
                            var id=ctx.url.getParams().id;
                            if(!id){
                                self.initializeComponents();
                                return;
                            }
                        }
                        ctx.questionnaireService.getStatus(self.entityId).then(function (response) {
                            self.parseQuestionnaireStatus(response);
                        }).then(function (response) {
                            self.initializeComponents();
                        });
                    });
                }
            },

            initializeComponents: function () {
                var self = this;
                self.configuration = self.$.config.getAppConfiguration("navheadermenu");
                self.hashListener();
                window.addEventListener('hashchange', self.hashListener.bind(self));
            },
            updateQuestionnaireFlag:function(){
                var self = this;
                self.ensure('questionnaireService').then(function (questionnaireService) {
                    questionnaireService.getStatus(self.entityId).then(function (response) {
                        self.parseQuestionnaireStatus(response);
                    })
                });
            },
            parseQuestionnaireStatus: function (questionnaire) {
                var self = this;
                if (questionnaire) {
                    if (questionnaire.status == null || typeof (questionnaire.status) == 'undefined')
                        self.set('isQuestionnaireSection', true);
                    else if (questionnaire.status && questionnaire.status.toLowerCase() == 'open')
                        self.set('isQuestionnaireSection', true);
                    else if (questionnaire.status && questionnaire.status.toLowerCase() == 'postapplication')
                        self.set('isQuestionnaireSection', true);
                    else
                        self.set('isQuestionnaireSection', false);
                }
            },

            hashListener: function () {
                var self = this;
                var quotedUrl = window.location.hash;
                var _headerItems = [];

                //Identify current path
                var unquotedUrl = quotedUrl.replace("#/", "");
                if(unquotedUrl.toLowerCase().indexOf("dashboard") !== -1)
                    self.updateQuestionnaireFlag();
                var _params = self.$.url.getParams();
                for (var param in _params) {
                    unquotedUrl = unquotedUrl.replace('/' + param + ':' + _params[param], '')
                }

                if (self.currentHash === "" || self.currentHash != unquotedUrl) {
                    this.configuration = self.$.config.getAppConfiguration("navheadermenu");
                    _headerItems = self.configuration["default"];
                    self.currentHash = "default";
                    if (self.configuration[unquotedUrl] != undefined) {
                        _headerItems = self.configuration[unquotedUrl];
                        self.currentHash = unquotedUrl;
                    }
                    self.isItemsExist = !!_headerItems;
                    //Clear out old link array first
                    var _oldItemsLength = self.headerItems.length;
                    while (_oldItemsLength > 0) {
                        self.pop('headerItems', 1);
                        _oldItemsLength--;
                    }
                    //Push new links to array
                    for (var index in _headerItems) {
                        self.push('headerItems', _headerItems[index]);
                    }
                }
            },

            getIconClass: function (iconClass, portal) {
                var classList = ["df"];
                if (portal === "back-office") {
                    classList.push("")
                }
                classList.push(iconClass);
                return classList.join(" ");
            },

            isBackOfficePortal: function (portal) {
                return portal && portal.toLowerCase() === "back-office";
            },

            isAffinityPartnerPortal: function (portal) {
                return portal && portal.toLowerCase() === "affinity-partner";
            }
        });
    </script>
</dom-module>