<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/ui-check-box.html"></html-import>
<html-import html-href="ui-elements/forms/ui-radio.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="ui-elements/forms/ui-toggle-button-group.html"></html-import>
<html-import html-href="profile/profile-picture.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="user-profile-view">
    <template>
    <style>
    ul li.clearfix{ height:0; line-height:0;width:100%; display:block;}
    </style>
            <div class="affinity-wrap prf-screen clearfix">
              <h3>Profile</h3>
                    <div class="profilepic">
                        <profile-picture></profile-picture>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <ui-error-summary id="errorSummary"></ui-error-summary>
                    <ui-form id="form"
                        data="{{ formData }}">
                        <ui-container-group id="uiContainerGroup"
                            has-error="{{formHasError}}">
                            <ul class="row clearfix">
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="First Name"
                                        is-required=true
                                        auto-save=false>
                                        <ui-input name="firstName"
                                            value="{{ formData.firstName }}">
                                            <ui-validators>
                                                <ui-require-field>Please enter a First Name.</ui-require-field>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Last Name"
                                        is-required=true
                                        auto-save=false>
                                        <ui-input name="lastName"
                                            value="{{formData.lastName}}">
                                            <ui-validators>
                                                <ui-require-field>Please enter a Last Name.</ui-require-field>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                
                                <li class="col-lg-12 clearfix">&nbsp;</li>
                                
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Title"
                                        is-required=true
                                        auto-save=false>
                                        <ui-input name="title"
                                            disabled=true
                                            value="{{ formData.title }}"></ui-input>
                                    </ui-container>
                                </li>
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="License"
                                        auto-save=false>
                                        <ui-input name="license"
                                            value="{{ formData.license }}"></ui-input>
                                    </ui-container>
                                </li>
                                
                                <li class="col-lg-12 clearfix">&nbsp;</li>
                                
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Mobile"
                                                  is-required=true
                                        auto-save=false control-type="TextPhone">
                                        <ui-input name="mobileNumber"
                                            value="{{ formData.mobileNumber }}"
                                            mask-format="(999) 999-9999">
                                            <ui-validators>
                                                <ui-require-field>Please enter Mobile Number.</ui-require-field>
                                                <ui-custom-validator name="isPhoneNumber">Mobile Number is not valid.
                                                </ui-custom-validator>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Email"
                                        is-required=true
                                        auto-save=false control-type="TextEmail">
                                        <ui-input name="email"
                                            value="{{ formData.email }}">
                                            <ui-validators>
                                                <ui-is-email>Email address is not valid.</ui-is-email>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                
                                <li class="col-lg-12 clearfix">&nbsp;</li>
                                
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Office"
                                        auto-save=false>
                                        <ui-input name="officePhone"
                                            value="{{ formData.officePhone }}"
                                            mask-format="(999) 999-9999">
                                            <ui-validators>
                                                <ui-custom-validator name="isPhoneNumber">Office Phone is not valid.
                                                </ui-custom-validator>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                <li class="col-md-6 col-sm-6 col-xs-12">
                                    <ui-container floating-label="Fax"
                                        auto-save=false>
                                        <ui-input name="fax"
                                            value="{{ formData.fax }}"
                                            mask-format="(999) 999-9999">
                                            <ui-validators>
                                                <ui-custom-validator name="isPhoneNumber">Fax is not valid.
                                                </ui-custom-validator>
                                            </ui-validators>
                                        </ui-input>
                                    </ui-container>
                                </li>
                                
                                <li class="clearfix">&nbsp;</li>
                                
                                <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12 prfrd-commun">
                                    <h3>Preferred Communication</h3>
                                    <ui-check-box id="text"
                                        text="Text"
                                        value="text"></ui-check-box>
                                    <ui-check-box id="phone"
                                        text="Phone"
                                        value="phone"></ui-check-box>
                                    <ui-check-box id="mail"
                                        text="Mail"
                                        value="mail"></ui-check-box>
                                </li>
                                
                                <li class="clearfix">&nbsp;</li>
                                
                                <li class="col-lg-8 col-md-10 col-sm-12 col-xs-12 social-paltform">
                                    <h3>Social Platforms</h3>
                                    <div class="social-tabs clearfix">
                                        <ul class="nav nav-tabs responsive">
                                            <li class="lin active"><a href="#linkedin"
                                                    data-toggle="tab"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                            <li class="tw"><a href="#twitter"
                                                    data-toggle="tab"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                            <li class="fb"><a href="#facebook"
                                                    data-toggle="tab"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active"
                                                id="linkedin">
                                                <ui-container floating-label="LinkedIn Address"
                                                    is-required=true
                                                    auto-save=false>
                                                    <ui-input name="linkedInUrl"
                                                        value="{{ formData.linkedInUrl }}"></ui-input>
                                                </ui-container>
                                                <div class="btns"><a href="#"
                                                        class="btn btn-sm btn-outline-primary"
                                                        attr-platform="linkedin"
                                                        on-click="removeURL">DELETE</a>&nbsp;<a href="#"
                                                        class="btn btn-sm btn-outline-primary"
                                                        attr-platform="linkedin"
                                                        on-click="addURL">SAVE</a></div>
                                            </div>
                                            <div class="tab-pane"
                                                id="twitter">
                                                <ui-container floating-label="Twitter Address"
                                                    is-required=true
                                                    auto-save=false>
                                                    <ui-input name="twitterUrl"
                                                        value="{{ formData.twitterUrl }}"></ui-input>
                                                </ui-container>
                                                <div class="btns"><a href="#"
                                                        class="btn btn-sm btn-outline-primary"
                                                        attr-platform="twitter"
                                                        on-click="removeURL">DELETE</a>&nbsp;<a href="#"
                                                        class="btn btn-sm btn-outline-primary"
                                                        attr-platform="twitter"
                                                        on-click="addURL">SAVE</a></div>
                                            </div>
                                            <div class="tab-pane"
                                                id="facebook">
                                                <ui-container floating-label="Facebook Address"
                                                    is-required=true
                                                    auto-save=false>
                                                    <ui-input name="facebookUrl"
                                                        value="{{ formData.facebookUrl }}"></ui-input>
                                                </ui-container>
                                                <div class="btns"><a href="#"
                                                        attr-platform="facebook"
                                                        on-click="removeURL"
                                                        class="btn btn-sm btn-outline-primary">DELETE</a>&nbsp;<a href="#"
                                                
                                                        attr-platform="facebook"
                                                        on-click="addURL"
                                                        class="btn btn-sm btn-outline-primary">SAVE</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="clearfix">&nbsp;</li>

                                <li class="col-lg-12 nextbtns">
                                    <ui-button id="acceptButton"
                                        disabled="{{ busy }}"
                                        disabled-text="Saving..."
                                        color="primary"
                                        fullWidth=true
                                        class=""
                                        on-click="submit">Next</ui-button>
                                </li>
                            </ul>
                        </ui-container-group>
                    </ui-form>

            </div>
        <user-profile-service id="userProfileService"></user-profile-service>
        <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "user-profile-view",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                formData: Object,
                username: String,
                userId: String,
                userRole: Array,
                busy: Boolean
            },

            attached: function () {
                this.fetchUserDetails();
            },

            fetchUserDetails: function () {
                var self = this;
                return self.ensure("userProfileService")
                    .then(function (service) {
                        return service.fetchSignedInUsersProfile().then(function (response) {
                            self.formData = response;
                            self.username = response.username;
                            self.userId = response.userId;
                            // fetch signed-in user's role.
                            self.ensure("identityService")
                                .then(function (service) {
                                    service.getUserRoles(encodeURIComponent(self.username)).then(function (response) {
                                        self.userRole = response;
                                    })
                                });
                            // set communication checkboxes
                            var communication = self.formData.communication;
                            if (communication !== null) {
                                if (communication.text)
                                    self.$.form.querySelector("input[id='text']").checked = true;
                                if (communication.phone)
                                    self.$.form.querySelector("input[id='phone']").checked = true;
                                if (communication.email)
                                    self.$.form.querySelector("input[id='mail']").checked = true;
                            }
                        });
                    });
            },

            validateUsername: function () {
                var self = this;
                return this.ensure("identityService")
                    .then(function (service) {
                       return true; 
                    });
            },

            submit: function (e) {
                var self = this;
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            self.set("busy", true);
                            return self.validateUsername()
                                .then(function (result) {
                                    if (result === false) {
                                        self.$.errorSummary.setErrors("Username " + self.username + " already exists!");
                                        self.set("busy", false);
                                    }
                                    else {
                                        var platform = self.validateAllSocialPlatforms();
                                        if(platform && platform.length > 0){
                                            self.$.errorSummary.setErrors(platform);
                                            self.set("busy", false);
                                        }
                                        else{
                                        self.updateProfileDetails
                                            .bind(self)()
                                            .then(function (response) {
                                                var output = {
                                                    status: "success"
                                                };

                                                var found = false;
                                                for (var i = 0; i < self.userRole.length; i++) {
                                                    if (window.config.rolesAllowedForCompanyAccess.indexOf(self.userRole[i]) > -1) {
                                                        found = true;
                                                        break;
                                                    }
                                                }
                                                //If it is admin, redirect to company profile page else pipeline view
                                                if (found)
                                                    window.location.hash = "#/company-profile";
                                                else {
                                                    self.ensure("userProfileService")
                                                        .then(function (userService) {
                                                            // call endpoint to update the isProfileComplete flag
                                                            userService.enableDashboardView(self.username).then(function (flag) {
                                                                window.location.hash = "#/pipeline";
                                                            });
                                                        })
                                                }

                                            })
                                            .catch(function (error) {
                                                if (error && error.responseJSON && error.responseJSON.message) {
                                                    self.$.errorSummary.setErrors(error.responseJSON.message);
                                                }
                                                self.set("busy", false);
                                            });
                                        }
                                    }
                                });
                        }
                        else {
                            self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    }.bind(self)); // Promise ends here (then block)
            },

            updateProfileDetails: function () {
                var self = this;
                var username = encodeURIComponent(self.username);
                var communication = {
                    "Text": false,
                    "Email": false,
                    "Phone": false
                };
                if (self.$.form.querySelector("input[id='text']").checked)
                    communication.Text = true;
                if (self.$.form.querySelector("input[id='phone']").checked)
                    communication.Phone = true;
                if (self.$.form.querySelector("input[id='mail']").checked)
                    communication.Email = true;

                var payload = {
                    userId: self.userId,
                    username: self.username,
                    email: self.get("formData.email"),
                    firstName: self.get("formData.firstName"),
                    lastName: self.get("formData.lastName"),
                    title: self.get("formData.title"),
                    license: self.get("formData.license"),
                    mobileNumber: self.scrubPhoneData(self.get("formData.mobileNumber")),
                    officePhone: self.scrubPhoneData(self.get("formData.officePhone")),
                    fax: self.scrubPhoneData(self.get("formData.fax")),
                    facebookUrl: self.get("formData.facebookUrl"),
                    twitterUrl: self.get("formData.twitterUrl"),
                    linkedInUrl: self.get("formData.linkedInUrl"),
                    communication: communication
                };

                return self.ensure("userProfileService")
                    .then(function (service) {
                        return service.updateProfileDetails(username, payload);
                    });
            },

            scrubPhoneData: function (value) {
                return value.replace(/([()-. ])/g, "");
            },

            removeURL: function (e) {
                e.preventDefault();
                var socialPlatform = e.target.getAttribute('attr-platform');
                if (socialPlatform === 'linkedin')
                    this.formData.linkedInUrl = "";
                else if (socialPlatform === 'twitter')
                    this.formData.twitterUrl = "";
                else if (socialPlatform === 'facebook')
                    this.formData.facebookUrl = "";
                this.updateProfileDetails();
                this.fetchUserDetails();
            },
            validateAllSocialPlatforms: function(){
                var self = this;
                var result = [];
                if (self.formData.linkedInUrl && !self.validateSocialPlatforms('linkedin'))
                    result.push("Please enter a valid linkedin URL");
                if (self.formData.twitterUrl && !self.validateSocialPlatforms('twitter'))
                    result.push("Please enter a valid twitter URL");
                if (self.formData.facebookUrl && !self.validateSocialPlatforms('facebook'))
                    result.push("Please enter a valid facebook URL");

                return result;
            },
            validateSocialPlatforms: function (socialPlatform) {
                var self = this;
                var match = false;
                var linkedInRegex =  /(http(s)?:\\)?linkedin\.com\/in\/[0-9a-zA-Z/ -_]+$/i
                var twitterRegex = /(http(s)?:\\)?twitter\.com\/[a-zA-Z0-9_]+$/i
                var facebookRegex = /(http(s)?:\\)?facebook\.com\/[a-zA-Z0-9._]+$/i
                if (socialPlatform === 'linkedin')
                    match = linkedInRegex.test(self.formData.linkedInUrl);
                else if (socialPlatform === 'twitter')
                    match = twitterRegex.test(self.formData.twitterUrl);
                else if (socialPlatform === 'facebook')
                    match = facebookRegex.test(self.formData.facebookUrl);
                return match;
            },

            addURL: function (e) {
                var self = this;
                e.preventDefault();
                var socialPlatform = e.target.getAttribute('attr-platform');
                //validate the url's with regex
                if (self.validateSocialPlatforms(socialPlatform)) {
                    self.$.errorSummary.setErrors([]);
                    self.updateProfileDetails();
                }
                else
                    self.$.errorSummary.setErrors("Please enter a valid " + socialPlatform + " URL");
            },

            isPhoneNumber: function (value) {
                var re = /^\d{10}$/g;
                value = value || "";
                if (value) {
                    value = this.scrubPhoneData(value);
                    return re.test(value);
                }
                return true;
            }
        });
    </script>
</dom-module>