<dom-module id="ui-description-list">
    <template>
        <dl>
            <content></content>
        </dl>
    </template>
    <script>
        Polymer({
            is: "ui-description-list",

            properties: {
                horizontal: {
                    value: false,
                    type: Boolean
                },

                classNames: {
                    value: "",
                    type: String
                },

                horizontalClassName: {
                    value: "dl-horizontal",
                    type: String
                }
            },

            attached: function () {
                if (this.horizontal) {
                    this.set("classNames", this.horizontalClassName);
                }

                else {
                    this.set("classNames", "");
                }
            }
        })
    </script>
</dom-module>