<dom-module id="ui-description-list-item">
    <template>
        <dt>{{ term }}</dt>
        <dd>{{ definition }}</dd>
    </template>
    <script>
        Polymer({
            is: "ui-description-list-item",

            properties: {
                term: String,
                definition: String
            }
        })
    </script>
</dom-module>