<html-import html-href="services/format.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>
<dom-module id="ui-entity-history-list">
    <template>
        <style>
            .pull-right span {
                margin: 0 10px;
            }
            
            .well {
                margin-bottom: 0;
                height: 200px;
                line-height: 150px;
                text-align: center;
            }
            
            #search {
                width: 40%;
                float: right;
            }
            
            #length-selector {
                width: auto;
                display: inline-block;
                margin-right: 10px;
            }
            
            label {
                font-weight: normal;
            }
            
            .truncate {
                width: 80px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .activity-description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: pre-wrap;
            }
        </style>
        <div class="inspinia-timeline" hidden$="{{ hasShowHeader(searchActivitiesLength,searchTerm) }}">
            <div class="header">
                <label>
                <label hidden$="{{ !hasActivities(searchActivitiesLength) }}">
                    <select id="length-selector" 
                            name="table_length"
                        class="form-control"
                        on-change="handleLengthSelectorChange">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>activities per page</span>
                </label>

                <div id="search"
                    class="input-group">
                    <input class="form-control"
                        value="{{ searchTerm::input }}"
                        placeholder="Search for date, title, description..." />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
                </label>
            </div>

            <template is="dom-repeat"
                items="[[ parsedActivities ]]" hidden$="{{ !hasActivities(searchActivitiesLength) }}"
                as="activity">
                <div class="timeline-item">
                    <div class="row">
                        <div class="date col-xs-2">
                            <i class$="[[ getActivityIcon(activity.eventName) ]]"></i>
                            <div class="truncate"><span title="[[ activity.author ]]">[[ activity.author ]]</span></div>
                            <div>[[ activity.date ]]</div>
                            <div>
                                <small id="relative-date"
                                    class="text-navy">
                                    [[ activity.time ]]
                                    </small>
                            </div>
                        </div>
                        <div class$="[[timelineClass(activity.index)]]">
                            <p class="m-x-xs">
                                <strong>[[ activity.title ]]</strong></p>
                            <p class="activity-description">[[ activity.description ]]</p>
                        </div>
                    </div>
                </div>
            </template>
            <element-pagination element-length="{{ searchActivitiesLength }}"
                selected-index="{{selectedIndex}}"
                page-length="{{pageLength}}" hidden$="{{ !hasActivities(searchActivitiesLength) }}">
            </element-pagination>
        </div>
        <div class="well"
            hidden$="{{ hasActivities(searchActivitiesLength) }}">
            No activities logged
        </div>
        <event-hub id="hub"></event-hub>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-entity-history-list",

            behaviors: [eventHub],

            properties: {
                activities: Array,
                pageLength: {
                    type: Number,
                    value: 5
                },
                searchTerm: {
                    type: String,
                    value: ""
                },
                selectedIndex: {
                    type: Number,
                    value: 0
                },
                entityType: {
                    type: String,
                    value: ""
                },
                tags: {
                    type: Array,
                    value: function () {
                        return []
                    }
                },
            },

            observers: [
                "parseActivities(selectedIndex, searchTerm, activities, pageLength)"
            ],

            ready: function () {
                this.loadActivities = this.loadActivities.bind(this);

                this.subscribe("activity:refresh", this.loadActivities);
                this.subscribe("note.added", this.loadActivities);
            },

            attached: function () {
                if (window.jQuery)
                    this.init();
                else
                    window.addEventListener("WebComponentsReady", self.init);
            },

            init: function () {
                this.entityType = this.config.configuration.entityType;
                this.tags = this.config.configuration.tags || [];
                this.loadActivities();
            },

            handleLengthSelectorChange: function (event) {
                this.setPageLength(event.target.value);
            },

            setPageLength: function (nextLength) {
                this.pageLength = nextLength;
            },

            resetTab: function () {
                this.loadActivities();
            },

            loadActivities: function () {
                var self = this;
                var url = [self.entityType, ":id"];

                if (self.tags.length) {
                    url.push("tags");
                    url = url.concat(self.tags);
                }

                url = url.join("/");
                if(this.configuration.services.activityLog == undefined){
                    throw new Error("activityLog service not found");
                }
                self.$.http.get(url, this.configuration.services.activityLog)
                    .then(function (activities) {
                        self.set("activities", activities.map(function (activity) {
                            activity.time = moment.tz(activity.event.time.time, window.tenant
                                .timezone).fromNow();
                            activity.date = moment.tz(activity.event.time.time, window.tenant
                                .timezone).format("MM/DD/YYYY");
                            activity.description = self.createActivityDescription(activity);

                            return activity;
                        }));
                    })
                    .fail(function (error) {

                    });
            },

            createActivityDescription: function (activity) {
                var descriptionTemplate = this.config.configuration.messages[activity.event.name];
                if (descriptionTemplate == null) {
                    return activity.description;
                }
                var bindings = descriptionTemplate.match(/{{(.+?)}}/g) || [];
                var cleanedDescriptionTemplate = descriptionTemplate.replace(/[{{}}]/g, "");
                var cleanedBindings = bindings.map(binding => binding.replace(/[{{}}]/g, ""));
                var evaluatedBindings = cleanedBindings.map(binding => ({
                    binding,
                    value: _.get(activity, binding) || ""
                }));

                if (evaluatedBindings.some(b => b.value === "")) {
                    return activity.title
                }

                evaluatedBindings.forEach(b => {
                    cleanedDescriptionTemplate = cleanedDescriptionTemplate.replace(b.binding, b.value)
                })

                return cleanedDescriptionTemplate;
            },

            parseActivities: function (selectedIndex, searchTerm, activities) {
                activities = this.searchLog(searchTerm, activities);
                this.set("searchActivitiesLength", activities.length);
                activities = this.paginateLog(selectedIndex, activities);
                this.set("parsedActivities", activities);
            },

            paginateLog: function (selectedIndex, activities) {
                var currentPageStart = selectedIndex * this.pageLength;
                // when total records are less than (currentPageStart) display from 0th record
                if (activities.length <= currentPageStart)
                    currentPageStart = 0;
                return activities.slice(
                    currentPageStart,
                    currentPageStart + parseInt(this.pageLength)
                );
            },

            searchLog: function (searchTerm, activities) {
                return activities.filter(function (activity) {
                    var searchables = [];
                    for (var prop in activity) {
                        if (typeof activity[prop] !== "object")
                            searchables.push(activity[prop].toLowerCase());
                    }
                    searchables = searchables.join(", ");
                    return searchables.indexOf(searchTerm.toLowerCase()) !== -1;
                });
            },

            getActivityIcon: function (title) {
                return "fa fa-send-o";
            },

            timelineClass: function (index) {
                return index === 0 ?
                    "col-xs-10 content no-top-border" :
                    "col-xs-10 content";
            },

            hasActivities: function (searchActivitiesLength) {
                return searchActivitiesLength > 0;
            },
            hasShowHeader: function (searchActivitiesLength, searchTerm) {
                return (!this.hasActivities(searchActivitiesLength)) && searchTerm == "";
            }
        });
    </script>
</dom-module>