<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/forms/ui-min-length.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-only-numbers.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-only-special-characters.html"></html-import>
<dom-module id="make-request">
    <template>
        <style>
             :host {
                --form-control-height: 3em;
                --form-control-border: 1px solid #cdcdcd;
                --form-control-border-focus: 1px solid #03426b !important;
                --var-dropdown-focus: 1px solid #03426b !important;
                --dropdown-height: 3em;
                --dropdown-background-color: white;
                --dropdown-border: 1px solid #cdcdcd;
                --dropdown-border-has-error: 1px solid #ed5565 !important;
                --dropdown-color: rgb(103, 106, 108);
                --dropdown-width: 100%;
            }
            
            .submit {
                margin-top: 10px;
            }
        </style>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form">
            <ui-options name="requestType"
                id="requestType"
                button-text="Request Type"
                items="{{ requestTypes }}"
                on-change="setDefaultNotes">
                <ui-validators>
                    <ui-require-field>Please select a Request Type.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-text-area name="notes"
                label="Notes"
                value="{{ notes }}">
                <ui-validators>
                    <ui-require-field>Notes are required.</ui-require-field>
                    <ui-is-not-only-numbers>Notes cannot be only numbers.</ui-is-not-only-numbers>
                    <ui-is-not-only-special-characters>Notes cannot be only symbols.</ui-is-not-only-special-characters>
                    <ui-min-length min="[[minimumLength]]">Minimum length of notes should be [[minimumLength]] characters.</ui-min-length>
                </ui-validators>
            </ui-text-area>
            <div class="submit">
                <ui-button id="submit"
                    disabled-text="Processing"
                    color="primary"
                    on-click="changeStatus">
                    Submit
                </ui-button>
                or <a on-click="closeActivity">Cancel</a>
            </div>
        </ui-form>
        <url-parser id="urlParser"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: 'make-request',

            behaviors: [eventHub, alloy.activity, alloy.ensureDependenciesBehavior],

            properties: {
                baseUrl: {
                    value: null,
                    type: String
                },
                minimumLength: {
                    value: 10,
                    type: Number
                },
                requestTypes: {
                    type: Array,
                    value: function () { return [] }
                },
                notes: {
                    type: String,
                    value: ""
                }
            },

            attached: function () {
                var self = this;
                self.baseUrl=self.configuration.services.requiredCondition
                self.loadEntity().then(self.loadRequestTypes.bind(this));
            },

            loadEntity: function () {
                var self = this;
                return self.ensure("urlParser").then(function (parser) {
                    self.set("entityType", self.entityType);
                    self.set("entityId", parser.getParams().id);
                });
            },

            loadRequestTypes: function () {
                this.ensure("requestType")
                    .then(function (request) {
                        var url = [this.entityType, "request-types"].join("/");
                        return this.$.http.get(url, this.baseUrl);
                    }.bind(this))
                    .then(function (types) {
                        types = types.map(function (type) {
                            type.value = type.requestId;
                            type.label = type.title;
                            return type;
                        });

                        this.set("requestTypes", types);
                    }.bind(this));
            },

            changeStatus: function () {
                var self = this;
                self.$.submit.disable();
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            return self.makeRequest()
                                .catch(function (error) {
                                    error = _.get(error, "responseJSON.message");
                                    self.$.errorSummary.setErrors(error);
                                })
                                .then(function () {
                                    self.notifySuccess("Request made.");
                                    self.publish("request.created");
                                    self.publish("activity:refresh");
                                    self.closeActivity();
                                })

                        } else {
                            return self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    })
                    .then(function () {
                        self.$.submit.enable();
                    });
            },

            makeRequest: function () {
                var self = this;
                return this.ensure("urlParser", "form", "http").then(function (ctx) {
                    var actionCenter = self.baseUrl;
                    var entityId = ctx.urlParser.getParams().id;
                    var url = [self.entityType, entityId, ctx.form.getData().requestType].join("/");
                    var payload = {
                        priority: "normal",
                        entityId: entityId,
                        notes: ctx.form.getData().notes,
                        data: {
                            //notes: ctx.form.getData().notes
                        }
                    };

                    return ctx.http.post(url, payload, actionCenter);
                });
            },

            onCancel: function (e) {
                e.preventDefault();
                e.stopPropagation();
                this.closeActivity();
            },

            setDefaultNotes: function () {
                this.notes = _.chain(this.requestTypes)
                    .filter({ requestId: this.$.form.getData().requestType })
                    .get("0.description")
                    .value() || "";
            }
        });
    </script>
</dom-module>