<dom-module id="user-details">
    <template>
        <div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins loan-summary">
					<div class="ibox-title">
						<h1>
                            <strong>{{user.name}}</strong>
                            <span class="labels">
                                <span class="pull-right label label-primary">{{ user.status }}</span>
                            </span>
                        </h1>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-lg-6">
                                <dl class="dl-horizontal">
                                    <dt>Email</dt>
                                    <dd class="email" name="{{user.email}}">{{user.email}}</dd>
                                    <dt>Username</dt>
                                    <dd>{{user.username}}</dd>
                                    <dt>Created On</dt>
                                    <dd>{{user.createdOn}}</dd>
                                    <dt>Last Login</dt>
                                    <dd>{{user.lastLogin}}</dd>
                                </dl>
							</div>
							<div class="col-lg-6">
                                <dt>Last Activity</dt>
                                <dd>{{user.lastActivity}}</dd>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </template>
    <script>
        Polymer({
            is: "user-details",
            properties: {
                user: {
                    type: Object,
                    notify: true
                }
            }
        });
    </script>
</dom-module>