<html-import html-href="user/details.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/selectable-table.html"></html-import>
<html-import html-href="ui-elements/views/entity-view.html"></html-import>
<html-import html-href="activities/user-management/components/um-input.html"></html-import>
<html-import html-href="activities/user-management/components/um-form-error.html"></html-import>
<html-import html-href="activities/user-management/components/um-submit.html"></html-import>
<html-import html-href="activities/user-management/components/um-cancel.html"></html-import>
<html-import html-href="activities/user-management/components/um-select.html"></html-import>
<html-import html-href="activities/user-management/components/um-textarea.html"></html-import>
<dom-module id="user-view">
    <style>
        .col-md-4 {
            width: 33.333%;
        }
    </style>
    <template>
        <entity-view config="{{config}}">
            <user-details user="{{user}}"></user-details>
        </entity-view>
        <alloy-config id="config" config-ready="{{configReady}}" alloy-configuration="{{ configuration }}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "user-view",
            behaviors: [
                eventHub,
                window.alloy.viewBehavior
            ],
            properties: {
                viewType: {
                    type: String,
                    value: "user"
                },
                dataEndpoint: {
                    type: String
                },
                dataService: {
                    type: String
                }
            },
            fetchData: function(url, service) {
                        var self = this;

                        return Promise.resolve({
                            name: "John Smith",
                            username: "john.smith",
                            email: "john.smith@lendfoundry.com",
                            createdOn: "08/10/2016",
                            lastLogin: "08/10/2016 6:45pm PST",
                            lastActivity: "User john.smith logged on 08/10/2016 at 6:45pm PST",
                            status: "Active",
                            id: 123
                        });

                        self.$.http.get(url, service);
                    },
        });
    </script>
</dom-module>