<dom-module id="identity-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
                      alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "identity-service",

                behaviors: [eventHub],

                attached: function () {
                    if(this.configuration.services.security == undefined){
                       throw new Error("security service not found");
                    }
                    this.publish(this.id + ".attached");
                    this.baseUrl=this.configuration.services.security;
                },

                baseUrl: null,

                login: function (username, password, portal) {
                    var self = this;
                    var securityBase = self.baseUrl;
                    var data = {
                        username: username,
                        password: password,
                        portal: portal
                    };

                    return self.$.http.post("/login/", data, "")
                        .done(function (loginData) {
                            self.$.session.set("token", loginData.token);
                            self.$.session.set("userId", loginData.userId);

                            //Set Ip Address
                            self.addIpAddressInSession();
                        });
                },
                byPassLoginForLendingPage: function (source,token) {
                    var self = this;      
                    var url = ["login-with-signintoken", source,token].join("/");             
                    return this.$.http.post(url,{},"").then(function (response) {
                        self.$.session.set("token", response.token);
                        self.$.session.set("userId", response.userId);

                        //Set Ip Address
                        self.addIpAddressInSession();

                        return response;
                    });
                },
                byPassLogin: function (token) {
                    var self = this;

                    return this.$.http.post("/redirectionlogin/", token, "").then(function (response) {
                        self.$.session.set("token", response.token);
                        self.$.session.set("userId", response.userId);

                        //Set Ip Address
                        self.addIpAddressInSession();

                        return response.redirecturl;
                    });
                },

                logout: function () {
                    var self = this;
                    var token = self.$.session.get("token");
                    var securityBase = this.configuration.services.security;

                    return self.$.http.get("/logout", securityBase)
                        .done(function () {
                            self.$.session.remove("token");
                            self.$.session.remove("ip-address");
                            self.$.session.remove(token);
                            window.location = self.configuration.public.url;
                        })
                },


                /**
                 * Create a new user account
                 * @param {Object} payload Object describing user
                 * @param {string} payload.username
                 * @param {string} payload.password
                 * @param {string} payload.email
                 * @param {string[]} payload.roles
                 */
                createUser: function (payload) {
                    return this.$.http.put("/create-user/", payload, "");
                },

                validateUsername: function (username) {
                    var self = this;
                    var url = "check/";
                    var payload = { username: username };
                    var baseUrl = this.baseUrl;

                    return new Promise(function (resolve, reject) {
                        self.$.http.post(
                            url,
                            payload,
                            baseUrl,
                            function success(response) {
                                resolve(response.available);
                            },
                            function failure(error) {
                                reject(error)
                            });
                    });
                },

                requestToken: function (username, portal) {
                    var self = this;
                    var data = {
                        username: username, portal: portal
                    };
                    return self.$.http.post("/request-token/", data, "");
                },

                resetPassword: function (username, password, token) {
                    var self = this;
                    var data = {
                        username: username,
                        password: password
                    };

                    return self.$.http.post("/reset-password/" + token, data, "");
                },

                /**
                 * Fetch all users
                 * @param id
                 * @returns UserResponse[]
                 */
                getAllUsers: function () {
                    return promise.resolve([new UserResponse("HaroldSpeed", "123", "h@s.com", ["Admin"])])
                },

                /**
                 * Fetch a user by id
                 * @param id
                 * @returns {UserResponse}
                 */
                getUserById: function (id) {
                    return promise.resolve(new UserResponse("HaroldSpeed", "123", "h@s.com", ["Admin"]))
                },

                /**
                 * Add a new role to the specified user
                 * @param username
                 * @param role
                 */
                addRole: function (username, role) {
                    var url = ["users", username, "roles", role].join("/");
                    return Promise.reject({
                        error: {
                            message: "An error occurred while adding your role."
                        }
                    });
                },

                /**
                 * Remove a role from the specified user
                 * @param username
                 * @param role
                 */
                removeRole: function (username, role) {
                    var url = [users, username, roles, role].join("/");
                    return delayResolve(null, 1000);
                },

                /**
                 * Change the name of the current user
                 * @param {string} name
                 * @returns {Promise<T>}
                 */
                changeName: function (name) {
                    var self = this;
                    return new Promise(function (resolve, reject) {
                        self.$.http.put(
                            "change-name",
                            { name: name },
                            this.configuration.services.security
                        ).success(resolve).fail(reject);
                    });
                },

                /**
                 * Change the password of the specified user
                 * @param currentPassword
                 * @param newPassword
                 * @param confirmPassword
                 */
                changePassword: function (currentPassword, newPassword, confirmPassword) {
                    var payload = {
                        currentPassword: currentPassword,
                        password: newPassword,
                        confirmPassword: confirmPassword
                    };

                    return Promise.resolve(this.$.http.put("change-password", payload, this.baseUrl));
                },

                /**
                 * Change the email of the specified user
                 * @param username
                 * @param newEmail
                 */
                changeEmail: function (username, newEmail) {
                    return delayResolve(null, 1000);
                },

                /**
                 * Change the status of the specified user
                 * @param username
                 * @param newStatus
                 */
                changeStatus: function (username, newStatus) {
                    return delayResolve(null, 1000)
                },

                /**
                 * Fetch status of the specified user
                 * @param username
                 */
                getUserStatus: function (username) {
                    return delayResolve(new UserStatusResponse("Active"), 1000);
                },

                /**
                 * Retrieve all parent roles
                 * @returns {Promise<any>}
                 */
                getCurrentUserParentRoles: function (currentRole) {
                    return this.$.http.get("roles/user/parents", this.baseUrl);
                },

                /**
                 * Retrieve all valid roles
                 * @returns {Promise<any>}
                 */
                getAllRoles: function () {
                    return this.$.http.get("roles/all", this.baseUrl);
                },

                getParentRoles: function (role) {
                    var url = ["roles", role, "parents"].join("/");
                    return this.$.http.get(url, this.baseUrl);
                },

                /**
                 * Fetch roles associated with a specified user name
                 * @param username
                 * @returns {|Promise<UserRolesResponse>}
                 */
                getUserRoles: function (username) {
                    var url = ["roles", "user", username].join("/");
                    return this.$.http.get(url, this.baseUrl);
                },

                getUsersByRole: function (role) {
                    var url = ["roles", role, "members"].join("/");
                    return this.$.http.get(url, this.baseUrl);
                },

                getCurrentUserRoles: function () {
                    return wrapWithPromise(this.$.http.get("roles/user", this.baseUrl));
                },

                getCurrentUser: function () {
                    return wrapWithPromise(this.$.http.get("/", this.baseUrl));
                },

                getCurrentUserSubordinateRoles: function () {
                    return wrapWithPromise(this.$.http.get("roles/user/children", this.baseUrl));
                },

                lockUserFromSuccess: function (token) {
                    var url = ["lock-user",token].join("/");
                    return this.$.http.put("/" + url, {}, "");
                },

                /**
                 * Add ip-address in session
                 */
                addIpAddressInSession: function(){
                    var self = this;

                    return $.ajax({ type: 'GET', url: '//api.ipstack.com/check?access_key=f678aadb913a17e26137f1dba9be9dfa'})
                    .then(function (response) {
                        self.$.session.set("ip-address", response.ip);
                    });
                }
            });

            function wrapWithPromise($request) {
                return new Promise(function (resolve, reject) {
                    $request.then(resolve).fail(reject);
                });
            }

            function delayResolve(value, delay) {
                return new Promise(function (r) {
                    setTimeout(r(value), delay);
                })
            }

            /**
             * UserResponse
             * @param {string} username
             * @param {string} id
             * @param {string} email
             * @param {Array<string>} roles
             * @param {ResponseError} error
             * @constructor
             */
            function UserResponse(username, id, email, roles, error) {
                this.username = username;
                this.id = id;
                this.email = email;
                this.roles = roles;
                if (error) {
                    this.error = error;
                }
            }

            /**
             * UserRolesResponse
             * @param roles
             * @param error
             * @constructor
             */
            function UserRolesResponse(roles, error) {
                this.roles = roles;
                if (error) {
                    this.error = error;
                }
            }

            /**
             * ResponseError
             * @param type
             * @param message
             * @constructor
             */
            function ResponseError(type, message) {
                this.type = type;
                this.message = message;
            }

            /**
             * UserStatusResponse
             * @param status
             * @param error
             * @constructor
             */
            function UserStatusResponse(status, error) {
                this.status = status;
                if (error) {
                    this.error = error;
                }
            }

        })();
    </script>
</dom-module>