
<dom-module id="assets-bank-alerts">
    <template>
        <div hidden$="[[ showAlert ]]" class="bank-alert-summary clearfix" enter-manual="{{enterManual}}"
             verify-electronically="{{verifyElectronically}}">
            <table>
                <tr hidden$="[[isRefinance]]">
                    <td colspan="2">
                        <h3>You said you'd like to put&nbsp;
                            <alloy-format class="whitespnw" currency="[[downPayment]]"></alloy-format>
                            &nbsp;for a down payment.
                        </h3>
                    </td>
                </tr>
                <tr hidden$="[[showVerifiedButton(enterManual,verifyElectronically)]]">
                    <td>Verified Assets</td>
                    <td>
                        <alloy-format class="whitespnw" currency="[[totalVerifiedAssets]]"></alloy-format>
                    </td>
                </tr>
                <tr>
                    <td>Disclosed Assets</td>
                    <td>
                        <alloy-format currency="[[totalDisclosedAssets]]" class="whitespnw"></alloy-format>
                    </td>
                </tr>
                <tr hidden$="[[isRefinanceDownPayment]]">
                    <td class="youneed">You Need</td>
                    <td class="youneed">
                        <alloy-format class="whitespnw" currency="[[neededAmount]]"></alloy-format>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">[[ getMessageAssets(neededAmount, loanPurpose) ]]</td>
                </tr>
            </table>
        </div>
    </template>
    <script>
        Polymer({
            is: "assets-bank-alerts",

            properties: {
                showAlert: false,
                totalVerifiedAssets: {
                    type: String,
                    value: "0"
                },
                totalDisclosedAssets: {
                    type: String,
                    value: "0"
                },
                downPayment: {
                    type: String,
                    value: "0"
                },
                neededAmount: {
                    type: String,
                    value: "",
                    computed: "computeNeededAmount(totalVerifiedAssets, totalDisclosedAssets, downPayment)"
                },
                enterManual: {
                    type: Boolean,
                    value: false
                },
                verifyElectronically: {
                    type: Boolean,
                    value: false
                },
                loanPurpose: String,
                isRefinance: {
                    type: Boolean,
                    value: false,
                    computed: "computeIsRefinance(loanPurpose)"
                },
                isRefinanceDownPayment: {
                    type: Boolean,
                    value: false,
                    computed: "computeIsRefinanceDownPayment(totalVerifiedAssets, totalDisclosedAssets, downPayment, loanPurpose)"
                }
            },
            observers: [
                'checkStatusToShow(totalVerifiedAssets, downPayment, loanPurpose)'
            ],
            showVerifiedButton: function (enterManual, verifyElectronically) {
                if (enterManual && !verifyElectronically) {
                    return true;
                }
                return false;
            },
            computeIsRefinance: function (loanPurpose) {
                return loanPurpose.toLowerCase() === "refinance" ? true : false;
            },
            computeNeededAmount: function (totalVerifiedAssets, totalDisclosedAssets, downPayment) {

                var difference = downPayment - (parseFloat(totalVerifiedAssets) + parseFloat(totalDisclosedAssets));
                return difference < 0 ? 0 : difference;
            },

            getMessageAssets: function (neededAmount, loanPurpose) {
                var msg = "";
                if (loanPurpose.toLowerCase() === "refinance") {
                    if (neededAmount > 0)
                        msg = "You can continue to add more assets to make up the difference.";
                    else
                        msg = "You can continue to add more assets.";
                }
                else {
                    if (neededAmount > 0)
                        msg = "You can continue to add more assets to make up the difference.";
                    else
                        msg = "You can continue to add more assets or continue with your loan application.";
                }

                return msg;
            },
            checkStatusToShow: function (totalVerifiedAssets, downPayment, loanPurpose) {
                if (totalVerifiedAssets >= downPayment && loanPurpose.toLowerCase() != "refinance")
                    this.set('showAlert', true);
                else
                    this.set('showAlert', false);
            },
            computeIsRefinanceDownPayment: function (totalVerifiedAssets, totalDisclosedAssets, downPayment, loanPurpose) {
                if (loanPurpose.toLowerCase() === "refinance")
                    return true;
                else {
                    var totalAssetsPrice = (parseFloat(totalVerifiedAssets) + parseFloat(totalDisclosedAssets));
                    return totalAssetsPrice >= downPayment
                }
            }
        })
    </script>
</dom-module>
