<dom-module id="assets-dcc-service">
  <template>
    <session-manager id="sessionManager"></session-manager>
    <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
  </template>
  <script src="dcc-service.js"></script>
</dom-module>