<dom-module id="assets-scene-title">
<template>
<style>
:host {
 display: block;
 overflow: hidden;
}
</style>
<div class="assets-scene-title">
<h3>[[ titleText ]]</h3>
<p>[[ subtitleText ]]</p>
</div>
</template>
<script>
        Polymer({
            is: "assets-scene-title",

            properties: {
                titleText: String,
                subtitleText: String
            }
        })
    </script>
</dom-module>
