<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/groups/group-unit.html"></html-import>
<html-import html-href="ui-elements/groups/activity.html"></html-import>
<html-import html-href="ui-elements/groups/dynamo-activity.html"></html-import>
<dom-module id="activity-group">
    <template>
        <dynamo-activity hidden$="{{ !dynamicShowing }}" id="dynamic"></dynamo-activity>
        
        <template is="dom-repeat" items="{{ activities }}" as="activity">
            <activity-unit
                id$="{{ createId(activity.title) }}"
                config="{{ activity }}">
            </activity-unit>
        </template>

        <event-hub id="hub">
            <event-subscription event="activity:dynamo" handler="dynamicLoad"></event-subscription>
            <event-subscription event="activities:reset" handler="resetActivities"></event-subscription>
            <event-subscription event="activity:clicked" handler="onActivityClicked"></event-subscription>
            <event-subscription event="activity:close" handler="closeActivity"></event-subscription>
            <event-subscription event="activity:dynamic-close" handler="showAll"></event-subscription>
        </event-hub>
    </template>
    <script>
        Polymer({
            is: "activity-group",

            properties: {
                /**
                 * Object that keeps track of whether or
                 * not each activity has already been loaded
                 */
                activityHasLoaded: {
                    type: Object,
                    value: {}
                },

                dynamicShowing: {
                    type: Boolean,
                    value: false
                }
            },
            
            behaviors: [eventHub],

            attached: function () {
                this.activities = this.activityList || this.config.activities;
                this.createActivityHasLoadedObject();
                window.addEventListener("getDependencies", this.getDependencies.bind(this));
            },

            closeActivity: function (event) {
                var activity = $(event.activity).closest("activity-unit")[0];
                activity.closeActivity(true);
                this.showAll(200);
            },

            /**
             * Populates activityHasLoaded property
             * @method createActivityHasLoadedObject
             */
            createActivityHasLoadedObject: function () {
                this.activities.forEach(function (activity) {
                    this.activityHasLoaded[activity.title] = false;
                }.bind(this));
            },

            createId: function (id) {
                return id.toLowerCase().replace(/ /g, "-");
            },

            dynamicLoad: function () {
                this.resetActivities();
                this.dynamicShowing = true;
            },

            getDependencies: function (event) {
                var context = event.detail.context;
                var dependencies = event.detail.dependencies;
                this.setBoundProperties(context, dependencies);
            },

            /**
             * Indirectly loads activity
             * @method markActivityAsLoaded
             */
            markActivityAsLoaded: function (activity) {
                // Sets "has-loaded" attribute on respective activity-unit element to true
                // Doing so causes its dom-if template to load the activity
                var elementId = "#" + this.createId(activity);
                var $element = $(elementId);
                $element.attr("has-loaded", true);
              
                // Updates activityHasLoaded object
                this.activityHasLoaded[activity] = true;
            },

            /**
             * Click handler for when an activity has been clicked
             * Checks whether or not the activity has already been loaded
             * Opens activity window
             * @method onActivityClicked
             */
            onActivityClicked: function (event) {
                var activityHasLoaded = this.activityHasLoaded[event.title];

                if (!activityHasLoaded) {
                    this.markActivityAsLoaded(event.title);
                }

                this.openActivity(event);
            },

            openActivity: _.debounce(function (event) {
                var $activityUnit = $(event.target).closest("activity-unit");
                var $siblingUnits = $activityUnit.siblings("activity-unit");

                var toggle = $activityUnit[0].toggleActivity();
                
                if (!toggle) {
                    $siblingUnits.each(function () {
                        this.showActivity();
                    });
                } else {
                    $siblingUnits.each(function () {
                        this.closeActivity();
                    });
                    
                    this.$.dynamic.closeActivity();
                    this.dynamicShowing = false;
                }
            }, 500, {
                leading: true,
                trailing: false
            }),

            resetActivities: function() {
                this.dynamicShowing = false;
                $("activity-unit", this).each(function () {
                    this.closeActivity();
                });
            },
            
            setBoundProperties: function (context, dependencies) {
                dependencies.forEach(function (dependency) {
                    context.setDependency(dependency, this[dependency]);
                }.bind(this));
            },

            showAll: function (delay) {
                delay = delay || 0;

                setTimeout(function () {
                    this.dynamicShowing = false;
                    $("activity-unit", this).each(function () {
                        this.showActivity();
                    });
                }.bind(this), delay); 
            }
        });
    </script>
</dom-module>