<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/groups/activity.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<dom-module id="dynamo-activity">
    <style>
    </style>
    <template>

        <activity-unit id="activity" config="{{activity}}"></activity-unit>

        <url-parser id="url"></url-parser>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
        <!--<event-subscription event="activity:clicked" handler="publishDynamicClose"></event-subscription>-->
        <event-subscription event="activity:dynamo" handler="loadActivity"></event-subscription>
        <event-subscription event="dynamic:close" handler="closeActivity"></event-subscription>
    </template>
    <script>
        Polymer({
            is: "dynamo-activity",

            behaviors: [
                eventHub
            ],

            publishDynamicClose: function (e) {
                var self = this;

                if (e.instance === self.$.activity) {
                    self.publish("activities:dynamic-close");
                }
            },

            loadActivity: function(event) {
                var activity = {
                    src: event.path,
                    title: event.title,
                    properties: event.properties,
                    configuration: event.configuration
                };

                this.set("activity", activity);

                this.async(function () {
                    this.$.activity.openActivity();
                });
            },
            closeActivity: function() {
                this.$.activity.closeActivity();
            }
        });
    </script>
</dom-module>