<dom-module id="group-unit">
    <template>
        <div id="host"></div>

        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "group-unit",

            behaviors: [eventHub],

            properties: {
                config: {
                    type: String
                },

                /**
                 * Have we loaded and attached the child element yet?
                 */
                childIsLoaded: {
                    value: false,
                    type: Boolean
                }
            },

            observers: ["loadUnit(config, configuration, tenantConfig)"],

            subscribeToAttachedCallback: function (element) {
                var self = this;
                this.subscribe("attached", function (payload) {
                    if (payload.element === element) {
                        self.set("childIsLoaded", true);
                    }
                });
            },

            /**
             * Remove current child and attach a new instance
             */
            reload: function () {
                this.set("childIsLoaded", false);
                this.loadUnit(this.config, this.configuration, this.tenantConfig);
            },

            /**
             * Load, attach, and instantiate the correct child element taking current tenant into account
             */
            loadUnit: function (config, configuration, tenantConfig) {
                var self = this;

                if (!config || !configuration || !tenantConfig) {
                    return
                }

                var href = config.src;
                var dependencies = config.dependencies;
                var host = Polymer.dom(this.$.host);
                var base = this.configuration.base;
                var tenant = this.tenantConfig.name;
                var href = base + tenant + "/" + href;

                var childNodes = host.childNodes;

                // Clear out host element
                for (var i = 0; i < childNodes.length; i++) {
                    host.removeChild(childNodes[i]);
                }

                // Import HTML
                this.importHref(href, function (e) {
                    var id = Polymer
                        .dom(e.target.import.body)
                        .querySelector("dom-module")
                        .getAttribute("id");

                    // create the element with the provided parameters
                    var element = this.element = document.createElement(id);

                    // Subscribe to the event published on attached for this element only
                    self.subscribeToAttachedCallback(element);

                    // Request dependencies
                    this.async(function () {
                        this.fire("getDependencies", {
                            context: this,
                            dependencies: dependencies || []
                        });
                    }.bind(this), 100);

                    // Provide child with config
                    element.config = config;

                    // Decorate child's attached callback with attached event publication
                    element.attached = (function (method) {
                        return function () {
                            this.eventHub = document.createElement("event-hub");
                            this.eventHub.publish("attached", { element: this });
                            if (typeof method === "function") {
                                method.call(this);
                            }
                        }
                    })(element.attached);

                    // Append created element
                    host.appendChild(element);

                    // Necessary to realize changes
                    host.flush();
                }.bind(this));

                return;
            },

            /**
             * Decorates the target object's attached callback with event publication
             * @param {Object} target
             * @returns {Function}
             */
            addPublishAttached: function (method) {
            },

            setDependency: function (dependency, value) {
                this.element[dependency] = value;
            }
        });
    </script>
</dom-module>