<dom-module id="tab-pane">
    <template>
        <div class="panel-body" id="panelBody">
            <content></content>
        </div>
    </template>

    <script>
        Polymer({
            is: "tab-pane",

            properties: {
                config: Object,

                isLoaded: {
                    value: false,
                    type: Boolean
                }
            }
        })
    </script>
</dom-module>