<dom-module id="tab-group">
    <template>
        <div class="tabs-container">
            <ul class$="[[ addLenderPortalClass(portal) ]] nav nav-tabs clearfix">
                <template is="dom-repeat" items="{{tabs}}" as="tab">
                    <li class$="{{setFirstActive(tab)}}" style$="width:[[ setTabWidth(tabs) ]]" on-click="updateUrl">
                        <a data-toggle="tab" data-target$="{{tabTarget(index)}}">
                            <span class$="{{ getIconClass(tab.icon) }}"></span>
                            <span class="tab-title">{{ tab.text }}</span>
                            <span class="tab-text">{{ tab.dynamicCount }}</span>
                        </a>
                    </li>
                </template>
            </ul>
        </div>
        <div class="tab-content clearfix">
            <template is="dom-if" if="{{!disableTabs}}">
                <template is="dom-repeat" items="{{tabs}}" as="tabConfig">
                    <tab-pane id="{{tabId(index)}}" class$="{{setFirstActivePanel(tabConfig)}} clearfix">
                        <micro-app app-src="{{ tabConfig.src }}" app-config="{{ tabConfig }}">
                        </micro-app>
                    </tab-pane>
                </template>
            </template>
        </div>
        <event-hub id="hub"></event-hub>
        <url-parser id="urlParser"></url-parser>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "tab-group",

            behaviors: [eventHub, window.alloy.activity],

            properties: {
                /**
                 * Array of tabs to iterate over and load
                 */
                tabs: Array,
                disableTabs: {
                    type: Boolean,
                    value: false
                },
                portal: {
                    type: String,

                    value: ""
                }
            },

            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init);
                }
            },

            init: function () {
                var self = this;
                this.tabs = this.getTabs();
                this.hub = this.$.hub;

                window.addEventListener("getDependencies", function (event) {
                    var tab = event.detail.context;
                    var dependencies = event.detail.dependencies;
                    this.setBoundProperties(tab, dependencies);
                }.bind(this));

                /*this.hub.subscribe("microApp.loaded", function(payload) {
                 if (this.isActiveTabMicroApp(payload.origin)) {
                 this.set("loaded", true);
                 }
                 }.bind(this));*/

                self.subscribe("tab:overview", function (payload) {
                    self.setOverview(payload);
                }.bind(this));

                //For title
                self.subscribe("tab:title", function (payload) {
                    self.setTitle(payload);
                }.bind(this));
            },

            isLenderPortal: function (portal) {
                return portal.toLowerCase() === "lender";
            },

            addLenderPortalClass: function (portal) {
                if (portal && portal.toLowerCase() === "lender") return "lender-application-tabs";
                return "";
            },

            /**
             * Returns the array of tabs.
             * If this was loaded as a micro app, the tab definitions can be found within this.config, otherwise at this.tabList
             */
            getTabs: function () {
                return this.tabList || this.config.tabs;
            },

            setBoundProperties: function (tab, dependencies) {
                for (var i = 0; i < dependencies.length; i++) {
                    var dependency = dependencies[i];
                    tab.setDependency(dependency, this[dependency]);
                }
            },

            reloadActiveTab: function (e) {
                e.stopPropagation();
                this.set("loaded", false);
                this.getActiveTabMicroApp().reloadChild();
            },

            getActiveTabMicroApp: function () {
                var microApps = $("tab-pane.active micro-app");
                return microApps.length && microApps[0];
            },

            isActiveTabMicroApp: function (microApp) {
                return microApp === this.getActiveTabMicroApp();
            },

            //tab panes
            setFirstActivePanel: function (tabConfig) {
                var defaultClasses = ["tab-pane", "fade"];
                var tabToBeActive = this.tabToBeActive(tabConfig.id);
                if (!this.setActivePanel && tabToBeActive) {
                    this.setActivePanel = true;
                    defaultClasses.push("in active");
                }
                return defaultClasses.join(" ");
            },

            //tabs
            setFirstActive: function (tab) {
                var defaultClasses = ["tab-title-full-width"];
                var tabToBeActive = this.tabToBeActive(tab.id);
                if (!this.setFirstTabActive && tabToBeActive) {
                    this.setFirstTabActive = true;
                    defaultClasses.push("active");
                }
                if (tab.icon) {
                    var activeTabIcon = tab.icon.split("-");
                    defaultClasses.push(activeTabIcon[1]);
                }
                return defaultClasses.join(" ");
            },
            tabToBeActive: function (tabId) {
                if (!tabId)
                    return true;
                var selectedTab = this.$.urlParser.getParams().tab;
                if (!selectedTab)
                    return true;
                if (tabId.toLowerCase() === selectedTab.toLowerCase())
                    return true;
                else
                    return false;
            },
            tabId: function (index) {
                return "tab-" + index;
            },
            tabTarget: function (index) {
                return "#" + this.tabId(index);
            },

            setOverview: function (payload) {
                var formattedTabs = _.cloneDeep(this.tabs);

                var filteredKey = _.findKey(formattedTabs, {
                    'id': payload.id
                });
                if (formattedTabs[filteredKey]) {
                    this.notifyPath('tabs.' + filteredKey + '.dynamicCount', payload.dynamicText);
                }
            },

            setTabWidth: function (tabs) {
                if (this.portal.toLowerCase() !== "lender") return "32%";
                return (100 / tabs.length - 2).toFixed(2) + "%";
            },

            setTitle: function (payload) {
                var formattedTabs = _.cloneDeep(this.tabs);
                var filteredKey = _.findKey(formattedTabs, {
                    'id': payload.id
                });
                if (formattedTabs[filteredKey]) {
                    this.notifyPath('tabs.' + filteredKey + '.text', payload.dynamicText);
                }
            },

            getIconClass: function(iconClass) {
                var classList = ["df"];
                classList.push(iconClass);
                return classList.join(" ");
            },
            updateUrl: function (e) {
                if (e.model.tab.id) {
                    var oldUrl = window.location.hash;
                    var slittedUrl = oldUrl.split('/tab:');
                    window.location.hash = slittedUrl[0] + '/tab:' + e.model.tab.id;
                }
            }
        });
    </script>
</dom-module>