<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<dom-module id="welcome-personal-dashboard">
    <template>
        <div class$="{{ backgroundClass }}">
            <div class="vertical-center vcenter-vspace clearfix">

                <div class="welcome-docit animated fadeInUp celarfix">
                    <h1 class="text-center">Thank you, and welcome to your personal dashboard.</h1>
                    <p class="text-center">With your dashboard you can manage your loan status on-the-go, in real-time,
                        and so much more! </p>
                    <div class="btns text-center">
                        <button class="btn btn-primary" on-click="goToDashboard" type="submit">LET'S JUST GO</button>
                    </div>
                </div>

            </div>
        </div>
        <url-parser id="urlParser"></url-parser>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <logout-service id="logout"></logout-service>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "welcome-personal-dashboard",

            properties: {
                applicationNumber: String
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                'setClass(backgroundImageOn)',
            ],

            attached: function () {
                var self = this;
                self.applicationNumber = this.$.urlParser.getParams().id || "";
                self.fetchApplicant();
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })
            },
            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            },
            fetchApplicant: function () {
                var self = this;
                self.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.fetchApplicantInfo(self.applicationNumber)
                        })
                        .then(function (applicants) {
                            self.applicants = applicants;
                            self.isLoading = false;
                        })
                        .catch(function (error) {
                            if(!self.applicants)
                            {
                                self.logout()
                            }
                            console.warn(error);
                        })
            },
            logout: function () {
                this.$.logout.logout();
            },

            goToTour: function (e) {
                window.location.hash = "#/tour";
            },

            goToDashboard: function (e) {
                var self = this;
                this.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.updateStatus(self.applicationNumber, "WelcomePersonalDashboard")
                                    .then(function (response) {
                                        if (response)
                                            window.location.hash = "#/dashboard/id:" + self.applicationNumber;
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    });
                        });
            }
        });
    </script>
</dom-module>