<dom-module id="lf-radio-button-group">
    <template>
        <style>
            .lf-radio-button-active .lf-radio-button-inner {
                transform: scale(.75,.75);
            }

            .lf-radio-button {
                position: relative;
                height: 1.25em;
                width: 1.25em;
                margin-right: .5em;
                padding: 1px;
                border: 2px solid #ccc;
                border-radius: 100%;
                overflow: hidden;
            }


            .lf-radio-button-inner {
                background: #8ec442;
                position: absolute;
                margin: auto;
                top: 0;
                right: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                border-radius: 100%;
                transform: scale(0,0);
                transition: all .125s ease-in-out;
            }

            .lf-radio-button-label {
                cursor: pointer;
                margin-right: 1em;
            }
        </style>
        <template
            is="dom-repeat"
            items="{{ buttonDefinitions }}"
            as="btn">
            <label class="lf-radio-button-label" on-tap="handleClick">
                <div class$="{{ computeClass(btn.value, groupValue) }}">
                    <div class="lf-radio-button-inner"></div>
                </div> {{ btn.label }}
            </label>
        </template>
    </template>
    <script src="radioButtonGroup.js" charset="utf-8"></script>
</dom-module>
