<script>
    (function (window) {
        /**
         * Behaviors
         * @type {{}}
         */
        window.alloy = window.alloy || {};

    })(window);

</script>
<script src="./lifeCycleEvents.js"></script>
<script src="./interactor.js"></script>
<script src="./actions.js"></script>
<script src="./visibilityController.js"></script>
<script src="./listController.js"></script>
<script src="./selectionController.js"></script>
<html-import html-href="behaviors/workflow-activity-behavior.html"></html-import>
<html-import html-href="behaviors/publish-lifecycle-events-behavior.html"></html-import>
<html-import html-href="behaviors/ensure-dependencies.html"></html-import>
<html-import html-href="behaviors/user-management-activity-form-behavior.html"></html-import>
<html-import html-href="behaviors/view-behavior.html"></html-import>
<html-import html-href="behaviors/merchant-profile.html"></html-import>
<html-import html-href="behaviors/activity.html"></html-import>
<html-import html-href="behaviors/ui-input-behavior.html"></html-import>
<html-import html-href="services/values-service.html"></html-import>
<html-import html-href="behaviors/custom-validator-behavior.html"></html-import>
<html-import html-href="behaviors/read-only-mode.html"></html-import>
<link rel="import"
    href="./template-utils.html">
