<html-import html-href="filter/filter.html"></html-import>
<html-import html-href="loan-view/index.html"></html-import>
<dom-module id="filter-view">
    <style>
    </style>
    <template>
        <template is="dom-if" if="{{!viewingLoan}}">
            <div class="wrapper wrapper-content">
                <div class="ibox-title">
                    <h1>{{filterTitle}}</h1>
                </div>
                <div class="ibox-content table-responsive">
                    <template is="dom-if" if="{{filterLoaded}}">
                        <filter-table id="filter" filter-items="{{items}}" has-alert="{{hasAlert}}" ordered-loans="{{orderedLoans}}"></filter-table>
                    </template>
                </div>
            </div>
        </template>
        <template is="dom-if" if="{{viewingLoan}}">
            <loan-view id="loan" paging-state="{{pagingState}}"></loan-view>
        </template>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "filter-view",
            attached: function() {
                var self = this;
                if(this.configuration.services.loanFilters == undefined){
                    throw new Error("loanFilters service not found");
                }
                var params = this.$.url.getParams();
                
                self.pendingRequests = [];
                self.pagingState = null;
                self.hasAlert = false;
                self.filterLoaded = false;
                self.orderedLoans = [];
                self.viewingLoan = !!params.loan;
                self.currentLoanIndex;
                
                self.filterTitle = params.filter;
                
                self.addEventListener("nextLoan", self.nextLoan.bind(self));
                self.addEventListener("previousLoan", self.previousLoan.bind(self));
                
                self.$.http.get(window.config.filters[params.filter], this.configuration.services.loanFilters, function(items){

                    self.set("items", items);
                    self.filterLoaded = true;
                    if (self.items.length === 0) {
                        self.hasAlert = true;
                    }
                    
                    var loansAlphaNumerical = items.sort().reverse();
                    if (self.viewingLoan) {
                        for (var i = 0; i < loansAlphaNumerical.length; i++) {
                            var item = loansAlphaNumerical[i];
                            self.push("orderedLoans", item.loanReferenceNumber);
                            if (params.loan === item.loanReferenceNumber) {
                                self.currentLoanIndex = i;
                            }
                        }
                        return;
                    }
                    
                    self.async(function() {
                        self.$$("#filter").addEventListener("viewLoan", self.openLoanView.bind(self));
                    });
                });
            },
            observers: ['setState(currentLoanIndex, orderedLoans.length)'],            
            openLoanView: function(e) {
                var params = this.$.url.getParams();
                this.viewingLoan = true;
                this.currentLoanIndex = e.detail.orderedIndex;
                history.pushState({}, "", "/#/filter:" + params.filter + "/loan:" + e.detail.loanReference + "/loanview");
            },
            nextLoan: function() {
                this.goToLoan("next");
            },
            previousLoan: function() {
                this.goToLoan("previous");
            },
            goToLoan: function(direction) {
               var params = this.$.url.getParams();
               var canGoTo = {
                   next: this.currentLoanIndex < this.orderedLoans.length - 1,
                   previous: this.currentLoanIndex > 0,
               }[direction];
               var numeral = {
                   next: 1,
                   previous: -1 
               }[direction]
               
               if (canGoTo) {
                   if (this.pendingRequests) {
                       for (var i = 0; i < this.pendingRequests.length; i++) {
                           var pendingRequest = this.pendingRequests[i];
                           pendingRequest.abort();
                           this.splice("pendingRequests", i, 1);
                       }
                   }
                   this.currentLoanIndex += numeral;
                   history.pushState({}, "", "/#/components-filter-view/filter:" + params.filter + "/loan:" + this.orderedLoans[this.currentLoanIndex]);
                   var req = this.$$("#loan").getLoan();
                   req.done(function() {
                       this.$$("#loan").resetView();
                   }.bind(this));
                   this.push("pendingRequests", req);
               }
            },
            setState: function(loanIndex, loans) {
                this.pagingState = {
                    loanIndex: loanIndex,
                    loansLength: this.orderedLoans.length
                };
            }
        });
    </script>
</dom-module>