<html-import html-href="services/merchant-service.html">
</html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-alphanumeric.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-checkbox.html"></html-import>
<dom-module id="activity-update-business-name">
    <template>
        <merchant-service id="merchantService"></merchant-service>
        <style>
             :host {
                --form-control-height: 3em;
                --form-control-border: 1px solid #cdcdcd;
                --form-control-border-focus: 1px solid #bababa !important;
                --var-dropdown-focus: 1px solid #03426b !important;
                --dropdown-height: 3em;
                --dropdown-background-color: white;
                --dropdown-border: 1px solid #cdcdcd;
                --dropdown-border-has-error: 1px solid #ed5565 !important;
                --dropdown-color: #cacaca;
                --dropdown-width: 100%;
            }
            
            .submit {
                margin-top: 10px;
            }
        </style>
        <div class="row">
            <ui-form id="form" handle-validation-success="save" error-messages="{{ errorMessages }}">
                <ui-error-summary id="errorSummary" errors="[[ errorMessages ]]"></ui-error-summary>
                <ui-error-summary id="errorSummary"></ui-error-summary>
                <div class="col-lg-12">
                    <ui-input name="businessName" label="Business Name" value="{{ businessName }}">
                        <ui-validators>
                            <ui-require-field>A business name is required.</ui-require-field>
                            <ui-is-alphanumeric>Please enter a valid business name.</ui-is-alphanumeric>
                        </ui-validators>
                    </ui-input>
                </div>
                <div class="col-lg-12">
                    <ui-checkbox id="validatedManually" label=" Validated Manually" name="validatedManually">
                        <ui-validators>
                            <ui-require-field>
                                You must select validate manually in order to proceed.
                            </ui-require-field>
                        </ui-validators>
                    </ui-checkbox>
                </div>
                <div class="col-lg-12">
                    <ui-button id="submitButton" click-handler="validate" disabled="[[ disabled ]]" disabled-text="Submitting...">
                        Submit
                    </ui-button>
                    or
                    <a on-click="closeActivity">Cancel</a>
                </div>
            </ui-form>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "activity-update-business-name",

            behaviors: [
                ensureDependenciesBehavior,
                eventHub,
                alloy.activity
            ],

            properties: {
                merchantId: String,
                businessName: String
            },

            attached: function () {
                this.populateForm();
            },
            populateForm: function () {
                var merchant = this.merchant;
                if (merchant) {
                    var merchantId = merchant.merchantId || "";
                    var businessName = merchant.businessName || "";
                    this.set("businessName", businessName);
                    this.set("merchantId", merchantId);
                }


            },
            validate: function () {
                if (!this.$.form.isValid())
                    this.setInvalidFormErrors();
            },
            setInvalidFormErrors: function () {
                this.$.errorSummary.setErrors(this.$.form.getErrors());
            },
            setValidFormError: function (error) {
                error = error.responseJSON && error.responseJSON.message || "Unable to update name at this time.";
                this.$.errorSummary.setErrors(error);
            },


            save: function () {
                var self = this;
                self.$.submitButton.disable();

                self.doUpdateBusinesNameEntity()
                    .then(function () {
                        self.notifySuccess("Business name updated successfully.");
                        self.publish("merchant.updated", {
                            merchant: self.merchant
                        });
                        self.publish("activity:refresh");
                        self.closeActivity();
                    })
                    .catch(function (error) {
                        self.setValidFormError(error);

                    }).then(function () {
                        self.$.submitButton.enable();
                    });

            },

            doUpdateBusinesNameEntity: function () {
                var self = this;

                var businessInfo = {
                    name: self.$.form.getData().businessName
                };

                return self.ensure("merchantService").then(function (merchantService) {
                    return merchantService.updateBusinessName(
                        self.merchantId,
                        businessInfo
                    );
                });
            }
        });
    </script>
</dom-module>