<html-import html-href="services/data-attributes-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>

<html-import html-href="ui-elements/forms/ui-checkbox.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="appflow/execute-rule.html"></html-import>
<dom-module id="update-priority-attribute">
    <template>
        <ui-error-summary errors="[[ error ]]"></ui-error-summary>
        <ui-form id="form" data="{{ formData }}" error-messages="{{ error }}" handle-validation-success="submit">
            <ui-checkbox id="priorityMerchant" label="Priority Merchant" name="priorityMerchant">
            </ui-checkbox>
            <ui-text-area name="notes" label="Notes">
                <ui-validators>
                    <ui-require-field>Notes are required.</ui-require-field>
                </ui-validators>
            </ui-text-area>
            <ui-button id="submit" disabled-text="Processing" color="primary" click-handler="validateForm">
                Submit
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
        <data-attributes-service id="dataAttributesService"></data-attributes-service>
        <execute-rule id="dataAttributePriorityMerchant" name="dataAttributePriorityMerchant" version="1.0">
        </execute-rule>
    </template>
    <script>
        Polymer({
            is: "update-priority-attribute",

            behaviors: [eventHub, ensureDependenciesBehavior, alloy.activity],

            properties: {
                merchantId:String,
                formData: Object,
                error: String,
                isReady: {
                    value: false,
                    type: Boolean
                }
            },

            attached: function () {
                var self = this;
                 self.populateForm();
                self.entityType = "merchant";
                self.dataAttributeDisplayName = "Priority Merchant";
                self.dataAttribute = "priorityMerchant";
                self.entityId = self.merchantId;

                if (!self.entityId) {
                    self.error = "Unable to find an merchant.";
                    return;
                }

                self.fetchDataAttribute(
                    self.entityType,
                    self.entityId,
                    self.dataAttribute
                ).then(function (attribute) {
                    if (attribute != null) {
                        self.$.form.setData({
                            priorityMerchant: attribute.priorityMerchant,
                            notes: attribute.notes
                        });
                    }
                    self.isReady = true;
                }).catch(function (error) {
                    console.error(error);
                });
            },
 populateForm: function () {
                var merchant = this.merchant;
                if (merchant) {
                    var merchantId = merchant.merchantId || "";
                   
                    this.set("merchantId", merchantId);
                }


            },
           

            validateForm: function (e) {
                e.stopPropagation();
                this.$.form.isValid();
            },

            /**
             * Set the do not contact attribute and close activity on success
             */
            submit: function (e) {
                var self = this;

                self.$.submit.disable();

                return self.executePriorityMerchant( 
                    self.entityType,                  
                    self.entityId,
                    self.formData.priorityMerchant,
                    self.formData.notes
                ).then(function () {
                    self.publish("merchant.updated");                
                    self.publish("activity:refresh");
                    self.notifySuccess([
                        "Updated",
                        self.entityType,
                        "attribute",
                        self.dataAttributeDisplayName
                    ].join(" "));
                    self.closeActivity();
                }).catch(function (error) {
                    self.error = error && error.message ||
                        "Unable to save changes.";
                    console.error(error);
                }).then(function () {
                    self.$.submit.enable();
                })
            },

            /**
             * Retrieve a data attribute
             * @param {string} entityType
             * @param {string} entityId
             * @param {string} attribute
             * @throws {Error}
             */
            fetchDataAttribute: function (entityType, entityId, attribute) {
                return this.ensure("dataAttributesService")
                    .then(function (service) {
                        return service.getAttribute(
                            entityType,
                            entityId,
                            attribute
                        );
                    })
                    .catch(function (error) {
                        if (error.status == 404) {
                            return null;
                        }
                        if (error && error.responseJSON) {
                            var message =
                                error.message
                                || error.responseJSON
                                && error.responseJSON.message;

                            throw {
                                name: "FetchAttributeError",
                                message: message,
                                stack: new Error().stack
                            }
                        }
                    });
            },

            /**
             * Set a data attribute
             * @param {string} entityType
             * @param {string} entityId
             * @param {string} attribute
             * @param {Object} value
             */
            executePriorityMerchant: function (entityType,merchantId, priorityMerchant, notes) {
                return this.$.dataAttributePriorityMerchant.execute(
                    {  
                         "entityType":entityType,                    
                        "merchantId": merchantId,
                        "priorityMerchant": priorityMerchant,
                        "notes": notes
                    });
            }
        });
    </script>
</dom-module>