<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>

<dom-module id="accept-escalation">
    <template>
        <assignment-service id="assignmentService"></assignment-service>
        <url-parser id="routeParams"></url-parser>
        <style>
             :host {
                --dropdown-width: 100%;
            }
        </style>
        <ui-form id="form">
            <ui-error-summary id="errorSummary"></ui-error-summary>
            <ui-input name="role"
                      label="Role"
                      value="{{ escalation.fromRole }}"
                      disabled></ui-input>
            <ui-input name="user"
                      label="User"
                      value="{{ escalation.fromUser }}"
                      disabled></ui-input>
            <ui-text-area name="note"
                          label="Note"
                          value="{{ escalation.requestNotes }}"
                          disabled
                          rows="6"></ui-text-area>
            <ui-button id="acceptButton"
                       disabled-text="Processing"
                       color="primary"
                       on-click="onAcceptEscalation">
                Accept
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
    </template>
    <script>
        Polymer({
            is: "accept-escalation",

            properties: {
                escalationId: {
                    type: String
                },
                role: {
                    type: String
                },
                user: {
                    type: String
                },
                note: {
                    type: String
                },
                entityType: {
                    type: String
                },
                entityId: {
                    type: String
                }
            },

            behaviors: [eventHub,
                alloy.ensureDependenciesBehavior,
                alloy.activity],

            getEscalations: function () {
                return this.ensure("assignmentService")
                    .then(function (assignmentService) {
                        return assignmentService.getEscalations(
                            this.entityType,
                            this.entityId
                        )
                    }.bind(this))
                    .then(function (data) {
                        if (data && data.length > 0) {
                            this.setEscalationData(data);
                        }
                    }.bind(this))
            },

            setEscalationData: function (escalationData) {
                // TODO data to be fetched from the escalation object passed
                var escalationId = this.escalation.id;
                var escalation = escalationData.findIndex(function (value, index) {
                    return (value.id.indexOf(escalationId) === 0);
                });

                if (escalationData[escalation]) {
                    this.role = escalationData[escalation].fromRole,
                        this.user = escalationData[escalation].fromUser,
                        this.note = escalationData[escalation].requestNotes
                }
            },

            onAcceptEscalation: function (e) {
                e.preventDefault();

                this.accept();
            },

            accept: function () {
                var self = this;

                self.$.acceptButton.disable();
                self.acceptEscalation()
                    .then(function () {
                        self.$.acceptButton.enable();
                        self.notifySuccess("Escalation accepted.");
                        self.publish("escalations.changed");
                        self.publish("activity:refresh");
                        self.closeActivity();
                    })
                    .fail(function (error) {
                        error = error.message || "User does not have role to accept this assignment.";
                        self.$.acceptButton.enable();
                        self.$.errorSummary.setErrors(error);
                    });
            },

            acceptEscalation: function () {
                return this.$.assignmentService.acceptEscalation(
                    this.entityType,
                    this.entityId,
                    this.escalation.id
                );
            }
        });
    </script>
</dom-module>