<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="escalate-entity">
    <template>
        <identity-service id="identityService"></identity-service>
        <assignment-service id="assignmentService"></assignment-service>
        <url-parser id="urlParser"></url-parser>

        <style>
            :host {
				--form-control-height: 3em;
				--form-control-border: 1px solid #cdcdcd;
				--form-control-border-focus: 1px solid #bababa !important;
				--var-dropdown-focus: 1px solid #03426b !important;
				--dropdown-height: 3em;
				--dropdown-background-color: white;
				--dropdown-border: 1px solid #cdcdcd;
				--dropdown-border-has-error: 1px solid #ed5565 !important;
				--dropdown-color: #cacaca;
				--dropdown-width: 100%;
			}
			
			.submit {
				margin-top: 10px;
			}
        </style>


        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form">
            <ui-options
                name="fromRole"
                label="From Role"
                id="fromRole"
                items="{{ fromRoles }}"
                on-change="loadParentRoles">
                <ui-validators>
                    <ui-require-field>You must select a role to escalate from.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-options
                name="toRole"
                label="To Role"
                id="toRole"
                items="{{ toRoles }}"
                disabled="[[optionsInputDisabled(toRoles)]]" message-on-empty-list="No To Roles found">
                <ui-validators>
                    <ui-require-field>You must select a role to escalate to.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-text-area name="notes" label="Notes">
                <ui-validators>
                    <ui-require-field>Notes are required for escalations.</ui-require-field>
                </ui-validators>
            </ui-text-area>
            <ui-button
                id="submit"
                disabled-text="Processing"
                color="primary"
                on-click="escalate">
                Escalate
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
    </template>
    <script>
        Polymer({
            is: "escalate-entity",

            behaviors: [eventHub, ensureDependenciesBehavior, alloy.activity],

            properties: {
                fromRoles: Array,
                fromRolesFetched: {
                    type: Boolean,
                    value: false
                },
                toRoles: Array
            },

            attached: function () {
                var self = this;

                self.loadEntity()
                    .then(function () {
                        return self.loadCurrentAssignedRoles();
                    })
            },

            loadEntity: function(){
                this.set("entityType", this.entityType);
                return this.ensure("urlParser").then(function(url){
                    this.set("entityId", url.getParams().id);
                }.bind(this));
            },

            loadCurrentAssignedRoles: function () {
                return this.ensure("identityService", "assignmentService").then(function(ctx){
                    return ctx.identityService.getCurrentUser().then(function(user){
                        return ctx.assignmentService.getAssignments(this.entityType, this.entityId).then(function(assignments){
                            var assignedRoles = assignments.filter(function(assignment){
                                return assignment.assignee == user.username;
                            }).map(function(assignment){
                                return assignment.role;
                            });
                            this.fromRolesFetched = true;
                            this.set("fromRoles", assignedRoles);
                        }.bind(this));
                    }.bind(this));
                }.bind(this));
            },

            loadParentRoles: function () {
                var self = this;
                var fromRole = this.$.form.getData().fromRole;

                if (fromRole) {
                    self.ensure("identityService")
                        .then(function (identityService) {
                            return identityService.getParentRoles(fromRole);
                        })
                        .then(function(roles){
                            self.set("toRoles", roles);
                        });
                }
            },

            escalate: function () {
                var self = this;

                self.$.submit.disable();
                self.$.form.isValid().then(function (isValid) {
                    if (isValid) {
                        self.escalateEntity()
                            .then(function () {
                                self.notifySuccess([self.entityType, self.entityId, " escalated successfully."].join(" "));
                                self.publish("escalations.changed");
                                self.publish("activity:refresh");
                                self.closeActivity();
                            })
                            .catch(function (response) {
                                var error = response.responseJSON && response.responseJSON.message || "Unable to create an escalation.";
                                self.$.errorSummary.setErrors(error);
                            });
                    } else {
                        self.$.errorSummary.setErrors(self.$.form.getErrors());
                    }
                }).then(function(){
                    self.$.submit.enable();
                });
            },

            escalateEntity: function () {
                return this.ensure("assignmentService").then(function(assignmentService){
                    return assignmentService.escalate(
                        this.entityType,
                        this.entityId,
                        this.$.form.getData().fromRole,
                        this.$.form.getData().toRole,
                        this.$.form.getData().notes
                    );
                }.bind(this));
            },
            
            optionsInputDisabled: function (options) {
                return !options || !options.length;
            }
        })
    </script>
</dom-module>