<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>

<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="activities/user-management/components/um-submit.html"></html-import>

<dom-module id="terminate-escalation">
    <template>
        <style>
            ui-input {
                --text-area-resize: none;
            }
            
             :host {
                --var-dropdown-focus: 2px solid #03426b !important;
                --dropdown-height: 3em;
                --dropdown-border: 2px solid #cdcdcd;
                --dropdown-border-has-error: 2px solid #ed5565 !important;
                --dropdown-color: rgb(103, 106, 108);
                --dropdown-width: 100%;
            }
        </style>
        <ui-form id="form">
            <ui-error-summary id="errorSummary"></ui-error-summary>

            <ui-input id="roles"
                      name="role"
                      label="To Role"
                      value="{{ escalation.toRole }}"
                      disabled>
            </ui-input>

            <ui-input name="user"
                      label="From User"
                      value="{{ escalation.fromUser }}"
                      disabled>
            </ui-input>

            <ui-input name="escalationNotes"
                      value="{{ escalation.requestNotes }}"
                      type="textArea"
                      rows="6"
                      disabled>
            </ui-input>

            <ui-text-area name="notes"
                          label="Notes"
                          rows="6">
                <ui-validators>
                    <ui-require-field>Notes are required.</ui-require-field>
                </ui-validators>
            </ui-text-area>
        </ui-form>

        <um-submit button-text="Submit"
                   id="submit"
                   on-click="submit"></um-submit>
        or <span><a href="javascript:;" on-click="cancelActivity">Cancel</a></span>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "terminate-escalation",
            behaviors: [eventHub, window.alloy.activity],
            properties: {
                entityType: {
                    type: String
                },
                entityId: {
                    type: String
                },
                action: {
                    type: String
                },
                escalation: {
                    type: Object
                }
            },
            attached: function () {
                var self = this;
                var expectedProperties = [
                    "entityType",
                    "entityId",
                    "action",
                    "escalation"]

                if (!self.config || !self.config.properties) {
                    console.warn('Invalid properties configuration');
                    return
                }

                _.forEach(expectedProperties, function (val) {
                    var configProperty = self.config.properties[val];
                    if (!configProperty) {
                        console.warn('Invalid properties configuration');
                    }
                    self[val] = configProperty;
                });

                var action = self.action ? self.action.toLowerCase() : null;
                if (action !== 'cancel' && action !== 'complete') {
                    console.warn('Invalid termination type on terminate escalation activity.')
                } else {
                    self.action = self.action.toLowerCase();
                }
            },
            submit: function () {
                var self = this;
                self.$.errorSummary.clearErrors();
                self.$.form.isValid().then(function (isValid) {
                    if (!isValid) {
                        self.$.errorSummary.setErrors(self.$.form.getErrors());
                        return;
                    }
                    var terminateEscalation = self.terminateEscalation(self.action, self.$.form.getData());
                    terminateEscalation.then(function () {
                        var verb = self.action === "cancel" ? "cancelled" : "completed";
                        self.notifySuccess("Escalation " + verb + " sucessfully.");
                        self.publish("escalations.changed");
                        self.publish("activity:refresh");
                        self.closeActivity();
                    });
                })
            },
            terminateEscalation: function (type, data) {
                var self = this;
                var endpoint = [
                    self.entityType.toLowerCase(),
                    self.entityId,
                    'escalations',
                    self.escalation.id,
                    type
                ].join('/');
                var payload = {
                    notes: data.notes
                };

                if (type === 'cancel') {
                    return self.$.http.delete(endpoint, payload, self.configuration.services.assignment);
                } else if (type === 'complete') {
                    return self.$.http.post(endpoint, payload, self.configuration.services.assignment);
                }
            },
            cancelActivity: function () {
                this.closeActivity();
            }

        });
    </script>
</dom-module>