<dom-module id="lender-application-progress-bar">
       <template>
        <div class="progress-wrap clearfix">
            <div class="progress">
                <div class="progress-bar progress-bar-custom  progress-bar-striped active" role="progressbar" style="width:20%">
                    <span>Review</span>
                    <span class="df df-tick">&nbsp;</span>
                </div>
                <div class="progress-bar progress-bar-custom progress-bar-striped active" role="progressbar" style="width:20%">
                    <span>Processing</span>
                    <span class="df df-tick">&nbsp;</span>
                </div>
                <div class="progress-bar progress-bar-custom progress-bar-striped active" role="progressbar" style="width:20%">
                    <span>Underwriting</span>
                    <span class="df df-tick">&nbsp;</span>
                </div>
                <div class="progress-bar progress-bar-custom progress-bar-striped active" role="progressbar" style="width:20%">
                    <span>Documents</span>
                </div>
                <div class="progress-bar" role="progressbar" style="width:20%">
                    <span>Funding</span>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "lender-application-progress-bar"
        });
    </script>
</dom-module>