
<dom-module id="lender-loan-review-summary">
    
    <template>
        <ul class="loan-stats clearfix">
            <li><span class="df df-tick-circle"></span> Risk Category<span class="spacer"></span>
                <span class="df df-tick-circle"></span> ID Verfication</li>
            <li><span class="df df-tick-circle"></span> Income Verification<span class="spacer"></span>
                <span class="df df-tick-circle"></span> Subject Property Verification
            </li>
            <li><span class="df df-tick-circle"></span> Loan Doc Signed(TILA)<span class="spacer"></span>
                <span class="df df-tick-circle"></span> Fraud Check
            </li>
            <li><span class="df df-tick-circle"></span> Employment Verification<span class="spacer"></span>
                <span class="df df-tick-circle"></span> Income Verification
            </li>
            <li><span class="df df-circle"></span> Subject Property Verification<span class="spacer"></span>
                <span class="df df-circle"></span> Loan Doc Signed(TILA)
            </li>
        </ul>
    </template>
    <script>
        Polymer({
            is: "lender-loan-review-summary"
        });
    </script>
</dom-module>
