<html-import html-href="ui-elements/views/entity-view.html"></html-import>
<html-import html-href="lender-portal/loan/borrower-info.html"></html-import>
<html-import html-href="lender-portal/loan/review-summary.html"></html-import>
<html-import html-href="lender-portal/loan/loan-details.html"></html-import>
<html-import html-href="ui-elements/ui-progress-bar-status.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<dom-module id="lender-detailed-loan-view">
    <template>
    <template is="dom-if" if="{{ isAssignedToMe }}">
        <div class="clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 no-pad">
                <lender-application-borrower-info application="[[ application ]]" borrower="[[ borrower ]]"></lender-application-borrower-info>
            </div>
        </div>
       
        <lender-application-loan-details application="[[ application ]]" borrower="[[ borrower ]]"></lender-application-loan-details>
        
        <ui-progress-bar-status modal-popup-trigger="true" entity-type="application" entity-id="[[entityId]]">
        </ui-progress-bar-status>
    </template>
        <url-parser id="urlParser"></url-parser>
        <assignment-service id="assignmentService"></assignment-service>
        <logout-service id="logout"></logout-service>
    </template>
    <script>
        Polymer({
            is: "lender-detailed-loan-view",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties: {
                application: {
                    type: Object,
                    observer: "handleApplicationReceived"
                },
                borrower: Object,
                coBorrower: Object,
                config: Object,
                entityId: String,
                entityType:{
                    type:String,
                    value:'application'
                },
                isAssignedToMe: {
                    type: Boolean,
                    value: true
                }
            },
            attached: function () {
                var self = this;              
                self.set("entityId", self.$.urlParser.getParams().id);
                if(self.config.affinityportal)
                {
                    self.ensure("assignmentService").then(function (assignmentService) {
                        assignmentService.checkAssignedToMe(self.entityType, self.entityId).then(function(response){
                            self.set("isAssignedToMe", response.isAssigned);
                            if(!self.isAssignedToMe)
                               self.logout();                   
                        }).catch(function (error) {                            
                            self.logout();
                        });
                    });            
                }
                else if (self.config.portal === "lender") {
                    self.set("isAssignedToMe", true);
                }
            },
            logout: function () {
                this.$.logout.logout();
            },
            handleApplicationReceived: function (application) {
                this.setBorrowers(application);
            },

            setBorrowers: function (application) {
                var borrower = _.find(application.applicants, function (applicant) {
                    return applicant.isPrimary === true;
                });

                this.set("borrower", borrower);

                var coBorrower = _.find(loan.applicants, function (applicant) {
                    return applicant.applicantType === "Spouse";
                });

                if(!coBorrower)
                {
                    coBorrower = _.find(loan.applicants, function (applicant) {
                        return applicant.isPrimary === false;
                    });
                }

                this.set("coBorrower", coBorrower ? coBorrower : null);
            }
        });
    </script>
</dom-module>