<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-of-required-length.html"></html-import>
<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>

<dom-module id="ui-input-routing-number">
    <template>
        <ui-input label="[[ label ]]" name="routingNumber" placeholder="[[ placeholder ]]" pattern="\d{0,9}" value="{{ routingNumber }}"
            on-input="handleInputChange">
            <ui-validators>
                <ui-require-field>Routing Number is required.</ui-require-field>
                <ui-is-of-required-length minimum="9" maximum="9">Routing Number must be 9 digits long.</ui-is-of-required-length>
            </ui-validators>
        </ui-input>
        <span class="help-block">[[ bankName ]]</span>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-input-routing-number",

            properties: {
                bankName: {
                    type: String,
                    value: ""
                },

                bankNames: Object,

                label: {
                    type: String,
                    value: "Routing Number"
                },

                placeholder: {
                    type: String,
                    value: "Routing Number"
                },

                routingNumber: {
                    type: Number,
                    notify: true
                }
            },

            attached: function () {
                if(this.configuration.services.lookup == undefined){
                    throw new Error("service not found");
                }
                var self = this;

                self.fetchBankNames()
                    .then(function (bankNames) {
                        self.bankNames = bankNames;
                    });
            },

            displayBankName: function (input) {
                this.bankName = this.bankNames[input] || "";
            },

            fetchBankNames: function () {
                var url = "/banks";
                var baseUrl = this.configuration.services.lookup;

                return this.$.http.get(url, baseUrl);
            },

            handleInputChange: function (e) {
                var self = this;
                if (self.bankNames != null) {
                    self.displayBankName(e.detail.value);
                }
                else {
                    self.fetchBankNames()
                        .then(function (bankNames) {
                            self.bankNames = bankNames;
                            self.displayBankName(e.detail.value);
                        });
                }
            }
        });
    </script>
</dom-module>