<dom-module id="ui-input-address">
    <template>
        <ui-input label="[[ label ]]"
            name="address"
            placeholder="Mailing Address"
            pattern="[a-zA-Z0-9 ]*">
            <ui-validators>
                <ui-require-field>Mailing Address is required.</ui-require-field>
            </ui-validators>
        </ui-input>
    </template>
    <script>
        Polymer({
            is: "ui-input-address",

            properties: {
                label: {
                    type: String,
                    value: "Address"
                }
            }
        })
    </script>
</dom-module>