<dom-module id="ui-input">
    <template>
        <div class$="{{ formGroupClassName }}">
                <label for="input"
                    class="control-label"
                    hidden$="[[ !label.length ]]">
                    [[ label ]]
                </label>

                <input id="input"
                    class$="{{ formControlClassName }}"
                    style$="[[ setStyle(marginBottom)]]"
                    type$="[[ type ]]"
                    placeholder="[[ placeholder ]]"
                    disabled$="[[ disabled ]]"
                    value$="[[ value ]]"
                    on-input="handleInput"
                    on-click="setRightWhenZero"
                    autocomplete$="[[ autocomplete ]]">
                <p class="help-block" hidden$="[[ !helpText ]]">[[ helpText ]]</p>
            <div hidden>
                <content></content>
            </div>
        </div>
        <style>
            textarea {
                resize: var(--text-area-resize, initial);
                width: var(--text-area-width, 100%);
            }
            
            textarea[disabled] {
                background-color: #e7eaec;
            }
            .form-group input.alignRight{
                text-align: right;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "ui-input",
            behaviors: [window.alloy.uiInputBehavior],
            setStyle: function (marginBottom) {
                var styles = [];
                if (marginBottom) {
                    styles.push("margin-bottom: " + marginBottom);
                }
                return styles.join(";")
            }
        })
    </script>
</dom-module>