<link rel="import"
      href="../ui-selector/ui-selector-item.html">
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>

<dom-module id="ui-datalist">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
      }
      #optionsList {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 999;
      }

      :host.is-open #optionsList {
        display: block;
      }

      #innerInput {
        padding: 18px 18px 9px;
      }
    </style>
    <ul id="optionsList" class="shadow">
      <content></content>
      <input id="innerInput"
             class="input"
             type="text"
             name="institutionName"
             value="{{ filter::input }}"
             on-keydown="keyPressed">
    </ul>
    <input id="outerInput"
           class="input"
           type="text"
           name="institutionName"
           value="{{ filter::input }}"
           on-keydown="keyPressed">
  </template>

  <script src="ui-datalist.js"></script>
</dom-module>