<link rel="import" href="./../dcc-service.html" />

<dom-module id="assets-interactors-add-update-institution">
  <template>
    <assets-dcc-service id="dccService"></assets-dcc-service>
  </template>
  <script>
    (function () {
      /**
       * @class Interactors.AddDCCInstitution
       * @mixes alloy.lifeCycleEvents
       */
      var addUpdateInstitution = {
        is: "assets-interactors-add-update-institution",

        behaviors: [alloy.lifeCycleEvents],
        properties:{
          institutionType:String
        },
        /**
         * Adds or Update an institution to DCC service.
         * Retrieves challenges
         * return result with challenges
         */

        /**
         * @typedef {Object} Interactors.AddUpdateDCCInstitutionContext
         * @property {string} customerId
       
         * @property {string} institutionId
         * @property {string} username
         * @property {string} password
         */

        /**
         *
         * @param {Interactors.AddUpdateDCCInstitutionContext} context
         * @returns {Promise.<TResult>|Promise<U>}
         */
        execute: function (context) {
          var self = this
          var result = {}

          /** @type {DCC.Service} */
          var dccService

          return this.ensure("dccService")
            .then(function (service) {
              dccService = service
            })

            // Add Institution to DCC
            .then(function () {
              if(context.plaidItemId)
                return dccService.updateInstitution(
                  context.customerId,
                  context.institutionId,
                  context.username,
                  context.password,
                  context.pin,
                  context.plaidItemId,
                  self.institutionType,
                  context.applicationNumber
                );
              else  
                return dccService.addInstitution(
                  context.customerId,
                  context.institutionId,
                  context.username,
                  context.password,
                  context.pin,
                  self.institutionType,
                  context.applicationNumber
                  )
            })

            // Fetch challenges
            .then(function (response) {
               
             return response;
           
            })

          
        },
      }

      Polymer(addUpdateInstitution)
    })()
  </script>
</dom-module>