<link rel="import" href="./../dcc-service.html" />

<dom-module id="assets-interactors-answer-challenge">
  <template>
    <assets-dcc-service id="dccService"></assets-dcc-service>
  </template>
  <script>
    Polymer({
      is: "assets-interactors-answer-challenge",

      behaviors: [alloy.lifeCycleEvents, alloy.interactor],
      properties:{
          institutionType:String
        },
      require: ["dccService"],

      execute: function (context) {
        var self = this
        return this.$.dccService.answerChallenge(context.challenge, self.institutionType)
          .then(function (response) {
           return response;
           
          })
          .catch(function (error) {
            return { error: error}
          })
      }
    })
  </script>
</dom-module>