<link rel="import" href="./../dcc-service.html" />

<dom-module id="assets-interactors-remove-document-or-account">
  <template>
    <assets-dcc-service id="dccService"></assets-dcc-service>
    <url-parser id="urlParser"></url-parser>
  </template>
  <script>
    (function () {
      /**
       * @class Interactors.removeDocumentOrAccount
       * @mixes alloy.lifeCycleEvents
       */
      var removeDocumentOrAccount = {
        is: "assets-interactors-remove-document-or-account",

        behaviors: [alloy.lifeCycleEvents],
        properties:{
          institutionType:String
        },
        applicationNumber: String,
        /**
         * removeDocumentOrAccount to DCC service.
        
         */        
        
        

        /**
         *
         * @param {Interactors.removeDocumentOrAccount} context
         * @returns {Promise.<TResult>|Promise<U>}
         */
        execute: function (context) {
          var self = this
          self.applicationNumber = this.$.urlParser.getParams().id;
          var result = {}

          /** @type {DCC.Service} */
          var dccService

          return this.ensure("dccService")
            .then(function (service) {
              dccService = service
            })

            // Add Institution to DCC
            .then(function () {
              return dccService.removeDocumentOrAccount(
                context.accountDocumentId,
                context.customerId,
                self.institutionType,
                context.entityType,
                self.applicationNumber
                )
            })

            // Fetch challenges
            .then(function (response) {
               
             return response;
           
            })

            
        },
      }

      Polymer(removeDocumentOrAccount)
    })()
  </script>
</dom-module>