<html-import html-href="lender-portal/pipeline/active-loan-overview-progress-bar.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<link rel="import" href="../status-colors.html">
<dom-module id="active-loan-overview">
    
    <style include="docitt-loan-status-colors"></style>
    <style>
         :host {
            margin-top: 20px;
        }
        .normal {
            font-weight: normal !important;
        }
        .inline {
            display: inline-block;
            vertical-align: middle;
        }
    </style>
    <template>
        <div class$="[[ listIndexClass ]] [[ statusClass ]] lendingteam clearfix">
            <div class="daystoclose clearfix">
                <div class="block">
                    <span class="img-circle circle status-color-bg">[[ getDaysLeft(loan.expirationDate) ]]</span>
                    <div class="inline">Days to close
                        <span class="status-color-text suspended-text" hidden$="[[ !suspended ]]">
                            (Suspended)
                        </span></div>
                    <span class="num">[[ loan.totalUnReadReminders ]]</span>
                </div>
                <span class="loanid">ID: [[ loan.applicationId ]]</span>
            </div>
            <ul class="clearfix">
                <li class="status-color-text bold">[[ borrower.name ]] <span>[[ loan.loanType ]]</span></li>
                <li class="status-color-text normal">[[ coBorrower.name ]] <span><span hidden$="[[ !coBorrower ]]">{{secondaryApplicantType}}</span></span>
                </li>
                <li class="status-color-text bold text-center">
                    <alloy-format currency="[[ loan.amount ]]" decimal-places="0" class="whitespnw"></alloy-format>
                    <!--<br>
                    <span>&nbsp;</span>-->
                </li>
                <!-- this <li> is not part of MVP -->
                <!-- <li class="status-color-text">Frank Henry <span>CPA</span></li> -->
                <li>
                    <active-loan-overview-progress-bar status="[[ status.name ]]"></active-loan-overview-progress-bar>
                    <div class="text clearfix"><span>Review</span><span>Processing</span><span>Underwriting</span><span>Documents</span><span>Funding</span></div>
                <div class="loandet-btn"><a class="btn" on-click="handleDetailsButtonClick" href="javascript:void(0);">DETAILS</a></div></li>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: "active-loan-overview",

            observers: [
                "transformStatusString(status)",
                "statusIsSuspended(status)",
                "setStatusClass(status)"
            ],

            properties: {
                borrower: Object,
                coBorrower: Object,
                listIndex: {
                    type: Number,
                    observer: "setListIndexStyling"
                },

                listIndexClass: {
                    type: String,
                    value: ""
                },

                loan: {
                    type: Object,
                    observer: "processLoan"
                },

                status: {
                    type: String,
                    observer: "statusIsSuspended"
                },

                suspended: {
                    type: Boolean,
                    value: false
                },

                totalUnReadReminders: String,
                secondaryApplicantType: String
            },

            handleDetailsButtonClick: function () {
                this.redirectToLoanDetails();
            },

            processLoan: function (loan) {
                this.setStatus(loan);
                this.setBorrowers(loan);
            },

            redirectToLoanDetails: function () {
                window.location.hash = "#/loan/id:" + this.loan.applicationId;
            },

            setBorrowers: function (loan) {
                var borrower = _.find(loan.applicants, function (applicant) {
                    return applicant.isPrimary === true;
                });

                this.set("borrower", borrower);

                var coBorrower = _.find(loan.applicants, function (applicant) {
                    return applicant.applicantType === "Spouse";
                });

                if(coBorrower)
                    this.set("secondaryApplicantType", "Spouse");


                if(!coBorrower)
                {
                    coBorrower = _.find(loan.applicants, function (applicant) {
                        return applicant.isPrimary === false;
                    });
                    this.set("secondaryApplicantType", coBorrower ? "Co-Borrower" : "");
                }

                this.set("coBorrower", coBorrower ? coBorrower : null);
            },

            setListIndexStyling: function (listIndex) {
                if (listIndex === 0) {
                    this.listIndexClass = "on";
                } else if (listIndex % 2 === 0) {
                    this.listIndexClass = "off";
                }
            },

            setStatus: function () {
                this.set("status", this.loan.status);
            },

            setStatusClass: function (status) {
                if (!status) return;
                this.set("statusClass", "status-" + status.name);
            },

            statusIsSuspended: function () {
                if (this.status && this.status.name === "suspended") {
                    this.suspended = true;
                }
                else{
                    this.suspended = false;
                }
            },

            transformStatusString: function (status) {
                if (!status) return;
                this.set("status.name", this.status.name.toLowerCase());
            },

            getDaysLeft: function (date) {
                var todayDate = moment();
                var daysToClose = moment(date).diff(todayDate, 'days');
                if(daysToClose <=0)
                   daysToClose = 0;
                return daysToClose;
            }
        });
    </script>
</dom-module>