<html-import html-href="services/format.html"></html-import>
<html-import html-href="services/email-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<link rel="import" href="../../styles/circle-styles.html">

<dom-module id="application-overview">
    <style include="circle-styles"></style>
    <style>
        span.orange {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            margin: 0;
        }
        ul {
            padding: 0;
            list-style-type: none;
        }
        .borrower-name, .borrower-name:hover {color: #069;}
        .pull-right {width: 60%}
        .affinity-details {
            margin-top: 5px !important;
        }
    </style>
    <template>
        <div id="application"
             class="tab-pane fade in active clearfix">
            <div class$="[[ listIndexClass ]] application-list clearfix">
                <div class="daystoclose clearfix">
                    <div class="block">
                        <div class$="[[ computePercentageClass(status, application.sections) ]] c100">
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div> [[ application.loanType ]]
                    </div>
                    <span class="loanid">ID: [[ application.temporaryApplicationNumber ]]</span>
                </div>
                <ul class="clearfix">
                    <li class="bold">
                        <a class="borrower-name" on-click="applicationView" href="javascript:void(0);">[[ borrower.firstName ]] [[ borrower.lastName ]]</a>
                        <span>Borrower</span>
                        <span class="phneml">
                            <template is="dom-if" if="[[ validPhoneNumber(borrower.phone) ]]">
                                <alloy-format phone-number="[[ getValue(borrower.phone) ]]"></alloy-format>
                            </template>
                            <br> [[ borrower.email ]]
                            <span></span>
                        </span>
                    </li>
                    <li class="normal">
                        [[ coBorrower.firstName ]] [[ coBorrower.lastName ]]
                        <span>
                            <span hidden$="[[ !coBorrower ]]">{{secondaryApplicantType}}</span>
                        </span>
                        <span>
                            <span class="phneml"
                                  hidden$="[[ !coBorrower ]]">
                                <template is="dom-if" if="[[ validPhoneNumber(coBorrower.phone) ]]">
                                    <alloy-format phone-number="[[ getValue(coBorrower.phone) ]]"></alloy-format>
                                </template>
                                <br>[[ coBorrower.email ]]
                            </span>
                        </span>
                    </li>
                    <li>
                        <div class="pull-left">
                            <alloy-format currency="[[ loanAmount ]]"
                                          decimal-places="0" class="whitespnw"></alloy-format>
                            <span>Loan</span>
                        </div>
                        <div class="pull-right">
                            <span class="orange">[[ affinityName ]]</span>
                            <span class="phneml affinity-details">[[ affinityTitle ]]<br>
                            [[ affinityEmail ]]<br>
                            <alloy-format phone-number="[[ affinityPhone ]]"></alloy-format></span>
                        </div>
                    </li>
                    <li>
                        <div hidden$="[[ !hasStatus ]]"
                             class="progress">
                            <template is="dom-repeat"
                                      items="[[ progressBarArray ]]"
                                      as="item">
                                <div class$="[[ item.divClasses ]]" style$="[[ getWidth(application.sections) ]]">
                                    <span class$="[[ item.spanClasses ]]"></span>
                                </div>
                            </template>
                        </div>
                        <div hidden$="[[ hasStatus ]]" class="progress">
                            <template is="dom-repeat"
                                      items="[[ application.sections ]]"
                                      as="item">
                                      <div class="progress-bar" style$="[[ getWidth(application.sections) ]]"></div>
                            </template>                            
                        </div>
                        <div class="text clearfix">
                            <template is="dom-repeat"
                                items="[[ application.sections ]]"
                                as="item">
                                <span style$="[[ getWidth(application.sections) ]]">[[item.sectionName]]</span>
                            </template>
                        </div>
                        <div class="clearfix spacer"></div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 no-pad">
                            [[ labelText ]]: [[ lastLogin ]]
                            <br> Last Reminder Sent: [[ lastReminderSent ]]
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad text-right">
                            <a href="javascript:void(0);"
                               on-click="sendReminder"
                               class="btn">SEND REMINDER</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <alloy-format id="format"></alloy-format>
        <email-service id="email"></email-service>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <questionnaire-filters-service id="questionnaireFiltersService"></questionnaire-filters-service>
    </template>
    <script>
        Polymer({
            is: "application-overview",

            behaviors: [
                ensureDependenciesBehavior,
                eventHub
            ],

            properties: {
                application: {
                    type: Object,
                    observer: "processApplication"
                },

                borrower: Object,

                coBorrower: Object,

                hasStatus: {
                    type: Boolean,
                    value: false
                },

                lastLogin: String,

                lastReminderSent: String,

                listIndex: {
                    type: Number,
                    observer: "setListIndexStyling"
                },

                listIndexClass: {
                    type: String,
                    value: ""
                },

                labelText: {
                    type: String,
                    value: "User Last Login"
                },
                loanAmount: {
                    type: String,
                    value: "N/A"
                },

                sectionCount: {
                    type: Number,
                    value: 6
                },

                status: String,
                secondaryApplicantType: String
            },

            computePercentageClass: function (status, applicationSections) {
                var self = this;
                var index;

                _.find(applicationSections, function (section, arrayIndex) {
                    index = arrayIndex;
                    return section.sectionName === self.status;
                });
                
                self.sectionCount = applicationSections.length;
                var percentage = ((index + 1) / self.sectionCount) * 100;

                return "p" + percentage.toFixed(0).toString();
            },
            getWidth: function(applicationSections){
                if(applicationSections){
                    var activeSectionCount = applicationSections.length;
                    self.sectionCount = activeSectionCount;
                    var percentage = 100 / self.sectionCount;
                    return "width:" + percentage.toFixed(0).toString() + "% !important";
                }
            },

            formatDate: function (date, format) {
                if (!date) return "N/A";

                var processedDate = moment.tz(date, window.tenant.timezone);

                return processedDate.format(format);
            },

            formatDates: function (application) {
                var self = this;
                var format = "MMM DD, YYYY: hh:mm A (z)";

                if (application.isLead) {
                    self.lastLogin = self.formatDate(application.invitationDate, format);
                    self.set('labelText', "Invitation Sent");
                }
                else {
                    self.lastLogin = self.formatDate(application.lastLoggedIn, format);
                }

                self.lastReminderSent = self.formatDate(application.lastReminder, format);
            },

            getStatus: function () {
                _.each(this.application.sections, function (section, index) {
                    if (section.isCompleted && index <= this.sectionCount) {
                        this.set("status", section.sectionName);
                    }
                }.bind(this));
            },

            setHasStatus: function (array) {
                this.hasStatus = array && !!array.length;
            },

            getValue: function (val) {
                return val ? val : "";
            },

            validPhoneNumber: function (number) {
                return (number);
            },

            processApplication: function (application) {
                this.setBorrowers(application);
                this.setDefaultLoanAmountValue(application);
                this.formatDates(application);
                this.getStatus(application);
                this.toProgressBarArray(application.sections);
                this.setHasStatus(application.sections);
                this.getAffinity(application);
            },

            sendReminder: function () {
                var self = this;

                if (!self.application.isLead) {
                    var payload = {
                        email: self.borrower.email,
                        borrowerLastName: self.borrower.lastName,
                        borrowerFirstName: self.borrower.firstName
                    };
                    
                    self.ensure('assignmentService')
                        .then(function (service) {
                            return service.sendApplicationReminderNotification( 
                                    self.application.temporaryApplicationNumber,
                                    "reminder-email",
                                    payload
                            ).then(function(){
                                var format = "MMM DD, YYYY: hh:mm A (z)";
                                self.lastReminderSent = self.formatDate(new Date(), format);
                            });
                    });
                }
                else {
                    self.ensure('assignmentService')
                            .then(function (service) {
                                return service.sendLeadReminder(self.application.id);
                            });
                }
            },

            setBorrowers: function (application) {
                var borrower = _.find(application.applicants, function (applicant) {
                    return applicant.applicantType.toLowerCase() === "borrower";
                });

                this.set("borrower", borrower);

                var spouse = _.find(application.applicants, function (applicant) {
                    return applicant.applicantType.toLowerCase() === "spouse";
                });

                if(spouse) {
                    this.set("secondaryApplicantType", "Spouse");
                    this.set("coBorrower", spouse);
                }
                else {
                    var coBorrower = _.find(application.applicants, function (applicant) {
                        return applicant.applicantType.toLowerCase() === "coborrower";
                    });
                    this.set("secondaryApplicantType", coBorrower ? "Co-Borrower" : "");
                    this.set("coBorrower", coBorrower ? coBorrower : null);
                }
            },

            setDefaultLoanAmountValue: function (application) {
                var loanAmount = application.loanAmount;

                this.loanAmount = loanAmount ? loanAmount : "N/A";
            },

            setListIndexStyling: function (listIndex) {
                if (listIndex % 2 === 0) {
                    this.listIndexClass = "off";
                }
            },

            toProgressBarArray: function (statuses) {
                this.progressBarArray = [];

                _.each(statuses, function (status) {
                    var statusObject = {
                        divClasses: ["progress-bar"],
                        spanClasses: []
                    };

                    if (status.isCompleted) {
                        statusObject.divClasses.push("active");
                        statusObject.spanClasses.push("prg-bl");
                    }

                    statusObject.divClasses = statusObject.divClasses.join(" ");
                    statusObject.spanClasses = statusObject.spanClasses.join(" ");

                    this.push("progressBarArray", statusObject);
                }.bind(this));
            },

            getAffinity: function (application) {
                var self = this;
                if (application.isLead) {
                    self.ensure('assignmentService')
                            .then(function (service) {
                                return service.fetchLeadAssignedOfficer(self.application.invitationToken, "Affinity Partner Admin");
                            })
                            .then(function (response) {
                                if (!response.code) {
                                    self.$.userProfileService.fetchUserProfile(response).then(function (response) {
                                        self.set('affinityName', response.firstName + " " + response.lastName);
                                        self.set('affinityTitle', response.title);
                                        self.set('affinityEmail', response.email);
                                        self.set('affinityPhone', response.mobileNumber);
                                    });
                                }
                            }).catch(function(response){
                                if(response.status==400){
                                    return;
                                }
                                else{
                                    throw new Error(response);
                                }                                
                            });
                }
                else {
                    self.ensure('assignmentService').then(function (assignmentService) {
                        assignmentService.fetchLoanAssignedOfficer(application.temporaryApplicationNumber, 'Affinity Partner Admin').then(function (response) {
                            if (response) {
                                self.$.userProfileService.fetchUserProfile(response.assignee).then(function (response) {
                                    self.set('affinityName', response.firstName + " " + response.lastName);
                                    self.set('affinityTitle', response.title);
                                    self.set('affinityEmail', response.email);
                                    self.set('affinityPhone', response.mobileNumber);
                                });
                            }
                        }).catch(function(response){
                            if(response.status==400){
                                return;
                            }
                            else{
                                throw new Error(response);
                            }
                        });;
                    });
                }
            },

            applicationView: function () {
                var application = this.application;
                if (!application.isLead)
                    window.location.hash = '#/application/id:' + this.application.temporaryApplicationNumber;
                else {
                    if (application.applicants[0].email)
                        window.location.hash = '#/lead/id:' + application.applicants[0].email;
                }
            }
        });
    </script>
</dom-module>