<html-import html-href="services/format.html"></html-import>
<dom-module id="closed-loan-overview">
    <template>
        <div id="closed" class="tab-pane fade in active clearfix">
            <div class$="[[ listIndexClass ]] closed-list clearfix">
                <div class="daystoclose clearfix">
                    <div class="block">
                        <span class="df df-circle"><span class="df df-tick"></span></span>[[ loan.loanType ]]
                    </div>
                </div>
                <ul class="clearfix">
                    <li class="bold">
                        [[ borrower.name ]] <span>Borrower</span>
                        <span class="phneml" hidden$="[[isNullOrEmptyPhoneNumber(borrower.phoneNumber)]]">
                           
                            <alloy-format phone-number="[[ borrower.phoneNumber ]]"></alloy-format>
                        <br>[[ borrower.email ]]</span></li>
                    <li class="bold">
                        <div class="pull-left cbrwr" hidden$="[[ !coBorrower ]]">
                            [[ coBorrower.name ]]<span>{{secondaryApplicantType}}</span>
                            <span class="phneml" hidden$="[[isNullOrEmptyPhoneNumber(coBorrower.phoneNumber)]]"><alloy-format phone-number="[[ coBorrower.phoneNumber ]]"></alloy-format>
                            <br>[[ coBorrower.email ]]</span></div>
                        <div class$="[[ propertyContainerClass ]]">&nbsp; <span>Property</span>
                            <span class="phneml">[[ address.street ]]<br>[[ address.city ]], [[ address.state ]] [[ address.zipCode ]]</span>
                        </div>
                    </li>
                    <li>
                        <div class="pull-left bold">
                            <alloy-format currency="[[ loan.amount ]]" decimal-places="0" class="whitespnw"></alloy-format> <span>Loan</span></div>
                        <div class="pull-right bold">[[ loan.applicationId ]]<span>Loan ID</span></div>
                    </li>
                    <!-- this <li> is not part of MVP -->
                    <li>
                        <div class="pull-left">
                            &nbsp;
                            <!--<span class="orn bold">Tom Hicks</span>
                            <span>CPA</span>-->
                        </div>
                        <a class="btn pull-right" on-click="handleDetailsButtonClick" href="javascript:void(0);">DETAILS</a></li>
                    </li>
                </ul>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "closed-loan-overview",

            properties: {
                address: Object,

                borrower: Object,

                coBorrower: Object,

                listIndex: {
                    type: Number,
                    observer: "setListIndexStyling"
                },

                loan: {
                    type: Object,
                    observer: "processLoan"
                },

                listIndexClass: {
                    type: String,
                    value: ""
                },

                propertyContainerClass: String,
                secondaryApplicantType: String

            },
            isNullOrEmptyPhoneNumber:function(phoneNumber)
            {
              phoneNumber=   phoneNumber||"";
                return phoneNumber === "";
            },
            handleDetailsButtonClick: function () {
                this.redirectToLoanDetails();
            },

            processLoan: function (loan) {
                this.setBorrowers(loan);
                this.setAddress(loan);
                this.setPropertyContainerClass();
            },

            redirectToLoanDetails: function () {
                window.location.hash = "#/loan/id:" + this.loan.applicationId;
            },

            setAddress: function (loan) {
                var applicant = loan.applicants[0];

                this.set("address", {
                    street: applicant.address,
                    city: applicant.city,
                    state: applicant.state,
                    zipCode: applicant.zipCode,
                    country: applicant.country
                });
            },

            setBorrowers: function (loan) {
                var borrower = _.find(loan.applicants, function (applicant) {
                    return applicant.isPrimary === true;
                });

                this.set("borrower", borrower);

                var coBorrower = _.find(loan.applicants, function (applicant) {
                    return applicant.applicantType === "Spouse";
                });

                if(coBorrower)
                    this.set("secondaryApplicantType", "Spouse");

                if(!coBorrower)
                {
                    coBorrower = _.find(loan.applicants, function (applicant) {
                        return applicant.isPrimary === false;
                    });
                    this.set("secondaryApplicantType", coBorrower ? "Co-Borrower" : "");
                }

                this.set("coBorrower", coBorrower ? coBorrower : null);
            },

            setListIndexStyling: function (listIndex) {
                if (listIndex % 2 === 0) {
                    this.listIndexClass = "off";
                }
            },

            setPropertyContainerClass: function () {
                this.set("propertyContainerClass", this.coBorrower ? "pull-right" : "pull-left");
            }
        });
    </script>
</dom-module>