<dom-module id="lender-pipeline-filter-tabs">
    <template>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 no-pad clearfix">
            <ul class="nav nav-tabs aci">
                    <li class$="{{setFirstActive('prospects')}}">
                            <a href="#"
                               data-toggle="tab"
                               data-filter="prospects">PROSPECTS
                                <span class="space">[[ totalLoans.prospects ]]</span>
                            </a>
                        </li>
                 <li class$="{{setFirstActive('active')}}">
                        <a href="#"
                           data-toggle="tab"
                           data-filter="active">APPLICATIONS
                            <span class="space">[[ totalLoans.active ]]</span>
                        </a>
                    </li>
                <li class$="{{setFirstActive('application')}}">
                    <a href="#"
                       data-toggle="tab"
                       data-filter="application">ACTIVE LOANS
                        <span class="space">[[ totalLoans.application ]]</span>
                    </a>
                </li>
                <li class$="{{setFirstActive('closed')}}">
                    <a href="#"
                       data-toggle="tab"
                       data-filter="closed">PAST CLIENTS</a>
                </li>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: "lender-pipeline-filter-tabs",

            behaviors: [eventHub],

            properties: {
                totalLength: Object
            },

            attached: function () {
                $(this, "li").on("click", this.handleFilterTabClick.bind(this))
                        .children().on("click", this.handleFilterTabClick.bind(this));

                var oldUrl = window.location.hash;
                var slittedUrl = oldUrl.split('/tab:');
                if (slittedUrl && slittedUrl[1]) {
                    this.publish("filter-tab-clicked", {
                        filter: slittedUrl[1]
                    });
                }
            },

            handleFilterTabClick: function (event) {
                var self = this;
                var element = $(event.target);

                if ($(element).is("span"))
                    element = element.parent();

                self.querySelectorAll('li').forEach(function (liElement) {
                    $(liElement).removeClass("active");
                });
                element.parent().addClass("active");

                this.publish("filter-tab-clicked", {
                    filter: element.data("filter")
                });
                this.updateUrl(element.data("filter"));
            },

            updateUrl: function (filter) {
                if (filter) {
                    var oldUrl = window.location.hash;
                    var slittedUrl = oldUrl.split('/tab:');
                    window.location.hash = slittedUrl[0] + '/tab:' + filter;
                }
            },

            setFirstActive : function (e) {
                var oldUrl = window.location.hash;
                var slittedUrl = oldUrl.split('/tab:');
                if (slittedUrl && slittedUrl[1]) {
                    if (slittedUrl[1] === e) {
                        return 'active';
                    }
                }
                else if (e === 'prospects') {
                    return "active";
                }
            }
        });
    </script>
</dom-module>