<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="lender-portal/pipeline/invite-modal.html"></html-import>
<dom-module id="lender-pipeline-invite">
<style>
:host::content .modal-dialog {height:540px;}
:host::content .modal-content {padding: 30px;width: 430px;}
:host::content .modal-header,
:host::content .modal-footer {padding:0;margin:0;border:0}
:host::content .modal-header{ position:absolute;top:30px;right:28px;z-index: 9999;}
:host::content .modal-footer {margin-top:30px}

@media only screen and (max-width: 767px) {
:host::content .modal-dialog {height:96vh;}	
:host::content .modal-body {height: 82vh; overflow-y:auto;}
}

@media only screen and (max-width: 479px) {
:host::content .modal-dialog {height:92vh;}
:host::content .modal-content {width: 90%;}
}
</style>
<template>
<a href="javascipt:void(0);" on-click="triggerInviteModalPopup"  class="invite btn btn-sm btn-outline-primary pull-right"> <span class="df df-plus" aria-hidden="true"></span> INVITE </a>
<ui-modal id="sendInviteModal">
  <template is="dom-if" if="{{ isOpen}}" restamp>
    <invite-modal user="[[ user ]]"></invite-modal>
  </template>
</ui-modal>
</template>
<script>
        Polymer({
            is: "lender-pipeline-invite",

            listeners: {
                "send-invite-pop-up-close": "sendInvitePopUpClose",
            },

            properties: {
                user: Object,
                isOpen: {
                    type: Boolean,
                    value: false
                }
            },

            triggerInviteModalPopup: function(e) {
                if (_.isUndefined(this.$.sendInviteModal)) return
                this.set("isOpen", true);
                e.preventDefault();
                this.$.sendInviteModal.open();
            },

            sendInvitePopUpClose: function() {
                if (_.isUndefined(this.$.sendInviteModal)) return
                this.set("isOpen", false);
                this.$.sendInviteModal.close();
            }

        });
    </script>
</dom-module>
