<html-import html-href="lender-portal/pipeline/active-loan-overview.html"></html-import>
<html-import html-href="lender-portal/pipeline/closed-loan-overview.html"></html-import>
<html-import html-href="lender-portal/pipeline/application-overview.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/element-pagination.html"></html-import>

<dom-module id="lender-pipeline-list-view">
    <template>
        <div class="tab-pane fade in active clearfix">
             <div hidden$="[[ !showLoans.prospects ]]">
                <template is="dom-repeat"
                          items="[[ parsedList.prospects ]]"
                          as="prospects">
                    <application-overview list-index="[[ index ]]"
                                          application="[[ prospects ]]"
                                          lender="[[ userProfile.companyName ]]"></application-overview>
                </template>
                <div class="pagination-container pull-right">
                    <element-pagination listener-name="paginationChanged" element-length="{{ getLength(loans.prospects) }}"
                                        selected-index="{{ selectedIndex }}"
                                        page-length="{{ pageLength }}"
                                        hidden$="{{ !getLength(parsedList.prospects) }}"></element-pagination>
                </div>
            </div>

            <div hidden$="[[ !showLoans.application ]]">
                <template is="dom-repeat"
                          items="[[ parsedList.application ]]"
                          as="loan"
                          sort="[[ sortLoans(sortProperty.application, loans.application) ]]">
                    <active-loan-overview list-index="[[ index ]]"
                                          loan="[[ loan ]]"></active-loan-overview>
                </template>
                <div class="pagination-container pull-right">
                    <element-pagination listener-name="paginationChanged" element-length="{{ getLength(loans.application) }}"
                                        selected-index="{{ selectedIndex }}"
                                        page-length="{{ pageLength }}"
                                        hidden$="{{ !getLength(parsedList.application) }}"></element-pagination>
                </div>
            </div>

            <div hidden$="[[ !showLoans.active ]]">
                    <template is="dom-repeat"
                              items="[[ parsedList.active ]]"
                              as="loan"
                              sort="[[ sortLoans(sortProperty.active, loans.active) ]]">
                        <active-loan-overview list-index="[[ index ]]"
                                              loan="[[ loan ]]"></active-loan-overview>
                    </template>
                    <div class="pagination-container pull-right">
                        <element-pagination listener-name="paginationChanged" element-length="{{ getLength(loans.active) }}"
                                            selected-index="{{ selectedIndex }}"
                                            page-length="{{ pageLength }}"
                                            hidden$="{{ !getLength(parsedList.active) }}"></element-pagination>
                    </div>
                </div>

            <div hidden$="[[ !showLoans.closed ]]">
                <template is="dom-repeat"
                          items="[[ parsedList.closed ]]"
                          as="loan"
                          sort="[[ sortLoans(sortProperty.closed, loans.closed) ]]">
                    <closed-loan-overview list-index="[[ index ]]"
                                          loan="[[ loan ]]"></closed-loan-overview>
                </template>
                <div class="pagination-container pull-right">
                    <element-pagination listener-name="paginationChanged" element-length="{{ getLength(loans.closed) }}"
                                        selected-index="{{ selectedIndex }}"
                                        page-length="{{ pageLength }}"
                                        hidden$="{{ !getLength(parsedList.closed) }}"></element-pagination>
                </div>
            </div>
        </div>

        <event-hub id="hub">
            <event-subscription event="filter-tab-clicked"
                                handler="handleFilterTabClicked"></event-subscription>
            <event-subscription event="sort-property-selected"
                                handler="handleSortPropertySelected"></event-subscription>
        </event-hub>
        <http-request id="http"></http-request>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
    </template>
    <script>
        Polymer({
            is: "lender-pipeline-list-view",
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            observers: [
                "parseList(selectedIndex, loansCopy.prospects, loansCopy.application, loansCopy.active, loansCopy.closed, pageLength)"
            ],
            listeners:{
                "paginationChanged":"paginationChanged"
            },
            paginationChanged: function () {
                $('html, body').animate({
                    scrollTop: $('#content-dashboard').offset().top - 60
                }, 500);
            },
            properties: {
                displayedLoans: {
                    type: String,
                    value: "prospects"
                },
                loans: Object,
                loansCopy: Object,
                pageLength: {
                    type: Number,
                    value: 20
                },
                parsedList: {
                    type: Object,
                    value: {
                        prospects: [],
                        application: [],
                        active: [],
                        closed: []

                        // active: [],
                        // application: [],
                        // closed: []
                    }
                },
                selectedIndex: {
                    type: Number,
                    value: 0
                },
                showLoans: Object,
                sortProperty: {
                    type: Object,
                    value: {
                        prospects: "",
                        application: "",
                        active: "",
                        closed: ""
                    }
                }                
            },
            init: function () {
               
            },

            callInit: function () {
                this.async(this.init, 100);
            },

            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.callInit();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.callInit.bind(self));
                }

                this.setShowLoansToDefault();
            },

            getLength: function (array) {
                return array && array.length;
            },

            handleFilterTabClicked: function (event) {
                this.showFilteredLoans(event.filter);
                this.parseList(
                    this.selectedIndex,
                    this.loansCopy.prospects,
                    this.loansCopy.application,
                    this.loansCopy.active,
                    this.loansCopy.closed,
                    this.pageLength
                );
            },

            handleSortPropertySelected: function (event) {
                this.sortLoans(event.sortProperty, this.loansCopy[this.displayedLoans]);
            },

            paginateLog: function (selectedIndex, list) {
                var currentPageStart = selectedIndex * this.pageLength;
                var countSetToOne = currentPageStart === 0 ? 1 : currentPageStart + 1;

                if (list.length <= currentPageStart)
                    currentPageStart = 0;

                var paginatedList = list.slice(
                    currentPageStart,
                    currentPageStart + parseInt(this.pageLength)
                );

                return paginatedList;
            },

            parseList: function (
                selectedIndex,
                activeLoans,
                applications,
                closedLoans,
                pageLength
            ) {
                var list = [];

                if (this.loansCopy[this.displayedLoans] && this.loansCopy[this.displayedLoans].length > 0)
                    list = this.loansCopy[this.displayedLoans];

                list = this.paginateLog(selectedIndex, list);

                this.parsedList[this.displayedLoans] = list;
                this.notifyPath("parsedList." + this.displayedLoans);
            },

            setShowLoansToDefault: function () {
                this.showLoans = {
                    prospects: true,
                        application: false,
                        active: false,
                        closed: false

                    // active: true,
                    // application: false,
                    // closed: false
                };

                this.displayedLoans = "prospects";
            },

            showFilteredLoans: function (filter) {
                _.each(this.showLoans, function (boolean, filter) {
                    this.set("showLoans." + filter, false);
                    this.notifyPath("showLoans." + filter);
                }.bind(this));

                this.set("showLoans." + filter, true);
                this.set("displayedLoans", filter);
                this.notifyPath("showLoans." + filter);
            },

            sortLoans: function (sortProperty, loans) {
                if (!sortProperty || !loans || !loans.length) return;

                var loanType = this.displayedLoans;
                // list of loans in default order 
                var originalLoanList = this.loans[loanType];
                // originalLoansList used to keep consistent baseline for sorting
                // cloned each time to avoid inadvertently changing the order
                var sortedLoans = _.cloneDeep(originalLoanList);

                // DEFAULT is the original order the loans were in
                if (sortProperty !== "DEFAULT" && sortProperty !== "APPLICATION_STAGE") {
                    sortedLoans = sortedLoans.sort(compare(sortProperty));
                }
                else if (sortProperty === "APPLICATION_STAGE") {
                    var sortOrderList = ["summary",  "declarations", "declaration", "income", "assets", "asset", "profile", ""];
                    sortedLoans = _.sortBy(sortedLoans, function(item){
                        return sortOrderList.indexOf(item.statusName)
                    });
                }

                this.loansCopy[loanType] = sortedLoans;
                this.notifyPath("loansCopy." + [loanType]);

                function compare(sortProperty) {
                    switch (sortProperty) {
                        case "NAME":
                            var comp = compareBy(["applicants[0].firstName", "applicants[0].lastName"]);
                            return comp;
                        case "ADDRESS":
                            return compareBy(["applicants[0].address", "applicants[0].city"]);
                        case "REFERRAL_SOURCE":
                            return compareBy(["sourceType", "applicationId"]);
                        case "DAYS_TO_CLOSE":
                            return compareBy(["daysToClose"], getDaysLeft);
                        case "LOAN_TYPE":
                            return compareBy(["loanType"]);
                        case "PROGRESS_STATUS":
                            var sortOrderList = ["review", "processing", "underwriting", "documents", "funding"];
                            return compareByValue("status.name", sortOrderList);
                        default:
                            return 0;
                    }
                }

                // used to sort by a specific property
                function compareBy(propertyPaths, callback) {
                    return function (a, b) {
                        var clonedA = _.cloneDeep(a);
                        var clonedB = _.cloneDeep(b);

                        if (callback) {
                            clonedA = callback(clonedA);
                            clonedB = callback(clonedB);
                        }

                        var returnValue = 0;

                        for (var i = 0; i < propertyPaths.length; i++) {
                            var valueA = _.get(clonedA, propertyPaths[i]);
                            var valueB = _.get(clonedB, propertyPaths[i]);

                            if(valueA && valueA.toLowerCase) valueA = valueA.toLowerCase();
                            if(valueB && valueB.toLowerCase) valueB = valueB.toLowerCase();

                            if (valueA < valueB) {
                                returnValue = -1;
                                break;
                            }

                            if (valueA > valueB) {
                                returnValue = 1;
                                break;
                            }
                        }

                        return returnValue;
                    };
                }

                // used to sort by a certain order of property values
                // sortOrderList is an array of values in the desired order of sorting
                function compareByValue(propertyPath, sortOrderList, callback) {
                    return function (a, b) {
                        var clonedA = _.cloneDeep(a);
                        var clonedB = _.cloneDeep(b);

                        if (callback) {
                            clonedA = callback(clonedA);
                            clonedB = callback(clonedB);
                        }

                        var returnValue = 0;

                        for (var i = 0; i < sortOrderList.length; i++) {
                            var sortValue = sortOrderList[i];
                            var valueA = _.get(clonedA, propertyPath);
                            var valueB = _.get(clonedB, propertyPath);

                            if(valueA) valueA = valueA.toLowerCase();
                            if(valueB) valueB = valueB.toLowerCase();

                            if (valueA === sortValue) {
                                returnValue = -1;
                                break;
                            }

                            if (valueB === sortValue) {
                                returnValue = 1;
                                break;
                            }
                        }

                        return returnValue;
                    }
                }

                function getApplicationStatus(application) {
                    var statusName = "";

                    _.each(application.sections, function (section) {
                        if (section.isCompleted) {
                            status.statusName = section.sectionName;
                        }
                    }.bind(this));

                    return {
                        statusName: statusName
                    };
                }

                function getDaysLeft(application) {
                    var todayDate = moment();
                    var daysToClose = moment(application.expirationDate).diff(todayDate, 'days');
                    if(daysToClose <=0)
                        daysToClose = 0;
                    return {
                        daysToClose: daysToClose
                    };
                }
            }
        });
    </script>
</dom-module>