<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<dom-module id="lender-pipeline-sort">
    <style>
         :host::content .ui-options-container {
            margin-top: 0 !important;
        }
    </style>
    <template>
        
        <div class="bootstrap-select">
            <ui-form id="form">
              <ui-container auto-save=false
                    default-value="">
                    <ui-options hidden$="[[ hideDropdown.prospects ]]"
                                id="sortBy"
                                name="sortBy"
                                items="[[ sortOptions.application ]]"
                                button-text="Sort by"
                                value="{{ selectedOption.prospects }}"
                                on-change="handleSortPropertySelection">
                    </ui-options>
                </ui-container>
                <ui-container auto-save=false
                              default-value="">
                    <ui-options hidden$="[[ hideDropdown.application ]]"
                                id="sortBy"
                                name="sortBy"
                                items="[[ sortOptions.active ]]"
                                button-text="Sort by"
                                value="{{ selectedOption.application }}"
                                on-change="handleSortPropertySelection">
                    </ui-options>
                </ui-container>
            </ui-container>
            <ui-container auto-save=false
                          default-value="">
                <ui-options hidden$="[[ hideDropdown.active ]]"
                            id="sortBy"
                            name="sortBy"
                            items="[[ sortOptions.active ]]"
                            button-text="Sort by"
                            value="{{ selectedOption.active }}"
                            on-change="handleSortPropertySelection">
                </ui-options>
            </ui-container>
                <ui-container auto-save=false
                              default-value="">
                    <ui-options hidden$="[[ hideDropdown.closed ]]"
                                id="sortBy"
                                name="sortBy"
                                items="[[ sortOptions.closed ]]"
                                button-text="Sort by"
                                value="{{ selectedOption.closed }}"
                                on-change="handleSortPropertySelection">
                    </ui-options>
                </ui-container>
            </ui-form>
        </div>
        <event-hub id="hub">
            <event-subscription event="filter-tab-clicked"
                                handler="handleFilterTabClicked"></event-subscription>
        </event-hub>
    </template>

    <script>
        Polymer({
            is: "lender-pipeline-sort",

            behaviors: [eventHub],

            properties: {
                currentFilter: {
                    type: String,
                    value: "active",
                    observer: "updateHideDropdownObject"
                },

                hideDropdown: {
                    type: Object,
                    value: {
                        prospects: false,
                        application: true,
                        active: true,
                        closed: true

                        // active: false,
                        // application: true,
                        // closed: true
                    }
                },

                selectedOption: {
                    type: Object,
                    value: {
                        prospects: "",
                        application: "",
                        active: "",
                        closed: ""

                        // active: "",
                        // application: "",
                        // closed: ""
                    }
                },

                sortOptions: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                }
            },

            attached: function () {
                this.set("sortOptions", this.config.sortOptions);
            },

            handleFilterTabClicked: function (event) {
                this.set("currentFilter", event.filter);
            },

            handleSortPropertySelection: function (event) {
                event.stopPropagation();

                if (!event.target.value) return;

                _.each(this.sortOptions[this.currentFilter], function (option) {
                    if (option.label === this.selectedOption[this.currentFilter]) {
                        this.publish("sort-property-selected", {
                            filter: this.currentFilter,
                            sortProperty: option.value
                        });
                    }
                }.bind(this));
            },

            updateHideDropdownObject: function (currentFilter) {
                if (!currentFilter) return;

                _.each(this.hideDropdown, function (boolean, filter) {
                    this.set("hideDropdown." + filter, true);
                }.bind(this));

                this.set("hideDropdown." + currentFilter, false);
            }
        });
    </script>
</dom-module>