<dom-module id="password-instruction">
    <template>
        <nav class="header nobg navbar navbar-fixed-top" role="navigation">
            <div class="navbar-header"> <a href="javascript:void(0);" class="logo" title="Logo"></a> </div>
        </nav>

        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center vcenter-vspace clearfix">

                <div class="get_started margin0 animated fadeInUp clearfix">
                    <h1 class="text-center">Check your email</h1>
                    <p class="text-center margin0">{{appTenant.tenantDisplayName}} sent you an email containing instructions on how to create a new password.</p>
                </div>

            </div>
        </div>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "password-instruction"
        });
    </script>
</dom-module>
