<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>

<dom-module id="password-change">
  <template>
      <public-header></public-header>
      <div class="container-fluid landing_bg no-pad clearfix">
          <div class="vertical-center vcenter-vspace clearfix">
              <div class="get_started animated fadeInUp clearfix">
                  <div class="login-form clearfix">
                      <p class="text-center">You have successfully changed the password</p>

                      <div class="btns">
                          <ui-button
                                  id="acceptButton"
                                  disabled="{{ busy }}"
                                  disabled-text="Saving..."
                                  color="primary"
                                  fullWidth=true
                                  class=""
                                  on-click="submitLoginPage">
                              Access my portal
                          </ui-button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </template>
  <script>
      Polymer({
          is: "password-change",
          submitLoginPage: function () {
              window.location.hash = "#/login";
          }

      });
  </script>
</dom-module>
