<dom-module id="password-instruction">
    <template>
    <div class="get_started">
        <div class="get_started">
            <h1>Check your email</h1>
            <p>{{appTenant.tenantDisplayName}} sent you an email containing instructions on how to create a new password.</p>
        </div>
     </div>
     <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "password-instruction"
        });
    </script>
</dom-module>