<dom-module id="style-sheet">
    <template>
        <alloy-config id="config"
                      alloy-configuration="{{coreConfig}}">
        </alloy-config>
        <alloy-tenant id="tenant"
                      alloy-tenant="{{tenantConfig}}">
        </alloy-tenant>
    </template>
    <script>
        /**
         * Use this element to load css styles for the purpose of applying
         * global styling. Styles should be inside <style> tags inside an html
         */
        Polymer({
            is: "style-sheet",

            properties: {
                cssFile: String
            },

            attached: function() {
                var base = this.coreConfig.base;
                var tenant = this.tenantConfig.name;
                var url = [
                    base,
                    tenant,
                    "/",
                    this.cssFile
                ].join("");

                var self = this;
                $(document).ready(function() {
                    $('head').append([
                        '<link rel="import" href="',
                        url,
                        '" />'
                    ].join(""));
                });
            }
        });
    </script>
</dom-module>