<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/sk-wave.html"></html-import>
<html-import html-href="services/form-validators.html"></html-import>
<dom-module is="auth-login">
    <template>
        <div id="error-message" class="alert alert-danger" hidden$="{{!hasError}}"></div>
        <div class="animated fadeInDown">
            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-control" value="{{username::input}}">
            </div>
            <div class="form-group">
                <input id="password" type="password" placeholder="Password" class="form-control" value="{{password::input}}">
            </div>
            <spinkit-wave hidden$="{{!spin}}"></spinkit-wave>
            <button id="log-in" hidden$="{{spin}}" on-click="authenticateUser" class="btn btn-primary block full-width m-b">Log In</button>
            <div><a href="javascript:;" on-click="resetPassword">Forgot Password?</a></div>
        </div>
        <identity-service id="identity"></identity-service>
        <form-validators id="validators"></form-validators>
    </template>
    <script>
        Polymer({
            is: "auth-login",
            behaviors: [eventHub],
            properties : {
                authenticationInfo: {
                    type: Object,
                    notify: true
                },
                hasError: {
                    type: Boolean,
                    value: false
                },
                spin: {
                    type: Boolean,
                    value: false
                },
                events: {
                    value: {
                        success: "login.successful"
                    },
                    type: Object
                }
            },
            attached : function() {
                var self = this;

                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init : function() {
                var self = this;
                
                self.url = "/";
                self.username = "";
                self.password = "";
                
                return function() {
                    $("#username").on("blur keydown", function(e) {
                        if (e.which !== 13 && e.type !== "blur") {
                            return;
                        } else if (e.which === 13 && e.type !== "blur") {
                            return $(this).trigger("blur");
                        }
                       
                       $("#password").focus();
                    });
                    $("#password").on("keydown", function(e) {
                        if (e.which === 13) {
                            self.authenticateUser();
                        }
                    })
                }
            },
            resetPassword : function() {
                window.location.hash = "#/securityRequest";
            },

            isFormValid: function () {
                var username, password;

                username = $("#username");
                password = $("#password");

                if (this.$.validators.isEmpty(username.val())) { 
                    this.setErrorMessage("Username is required.", username); 
                    return false;
                }

                if (this.$.validators.isEmpty(password.val())) {
                    this.setErrorMessage("Password is required.", password);
                    return false;
                }

                return true;
            },

            authenticateUser : function(e) {
                var self = this;
                
                if (e) {
                    e.preventDefault();
                }

                if (!this.isFormValid()) { return }
                
                self.spin = true;

                if(!self.username || !self.password) {
                    self.spin = false;
                    return self.setErrorMessage("Your username or password was empty");
                }
                                
                self.$.identity.login(self.username, self.password)
                    .done(function(user) {
                        self.spin = false;
                        self.publish(self.events.success, user);
                    })
                    .fail(function(err) {
                        self.spin = false;
                        return self.setErrorMessage("Your username or password was incorrect");
                    })
            },
            resetLogin : function() {
                this.forgotPassword = false;
                this.resettingPassword = false;
            },
            setErrorMessage : function(message, field) {
                $(field).addClass("error");
                $("#error-message", this).text(message);
                this.hasError = true;
            }
        });
    </script>
</dom-module>