<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-valid-username.html"></html-import>

<dom-module is="request-password">
    <style>
        :host {
            --form-control-border-has-error: 0px;
        }
    </style>
    <template>
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center vcenter-vspace forgotpass clearfix">
                <div class="get_started animated fadeInUp clearfix">
                    <h1 class="text-center">Forgot Password?</h1>

                    <p class="text-center">Make sure you can receive email from <br/>{{appTenant.templateVariables.privacySupportEmail}}.</p>

                    <div class="login-form clearfix">
                        <ui-form id="form" data="{{ formData }}">
                            <ui-error-summary id="errorSummary"></ui-error-summary>
                                <div class="form-field">
                                <ui-container floating-label="Email" is-required=true auto-save=false>
                                    <ui-input name="email">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Email.</ui-require-field>
                                            <ui-is-email>Email address is not valid.</ui-is-email>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                              </div>  
                        </ui-form>
                        <div class="btns signup-btn-space">
                            <ui-button
                                    id="acceptButton"
                                    disabled="{{ busy }}"
                                    disabled-text="Saving..."
                                    color="primary"
                                    fullWidth=true
                                    class=""
                                    on-click="submit">
                                SEND EMAIL
                            </ui-button>
                        </div>
                        <div class="cancel-link text-center">
                            <a href="javascript:void(0);" on-click="resetLogin">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <identity-service id="identity"></identity-service>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "request-password",
            behaviors: [
                eventHub
            ],

            properties: {
                busy: Boolean,
                portal: String
            },

            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.portal = this.configuration.apps.securityLogin.configuration.portal;
            },

            init: function () {
            },

            resetLogin: function () {
                window.location.hash = "#/login";
            },

            submit: function (e) {
                var self = this;
                self.isValid().then(function (isValid) {
                    if (isValid) {
                        self.set("busy", true);
                        self.$.identity.requestToken(self.get("formData.email"), self.portal)
                                .done(function () {
                                    self.set("busy", false);
                                    window.location.hash = "#/password-instruction";
                                })
                                .fail(function (err) {
                                    self.set("busy", false);
                                    self.$.errorSummary.setErrors(err.statusText);
                                });
                    }
                    else {
                        self.$.errorSummary.setErrors(self.$.form.getErrors());
                    }
                }.bind(self));
            },

            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function(){
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                //Validation OK on the screen go ahead
                                return true;
                            } else {
                                //Validation Failed
                                return false;
                            }
                        });
            }
        })
    </script>
</dom-module>