<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-equal.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-password-criteria.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-valid-username.html"></html-import>

<dom-module id="reset-password">
    <template>
        <style>
            :host {
                --form-control-border-has-error: 0px;
            }
        </style>
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center vcenter-vspace clearfix">
                <div class="get_started animated fadeInUp clearfix">
                    <h1 class="text-center">Reset password</h1>

                    <p class="text-center">You have requested to reset the password.</p>

                    <div class="login-form clearfix">

                        <ui-form id="form"
                                 data="{{ formData }}">
                            <ui-error-summary id="errorSummary"></ui-error-summary>
                                <div class="form-field">
                                <ui-container floating-label="Email" is-required=true auto-save=false>
                                    <ui-input name="email">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Email.</ui-require-field>
                                            <ui-is-email>Email address is not valid.</ui-is-email>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                                <div class="form-field">
                                <ui-container floating-label="Password" control-type="TextPassword"
                                              is-required=true auto-save=false
                                              help-text-body="Your password must be at least 8 characters and contain at least one letter and one number."
                                              help-text-placement="right" help-text-trigger="focus"
                                              help-text-selector-element='self'>
                                    <ui-input name="password"
                                              type="password">
                                        <ui-validators>
                                            <ui-require-field>New password is required.</ui-require-field>
                                            <ui-is-password-criteria>Password criteria don't match.
                                            </ui-is-password-criteria>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                                <div class="form-field">
                                <ui-container floating-label="Confirm Password" control-type="TextPassword"
                                              is-required=true auto-save=false>
                                    <ui-input name="confirmPassword"
                                              type="password">
                                        <ui-validators>
                                            <ui-require-field>Re-enter password is required.</ui-require-field>
                                            <ui-is-equal
                                                    reference-value="[[ formData.password ]]">
                                                Password and Re-enter Password must match.
                                            </ui-is-equal>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                        </ui-form>

                        <div class="btns">
                            <ui-button
                                    id="acceptButton"
                                    disabled="{{ busy }}"
                                    disabled-text="Saving..."
                                    color="primary"
                                    fullWidth=true
                                    class=""
                                    on-click="submit">
                                RESET
                            </ui-button>
                        </div>
                        <div class="cancel-link text-center">
                            <a href="javascript:void(0);" on-click="resetLogin">Cancel</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <url-parser id="urlParser"></url-parser>
        <alloy-config id="alloyConfig"
            alloy-configuration="{{ configuration }}"></alloy-config>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "reset-password",
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                busy: Boolean,
                portal: String
            },

            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                var self = this;
                self.portal = self.configuration.apps.securityLogin.configuration.portal;
                self.lockingUserFromSuccess();
            },
            lockingUserFromSuccess: function () {
                var self = this;
                var token = self.$.urlParser.getParams().token || "";
                var success = self.$.urlParser.getParams().success || "";
                if(success == "true") {
                    // self.$.identity.lockUserFromSuccess(token)
                    //     .done(function(user) {
                    //         self.set("busy", false);
                    //     })
                    //     .fail(function(err) {
                    //         self.set("busy", false);
                    //     })    
                     return this.ensure("identity")
                        .then(function (service) {
                            return service.lockUserFromSuccess(token);
                        });               
                }
                
            },
            passwordChanged: function (username, password) {
                var self = this;
                self.set("busy", true);

                if(!username || !password) {
                    self.set("busy", false);
                    return self.$.errorSummary.setErrors("Your username or password was empty");
                }
                
                self.$.identity.login(username, password, self.portal)
                    .done(function(user) {
                        self.set("busy", false);
                        window.location.hash = self.configuration.private.url;
                    })
                    .fail(function(err) {
                        self.set("busy", false);
                        return self.$.errorSummary.setErrors("Your username or password was incorrect");
                    })
                //window.location.hash = "#/password-change";
            },
            resetLogin: function () {
                window.location.hash = "#/login";
            },

            submit: function (e) {
                var self = this;
                self.isValid().then(function (isValid) {
                    if (isValid) {
                        self.set("busy", true);
                        self.token = self.$.urlParser.getParams().token;
                        var username = this.get("formData.email");
                        var password = this.get("formData.password");
                        self.$.identity.resetPassword(username, password, self.token)
                                .done(function () {
                                    self.set("busy", false);
                                    self.passwordChanged(username, password);
                                })
                                .fail(function (err) {
                                    var errorMessage = (err.responseJSON ?( err.responseJSON.message.split("\n")[0]): "User "+err.statusText);
                                    self.set("busy", false);
                                    self.$.errorSummary.setErrors(errorMessage);
                                });
                    }
                    else {
                        self.$.errorSummary.setErrors(self.$.form.getErrors());
                    }
                }.bind(self));
            },

            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function(){
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                //Validation OK on the screen go ahead
                                return true;
                            } else {
                                //Validation Failed
                                return false;
                            }
                        });
            }
        })
    </script>
</dom-module>
