<html-import html-href="security/security-login.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<dom-module id="security-borrower-login">
    <template>
    <style>
        /**
            Note: We are unable to move this to common place (ui-container) as this is limitation of Polymer that,
            we can only override style property where that element is :-moz-user-disabled
        **/
        /** Override error border for input **/
        :host {
            --form-control-border-has-error: 0px;
        }
		:host::content .modal-dialog{height: 90vh;}
		:host::content .modal-content{width: 70%;}
		:host::content .modal-body {margin: 0;margin-top: 20px;padding: 0 30px 0 0;height: calc(100% - 60px);overflow-x: inherit;text-align: left;}
		:host::content  .modal-header {margin: 0;padding: 10px 0;padding-bottom: 10px;font-size: 18px;border-bottom: 1px solid #eee;}
		
		@media only screen and (max-width: 1023px) {
			:host::content .modal-content {width: 70%;}
		}
		@media only screen and (max-width: 767px) {
		:host::content .modal-body {margin-top: 15px;}
			}
		@media only screen and (max-width: 600px) {
			:host::content .modal-body {margin-top: 10px;}
		}
		@media only screen and (max-width: 479px) {
			:host::content .modal-content {width: 94%;}
		}
		@media only screen and (max-width: 362px) {
			:host::content .modal-body {height: calc(100% - 90px);}
		}
    </style>
        <security-login portal="{{ portal }}"></security-login>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <user-profile-service id="userProfileService"></user-profile-service>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "security-borrower-login",

            properties: {
                portal: String
            },

            behaviors: [eventHub,ensureDependenciesBehavior],

            attached: function () {
                var self = this;
                var token = self.$.session.get("token");
                if(token){
                    self.$.session.isAuthorized().then(function(){
                        window.location.hash = self.configuration.private.url;
                    })
                }
                this.subscribe("login.successful", this._redirect.bind(this));
                this.portal = this.configuration.apps.securityLogin.configuration.portal;
            },

            getDefaultPrivateApplication: function () {
                return this.configuration.private.url;
            },

            _redirect: function (applications) {
                var self = this;
                self.ensure("userProfileService")
                    .then(function (userService) {
                        userService.fetchSignedInUsersProfile().then(function (response) 
                        {          
                            if(applications && applications.entityId  && applications.entityType && applications.entityType === "application")
                            {
                                if(applications.referenceApplicationNumbers!=null && applications.referenceApplicationNumbers.length>0){
                                    window.location.hash = self.getDefaultPrivateApplication();
                                window.location.reload();
                                }
                                else{
                                // when invited by co-borrower by borrower and already signed up that time directly go to the application experience of that invited application.
                                window.location.hash = "#/start-application/id:" +applications.entityId;
                                window.location.reload();
                                }
                            }   
                            else if(applications && applications.entityId  && applications.entityType && applications.entityType === "user" && applications.currentUserRole!=null && applications.currentUserRole.toLowerCase() === "borrower")
                            { // invited by borrower by lender as NEW LOAN that time need to redirect to multi application.
                                self.$.session.set("borrower-application-is-copy-data", true); 
                                self.$.session.set("borrower-application-email-id", applications.inviteEmail);
                                window.location.hash = self.getDefaultPrivateApplication();
                                window.location.reload();
                            }
                            else if(applications && applications.entityId  && applications.entityType && applications.entityType === "user")
                            { // already invited as co-borrower by borrower and signed up . after that when invited by lender as borrower that time need to create new application.
                                window.location.hash = "#/start-application";
                                window.location.reload();
                            }                            
                            else
                            {                                        
                            window.location.hash = self.getDefaultPrivateApplication();
                            window.location.reload();
                            }
                                                     
                        });
                    });                
            }           
        })
    </script>
</dom-module>