<html-import html-href="security/security-login.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>

<link rel="import"
      href="../lending-usa-theme.html">

<dom-module id="security-default-login">
    <template>
        <style include="lending-usa-theme"></style>
        <security-login portal="{{ portal }}"></security-login>
        <alloy-config id="alloyConfig"
                      alloy-configuration="{{ configuration }}"></alloy-config>
        <session-manager id="session"></session-manager>
        <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "security-default-login",

            properties: {
                portal: String
            },

            behaviors: [eventHub],

            attached: function () {
                this.subscribe("login.successful", this.handleLoginSuccessful.bind(this));
                this.portal = this.configuration.apps.login.configuration.portal;
            },

            redirect: function () {
                window.location.hash = this.configuration.private.url;
            },

            handleLoginSuccessful: function (payload) {
                var self = this;

                self.$.identityService.getCurrentUser()
                    .then(function (user) {
                        self.$.session.setSessionObject("user", user);
                        self.redirect();
                    })
                    .catch(function (error) {
                        console.error("Unable to find retrieve your user information.")
                    })

            }
        })
    </script>
</dom-module>