<html-import html-href="services/invitation-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="templates/template-loader.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>

<dom-module is="security-login">
    <style>
        :host {
            --form-control-border-has-error: 0px;
        }
		:host::content .modal-dialog{height: 90vh;}
		:host::content .modal-content{width: 70%;}
		:host::content .modal-body {margin: 0;margin-top: 20px;padding: 0 30px 0 0;height: calc(100% - 60px);overflow-x: inherit;text-align: left;}
		:host::content  .modal-header {margin: 0;padding: 10px 0;padding-bottom: 10px;font-size: 18px;border-bottom: 1px solid #eee;}
		
		@media only screen and (max-width: 1023px) {
			:host::content .modal-content {width: 70%;}
		}
		@media only screen and (max-width: 767px) {
		:host::content .modal-body {margin-top: 15px;}
			}
		@media only screen and (max-width: 600px) {
			:host::content .modal-body {margin-top: 10px;}
		}
		@media only screen and (max-width: 479px) {
			:host::content .modal-content {width: 94%;}
		}
		@media only screen and (max-width: 362px) {
			:host::content .modal-body {height: calc(100% - 90px);}
		}
    </style>
    <template>
    <public-header></public-header>
    
   <div class="container-fluid no-pad clearfix">
  <div class="vertical-center vcenter-vspace clearfix">
  
        <div class="get_started animated fadeInUp clearfix">
                <h1 class="text-center">Welcome Back</h1>

                <p class="text-center">We offer one intuitive place to manage and upload all your mortgage information.</p>

                <div class="login-form clearfix">
                    <ui-form id="form" data="{{ formData }}">
                        <ui-error-summary id="errorSummary"></ui-error-summary>
                           <div class="form-field">
                            <ui-container floating-label="Email" is-required=true auto-save=false control-type="TextEmail">
                                <ui-input name="email" value="{{ inviteEmail }}">
                                    <ui-validators>
                                        <ui-require-field>Please enter your Email.</ui-require-field>
                                        <ui-is-email>Email address is not valid.</ui-is-email>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                            </div>
                            <div class="form-field">
                            <ui-container floating-label="Password"
                                          is-required=true auto-save=false>
                                <ui-input name="password"
                                          type="password">
                                    <ui-validators>
                                        <ui-require-field>Password is required.</ui-require-field>
                                    </ui-validators>
                                </ui-input>
                                <!--<ui-popover title="Password" custom-icon=true body-text="Password must contain one Upper, Lower, digit and a Special character (!@#$%^*_)"><img
                                        src="../images/lock_img.png" alt=""></ui-popover>-->
                            </ui-container>
                        </div>
                        <div class="forgot_it text-right clearfix"><a on-click="resetPassword" href="javascript:void(0);">Forgot Password?</a></div>
                    </ui-form>
                    <div class="btns">
                        <ui-button
                                id="acceptButton"
                                disabled="{{ busy }}"
                                disabled-text="Logging In....."
                                color="primary"
                                fullWidth=true
                                class=""
                                on-click="authenticateUser">
                            LOG IN
                        </ui-button>
                    </div>
                    <div class="or_div" hidden$="[[isLenderPortal]]">  </div>
                    <div class="login_social" hidden$="[[isLenderPortal]]">
                        <button class="btn fb"></button>
                        <button class="btn in"></button>
                    </div>
                    <div class="login_terms_div text-center" hidden$="[[isLenderPortal]]">
                            By continuing you agree to the&nbsp;<ui-modal-trigger modal-id="termsOfService" backdrop><a class="cursr">Terms of Service.</a></ui-modal-trigger>
                    </div>
                </div>
            </div>
            
        </div>
</div>
        <ui-modal id="termsOfService" title="TERMS OF SERVICE" fit-to-screen>
            <template-loader name="TermsofService" version="1.0"></template-loader>
        </ui-modal>
        
        <div class="btn-bottom"><a class="btn btn-block back-to-signup" href="javascript:void(0);" on-click="resetSignup">SIGN UP</a></div>
        <url-parser id="urlParser"></url-parser>
        <invitation-service id="invitationService"></invitation-service>
        <session-manager id="session"></session-manager>
        <identity-service id="identity"></identity-service>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <event-hub></event-hub>
    </template>
    <script>
        Polymer({
            is: "security-login",

            behaviors: [eventHub,
                ensureDependenciesBehavior],

            properties: {
                authenticationInfo: {
                    type: Object,
                    notify: true
                },
                events: {
                    value: {
                        success: "login.successful"
                    },
                    type: Object
                },
                portal: String,
                invitationId: String,

                entityType: {
                    type: String,
                    value: "application"
                },
                entityId: String,
                currentUserRole: String,
				isLenderPortal: Boolean,
                /*
                    Invitation token if passed in url
                */
                invitationToken: String,
                inviteEmail: String,
                referenceApplicationNumbers: {
                    type: Array,
                    value: ""
                }
            },

            attached: function () {
                var self = this;
                var token= self.$.session.get("token");
                if(token){
                    self.$.session.isAuthorized().then(function(){
                        window.location.hash = self.configuration.private.url;
                    })
                }
                //Invitation token from url
                this.invitationToken = this.$.urlParser.getParams().refid;
                
                if (this.invitationToken) {
                    self.ensure('invitationService').then(function (invitationService) {
                        invitationService.getInvitationDetails(self.invitationToken).then(function (invitationDetails) {
                            self.inviteEmail = invitationDetails.inviteEmail;
                            self.referenceApplicationNumbers = invitationDetails.referenceApplicationNumbers;
                        });
                    });
                }

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                $('[data-toggle="tooltip"]').tooltip();
				if(this.portal === "back-office")
					this.isLenderPortal = true;
				else
					this.isLenderPortal = false;
					
				if (!this.showSignUpOption())
                    this.querySelector('.back-to-signup').setAttribute("hidden", true);
                else
                    this.querySelector('.back-to-signup').removeAttribute("hidden");
            },

            /*Validate token is passed*/
            validateInvitationToken: function () {
                var self = this;

                var _invitaionToken = this.$.urlParser.getParams().refid;
                if (_invitaionToken) {

                    return  Promise.resolve( self.ensure('invitationService')
                            .then(function (invitationService) {
                              return  invitationService.getInvitationDetails(_invitaionToken)
                                        .then(function (invitationDetails) {
                                            self.entityType = invitationDetails.entityType;
                                            self.entityId = invitationDetails.entityId;
                                            self.currentUserRole = invitationDetails.role;
                                            self.inviteEmail = invitationDetails.inviteEmail;
                                            return invitationDetails;
                                        })
                                        .then(function (response) {
                                            return invitationService
                                                     .verifyToken(self.entityType, _invitaionToken, '', self.formData.email)
                                                     .then(function(resToken){                        
                                                         return resToken;
                                                     });
                                        })
                                        .catch(function (error) {
                                            throw error;
                                        });
                            }));
                } else {
                    //Resolve
                    return Promise.resolve();
                }
            },

            processQuestionnaireGivenInviteId: function() {
                var self = this;
                if(self.invitationId)
                {
                    return  self.ensure('questionnaireService')
                                .then(function(questionnaireService){
                                    return questionnaireService
                                      .processQuestionnaireGivenInviteId(self.invitationId)
                                      .then(function(response){
                                         return response;
                                      });
                                });
                }
                else{
                    return new Promise(function (resolve, reject) {
                        resolve(true);
                    });
                }
            },

            /*Call Endpoint to accept invitation is applicable*/
            acceptInvitation: function (userId) {
                var self = this;

                var _invitaionToken = this.$.urlParser.getParams().refid;
                if (_invitaionToken) {
                    //verify invitation id
                    return self.$.invitationService.updateToken(self.entityType, _invitaionToken, self.formData.email, userId)
                       .then(function (response) {
                        return response;
                    }, function (error) {
                        //Re throw error
                        throw error;
                    });
                } else {
                    //Resolve
                    return Promise.resolve();
                }
            },

            resetPassword: function () {
                window.location.hash = "#/securityRequest";
            },

            authenticateUser: function (e) {
                var self = this;
                //Validate all ui-container first
                self.isValid()
                        .then(function (isValid) {
                            if (isValid) {
                                //
                                self.set("busy", true);
                                //Let's first reset errors in error ui-error-summary
                                self.$.errorSummary.setErrors([]);
                                //Verify token
                                self.validateInvitationToken().then(function (resToken) {

                                    if(resToken && resToken.id)
                                    {
                                        self.invitationId= resToken.id;
                                    }

                                    //Login
                                    return self.$.identity.login(self.get("formData.email"), self.get("formData.password"), self.portal)
                                            .then(function (user) {
                                                user.entityId = self.entityId;
                                                user.entityType = self.entityType;
                                                user.currentUserRole = self.currentUserRole;
                                                user.inviteEmail = self.inviteEmail;
                                                user.referenceApplicationNumbers = self.referenceApplicationNumbers;
                                                if(self.invitationId)
                                                {
                                                    self.processQuestionnaireGivenInviteId()
                                                    .then(function (res){
                                                        //Accept invitation if applicable
                                                        self.acceptInvitation(user.userId);
                                                        //
                                                        self.publish(self.events.success, user);
                                                    })
                                                    .catch(function(error){
                                                        if (error) {
                                                            self.$.errorSummary.setErrors("Error while processing request.");
                                                        }
                                                        self.set("busy", false);
                                                    });
                                                }
                                                else
                                                {
                                                    //Accept invitation if applicable
                                                    self.acceptInvitation(user.userId);
                                                    //
                                                    self.publish(self.events.success, user);
                                                }
                                            })
                                }).catch(function (error) {
                                    self.set("busy", false);
                                    //self.$.errorSummary.setErrors("Invalid Username or Password.");
                                    if (error && error.responseJSON && error.responseJSON.message) {
                                        self.$.errorSummary.setErrors(error.responseJSON.message);
                                    }
                                });
                            }
                        }.bind(self));
            },

            resetLogin: function () {
                this.forgotPassword = false;
                this.resettingPassword = false;
            },

            resetSignup: function () {
                window.location.hash = "#/sign-up";
            },

            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function () {
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                //Validation OK on the screen go ahead
                                return true;
                            } else {
                                //Validation Failed
                                return false;
                            }
                        });
            },

            /*
             * Check if the sign up button should be visible to the user
             * Show for borrower portal, for lender portal show only if url has invitation token
             */
            showSignUpOption: function () {
                var self = this;
                var _invitaionToken = this.$.urlParser.getParams().refid;
                if (self.portal !== "borrower") {
                    if (_invitaionToken)
                        return true;
                    else
                        return false;
                }
                return true;
            }
        })
    </script>
</dom-module>