<dom-module id="large-deposits-list-styles">
    <template>
    <style>
		.bank-statements li{width:20%;}

        .bank-statements li:nth-child(1){width:12%;}
        .bank-statements li:nth-child(2){width:12%;}
        .bank-statements li:nth-child(3){width:32%;}
        .bank-statements li:nth-child(4){width:32%;}
        .bank-statements li:nth-child(5){width:12%;}
        .bank-statements li:nth-child(6),
        .bank-statements li:nth-child(7),
        .bank-statements li:nth-child(8),
        .bank-statements li:nth-child(10){width:10%; word-break: break-all;}
        .bank-statements li:nth-child(9){width:12%; word-break: break-all;}
    
        .div-hidden {
            opacity: -1;
        }
    
        .div-margin-top {
            margin-top: 12px;
            cursor: pointer;
        }
    
        .div-cursor {
            cursor: pointer;
        }
        a {
            cursor: pointer;
        }
        :host::content .floating-group {
            margin-right: 4px !important;
            }
        :host::content input {
            font-size: 14px !important;
            }
            .div-margin{
            margin-bottom: 10px;
            }
            .bank-statements a.disabled, .bank-statements button.disabled {
            pointer-events: none;
            cursor: default;
            }
            
            span
            {
                cursor: pointer;
            }
            .no-click, .no-click span{
                cursor: not-allowed;
                pointer-events: none;
            }
            .liNewSave{
                width:10% !important;
            }
            .bank-statements-wrap{ margin-bottom:20px;}
            .note {color: #999;font-size: 12px;font-style: italic;margin:30px 0}
            .note span {display: inline-block;padding-top: 15px;}
            @media only screen and (max-width:1025px){
            .bank-statements-wrap{width:100%; overflow-x:auto;}
            .bank-statements{width:1030px;}
            }
            @media only screen and (max-width:767px){
            .note .pull-right{ float:none !important; margin-top:30px}
            }
            ul.style-scope.large-deposits-list li::before {
                content: '' !important;
            }
            li::before {
                content: '' !important;
            }
            ul.style-scope.large-deposits-list>li::before{
                content: '' !important;
            }
            .ql-editor ul > li::before
            {
                content: '' !important;
            }
            #blankUl::before { content: "";}
            #blankUl>li::before { content: "";}
    </style>
    </template>
    <script>
        Polymer({
            is: "large-deposits-list-styles"
        })
    </script>
    </dom-module>