
<link rel="import" href="large-deposits-list-styles.html">
<link rel="import" href="../styles.html">
<dom-module id="large-deposits-list">
    <template>
        <!-- Styles -->
        <style include="assets-large-deposits-styles"></style>
        <style include="large-deposits-list-styles"></style>
        <!-- HTML -->
        <div class="bank-statements-wrap clearfix">
            <div class="bank-statements clearfix">
                <ul class="titles clearfix">
                    <li style="width:2%"></li>
                    <li class="title">Date</li>
                    <li class="title" style="width:12%">Account#</li>
                    <li class="title" style="width:32%">Category</li>
                    <li class="title" style="width:32%">Description</li>
                    <li class="title text-center">Amount</li>
                </ul>
                <template is="dom-repeat" items="[[depositList]]" as="depositList" index-as="seqNo">
                    <ul class="clearfix">
                        <li style="width:2%">[[incSeqNo(seqNo,1)]]</li>
                        <li>[[getFormattedDate(depositList.date)]]</li>
                        <li style="width:12%">([[depositList.accountMask]])</li>
                        <li style="width:32%">[[getLatestCategory(depositList.category)]]</li>
                        <li style="width:32%">[[depositList.categoryDescription]]</li>
                        <li class="text-center">[[formatCurrency(depositList.amount)]]</li>
                    </ul>
                    <hr>
                </template>
            </div>
        </div>
        <div id="divLargeDeposits" style="display:none;margin-bottom:30px;"><ul id="blankUl" style="list-style:none; padding:0; margin:0;border-top:2px solid #999;min-width:870px;overflow:hidden;"><li></li></ul><template id="templateLargeDeposits" is="dom-repeat" items="[[depositList]]" as="depositList" index-as="seqNo"><ul style="list-style:none; padding:0; margin:0;clear: both; min-width:870px;width:100%;overflow:hidden;"><li style="color:#999;width:5%;padding:0; font-size: 14px; line-height: 14px;float:left;display:inline-block;">[[incSeqNo(seqNo,1)]]</li><li style="color:#999; width:14%;padding:0; font-size: 14px; line-height: 14px;float:left;display:inline-block;">[[getFormattedDate(depositList.date)]]</li><li style="color:#999;width:12%;padding:0; font-size: 14px; line-height: 14px; float:left;">([[depositList.accountMask]])</li><li style="color:#999;width:30%;padding:0; font-size: 14px; line-height: 14px;float:left;display:inline-block;">[[getLatestCategory(depositList.category)]]</li><li style="color:#999;width:25%;padding:0; font-size: 14px; line-height: 14px;float:left;display:inline-block;">[[depositList.categoryDescription]]</li><li style="color:#999;width:14%;padding:0; font-size: 14px; line-height: 14px;float:left;display:inline-block; text-align:right;">[[formatCurrency(depositList.amount)]]</li></ul><hr style="margin:0;"></template><ul id="blankUl" style="list-style:none; padding:0; margin:0; margin-top:20px; border-bottom:2px solid #999;min-width:870px;overflow:hidden;"><li></li></ul></div>
        <!-- <div class="note text-center clearfix">
            <span>Note - If you like, you can provide this information later</span>
            <div class="pull-right">
                <button type="button" class="action next" disabled$="[[ inProgress ]]" name="next" on-click="handleNextClick">
                    <template is="dom-if" if="[[ !inProgress ]]">Save</template>
                    <template is="dom-if" if="[[ inProgress ]]">Wait...</template>
                </button>
            </div>
        </div> -->
    </template>
    <script src="large-deposits-list.js"></script>
    <style>
	@media only screen and (max-width:767px){
   	.ql-container{width: 100%;overflow-x: auto}
	.ql-editor{width:900px; overflow-x:scroll}
	}
    </style>
    
</dom-module>