<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="questioner/questioner-progress-bar.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="questioner/loan-officer-with-affinity-partner-details.html"></html-import>
<dom-module id="left-navigation">
<template>
<style>
@media only screen and (max-width: 767px) {
.app-name{ display:none}
}
</style>
<div class="left">
  <template is="dom-repeat" items="[[groupOfSections]]" as="groupItem">
      <div class="todo">{{groupItem.name}}</div>
      <template is="dom-repeat" items="[[ groupItem.sections ]]" sort="sortBySequenceNumber">
      <div class$="{{ isCompletedSection(item.sectionId, index, selectedSectionId, item.isCompleted) }}" tab-id$="{{ displayIndex(index) }}" on-click="changeSection"> {{ displayIndex(index) }}<br>
          <span class="app-name">{{ item.sectionName }}</span> <span class="df df-tick">&nbsp;</span>
          <template is="dom-if" if="{{ displayProgressBar(item.seqNo, selectedSectionSeqNo) }}">
            <questioner-progress-bar></questioner-progress-bar>
          </template>
        </div>
      </template>
  </template>
   
    	<loan-officer-with-affinity-partner-details temporary-application-number="[[temporaryApplicationNumber]]"></loan-officer-with-affinity-partner-details>
    
</div>
<questionnaire-service id="questionnaire"></questionnaire-service>
<event-hub id="hub"></event-hub>
</template>
<script>
        Polymer({
            is: "left-navigation",

            properties: {
                /**
                 * Applicable to post-application only
                 * This will be used to directly move to applicable applicant
                 */
                applicant: Object,

                temporaryApplicationNumber: String,

                groupOfSections: {
                    type: Object
                },

                selectedSectionId: String,

                selectedSectionSeqNo: {
                    type: Number,
                    computed: 'computeSelectedSectionSeqNo(selectedSectionId, groupOfSections)'
                },

                highestSectionReached: Number
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            /* 
            * Event fired when user clicks on the left navigation links
            */
            changeSection: function (e) {
                var isCompleted = e.model.item.isCompleted;
                var currentSectionId = e.model.item.sectionId;
                // allow change of section only if the section is already completed
                if (currentSectionId <= this.highestSectionReached) {
                    this.$.hub.publish("section:next", {
                        sectionId: e.model.item.sectionId
                    });
                }
            },

            isCompletedSection: function (currentSectionId, index, selectedSectionId, isCompleted) {
                var classes = "off";

                if (index === 0 && (selectedSectionId === undefined || selectedSectionId === null)) {
                    return "on";
                }
                else {
                    if (currentSectionId === selectedSectionId)
                        return "on";
                    if (isCompleted) {
                        return "completed";
                    }
                    if (currentSectionId == this.highestSectionReached)
                        return "active";
                }

                return classes;
            },

            displayProgressBar: function (currentSeqNo, selectedSectionSeqNo) {
                if (currentSeqNo === selectedSectionSeqNo) {
                    return true;
                }
                return false;
            },

            displayIndex: function (index) {
                return index + 1;
            },

            /**
             * This function will sort dom-repeat on based of 'seqNo' property
             */
            sortBySequenceNumber: function (a, b) {
                if (a.seqNo === b.seqNo) {
                    return 0;
                }
                return a.seqNo < b.seqNo ? -1 : 1;
            },

            /**
             * This is computed function for selected section id to find relevant seq. No
             */
            computeSelectedSectionSeqNo: function (selectedSectionId) {
                //
                if (selectedSectionId && this.groupOfSections) {
                    for (var i = 0; i < this.groupOfSections.length; i++) {
                        var _selectedSection = _.find(this.groupOfSections[i].sections, { sectionId: selectedSectionId });
                        if (_selectedSection != undefined) {
                            return _selectedSection.seqNo
                        }
                    }
                }

                return null;
            }
        });
    </script>
</dom-module>
