<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="loan-officer-with-affinity-partner-details">
    <template>

        <template is="dom-if" if="[[isShowInviteBlock]]">
            <div class="left-prof-block">
            <div class="rel-pos" hidden$="[[!anyLoanOfficer]]">
                    <div class="left-prof-pic dropdown-toggle clearfix" data-toggle="dropdown">
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <div class="pic">
                            <span hidden$="[[loanOfficerDetails.imageUrl]]" class="df df-no-user img-circle"></span>
                            <template is="dom-if" if="[[loanOfficerDetails.imageUrl]]">
                                <img class="img-circle" src="[[loanOfficerDetails.imageUrl]]">
                            </template>
                        </div>
                        <p>[[loanOfficerDetails.name]]
                            <span class="usertitle">[[loanOfficerDetails.title]]</span>
                            <span class="usertitle">NMLS# {{loanOfficerDetails.nmlsNumber}}</span>
                        </p>
                    </div>
                    <div class="dropdown-menu left-prof-tools clearfix">
                        <ul>
                            <li hidden$="[[!loanOfficerDetails.phone]]">
                                <a href="[[ formattedPhone(loanOfficerDetails.phone) ]]">
                                    <span class="df df-mobile2"></span>
                                    <alloy-format phone-number="{{loanOfficerDetails.phone}}"></alloy-format>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:[[loanOfficerDetails.email]]">
                                    <span class="df df-email"></span> [[loanOfficerDetails.email]]</a>
                            </li>
                            <!-- <li><a href="javascript:void(0);"><span class="df df-message2"></span> Message</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="rel-pos" hidden$="[[!anyAffinityPartnerAdmin]]">
                    <div class="left-prof-pic dropdown-toggle clearfix" data-toggle="dropdown">
                        <div class="dots">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </div>
                        <div class="pic">
                            <span hidden$="[[affinityPartnerAdminDetails.imageUrl]]" class="df df-no-user img-circle"></span>
                            <template is="dom-if" if="[[affinityPartnerAdminDetails.imageUrl]]">
                                <img class="img-circle" src="[[affinityPartnerAdminDetails.imageUrl]]">
                            </template>
                        </div>
                        <p>[[affinityPartnerAdminDetails.name]]
                            <span class="usertitle">[[affinityPartnerAdminDetails.title]]</span>
                        </p>
                    </div>
                    <div class="dropdown-menu left-prof-tools">
                        <ul>
                            <template is="dom-if" if="[[affinityPartnerAdminDetails.phone]]">
                                <li>
                                    <a href="[[ formattedPhone(affinityPartnerAdminDetails.phone) ]]">
                                        <span class="df df-mobile2"></span>
                                        <alloy-format phone-number="{{affinityPartnerAdminDetails.phone}}"></alloy-format>
                                    </a>
                                </li>
                            </template>

                            <li>
                                <a href="mailto:[[affinityPartnerAdminDetails.email]]">
                                    <span class="df df-email"></span> [[affinityPartnerAdminDetails.email]]</a>
                            </li>
                            <!-- <li><a href="javascript:void(0);"><span class="df df-message2"></span> Message</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </template>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
    </template>
    <script>
        Polymer({
            is: "loan-officer-with-affinity-partner-details",

            properties: {


                temporaryApplicationNumber: String,


                anyLoanOfficer: {
                    type: Boolean,
                    value: false
                },

                loanOfficerDetails: {
                    type: Object,
                    value: {}
                },
                anyAffinityPartnerAdmin: {
                    type: Boolean,
                    value: false
                },
                affinityPartnerAdminDetails: {
                    type: Object,
                    value: {}
                },
                isShowInviteBlock: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            observers: [
                /*Fetch new section data*/
                'fetchLoanOfficerData(temporaryApplicationNumber)',
                'fetchAffinityPartnerAdminData(temporaryApplicationNumber)',
            ],

            fetchLoanOfficerData: function (temporaryApplicationNumber) {
                var self = this;
                self.ensure('assignmentService').then(function (assignmentService) {
                    assignmentService.getLoanOfficer(temporaryApplicationNumber).then(function (
                        response) {
                        self.parseLoanOfficerDetails(response);

                    });
                });
            },
            fetchAffinityPartnerAdminData: function (temporaryApplicationNumber) {
                var self = this;
                self.ensure('assignmentService').then(function (assignmentService) {
                    assignmentService.getAffinityPartnerAdmin(temporaryApplicationNumber).then(
                        function (response) {
                            self.parseAffinityPartnerAdminDetails(response);

                        });
                });
            },
            /** This function fetches the details of the loan officer */
            parseLoanOfficerDetails: function (loanOfficer) {
                var self = this;
                if (loanOfficer) {
                    if (loanOfficer.assignee) {
                        self.set('anyLoanOfficer', true);
                        self.set("isShowInviteBlock", true);
                        self.parseUserProfileDetails('loanOfficerDetails', loanOfficer.assignee);
                    }
                }
            },
            /** This function fetches the details of the Affinity Partner Admin */
            parseAffinityPartnerAdminDetails: function (affinityPartnerAdmin) {
                var self = this;
                if (affinityPartnerAdmin) {
                    if (affinityPartnerAdmin.assignee) {
                        self.set('anyAffinityPartnerAdmin', true);
                        self.set("isShowInviteBlock", true);
                        self.parseUserProfileDetails('affinityPartnerAdminDetails', affinityPartnerAdmin.assignee);
                    }
                }
            },
            parseUserProfileDetails: function (type, assignee) {
                var self = this;

                self.ensure('userProfileService').then(function (userProfileService) {
                    // get the user's name and title, contact information
                    userProfileService.fetchUserProfile(assignee).then(function (response) {
                        self.set(type + ".name", response.firstName + " " + response.lastName);
                        self.set(type + ".title", response.title);
                        self.set(type + ".email", response.email);
                        self.set(type + ".phone", response.phone ? response.phone :
                            response.mobileNumber);
                        if (response.nmlsNumber)
                            self.set(type + ".nmlsNumber", response.nmlsNumber);
                    });
                    // get the user's logo, if not available update noImage to true
                    userProfileService.fetchUserLogo(assignee).then(function (response) {
                        if (response) {
                            if (response.url)
                                self.set(type + ".imageUrl", response.url);
                        }
                    }).catch(function (error) {
                        if (error.status == 404) {
                            self.set(type + ".imageUrl", undefined);
                        }
                    });
                });
            },
            formattedPhone: function (phoneNumber) {
                if (!phoneNumber) return "javascript:void(0)";

                if (phoneNumber.length === 10) {
                    return "tel:+1-" + this.changeFormat(phoneNumber);
                }
            },
            changeFormat: function (phoneNumber) {
                var s2 = ("" + phoneNumber).replace(/\D/g, '');
                var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
                var formattedNumber = (!m) ? null : m[1] + "-" + m[2] + "-" + m[3];
                return formattedNumber;
            }
        });
    </script>
</dom-module>