<!-- NOTE: All ui-element needs to be import in questioner-section instead of here -->
<dom-module id="questioner-question">
    <template>
        <values-service id="values"></values-service>
        <template is="dom-if"
            if="[[ isEqual('textarea', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-text-area name="{{ item.questionId }}"
                    type="textarea"
                    placeholder="[[ item.questionText ]]"
                    rows="3"
                    lock-size="none">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-text-area>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('text', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[getValueReplacedPlaceholder(item)]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input mask-format="[[ item.mask ]]"
                    disabled="[[item.isReadOnly]]"
                    name="{{ item.questionId }}"
                    margin-bottom="[[ item.marginBottom ]]"
                    pattern="[[ item.reg ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('validator', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                control-type="[[item.validator]]"
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input mask-format="[[ item.mask ]]"
                    disabled="[[item.isReadOnly]]"
                    name="{{ item.questionId }}">
                    <template is="dom-if"
                        if="{{ isEqual('monthYear', item.validator) }}">
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-valid-month-year></ui-is-valid-month-year>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ isEqual('month', item.validator) }}">
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-valid-month>Please enter valid month</ui-is-valid-month>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('SelectIcon', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-radio containerClassName="cc-selector"
                    radio-group="{{ item.availableAns }}">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select one of the available option for '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-radio>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('SelectBool', item.questionType) ]]"
            restamp>
            <template is="dom-if"
            if="[[ isEqualAndRefinance(item.loanPurposeWorkflow)]]" restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'>
                <ui-switch text="{{ item.questionText }}"
                    id="{{ item.questionId }}"
                    disabled="[[ item.isReadOnly ]]"
                    is-required="{{ item.required }}"
                    selected-value="[[ item.answer ]]"
                    default-value="[[item.answer]]"
                    is-summary-required="[[ isSummaryRequired ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-switch>
            </ui-container>
        </template>
        </template>

       
        <template is="dom-if"
            if="[[ isEqual('LinkActionButton', item.questionType) ]]"
            restamp>
            <ui-resend-invite-button 
                    section-id="[[ sectionId ]]"
                    sub-section-id="[[ subSectionId ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]" 
                    question-text="[[ item.questionText  ]]" 
                    question-id="[[ item.questionId  ]]" 
                    event-name="[[ item.eventName  ]]" 
                    question-type="[[ item.questionType  ]]"
                    question-visible-status="[[ item.questionVisibleStatus ]]"
                    event-subscribe="[[  item.eventSubscribe  ]]">
            </ui-resend-invite-button>
        </template>

        <template is="dom-if"
        if="[[ isEqual('SelectBoolMarital', item.questionType) ]]"
        restamp>
        <template is="dom-if"
        if="[[ isEqualAndRefinance(item.loanPurposeWorkflow)]]" restamp>
        <ui-container question="[[ item ]]"
            section-id="[[ sectionId ]]"
            sub-section-name="[[ subSectionName ]]"
            sub-section-id="[[ subSectionId ]]"
            temporary-application-number="[[ temporaryApplicationNumber ]]"
            reference-application-number="[[ referenceApplicationNumber ]]"
            question-seq-no="[[ questionSeqNo ]]"
            default-value="[[item.answer]]"
            is-required="[[item.required]]"
            help-text-body="[[item.helpText]]"
            help-text-color-body="#006699"
            help-text-trigger="[[ item.helpTextTrigger ]]"
            help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
            help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'>
            <ui-switch-loan question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    reference-application-number="[[ referenceApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    id="[[ item.questionId ]]"
                    disabled="[[ item.isReadOnly ]]"
                    text="{{ item.questionText }}"
                    is-required="{{ item.required }}"
                    selected-value="[[ item.answer ]]"
                    default-value="[[item.answer]]"
                    is-summary-required="[[ isSummaryRequired ]]"
                    place-holders="[[placeHolders]]"
                    is-summary-edit="[[isSummaryEdit]]">
                <template is="dom-if"
                    if="{{ item.required }}"
                    restamp>
                    <ui-validators>
                        <ui-require-field>Please enter '[[ item.questionText ]]'.
                        </ui-require-field>
                    </ui-validators>
                </template>
            </ui-switch-loan>
        </ui-container>
    </template>
    </template>


        <!-- Boolean Yes/No component for declaration. As the need there is complex we had to create seperate component -->
        <template is="dom-if"
            if="[[ isEqual('DeclarationSelectBool', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-switch-declaration text="{{ item.questionText }}"
                    number="[[ item.questionItemNo ]]"
                    disabled="[[ item.isReadOnly ]]"
                    selected-value="[[item.answer]]"
                    id="{{ item.questionId }}"
                    help-text-body="[[ item.helpText ]]"
                    is-required="{{ item.required }}"
                    is-summary-required="[[ isSummaryRequired ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-switch-declaration>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('Select', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="[[ item.questionText ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-options name="dobMonth"
                    disabled="[[ item.isReadOnly ]]"
                    button-text="[[ item.questionText ]]"
                    items="[[ item.availableAns ]]">
                    <template is="dom-if"
                        if="[[ item.required ]]"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select one of the available option for '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-options>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('SelectState', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="[[ item.questionText ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-options id="stateList"
                    name="stateList"
                    disabled="[[ item.isReadOnly ]]"
                    button-text="[[ item.questionText ]]"
                    items="[[ stateList ]]">
                    <template is="dom-if"
                        if="[[ item.required ]]"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-options>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('SingleChoice', item.questionType) }}"
            restamp>
            <div class$="[[ computeRequiredLabelClass(isSummaryRequired, item.answer) ]]">
                [[ item.questionText ]]
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-single-choice question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    id="[[ item.questionId ]]"
                    selected-value="[[ item.answer ]]"
                    disabled="[[ item.isReadOnly ]]"
                    display-items="[[ item.availableAns ]]"
                    place-holders="[[placeHolders]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select one of the available option for '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-single-choice>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('RadioBox', item.questionType) }}"
            restamp>
            <div class="question-label">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-radio-select-one sub-section-id="[[ subSectionId ]]"
                    id="[[item.questionId]]"
                    selected-value="[[ item.answer ]]"
                    disabled="[[ item.isReadOnly ]]"
                    display-items="[[ item.availableAns ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select one of the available option for '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-radio-select-one>
            </ui-container>
        </template>

        <!-- text having multiple link (Ex: credit section) -->
        <template is="dom-if"
            if="{{ isEqual('LabelLink', item.questionType) }}"
            restamp>
            <ui-multi-modal-label text="[[ item.questionText ]]"
                placeholder-config="[[ item.questionPlaceHolders ]]"
                modal-name="[[ subSectionId ]]">
            </ui-multi-modal-label>
        </template>

        <template is="dom-if"
            if="{{ isEqual('Link', item.questionType) }}"
            restamp>
            <ui-label>
                <ui-modal-trigger modal-id="{{ item.templateName }}"
                    backdrop>
                    <a>{{ item.questionText }}</a>
                </ui-modal-trigger>
            </ui-label>

            <ui-modal class="popup-content"
                id="{{ item.templateName }}"
                title="{{ item.questionText }}"
                fit-to-screen>
                <template-loader name="{{ item.templateName }}"
                    version="{{ item.templateVersion }}"></template-loader>
            </ui-modal>
        </template>

        <template is="dom-if"
            if="{{ isEqual('Date', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="[[item.questionText]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                control-type="[[item.questionType]]"
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="99/99/9999">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-valid-date></ui-is-valid-date>
                        </ui-validators>
                    </template>
                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-valid-date></ui-is-valid-date>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextNum2', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-a-number>'[[ item.questionText ]]' must be a number.
                            </ui-is-a-number>
                        </ui-validators>
                    </template>
                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-a-number>'[[ item.questionText ]]' must be a number.
                            </ui-is-a-number>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextEmail/SignUpEmail', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[ getValueReplacedPlaceholder(item) ]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                control-type="[[item.questionType]]">
                    <ui-input name="{{ item.QuestionId }}" disabled="[[ item.isReadOnly ]]">
                        <template is="dom-if"
                            if="{{ item.required }}"
                            restamp>
                            <ui-validators>
                                <ui-require-field>Please enter '[[ item.questionText ]]'.
                                </ui-require-field>
                                <ui-is-email>Email address is not valid.</ui-is-email>
                                <ui-duplicate-email previous-email="[[ item.answer ]]"
                                    temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-duplicate-email>
                            </ui-validators>
                        </template>

                        <template is="dom-if"
                            if="{{ !item.required }}"
                            restamp>
                            <ui-validators>
                                <ui-is-email>Email address is not valid.</ui-is-email>
                                <ui-duplicate-email previous-email="[[ item.answer ]]"
                                    temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-duplicate-email>
                            </ui-validators>
                        </template>

                    </ui-input>
            </ui-container>
        </template>
        <template is="dom-if"
        if="{{ isEqual('SignUpEmailEdit', item.questionType) }}"
        restamp>
        <ui-container question="[[ item ]]"
            section-id="[[ sectionId ]]"
            sub-section-name="[[ subSectionName ]]"
            sub-section-id="[[ subSectionId ]]"
            temporary-application-number="[[ temporaryApplicationNumber ]]"
            question-seq-no="[[ questionSeqNo ]]"
            floating-label="{{ item.questionText }}"
            default-value="[[ getValueReplacedPlaceholder(item) ]]"
            is-required="[[item.required]]"
            help-text-trigger="[[ item.helpTextTrigger ]]"
            help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
            help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
            control-type="[[item.questionType]]">
                <ui-input name="{{ item.QuestionId }}" disabled="[[ isReadOnlyStatus ]]" checkEmailReadonlyStatus="[[ getEmailStatus(item.isReadOnly) ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-email>Email address is not valid.</ui-is-email>
                            <ui-duplicate-email-edit current-email="[[ item.answer ]]"
                                temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-duplicate-email-edit>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-email>Email address is not valid.</ui-is-email>
                            <ui-duplicate-email-edit previous-email="[[ item.answer ]]"
                                temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-duplicate-email-edit>
                        </ui-validators>
                    </template>

                </ui-input>
                  <ui-edit-button temporary-application-number="[[ temporaryApplicationNumber ]]"
                  applicant-email="[[ item.answer ]]"
                  help-text-body="[[ item.resultQuestionId ]]"
                  question-visible-status="[[ item.questionVisibleStatus ]]"
                  is-Read-Only="[[item.isReadOnly]]">
                  </ui-edit-button>
        </ui-container>
    </template>

        <template is="dom-if"
            if="{{ isEqual('TextPhone', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                control-type="[[item.questionType]]"
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="(999) 999-9999">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                            </ui-is-phone-number>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                            </ui-is-phone-number>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>
        <!-- text-currency -->
        <template is="dom-if"
            if="{{ isEqual('TextCurr', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, item.answer) ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="money">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextCurrRight', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'>
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="money"
                    form-control-class-name="form-control alignRight">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextCurrIncome', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, item.answer) ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="money">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextPer', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="%"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'>
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-custom-validator name="percentageValidator">'[[ item.questionText ]]' is not valid.
                            </ui-custom-validator>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-custom-validator name="percentageValidator">'[[ item.questionText ]]' is not valid.
                            </ui-custom-validator>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextNum', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'>
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-a-number>'[[ item.questionText ]]' must be a number.
                            </ui-is-a-number>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-a-number>'[[ item.questionText ]]' must be a number.
                            </ui-is-a-number>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('TextSSN', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                class="fs-block"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                floating-label="{{ item.questionText }}"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                help-text-body="[[item.helpText]]"
                help-text-trigger="[[ item.helpTextTrigger ]]"
                help-text-placement="[[ getHelpTextPlacment(item.helpTextTrigger) ]]"
                help-text-selector-element='[[ getHelpTextSelectorElement(item.helpTextTrigger) ]]'
                control-type="[[item.questionType]]"
                is-summary-required="[[ isSummaryRequired ]]">
                <ui-input name="{{ item.QuestionId }}"
                    disabled="[[item.isReadOnly]]"
                    mask-format="999-99-9999">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please enter '[[ item.questionText ]]'.
                            </ui-require-field>
                            <ui-is-ssn id="isSsn">SSN is not valid.</ui-is-ssn>
                        </ui-validators>
                    </template>

                    <template is="dom-if"
                        if="{{ !item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-is-ssn id="isSsn">SSN is not valid.</ui-is-ssn>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('Address', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-address question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"></ui-address>
            </ui-container>
        </template>

        <!-- Business Address -->
        <template is="dom-if"
            if="[[ isEqual('BusinessAddress', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-business-address question="[[ getAddressValuePlaceholder(item) ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-business-address>
            </ui-container>
        </template>

        <!-- Loan Officer -->
        <template is="dom-if"
            if="{{ isEqual('LoanOfficer', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-loan-officer-search question="[[ item ]]"
                    disabled="[[ item.isReadOnly ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-loan-officer-search>
            </ui-container>
        </template>

        <!-- multi toggle buttons -->
        <template is="dom-if"
            if="{{ isEqual('MultiToggle', item.questionType) }}"
            restamp>
            <div class$="[[ computeRequiredLabelClass(isSummaryRequired, item.answer) ]]">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                help-text-body="[[item.helpText]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-toggle-button-group name="[[item.questionId]]"
                    disabled="[[ item.isReadOnly ]]"
                    list="[[item.availableAns]]"
                    selected-values="[[item.answer]]"
                    class="clearfix">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-toggle-button-group>
            </ui-container>
        </template>

        <!-- multi toggle  buttons without all -->
        <template is="dom-if"
            if="{{ isEqual('MultiToggleButton', item.questionType) }}"
            restamp>
            <div class$="[[ computeRequiredLabelClass(isSummaryRequired, item.answer) ]]">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                help-text-body="[[item.helpText]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-multi-button name="[[item.questionId]]"
                    disabled="[[ item.isReadOnly ]]"
                    list="[[item.availableAns]]"
                    selected-values="[[item.answer]]"
                    class="clearfix">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-multi-button>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('AddCoBorrower', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-add-coborrower question="[[ item ]]"
                    question-section-seq-no="[[ questionSeqNo ]]"
                    do-not-show-add-button="[[ item.doNotShowAddButton ]]"
                    event-subscribe="[[ item.eventSubscribe ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-add-coborrower>
            </ui-container>
        </template>
        <!-- single toggle buttons -->
         <template is="dom-if"
            if="{{ isEqual('SingleToggle', item.questionType) }}"
            restamp>
            <div class$="[[ computeRequiredLabelClass(isSummaryRequired, item.answer) ]]">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                help-text-body="[[item.helpText]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-single-toggle name="[[item.QuestionId]]"
                    list="[[item.availableAns]]"
                    disabled="[[ item.isReadOnly ]]"
                    selected-value="[[item.answer]]">

                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-single-toggle>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('SingleToggleLoan', item.questionType) }}"
            restamp>
            <div class$="[[ computeRequiredLabelClass(isSummaryRequired, item.answer) ]]">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                help-text-body="[[item.helpText]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-single-toggle-loan question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    id="[[ item.questionId ]]"
                    disabled="[[ item.isReadOnly ]]"
                    selected-value="[[ item.answer ]]"
                    name="[[item.QuestionId]]"
                    list="[[item.availableAns]]"
                    place-holders="[[placeHolders]]"
                    is-summary-edit="[[isSummaryEdit]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-single-toggle-loan>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('CheckBox', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]"
                disabled="[[ item.isReadOnly ]]">

                <ui-check-box id="C-[[subSectionId]]-[[item.questionId]]"
                    disabled="[[ item.isReadOnly ]]"
                    text="[[ item.questionText ]]"
                    value="[[item.answer]]">

                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-checkbox>Please select '[[ item.questionText ]]'.
                            </ui-require-checkbox>
                        </ui-validators>
                    </template>
                </ui-check-box>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('SelectOne', item.questionType) }}"
            restamp>
            <div class="question-label">
                {{ item.questionText }}
            </div>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[item.answer]]"
                is-required="[[item.required]]">
                <ui-select-one id="[[item.QuestionId]]"
                    disabled="[[ item.isReadOnly ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]">
                    <template is="dom-if"
                        if="{{ item.required }}"
                        restamp>
                        <ui-validators>
                            <ui-require-field>Please select '[[ item.questionText ]]'.
                            </ui-require-field>
                        </ui-validators>
                    </template>
                </ui-select-one>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('LoanCalculator', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-loan-amount-calc question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-loan-amount-calc>
            </ui-container>
        </template>

        <template is="dom-if"
            if="{{ isEqual('MoneyMonth', item.questionType) }}"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-money-month question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-money-month>
            </ui-container>
        </template>

        <!-- Assets -->
        <template is="dom-if"
            if="[[ isEqual('Assets', item.questionType) ]]"
            restamp>
            <assets-container assets-place-holders="[[placeHolders]]"
                is-redirected-from-summary="[[isRedirectedFromSummary]]"
                customer-id="[[subSectionUsername]]"
                selected-values="[[ item.answer ]]"
                first-name="[[ firstName ]]"
                is-submit-visible="[[isSubmitVisible]]"
                is-next-visible="[[isNextVisible]]"
                application-number="[[ temporaryApplicationNumber ]]"
                current-action-type="[[actionTypeModes.PREAPPLICATION]]"></assets-container>
        </template>

        <!--Tax-Returns -->
        <template is="dom-if"
            if="[[ isEqual('TaxReturn', item.questionType) ]]"
            restamp>
            <tax-return-container></tax-return-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('IncomeSelect', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                default-value="[[ item.answer ]]"
                is-required="false">
                <ui-income-selection question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]" sub-section-id="[[ subSectionId ]]" sub-section="[[ subSectionConfiguration ]]"
                    selected-values="[[ item.answer ]]" item=[[item]] section=[[section]]></ui-income-selection>
            </ui-container>
        </template>

        <!-- Component having Add/Remove options to add dynamic question section -->
        <template is="dom-if"
            if="[[ isEqual('AddDynamicQuestion', item.questionType) ]]"
            restamp>
            <ui-dynamic-question-link question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-id="[[ subSectionId ]]"
                question-section-seq-no="[[ questionSeqNo ]]">
            </ui-dynamic-question-link>
        </template>

        <!--label-Label -->
        <template is="dom-if"
            if="[[ isEqual('Label', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]"
                particular-sub-section="[[ particularSubSection ]]">

                <ui-label is-required="{{ item.required }}"
                    is-summary-required="[[ isSummaryRequired ]]"
                    question-id="[[ item.questionId ]]"
                    section-id="[[ sectionId ]]">
                    {{ encodeEntities(item.questionText) }}
                </ui-label>
            </ui-container>
        </template>
        <!--label-statement -->
        <template is="dom-if"
            if="[[ isEqual('Statement', item.questionType) ]]"
            restamp>
            <ui-label>{{ item.questionText }}</ui-label>
        </template>

        <template is="dom-if"
            if="[[ isEqual('Summary', item.questionType) ]]"
            restamp>
            <ui-summary temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-summary>
        </template>

        <template is="dom-if"
            if="[[ isEqual('Calculator', item.questionType) ]]"
            restamp>
            <ui-calculator sub-section="[[ subSectionConfiguration ]]"
                reg="[[ item.reg ]]"
                sub-section-id="[[ subSectionId ]]"
                question-text="[[ item.questionText ]]"></ui-calculator>

        </template>

        <template is="dom-if"
            if="[[ isEqual('TotalAmountCalculator', item.questionType) ]]"
            restamp>
            <ui-calculator sub-section="[[ subSectionConfiguration ]]"
                reg="[[ item.reg ]]"
                sub-section-id="[[ subSectionId ]]"
                question-text="[[ item.questionText ]]"
                all-required="true"
                form-control-class-name="alignRight"></ui-calculator>

        </template>

        <template is="dom-if"
            if="[[ isEqual('TreeView', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-tree-view question="[[ item ]]"
                    selected-values="[[ item.answer ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"></ui-tree-view>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('radioTreeView', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-radio-tree-view question="[[ item ]]"
                    selected-values="[[ item.answer ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-radio-tree-view>
            </ui-container>
        </template>

        <template is="dom-if"
            if="[[ isEqual('StartEndDate', item.questionType) ]]"
            restamp>
            <ui-container question="[[ item ]]"
                section-id="[[ sectionId ]]"
                sub-section-name="[[ subSectionName ]]"
                sub-section-id="[[ subSectionId ]]"
                temporary-application-number="[[ temporaryApplicationNumber ]]"
                question-seq-no="[[ questionSeqNo ]]">
                <ui-start-end-date question="[[ item ]]"
                    section-id="[[ sectionId ]]"
                    sub-section-name="[[ subSectionName ]]"
                    sub-section-id="[[ subSectionId ]]"
                    temporary-application-number="[[ temporaryApplicationNumber ]]"
                    question-seq-no="[[ questionSeqNo ]]"
                    is-summary-required="[[ isSummaryRequired ]]"></ui-start-end-date>
            </ui-container>
        </template>
    </template>
    <script>
        Polymer({
            is: "questioner-question",

            properties: {
                placeHolders: Object,
                isSubmitVisible: Boolean,
                isNextVisible: Boolean,
                previousEmail: {
                    type: String,
                    value: ""
                },
                subscriptionList: {
                    type: Array,
                    value: []
                },
                isSummaryRequired: {
                    type: Boolean,
                    value: false,
                    computed: 'isRequiredAsterisk(item.questionId, requiredQuestionsUnAnswered, subSectionId)'
                },
                isReadOnlyStatus: {
                    type: Boolean,
                    notify:  true
                },
                stateList: Array,
                isSummaryEdit: Boolean
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                var self = this;
                this.ensure("values").then(function (values) {
                    self.set("stateList", values.statesDropdown);
                });
            },
            observers: [
                        'readOnlyPreferedEmailChanged(isReadOnlyStatus)'
              ],
            getEmailStatus: function (isReadOnly) {
                var self = this;
                this.async(function () {
                    self.subscriptionList.push(self.subscribe("SpousePreferredEmail", self.updateIsReadOnlyValue.bind(self)));
                    if(this.isReadOnlyStatus === true)  return;  
                    self.set('isReadOnlyStatus', isReadOnly)
                    return isReadOnly;
                })
            }, 
            readOnlyPreferedEmailChanged:function(readOnly){
                // <#spouseAdded#> placeholder is used to track whether spouse is already added in the application, once spouse is added and invitation is sent, this flag becomes true.
                this.publish('update-place-holders', {placeHolderName: "<#spouseAdded#>", placeHolderValue: readOnly.toString()})
            },
            updateIsReadOnlyValue: function (payload) {
                var self = this;
                if(this.item.questionFieldName === payload.questionFieldName ){
                    this.set("isReadOnlyStatus", payload.isReadOnly);
                   }
            },

            // detached: function () {
            //     //Unsubscribe all subscriptions
            //     this.subscriptionList.map(function (subscription) {
            //         this.unsubscribe(subscription);
            //     }, this);
            // },
            getValueReplacedPlaceholder: function (item) {
                if (this.particularSubSection && this.particularSubSection.templateId
                    && (this.particularSubSection.templateId.toLowerCase() === 'spouseinfo' || this.particularSubSection.templateId.toLowerCase() === 'spousecommunicationinfo')) {

                    if (item.placeHolder && item.placeHolder.indexOf("<#") > -1) {
                        var _placeHolder = item.placeHolder.substring(item.placeHolder.indexOf("<#"), item.placeHolder.indexOf("#>") + 2);

                        var placeHolders = this.placeHolders;
                        var _placeHolderValue = "";
                        if (placeHolders) {
                            if (placeHolders[_placeHolder] != undefined && placeHolders[_placeHolder] != null
                                && placeHolders[_placeHolder] != '') {
                                _placeHolderValue = placeHolders[_placeHolder];
                                item.answer = _placeHolderValue;
                            }
                        }
                    }
                }
                return item.answer;
            },

            getAddressValuePlaceholder: function (item) {
                var _placeHolder = "<#borrowerPrimaryAddress#>";
                var placeHolders = this.placeHolders;
                var _placeHolderValue = "";
                if (placeHolders) {
                    if (placeHolders[_placeHolder] != undefined && placeHolders[_placeHolder] != null
                        && placeHolders[_placeHolder] != '') {
                        _placeHolderValue = placeHolders[_placeHolder];
                    }
                }

                if (this.particularSubSection && this.particularSubSection.templateId
                    && (this.particularSubSection.templateId.toLowerCase() === 'addressprefill')) {
                    if (_placeHolderValue && item.placeHolder && item.placeHolder.indexOf("<#") > -1) {
                        var _placeHolderValueObject = JSON.parse(_placeHolderValue);
                        var _placeHolder = item.placeHolder.substring(item.placeHolder.indexOf("<#"), item.placeHolder.indexOf("#>") + 2);
                        switch (_placeHolder) {
                            case "<#borrowerReadonlyPrimaryAddress#>":
                                item.answer = _placeHolderValue;
                        }
                    }
                }
                return item;
            },

            getTitleReplacedPlaceholder: function (questionText) {
                var placeHolders = this.placeHolders;
                if (placeHolders && questionText.indexOf("<#") > -1) {
                    var _placeHolder = questionText.substring(questionText.indexOf("<#"), questionText.indexOf("#>") + 2);
                    if (placeHolders[_placeHolder] != undefined && placeHolders[_placeHolder] != null
                        && placeHolders[_placeHolder] != '') {
                        return questionText.replace(new RegExp(_placeHolder, 'g'), placeHolders[_placeHolder]);
                    }
                }
                return questionText;
            },
            encodeEntities: function (value) {
                if (value && value.indexOf("P&I") > -1) {
                    return value;
                }
                var div = document.createElement('div');
                div.innerHTML = this.getTitleReplacedPlaceholder(value);
                return div.innerHTML;
            },
            isEqual: function (fixValues, questionValue) {
                //
                var result = false;
                //Values must be passed for comparision
                if (fixValues && questionValue) {
                    //May have to compare more then one values
                    _.forEach(fixValues.split("/"), function (fixValue) {
                        //Avoid unnecessory spacing
                        fixValue = fixValue.trim();
                        //Compare value
                        if (fixValue && questionValue && questionValue.toLowerCase() === fixValue.toLowerCase()) {
                            result = true;
                            //Break the loop
                            return false;
                        }
                    });
                }

                return result;
            },

            isEqualAndRefinance: function (loanPurposeWorkflow) {
                if (loanPurposeWorkflow === null || loanPurposeWorkflow === this.placeHolders['<#loanpurpose#>'].toLowerCase()) {
                    return true;
                }
                else
                    return false;

            },
            scrubCurrencyData: function (value) {
                return value.replace(/([$,])/g, "");
            },

            currencyValidator: function (value) {
                value = value || "";
                value = this.scrubCurrencyData(value);
                var re = /^\d+(\.\d{1,2})?$/g;
                return re.test(value);
            },

            isTwoDigitNumber: function (value) {
                var re = /^[1-9]{1,2}$/g;
                return re.test(value);
            },

            percentageValidator: function (value) {
                var re = /^\d+(\.(\d{1,2}))?$/g;
                return re.test(value);
            },

            /**
             * If helpTextTrigger is passed in JSON that we have to set placement to right as it will be displayed on
             * element instead of icon
             */
            getHelpTextPlacment: function (helpTextTrigger) {
                if (helpTextTrigger) {
                    return "left";
                }
            },

            /**
             * If helpTextTrigger is passed in JSON that we have to set selector-element as self
             */
            getHelpTextSelectorElement: function (helpTextTrigger) {
                if (helpTextTrigger) {
                    return "self";
                }
            },

            isRequiredAsterisk: function (questionId, requiredQuestionsUnAnswered) {
                var questionPresent = _.indexOf(requiredQuestionsUnAnswered.questions, questionId);
                return questionPresent >= 0;
            },

            computeRequiredLabelClass: function (isSummaryRequired, answer) {
                var classList = ["question-label"];
                if (isSummaryRequired && !answer)
                    classList.push("required-control");

                return classList.join(" ");
            },

            computeCurrencyRequired: function (isSummaryRequired, answer) {
                if (isSummaryRequired && (!answer || answer == 0))
                    return true;
                else
                    return false;
            }
        });
    </script>
</dom-module>