<html-import html-href="questioner/questioner-question.html"></html-import>
<dom-module id="questioner-question-set">
    <template>
        <template is="dom-repeat" items="{{ questionType }}" as="questionSet" sort="sortBySequenceNumber">
            <div class="question clearfix" id="[[ getUniqueId(index, questionSet.questionSectionName) ]]">
                <template is="dom-if" if="{{ questionSet.lrui }}" restamp>
                        <template is="dom-repeat" items="{{ questionSet.questionList }}">
                            <div qid$="[[ item.questionFieldName ]]" class="clearfix questionFieldName">
                                <template is="dom-if" if="{{ isQuestionVisible(item) }}" restamp>
                                    <questioner-question  particular-sub-section="[[ particularSubSection ]]"
                                                          is-redirected-from-summary="[[isRedirectedFromSummary]]"
                                                          place-holders="{{ placeHolders }}"
                                                          sub-section-configuration="[[ subSectionConfiguration ]]"
                                                          item="[[item]]" section-id="[[ sectionId ]]"
                                                          sub-section-name="[[ subSectionName ]]"
                                                          first-name="[[ firstName ]]" sub-section-id="[[ subSectionId ]]"
                                                          question-seq-no="[[ questionSet.seqNo]]"
                                                         temporary-application-number="[[ temporaryApplicationNumber ]]"
                                                         reference-application-number="[[ referenceApplicationNumber ]]"
                                                          is-submit-visible="[[isSubmitVisible]]" is-next-visible="[[isNextVisible]]" is-summary-edit="[[isSummaryEdit]]" 
                                                          required-questions-un-answered="[[ requiredQuestionsUnAnswered ]]" section=[[section]]></questioner-question>
                                </template>
                            </div>
                        </template>
                </template>
                <template is="dom-if" if="{{ !questionSet.lrui }}" restamp>
                    <template is="dom-repeat" items="{{ questionSet.questionList }}">
                            <div qid$="[[ item.questionFieldName ]]" class="clearfix questionFieldName">
                                <template is="dom-if" if="{{ isQuestionVisible(item) }}" restamp>
                                    <questioner-question particular-sub-section="[[ particularSubSection ]]"
                                                         is-redirected-from-summary="[[isRedirectedFromSummary]]"
                                                         place-holders="{{ placeHolders }}"
                                                         sub-section-configuration="[[ subSectionConfiguration ]]"
                                                         item="[[item]]" section-id="[[ sectionId ]]"
                                                         sub-section-name="[[ subSectionName ]]" first-name="[[ firstName ]]"
                                                         sub-section-id="[[ subSectionId ]]"
                                                         question-seq-no="[[ questionSet.seqNo]]"
                                                         temporary-application-number="[[ temporaryApplicationNumber ]]"
                                                         reference-application-number="[[ referenceApplicationNumber ]]"
                                                         sub-section-username="[[subSectionUsername]]"
                                                         is-submit-visible="[[isSubmitVisible]]"
                                                         is-next-visible="[[isNextVisible]]" is-summary-edit="[[isSummaryEdit]]" 
                                                         required-questions-un-answered="[[ requiredQuestionsUnAnswered ]]" 
                                                         section=[[section]]></questioner-question>
                                </template>
                            </div>
                    </template>
                </template>
            </div>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: "questioner-question-set",

            properties: {
                'questionType': {
                    type: Object
                },
                placeHolders: Object,
                isSubmitVisible:Boolean,
                isNextVisible:Boolean,
                isSummaryEdit: Boolean
            },
           
            /*appendClass: function (width) {
                var classes = "";
//Dynamic columns as per width passed
                if (width && parseFloat(width)) {
                    var _columns = Math.round(12 * (parseFloat(width)) / 100);
                    classes += "clearfix col-md-" + _columns;
                } else {
                    classes += "clearfix col-md-12";
                }
                return classes;
            },*/

            /**
             * This function will return applicable inline styles for question row
             */
            stylesForQuestionRow: function (bgColor, questionSectionName) {
                var styles = [];
                if (bgColor) {
                    styles.push("background: " + bgColor)
                }
                if (questionSectionName == "Ethnicity" || questionSectionName == "Race" || questionSectionName == "Sex") {
                    styles.push("");
                }
                return styles.join(";");
            },

            /**
             * For child questions
             */
            isQuestionVisible: function (question) {
                if (question.isParentQuestion == true) {
                    return true;
                } else if (question.isVisible == true) {
                    return true;
                }

                return false;
            },

            /**
             * This function will sort dom-repeat on based of 'seqNo' property
             */
            sortBySequenceNumber: function (a, b) {
                if (a.seqNo === b.seqNo) {
                    return 0;
                }
                return a.seqNo < b.seqNo ? -1 : 1;
            },

            getUniqueId: function (index, questionSectionName) {
                return questionSectionName.replace(/\s/g,'') + index;
            }
        });
    </script>
</dom-module>