<html-import html-href="questioner/questioner-question-set.html"></html-import>
<dom-module id="sub-sections">
    <template>
        <template is="dom-repeat" items="{{ subSectionConfiguration }}">
            <div hidden$="[[ !item.isVisible ]]" ssid$="[[ item.subSectionUniqueId ]]" id$="[[ item.subSectionId ]]">
                <h3 class="subsection-label" hidden$="[[ !showTitle(sectionId, typeOfSection) ]]">{{ getSubSectionTitle(item.subSectionName, placeHolders) }}</h3>
                <questioner-question-set question-type="{{ item.questionSections }}"
                                         temporary-application-number="[[ temporaryApplicationNumber ]]"
                                         reference-application-number="[[ referenceApplicationNumber ]]"
                                         sub-section-configuration="[[ subSectionConfiguration ]]"
                                         section-id="[[ sectionId ]]"
                                         sub-section-name="[[ item.subSectionName ]]"
                                         sub-section-id="[[ item.subSectionId ]]"
                                         sub-section-username="[[ item.userName ]]"
                                         first-name="[[ item.firstName ]]"
                                         place-holders="{{ placeHolders }}"
                                        is-redirected-from-summary="[[isRedirectedFromSummary]]"
                                         is-submit-visible="[[isSubmitVisible]]" is-next-visible="[[isNextVisible]]"
                                         particular-sub-section="[[ item ]]" is-summary-edit="[[isSummaryEdit]]"
                                         required-questions-un-answered="[[ getAllQuestionsUnAnswered(sectionId, item.subSectionId, requiredQuestionCompleteList) ]]"
                                         section=[[section]]
                                         >
                </questioner-question-set>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: "sub-sections",

            properties: {
                subSectionConfiguration: {
                    type: Object
                },
                section: {
                    type: Object
                },
                sectionId: {
                    type: Number
                },
                placeHolders: Object,

                /*Coming from parent. Ex: post-application*/
                typeOfSection: String,
                isSubmitVisible:Boolean,
                isNextVisible:Boolean,
                isRedirectedFromSummary: {type: Boolean, value: false},
                isSummaryEdit: Boolean
            },

            observers: [
                /*The second parameter subSectionConfiguration is used for binding only.
                 So, when currentSubSectionId get's changed it update the view*/
                "currentSubSectionIdChanged(currentSubSectionId, subSectionConfiguration)"
            ],

            showTitle: function (sectionId, typeOfSection) {
                return sectionId != "2" && typeOfSection !== 'post-application';
            },
            /**
             *
             */
            currentSubSectionIdChanged: function (currentSubSectionId) {
                //Subsection which is currently visible
                var _lastVisibleSubSectionIndex = _.findIndex(this.subSectionConfiguration, { isVisible: true });
                //Subsection which needs to be visible now
                var _subSectionIndex = _.findIndex(this.subSectionConfiguration, { subSectionId: currentSubSectionId });

                //Update dom-repeat
                //this.notifyPath('tabs.' + filteredKey + '.dynamicCount', payload.dynamicText);
                if (_lastVisibleSubSectionIndex > -1) {
                    this.subSectionConfiguration[_lastVisibleSubSectionIndex].isVisible = false;
                    this.notifyPath("subSectionConfiguration." + _lastVisibleSubSectionIndex + ".isVisible", false);
                }
                if (_subSectionIndex > -1) {
                    this.subSectionConfiguration[_subSectionIndex].isVisible = true;
                    this.notifyPath("subSectionConfiguration." + _subSectionIndex + ".isVisible", true);
                }

                //Store current sub-section id as previous id for next time
                this.lastSubSectionId = currentSubSectionId;

            },

            /**
             * Replace place holder (if any) in sub-section name to display
             */
            getSubSectionTitle: function (subSectionName, placeHolders) {
                if (placeHolders && subSectionName.indexOf("<#") > -1) {
                    //
                    var _placeHolder = subSectionName.substring(subSectionName.indexOf("<#"), subSectionName.indexOf("#>") + 2);
                    //
                    if (placeHolders[_placeHolder] != undefined && placeHolders[_placeHolder] != null
                        && placeHolders[_placeHolder] != '') {
                        return subSectionName.replace(new RegExp(_placeHolder, 'g'), placeHolders[_placeHolder]);
                    }
                }
                return subSectionName;
            },

            /**
             * Passing the list of questions that where required but wasn't answered
             */
            getAllQuestionsUnAnswered: function (sectionId, subSectionId, requiredQuestionCompleteList) {
                if (requiredQuestionCompleteList) {
                     return _.find(requiredQuestionCompleteList, { 'section': sectionId, 'subSection': subSectionId });
                }
            }
        });
    </script>
</dom-module>