<html-import html-href="inbox/message/message-info.html"></html-import>
<html-import html-href="inbox/inbox-header.html"></html-import>
<html-import html-href="inbox/inbox-body.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="message-view">
    <template>
        <div class="wrapper wrapper-content">
            <message-info message-info="[[message]]"></message-info>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "message-view",
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                if(this.configuration.services.inbox == undefined){
                    throw new Error("inbox service not found");
                }
                return function() {
                    self.$.http.get('/:id', this.configuration.services.inbox, function(data) {
                        self.message = data;
                        self.$.hub.publish('readMessages:change');
                    });
                }
            }
        });
    </script>
</dom-module>