<script src="../script/bootstrap-notify.min.js"></script>
<dom-module id="notification-alert">
    <template>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is:'notification-alert',

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                this.publish(this.id + ".attached");
            },

            showNotifications: function (message) {
                if (this.configuration.notificationAlert) {
                    $.notify({
                        message: message
                    },{
                        // settings
                        type: 'danger',
                        z_index: 9999999,
                        delay: 10000,
                        timer: 1000,
                    });
                }
            }
        });
    </script>
</dom-module>