<html-import html-href="services/notification-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module is="notification-modal">
    <template>
        <div class="notifications">
                
                <div class="title">Notifications</div>
                <template is="dom-if" if="[[ notificationList ]]">
                    <div id="notificationContent">
                        <template is="dom-repeat" items="{{notificationList}}">
                            <div class="custom-checkbox">
                                <input id="{{item.id}}" type="checkbox">
                                <label for="{{item.id}}">{{item.description}}</label>
                            </div>
                        </template>
                     </div>
                </template>
                
                <template is="dom-if" if="{{!notificationList}}">
                    <div class="no-list">{{ messageType }}</div>
                </template>
                
                <template is="dom-if" if="{{notificationList}}">
                    <div class="clearbutton">
                        <button disabled$="[[ btnStatus ]]" id="clearBtn" class="button" on-click="getSelectedIndex">CLEAR</button>
                        <button disabled$="[[ btnStatus ]]" id="clearAllBtn" class="button" on-click="clearAllMessages">CLEAR ALL</button>
                    </div>
                </template>
            <div class="animated fadeInUp clearfix" hidden$="[[isLoading]]">
                <loading-indicator></loading-indicator>
            </div>
            
        </div>
        
        <notification-service id="notify"></notification-service>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "notification-modal",
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                notificationList: {
                    type: Array
                },
                count: {
                    type: Object
                },
                messageType: {
                    type: Object
                },
                entityId: String,
                username: String,
                portal: String,
                subscriptionList: {
                    type: Array,
                    value: []
                },
                isLoading: false,
                btnStatus: false
            },

            attached: function () {
                var self = this;
                this.publish(this.id + ".attached");
                this.subscriptionList.push(this.subscribe('notification:listUpdatedTop', this.handleResponse.bind(this)));
                this.subscriptionList.push(this.subscribe('notification:scrollTop', this.setScrollTop.bind(this)));
                self.ensure("identity")
                        .then(function (identity) {
                            return identity.getCurrentUser();
                        })
                        .then(function (response) {
                            self.set("username", response.username);
                            return response;
                        })
                        .then(function (response) {
                            if (self.portal !== "back-office") {
                                self.set("entityType", "application");
                                var entityId = self.entityId || ":id";
                                self.set("entityId", entityId);
                            }
                            self.handleResponse();
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            detached: function () {
                //Unsubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },

            handleResponse: function () {
                var self = this;
                self.ensure("notify").then(function (notify) {
                    notify.getCount(self.entityType, self.entityId, self.username, self.portal)
                            .then(function (response) {
                                self.count = response;
                                if (self.count == "0" || self.count == null) {
                                    self.messageType = "No pending reminders";
                                    self.notificationList = self.count;
                                    //loading ended
                                    self.set('isLoading', true);
                                } else {
                                    return self.getAllUnreadList();
                                }
                            })
                })
            },

            /* get the all unread reminders*/
            getAllUnreadList: function () {
                var self = this;
                self.$.notify.getAllUnreadNotificationList(self.entityType, self.entityId, self.username, self.portal).then(function (result) {
                    var num_checked = self.querySelector("input[type=checkbox]:checked");
                    if (num_checked) {
                        $("input[type=checkbox]:checked").prop('checked', false);
                    }
                    self.notificationList = result;
                    self.findElement('#notificationContent').then(function (targetElement) {
                        self.set('isLoading', true);
                        $(self.querySelector('#notificationContent')).slimScroll({
                            size: '5px',
                            height: 'auto',
                            distance: '5px',
                            alwaysVisible: true,
                            opacity: 1,
                            scrollTo: '0px'
                        });
                    });
                });
            },
            setScrollTop: function(){
                var self = this;
                setTimeout(() => {
                    self.findElement('#notificationContent').then(function (targetElement) {
                        $(self.querySelector('#notificationContent')).slimScroll({
                            scrollTo: '0px' })
                        });
                }, 100);
            },
            /* to clear only the selected checked list ids */
            getSelectedIndex: function (e) {
                var self = this;
                var itemList = [];

                self.querySelectorAll("input[type='checkbox']:checked").forEach(function (items) {
                    var value = items.getAttribute('id');
                    itemList.push(value);
                })

                if (itemList.length != 0) {
                    self.set('btnStatus', true);
                    self.$.notify.getClearMessages(itemList, self.entityType, self.entityId, self.username, self.portal).then(function (result) {
                        if (result) {
                            self.handleResponse();
                            self.set('btnStatus', false);
                            self.publish("notification:count", {
                                id: "notifyCount"
                            });
                            self.publish("notification:listUpdated", {
                                id: "listUpdated"
                            });
                        } else {
                            return false;
                        }
                    })
                }
                e.stopPropagation();
            },

            /* to clear only all the selected checked list ids */
            clearAllMessages: function (e) {
                var self = this;
                self.set('btnStatus', true);
                self.$.notify.getAllClearMessageList(self.entityType, self.entityId, self.username, self.portal).then(function (result) {
                    //Validation OK on the screen go ahead
                    self.handleResponse();
                    self.set('btnStatus', false);
                    self.publish("notification:count", {
                        id: "notifyCount"
                    });
                    self.publish("notification:listUpdated", {
                        id: "listUpdated"
                    });
                })
                e.stopPropagation();
            },

            setClass: function (portal) {
                var defaultClass = ["df", "df-bell"];

                if (portal === "back-office") {
                    defaultClass.push("grey")
                } else {
                    defaultClass.push("default-bell")
                }
                return defaultClass.join(" ");
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 100) {
                            var _targetElement = self.querySelector(id);
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            disableBtn: function () {

            },

            enableBtn: function () {

            }
        })
    </script>
</dom-module>