<html-import html-href="event/subscription.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="notification-tray">
    <template>
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:;">
            <i class="fa fa-bell"></i><span class="label label-warning">{{messageLength}}</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="{{inboxView}}">
                    <div on-click="changePage">
                        <i class="fa fa-envelope fa-fw"></i> You have <span>{{messageLength}}</span> messages.
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <div class="text-center link-block" on-click="changePage">
                    <a href="{{inboxView}}">
                        <strong>Go to Inbox</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
        <event-hub id="hub">
			<event-subscription event="readMessages:change" handler="getMessages"></event-subscription>
		</event-hub>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({ 
			is : 'notification-tray',
            properties: {
                counter : Number  
            },
            attached: function(){
                var self = this;
                if(this.configuration.services.inbox == undefined){
                   throw new Error("inbox service not found");
                }
                self.inboxView = "/#/inboxView"                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    self.getMessages();
                }
            },
            getMessages: function() {
                var self = this;
                
                self.$.http.get('/', this.configuration.services.inbox, function(messages) {
                    self.messages = messages;
                    var counter = 0;
                    for (var i = 0; i < messages.length; i++) {
                        var message = messages[i];
                        if (!message.isRead) {
                            counter++;
                        }
                    }
                    self.messageLength = counter;
                });
            },
            reduceCounter : function(e){
                this.counter--;
            },
            changePage: function() {
                this.async(function() {
                    this.$.hub.publish('page:change');
                }, 1)
            }
		});
    </script>
</dom-module>