<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/format.html"></html-import>

<dom-module id="alloy-table">
    <template>
        <style>
             :host {
                width: 100%;
                display: block;
            }

            .table {
                table-layout: fixed;
            }
             :host::content .dataTables_paginate {
                text-align: right;
            }

             /*:host::content .pagination>li>a,
             :host::content .pagination>li>a:focus,
             :host::content .pagination>li>a:hover,
             :host::content .pagination>li>span:focus,
             :host::content .pagination>li>span:hover {
                color: #6E6E6E;
                border-radius: 0 !important;
            }

             :host::content .pagination>.active>a,
             :host::content .pagination>.active>a:focus,
             :host::content .pagination>.active>a:hover,
             :host::content .pagination>.active>span,
             :host::content .pagination>.active>span:focus,
             :host::content .pagination>.active>span:hover {
                background: #0095d0;
                border: 1px solid #0095d0;
            }*/
        </style>
        <template is="dom-if" if="[[ !hideHeader ]]">
            <div class="filtering clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad">
                    <template is="dom-if" if="[[ tableConfig.tags.values ]]">
                        <ul class="nav nav-tabs doctabs clearfix">
                            <li class="active"><a data-toggle="tab" on-click="tagClick">All</a></li>
                            <template is="dom-repeat" items="[[ tableConfig.tags.values ]]" as="tag">
                                <li><a data-toggle="tab" on-click="tagClick">[[ tag ]]</a></li>
                            </template>
                        </ul>
                    </template>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right no-pad">
                    <span class="search">
                        <input id="table-search" placeholder=" [[ searchInputPlaceholder ]]" type="search" value="{{ searchTerm::input }}"><i class="fa fa-search"></i>
                    </span> 20<span class="df df-line-bar"></span>
                </div>
            </div>
        </template>
        <table id="alloy-table" class="table hover issue-tracker" style="width: 100%;">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "alloy-table",

            behaviors: [eventHub],

            observers: ["initializeDataTable(tableConfig)"],

            properties: {
                table: Object,
                tableConfig: Object,
                hideHeader: {
                    value: false,
                    type: Boolean
                }
            },

            attached: function () {
                this.fire("attached");
                this.publish(this.id + ".attached");
                window.addEventListener("hashchange", this.createHashChangedHandler());
            },

            detached: function () {
                window.removeEventListener("hashchange", this.onHashChanged);
            },

            createHashChangedHandler: function () {
                this.onHashChanged = function () {
                    this.searchTerm = "";
                    this.table && this.table.search(this.searchTerm).draw();
                }.bind(this);

                return this.onHashChanged;
            },

            initializeDataTable: function (tableConfig) {
                var self = this;

                if (!tableConfig) {
                    return
                }

                var table = self.table = $("#alloy-table", self).DataTable({
                    sDom: '<"top">rt<"bottom"ip><"clear">',
                    autoWidth: false,
                    order: tableConfig.order || [],
                    data: tableConfig.data,
                    columns: tableConfig.columns,
                    columnDefs: tableConfig.columnDefs,
                    info: false,
                    pagingType: "simple_numbers"
                });

                this.table = table;

                if (typeof tableConfig.addClickHandling === "function") {
                    table.on('draw.dt', function () {
                        tableConfig.addClickHandling.call(self);
                    });
                    tableConfig.addClickHandling.call(self);
                }

                // Create and render buttons
                new $.fn.dataTable.Buttons(table, {
                    buttons: ['copyHtml5', 'csvHtml5',
                        {
                            extend: 'excelHtml5',
                            title: 'payments',
                            extension: '.xlsx'
                        }, 'pdfHtml5', 'print'
                    ]
                })

                // Custom Length Selector
                $(this.$$("#length-selector")).on("change", function () {
                    table.page.len(this.value).draw();
                });

                // Custom search
                $(this.$$("#table-search")).on('input', function () {
                    table.search(this.value).draw();
                });
            },

            getData: function (row) {
                return this.table.row(row).data();
            },

            tagClick: function (e) {
                var self = this;
                var tab = e.target;
                var tabText = $(tab).text();

                if (tab.id === "show-all" || $(tab).hasClass("selected")) {
                    this.selectAllTag();
                    return;
                }

                self.removeSelectedTagsFromTable();
                self.table.columns(self.tableConfig.tags.column).search(tabText).draw();
                $(tab).addClass("selected");
                self.colorTableTags(tabText);
            },

            selectAllTag: function () {
                this.removeSelectedTagsFromTable();
                this.table.columns().search('').draw();
                $("#show-all", this).addClass("selected");
                $(".btn", this.$["alloy-table"]).each(function () {
                    $(this).removeClass("selected");
                });
            },

            removeSelectedTagsFromTable: function () {
                $(".tags span, #alloy-table .tag", this).each(function () {
                    $(this).removeClass("selected");
                });
            },

            changeOption: function (e) {
                var option = $(e.target).val();
                if (option === "all") {
                    this.table.columns().search('').draw();
                    return;
                }
                this.table.columns(this.tableConfig.options.column).search(option.toLowerCase()).draw();
            },

            formatDate: function (date) {
                return this.$.format.formatDate(date);
            },

            capitalize: function (string) {
                return this.$.format.capitalize(string);
            },

            formatMoney: function (value) {
                if (typeof (value) != Number)
                    value = new Number(value);
                return value.formatMoney(2);
            },

            reloadWithData: function (data) {
                if (this.table) {
                    this.table.clear();
                    var header = $(".header", this)[0];
                    var selectedText = $(".tag.selected", header).text();
                    this.table.rows.add(data).draw();
                    this.colorTableTags(selectedText);
                }
            },

            colorTableTags: function (text) {
                if (!text) {
                    return
                }
                $(".btn:contains('" + text + "')", this.$["alloy-table"]).each(function () {
                    $(this).addClass("selected");
                });
            },
        })
    </script>
</dom-module>