<dom-module id="action-center-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "action-center-service",

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior
                ],

                baseUrl: null,

                attached: function () {
                    if(this.configuration.services.requiredCondition == undefined)
                    {
                        throw new Error("requiredCondition service not found");
                    }
                    this.publish(this.id + ".attached");
                    this.baseUrl= this.configuration.services.requiredCondition;
                },

                acceptCondition: function (entityId, conditionId, notes) {
                    var self = this;
                    var url = ["application", entityId, "accept"].join("/");
                    var payload = {
                        notes: notes,
                        requestId: conditionId
                    };

                    return self.ensure("http")
                        .then(function (http) {
                            return http.put(url, payload, self.baseUrl);
                        })
                        .then(function (response) {
                            response
                        });
                },

                findAction: function (entityId, actionId) {
                    var self = this;

                    return self.getActions(entityId)
                        .then(function (actions) {
                            return _.find(actions, function (action) {
                                return action.id === actionId;
                            });
                        });
                },

                getActions: function (entityId) {
                    var self = this;
                    var url = ["application", entityId].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                getAllApplicationsMineWithSpouse: function (applicationNumber) {
                    var self = this;
                    var url = ['application', applicationNumber, 'mine-with-spouse'].join('/');

                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                getOutStandings: function (entityId) {
                    var self = this;
                    var url = ["application" , entityId, "status", "requested"].join("/");
                    return this.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            })
                            .then(function (response) {
                                return response;
                            });
                },

                rejectCondition: function (entityId, conditionId, notes) {
                    var self = this;
                    var url = ["application", entityId, "reject"].join("/");
                    var payload = {
                        notes: notes,
                        requestId: conditionId
                    };

                    return self.ensure("http")
                            .then(function (http) {
                                return http.put(url, payload, self.baseUrl);
                            })
                            .then(function (response) {
                                response
                            });
                },

                requestTemplates : function () {
                    var self = this;
                    var url = ["application", "request-templates"].join("/");
                    return this.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            })
                            .then(function (response) {
                                return response;
                            });
                },

                requestTypes : function () {
                    var self = this;
                    var url = ["application", "request-types"].join("/");
                    return this.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            })
                            .then(function (response) {
                                return response;
                            });
                },

                createCustomCondition: function (entityType, entityId, payload) {
                    var self = this;
                    var url = [entityType, entityId, "custom-condition"].join("/");

                    return self.ensure("http")
                            .then(function (http) {
                                return http.post(url, payload, self.baseUrl);
                            });
                },

                createRequest: function (entityType, entityId, requestId, payload) {
                    var self = this;
                    var url = [entityType, entityId, requestId].join("/");

                    return this.ensure("http")
                            .then(function (http) {
                                return http.post(url, payload, self.baseUrl);
                            });
                }
            });
        })();
    </script>
</dom-module>