<dom-module id="activity-service">
  <template>
  <http-request id="http"></http-request>
  <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
  </template>
    <script>
    Polymer({
        is: "activity-service",

        behaviors: [eventHub],

        baseUrl: null,

        attached:function(){
            if(this.configuration.services.activityLog == undefined){
              throw new Error("activityLog service not found");
            }
            this.baseUrl = this.configuration.services.activityLog;
            this.publish(this.id + ".attached");
        },
        getActivityLogList: function (entityId) {
            var self = this;

            var url = ["application", entityId,"all","clean"].join("/");

            var baseUrl= self.baseUrl;

            return this.$.http.get(url, baseUrl).then(function (response) {
                return response;
            });
        }
      });
    </script>
</dom-module>
