<dom-module id="alloy-ajax">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "alloy-ajax",

            properties: {
                method: String,
                url: String,
                baseUrl: String,
                payload: Object,
                onResponse: String,
                OnError: String,
                lastResponse: {
                    type: Object,
                    notify: true
                },
                lastError: {
                    type: Object,
                    notify: true
                }
            },

            attached: function () {
                var self = this;
                var responseHandler = self.domHost[self.responseHandler];
                var errorHandler = self.domHost[self.errorHandler];

                if (!self.url) {
                    return console.error("Url cannot be empty.", self.verifyDomHostMessage());
                }

                if (!self.baseUrl) {
                    return console.error("BaseUrl cannot be empty.", self.verifyDomHostMessage());
                }

                if (responseHandler && typeof responseHandler !== "function")
                    return console.error(
                        "Optional attribute responseHandler must be a function when defined.",
                        self.verifyDomHostMessage()
                    );

                if (errorHandler && typeof errorHandler !== "function")
                    return console.error(
                        "Optional attribute errorHandler must be a function when defined.",
                        self.verifyDomHostMessage()
                    );

                self.makeRequest()
                    .then(function (response) {
                        self.set("lastResponse", response);

                        if (typeof responseHandler === "function")
                            responseHandler.call(self.domHost, response);
                    })
                    .catch(function (error) {
                        self.("lastError", error);

                        if (typeof errorHandler === "function")
                            errorHandler.call(self.domHost, error);
                    });
            },

            makeRequest: function () {
                var self = this;

                return new Promise(function (resolve, reject) {
                    switch (self.method) {
                        case "GET":
                            self.$.http[self.method](self.url, self.baseUrl)
                                .then(resolve).fail(reject);
                        default:
                            var message = self.unknownMethodMessage();
                            console.warn(message);
                            reject(message);
                    }
                });
            },

            unknownMethodMessage: function () {
                return console.warn("Method " + self.method + " is not implemented.", self.verifyDomHostMessage());
            },

            verifyDomHostMessage: function () {
                return "Verify usage in " + this.domHost;
            }
        })
    </script>
</dom-module>