<dom-module id="application-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config"
        alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "application-service",
            questionnaireUrl: null,
            baseUrl: null,
            assignmentUrl:null,
            behaviors: [eventHub, ensureDependenciesBehavior],

            attached: function () {
                this.publish(this.id + ".attached");
                this.questionnaireUrl= this.configuration.services.questionnaire;
                this.baseUrl= this.configuration.services.application;
                this.assignmentUrl=this.configuration.services.assignment;
            },

            wrapWithPromise: function wrapWithPromise($request) {
                return new Promise(function (resolve, reject) {
                    $request.then(resolve).fail(reject);
                });
            },
            /**
             * @method getByApplicationNumber
             * @param applicationNumber
             * @returns {*}
             */
            getByApplicationNumber: function (applicationNumber) {
                return this._applicationService()
                    .get(applicationNumber)
            },
            /*
                            * This  function will fetch the summary details for a given application
                            */
            getApplicationSummary: function (applicationNumber) {
                var self = this;
                var url = ["application", applicationNumber, "summary"].join("/");
                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.questionnaireUrl);
                    });
            },

            getApplicationSummaryQuestions: function (applicationNumber) {
                var self = this;
                var url = ["questionnaire", applicationNumber, "summary", false].join("/");
                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, self.questionnaireUrl);
                        });
            },

            updatePrimaryApplicantAddress: function (applicationNumber, payload) {
                var url = [applicationNumber, "address", "primary"].join("/");
                return this.wrapWithPromise(this.$.http.put(url, payload, this.baseUrl));
            },

            updatePrimaryApplicantPhone: function (applicationNumber, applicantId, payload) {
                var url = [
                    applicationNumber,
                    applicantId,
                    "phoneNumber",
                    "primary"].join("/");
                return this.$.http.post(url, payload, this.baseUrl);
            },

            getVerifiedIncome: function (applicationNumber) {
                var url = "/" + applicationNumber;
                return this.$.http.get(url, this.baseUrl)
                    .then(function (application) {
                        return application.verifiedAnnualIncome;
                    })
                    .fail(function (error) {
                        console.error(error);
                    });
            },

            updateVerifiedIncome: function (applicationNumber, newAmount) {
                var url = [
                    applicationNumber,
                    newAmount,
                    "annual-income"].join("/");
                return this.$.http.post(url, null, this.baseUrl);
            },

            getApplicationByApplicantId: function (applicantId) {
                var url = "/applicant/" + applicantId;
                return this.wrapWithPromise(this.$.http.get(url, this.baseUrl));
            },

            getApplicationNumbersByApplicantId: function (applicantId) {
                return this.$.http.get("/applicant/" + applicantId,
                    this.baseUrl);
            },
            
            //here
            _http: function (baseUrl) {
                var self = this;

                return {
                    get: function (url) {
                        return self.ensure("http").then(function (http) {
                            return http.get(url, baseUrl);
                        });
                    }
                }

            },

            _applicationService: function () {
                return this._http(this.configuration.services.application);
            },


            /*
             * This will fetch the details like loan,address,amount and state and zipcode,remianing days to close etc.
             */
            getApplicationDetails: function (entityId) {
                var self = this;

                var url = [entityId].join("/");

                return self.$.http.get(url, self.baseUrl).then(function (response) {
                    return response;
                });
            },

            /**
             * Bind borrower with application
             */
            assignBorrowerToApplication: function (applicationNumber, borrowerEmail) {
                var self = this;

                var url = ["application", applicationNumber, borrowerEmail, "assignment"].join("/");
                var payload = {};

                return this.$.http.put(url, payload, self.assignmentUrl);
            }

        });
    </script>
</dom-module>