<dom-module id="applicant-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "applicant-service",

            properties: {
                baseUrl: {
                    type: String,
                    value: null
                }
            },
            attached: function () {
                    var self = this;
                    if(this.configuration.services.applicant == undefined){
                    throw new Error("applicant service not found");
                    }
                     self.baseUrl = this.configuration.services.applicant;
                },

            changeName: function (id, applicationNumber, firstName, middleName, lastName, generationOrSuffix) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.$.http.put(
                        [id, "name",applicationNumber].join("/"),
                        {
                            FirstName: firstName,
                            MiddleName: middleName,
                            LastName: lastName,
                            GenerationOrSuffix: generationOrSuffix
                        },
                        this.configuration.services.applicant
                    ).success(resolve).fail(reject);
                });
            }
        })
    </script>
</dom-module>