<dom-module id="application-filters-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "application-filters-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
           
            baseUrl: null,

            attached: function () {
                if(this.configuration.services.applicationFilters == undefined){
                   throw new Error("applicationFilters service not found");
                }
                this.baseUrl = this.configuration.services.applicationFilters;
                this.publish(this.id + ".attached");
            },

            _combineLoans: function () {
                var self = this;
                var collection = [];
                
                return self.fetchActiveLoans()
                    .then(function (loans) {
                        collection = collection.concat(loans);
                    })
                    .then(self.fetchClosedLoans.bind(self))
                    .then(function (loans) {
                        collection = collection.concat(loans);
                        return collection;
                    });
            },

            fetchActiveLoans: function () {
                var self = this;
                var url = self.configuration.apps.pipeline.configuration.links[0].ActiveLoansUrl;
                // var url = "active-loans/all";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            fetchClosedLoans: function () {
                var self = this;
                var url = self.configuration.apps.pipeline.configuration.links[0].ClosedLoansUrl;
                // var url = "closed-loans/all";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },

            fetchAssignedActiveLoans: function () {
                var self = this;
                //var url = self.configuration.apps.pipeline.configuration.links[0].ActiveLoansUrl;
                 var url = "active-suspended-loans/mine";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            fetchAssignedClosedLoans: function () {
                var self = this;
                //var url = self.configuration.apps.pipeline.configuration.links[0].ClosedLoansUrl;
                 var url = "closed-loans/mine";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
           
            fetchReviewLoans: function () {
                var self = this;
                var url = self.configuration.apps.pipeline.configuration.links[0].ReviewLoansUrl;

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            fetchAssignedReviewLoans: function () {
                var self = this;
                //var url = self.configuration.apps.pipeline.configuration.links[0].ReviewLoansUrl;
                 var url = "application-review-loans/mine";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            findByApplicationNumber: function (loans, applicationNumber) {
                return _.find(loans, function (loan) {
                    return loan.applicationId === applicationNumber;
                });
            },
            
            getDaysToClose: function (applicationNumber) {
                var self = this;

                return self._combineLoans()
                    .then(function (loans) {
                        return self.findByApplicationNumber(loans, applicationNumber).daysToClose;
                    });
            },

            getTotalUnReadReminders: function (applicationNumber) {
                var self = this;

                return self._combineLoans()
                    .then(function (loans) {
                        return self.findByApplicationNumber(loans, applicationNumber).totalUnReadReminders;
                    });
            },
            getActiveClosedLoans: function(email)
            {
                var self = this;                               
                 var url = ["active-closed-loans", "email",email].join("/");
                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            }
        });
    </script>
</dom-module>

