<dom-module id="application-documents-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "application-documents-service",

                baseUrl: null,
                attached: function () {
                    if(this.configuration.services.documentManager == undefined){
                    throw new Error("documentManager service not found");
                    }
                    this.baseUrl=this.configuration.services.documentManager;
                },

                behaviors: [
                    alloy.lifeCycleEvents,
                    eventHub,
                    ensureDependenciesBehavior
                ],

                downloadAllDocuments: function (applicationNumber, portal, entityType) {
                    var self= this;
                    return self.$.http.get("/" + entityType + "/" + applicationNumber, self.baseUrl).then(function (
                        documents) {
                        var documentIds = [];
                        if (documents != null) {
                            documents.forEach(document => {
                                documentIds.push(document.id);
                            });
                        }

                        if (documentIds.length > 0) {
                            var url = [self.baseUrl, entityType, applicationNumber, "download",
                                "zip"
                            ].join("/");
                            // if(portal === "back-office")
                            // {
                            //     url = [url, "all"].join("/");
                            // }
                            // else
                            // {
                            //     url = [url, "all"].join("/");
                            // }

                            var x = new XMLHttpRequest();
                            x.open("post", url, true);
                            x.responseType = "blob";
                            x.setRequestHeader("Authorization", "Bearer " + self.$.session.get(
                                "token"));
                            x.setRequestHeader("content-type", "application/json");
                            x.onload = function (e) {
                                download(e.target.response, applicationNumber);
                                self.publish("documents.zip.ready");
                            };
                            x.send(JSON.stringify(documentIds));
                        }
                    });

                }
            });
        })();
    </script>
</dom-module>