<dom-module id="assignment-service">
  <template>
    <http-request id="http"></http-request>
    <alloy-config id="config"
    alloy-configuration="{{configuration}}"></alloy-config>
  </template>
  <script>
    Polymer({
      is: "assignment-service",

      behaviors: [
        eventHub,
        ensureDependenciesBehavior
      ],

      baseUrl: null,
      userProfileBaseUrl: null,

      attached: function () {
        if(this.configuration.services.assignment == undefined)
        {
            throw new Error("assignment service not found");
        }
        this.publish(this.id + ".attached");
        this.baseUrl= this.configuration.services.assignment;
        this.userProfileBaseUrl= this.configuration.services.userProfile;
      },

      wrapWithPromise: function wrapWithPromise($request) {
        return new Promise(function (resolve, reject) {
          $request.then(resolve).fail(reject);
        });
      },

      getLoanOfficer: function (temporaryApplicationNumber) {
        var self = this;
        var url = ["application", temporaryApplicationNumber, "assignment", "loan officer"].join("/");

        return self.ensure("http")
                .then(function (http) {
                  return http.get(url, self.baseUrl);
                });
      },
      getAffinityPartnerAdmin: function (temporaryApplicationNumber) {
        var self = this;
        var url = ["application", temporaryApplicationNumber, "assignment", "affinity partner admin"].join("/");


        return self.ensure("http")
                .then(function (http) {
                  return http.get(url, self.baseUrl);
                });
      },

      fetchLoanAssignedOfficer: function (temporaryApplicationNumber, role) {
        var self = this;
        var url = ["application", temporaryApplicationNumber, "assignment", role].join("/");

        return self.ensure("http")
                .then(function (http) {
                  return http.get(url, self.baseUrl);
                });
      },

      parseInvitation: function (key, token) {
        var self = this;
        var url = ["key", key, "value", token].join("/");

        return this.ensure("http")
                .then(function (http) {
                  return http.get(url);
                });
      },
      checkAssignedToMe: function(entityType, entityId)
      {
        var url = [entityType, entityId, "assigned","me"].join("/");
        return this.wrapWithPromise(this.$.http.get(url, this.baseUrl));
      },
      getAssignments: function (entityType, entityId) {
        var url = [entityType, entityId, "assignments"].join("/");
        return this.wrapWithPromise(this.$.http.get(url, this.baseUrl));
      },

      sendInvite: function (username, payload) {
        var self = this;
        var url = ["application", username, "invite", "send"].join("/");
        return self.ensure("http")
                .then(function (http) {
                  return http.post(url, payload, self.baseUrl);
                });
      },

      getSuperiorByRole: function (username, role) {
        var url = [username, role].join("/");
        return this.wrapWithPromise(this.$.http.get(url, this.baseUrl));
      },

      getAllAssignedUsers: function (username) {
        var url = [encodeURIComponent(username), "relationships", "all"].join("/");
        return this.wrapWithPromise(this.$.http.get(url, this.userProfileBaseUrl));
      },

      sendLeadReminder: function (invitationId) {
        var self = this;
        var url = ['invite-lead', invitationId, 'send-reminder', false].join('/');
        return self.ensure("http")
                .then(function (http) {
                  return http.put(url, {}, self.baseUrl);
                });
      },

      sendApplicationReminderNotification: function (applicationNumber, templateName, payload) {
        var self = this;
        var url = ['applicationremindernotification', 'application', applicationNumber, templateName].join('/');
        return self.ensure("http")
                .then(function (http) {
                  return http.post(url, payload, self.baseUrl);
                });
      },

      fetchLeadAssignedOfficer: function (invitationToken, role) {
        var self = this;
        var url = ['invite-lead', invitationToken, role].join('/');
        return self.ensure("http")
                .then(function (http) {
                  return http.get(url, self.baseUrl);
                });
      },

      fetchLeadInfo: function (leadId) {
        var self = this;
        var url = ['invite-lead', leadId, 'info'].join('/');
        return self.ensure("http")
                .then(function (http) {
                  return http.get(url, self.baseUrl);
                });
      }
    });
  </script>
</dom-module>