<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<dom-module id="calendar-service">
    <template>
        <http-request id="http"></http-request>
        <assignment-service id="assignmentService"></assignment-service>
        <team-service id="teamService"></team-service>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
        alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "calendar-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            baseUrl: null,

            attached: function () {
                if(this.configuration.services.calendar == undefined)
                {
                    throw new Error("calendar service not found");
                }
                this.publish(this.id + ".attached");
                this.baseUrl = this.configuration.services.calendar
            },

            updateEvent: function (entityType, entityId, eventId, eventDate, isAdded, title, location, startTime, startTimePeriod, endTime, endTimePeriod, description, priority, emailIds) {
                var self = this;

                var url = [entityType, entityId, 'add-update-event'].join("/");

                var baseUrl = this.baseUrl;

                var payload = [{
                    eventId: eventId,
                    eventDate: eventDate,
                    Description: description,
                    location: location,
                    priority: priority,
                    invities: emailIds,
                    isAdded: isAdded,
                    title: title,
                    StartTime: startTime,
                    StartTimePeriod: startTimePeriod,
                    EndTime: endTime,
                    EndTimePeriod: endTimePeriod
                }];
                return self.$.http.post(url, payload, baseUrl).then(function (response) {
                    return response;
                });
            },

            deleteEvent: function (entityType, entityId, eventId, eventDate) {
                var self = this;

                var url = [entityType, entityId, eventId].join("/");

                var baseUrl = this.baseUrl;

                var payload = {
                    eventDate: eventDate
                };

                return self.$.http.delete(url, payload, baseUrl).then(function (response) {
                    return response;
                });

            },

            createNewEvent: function (eventdate, entityId, entityType, title, location, startTime, startTimePeriod, endTime, EndTimePeriod, description, priority, emailIds, loggedInUsername) {
                var self = this;

                var url = [entityType, entityId].join("/");

                if (!endTime) {
                    EndTimePeriod = '';
                }

                var payload = {
                    eventDate: eventdate,
                    description: description,
                    location: location,
                    priority: priority,
                    invities: emailIds,
                    title: title,
                    StartTime: startTime,
                    StartTimePeriod: startTimePeriod,
                    EndTime: endTime,
                    EndTimePeriod: EndTimePeriod,
                    CreatedBy: loggedInUsername
                };

                var baseUrl = this.baseUrl;

                return new Promise(function (resolve, reject) {
                    self.$.http.post(
                        url,
                        payload,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },

            getEventList: function (entityId, month, year) {
                var self = this;

                var url = ["application", entityId, month, year, "month"].join("/");

                var baseUrl = this.baseUrl;

                return self.$.http.get(url, self.baseUrl).then(function (response) {
                    return response;
                });
            },
            sendSelectedLists: function (entityId, items, emailId, entityType) {
                var self = this;

                var url = ["application", entityId, emailId, "sendtocalendar", entityType].join("/");

                var payload = items;

                var baseUrl = this.baseUrl;

                return new Promise(function (resolve, reject) {
                    self.$.http.post(
                        url,
                        payload,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },
            sendNotificationValue: function (userName, value) {
                var self = this;
                var baseUrl = this.configuration.services.userProfile;
                var url = [userName, "setting", "calendarnotification", "update"].join("/");

                return this.$.http.put(url, value, baseUrl);
            },

            /**
             * Returns value of notification setting
             */
            getNotificationValue: function (userName) {
                var baseUrl = this.configuration.services.userProfile;
                var url = [userName, "setting", "calendarnotification"].join("/");
                return this.$.http.get(url, baseUrl);
            },

            /* This method returns all the users required to while saving the event as default users(borrowers and coborrowers)*/
            getAllUsers: function (entityId) {
                var self = this;
                var entityType = "Application";

                return this.ensure("assignmentService")
                    .then(function (assignmentService) {
                        return assignmentService.getAssignments(entityType, entityId);
                    })
            }

        });
    </script>
</dom-module>