<dom-module id="consent-tracker-service">
<template>
    <http-request-promisified id="$http"></http-request-promisified>
    <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
</template>
<script>
    Polymer({
        is: "consent-tracker-service",

        properties: {
            baseUrl: {
                value: null,
                type: String
            }
        },

         attached: function () {
                    var self = this;
                    if(this.configuration.services.consentTracker == undefined){
                    throw new Error("consentTracker service not found");
                    }
                     self.baseUrl = this.configuration.services.consentTracker;
                },

        behaviors: [eventHub, ensureDependenciesBehavior],

        /**
         * Saves consent given by various entities (borrowers, merchants, etc...)
         * @param {string} consentType
         * @param {string|number} entityId
         * @param {string} entityType
         * @returns {Promise<any>}
         */
        accept: function (consentType, entityId, entityType) {
            var self = this;
            var url = "/" + entityType;
            var payload = {
                entityId: entityId,
                consent: consentType
            };

            return this.ensure("$http").then(function($http) {
               return $http.post(url, payload, self.baseUrl);
            });
        },

        configureActivityLog: function () {
            return this.$.http.post();
        }
    });
</script>
</dom-module>