<dom-module id="custom-http-request-service">
    <template>
        <session-manager id="session"></session-manager>
          <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "custom-http-request-service",
            properties: {
                sessionConfig: {
                    type: Object
                }
            },

           post: function (url, data, base, cb, ecb) {
                return this._request(url, data, base, "POST", true, cb, ecb);
           },
        parseUrl: function (url) {
                // Allows ability to pass in parameters defined in the URL of the current page
                // example: this.$.http("/endpoint/:param");
                var urlParams = this.$.url.getParams();
                var ajaxParams = this.$.url.getParams(url);

                if (!urlParams) { return url }
                for (var params in ajaxParams) {
                    url = url.replace(":" + params, urlParams[params]);
                }
                url = url.replace(/:/g, "");
                return url;
            },
        _request: function (url, data, base, type, async, cb, ecb) {
                var self = this;
                var base = base || window.config.base;
                // Store url in "a" tag to access href API
                var a = $("<a>", { href: url })[0];

                //Due to issue in IE
                //https://connect.microsoft.com/IE/Feedback/Details/1002846
                var pathName = (a.pathname.indexOf("/") !== 0) ? ("/" + a.pathname) : a.pathname;

                pathName = self.parseUrl(pathName);
                var requestUrl = base + pathName + a.search;

                // Get user token if available otherwise use app token
                var token = self.$.session.get("token");
                if (!token)
                    token = window.defaultAppToken;

                var ipAddress = self.$.session.get("ip-address");
                // Check if body is sent
                var sendBody = ["POST", "PUT", "DELETE"];
                 var requestInfo = {
                    type: "POST",
                    cache: false,
                    url: requestUrl,
                    data: data,
                    async: async,
                    processData: false,
                    contentType: sendBody.indexOf(type) !== -1 ? false  : "application/json",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + token);
                        xhr.setRequestHeader("X-Client-IP", ipAddress);
                    }
                 }
                if (self.sessionConfig) {
                    var requestStatus = {};
                    var isAuthorized = self.sessionConfig.isAuthorized();
                    var request = isAuthorized.then(function () {
                        return requestStatus.ajax = $.ajax(requestInfo);
                    });
                    requestStatus.q = request.done(function (data) {
                        if (typeof cb !== "function") { return }
                        cb(data);
                    })
                        .fail(function (response) {
                            if (typeof ecb !== "function") { return }
                            ecb(response);
                        });
                    return requestStatus;
                } else {
                    return $.ajax(requestInfo)
                        .done(function (data) {
                            if (typeof cb !== "function") { return }
                            cb(data);
                        });
                }
            }
        
        });
    </script>
</dom-module>