<dom-module id="data-mapper-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "data-mapper-service",
            behaviors: [eventHub],
            baseUrl: null,
            attached:function(){
                if(this.configuration.services.dataMapper == undefined){
                     throw new Error("dataMapper service not found");
                }
                this.baseUrl = this.configuration.services.dataMapper;
                this.publish(this.id + ".attached");
            },
            getAllList: function () {
                var url = ['tenant', 'field', 'all'].join('/');
                return this.$.http.get(url, this.baseUrl);
            },
            updateLabel: function (type, standardizedField, payload) {
                var url = ['tenant', type, standardizedField].join('/');
                return this.$.http.put(url, payload, this.baseUrl);
            }
        });
    </script>
</dom-module>
