<dom-module id="data-attributes-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "data-attributes-service",
            behaviors: [eventHub],
            properties: {
                baseUrl: {
                    value: null,
                    type: String
                }
            },
            attached: function () {
                var self = this;
                if(this.configuration.services.dataAttributes == undefined){
                     throw new Error("dataAttributes service not found");
                }
                self.baseUrl = this.configuration.services.dataAttributes;
                this.publish(this.id + ".attached");
            },
            setAttribute: function (entityType, entityId, name, value) {
                var self = this;
                var url = [entityType, entityId, name].join("/");

                return new Promise(function (resolve, reject) {
                    self.$.http.post(url, value, self.baseUrl).success(resolve).error(reject)
                }.bind(self));
            },
            getAttribute: function (entityType, entityId, name) {
                var self = this;
                var url = [entityType, entityId, name].join("/");

                return new Promise(function (resolve, reject) {
                    self.$.http.get(url, self.baseUrl).success(resolve).error(reject);
                }.bind(self));
            }
        });
    </script>
</dom-module>