<dom-module id="docitt-security-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "docitt-security-service",

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior
                ],

                baseUrl: null,

                attached: function () {
                    if(this.configuration.services.docittSecurity == undefined){
                       throw new Error("docittSecurity service not found");
                    }
                    this.baseUrl = this.configuration.services.docittSecurity;
                    this.publish(this.id + ".attached");
                },

                fetchTokenValidity: function (referenceId, token) {
                    var self = this;
                    var url = "verify-token";
                    var payload = {
                        "refid" : referenceId,
                        "token": token
                    };

                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                updateInformation: function (referenceId, phoneNumber) {
                    var self = this;
                    var url = "updateinformation";

                    var payload = {
                        refid : referenceId,
                        phoneNumber : phoneNumber,
                        countryCode : window.config.countryCode
                    };

                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                }
            });
        })();
    </script>
</dom-module>