<dom-module id="document-manager-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "document-manager-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior,
                alloy.lifeCycleEvents
            ],
            baseUrl: null,

            attached: function () {
                if(this.configuration.services.documentManager == undefined)
                {
                    throw new Error("documentManager service not found");
                }
                this.publish(this.id + ".attached");
                this.baseUrl= this.configuration.services.documentManager;
            },
            // baseUrl: this.configuration.services.documentManager,

            fetchAllDocuments: function (entityId) {
                var self = this;
                var url = ["application", entityId].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },

            fetchDocument: function (entityId, documentId) {
                var self = this;
                var url = ["application", entityId, documentId].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },

            fetchDocumentsByRequest: function (entityId, conditionId) {
                var self = this;

                return self.fetchAllDocuments(entityId)
                    .then(function (documents) {
                        return _.filter(documents, function (document) {
                            return document.metadata && document.metadata.requestId === conditionId;
                        });
                    });
            },

            wrapWithPromise: function wrapWithPromise($request) {
                return new Promise(function (resolve, reject) {
                    $request.then(resolve).fail(reject);
                });
            },
            /**
             * @method getDocumentByEntityTypeWithId
             * @param entityType,entityId,documentId
             * @returns {*}
             */
            getDocumentByEntityTypeWithId: function (entityType, entityId, documentId) {
                return this._documentManagerService()
                    .get([entityType, entityId, documentId].join("/"))
            },

            _http: function (baseUrl) {
                var self = this;

                return {
                    get: function (url) {
                        return self.ensure("http").then(function (http) {
                            return http.get(url, baseUrl);
                        });
                    }
                }

            },

            _documentManagerService: function () {
                var self = this;
                return this._http(self.baseUrl);
            }

        });
    </script>
</dom-module>