<dom-module id="email-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "email-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            baseUrl:null,

            attached: function () {
                if(this.configuration.services.email == undefined){
                    throw new Error("email service not found");
                }
                this.baseUrl = this.configuration.services.email;
                this.publish(this.id + ".attached");
            },

            sendReminder: function (applicationNumber, payload) {
                var self = this;
                var url = ["application", applicationNumber, "reminder-email"].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.post(url, payload, self.baseUrl);
                    });
            }
        });
    </script>
</dom-module>

