<dom-module id="form-validators">
<template>

</template>
<script>
    Polymer({
        is: "form-validators",

        isAlpha: function(value) {
            return value.toString().match(/^[a-zA-Z\s]*$/) != null;
        },

        isAlphaNum: function(value) {
            var re = /^(?![0-9]*$)[a-zA-Z0-9\s]+$/g;
            return re.test(value);
        },

        isEmpty: function (value) {
            return !value;
        },
        
        isNumber: function(value) {
            return value.toString().match(/^[0-9]+$/) != null;
        },
        
        isOfRequiredLength: function (value, min, max) {
            if ( value && value.length >= min && value.length <= max) {
                return true;
            }

            return false;
        },

        isValidEmail: function(value) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(value);
        },

        isValidExt: function(value) {
            var re = /^(\s*|\d+)$/g;
            return re.test(value);
        },

        isValidZip: function(value) {
            var re = /^\d{5}$/g;
            return re.test(value);
        },

        hasCorrectlyConfirmedPassword: function (password, passwordConfirmation) {
            return password === passwordConfirmation;
        },

        ssn: function(value) {
            var re = /^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/g;
            var valid = re.test(cleanInput(value));

            if (!valid) {
                return "ssn";
            }

            return "";

            function cleanInput(input) {
                return input.replace(/-/g, "").slice(0, 9);
            }
        },
    });
</script>
</dom-module>