<dom-module id="alloy-format">
    <template>[[ output ]]</template>
    <script>
        Polymer({
            is: "alloy-format",

            behaviors: [eventHub],

            properties: {
                phoneNumber: String,
                date: String,
                time: String,
                currency: {
                    type: String,
                },
                currencySymbol: {
                    type: String,
                    value: "$ "
                },
                output: String,
                decimalPlaces: String
            },

            observers: [
                "onPhoneNumberChanged(phoneNumber)",
                "onDateChanged(date)",
                "onTimeChanged(time)",
                "onCurrencyChanged(currency)"
            ],

            onPhoneNumberChanged: function (phoneNumber) {
                this.set("output", this.formatPhone(phoneNumber));
            },

            onDateChanged: function (date) {
                this.output = this.formatDate(date);
            },

            onTimeChanged: function (time) {
                this.set("output", this.formatTime(time));
            },

            onCurrencyChanged: function (currency) {
                this.output = this.formatCurrency(currency);
            },

            attached: function () {
                this.publish(this.id + ".attached", {
                    instance: this
                });
            },

            formatPhone: function (phone) {
                phone = phone.replace(/\s|-|\(|\)/g, "");
                return "(" + phone.slice(0, 3) + ") " + phone.slice(3, 6) + "-" + phone.slice(-4);
            },

            formatDate: function (date, isLong, customFormat) {
                if (new Date(date).toString() === "Invalid Date")
                    return date || "";

                var processedDate = moment.tz(date, window.tenant.timezone);

                var longFormat = processedDate.format("MM/DD/YYYY");
                var shortFormat = processedDate.format("MMM D, YYYY");
                var customDateFormat = processedDate.format(customFormat);

                if (isLong) return longFormat;
                if (customFormat) return customDateFormat;
                return shortFormat;
            },

            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },

            formatCurrency: function (currency) {
                var currencyAsFloat = parseFloat(currency);

                if (isNaN(currencyAsFloat)) return currency || "";
                if (currencyAsFloat > 0)
                    return this.currencySymbol + currencyFormat(currencyAsFloat);
                else {
                    currencyAsFloat = currencyAsFloat * -1;
                    return ("(" + this.currencySymbol + currencyFormat(currencyAsFloat) + ")");
                }

                function currencyFormat(num) {
                    var decimalPlaces = parseInt(this.decimalPlaces);

                    if (decimalPlaces === undefined) decimalPlaces = 2;

                    return num.toFixed(decimalPlaces).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")
                }
            }
        })
    </script>
</dom-module>