<dom-module id="instant-id-service">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "instant-id-service",

            behaviors: [eventHub, publishLifecycleEventsBehavior],

            properties: {
                baseUrl: {
                    value: null
                }
            },
            attached: function () {
                if(this.configuration.services.lexisnexis == undefined){
                   throw new Error("lexisnexis service not found");
                }
                var self = this;
                self.baseUrl = this.configura;tion.services.lexisnexis;
            },
            /**
             * Exchange a payload with name and andress for a set of questions
             * @param payload
             * @returns {*|any|Promise<any>}
             */
            fetchQuestions: function (payload) {
                var url = ["instantIdKba"].join("/");
                return this.$.$http.post(url, payload, this.baseUrl);
            },

            /**
             * Submit answers to id verification questions
             * @param payload
             * @returns {*|any|Promise<any>}
             */
            sendAnswers: function (payload) {
                var url = ["instantIdKba/continuation"].join("/");
                return this.$.$http.post(url, payload, this.baseUrl);
            }


        });
    </script>
</dom-module>