<dom-module id="invitation-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "invitation-service",

                behaviors: [eventHub],

                baseUrl: null,

                attached: function () {
                    this.publish(this.id + ".attached");
                    this.baseUrl=this.configuration.services.assignment;
                },

                /**
                 * Verify invitation token
                */
                verifyToken: function (entityType, invitationToken, email, username) {
                    var self = this;
                    //
                    var url = ["invite-verify", entityType, "invite", "verify"].join("/");
                    var payload = {
                        InviteRefId: invitationToken,
                        InviteEmail: email,
                        Username : username
                    };

                    return self.$.http.post(
                            url,
                            payload,
                            ""
                    ).then(function (response) {
                        return response;
                    }, function (error) {
                        return error;
                    })
                },

                /**
                 * Update Invitation
                 */
                updateToken: function (entityType, invitationToken, userName, userId) {
                    var self = this;
                    //
                    var url = ["invite-update", entityType, "invite", "update"].join("/");
                    var payload = {
                        InviteRefId: invitationToken,
                        UserId: userId,
                        UserName: userName
                    }

                    return self.$.http.post(
                            url,
                            payload,
                            ""
                    ).then(function (response) {
                        return response;
                    }, function (error) {
                        return error;
                    })
                },

                /**
                 * Send invite to email entered by user
                 */
                inviteNewMember: function (entityType, entityId, email, role, InvitedBy, firstName, lastName, phone, team,countrycode,sendbothemailtext, isLenderNewLoan = false) 
                {
                    var self = this;
                    var url = [entityType, entityId, "invite", "send"].join("/");
                    
                    var payload = {
                        InvitedBy: InvitedBy,
                        InviteEmail: email,
                        Role: role,
                        Team: team,
                        InviteFirstName: firstName,
                        InviteLastName: lastName,
                        InviteMobileNumber: phone,
                        CountryCode: countrycode,
                        SendBothEmailText:sendbothemailtext,
                        isLenderNewLoan:isLenderNewLoan
                    };

                    return self.$.http.post(url, payload, this.baseUrl)
                            .then(function (response) {
                                return response;
                            }, function (error) {
                                return error;
                            });
                },

                /**
                 * To get details for passed invitation token like inviteEmail, role, etc...
                 */
                getInvitationDetails: function (invitationToken) {
                    var self = this;

                    var url = ["/getinvitationdetails/invite", invitationToken].join("/");

                    return self.$.http.get(
                            url,
                            ""
                    ).then(function (response) {
                        return response;
                    }, function (error) {
                        return error;
                    });
                }
            });
        })();
    </script>
</dom-module>