<dom-module id="lender-metrics-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "lender-metrics-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            baseUrl: null,

            attached: function () {
                if(this.configuration.services.applicationFilters == undefined){
                    throw new Error("applicationFilters service not found");
                }
                this.baseUrl = this.configuration.services.applicationFilters;
                this.publish(this.id + ".attached");
            },

            fetchAvgPerUnit: function (userId) {
                var self = this;
                var url = ["affiliate", userId, "metrics", "avg-per-unit", "month"].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },

            fetchLoanPurposePercentages: function (userId) {
                var self = this;
                var url = ["affiliate", userId, "metrics", "percentage-loan-type", "month"].join(
                    "/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },

            fetchVolume: function (userId) {
                var self = this;
                var url = ["affiliate", userId, "metrics", "volume", "month"].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            }
        });
    </script>
</dom-module>