<dom-module id="logout-service">
    <template>
        <http-request id="http"></http-request>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "logout-service",
                attached: function () {
                    this.baseUrl=this.configuration.services.security;
                },
                baseUrl: null,

                logout: function () {
                    var self = this;
                    var token = self.$.session.get("token");
                    var securityBase = self.baseUrl;

                    return self.$.http.get("/logout", securityBase)
                        .done(function () {
                            self.$.session.remove("token");
                            self.$.session.remove("ip-address");
                            self.$.session.remove("userId");
                            self.$.session.remove(token);
                            self.$.session.remove("borrower-application-is-copy-data"); 
                            self.$.session.remove("borrower-application-email-id");
                            //self.fire("is-not-authorized");
                            if (!_.isUndefined(window.applozic)) {
                                $applozic.fn.applozic('logout');
                            }
                            window.location = "#/login";
                        })
                }
            });
        })();
    </script>
</dom-module>