<dom-module id="lookup-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "lookup-service",

                baseUrl: null,

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior
                ],

                attached: function () {
                    if(this.configuration.services.lookup == undefined){
                       throw new Error("lookup service not found");
                    }
                    this.baseUrl = this.configuration.services.lookup;
                    this.publish(this.id + ".attached");
                },

                getRequiredConditionCategory : function () {
                    var self = this;
                    var url = "requiredConditionCategory";

                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                }
            });
        })();
    </script>
</dom-module>