<dom-module id="merchant-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "merchant-service",

            behaviors: [eventHub, publishLifecycleEventsBehavior],

            properties: {
                baseUrl: {
                    value: null,
                    type: String
                },
                statuses: {
                    value: function () {
                        return {
                            IN_PROGRESS: "In Progress",
                            ACTIVE: "Active",
                            CANCELLED: "Cancelled",
                            DECLINED: "Declined"
                        }
                    }
                }
            },

            attached: function () {
                if(this.configuration.services.merchant == undefined){
                   throw new Error("merchant service not found");
                }
                var self = this;
                self.baseUrl = this.configuration.services.merchant;
                this.$.http = window.services && window.services.http || this.$.http;
            },

            ensureCompliantPromise: function (value) {
                console.warn("ensureCompliantPromise usage is deprecated in favor of decorating http-request._request with a standards compliant promise.");
                return Promise.resolve(value);
            },

            /**
             * Enroll a merchant. Endpoint is tailored to the information
             * entered on the first step of the merchant enrollment workflow
             */
            enroll: function (payload) {
                var self = this;
                return this.ensureCompliantPromise(
                    this.$.http.post(
                        "enroll/",
                        payload,
                        this.baseUrl
                    ))
                    .catch(function (error) {
                        return Promise.reject(error.responseJSON);
                    });
            },

            create: function (payload) {
                return ensureCompliantPromise(
                    this.$.http.post("", payload, this.baseUrl));
            },

            /**
             * Updates a merchant by retrieving a merchant by id, merging the
             * payload into the response body, and updating with merged payload
             * @param {string} id Id of the merchant of interest
             * @param {Object} payload Object of fields to update
             * @returns {Promise<U>}
             */
            safeUpdate: function (id, payload) {
                var self = this;
                return self.getById(id).then(function (res) {
                    var nextPayload = $.extend(res, payload);
                    return self.update(id, nextPayload);
                })
            },

            update: function (id, payload) {
                return this.$.http.put(id, payload, this.baseUrl);
            },

            updatePrimaryAddress: function (merchantId, nextAddress) {
                var url = [merchantId, "address", "primary"].join("/");

                return this.$.http.put(url, nextAddress, this.baseUrl);
            },

            updateContact: function (merchantId, contactInfo) {
                var url = [merchantId, "active-contact"].join("/");

                return this.$.http.put(url, contactInfo, this.baseUrl);
            },
            updateBusinessName: function (merchantId, businessInfo) {
                var url = [merchantId, "business-name"].join("/");

                return this.$.http.put(url, businessInfo, this.baseUrl);
            },

            getCurrentMerchant: function () {
                var self = this;
                if(this.configuration.services.security == undefined){
                   throw new Error("security service not found");
                }
                return Promise
                    .resolve(this.$.http.get("/", this.configuration.services.security))
                    .then(function extractCurrentUserEmail(response) {
                        return response.email
                    })
                    .then(self.getByEmail.bind(self))
                    .catch(function (error) {
                        setTimeout(function () {
                            console.error(error);
                        });

                        return Promise.reject(error);
                    });

            },

            getById: function (id) {
                return this.$.http.get(id, this.baseUrl);
            },

            /**
             * Fetches a merchant by their email
             * @param {string} Merchant's email address
             * @returns {Promise<Object>}
             */
            getByEmail: function (email) {
                var url = [email, "email"].join("/");
                return this.$.http.get(url, this.baseUrl);
            },

            getAll: function () {
                return this.$.http.get("all", this.baseUrl);
            },

            remove: function (id) {
                return this.$.http.delete(id, {}, this.baseUrl);
            },

            /**
             * Extract the primary contact from a merchant object or the first contact if no primary is present
             * @param {Object} Merchant object
             * @returns {Object} Contact object
             */
            extractMerchantName: function (merchant) {
                var name;
                var primaryContact = _.filter(merchant.contacts, function (contact) {
                    return contact.isPrimary;
                })[0];

                if (primaryContact) {
                    name = primaryContact.firstName + " " + primaryContact.lastName;
                } else if (merchant.contacts[0]) {
                    name = merchant.contacts[0].name;
                }

                return name;
            },

            /**
             * Accepts a fields object to map onto a payload
             * @param fields
             * @returns {{}}
             */
            mapFieldsToEnrollPayload: function (fields) {
                var payload = {};

                Object.keys(fields).forEach(function (key) {
                    var value = fields[key];

                    switch (key) {
                        case "firstName":
                        case "lastName":
                        case "jobTitle":
                            payload.contact = payload.contact || {};
                            payload.contact[key] = value;
                            return;
                        default:
                            payload[key] = value;
                            return;
                    }
                });

                return payload;
            },

            mapFieldsToPayload: function (fields) {
                var payload = {
                    contacts: [{}]
                };

                Object.keys(fields).forEach(function (key) {
                    switch (key) {
                        case "jobTitle":
                        case "first":
                        case "last":
                        case "phoneNumber":
                            payload.contacts[0] = fields[key];
                            return;
                        case "taxId":
                            payload.FederalTaxIdOrSSN = fields.taxId;
                            return;
                        default:
                            payload[key] = fields[key];
                            return;
                    }
                });

                return payload;
            }
        });
    </script>
</dom-module>