<dom-module id="notification-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <url-parser id="urlParser"></url-parser>
    </template>
    <script>
        Polymer({
            is: "notification-service",

            behaviors: [eventHub],

            baseUrl: null,

            attached: function () {
                if (this.configuration.services.reminder == undefined) {
                    throw new Error("reminder service not found");
                }
                this.publish(this.id + ".attached");
                this.baseUrl = this.configuration.services.reminder;
            },

            getCount: function (entityType, entityId, username, portal) {
                if (entityId == undefined || entityType == undefined)
                    return Promise.resolve(null);
                if (entityId == ":id") {
                    var id = this.$.urlParser.getParams().id;
                    if (id == undefined)
                        return Promise.resolve(null);
                }
                var self = this;
                var url = "";
                if (portal === "back-office" || portal === "affinity-partner")
                    url = [username, "unread", "count"].join("/");
                else
                    url = [entityType, entityId, username, "unread", "count"].join("/");
                var baseUrl = this.baseUrl;

                return self.$.http.get(url, self.baseUrl).then(function (response) {
                    return response;
                });
            },

            getAllUnreadNotificationList: function (entityType, entityId, username, portal) {
                if (entityId == undefined || entityType == undefined)
                    return Promise.resolve(null);
                if (entityId == ":id") {
                    var id = this.$.urlParser.getParams().id;
                    if (id == undefined)
                        return Promise.resolve(null);
                }
                var self = this;
                var url = "";
                if (portal === "back-office")
                    url = [username, "unread", "all"].join("/");
                else
                    url = [entityType, entityId, username, "unread", "all"].join("/");
                var baseUrl = self.baseUrl;

                return new Promise(function (resolve, reject) {
                    self.$.http.get(
                        url,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });

            },

            getAllClearMessageList: function (entityType, entityId, username, portal) {
                if (entityId == undefined || entityType == undefined)
                    return null;
                var self = this;
                var url = "";
                if (portal === "back-office")
                    url = [username, "mark-all-as-read"].join("/");
                else
                    url = [entityType, entityId, username, "mark-all-as-read"].join("/");
                var baseUrl = this.baseUrl;

                return this.$.http.put(url, {}, this.baseUrl);
            },

            getClearMessages: function (items, entityType, entityId, username, portal) {
                if (entityId == undefined || entityType == undefined)
                    return null;
                var self = this;
                var url = "";
                if (portal === "back-office")
                    url = [username, "mark-as-read"].join("/");
                else
                    url = [entityType, entityId, username, "mark-as-read"].join("/");
                var baseUrl = this.baseUrl;

                return new Promise(function (resolve, reject) {
                    self.$.http.post(
                        url,
                        items,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            }

        });
    </script>