<html-import html-href="services/http-request-promisified.html"></html-import>

<dom-module id="offer-engine-service">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
</template>
<script src="./offer-engine-service.js">
</script>
</dom-module>