<html-import html-href="notification/notification-alert.html"></html-import>
<dom-module id="questionnaire-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
        <notification-alert id="notification"></notification-alert>
    </template>
    <script>
        (function () {
            /**
             * @namespace Questionnaire
             */

            Polymer(/** @class Questionnaire.Service */{
                is: "questionnaire-service",

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior
                ],

                baseUrl: null,
				
                attached: function () {
                    if(this.configuration.services.questionnaire == undefined){
                        throw new Error("Questionnaire service not found");
                    }
                    this.publish(this.id + ".attached");
                    this.baseUrl=this.configuration.services.questionnaire;                    
                },
               
                getStatus: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = "/status";
                    if(temporaryApplicationNumber)
                         url = ["status", temporaryApplicationNumber].join("/");
                   
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },
                getSectionsList: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber,"section-list", "Full"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.post(url, {}, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
             },
                getSectionData: function (temporaryApplicationNumber, sectionId) {
                    var self = this;
                    var url = [temporaryApplicationNumber,"section", sectionId].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
             },
                // getSectionData: function (sectionId) {
                //     var self = this;
                //     var url = ["section", sectionId].join("/");
                //     return self.ensure("http")
                //             .then(function (http) {
                //                 return http.get(url, self.baseUrl);
                //             }).then(function (response) {
                //                 return response;
                //             });
                // },

                isEmailAlreadyExists: function (temporaryApplicationNumber, email) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "check", "email", email].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },

                /**
                 * This will submit answer of the question
                 */
                updateQuestionAns: function (temporaryApplicationNumber, sectionId, subSectionId, questionSectionSeqNo, questionId, payload, questionText) {
                    var self = this;
                    var url = ["update", temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "questionsection", questionSectionSeqNo, "question", questionId].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    }).catch(function (error) {
                        self.$.notification.showNotifications("Something went wrong while storing " + questionText + ". Please re-key this information.Thank you.")
                    });
                },

                /**
                * When user changes from Joint Credit to Individual Credit, call this method to delete all spouse and co-borrowers details/sections from the application.
                */
                removeSpouseAndCoBorrowers: function(temporaryApplicationNumber, sectionId, subSectionId, applicantType){
                    var self = this;
                    var url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "remove-user-subsections", applicantType].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.delete(url, null, self.baseUrl);
                    }).then(function (response) {
                            return response;
                    });
                 },

                /**
                 * This function will pass dynamically created subsection to api
                 */
                addDynamicSubSection: function (temporaryApplicationNumber, sectionId, subSections) {
                    var self = this;

                    var url = [temporaryApplicationNumber, "section", sectionId, "subsections"].join("/");
                    var payload = {
                        subSections: _.cloneDeep(subSections)
                    }

                    payload.subSections.forEach(element => {
                        element.questionSections=null;
                    });

                    //As per the suggestion received from backend team we are delaying endpoint
                    return self.async(function () {
                        return self.ensure("http").then(function (http) {
                            return http.post(url, payload, self.baseUrl);
                        }).then(function (response) {
                            return response;
                        });
                    }, 100)
                },

                /**
                 * This function will call endpoint to remove dynamically added subsection as it is no longer required.
                 */
                removeDynamicSubSection: function (temporaryApplicationNumber, sectionId, subSectionIds) {
                    var self = this;

                    var url = [temporaryApplicationNumber, "section", sectionId, "subsectionids"].join("/");
                    var payload = {
                        subSectionIds: subSectionIds
                    }

                    //As per the suggestion received from backend team we are delaying endpoint
                    return self.async(function () {
                        return self.ensure("http").then(function (http) {
                            return http.delete(url, payload, self.baseUrl);
                        }).then(function (response) {
                            return response;
                        });
                    }, 100)
                },

                /**
                 * This method will be called on every click of back and next button
                 */
                updateLastAccessSubSectionId: function (temporaryApplicationNumber, sectionId, subSectionId, event) {
                    var self = this;

                    var url = "";
                    if (event != undefined && event != null && event != "") {
                        url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "event", event].join(
                                "/");
                    } else {
                        url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "event"].join("/");
                    }

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                }, 
                
                  /**
                 * This method will be called on click of resend Invite button
                 */
                 coBorrowerResendInvitation: function (temporaryApplicationNumber,sectionId,subSectionId,sequenceId, questionId, questiontype, event,payload) {
                    var self = this;
                    url = [temporaryApplicationNumber, "section",sectionId,"subsection",subSectionId,'questionsection',sequenceId, "questionId", questionId,"questiontype",questiontype, "event", event].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response ;
                    });
                }, 
                      /**
                 * This method will be called on click of Send Invite button
                 */
                 coBorrowerInvitation: function (temporaryApplicationNumber,sectionId,subsection,questionsection, questionId, event, payload) {
                    var self = this;
                    url = [temporaryApplicationNumber, "section",sectionId,"subsection",subsection,'questionsection',questionsection, "questionId", questionId, event].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response ;
                    });
                },  
                
                changeLoanStatus: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "joint-to-individual-credit"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.put(url,{},self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                    
                },

                removeCoborrower: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "remove-coborrower"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.put(url,{},self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                    
                },
                isEmailSignedUp: function (temporaryApplicationNumber,applicantEmail) {
                    var self = this;
                    url = [temporaryApplicationNumber, "applicant",applicantEmail].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },
                fetchApplicantInfo: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "borrowers-and-co-borrowers"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },
                fetchApplicantInfoForSummary: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "borrowers-and-co-borrowers-spouse"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },
                fetchApplicantWithSpouseName: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "borrowers-and-co-borrowers-spousename"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },
                fetchApplicantWithSpouse: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "borrowers-and-co-borrowers-spouse"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },
                updateBorrower: function (temporaryApplicationNumber, sectionId, subSectionId) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "assign-primary-borrower"].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                /**
                 * This function will call end point to create customer's loan application at the end of all sections.
                 */
                createApplication: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "create-application"].join("/");
                    

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                fetchSummary: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "summary"].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },


                removeBankInfo: function (temporaryApplicationNumber, bankInfoId) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "bank-info", bankInfoId].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.delete(url, null, self.baseUrl);

                            });
                },

                /**
                 * This function will call the endpoint to create a new questionnaire if none exists and return the temporary
                 * application number
                 */
                 //Dipen Working
                getTemporaryApplicationNumber: function () {
                    var self = this;
                    var url = ["questionnaire", "Full",true].join("/");
                    return self.ensure("http")
                            .then(function (http) {
                                return http.post(url, {}, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },

                /**
                 * @typedef {boolean} Questionnaire.AddInstitutionResponse
                 */

                /**
                 * @param {string} temporaryApplicationNumber
                 * @param {Object} payload
                 * @param {string} payload.BankName
                 * @param {string} payload.AccountType
                 * @param {string} payload.AccountNumber
                 * @param {number} payload.CurrentBalance
                 * @returns {Questionnaire.AddInstitutionResponse}
                 */
                addInstitution: function (temporaryApplicationNumber, payload) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "bank-info"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.post(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });

                },
                fetchAllBankInfo: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "all-bank-info"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },
                /**
                 * This function will call the endpoint to fetch the loan purpose question
                 */
                getLoanPurposeQuestion: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "loan-purpose-question"].join("/") + "/";

                    return self.ensure("http")
                            .then(function (http) {
                                return http.get(url, self.baseUrl);
                            }).then(function (response) {
                                return response;
                            });
                },

                createNewQuestionnaire: function () {
                    var self = this;
                    var url = ["section-list", "Full"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.post(url, null, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                /**
                 * This function will call the endpoint to update the loan purpose
                 */
                updateLoanPurpose: function (temporaryApplicationNumber, payload) {
                    var self = this;
                    var url = ["update", temporaryApplicationNumber, "purpose-of-loan"].join("/");

                    return self.ensure("http").then(function (http) {
                        return http.put(url, payload, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });


                },

                /**
                 * set question section to backend
                 */
                addDynamicQuestionSection: function (temporaryApplicationNumber, sectionId, subSectionId, questionSection) {
                    var self = this;

                    var url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "questionsection"].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.post(url, questionSection, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                /**
                 * ask backend to remove question section
                 */
                removeDynamicQuestionSection: function (temporaryApplicationNumber, sectionId, subSectionId, questionSectionSeqNo) {
                    var self = this;

                    var url = [temporaryApplicationNumber, "section", sectionId, "subsection", subSectionId, "questionsection", questionSectionSeqNo].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.delete(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },


                /**
                 * This function will call the endpoint to update the Section IsCompleted flag
                 */
                updateSectionCompletion: function (temporaryApplicationNumber, sectionId, isCompleted) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "section", sectionId, isCompleted].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.put(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                /**
                 * This endpoint will mark change questionaier status as post-application
                 */
                createPostApplication: function (temporaryApplicationNumber) {
                    var self = this;
                    var url = [temporaryApplicationNumber, "create-post-application"].join("/");

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },
                fetchCurrentUser: function () {
                    return this.$.http.get("/", this.configuration.services.security);
                },
                fetchBankAlertInfo: function (temporaryApplicationNumber, username) {
                    var self = this;

                    var url = [temporaryApplicationNumber, username, "bank-alert-info"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl)

                    });

                },
                /**
                 * This will completePostApplication with status 4 as - application
                 */
                completePostApplication: function (applicationNumber) {
                    var self = this;
                    var url = [applicationNumber, "complete-post-application"].join(
                            "/");

                    return self.ensure("http").then(function (http) {
                        return http.put(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },

                fetchEntityInfo: function (entityId) {
                    var self = this;

                    var url = [entityId, "basic-info"].join("/");
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl)

                    });
                },

                updateStatus: function (temporaryApplicationNumber, status) {
                    var self = this;
                    var url = ["updatestatus", temporaryApplicationNumber, status].join("/");

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    });
                },                

                processQuestionnaireGivenInviteId: function(inviteId) {
                    var self = this;
                    var url = ["updateusername", "inviteid", inviteId].join("/");
                    return self.ensure("http")
                                .then(function(http){
                                    return http.put(url, {}, self.baseUrl);
                                }).then(function (response) {
                                    return response;
                                });
                },
                copyAnswer: function(fromApplicationNumber, toApplicationNumber) {
                    var self = this;
                    var url = [fromApplicationNumber, toApplicationNumber, "copy"].join("/");
                    return self.ensure("http")
                                .then(function(http){
                                    return http.post(url, {}, self.baseUrl);
                                }).then(function (response) {
                                    return response;
                                });
                },
                copyAnswerForSpouse:function(fromApplicationNumber, toApplicationNumber) {
                    var self = this;                    
                    var url = [fromApplicationNumber, toApplicationNumber, "spouse-information", "copy"].join("/");

                    return self.ensure("http").then(function (http) {
                        return http.post(url, {}, self.baseUrl);
                    }).then(function (response) {
                        return response ;
                    });                   
                }
            });
        })();
    </script>
</dom-module>