<dom-module id="questionnaire-filters-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "questionnaire-filters-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            baseUrl: null,

            attached: function () {
                this.publish(this.id + ".attached");
                if(this.configuration.services.questionnaireFilters == undefined)
                {
                    throw new Error("questionnaireFilters service not found");
                }
                this.baseUrl = this.configuration.services.questionnaireFilters;
            },
            hasApplicationAssigned:function(temporaryApplicationNumber){
                    var self = this;
                   
                         url = [temporaryApplicationNumber,"isValidApplication"].join("/");
                   
                    return self.ensure("http").then(function (http) {
                        return http.get(url, self.baseUrl);
                    }).then(function (response) {
                        return response;
                    });
                },
            fetchApplications: function () {
                var self = this;
                var url = self.configuration.apps.pipeline.configuration.links[0].OpenApplicationsUrl;
                // var url = "Open";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            fetchAssignedApplications: function () {
                var self = this;
                //var url = self.configuration.apps.pipeline.configuration.links[0].OpenApplicationsUrl;
                 var url = "mine/Open";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.baseUrl);
                    });
            },
            getAllApplicationsMine: function () {
                var self = this;
                var url = ['applications', 'all','mine'].join('/');

                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, self.baseUrl);
                        });
            },
            getApplication: function (temporaryApplicationNumber) {
                return this.fetchApplications()
                    .then(function (applications) {
                        return _.find(applications, function (application) {
                            application.temporaryApplicationNumber === temporaryApplicationNumber;
                        });
                    });
            },

            getApplicationdetails: function (entityId) {
                var self = this;
                var url = ['application', entityId].join('/');

                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, self.baseUrl);
                        });
            },

             isAssignedToMe: function (entityId) {
                var self = this;
                var url = [entityId,"assigned","me"].join('/');

                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, self.baseUrl);
                        });
            },

            sendReminderEmailForApplication : function (applicationNumber, payload) {
                var self = this;
                var url = ["application", applicationNumber, "reminder-email", "1.0","true"].join("/");
                return self.$.http.post(url, payload, self.baseUrl);
            }
        });
    </script>
</dom-module>