<dom-module id="required-condition-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "required-condition-service",

            attached: function () {
                this.publish(this.id + ".attached");
            },            
            behaviors: [eventHub, ensureDependenciesBehavior],

            baseUrl: null,

            attached: function () {
                if(this.configuration.services.requiredCondition == undefined)
                {
                    throw new Error("requiredCondition service not found");
                }

                this.baseUrl = this.configuration.services.requiredCondition;
                this.publish(this.id + ".attached");
            },

            wrapWithPromise: function wrapWithPromise($request) {
                return new Promise(function (resolve, reject) {
                    $request.then(resolve).fail(reject);
                });
            },
           /**
             * @method getRequestByApplicationNumber
             * @param applicationNumber
             * @returns {*}
             */
                getRequiredConditionsByApplicationNumber: function (applicationNumber) {
                    var self = this;
                    var url = ["application", applicationNumber].join("/");
                    return this.wrapWithPromise(this.$.http.get(url,self.baseUrl));
                },

/**
             * @method skippedRequestByApplicationNumber
             * @param applicationNumber
             * @returns {*}
             */
            
            
                markAsSkippedByApplicationNumberWithRequestId: function (applicationNumber,requestId) {
                    var self = this;
                    var url = ["application", applicationNumber,requestId,"mark-as-skipped"].join("/");                    
                    return this.wrapWithPromise(this.$.http.put(url,null, self.baseUrl));
                   
                }
            });
       

    </script>
</dom-module>