<html-import html-href="services/http-request-promisified.html"></html-import>
<dom-module id="rules-engine-service">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "rules-engine-service",

            properties: {
                baseUrl: {
                    value: null
                }
            },
            behaviors: [eventHub, publishLifecycleEventsBehavior],

            run: function (name, version, parameters) {
                if(this.configuration.services.decisionEngine == undefined){
                   throw new Error("decisionEngine service not found");
                }
                var baseUrl = this.configuration.services.decisionEngine;
                return this.$.$http.post(name, parameters, baseUrl)
            },

            handleError: function(error) {
                setTimeout(function() {
                    console.error(error);
                });
                return Promise.reject(error);
            }
        });
    </script>
</dom-module>