<dom-module id="spinner-service">
    <script>
        Polymer({
            is: "spinner-service",

            behaviors: [
                eventHub
            ],

            show: function () {
                this.setIsBusy(true);
            },

            hide: function () {
                this.setIsBusy(false);
            },

            setIsBusy: function (value) {
                if (typeof value !== typeof Boolean(1)) {
                    throw new Error("Expected a boolean.");
                }

                this.publish("isBusy.changed", {
                    isBusy: value
                });
            }
        })
    </script>
</dom-module>