<dom-module id="status-management-service">
<template>
    <http-request id="http"></http-request>
    <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
</template>
<script>
    Polymer({
        is: "status-management-service",

        behaviors: [eventHub],
        baseUrl: null,

        attached: function () {
            this.publish(this.id + ".attached");
            this.baseUrl=this.configuration.services.statusManagement
        },

        fetchStatuses: function() {
            return Promise.resolve();
            return Promise.resolve(this.$.http.get())
        },

        fetchStatus: function (entityType, entityId) {
            var url = [entityType, entityId].join("/");
            return this.$.http.get(url, this.baseUrl);
        },

        fetchTransition: function (entityType, status) {
            var url = [entityType, status, "transitions"].join("/");
            return this.$.http.get(url, this.baseUrl);
        },

        fetchChecklist: function(entityType, entityId, status) {
            var url = [entityType, entityId, status, "checklist"].join("/");
            return this.$.http.get(url, this.baseUrl);
        },

        fetchReason: function (entityType, status) {
            var url = [entityType, status, "reasons"].join("/");
            return this.$.http.get(url, this.baseUrl);
        },

        changeStatus: function (entityType, entityId, status, reason, notes) {
            var url = [entityType, entityId, status, reason].join("/");
            return this.$.http.post(url, {note:notes}, this.baseUrl);
        }
    });
</script>
</dom-module>