<html-import html-href="services/invitation-service.html"></html-import>

<dom-module id="team-service">
    <template>
        <http-request-promisified id="http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
        <invitation-service id="invitationService"></invitation-service>
    </template>
    <script>
        (function () {
            Polymer({
                is: "team-service",

                properties: {
                    user: Object
                },

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior
                ],

                attached: function () {
                    this.getCurrentUser();
                    this.publish(this.id + ".attached");
                },

                /**
                 * Details of current user
                 */
                getCurrentUser: function () {
                    var self = this;
                    self.$.http.get("/", self.configuration.services.security).then(function (user) {
                        self.user = user;
                    });
                },

                /**
                 *
                 */
                getUserDetails: function (username) {
                    var self = this;
                    var url =  encodeURIComponent(username);
                    var base = self.configuration.services.userProfile;

                    return self.$.http.get(url, base).then(function (response) {
                        return response;
                    });
                },

                /**
                 *
                 */
                getMemberIcon: function (userId, logoReferenceId) {
                    var self = this;

                    //URL for downloading
                    var base = self.configuration.services.documentManager;
                    var url = [base, 'user', userId, logoReferenceId, "download"].join("/");

                    //Get image as blob
                    return new Promise(function (resolve, reject) {
                        var x = new XMLHttpRequest();
                        x.open("GET", url, true);
                        x.responseType = "blob";
                        x.setRequestHeader("Authorization", "Bearer " + self.$.session.get("token"));
                        x.onload = function (e) {
                            //convert blob to dataurl
                            var reader = new window.FileReader();
                            reader.readAsDataURL(e.target.response);
                            reader.onloadend = function () {
                                //Return
                                resolve(reader.result);
                            }
                        };
                        x.send();
                    });
                },

                /**
                 * Send invite to email entered by user
                 */
                inviteNewMember: function (entityType, entityId, email, role) {
                    return this.$.invitationService.inviteNewMember(entityType, entityId, email, role, this.get('user.username'), "", "", "","contributor","",false);
                }
            });
        })();
    </script>
</dom-module>