<dom-module id="theme-service">
    <template>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "theme-service",

            properties: {
                baseUrl: {
                    type: String,
                    value: null
                }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                this.publish(this.id + ".attached");
            },

            fetchCurrentAsset: function () {
                var self = this;
                var url = "theme/asset/current";
                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, "");
                        }).then(function (response) {
                            return response;
                        });
            }
        })
    </script>
</dom-module>