<html-import html-href="services/identity/service.html"></html-import>

<dom-module id="user-profile-service">
    <template>
        <http-request id="http"></http-request>
        <identity-service id="identityService"></identity-service>
        <alloy-config id="config"
        alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "user-profile-service",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            assetManagerBaseUrl: null,

            userProfileBaseUrl: null,
            
            attached: function () {
                this.publish(this.id + ".attached");
                this.assetManagerBaseUrl=this.configuration.services.assetManager;
                this.userProfileBaseUrl=this.configuration.services.userProfile;
            },

            fetchSignedInUsersProfile: function () {
                var self = this;

                return self.ensure("identityService")
                    .then(function (service) {
                        return service.getCurrentUser();
                    })
                    .then(function (currentUser) {
                        var user = currentUser.username;//encodeURIComponent();
                        return self.fetchUserProfile(user);
                    });
            },
            getLoanOfficersForAutoSuggestion: function () {
                var self = this;
                var url = "users/lo";

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.userProfileBaseUrl);
                    });
            },
            fetchUserLogo: function (username) {
                var self = this;
                var url = ["user", username, "profile.jpeg"].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.assetManagerBaseUrl);
                    }).catch(function(response){
                        if(response.status==404){
                            return null;
                        }
                        else{
                            throw new Error(response);
                        }
                    });
            },

            fetchUserProfilePic: function (username) {
                var self = this;
                var url = ["userpic", username, "profile.jpeg/"].join("/");

                return self.ensure("http")
                        .then(function (http) {
                            return http.get(url, "");
                        });
            },

            fetchUserProfile: function (username) {
                var self = this;
                var url = encodeURIComponent(username);

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.userProfileBaseUrl);
                    });
            },

            updateProfileDetails: function (username, payload) {
                var self = this;
                return self.ensure("http")
                    .then(function (http) {
                        return http.put(username, payload, self.userProfileBaseUrl);
                    });
            },

            fetchCompanyDetails: function (companyId) {
                var self = this;
                var url = ["company", companyId].join("/");
                return self.ensure("http").then(function (http) {
                    return http.get(url, self.userProfileBaseUrl);
                })
            },

            addCompanyDetails: function (payload) {
                var self = this;
                var url = "company";
                return self.ensure("http")
                    .then(function (http) {
                        return http.post(url, payload, self.userProfileBaseUrl);
                    });
            },

            updateCompanyDetails: function (payload) {
                var self = this;
                var url = "company";
                return self.ensure("http")
                    .then(function (http) {
                        return http.put(url, payload, self.userProfileBaseUrl);
                    });
            },

            mapUserAndCompanyProfile: function (companyId) {
                var self = this;
                var url = ["company", companyId, "userprofile", "update"].join("/");
                return self.ensure("http")
                    .then(function (http) {
                        return http.post(url, {}, self.userProfileBaseUrl);
                    });
            },

            fetchCompanyLogo: function (companyId) {
                var self = this;
                var url = ["company", companyId, "profile.jpeg"].join("/");

                return self.ensure("http")
                    .then(function (http) {
                        return http.get(url, self.assetManagerBaseUrl);
                    });
            },

            enableDashboardView: function (username) {
                var self = this;
                var url = ["user", username, "enable-dashboard"].join("/");
                return self.ensure("http")
                    .then(function (http) {
                        return http.put(url, {}, self.userProfileBaseUrl);
                    });
            },
            verifyBrandedSiteToken: function (brandedSiteToken) {
                var self = this;
                var url = ["userredirectverify", "loanofficer", brandedSiteToken].join("/");
                return self.ensure("http")
                    .then(function (http) {return http.get(url, "");});
            }
        });
    </script>
</dom-module>