<dom-module id="form-error-alert">
    <template>
        <div class="alert alert-danger"">
            <ul>
               <content></content>
            </ul>
    </div>
    </template>
    <script>
        Polymer({
            is: "form-error-alert",

            properties: {
                errors: Object,
                messages: Object,
            },

            observers: ["watch(errors.*, messages)"],

            watch: function(errors, messages) {
                errors = errors.base || errors;
                this.setFieldErrors(errors, messages);
            },

            setFieldErrors: function(errors, messages) {
                $("field-error-list", this).each(function(i, fieldErrorList) {
                    fieldErrorList.buildErrorMessages(errors, messages);
                });
            },

            isEmpty: function(collection) {
                if (!collection) {
                    return true
                }
                return collection.length === 0;
            }
        })
    </script>
</dom-module>

<dom-module id="field-error-list">
    <template>
        <template is="dom-repeat" items="{{ errorMessages }}">
            <li>{{ item }}</li>
        </template>
    </template>
    <script>
        Polymer({
            is: "field-error-list",

            properties: {
                errors: Object,
                messages: Object,
                errorMessages: Array,
                field: String
            },

            buildErrorMessages: function(errors, messages) {
                var ownErrors = this.getOwnErrors(errors, this.field);
                var ownMessages = messages[this.field];

                var errorMessages = ownErrors.map(function(error) {
                    return ownMessages[error];
                });

                this.set("errorMessages", errorMessages);
            },

            getOwnErrors: function(errors, field) {
                if (!field || !errors || !errors[field]) {
                    return [];
                }

                var ownErrors = Object.keys(errors[field]).filter(function(key) {
                    return errors[field][key] === true;
                });

                return ownErrors;
            },

            hasErrors: function(ownErrors) {
                if (!ownErrors || !ownErrors.length) {
                    return false;
                }

                return ownErrors.length > 0;
            }
        })
    </script>
</dom-module>
