<dom-module id="lf-validators">
    <script>
        Polymer({
            is: "lf-validators",

            isSsn: function(value) {
                function cleanInput(input) {
                    return input.replace(/-/g, "").slice(0, 9);
                }

                var re = /^(\d{3}-?\d{2}-?\d{4}|XXX-XX-XXXX)$/g;
                var valid = re.test(cleanInput(value));

                return valid;
            }
        })
    </script>
</dom-module>
