<html-import html-href="ui-elements/ui-custom-button.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-whitespace.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="ui-add-coborrower">
    <template>
        <style>
            .panel-body {
                padding: 30px 0 15px 0;
            }
        </style>
        <div class="panel-group" id$="[[ getDynamicAccordionId(questionSectionSeqNo, '') ]]">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a id="dynamicTitleClass" class$="{{ dynamicTitleClass }}" data-toggle="collapse" data-parent$="[[ getDynamicAccordionId(questionSectionSeqNo, '#') ]]"
                            href$="[[ getDynamicId(questionSectionSeqNo, '#') ]]">CO-BORROWER [[
                            getIndex(question.questionSectionIndex) ]]</a>
                    </h3>
                </div>
                <div id$="[[ getDynamicId(questionSectionSeqNo, '') ]]" class$="[[ dynamicPanelClass ]]">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <ui-container question="[[ question ]]" section-id="[[ sectionId ]]" sub-section-name="[[ subSectionName ]]"
                                sub-section-id="[[ subSectionId ]]" temporary-application-number="[[ temporaryApplicationNumber ]]"
                                question-seq-no="[[ questionSectionSeqNo ]]" floating-label="First Name" default-value="[[ question.answer ]]"
                                is-required="true">
                                <ui-input name="fname" disabled="[[ isReadOnlyStatus ]]" value="{{ firstName }}">
                                    <ui-validators>
                                        <ui-require-field>Please enter first name.</ui-require-field>
                                        <ui-is-whitespace>No whitespace allowed.</ui-is-whitespace>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                        </div>

                        <div class="col-md-6 clearfix">
                            <ui-container question="[[ question ]]" section-id="[[ sectionId ]]" sub-section-name="[[ subSectionName ]]"
                                sub-section-id="[[ subSectionId ]]" temporary-application-number="[[ temporaryApplicationNumber ]]"
                                question-seq-no="[[ questionSectionSeqNo ]]" floating-label="Last Name" default-value="[[ question.answer ]]"
                                is-required="true">
                                <ui-input name="lname" disabled="[[ isReadOnlyStatus ]]" value="{{ lastName }}">
                                    <ui-validators>
                                        <ui-require-field>Please enter last name.</ui-require-field>
                                        <ui-is-whitespace>No whitespace allowed.</ui-is-whitespace>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                        </div>

                        <div class="col-md-12 clearfix">
                            <ui-container question="[[ question ]]" section-id="[[ sectionId ]]" sub-section-name="[[ subSectionName ]]"
                                sub-section-id="[[ subSectionId ]]" temporary-application-number="[[ temporaryApplicationNumber ]]"
                                question-seq-no="[[ questionSectionSeqNo ]]" floating-label="Email" default-value="[[item.answer]]"
                                is-required="true" control-type="TextEmail">
                                <ui-input name="email" value="{{ email }}" disabled="[[ isReadOnlyStatus ]]">
                                    <ui-validators>
                                        <ui-require-field>Please enter email.</ui-require-field>
                                        <ui-is-email>Email address is not valid.</ui-is-email>
                                        <ui-duplicate-email previous-email="[[ previousEmail ]]" temporary-application-number="[[ temporaryApplicationNumber ]]"></ui-duplicate-email>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                        </div>

                        <div class="col-md-12 relationship clearfix" hidden$="[[ !isReadOnlyStatus ]]">
                            <ui-container id="relationCOnt" question="[[ question ]]" class="relationshipSelect"
                                floating-label="Relationship to the borrower?" section-id="[[ sectionId ]]"
                                sub-section-name="[[ subSectionName ]]" sub-section-id="[[ subSectionId ]]"
                                temporary-application-number="[[ temporaryApplicationNumber ]]" question-seq-no="[[ questionSectionSeqNo ]]"
                                default-value="{{ relationship }}" is-required="true">
                                <ui-options id="relationship" disabled=true name="relationship"
                                    items="{{ relationShipValues }}" button-text="Relationship to the borrower?" value="{{ relationship }}">
                                    <ui-validators>
                                        <ui-require-field>Please select relationship.</ui-require-field>
                                    </ui-validators>
                                </ui-options>
                            </ui-container>
                        </div>
        
                        <div class="col-md-12 relationship clearfix" hidden$="[[ isReadOnlyStatus ]]">
                            <ui-container id="relationCOnt1" question="[[ question ]]" class="relationshipSelect"
                                floating-label="Relationship to the borrower?" section-id="[[ sectionId ]]"
                                sub-section-name="[[ subSectionName ]]" sub-section-id="[[ subSectionId ]]"
                                temporary-application-number="[[ temporaryApplicationNumber ]]" question-seq-no="[[ questionSectionSeqNo ]]"
                                default-value="{{ relationship }}" is-required="true">
                                <ui-options id="relationship" name="relationship"
                                    items="{{ relationShipValues }}" button-text="Relationship to the borrower?" value="{{ relationship }}">
                                    <ui-validators>
                                        <ui-require-field>Please select relationship.</ui-require-field>
                                    </ui-validators>
                                </ui-options>
                            </ui-container>
                        </div>

                        <div hidden$="[[ deleteOption ]]" class="col-md-4">
                            <ui-custom-button id="submit" type="button" disabled="[[ busy ]]" disabled-text="DELETE" on-click="deleteQuestion">DELETE</ui-custom-button>
                        </div>
                        <div class="col-md-8 text-right">
                            <div hidden$="[[ isSendInviteVisible ]]">
                                <ui-resend-invite-button
                                        question-text="Resend Invite"
                                        sub-section-id="[[ subSectionId ]]"
                                        temporary-application-number="[[ temporaryApplicationNumber ]]"
                                        question-seq-no="[[ question.seqNo ]]"
                                        section-id="[[ sectionId ]]"
                                        question-type="[[ question.questionType ]]"
                                        question-id="[[ question.questionId ]]"
                                        coborrower-details="[[ question.answer ]]"
                                        resend-invite-payload="[[ resendInvitePayload ]]"
                                        event-name="[[ question.eventName  ]]"
                                        question-visible-status="[[ questionVisibleStatus ]]"
                                        event-subscribe="[[ question.eventSubscribe ]]">
                                </ui-resend-invite-button>
                            </div>

                            <div hidden$="[[ !isSendInviteVisible ]]">
                                <ui-button
                                        id="acceptButton"
                                        disabled="[[ SendInviteButtonBusy ]]"
                                        disabled-text="Send Invite"
                                        color="primary"
                                        fullWidth=true
                                        class="send-invite"
                                        on-click="sendInvite">
                                    Send Invite
                                </ui-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Add more co-borrower -->
        <template is="dom-if" if="[[ !question.doNotShowAddButton ]]">
            <div class="panel panel-default add-panel">
                <div class="panel-heading">
                    <h3 class="panel-title" on-click="addCoBorrower">
                        CO-BORROWER [[ getAddCoBorrowerIndex(question.questionSectionIndex) ]]<span class="df df-circle img-circle"><span
                                class="df df-plus"></span></span>
                    </h3>
                </div>
            </div>
        </template>
         <ui-confirm id="confirmEditButton" confirm-title="[[ confirmMessage ]]" buttons='[[ buttons ]]'></ui-confirm>
        <user-profile-service id="userProfileService"></user-profile-service>
        <questionnaire-service id="questionnaire"></questionnaire-service>
    </template>
    <script>
        Polymer({
            is: 'ui-add-coborrower',
            properties: {
                buttons: {
                    type: Array,
                    value: function () {
                        return [{
                            text: "Close",
                            color: "primary",
                            clickHandler: function () {
                                this.fire("closePopup", {
                                    confirm: this
                                });
                                this.close();
                            }
                        }]
                    }
                },
                confirmMessage:{
                     type: String,
                     value:""
                 },
                doNotShowAddButton: {
                    type: Boolean,
                    value: true,
                    observer: 'initValues'
                },
                questionVisibleStatus: {
                    type: String,
                    value:""
                },
                relationShipValues: {
                    type: Array,
                    value: [],
                    notify: true
                }, 
                previousValue: String,
                dynamicTitleClass: {
                    type: String,
                    value: 'accordion-toggle'
                },
                dynamicPanelClass: {
                    type: String,
                    value: 'dynamicPanelClass panel-collapse collapse in'
                },
                deleteOption: {
                    type: Boolean,
                    value: false
                },
                subscriptionList: {
                    type: Array,
                    value: []
                },
                previousRelationShip: String,
                previousEmail : {
                    type: String,
                    value: ""
                },
                previousFirstName : {
                    type: String,
                    value: ""
                },
                isReadOnlyStatus: {
                    type: Boolean,
                    notify: true
                }, 
                SendInviteButtonBusy: {
                    type: Boolean,
                    value: true
                },
                eventSubscribe:{
                    type:String
                },
                resendInvitePayload : {
                    type: String,
                    value: ""
                },
                busy:{
                    type: Boolean,
                    value: false
                },
                isSendInviteVisible:{
                    type: Boolean,
                    value: false
                },
                canAddCoBorrower:{
                    type: Boolean,
                    value: false
                },
                question:{
                    type: Object
                },
                busy:{
                  type: Boolean,
                  value: false
                },
                sectionId: {
                        type: Number
                },
                subSectionId: {
                    type: String
                },
                temporaryApplicationNumber: {
                    type: String
                }
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            listeners: {
                "confirmEditButton": "closePopup"
            },
            observers: [
                'populateValues(question.availableAns, questionSectionSeqNo)',
                'getEnableResendInviteStatus(question.answer,question.questionVisibleStatus,question.resultQuestionId)',
                'setIsReadOnlyValue(question)'
            ],
            attached: function () {
                var self = this;
                this.subscriptionList.push(this.subscribe('collapse-accordion', function (payload) {
                    var elementTitleClass = self.querySelector('#dynamicTitleClass');
                    if (elementTitleClass && !elementTitleClass.classList.contains("collapsed")) {
                        elementTitleClass.classList.add("collapsed");
                    }
                    var elementPanelClass = self.querySelector('.dynamicPanelClass');
                    if (elementPanelClass && elementPanelClass.classList.contains("in")) {
                        elementPanelClass.classList.remove("in");
                    }
                }));
                this.subscriptionList.push(this.subscribe("buttonStatus:addcoborrower-sendInvite", this.evaluateSendInviteButton.bind(this))); 
            },
            detached: function () {
                //Unsubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },
            init: function () {
                var self = this;
                if (self.question.answer && typeof self.question.answer !== 'object' && self.question.answer.indexOf('{') > -1) {
                    // coBorrowerAdded, if atleast one data for co-borrower is present, it indicates that co-borrower is added in the application.
                    self.publish('update-place-holders', {
                        placeHolderName: "<#coBorrowerAdded#>",
                        placeHolderValue: "true"
                    })

                    var _answer = JSON.parse(self.question.answer);

                    if (_answer.firstName) {
                        self.set('firstName', _answer.firstName);
                        self.set('previousFirstName', _answer.firstName);
                    }
                    if (_answer.lastName) {
                        self.set('lastName', _answer.lastName);
                        self.set('previousLastName', _answer.lastName);
                    }
                    if (_answer.relationship) {
                        self.set('relationship', _answer.relationship);
                        self.set('previousRelationShip', _answer.relationship);
                    }
                    if (_answer.email) {
                        self.set('email', _answer.email);
                        self.set('previousEmail', _answer.email);
                    }
                }
                else {
                    self.set('firstName', "");
                    self.set('previousFirstName', "");
                    self.set('lastName', "");
                    self.set('previousLastName', "");
                    self.set('email', "");
                    self.set('previousEmail', "");
                    self.set('relationship', "");
                    self.set('previousRelationShip', "");
                    self.set('SendInviteButtonBusy', true);
                    self.set("canAddCoBorrower", false);
                    self.async(function () {
                        self.$.relationCOnt1.clearControlErrors();
                    }, 400);
                }
                self.set('previousValue', self.question.answer);               
            },
            initValues: function (doNotShowAddButton) {
                if (doNotShowAddButton) {
                    this.set('dynamicTitleClass', 'accordion-toggle collapsed');
                    this.set('dynamicPanelClass', 'dynamicPanelClass panel-collapse collapse');
                } else {
                    this.set('dynamicTitleClass', 'accordion-toggle');
                    this.set('dynamicPanelClass', 'dynamicPanelClass panel-collapse collapse in');
                }
            },
            populateValues: function (availableAns, questionSectionSeqNo) {
                var self = this;
                self.setRelationShipValues(availableAns, questionSectionSeqNo)
                    .then(function (response) {
                        self.async(function () {
                            self.init();
                            self.isSendVisibleButton(self.question);
                        }, 100);
                    });
            },
            isSendVisibleButton: function(question){
                var self = this;
                if(question) {
                    if(question.resultQuestionId || question.doNotShowAddButton == true){
                        self.set("isSendInviteVisible",false);
                        self.set("canAddCoBorrower",true);
                        self.updateIsReadOnlyValue();
                    }
                    else {
                        self.set("isSendInviteVisible",true);
                        self.set('isReadOnlyStatus', false);
                    }
                }
            },
            sendInvite: function () {
                var self = this;
                if (this.busy || this.SendInviteButtonBusy) return
                self.set("busy", true);
                self.publish("loaderInvite:show", "Hold on just a few more seconds.");
                self.publish(self.question.eventSubscribe);
                if (_.isUndefined(self.question.answer)) {
                    var payload = {};
                }
                else {
                    var payload = JSON.parse(self.question.answer);
                }
                self.$.questionnaire.coBorrowerInvitation(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, self.questionSectionSeqNo, self.question.questionId, "invite-coborrower", payload)
                        .then(function (response) {
                            self.publish("loaderInvite:hide");
                            self.set("canAddCoBorrower", true);
                            self.set("isSendInviteVisible", false);
                            self.updateIsReadOnlyValue();
                            self.set("confirmMessage", "Invitation sent successfully")
                            self.$.confirmEditButton.open();
                            self.set("busy", false);
                            // Updating the flag resultQuestionId as true in local json as invite is send
                            self.publish("updateLocalDataSet", {
                                sectionId: self.sectionId,
                                subSectionId: self.subSectionId,
                                questionSectionSeqNo: self.questionSectionSeqNo,
                                questionId: self.question.questionId,
                                valueToUpdate: {
                                    resultQuestionId: true
                                }
                            })
                        })
                        .catch(function (error) {
                            console.warn(error)
                            self.publish("loaderInvite:hide");
                            self.set("canAddCoBorrower", false);
                            self.set("confirmMessage", "Invitation failed. Please retry!")
                            self.$.confirmEditButton.open();
                            self.set("busy", false);
                        })
            },
            getEnableResendInviteStatus: function (answer, questionVisibleStatus, resultQuestionId) {
                var self = this;
                if (answer) {
                    if (questionVisibleStatus !== null && resultQuestionId)
                        self.set("questionVisibleStatus", questionVisibleStatus);
                    else if (resultQuestionId)
                        self.set("questionVisibleStatus", "show");
                }
            }, 
            getDynamicAccordionId: function (questionSectionSeqNo, href) {
                return href + 'accordion' + questionSectionSeqNo;
            },
            getDynamicId: function (questionSectionSeqNo, href) {
                return href + "coBorrower" + questionSectionSeqNo;
            },
            deleteQuestion: function (e) {
                // Check if user has signed up then no  ned to delete the user related sub-section and question section
                var self = this;
                if (this.busy) return
                var email = self.email;
                if (email) {
                    self.set("busy",true);
                    var _validations = [];

                    self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                        _validations.push(_uiInputContainer.isValid(true));
                    });
                    Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                 // Validation Success
                                 //self.evaluateStatusOfButton(false);
                            // self.publish('disable:addcoborrower-skip', {
                            //     disable: false,
                            //     subSectionId: self.subSectionId
                            // });
                                self.ensure("userProfileService")
                                    .then(function (service) {
                                        service.fetchUserProfile(email)
                                        .then(function(response){
                                            self.publishDeleteQuestionSection(true);
                                            self.set("busy", false);
                                        })
                                        .catch(function (error) {
                                        if (error.status === 404 || error.status === 400) {
                                            self.publishDeleteQuestionSection(false);
                                            self.set("busy", false);
                                        }
                                    })
                                    })
                                    .catch(function (error) {
                                        if (error.status === 404 || error.status === 400) {
                                            self.publishDeleteQuestionSection(false);
                                            self.set("busy", false);
                                        }
                                    });
                            } else {
                                self.publishDeleteQuestionSection(false);
                                self.set("busy", false);
                            }
                                
                        });
                } else {
                    self.publishDeleteQuestionSection(false);
                }
            },
            publishDeleteQuestionSection: function (removeCoBorrower) {
                this.publish('remove-co-borrower', {
                    sectionId: this.sectionId,
                    subSectionId: this.subSectionId,
                    questionSectionSeqNo: this.questionSectionSeqNo,
                    question: this.question,
                    removeLoggedInCoBorrower: removeCoBorrower
                });
            },
            addCoBorrower: function () {
                var self = this;
                if (!self.canAddCoBorrower) {
                    self.set("confirmMessage", "Please complete the previous invitation to proceed with next one!")
                    self.$.confirmEditButton.open();
                }
                else {
                    this.publish('collapse-accordion', {
                        collapse: true
                    });
                    this.publish('add-dynamic-question-section', {
                        sectionId: this.sectionId,
                        subSectionId: this.subSectionId,
                        questionSectionSeqNo: this.questionSectionSeqNo,
                        question: this.question
                    });
                }
            },
            saveCoBorrowerDetails: function () {
                var self = this;
                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid(true));
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                    .then(function (validationResult) {
                       // if (validationResult.indexOf(false) == -1 && self.relationship !== self.previousRelationShip) {
                        if (validationResult.indexOf(false) == -1) {
                            // Validation Success
                             self.set('SendInviteButtonBusy', false)
                            // Update if any one value changes
                            if(self.previousEmail != self.email 
                                || self.previousFirstName != self.firstName
                                || self.previousLastName != self.lastName
                                || self.relationship !== self.previousRelationShip)
                            {
                                var answer = JSON.stringify({
                                    firstName: self.firstName,
                                    lastName: self.lastName,
                                    relationship: self.relationship,
                                    email: self.email
                                });
                                var payload = {
                                    "Answer": answer
                                };
                                self.set("resendInvitePayload",answer);
                                // event published to update the Json
                                self.publish('update-question-ans', {
                                    subSectionId: self.subSectionId,
                                    questionSeqNo: self.questionSectionSeqNo,
                                    questionID: self.question.questionId,
                                    answeredValue: payload.Answer,
                                    previousValue: self.previousValue,
                                    refreshData: false,
                                    coBorrowerAdded: true
                                });

                                //Notify parent about component is valid
                                self.fire('ui-container-validation', true);
                            
                                self.set('previousValue', answer);
                                return payload;
                            }
                        }
                        else{
                            //self.evaluateStatusOfButton(true);
                            // self.publish('disable:addcoborrower-skip', {
                            //     disable: true,
                            //     subSectionId: self.subSectionId,
                                
                            // });
                        }
                    });
            },
            getIndex: function (index) {
                if (index === undefined) return 1;
                index = index + 1;
                this.publish('total-co-borrower', {
                    "totalCoBorrower": index
                });
                return index;
            },
            getAddCoBorrowerIndex: function (index) {
                if (index === undefined) return 2;
                return index + 2;
            },
            setRelationShipValues: function (availableAns, questionSectionSeqNo) {
                var self = this;
                self.set('relationShipValues', availableAns);
                return new Promise(function (resolve, reject) {
                    resolve(availableAns);
                });
            },
            closePopup:function(){
                self.$.confirmEditButton.close();
            },
            evaluateSendInviteButton: function(response){
                var self = this;
                if (response.disable) 
                     self.set('SendInviteButtonBusy', true)
                else
                     self.set('SendInviteButtonBusy', false)
                    
            },
            setIsReadOnlyValue: function (question) {
                var self = this;
                if (this.question.answer) {
                    if (this.isReadOnlyStatus !== true)
                        self.set('isReadOnlyStatus', question.isReadOnly)
                }
                else
                    self.set('isReadOnlyStatus', false);
            },
            updateIsReadOnlyValue: function () {
                var self = this;
                if (self.question.answer) {
                    if (self.question.isReadOnly === false)
                        self.set('isReadOnlyStatus', true);
                    else
                        self.set('isReadOnlyStatus', self.question.isReadOnly);
                }
            }
        });
    </script>
</dom-module>