<dom-module id="ui-business-address">
    <template>
        <values-service id="values"></values-service>
        <google-maps-api api-key="[[apiKey]]"
                         version="3.exp"
                         libraries="places"
                         on-api-load="_mapsApiLoaded"></google-maps-api>
        <!-- -->
        <div class="addressdet clearfix">
            <div class="col-md-12 dropdown address-line-one">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="[[question.questionText]]"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]">
                    <ui-input class="dropdown-toggle"
                              disabled="[[question.isReadOnly]]"
                              id="AddressAutocomplete"
                              placeholder="&nbsp;"
                              value="{{ address }}"
                              name="addressLine1">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your address.</ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>

            <!-- -->
            <div class="col-md-12 dropdown">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Unit number/Apartment"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]">
                    <ui-input class="dropdown-toggle"
                              disabled="[[question.isReadOnly]]"
                              placeholder="&nbsp;"
                              value="{{ addressLine2 }}"
                              name="addressLine2">
                    </ui-input>
                </ui-container>
            </div>

            <!-- -->
            <div class="col-md-12">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="City"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-input id="addressCity" name="city"
                              disabled="[[question.isReadOnly]]"
                              value="{{ city }}">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your city of residence.
                                </ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>

            <!-- -->
            <div class="col-md-6 clmn1">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="State"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-options id="state"
                                disabled="[[question.isReadOnly]]"
                                name="state"
                                items="{{ states }}"
                                button-text=""
                                value="{{ SelectedState }}">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your state of residence.
                                </ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-options>
                </ui-container>
            </div>
            <div class="col-md-6 clmn2">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Zip Code"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-input id="ZipAutocomplete"
                              disabled="[[question.isReadOnly]]"
                              name="zip"
                              value="{{ zip }}"
                              mask-format="99999">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your zip code.</ui-require-field>
                                <ui-is-zip-code>Zip code is not valid.</ui-is-zip-code>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-business-address",

            properties: {
                address: {
                    type: String,
                    value: ""
                },
                addressLine2: {
                    type: String,
                    value: ""
                },
                city: {
                    type: String,
                    value: ""
                },
                zip: {
                    type: String,
                    value: ""
                },
                /** Google Maps API Key */
                apiKey: {
                    type: String, value: function () {
                        if (window.config && window.config.googleApiKey)
                            return window.config.googleApiKey;
                    }
                },

                isAutoFilledTriggered: { type: Boolean, value: false}
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            observers: [ 'questionAnswerUpdated(question, subSectionId)'],
            attached: function () {
                var self = this;
                self._initialize();
                /*if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }*/
            },

            questionAnswerUpdated: function (question, subSectionId) {
                var self = this;
                // Populate dropdown options
                this.ensure("values").then(function (values) {
                    self.set("states", values.statesDropdown);
                    self.set('address', '');
                    self.set('addressLine2', '');
                    self.set('city', '');
                    //Set Undefined as it was not working
                    /*if(self.get('SelectedState')!=null && self.get('SelectedState')!="" && self.get('SelectedState')!=''){
                        self.set('SelectedState', undefined);
                        self.set('prevSelectedState', undefined);
                    }*/
                    self.set('zip', '');

                    //Values from api.
                    //This is required to place here because 'states' must be loaded before setting 'SelectedState'
                    if (question.answer && question.answer.indexOf('{') > -1) {
                        var _answer = JSON.parse(question.answer);
                        if (_answer.address)
                            self.set('address', _answer.address);
                        if (_answer.addressLine2)
                            self.set('addressLine2', _answer.addressLine2);
                        if (_answer.city)
                            self.set('city', _answer.city);
                        if (_answer.state) {
                            self.set('SelectedState', _answer.state);
                            self.set('prevSelectedState', _answer.state);
                        }
                        if (_answer.zip)
                            self.set('zip', _answer.zip)
                    }
                });
            },

            _mapsApiLoaded: function () {
                this._initialize();
            },

            _initialize: function () {
                var self = this;
                if (!self.isAttached) {
                    return;
                }
                if (self.autocomplete) {
                    return;
                }
                if (!(window.google && window.google.maps)) {
                    return;
                }

                var input = self.$.AddressAutocomplete.querySelector('#input');
                var options = { types: ['address'], componentRestrictions: { country: "us" } };
                self.autocomplete = new window.google.maps.places.Autocomplete(input, options);

                self._boundFillInAddress = self._fillInAddress.bind(self);
                window.google.maps.event.addListener(self.autocomplete, 'place_changed', self._boundFillInAddress);

                if (this.isSummaryRequired) {
                    var summaryNode = self.querySelector('.address-line-one').classList;
                    if (!input.value) {
                        if (!summaryNode.contains('address-control'))
                            summaryNode.add('address-control')
                    }

                    input.addEventListener('blur', function () {
                        if (!input.value) {
                            if (!summaryNode.contains('address-control'))
                                summaryNode.add('address-control')
                        }
                    }.bind(self));

                    input.addEventListener('focus', function () {
                        if (!input.value) {
                            if (summaryNode.contains('address-control'))
                                summaryNode.remove('address-control')
                        }
                    }.bind(self));
                }
            },

            _fillInAddress: function () {
                var self = this;
                var place = self.autocomplete.getPlace();
                if (!place) {
                    return;
                }
                self.set("isAutoFilledTriggered", true);

                self.getValueUpdate(place)
                        .then(function (response) {
                            self.async(function () {
                                //if zipcode is not found, use geocoder to find the zpi based on lat and lng of selected place
                                if (!response.zip) {
                                    self.getZip(place)
                                            .then(function (zipResponse) {
                                                self.set('address', '');
                                                self.set("address", response.address);
                                                //self.set("addressLine2", response.addressLine2);
                                                self.set("city", response.city);
                                                self.set("SelectedState", response.state);
                                                self.set("zip", zipResponse.zip);
                                                self.saveAddress();
                                                self.triggerActiveClass();
                                            });
                                }
                                else {
                                    self.set('address', '');
                                    self.set("address", response.address);
                                    //self.set("addressLine2", response.addressLine2);
                                    self.set("city", response.city);
                                    self.set("SelectedState", response.state);
                                    self.set("zip", response.zip);
                                    self.saveAddress();
                                    self.triggerActiveClass();
                                }
                            }, 300);
                        },function (error) {
                            self.set("isAutoFilledTriggered", false);
                        });
            },

            getValueUpdate: function (place) {
                var self = this;

                // Getting all the values to populate
                var address =  self._getAddressComponent(place, 'premise', 'long_name');

                if (!address) {
                    address =  self._getAddressComponent(place, 'street_number', 'short_name') + ' ' + self._getAddressComponent(place, 'route', 'long_name')|| place.name;
                }
                var address = address.trim();
                var addressLine2 = self._getAddressComponent(place, 'administrative_area_level_2', 'long_name');

                var city = self._getAddressComponent(place, 'locality', 'long_name');

                var state = self._getAddressComponent(place, 'administrative_area_level_1', 'long_name');

                var zip = self._getAddressComponent(place, 'postal_code', 'long_name');

                if (!city) {
                    city = self._getAddressComponent(place, 'sublocality', 'long_name');
                }
                if (!city) {
                    city = self._getAddressComponent(place, 'administrative_area_level_3', 'long_name');
                }

                var addressDetails = {"address": address, "addressLine2": addressLine2, "city": city, "state": state, "zip": zip};
                return new Promise(function (resolve, reject) {
                    resolve(addressDetails);
                });
            },

            _getAddressComponent: function (place, component, valueType) {
                if (place.address_components) {
                    for (var i = 0; i < place.address_components.length; i++) {
                        for (var j = 0; j < place.address_components[i].types.length; j++) {
                            var componentType = place.address_components[i].types[j];
                            if (componentType === component) {
                                return place.address_components[i][valueType];
                            }
                        }
                    }
                }
                return '';
            },

            getZip: function (place) {
                return new Promise(function (resolve, reject) {
                    var geocoder = new google.maps.Geocoder;
                    var latlng = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
                    var infowindow = new google.maps.InfoWindow;
                    geocoder.geocode({'latLng': latlng}, function (results, status) {
                        if (results && results.length > 0) {
                            for (var j = 0; j < results[0].address_components.length; j++) {
                                if (results[0].address_components[j].types[0] === "postal_code") {
                                    var zip = results[0].address_components[j].short_name;
                                    resolve({"zip": zip});
                                    break;
                                }
                            }
                        }
                    });
                });
            },

            saveAddressUserEntered: function()
            {
                var self = this;
                if(self.isAutoFilledTriggered == false)
                    return self.saveAddress();
            },

            saveAddress: function () {
                    var self = this;
                    self.set("isAutoFilledTriggered", false);
                    var stateCode = _.filter(this.states, function (item) { return item.label === self.SelectedState; });
                    if (stateCode.length > 0) {
                        var selectedStateCode = stateCode[0].value;
                    }

                    var payload = { "Answer": null };
                    if(self.address && self.address.length > 2 && self.city && (selectedStateCode || self.SelectedState) && self.zip)
                    {
                        payload.Answer = JSON.stringify({
                        address: self.address ? self.address : "",
                        addressLine2: self.addressLine2 ? self.addressLine2 : "",
                        city: self.city ? self.city : "",
                        state: selectedStateCode ? selectedStateCode : self.SelectedState,
                        zip: self.zip ? self.zip : ""
                        });
                        // event published to update the Json
                        self.publish('update-question-ans', {
                            subSectionId: self.subSectionId,
                            questionSeqNo: self.questionSeqNo,
                            questionID: self.question.questionId,
                            answeredValue: payload.Answer,
                            refreshData: false
                        });
                    }
                    
                         //Notify parent about component is valid
                        this.fire('ui-container-validation', true);
                        return payload;
            },

            triggerActiveClass: function () {
                var self = this;
                var selectNode = self.querySelector("#state select").nextSibling.classList;
                var ZipNode = self.querySelector("#ZipAutocomplete .floating-label").classList;
                var cityNode = self.querySelector("#addressCity .floating-label").classList;

                if (selectNode.contains('floating-label') && !selectNode.contains('active'))
                    selectNode.add('active')

                if (!ZipNode.contains('active'))
                    ZipNode.add('active')

                if (!cityNode.contains('active'))
                    cityNode.add('active')
            }
        });
    </script>
</dom-module>