<dom-module id="ui-checkbox">
    <template>
        <div class$="{{ formGroupClassName }}">
            <div class="checkbox">
                <input type="checkbox"
                    style="margin-left: 0"
                    id="input" />
                <label class="control-label"
                    on-click="toggleCheckbox">
                    [[ label ]]
                    <content select='ui-label'>
                    </content><content select="label"></content>
                </label>

            </div>
            <div hidden>
                <content></content>
            </div>
        </div>
        <style>
            .checkbox label {
                font-weight: 800;
            }
            
            .has-error .checkbox label {
                color: #ed5565;
            }
            
            .form-group.has-error .checkbox .control-label {
                color: #ed5565;
            }
            
            .checkbox label::before {
                content: none;
            }
            
            .checkbox input[type=checkbox] {
                opacity: 1;
            }
            
            .checkbox {
                padding-left: 0;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "ui-checkbox",

            behaviors: [alloy.uiInputBehavior],

            properties: {
                labelStyles: {
                    type: String,
                    value: "min-height: 20px; padding-left: 20px; margin-bottom: 0; font-weight: 400; cursor: pointer;"
                },
                value: {
                    value: false,
                    type: Boolean
                },

                label: String,
            },

            toggleCheckbox: function () {
                $("input", this).click();
            }
        })
    </script>
</dom-module>