<html-import html-href="ui-elements/forms/ui-label.html"></html-import>
<dom-module id="ui-check-box">
    <template>
        <div class="custom-checkbox clearfix"
            disabled="[[disabled]]">
            <input id$="{{ id }}"
                type="checkbox"
                disabled="[[disabled]]"
                on-change="checkBoxClicked">
            <label for$="{{ id }}">{{ text }}</label>
        </div>
    </template>
    <script>
        Polymer({
            is: 'ui-check-box',

            properties: {
                id: {
                    type: String,
                    value: ''
                },
                text: {
                    type: String,
                    value: ''
                },
                fontColor: {
                    type: String,
                    value: ''
                },
                fontSize: {
                    type: String,
                    value: ''
                },
                fontStyle: {
                    type: String,
                    value: ''
                },
                fontFamily: {
                    type: String,
                    value: ''
                },
                value: {
                    type: Boolean,
                    value: false
                },
                text: String,
                disabled: Boolean
            },

            behaviors: [window.alloy.uiInputBehavior],

            observers: [
                "onValueChanged(value)"
            ],
            attached: function () {
                this.onValueChanged(this.value);
            },
            onValueChanged: function (value) {
                var updatedValue = false;
                if (value === "True" || value === "TRUE" || value === true || value === "true") {
                    updatedValue = true;
                }
                if(this.querySelector('input[type="checkbox"]') != null && this.querySelector('input[type="checkbox"]') != undefined)
                    this.querySelector('input[type="checkbox"]').checked = updatedValue;
            },

            checkBoxClicked: function (e) {
                if (!this.disabled) {
                    if (e) {
                        var value = this.querySelector('input[type="checkbox"]').checked;
                        var setValue = "false";
                        if (value === true) {
                            setValue = "true";
                        }
                        this.async(function () {
                            this.set("value", setValue);
                            this.onValueChanged(setValue);
                        }, 370);
                    }
                }
            }
        });
    </script>
</dom-module>