<dom-module id="ui-custom-address">
    <template>
        <values-service id="values"></values-service>
        <google-maps-api api-key="[[apiKey]]"
                         version="3.exp"
                         libraries="places"
                         on-api-load="_mapsApiLoaded"></google-maps-api>
        <!-- -->
        <div class="addressdet clearfix">
            <div class="col-md-12 dropdown">
                <ui-container question="[[ question ]]"
                              auto-save=false
                              floating-label="Address"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]">
                    <ui-input class="dropdown-toggle"
                              id="AddressAutocomplete"
                              placeholder="&nbsp;"
                              value="{{ address }}"
                              name="address">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your address.</ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>

            <!-- -->
            <div class="col-md-12">
                <ui-container question="[[ question ]]"
                              auto-save=false
                              floating-label="City"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]">
                    <ui-input name="city"
                              value="{{ city }}">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your city of residence.
                                </ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>

            <!-- -->
            <div class="col-md-6 clmn1">
                <ui-container question="[[ question ]]"
                              auto-save=false
                              floating-label="State"
                              default-value="[[question.answer.state]]"
                              is-required="[[question.required]]">
                    <ui-options id="state"
                                name="state"
                                items="{{ states }}"
                                button-text=""
                                value="{{ SelectedState }}">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your state of residence.
                                </ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-options>
                </ui-container>
            </div>
            <div class="col-md-6 clmn2">
                <ui-container question="[[ question ]]"
                              auto-save=false
                              floating-label="Zip Code"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]">
                    <ui-input id="ZipAutocomplete"
                              name="zip"
                              value="{{ zip }}"
                              mask-format="99999">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your zip code.</ui-require-field>
                                <ui-is-zip-code>Zip code is not valid.</ui-is-zip-code>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-custom-address",

            properties: {
                address: {
                    type: String,
                    value: ""
                },
                city: {
                    type: String,
                    value: ""
                },
                zip: {
                    type: String,
                    value: ""
                },
                /** Google Maps API Key */
                apiKey: {
                    type: String, value: function () {
                        if (window.config && window.config.googleApiKey)
                            return window.config.googleApiKey;
                    }
                },
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;
                self._initialize();

                // Populate dropdown options
                this.ensure("values").then(function (values) {
                    self.set("states", values.statesDropdown);

                    //Values from api.
                    //This is required to place here because 'states' must be loaded before setting 'SelectedState'
                    if (self.question.answer && self.question.answer.indexOf('{') > -1) {
                        var _answer = JSON.parse(self.question.answer);

                        if (_answer.address)
                            self.set('address', _answer.address)
                        if (_answer.city)
                            self.set('city', _answer.city)
                        if (_answer.state) {
                            var stateCode = self.states.filter(function (elem) {
                                return elem.label === _answer.state
                            })
                            if (stateCode !== null && stateCode.length > 0) {
                                self.set('SelectedState', stateCode[0].value)
                                self.set('prevSelectedState', stateCode[0].value)
                            }
                        }

                        if (_answer.zip)
                            self.set('zip', _answer.zip)
                    }
                });
            },

            _mapsApiLoaded: function () {
                this._initialize();
            },

            _initialize: function () {
                var self = this;
                if (!self.isAttached) {
                    return;
                }
                if (self.autocomplete) {
                    return;
                }
                if (!(window.google && window.google.maps)) {
                    return;
                }

                var input = self.$.AddressAutocomplete.querySelector('#input');
                var options = { types: ['address'], componentRestrictions: { country: "us" } };
                self.autocomplete = new window.google.maps.places.Autocomplete(input, options);

                self._boundFillInAddress = self._fillInAddress.bind(self);
                window.google.maps.event.addListener(self.autocomplete, 'place_changed', self._boundFillInAddress);

                input.addEventListener('blur', function () {
                    //setTimeout(self._boundFillInAddress, 0);
                }.bind(self));
            },

            _fillInAddress: function () {
                var self = this;
                var place = self.autocomplete.getPlace();
                if (!place) {
                    return;
                }
                self.set("address", self._getAddressComponent(place, 'street_number', 'short_name')
                        + ' ' + self._getAddressComponent(place, 'route', 'long_name').trim() || place.name);
                self.set("city", self._getAddressComponent(place, 'locality', 'long_name'));
                self.set("SelectedState", self._getAddressComponent(place, 'administrative_area_level_1', 'long_name'));
                self.set("zip", self._getAddressComponent(place, 'postal_code', 'long_name'));
                //if zipcode is not found, use geocoder to find the zpi based on lat and lng of selected place
                if (!self.zip) {
                    var geocoder = new google.maps.Geocoder;
                    var latlng = new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng());
                    var infowindow = new google.maps.InfoWindow;
                    geocoder.geocode({ 'latLng': latlng }, function (results, status) {
                        if (results && results.length > 0) {
                            for (var j = 0; j < results[0].address_components.length; j++) {
                                if (results[0].address_components[j].types[0] === "postal_code") {
                                    self.set("zip", results[0].address_components[j].short_name);
                                    // Hence ui-container handle blur for Input so need to make this hack.
                                    $(self.querySelector("#ZipAutocomplete input")).focus();
                                    $(self.querySelector("#ZipAutocomplete input")).blur();
                                }
                            }
                        }
                    });
                }
                //if city is not found, search for sublocality
                if (!self.city)
                    self.set("city", self._getAddressComponent(place, 'sublocality', 'long_name'));
                self.saveAddress();
            },

            _getAddressComponent: function (place, component, valueType) {
                if (place.address_components) {
                    for (var i = 0; i < place.address_components.length; i++) {
                        for (var j = 0; j < place.address_components[i].types.length; j++) {
                            var componentType = place.address_components[i].types[j];
                            if (componentType === component) {
                                return place.address_components[i][valueType];
                            }
                        }
                    }
                }
                return '';
            },

            saveAddress: function () {
                var self = this;

                var stateCode = _.filter(this.states, function (item) { return item.label === self.SelectedState; });
                if (stateCode.length > 0) {
                    var selectedStateCode = stateCode[0].value;
                }
                var answer = JSON.stringify({
                    address: this.address ? this.address : "",
                    city: this.city ? this.city : "",
                    state: selectedStateCode ? selectedStateCode : this.SelectedState,
                    zip: this.zip ? this.zip : ""
                });

                var payload = {
                    "Answer": answer
                };
                //Notify parent about component is valid
                this.fire('ui-container-validation', true);
                return payload;
            }
        });
    </script>
</dom-module>