<html-import html-href="ui-elements/forms/ui-label.html"></html-import>
<dom-module id="ui-calculator">
<template>
    <div>
        <ui-label class$="{{ formControlClassName }}"
                  font-color="[[ fontColor ]]"
                  font-style="[[ fontStyle ]]"
                  font-family="[[ fontFamily ]]"
                  font-size="[[ fontSize ]]"
                  margin-bottom="[[ marginBottom ]]"
                  margin-top="[[ marginTop ]]">
            <alloy-format currency="[[ calculatedValue ]]" class="whitespnw"></alloy-format>
        </ui-label>
    </div>
</template>
<script>
    Polymer({
        is: "ui-calculator",
        behaviors: [
            eventHub
        ],
        properties: {
            formControlClassName: {
                value: "",
                type: String
            },
            section: Array,
            calculatedValue: Number,
            regex: String,
            subscriberList: {
                type: Array,
                value: []
            },
            regexValues: {
                type: Object,
                observer: 'calculateValue'
            },
            subSectionId:String,
            allRequired: {
                type: String,
                value: "false"
            }
        },
        observers: [
            'parseRegex(reg,subSectionId,subSection)'
        ],
        attached: function () {          
            this.set("regex", this.reg);
            this.subscriberList.push(this.subscribe('update-calculation', this.updateValueToCalculate.bind(this)));
        },
        detached: function () {
            // UnSubscribing all subscriptions in attached
            this.subscriberList.map(function (subscription) {
                this.unsubscribe(subscription);
            }, this);
        },
        parseRegex: function () {
            var self = this;
            var matches = [],
                    html = this.reg;
            html.replace(/<#(.*?)#>/g, function () {
               var splitValues = arguments[1].split("/");
              // splitValues[0] = self.subSectionId;
               arguments[1] = self.subSectionId + "/" + splitValues[1];
                matches[arguments[1]] = "";
            });
            this.set("regexValues", matches);
            this.getValues();
        },
        updateValueToCalculate: function (payload) {
            var subSectionId = payload.subSectionId;
            var questionId = payload.questionID;

            var key = subSectionId + "/" + questionId;
            if (this.regexValues[key] != undefined ) {
                var regexValues = this.regexValues;
                regexValues[key] = payload.answeredValue;
                this.set("regexValues", []);
                this.set("regexValues", regexValues);
            }
        },
        updateRegexWithRealSubSectionId:function(regex){
            var self = this;
           var regexData = [];
              regex.replace(/<#(.*?)#>/g, function () {
               
               var splitValues = arguments[0].split("/");            
               arguments[0] = "<#" + self.subSectionId + "/" + splitValues[1] ;
              
               
               regexData.push(arguments[0]);
            });
            return regexData;
        },
        calculateValues : function (sourcestring) {
            var re =   /.?\d+(\.\d{1,9})?/g;
            var total = 0;
            var symbol = '';
            for (var matches = re.exec(sourcestring); matches != null; matches = re.exec(sourcestring)) {
                var orgValue = matches;
               
                symbol = matches.toString().substring(0,1);
             
                value = parseInt(matches.toString().substr(1));

                switch(symbol) {
                    case '+':
                        total = parseInt(total) + parseInt(value);
                        break;
                    case '-':
                        total = parseInt(total) - parseInt(value);
                        break;
                    case '*':
                        total = parseInt(total) * parseInt(value);
                        break;
                    case '/':
                        total = parseInt(total) / parseInt(value);
                        break;
                    default:
                        total = parseInt(total) + parseInt(orgValue);
                }
            }
            return total;
        },
        getValues: function () {
            var self = this;
            var _copyOfSubSections = _.cloneDeep(this.subSection);

            var regexValues =  this.regexValues;
            Object.keys(regexValues).forEach(function(key, index) {
                var splitValues = key.split("/");
                var subSectionId = splitValues[0];
               
                var questionId = splitValues[1];
                var subSectionIndex = _.findIndex(_copyOfSubSections, {subSectionId: subSectionId});

                if (_copyOfSubSections[subSectionIndex]) {
                    var questionSections = _copyOfSubSections[subSectionIndex].questionSections;
                    for (var i=0; i<questionSections.length; i++){
                        var questionList = questionSections[i].questionList;
                        for (var j=0; j<questionList.length; j++) {
                            if (questionList[j].questionId === questionId && questionList[j].answer) {
                                regexValues[key] = questionList[j].answer;
                                self.set("regexValues", []);
                                self.set("regexValues", regexValues);
                            }
                        }
                    }
                }
            }, regexValues);
        },
        calculateValue: function () {
            var self = this;
            var regexValues =  this.regexValues;

            var regexValuesLength = Object.keys(regexValues).length;
            if (_.isUndefined(regexValues) || regexValuesLength === 0) return

            if(self.allRequired === "true") {
                Object.keys(regexValues).forEach(function (key, index) {
                    if (this[key] == "") this[key] = 0;
                }, regexValues);
            }
            else {
                var checkIfValue = false;
                var noValue = true;
                Object.keys(regexValues).forEach(function(key, index) {
                    if (this[key] == "") checkIfValue = true; 
                    else noValue = false;
                }, regexValues);

                if (checkIfValue && noValue) return
            }

            var regex = this.reg;
            var regexData=  self.updateRegexWithRealSubSectionId(regex);
            if(regexData) {
                if(regex.indexOf('+') > -1){
                    regex = regexData.join("+");
                }
                else if(regex.indexOf('-') > -1){
                    regex = regexData.join("-");
                }
                else if(regex.indexOf('*') > -1){
                    regex = regexData.join("*");
                }
                else if(regex.indexOf('/') > -1){
                    regex = regexData.join("/");
                }
            }
            Object.keys(regexValues).forEach(function(key, index) {
                var keyData = key.split("/");

                key = self.subSectionId + "/" + keyData[1];

                var replace = "<#" + key +  "#>";
                regex = regex.replace(replace, this[key]);
            }, regexValues);

            var calculatedValue = this.calculateValues(regex);
            this.set("calculatedValue", calculatedValue);
        }
    });
</script>
</dom-module>