<dom-module id="ui-control-error">
    <template>
    	<div class="clearfix" hidden$="{{ !errors.length }}"><span>{{errors.0}}</span></div>
    </template>
    <script>
        Polymer({
            is: "ui-control-error",

            properties: {
                errors: {
                    value: function () { return []; },
                    type: Array
                },
                limit: Number,
                style: {
                    value: "list",
                    type: String
                }
            },

            setErrors: function (nextErrors) {
                //if (arguments[0]) {                    
                    //this.set("errors", [].concat(arguments[0].toString().replace(".'.","'."))) 
                //}
                if (arguments[0]) { this.set("errors", [].concat(arguments[0])) }
                if (!arguments[0]) { return this.errors }
            },

            clearErrors: function () {
                this.set("errors", undefined);
            }
        })
    </script>
</dom-module>