<dom-module id="ui-custom-validator">
    <template><content></content></template>
    <script>
        Polymer({
            is: "ui-custom-validator",

            properties: {
                name: String
            },

            isValid: function (value) {
                return this.domHost[this.name](value);
            },

            getError: function () {
                return this.textContent.trim();
            }
        });
    </script>
</dom-module>