<dom-module id="ui-container-group">
    <template>
        <content></content>
    </template>

    <script>
        Polymer({
            is:'ui-container-group',

            properties:{
               hasError:{
                   type:Boolean,
                   notify:true
               }
            },

            behaviors: [
                ensureDependenciesBehavior
            ],

            attached: function(){
                var self = this;
                //This timeout is set as we are receiving error for 'customValidator.isValid' in custom-validator-behavior
                self.async(function(){
                    self._isUiContainerReady(0,10).then(function(success){
                        //Validate to enable/disable button
                        self.isValid(true);
                        //attach event on all ui-container
                        self.querySelectorAll('ui-container').forEach(function(uiContainer){
                            uiContainer.addEventListener('ui-container-validation', self.isValid.bind(self));
                        });
                    });
                },100);
            },

            detached: function(){
                var self = this;
                //Remove 'ui-container-validation' event from all ui-container
                self.querySelectorAll('ui-container').forEach(function(uiContainer){
                    uiContainer.removeEventListener('ui-container-validation', self.isValid.bind(self));
                });
            },

            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function(doNotDisplayErrors){
                var self = this;
                
                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid(doNotDisplayErrors));
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                .then(function (validationResult) {
                    if (validationResult.indexOf(false) == -1) {
                        //Validation OK on the screen go ahead
                        self.hasError = false;
                        return true;
                    } else {
                        //Validation Failed
                        self.hasError = true;
                        return false;
                    }
                });       
            },

            /**
             * This function will be in recursion for maximum 1 second to check if ui-container is loaded or not.
             * Note: We are making promise inside promise but as we are not doing for n level, performance will be normal
             */
            _isUiContainerReady: function(timeTaken,durationToIncrement){
                var self = this;
                var _timeTaken = timeTaken==undefined?0:timeTaken;
                return new Promise(function(resolve, reject){
                    _timeTaken = _timeTaken+(durationToIncrement==undefined?100:durationToIncrement);
                    self.async(function(){
                        var _uiContainer = self.querySelector('ui-container');
                        if(!_uiContainer || _timeTaken>=1000 || (_uiContainer!=undefined && _uiContainer.isValid!=undefined)){
                            resolve(_timeTaken);
                        }else {
                            resolve(self._isUiContainerReady(_timeTaken));
                        }
                    },100)
                });  
            } 
        });
    </script>
</dom-module>