<dom-module id="ui-error-summary">
    <template>
        <div class="alert alert-danger"
             hidden$="{{ !errors.length }}">
            <ul>
                <template is="dom-repeat"
                          items="{{ getDisplayErrors(errors) }}">
                    <li>{{ item }}</li>
                </template>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-error-summary",

            properties: {
                errors: {
                    value: function () { return []; },
                    type: Array
                },
                limit: Number,
                style: {
                    value: "list",
                    type: String
                }
            },

            getDisplayErrors: function () {
                return [].concat(this.errors);
            },

            setErrors: function (nextErrors) {
                if (arguments[0]) {
                    this.set("errors",
                        [].concat(arguments[0]))
                }
                if (!arguments[0]) { return this.errors }
            },

            clearErrors: function () {
                this.set("errors", undefined);
            }
        })
    </script>
</dom-module>