<dom-module id="ui-formatter-currency">
    <script>
        Polymer({
            is: "ui-formatter-currency",

            format: function (value) {
                var newVal = Number(value)
                    .toFixed(2)
                    .replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,");

                if (newVal === "NaN") {
                    return value;
                }

                else {
                    return newVal;
                }

            }
        })
    </script>
</dom-module>