<dom-module id="ui-form">
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "ui-form",

            properties: {
                /**
                 * Array of error objects
                 */
                errors: Array,

                /**
                 * Array of error messages
                 */
                errorMessages: {
                    type: Array,
                    value: function () { return [] },
                    notify: true
                },

                /**
                 * Flag for hiding errors
                 */
                hideErrors: {
                    value: true,
                    type: Boolean
                },

                /**
                 * Fields registered to this form. Use when querying validity
                 * and getting/setting form data.
                 */
                fields: {
                    value: function () { return []; },
                    type: Array
                },

                /**
                 * Name of callback from domHost to be invoked after isValid finds no form errors
                 */
                handleValidationSuccess: String,

                /**
                 * Name of callback from domHost to be invoked after isValid finds form errors
                 */
                handleValidationFailure: String,

                /**
                 * Form data with field names as keys
                 */
                data: {
                    type: Object,
                    notify: true
                },

                FIELD_TAGS: {
                    type: String,
                    value: [
                        "ui-input",
                        "ui-options",
                        "ui-checkbox",
                        "ui-text-area"
                    ]
                }
            },

            behaviors: [eventHub, alloy.ensureDependenciesBehavior],

            observers: ["onErrorsChanged(errors)"],

            onErrorsChanged: function (errors) {
                this.set("errorMessages", this.getErrors());
            },

            listeners: {
                "input": "handleInput"
            },

            attached: function () {
                this.publish(this.id + ".attached");
                this.addEnterKeypressEventHandlers();
            },

            addEnterKeypressEventHandlers: function () {
                var self = this;
                var ENTER_KEY = 13;
                
                $(self).off().on("keydown", function (e) {
                    if (e.which !== ENTER_KEY) return;

                    e.stopPropagation();

                    var $form = $(self);
                    var $targetUiButton = $form.find("ui-button").first();
                    var $focusedInputs = $("input:focus", $form);

                    if (e.which === ENTER_KEY
                        && $targetUiButton.length
                        && $focusedInputs.length)
                        $targetUiButton.click();
                });
            },

            /**
             * Register an element as a field belonging to this form
             * @param {HTMLElement} field registering as a child field
             */
            register: function (field) {
                this.push("fields", field);
                this.fire("register")
            },

            /**
             * Validates form.
             * Form validity determined as a function of registered field
             * validity.
             * @returns {Promise<Boolean>} Validity of form.
             */
            isValid: function () {
                var self = this;
                var inputChain = Promise.resolve();

                self.resetErrors();
                self.set("data", this.getData());

                return self.fields
                    .reduce(function (inputChain, currentInput) {
                        return inputChain

                            // This should be a promise, but wrap for safety
                            .then(function () {
                                return Promise.resolve(currentInput.isValid())
                            })

                            // Handle input validity
                            .then(function (isValid) {

                                // Input.isValid should be boolean
                                if (typeof isValid !== typeof Boolean()) {
                                    return Promise.reject(self.InvalidOutputError(
                                        currentInput,
                                        isValid));
                                }

                                // Gather errors from input and add to form's errors
                                if (isValid === false) {
                                    return self.addError({
                                        field: currentInput,
                                        errors: currentInput.getErrors()
                                    });
                                }

                                return isValid;
                            });
                    }, inputChain)
                    .then(function () {
                        return self.errors.length === 0;
                    })
                    .then(function (isValid) {
                        var validationSuccessHandler = self.domHost[self.handleValidationSuccess];
                        var validationFailureHandler = self.domHost[self.handleValidationFailure];

                        if (isValid && typeof validationSuccessHandler === "function")
                            validationSuccessHandler.call(self.domHost,
                                self.getData());

                        if (!isValid && typeof validationFailureHandler === "function")
                            validationFailureHandler.call(self.domHost,
                                self.getErrors);

                        return isValid;
                    });
            },

            /**
             * Get form data
             */
            getData: function () {
                return this.fields.reduce(function (acc, field) {
                    acc[field.name] = field.value;
                    return acc;
                }, {});
            },

            setFieldValue: function (field, value) {
                if (!value && value !== 0)
                    value = "";

                field.value = value;
            },

            setData: function (data) {
                var self = this;
                var fields = self._getFields();

                // Ensure fields have ids since ensure needs them
                var ids = fields
                    .map(function (field) {
                        var f = $(field);
                        f.attr("id", f.attr("id") || f.attr("name"));

                        return f.attr("id");
                    });

                // self smells wrong to me. Probably need to force ensure to
                // work the same regardless of args length
                // TODO: Revise ensure()?
                if (ids.length === 1) {
                    self.ensure(ids[0]).then(function (field) {
                        var value = data[field.name];
                        self.setFieldValue(field, value);
                    });
                }
                else {
                    self.ensure.apply(self, ids).then(function (context) {
                        Object.keys(context).forEach(function (key) {
                            var field = context[key];
                            var value = data[field.name];
                            self.setFieldValue(field, value);
                        })
                    })
                }
            },

            _getFields: function () {
                return $(this.FIELD_TAGS.join(","), this).toArray();
            },

            InvalidOutputError: function (input, output) {
                return new Error("Invalid input validity from input: " +
                    input.name +
                    ". Expected true or false but found " +
                    output
                );
            },

            /**
             * Show form errors.
             */
            showErrors: function () {
                this.set("hideErrors", false);
            },

            /**
             * Hide form errors.
             */
            hideErrors: function () {
                this.set("hideErrors", true);
            },

            /**
             * Returns error messages
             * @returns {string[]} Array of all error messages
             */
            getErrors: function () {
                return this.errors.reduce(function (acc, error) {
                    return acc.concat(error.errors);
                }, [])
            },

            /**
             * Add an error to the form.
             * @param {Object} error
             */
            addError: function (error) {
                this.errors.push(error);
                this.set("errors", [].concat(this.errors));
            },

            /**
             * Clear all errors.
             */
            resetErrors: function () {
                this.set("errors", []);
            },

            handleInput: function () {
                this.set("data", this.getData());
            }
        });
    </script>
</dom-module>