<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/ui-checkbox.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-custom-validator.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>

<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>

<html-import html-href="ui-elements/forms/ui-formatter-currency.html"></html-import>
<html-import html-href="ui-elements/forms/ui-formatter-ssn.html"></html-import>
<html-import html-href="ui-elements/forms/formatters/ui-formatter-phone.html"></html-import>

<dom-module id="ui-forms-tester">
    <template>
        <h1>form tester</h1>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form"
                 on-register="populateForm">
            <ui-options name="Derp"
                        items="{{ roles }}">
                <ui-validators>
                    <ui-require-field>Required, dude.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-input name="phone"
                      label="Phone">
                <ui-validators>
                    <ui-require-field></ui-require-field>
                </ui-validators>
                <ui-formatters>
                    <ui-formatter-phone></ui-formatter-phone>
                </ui-formatters>
            </ui-input>
            <ui-input name="Income"
                      Label="Income">
                <ui-validators>
                    <ui-require-field>This field is required, homie</ui-require-field>
                    <ui-custom-validator name="asyncValidator">Async validator failed</ui-custom-validator>
                </ui-validators>
                <ui-formatters>
                    <ui-formatter-currency></ui-formatter-currency>
                </ui-formatters>
                <span></span>
                <div></div>
                <h1></h1>
            </ui-input>
            <ui-input name="ssn"
                      Label="SSn">
                <ui-validators>
                    <ui-require-field>This field is required, homie</ui-require-field>
                    <ui-custom-validator name="asyncValidator">Async validator failed</ui-custom-validator>
                </ui-validators>
                <ui-formatters>
                    <ui-formatter-ssn></ui-formatter-ssn>
                </ui-formatters>
            </ui-input>
            <ui-checkbox name="private">
                <ui-label>Private</ui-label>
                <ui-validators>
                    <ui-require-field>You gotta check this one</ui-require-field>
                </ui-validators>
            </ui-checkbox>
            <ui-text-area name="abc"
                          label="abc">
                <ui-validators>
                    <ui-require-field>You gotta fill this one</ui-require-field>
                </ui-validators>
            </ui-text-area>

            <ui-options name="role"
                        button-text="Role"
                        items="{{ roles }}">
                <ui-validators>
                    <ui-require-field>Loan Purpose is required.</ui-require-field>
                </ui-validators>
            </ui-options>
        </ui-form>

        <ui-modal id="myModal"
                  title="Terms of Use">
            <p>I agree with everything!</p>
        </ui-modal>

        <ui-modal-trigger modal-id="myModal">
            <button class="btn btn-primary">Terms of Use</button>
        </ui-modal-trigger>

        <hr/>

        <button class="btn btn-primary"
                on-click="login">Submit
        </button>

    </template>
    <script>
        Polymer({
            is: "ui-forms-tester",

            properties: {
                roles: {
                    type: Array,
                    value: ["Role 1", "Role 2"]
                }
            },

            populateForm: function () {
                this.$.form.setData({
                    "email": "herp_derp_78@bol.com",
                    "fullName": "Herp Derp da Silva"
                });
            },

            asyncValidator: function (value) {
                // Fake async delay
                return new Promise(function (resolve, reject) {
                    setTimeout(function () {
                        resolve(value === "derp");
                    }, 1500);
                });
            },

            login: function () {
                this.$.form.isValid().then(function (isValid) {
                    if (isValid) {
                        console.log("all good!")
                        this.$.errorSummary.setErrors(this.$.form.getErrors());
                    } else {
                        console.log("not so good...");
                        this.$.errorSummary.setErrors(this.$.form.getErrors());
                    }
                }.bind(this));
            }
        })
    </script>
</dom-module>