<dom-module id="ui-input-container">
    <template>
        <style>
            :host::content *:focus {
                outline: none !important;
            }

            :host {
                display: block;
                position: relative;
            }

            label {
                position: absolute;
                left: 0;
                bottom: 0;
                pointer-events: none;
                -webkit-font-smoothing: antialiased;
                padding: 0 3px 0 0;
                margin: 0;
                max-width: 100%;
                transition: transform .4s cubic-bezier(.25, .8, .25, 1), -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
                transform-origin: left top;
                transform: translate3d(0, -.25em, 0) scale(1);
                font-family: 'Roboto', sans-serif;
                font-size: 15px;
                font-weight: normal;
                color: #777;
                z-index: 2;
            }

            :host.has-value label,
            :host.has-focus label {
                -webkit-transform: translate3d(0, 6px, 0) scale(.75);
                transform: translate3d(0, -28px, 0) scale(.75);
                transition: transform .4s cubic-bezier(.25, .8, .25, 1), -webkit-transform .4s cubic-bezier(.25, .8, .25, 1)
            }

            :host::content input {
                border: none;
                border-radius: 0px !important;
                border-bottom: 1px solid #9c9e9f !important;
                width: 100%;
                padding: 0;
                color: #006699;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
            }
			
        </style>
        <label hidden$="[[ !label ]]">[[ label ]]</label>
            <content></content>
    </template>
    <script>
        Polymer({
            is: "ui-input-container",

            properties: {
                label: {
                    type: String,
                    value: ""
                },
                _input: {
                    type: Object,
                },
                cssClasses: {
                    type: Object,
                    value: {
                        HAS_VALUE: "has-value",
                        HAS_FOCUS: "has-focus"
                    }
                }
            },

            attached: function () {
                this._inputFocused = this._inputFocused.bind(this)
                this._inputBlurred = this._inputBlurred.bind(this)
                this._inputChanged = this._inputChanged.bind(this)
                this._addListeners()
            },

            detached: function () {
                this._setHasFocus(false)
                this._setHasValue(false)
                this._removeListeners(this._input)
            },

            _addListeners: function () {
                var component = this

                $("*", this).each(function () {
                    this.addEventListener("focus", component._inputFocused)
                    this.addEventListener("blur", component._inputBlurred)
                    this.addEventListener("input", component._inputChanged)
                })
            },

            _removeListeners: function () {
                var component = this

                $("*").each(function () {
                    this.removeEventListener("focus", component._inputFocused)
                    this.removeEventListener("blur", component._inputBlurred)
                    this.removeEventListener("input", component._inputChanged)
                })
            },

            _inputFocused: function () {
                this._setHasFocus(true)
            },

            _inputBlurred: function () {
                this._setHasFocus(false)
            },

            _inputChanged: function () {
                this._setHasValue($("input", this).val().length > 0)
            },

            _setHasFocus: function (value) {
                this.toggleClass(this.cssClasses.HAS_FOCUS, !!value)
            },

            _setHasValue: function (value) {
                this.toggleClass(this.cssClasses.HAS_VALUE, !!value)
            }
        });
    </script>
</dom-module>