<dom-module id="ui-label">
    <template>
        <style>
            :host {
                font-size: var(--ui-label-font-size, inherit);
                color: var(--ui-label-font-color, inherit);
            }

            .display-cell {
                display: table-cell;
            }
            .required-control {
                color: #dc1400 !important;
            }
        </style>
        <div class$="[[ wrapperClass ]]" style$="[[ stylesForLabel(fontColor, fontStyle, fontFamily, fontSize, marginBottom, marginTop) ]]">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: 'ui-label',

            behaviors: [
                eventHub
            ],

            properties:{
                /*Properties passed to style this label*/
                fontColor: String,
                fontStyle: String,
                fontFamily: String,
                fontSize: String,
                wrapperClass: {
                    type: String,
                    value: "labelWrapper",
                    computed: "computeDefaultClass(isSummaryRequired)"
                },
                /**
                 * This property contains list of subscriptions done in this component
                 */
                subscriptionList: {
                    type: Array,
                    value: []
                },
                /*Dependency fro label to mark as not required if child are answered
                 * 1st level section
                 * 2nd level question to reflect attribute
                 * 3rd level questions with initial value as false changes during course
                 * */
                dependentQuestions: {
                    type: Object,
                    value: {
                        4: {
                            64: {
                                65: false,
                                66: false,
                                67: false
                            },
                            69: {
                                70: false,
                                71: false,
                                72: false,
                                73: false,
                                74: false,
                                75: false
                            },
                            77: {
                                78: false,
                                46: false
                            },
                            1064: {
                                1065: false,
                                1066: false,
                                1067: false
                            },
                            1069: {
                                1070: false,
                                1071: false,
                                1072: false,
                                1073: false,
                                1074: false,
                                1075: false
                            },
                            1077: {
                                1078: false,
                                1046: false
                            },
                            47: {
                                48: false
                            },
                            1047: {
                                1048: false
                            },
                            49: {
                                50: false
                            },
                            1049: {
                                1050: false
                            }
                        }
                    }
                }
            },

            attached: function () {
                this.subscriptionList.push(this.subscribe('update-question-ans', this.updateDependentQuestionAnswer.bind(this)));
            },

            detached: function () {
                // Un-subscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },

            isValid : function() {
                return true;
            },

            updateDependentQuestionAnswer: function (payload) {
                var self = this;
                if (this.isSummaryRequired && this.dependentQuestions[this.sectionId]
                        && this.dependentQuestions[this.sectionId][this.questionId]
                        && this.dependentQuestions[this.sectionId][this.questionId].hasOwnProperty(payload.questionID) ) {

                    if (payload.answeredValue != " " && payload.answeredValue != "" && payload.answeredValue != "false") {
                        this.dependentQuestions[this.sectionId][this.questionId][payload.questionID] = true
                    }
                    else {
                        this.dependentQuestions[this.sectionId][this.questionId][payload.questionID] = false;
                    }

                    if (payload.answeredValue == "false") {
                        Object.keys(this.dependentQuestions[this.sectionId][this.questionId]).forEach(function(key) {
                            self.dependentQuestions[self.sectionId][self.questionId][key] = false;
                        });
                    }

                    var questionList = this.dependentQuestions[this.sectionId][this.questionId];

                    var changeLabel = false;
                    Object.keys(questionList).forEach(function(key) {
                        if (questionList[key] == true) {
                            changeLabel = true;
                        }
                    });

                    var requiredLabel = this.querySelector('.labelWrapper').classList;
                    if (changeLabel) {
                        if (requiredLabel.contains('required-control')) {
                            requiredLabel.remove('required-control')
                        }
                    }
                    else {
                        if (!requiredLabel.contains('required-control')) {
                            requiredLabel.add('required-control')
                        }
                    }
                }
            },

            /**
             * This function will prepare list of styles to apply
             */

            stylesForLabel: function(fontColor, fontStyle, fontFamily, fontSize, marginBottom, marginTop){

                var styles = [];

                //For font color
                if(fontColor){
                    styles.push("color: "+fontColor);
                }

                //Fot font-style
                if(fontStyle){
                    styles.push("font-style: "+fontStyle);
                }

                //For font family name
                if(fontFamily){
                    styles.push("font-family: "+"'"+fontFamily+"'");
                }
                if(fontSize){
                    styles.push("font-size: "+fontSize);
                }

                //For font-size
                if(fontSize){
                    styles.push("font-size: "+fontSize);
                }

                //Margin bottom
                if(marginBottom){
                    styles.push("margin-bottom: "+marginBottom);
                }

                if(marginTop){
                    styles.push("margin-top: "+marginTop);
                }

                return styles.join(";")
            },

            computeDefaultClass: function (isSummaryRequired) {
                var classList = ["labelWrapper"];
                if (isSummaryRequired)
                    classList.push("required-control");

                return classList.join(" ");
            }
        });
    </script>
</dom-module>
