<html-import html-href="services/user-profile-service.html"></html-import>
<dom-module id="ui-loan-officer-search">
    <template>
        <div class="loanofficer clearfix">
            <div class="col-md-12 dropdown">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="[[question.questionText]]"
                              help-text-body="[[question.helpText]]"
                              help-text-title="[[question.questionText]]"
                              default-value="[[question.answer]]"
                              is-required="[[question.required]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-input id="LoanOfficerAutocomplete"
                              disabled="[[disabled]]"
                              class="dropdown-toggle"
                              name="loanOfficer"
                              value="{{ loanOfficerName }}"
                              on-keyup="searchLoanOfficer">
                        <template is="dom-if"
                                  if="{{ question.required }}">
                            <ui-validators>
                                <ui-require-field>Please enter your loan officer.</ui-require-field>
                            </ui-validators>
                        </template>
                    </ui-input>
                </ui-container>
                <ul class="dropdown-menu loanOfficerAutocompleteUl"
                    id="loanOfficerSearchResult">
                    <template is="dom-repeat"
                              items="{{ loanOfficerAutocompleteItemsFiltered }}">
                        <li>
                            <a tabindex="-1"
                               href="javascript:void(0)"
                               attr-loan-officer="{{ item.displayName }}"
                               attr-username="{{item.username}}"
                               on-click="handleLoanOfficerClick">{{ item.displayName }}</a>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <http-request-promisified id="$http"></http-request-promisified>
        <user-profile-service id="userProfileService"></user-profile-service>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "ui-loan-officer-search",

            properties: {
                loanOfficerArray: {type: Array, value: []},
                loanOfficerName: String,
                username: String
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                if (this.configuration.services.security == undefined) {
                    throw new Error("service not found");
                }
                var self = this;

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                if (self.question.answer && self.question.answer.indexOf('{') > -1) {
                    var _answer = JSON.parse(self.question.answer);
                    if (_answer.loanOfficerName)
                        self.set('loanOfficerName', _answer.loanOfficerName)
                    if (_answer.username)
                        self.set('username', _answer.username)
                }
                self.$.LoanOfficerAutocomplete.querySelector('#input').addEventListener('blur', self.hideAutoComplete.bind(self), true);

            },
            hideAutoComplete: function (e) {
                $(this.querySelector(".loanOfficerAutocompleteUl")).hide();
                if (e.relatedTarget && e.relatedTarget.attrLoanOfficer) {
                    this.set("loanOfficerName", e.relatedTarget.attrLoanOfficer);
                    this.set("username", e.relatedTarget.attrUsername);
                    this.saveLoanOfficer();
                }
            },
            detached: function () {
                var self = this;
                self.$.LoanOfficerAutocomplete.querySelector('#input').removeEventListener('blur', self.hideAutoComplete);
            },
            init: function () {
                var self = this;
                //get the loan officers informtion

                self.ensure('userProfileService').then(function (userProfileService) {
                    userProfileService.getLoanOfficersForAutoSuggestion().then(function (response) {
                        // Based on the response, get the loan officer's profile information to get the display name
                        _.forEach(response, function (loanOfficerProfile) {
                            var obj;
                            if(loanOfficerProfile.branchName){
                                obj = {
                                    displayName : loanOfficerProfile.firstName + " " + loanOfficerProfile.lastName + " - " + loanOfficerProfile.branchName,
                                    name: loanOfficerProfile.firstName + " " + loanOfficerProfile.lastName,
                                    username: loanOfficerProfile.username
                                }
                            }
                            else{
                                obj = {
                                    displayName : loanOfficerProfile.firstName + " " + loanOfficerProfile.lastName,
                                    name: loanOfficerProfile.firstName + " " + loanOfficerProfile.lastName,
                                    username: loanOfficerProfile.username
                                }
                            }
                            if (obj && loanOfficerProfile.firstName)
                                self.loanOfficerArray.push(obj);
                        }, function (error) {
                            //Re throw error
                            throw error;
                        });

                        self.set("loanOfficerAutocompleteItems", self.loanOfficerArray);
                        self.set("loanOfficerAutocompleteItemsFiltered", self.loanOfficerArray);
                    });
                });
            },

            getLoanOfficers: function () {
                var self = this;
                var role = "Loan Officer";
                var url = ["roles", role, "memberlist"].join("/")
                return new Promise(function (resolve, reject) {
                    self.$.$http.get(
                            url,
                            self.configuration.services.security,
                            function success(response) {
                                resolve(response);
                            },
                            function failure(error) {
                                reject(error)
                            });
                });
            },

            searchLoanOfficer: function (e) {
                var self = this;
                self.set("username", null); // will be set only if selected from list
                var searchKey = self.$.LoanOfficerAutocomplete.querySelector('#input').value.toLowerCase();
                if(searchKey){
                        self.loanOfficerAutocompleteItemsFiltered = _.filter(self.loanOfficerAutocompleteItems, function (item) {
                        return item.name.toLowerCase().includes(searchKey)
                    });
                }
                else
                    self.loanOfficerAutocompleteItemsFiltered = [];

                if (self.loanOfficerAutocompleteItemsFiltered !== null && self.loanOfficerAutocompleteItemsFiltered.length > 0) {
                    self.set("loanOfficerAutocompleteItemsFiltered", self.loanOfficerAutocompleteItemsFiltered);
                    $(self.querySelector(".loanOfficerAutocompleteUl")).show();
                }
                else
                    $(self.querySelector(".loanOfficerAutocompleteUl")).hide();
                self.setAutoCompleteMaxHeight();
            },

            handleLoanOfficerClick: function (e) {
                var self = this;
                setTimeout(function () {
                    e.preventDefault();
                    self.set("loanOfficerName", e.target.attrLoanOfficer);
                    self.set("username", e.target.attrUsername);
                    $(self.querySelector(".loanOfficerAutocompleteUl")).hide();
                    // Hence ui-container handel blur for Input so need to make this hack.
                    $(self.querySelector("#LoanOfficerAutocomplete input")).focus();
                    $(self.querySelector("#LoanOfficerAutocomplete input")).blur();

                    //Save Loan Officer Here
                    self.saveLoanOfficer();
                }, 1000);

            },

            saveLoanOfficer: function () {
                var self = this;

                var answer = JSON.stringify({
                    loanOfficerName: this.loanOfficerName ? this.loanOfficerName : "",
                    username: this.username ? this.username : ""
                });

                var payload = {
                    "Answer": answer
                };
                // event published to update the Json
                self.publish('update-question-ans', {
                    subSectionId: self.subSectionId,
                    questionSeqNo: self.questionSeqNo,
                    questionID: self.question.questionId,
                    answeredValue: payload.Answer,
                    refreshData: false
                });
                //Notify parent about component is valid
                this.fire('ui-container-validation', true);
                return payload;
            },

            setAutoCompleteMaxHeight: function () {
                var dynamicHeight = 40; // for a single record set height of 40px
                /* Need to show 5 records without scroll, set the height accordingly*/
                for (var len = 1; len <= this.loanOfficerAutocompleteItemsFiltered.length - 1 && len < 5; len++)
                    dynamicHeight += 26;
                this.$.loanOfficerSearchResult.style.height = dynamicHeight + "px";
                this.$.loanOfficerSearchResult.style.overflowY = "auto";
            }
        });
    </script>
</dom-module>