<dom-module id="ui-loan-amount-calc">
    <template>
        <div class="loan-calc-wrapper">
            <div class="col-md-12">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Purchase Price ($)"
                              default-value="[[ item.answer ]]"
                              is-required="[[question.required]]"
                              currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, purchasePrice) ]]">
                    <ui-input name="purchasePrice"
                              disabled="[[question.isReadOnly]]"
                              mask-format="money"
                              id="purchasePrice"
                              value="{{ purchasePrice }}">
                        <ui-validators>
                            <ui-valid-amount-field>Please enter Purchase Price.
                            </ui-valid-amount-field>
                            <ui-custom-validator name="downPaymentValidator">
                                Purchase Price cannot be lesser than Down Payment.
                            </ui-custom-validator>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </div>
            <!-- replace border-right with the image -->
            <div class="col-md-7">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Down Payment ($)"
                              default-value="[[ item.answer ]]"
                              is-required="[[question.required]]"
                              currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, downPayment) ]]">
                    <ui-input name="downPayment"
                              disabled="[[question.isReadOnly]]"
                              mask-format="money"
                              id="downPayment"
                              value="{{ downPayment }}">
                        <ui-validators>
                            <ui-valid-amount-field>Please enter Down Payment.
                            </ui-valid-amount-field>
                            <ui-custom-validator name="downPaymentValidator">
                                Down Payment cannot be greater than Purchase Price.
                            </ui-custom-validator>
                        </ui-validators>
                    </ui-input>
                </ui-container>
                <span class="vline"></span>
            </div>
            <div class="col-md-5">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="(%)"
                              default-value="[[ item.answer ]]"
                              is-required="[[question.required]]"
                              currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, loanPercentage) ]]">
                    <ui-input name="loanPercentage"
                              disabled="[[question.isReadOnly]]"
                              id="loanPercentage"
                              value="{{ loanPercentage }}">
                        <ui-validators>
                            <ui-is-percentage id="isPercentage">Not valid percentage.
                            </ui-is-percentage>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </div>

            <div class="col-md-12">
                <ui-container question="[[ question ]]"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Loan Amount ($)"
                              default-value="[[ item.answer ]]"
                              is-required="[[ question.required ]]"
                              currency-summary-required="[[ computeCurrencyRequired(isSummaryRequired, loanAmount) ]]">
                    <ui-input name="loanAmount"
                              disabled="[[question.isReadOnly]]"
                              mask-format="money"
                              value="{{ loanAmount }}"
                              id="loanAmount">
                        <ui-validators>
                            <ui-valid-amount-field>Please enter Loan Amount.
                            </ui-valid-amount-field>
                            <ui-custom-validator name="loanAmountValidator">
                                Loan Amount cannot be greater than Purchase Price.
                            </ui-custom-validator>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-loan-amount-calc",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                self.attachValues();
            },

            init: function () {
                var self = this;
                $("#purchasePrice").on("input", function (e) {
                    if (e) {
                        self.updateCalc();
                    }
                });
                $("#downPayment").on("input", function (e) {
                    if (e) {
                        self.loanPercentageCalc();
                    }
                });
                $("#loanPercentage").on("input", function (e) {
                    if (e) {
                        self.downPaymentCalc();
                    }
                });
                $("#loanAmount").on("input", function (e) {
                    if (e) {
                        self.recalculateDownPayment();
                    }
                });
            },

            attachValues: function () {
                var self = this;
                if (self.question.answer && self.question.answer.indexOf('{') > -1) {
                    var _answer = JSON.parse(self.question.answer);

                    if (_answer.purchasePrice)
                        self.set('purchasePrice', _answer.purchasePrice);
                    if (_answer.downPayment)
                        self.set('downPayment', _answer.downPayment);
                    if (_answer.loanPercentage)
                        self.set('loanPercentage', _answer.loanPercentage);
                    if (_answer.loanAmount)
                        self.set('loanAmount', _answer.loanAmount);
                }
            },

            scrubMoneyData: function (value) {
                if (value) {
                    if (isNaN(value))
                        return value.replace(/([$, ])/g, "");
                    else
                        return value
                }
            },

            updateLoanInfo: function () {
                var self = this;
                var purchasePrice = this.scrubMoneyData(this.get("purchasePrice"));
                var downPayment = this.scrubMoneyData(this.get("downPayment"));
                var loanPercentage = this.get("loanPercentage");
                var loanAmount = this.scrubMoneyData(this.get("loanAmount"));

                var answer = JSON.stringify({
                    purchasePrice: purchasePrice,
                    downPayment: downPayment,
                    loanPercentage: loanPercentage,
                    loanAmount: loanAmount
                });

                var payload = {
                    "Answer": answer
                };
                // event published to update the Json
                self.publish('update-question-ans', {
                    subSectionId: self.subSectionId,
                    questionSeqNo: self.questionSeqNo,
                    questionID: self.question.questionId,
                    answeredValue: payload.Answer,
                    refreshData: false
                });
                $("ui-container", this).each(function () {
                    this.resetServerErrors()
                })
                $("ui-input", this).each(function () {

                    this.resetErrors()
                })
                // $(".ui-control-error").each(function(error){
                //     $(error).attr("hidden");
                // });
                //Notify parent about component is valid
                this.fire('ui-container-validation', true);
                return payload;
            },

            roundNumber: function (number, decimal_points) {
                if (number % 1 === 0) return number;
                if (!decimal_points) return Math.round(number);
                if (number == 0) {
                    var decimals = "";
                    for (var i = 0; i < decimal_points; i++) decimals += "0";
                    return "0." + decimals;
                }

                var exponent = Math.pow(10, decimal_points);
                var num = Math.round((number * exponent)).toString();
                var integerPart = num.slice(0, -1 * decimal_points);
                var fractionalPart = num.slice(-1 * decimal_points);
                if (integerPart === "") {
                    integerPart = 0;
                }
                return integerPart + "." + fractionalPart;
            },

            downPaymentCalc: function () {
                var self = this;
                var purchasePrice = self.scrubMoneyData(self.get("purchasePrice"));
                if (purchasePrice > 0) {
                    var loanPercentage = self.get("loanPercentage") || 0;
                    if (self.$.isPercentage.isPercentage(loanPercentage)) {
                        if (loanPercentage === 0) {
                            self.set("downPayment", 0);
                            self.set("loanAmount", purchasePrice);
                        }
                        else {
                            var downPayment = Math.round((purchasePrice * loanPercentage) / 100);
                            self.set("downPayment", downPayment);
                            var loanAmount = Math.round(purchasePrice - downPayment);
                            self.set("loanAmount", loanAmount);
                        }
                        self.updateLoanInfo();
                    }
                }
            },

            loanPercentageCalc: function () {
                var self = this;
                var purchasePrice = self.scrubMoneyData(self.get("purchasePrice"));
                if (purchasePrice > 0) {
                    var downPayment = self.scrubMoneyData(self.get("downPayment"));
                    var loanPercentage = self.get("loanPercentage");
                    if (self.downPaymentValidator()) {
                        if (downPayment === 0) {
                            self.set("loanPercentage", 0);
                            self.set("loanAmount", purchasePrice);
                        }
                        else {
                            var loanPercentage = self.roundNumber(((downPayment / purchasePrice) * 100), 2);
                            self.set("loanPercentage", loanPercentage);
                            var loanAmount = purchasePrice - downPayment;
                            self.set("loanAmount", loanAmount);
                        }

                        self.updateLoanInfo();
                    }
                }
            },

            updateCalc: function () {
                var self = this;
                var purchasePrice = self.scrubMoneyData(self.get("purchasePrice"));
                var downPayment = self.scrubMoneyData(self.get("downPayment"));
                if (purchasePrice > 0 && downPayment != 0) {
                    //                    if (downPayment > 0) {
                    //                        self.loanPercentageCalc();
                    //                    }
                    //                    else if (loanPercentage > 0) {
                    //                        self.downPaymentCalc();
                    //                    }
                    self.loanPercentageCalc();
                }
            },

            downPaymentValidator: function (value) {
                var purchasePrice = Number(this.scrubMoneyData(this.get("purchasePrice")));
                var downPayment = Number(this.scrubMoneyData(this.get("downPayment")));
                if (purchasePrice >= downPayment) {
                    return true;
                }
                return false;
            },

            recalculateDownPayment: function () {
                var self = this;
                var purchasePrice = self.scrubMoneyData(self.get("purchasePrice"));
                if (purchasePrice > 0) {
                    var loanAmount = self.scrubMoneyData(self.get("loanAmount"));
                    var downPayment = self.scrubMoneyData(self.get("downPayment"));
                    if (self.loanAmountValidator()) {
                        downPayment = purchasePrice - loanAmount;
                        self.set("downPayment", downPayment);
                        var loanPercentage = self.roundNumber(((downPayment / purchasePrice) * 100), 2);
                        self.set("loanPercentage", loanPercentage);
                        self.updateLoanInfo();
                    }
                }
            },

            loanAmountValidator: function (value) {
                var purchasePrice = Number(this.scrubMoneyData(this.get("purchasePrice")));
                var loanAmount = Number(this.scrubMoneyData(this.get("loanAmount")));
                if (purchasePrice >= loanAmount) {
                    return true;
                }
                return false;
            },

            computeCurrencyRequired: function (isSummaryRequired, answer) {
                var value = this.scrubMoneyData(answer);
                return (isSummaryRequired && (value == 0 || !value));
            }
        });
    </script>
</dom-module>