<dom-module id="ui-money-month">
    <template>
        <div class="alimonyClm1">
            <ui-container question="[[ question ]]"
                          section-id="[[ sectionId ]]"
                          sub-section-name="[[ subSectionName ]]"
                          sub-section-id="[[ subSectionId ]]"
                          temporary-application-number="[[ temporaryApplicationNumber ]]"
                          question-seq-no="[[ questionSeqNo ]]"
                          floating-label="($) Per Month"
                          default-value="[[ item.answer ]]"
                          is-required="[[question.required]]"
                          currency-summary-required="[[ isCurrencyRequired ]]">
                <ui-input name="alimonyAmount"
                          disabled="[[question.isReadOnly]]"
                          mask-format="money"
                          id="alimonyAmount"
                          value="{{ alimonyAmount }}">
                    <template is="dom-if" if="{{ item.required }}" restamp>
                        <ui-validators>
                            <ui-require-field>Please enter Amount.</ui-require-field>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </div>
        <div class="alimonyClm2">
            <ui-container question="[[ question ]]"
                          section-id="[[ sectionId ]]"
                          sub-section-name="[[ subSectionName ]]"
                          sub-section-id="[[ subSectionId ]]"
                          temporary-application-number="[[ temporaryApplicationNumber ]]"
                          question-seq-no="[[ questionSeqNo ]]"
                          floating-label="Start Date (MM/YYYY)"
                          default-value="[[item.answer]]"
                          is-required="[[question.required]]"
                          is-summary-required="[[ isMonthRequired ]]">
                <ui-input mask-format="99/9999"
                          disabled="[[question.isReadOnly]]"
                          name="startDate"
                          value="{{ startDate }}">
                    <template is="dom-if" if="{{ question.required }}" restamp>
                        <ui-validators>
                            <ui-require-field>Please enter Month Year.</ui-require-field>
                            <ui-is-valid-month-year></ui-is-valid-month-year>
                        </ui-validators>
                    </template>

                    <template is="dom-if" if="{{ !question.required }}" restamp>
                        <ui-validators>
                            <ui-is-valid-month-year></ui-is-valid-month-year>
                        </ui-validators>
                    </template>
                </ui-input>
            </ui-container>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-money-month",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            properties: {
                isCurrencyRequired: {
                    value: false,
                    type: Boolean,
                    computed: 'computeCurrencyRequired(isSummaryRequired, alimonyAmount, startDate)'
                },
                isMonthRequired: {
                    value: false,
                    type: Boolean,
                    computed: 'computeMonthRequired(isSummaryRequired, startDate, alimonyAmount)'
                }
            },

            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                self.attachValues();
            },

            init: function () {
                var self = this;
                $(self.$.alimonyAmount).on("input", function (e) {
                    if (e) {
                        self.updateDate();
                    }
                });
            },

            attachValues: function () {
                var self = this;
                if (self.question.answer && self.question.answer.indexOf('{') > -1) {
                    var _answer = JSON.parse(self.question.answer);

                    if (_answer.alimonyAmount) {
                        self.set('alimonyAmount', _answer.alimonyAmount);
                        self.set('prevAlimonyAmount', Number(_answer.alimonyAmount));
                    }
                    if (_answer.startDate)
                        self.set('startDate', _answer.startDate);
                }
            },

            updateDate: function () {
                var alimonyAmount = Number(this.scrubMoneyData(this.alimonyAmount));
                if (this.prevAlimonyAmount && alimonyAmount != this.prevAlimonyAmount && alimonyAmount === 0) {
                    this.set('startDate', '');
                }
                this.set('prevAlimonyAmount', alimonyAmount);
            },

            computeCurrencyRequired: function (isSummaryRequired, alimonyAmount, startDate) {
                var value = this.scrubMoneyData(alimonyAmount);
                return (isSummaryRequired && (value == 0 || !value) && startDate != "");
            },

            computeMonthRequired: function (isSummaryRequired, startDate, alimonyAmount) {
                var alimonyValue = this.scrubMoneyData(alimonyAmount);
                return (isSummaryRequired && !startDate && (alimonyValue != 0));
            },

            scrubMoneyData: function (value) {
                if (value) {
                    if (isNaN(value))
                        return value.replace(/([$, ])/g, "");
                    else
                        return value
                }
            },

            updateMoneyMonth: function () {
                var self = this;
                var alimonyAmount = this.scrubMoneyData(this.get("alimonyAmount"));
                var startDate = this.scrubMoneyData(this.get("startDate"));

                var answer = JSON.stringify({
                    alimonyAmount: alimonyAmount ? alimonyAmount : "",
                    startDate: startDate ? startDate : ""
                });

                var payload = {
                    "Answer": answer
                };
                // event published to update the Json
                self.publish('update-question-ans', {
                    subSectionId: self.subSectionId,
                    questionSeqNo: self.questionSeqNo,
                    questionID: self.question.questionId,
                    answeredValue: payload.Answer,
                    refreshData: false
                });
                this.fire('ui-container-validation', true);
                return payload;
            }
        });
    </script>
</dom-module>