<script src="../../script/materialize.min.js"></script>
<dom-module id="ui-options">
    <template>
        <style>
            .dropdown.form-control{
                background: var(--form-control-background-color);
            }
             :host::content input.select-dropdown.active {
                text-indent: -9999999em;
            }

             :host::content select[value=''] {
                color: transparent;
            }

             
             :host::content ul:not(.browser-default) {
                padding-left: 0;
                list-style-type: none;
            }

             :host::content ul:not(.browser-default) li {
                list-style-type: none;
            }
            select.browser-default {
                display: block;
            }

            select {
				display: none !important;
            }

             :host::content .select-label {
                position: absolute;
            }
            /* Note: to solve z-index issue due to same control multiple time on same page
               z-index from here is removed. Removed value "z-index: 4 !important;"
            */

             :host::content .select-wrapper {
                position: relative !important;
                z-index: inherit !important;
				min-height:23px;
            }

             :host::content .select-wrapper input.select-dropdown {
                position: relative;
                cursor: pointer;
                background: transparent;
                border: none;
                outline: none;
                height: 23px;
                width: 100%;
                font-size: 16px;
                padding: 0;
                display: block;
            }
             :host::content .select-wrapper span.caret.disabled {
                color: rgba(0, 0, 0, 0.26);
            }

             :host::content .select-wrapper+label {
                position: absolute;
                top: -14px;
                font-size: 0.8rem;
            }

            select:disabled {
                color: rgba(0, 0, 0, 0.3);
            }

             :host::content .select-wrapper input.select-dropdown:disabled {
                color: rgba(0, 0, 0, 0.3);
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

             :host::content .select-wrapper i {
                color: rgba(0, 0, 0, 0.3);
            }

             :host::content .select-dropdown li.disabled,
             :host::content .select-dropdown li.disabled>span,
             :host::content .select-dropdown li.optgroup {
                background: transparent;
            }

             :host::content .select-dropdown li.disabled span {
                border-bottom: 1px solid #9c9e9f;
                margin:0 12px;
                padding: 0;
				padding-top:10px;
				height:36px
            }

             :host::content .prefix~.select-wrapper {
                margin-left: 3rem;
                width: 92%;
                width: calc(100% - 3rem);
            }

             :host::content .prefix~label {
                margin-left: 3rem;
            }

             :host::content .select-dropdown li img {
                height: 40px;
                width: 40px;
                margin: 5px 15px;
                float: right;
            }

             :host::content .select-dropdown li.optgroup {
                border-top: 1px solid #eee;
            }

             :host::content .select-dropdown li.optgroup.selected>span {
                color: rgba(0, 0, 0, 0.7);
            }

             :host::content .select-dropdown li.optgroup>span {
                color: rgba(0, 0, 0, 0.4);
            }

             :host::content .select-dropdown li.optgroup~li.optgroup-option {
                padding-left: 1rem;
            }
        </style>
        <div class="form-group clearfix">
            <select id="input" class="dropdown form-control" disabled$="[[ disabled ]]">
                <!--<option value="" hidden disabled selected>[[ buttonText ]]</option>-->
                <!--<template is="dom-repeat"
                        items="[[ dropdownItems ]]"
                        as="item">
                    <option value="[[ item.value ]]">[[ item.label ]]</option>
                </template>-->
            </select>
        </div>
        <div hidden>
            <content></content>
        </div>
        <!--<div class$="[[ formGroupClassName ]]">
            <label for="input"
                class="control-label"
                disabled$="[[ disabled ]]"
                hidden$="[[ shouldHideLabel(label, dropdownItems) ]]">
                [[ label ]]
            </label>
            <br hidden$="[[ shouldHideLabel(label, dropdownItems) ]]">
            <template is="dom-if"
                if="[[ dropdownItems.length ]]">
                <select id="input"
                    class="dropdown form-control"
                    disabled$="[[ disabled ]]">
                    <option value="" hidden disabled selected>[[ buttonText ]]</option>
                    <template is="dom-repeat"
                        items="[[ dropdownItems ]]"
                        as="item">
                        <option value="[[ item.value ]]">[[ item.label ]]</option>
                    </template>
                </select>
            </template>
            <div hidden>
                <content></content>
            </div>
        </div>-->
    </template>
    <script>
        Polymer({
            properties: {
                buttonText: {
                    type: String,
                    value: "Please Select"
                },
                marginBottom: {
                    type: String,
                    value: ""
                },
                /**
                 * Flag to disable dropdown menu
                 */
                disabled: {
                    type: Boolean,
                    value: false
                },

                /**
                 * Errors output by validator children
                 */
                errors: {
                    value: function () {
                        return [];
                    },
                    type: Array
                },

                /**
                 * CSS class for error styling
                 */
                errorStyle: {
                    value: "form-group has-error",
                    type: String
                },

                /**
                 * CSS class for surrounding div
                 */
                formGroupClassName: {
                    value: "form-group",
                    type: String
                },

                /**
                 * Items shown in the dropdown menu
                 */
                items: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },

                /**
                 * Array of options to be used within the select, computed from items
                 */
                dropdownItems: {
                    type: Array,
                    value: function () { return [] },
                    computed: "computeDropdownItems(items)",
                    observer: "updateOptions"
                },

                /**
                 * Input label
                 */
                label: {
                    value: "",
                    type: String
                },

                /**
                 * Name used to identify this input
                 */
                name: String,

                /**
                 * Placeholder attribute used in input.
                 */
                placeholder: String,

                /**
                 * CSS class for valid and default styling
                 */
                validStyle: {
                    value: "form-group",
                    type: String
                },

                /**
                 * Input value, synced on input events.
                 */
                value: {
                    type: String,
                    notify: true,
                    observer: "onValueChange"
                },

                /* Specifies the icon to be used in the dropdown*/
                icon: {
                    type: String,
                    value: 'caret' // by default the dropdown will have a caret icon
                }
            },

            behaviors: [eventHub, alloy.uiInputBehavior],

            attached: function () {
                this.publish(this.id + ".attached");
                this.initSelectBox();
            },



            /**
             * Extract label from dom-repeat item with fallback to item.value and item
             * @method getItemLabel
             * @param item
             * @returns {string}
             */
            getItemLabel: function (item) {
                return item.label || item.value || typeof item === "string" && item || "";
            },

            /**
             * Extract label from dom-repeat item with fallback to item.label and item
             * @method getItemValue
             * @param item
             * @returns {string}
             */
            getItemValue: function (item) {
                return item.value || item.label || typeof item === "string" && item || "";
            },

            /**
             * Handler for when value prop changes
             * Sets dropdown's selected item to the one that is set to the value prop
             * Used for when the value is selected indirectly (not via the dropdown itself)
             * @method onValueChange
             */
            onValueChange: function (value) {
                var $dropdown = $("#input", this).first();

                this.async(function () {
                    this.fire("change", { value: value })
                    $dropdown.val(value);
                });
            },

            /**
             * Items to be displayed as options in dropdown; derived from items property.
             * @param {Array<T>} items
             * @returns {Array<{value: String, label: String}>}
             */
            computeDropdownItems: function (items) {
                if(items) {
                    return items.map(function (item) {
                        return {
                            value: item.value || item.label || item,
                            label: item.label || item.value || item
                        }
                    })
                }
            },

            /**
             * Hides labels based on values of label or dropdownItems properties
             * @param {String} label
             * @param {Array} dropdownItems
             * @returns {Boolean}
             */
            shouldHideLabel: function (label, dropdownItems) {
                return !label.length || !dropdownItems.length;
            },

            /**
             * This function will recursively check with interval of 50ms for 1 second that library is loaded
             */
            initSelectBox: function (attempt) {
                var self = this;
                //Wait for 50ms
                this.async(function () {
                    //Track attempt
                    var _attempt = attempt || 0;
                    //Attempt must be less then or equaled to decided thresold
                    if (_attempt <= 20) {
                        //Check if library is loaded or not
                        if ($() != undefined && $().material_select != undefined) {
                            //Initialize select combobox
                            $(this.querySelector('select')).material_select(self.icon, function (value) {

                                //self.onValueChange('Zaid');
                                self.set('value', value);
                                self.fire("input", { value: value });
                            });
                        }
                    }
                }, 50);
            },
            setStyle: function (marginTop, marginBottom) {
                var styles = [];

                if (marginTop) {
                    styles.push("margin-top: " + marginTop);
                }
                if (marginBottom) {
                    styles.push("margin-bottom: " + marginBottom);
                }
                return styles.join(";")
            },

            /**
             * https://github.com/Polymer/polymer/issues/1735
             * IE can not render options through dom-repeat inside select
             * This function will add options through appendChild
             */
            updateOptions: function (options) {
                //Initialize dummay select
                var _select = document.createElement("select");
                if(this.buttonText){
                 _select.innerHTML = '<option value="" hidden disabled selected>' + this.buttonText + '</option>';
               }

               if(options != null && options != undefined){
                    //Add options to dummy select
                    for (var i = 0; i < options.length; i++) {
                        var row = options[i];
                        var opt = document.createElement("option");
                        opt.innerHTML = row.label;
                        opt.value = row.value;

                        _select.appendChild(opt);
                    }
               }

                //Replace content of select with dummay select
                this.querySelector('select#input').innerHTML = _select.innerHTML;
            }
        })
    </script>
</dom-module>
