<dom-module id="ui-radio-select-one">
    <template>
        <style>
            .radio input[type="radio"]+label span {
                -moz-border-radius: inherit;
                border-radius: inherit;
            }
        </style>

        <template is="dom-repeat"
                  items="[[displayItems]]" as="radioOptions">
            <div class="applicant-info clearfix">
                <div class="radio"
                     disabled="[[disabled]]">
                    <input value="{{ radioOptions.value }}"
                           id$="[[ changeId(subSectionId, id, radioOptions.seqNo, radioOptions.value) ]]"
                           on-click="setValue"
                           name$="[[ dynamicName(subSectionId, id) ]]"
                           type="radio"
                           disabled="[[disabled]]">
                    <label for$="{{ changeId(subSectionId, id, radioOptions.seqNo, radioOptions.value) }}"><span></span></label>
                </div>
                <div class="title">{{ radioOptions.value }}</div>
            </div>
        </template>
    </template>
    <script>
        Polymer({
            is: "ui-radio-select-one",

            properties: {
                displayItems: {
                    type: Array
                },
                disabled: Boolean,
                value: String,
                id:String
            },

            attached: function () {
                this.initToggleValues(this.selectedValue);
            },

            setValue: function (e) {
                this.set("value", e.target.value);
            },

            changeId: function (subSectionId, questionId, seqNo, value) {
                var newId = subSectionId + "-" + questionId + "-" + seqNo + "-" + value + "-" + "ui-radio-select-one";
                return newId;
            },

            initToggleValues: function (selectedValue) {
                var self = this;

                if (selectedValue) {
                    var displayItems = this.displayItems;
                    var answeredQuestion = _.filter(displayItems, function(o) { return o.answer === selectedValue; });
                    var selectedId = this.changeId(this.subSectionId, this.id, answeredQuestion[0].seqNo, answeredQuestion[0].value);
                    self.findToggleElement(selectedId).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked !== true) {
                            targetElement.setAttribute("checked", "checked");
                        }
                    });
                }/*
                 else {
                 // Setting the value to be blank
                 self.deSelectAll();
                 }*/

            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            dynamicName: function (subSectionId, id) {
                return subSectionId + "-" + id;
            }
        });
    </script>
</dom-module>