<html-import html-href="event/hub.html"></html-import>
<dom-module id="ui-radio">
    <template>
    <style>
            /*appearance is not working for IE. So, instead of having appearance made display: none*/
            .cc-selector input {
                margin: 0;
                padding: 0;
                display: none;
            }
            .main-class {
                margin-left: -2%;
				margin-right: -2%;
            }
            .df {
                font-size: 50px;
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
            .title {
                display: block;
                font-size:14px;
                padding: 5px 0;
            }
            @media only screen and (max-width:527px) {
                .main-class {
                    margin: 0 auto;
                    width: 182px
                }
            }            
        </style>
        <div class="cc-selector main-class">
            <template is="dom-repeat"
                      items="{{ radioGroup }}">
                <label class$="{{appendColorClass(item.icon)}}">
                    <input type="radio"
                           name="loan-purpose"
                           value="{{ item.answer }}"
                           id$="[[ item.answer ]]"
                           on-change="setValue" />
                    <label for$="[[ item.answer ]]">
                            <span class$="{{appendClass(item.icon)}}"></span>
                            <span class="title ui-radio-label">{{ item.answer }}</span>
                        </label>
                <content select='ui-label'></content>
                <div hidden>
                    <content></content>
                </div>
                </label>
            </template>
        </div>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "ui-radio",

            properties: {
                value: {
                    value: undefined,
                    type: String
                },

                label: String,

                containerClassName: {
                    value: "",
                    type: String
                }
            },

            behaviors: [window.alloy.uiInputBehavior, eventHub],

            observers: [
                "onValueChanged(value)",
            ],

            onValueChanged: function (value) {
                this.async(function () {
                    $("input[name=loan-purpose][value='" + value + "']").attr('checked', 'checked');
                }, 100);
            },

            setValue: function (e) {
                var self = this;
                this.set("value", e.target.value);
                var payload = {
                    "Answer": e.target.value
                };
                self.publish('update-loan-purpose', payload);
                return payload;
            },

            setFormGroupClassName: function (className) {
                this.set("containerClassName", className);
            },

            appendClass: function (className) {
                return "ui-radio-label-container df df-" + className.toLowerCase();
            },

            appendColorClass: function (className) {
                if (className.toLowerCase() === "purchase")
                    return "c1 nested-label";
                else if (className.toLowerCase() === "refinance")
                    return "c2 nested-label";
                else if (className.toLowerCase() === "quote")
                    return "c3 nested-label";
            }
        });
    </script>
</dom-module>