<script src="../../script/vanilla-masker.js"></script>
<dom-module id="ui-radio-tree-view">
    <template>
        <style>
            .error-field {
                border-bottom: 2px solid #ed5565 !important;
                box-shadow: inset 0 0px 0px, 0 0 0px !important;
            }
            .ui-control-error {
                display: none;
            }
            .main-title {
                margin-bottom: 15px;
            }
            .radio input[type="radio"]+label span {
                -moz-border-radius: inherit;
                border-radius: inherit;
            }
            
            .applicant-info {margin-bottom: 15px;}
            .applicant-info .radio {width:40px;margin-top:0;}
            .applicant-info .title {width:90%;}
            .applicant-info .prof {bottom: -20px;}
            .text-box {
                border: none;
                border-bottom: 1px solid #9c9e9f;
                width: 100%;
                padding: 1px 0px;
                color: #006699;
                border-radius: 0px !important;
                box-shadow: none;
                height: auto;
                font-size: 16px;
            }
            .radio-tree-view-wrapper ul.col-lg-12 {
                margin: 0;
                padding: 10px 0 0 45px;
            }
            @media only screen and (max-width: 600px) {
                .applicant-info .radio {width: 12%;}
                .applicant-info .title {width: 88%;}
            }
        </style>
        <div class="radio-tree-view-wrapper">
            <ul class="tree-view">
                <div class$="[[ wrapperClass ]]">[[ questionText ]]</div>

                <template is="dom-repeat"
                          items="[[ relationships ]]">
                    <li class="applicant-info clearfix">
                        <div class="radio">
                            <input type="radio"
                                   name="radioTreeView"
                                   value$="[[ item.value ]]"
                                   id$="[[ item.key ]]"
                            on-click="checkSiblings">
                            <label for$="[[ item.key ]]"><span></span></label>
                        </div>
                        <div class="title text-label">[[ item.label ]]</div>
                        <template is="dom-repeat"
                                  items="[[ item.childs ]]">
                            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <li class="custom-checkbox clearfix">
                                    <template is="dom-if"
                                              if="[[ checkType('textbox', item.type) ]]">
                                        <label class="text-label">[[ item.label ]]</label>
                                        <input type="text"
                                               name$="[[ item.key ]]"
                                               class="text-box"
                                               on-keyup="valueEntered">
                                    </template>
                                    <template is="dom-if"
                                              if="[[ checkType('monthYear', item.type) ]]">
                                        <label class="text-label">[[ item.label ]]</label>
                                        <input type="text"
                                               name$="[[ item.key ]]"
                                               id$="[[ item.key ]]"
                                               class="text-box"
                                               placeholder="MM/YYYY",
                                               autocomplete="off"
                                               on-keyup="valueEntered"
                                               validateMonthYear="true"
                                        on-blur="isValidMonthYear">
                                        <div class="clearfix ui-control-error">
                                            <span>[[ content ]]</span>
                                        </div>
                                    </template>
                                </li>
                            </ul>
                        </template>
                    </li>
                </template>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-radio-tree-view",
            properties: {
                //Passed from parent
                selectedValues: String,
                //value which will be shared with input behavior
                value: String,
                format: {
                    type: String,
                    value: 'MM/YYYY'
                },
                wrapperClass: {
                    type: String,
                    value: "main-title",
                    computed: "computeDefaultClass(isSummaryRequired, value)"
                }
            },
            behaviors: [eventHub, window.alloy.uiInputBehavior],
            attached: function () {
                this.set('questionText', this.question.questionText);
                //this.set('relationships', availableAns);
                this.set('relationships', this.question.availableAns);
                this.initValues(this.selectedValues);
            },
            /**
             * This function will be called when we recieved selectedValues from parent
             */
            initValues: function (selectedValues) {
                var self = this;

                if (selectedValues) {
                    selectedValues = JSON.parse(selectedValues);
                    Object.keys(selectedValues).forEach(function (key) {
                        self.setTargetElementValue(key, selectedValues);
                    });
                }
            },
            setTargetElementValue: function (key, selectedValues) {
                var self = this;
                self.findTargetElement(key).then(function (targetElement) {
                    if (targetElement.type === 'radio') {
                        if (selectedValues[key])
                            targetElement.checked = true;
                    } else {
                        targetElement.value = self.applyMasking(selectedValues[key], '99/9999');
                    }
                });
            },
            /**
             * On initialization of component dom-repeat may have not finished.
             * Thi)s method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findTargetElement: function (name, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('#' + name);
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findTargetElement(name, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },
            checkParent: function (node, checked) {
                if (checked) {
                    if (node.parentNode.tagName && node.parentNode.tagName.toLowerCase() === 'li') {
                        var parentNode = node.parentNode;
                        if (parentNode.firstElementChild.firstElementChild.type && parentNode.firstElementChild.firstElementChild.type === 'radio') {
                            parentNode.firstElementChild.firstElementChild.checked = checked;
                            this.checkSiblings();
                        }}}
            },
            checkSiblings: function () {
                var childContainers = this.querySelectorAll('ul');
                Array.prototype.forEach.call(childContainers, function (node) {
                    if (!node.classList.contains('tree-view') && node.parentNode.tagName && node.parentNode.tagName.toLowerCase() === 'li') {
                        var parentNode = node.parentNode;
                        if (parentNode.firstElementChild.firstElementChild.type
                                && parentNode.firstElementChild.firstElementChild.type === 'radio'
                                && !parentNode.firstElementChild.firstElementChild.checked) {
                            node.querySelector('input[type="text"]').value = '';
                        }
                    }
                });
                this.updatedValues();
            },
            checkType: function (fixValue, questionValue) {
                if (fixValue && questionValue && questionValue.toLowerCase() === fixValue.toLowerCase())
                    return true;
                else
                    return false;
            },
            valueEntered: function (e) {
                e.target.value = this.applyMasking(e.target.value, '99/9999');
                if (e.target.value.length > 0)
                    this.checkParent(e.target.parentNode.parentNode, true);
            },
            updatedValues: function () {
                // Create a new answer json
                var newValue = {};
                var selectedNodeValue = this.querySelector('input[name="radioTreeView"]:checked').value;
                var selectedNodeId = this.querySelector('input[name="radioTreeView"]:checked').id;
                newValue[selectedNodeId] = selectedNodeValue;
                var selectedValueRelationship = _.filter(this.relationships, function(o) { return o.key === selectedNodeId; });

                if (selectedValueRelationship[0].childs)
                    newValue[selectedValueRelationship[0].childs[0].key] = this.scrubData(this.querySelector('input[name="' + selectedValueRelationship[0].childs[0].key + '"]').value);

                var payload = JSON.stringify(newValue);
                this.set('value', payload);
            },
            applyMasking: function (value, maskType) {
                if (maskType) {
                    var _maskOptions = { pattern: maskType };
                    var _maskFunctions = "toPattern";
                    value = VMasker[_maskFunctions](value, _maskOptions);
                }
                return value;
            },
            scrubData: function (value) {
                if (value)
                    return value.replace(/([/])/g, "");
            },
            isValid: function(){
                var self=this;
                var validators=self.querySelectorAll('[validateMonthYear="true"]');
                var results=[]
                validators.forEach(function (_uiInput) {
                    results.push(self.isValidMonthYear({target:_uiInput}));
                });
                if (results.indexOf(false) == -1) {
                    return Promise.resolve(true);
                }
                else{
                    return Promise.resolve(false);
                }
            },
            isValidMonthYear: function (e) {
                var value = e.target.value;
                if (value) {
                    //If date is not complete
                    if (value.indexOf('/') < 0 || value.length < 7) {
                        if (!e.target.classList.contains('error-field')) {
                            e.target.classList.add("error-field");
                            e.target.nextElementSibling.style.display = "block";
                        }
                        this.content = "Invalid Input.";
                        return false;
                    }
                    //Check date
                    var _enteredDate = moment({ month: value.split("/")[0], year: value.split("/")[1] });
                    var _differenceInMonths = moment().diff(_enteredDate, 'month');
                    if (!(moment(value, this.format).isValid())) {// validate with moment.js
                        if (!e.target.classList.contains('error-field')) {
                            e.target.classList.add("error-field");
                            e.target.nextElementSibling.style.display = "block";
                        }
                        this.content = "Invalid Input.";
                        return false;
                    }
                    if (_differenceInMonths >= 0 && !Object.is(_differenceInMonths, -0)) { //check for past dates
                        this.content = "Please enter date same or greater than today's date";
                        if (!e.target.classList.contains('error-field')) {
                            e.target.classList.add("error-field");
                            e.target.nextElementSibling.style.display = "block";
                        }
                        return false;
                    }
                }
                if (e.target.classList.contains('error-field')) {
                    e.target.classList.remove("error-field");
                    e.target.nextElementSibling.style.display = "none";
                }
                return true;
            },

            computeDefaultClass: function (isSummaryRequired, value) {
                var classList = ["main-title"];
                if (isSummaryRequired && !value)
                    classList.push("required-control");

                return classList.join(" ");
            }
        });
    </script>
</dom-module>