<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="ui-single-choice">
    <template>
        <style>
            .radio input[type="radio"] + label span {
                -moz-border-radius: inherit;
                border-radius: inherit;
            }
			.applicant-info{margin:0 0 30px 0;}
			.applicant-info:nth-child(1){margin-top:20px}
            .applicant-info .radio {
                width: 40px;
                margin-top:4px;
            }
            .applicant-info .title {
                width: 90%;
                position: relative;
            }
            @media only screen and (max-width: 600px) {
                .applicant-info .radio {
                    width: 12%;
                }
                .applicant-info .title {
                    width: 88%;
                }
            }
        </style>
        <template is="dom-repeat" items="[[displayItems]]" as="radioOptions">
            <div class="applicant-info clearfix">
                     <div class="radio"
                        disabled="[[disabled]]">
                        <input value="{{ radioOptions.value }}"
                            id$="[[ changeId(subSectionId, id, radioOptions.seqNo, radioOptions.value) ]]"
                            on-click="setValue"
                            name$="[[ dynamicName(subSectionId, id) ]]"
                            type="radio"
                            disabled="[[disabled]]">
                        <label for$="{{ changeId(subSectionId, id, radioOptions.seqNo, radioOptions.value) }}"><span></span></label>
                    </div>
                    <div class="title" id$="[[ getDynamicId(subSectionId, id, radioOptions.seqNo) ]]"
                        data-selected-answer="[[radioOptions.value]]">[[ displayInnerHtml(subSectionId, id, radioOptions.seqNo,radioOptions.label,radioOptions.value) ]]</div>
                </div>
        </template>
        <ui-confirm id="confirmLoanTypeChange"
                     confirm-title="Changing your application type from joint to individual credit will remove all the information related to your co-borrower(s). Do you want to continue?">
         </ui-confirm>
         <questionnaire-service id="questionnaire"></questionnaire-service>
     </template>
    <script>
        Polymer({
            is: "ui-single-choice",
            listeners: {
                "confirm": "handleLoanTypeChange"
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            properties: {
                displayItems: {
                    type: Array
                },
                disabled: Boolean,
                value: String,
                id: String,
                subscriptionList: {
                    type: Array,
                    value: []
                },
                currentSelected: Object,
                previousSelected: String,
                updateLoanType: {
                    type: Boolean,
                    value: false
                }
            },
            attached: function () {
                this.set("previousSelected", this.selectedValue);
                this.initToggleValues(this.selectedValue);
                this.subscriptionList.push(this.subscribe('change-selection', this.changeSelection.bind(this)));
            },
            detached: function () {
                //UnSubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },
            getDynamicId: function (subSectionId, questionId, seqNo) {
                var newId = subSectionId + "-" + questionId + "-" + seqNo + "-" + "ui-single-choice";
                return newId;
            },
            displayInnerHtml: function (subSectionId, questionId, seqNo, label, answerValue) {
                var self = this;
                var divId = self.getDynamicId(subSectionId, questionId, seqNo);

                this.async(function () {
                    var el = self.querySelector('#' + divId);
                    if(el){
                        el.innerHTML = label;
                        self.setClass(el, self.selectedValue);
                    }
                }, 57);

            },
            setValue: function (e) {
                 var self = this;
                 var currentValue = e.target.value;
                 if(self.previousSelected !== currentValue){
                    var jointCreditTemplate =  _.find(self.question.dynamicTemplate, function (dynamicTemplateConfig) {
                         return (dynamicTemplateConfig.triggerAnswer);
                    });
                
                    var valSpouseAdded = self.placeHolders["<#spouseAdded#>"];
                    var valcoBorrowerAdded = self.placeHolders["<#coBorrowerAdded#>"];
                    
                    if(!self.updateLoanType && jointCreditTemplate && ((typeof self.previousSelected !== 'object' && jointCreditTemplate.triggerAnswer.toLowerCase() === self.previousSelected.toString().toLowerCase()) || (typeof self.previousSelected === 'object' && self.previousSelected.indexOf(jointCreditTemplate.triggerAnswer) > -1 && (!currentValue || currentValue.indexOf(jointCreditTemplate.triggerAnswer) === -1)))
                      && ((valSpouseAdded && valSpouseAdded.toString().toLowerCase() === "true") || (valcoBorrowerAdded && valcoBorrowerAdded.toString().toLowerCase() === "true"))){
                        self.set('currentSelected', e.target);
                        e.preventDefault();
                        e.stopPropagation();
                        this.$.confirmLoanTypeChange.open();
                        return false;
                    }
                    else {
                        var selectedValue = e.target.value;
                        self.querySelectorAll('.title').forEach(function (_uiDivContainer) {
                            self.setClass(_uiDivContainer, selectedValue);
                        });
                        this.set("value", selectedValue);
                        if(self.updateLoanType){
                            self.set('updateLoanType', false);
                            self.removeSpouseAndCoBorrowers();
                        }
                        else {
                            if(jointCreditTemplate && ((typeof self.previousSelected !== 'object' && jointCreditTemplate.triggerAnswer.toLowerCase() === self.previousSelected.toString().toLowerCase()) || (typeof self.previousSelected === 'object' && self.previousSelected.indexOf(jointCreditTemplate.triggerAnswer) > -1 && (!currentValue || currentValue.indexOf(jointCreditTemplate.triggerAnswer) === -1)))){
                                self.removeSpouseAndCoBorrowersAll();
                            }
                            self.saveLoanType();
                        }
                    }
                 }
            },
            saveLoanType: function(){
                var self = this;
                var payload = {
                   "Answer": self.value
                 };
                        //Update value to local JSON object.
                        self.publish('update-question-ans', {
                            subSectionId: self.subSectionId,
                            questionSeqNo: self.questionSeqNo,
                            questionID: self.question.questionId,
                            answeredValue: payload.Answer,
                            previousValue: self.previousSelected
                        });
                        self.set("previousSelected", self.value);

                        return self.ensure("questionnaire").then(function (service) {
                                return service.updateQuestionAns(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, self.questionSeqNo, self.question.questionId, payload, self.question.questionText);
                            });
            },
            removeSpouseAndCoBorrowers : function(){
                var self = this;
                // When changing selection from Joint to Individual credit, set coBorrowerAdded & spouseAdded as false as this function will remove all co-borrowers and spouse from the application.
                self.publish('update-place-holders', {placeHolderName: "<#coBorrowerAdded#>", placeHolderValue: "false"})
                self.publish('update-place-holders', {placeHolderName: "<#spouseAdded#>", placeHolderValue: "false"})

                self.ensure("questionnaire").then(function (service) {
                                service.removeSpouseAndCoBorrowers(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, 'All')
                                .then(function (response) {
                                    self.saveLoanType().then(function (result) {
                                        self.fire('ui-container-validation', false);
                                        self.publish("loaderInvite:hide");                                   
                                    })
                                    })
                                }).catch(function (error) {
                                    self.publish("loaderInvite:hide");                                
                                    throw error;
                                });
            },
            removeSpouseAndCoBorrowersAll : function(){
                var self = this;
                // When changing selection from Joint to Individual credit, set coBorrowerAdded & spouseAdded as false as this function will remove all co-borrowers and spouse from the application.
                self.publish('update-place-holders', {placeHolderName: "<#coBorrowerAdded#>", placeHolderValue: "false"})
                self.publish('update-place-holders', {placeHolderName: "<#spouseAdded#>", placeHolderValue: "false"})
                self.publish('update-place-holders', {placeHolderName: "<#borrowerAddAsNewCoBorrower#>", placeHolderValue: ""})
                self.publish('update-place-holders', {placeHolderName: "<#persistCoBorrowerAnswer#>", placeHolderValue: ""})

                self.ensure("questionnaire").then(function (service) {
                                service.removeSpouseAndCoBorrowers(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, 'All')
                                }).catch(function (error) {
                                    throw error;
                                });
            },
            setClass:function(_uiDivContainer,selectedValue){
               if(selectedValue){
                    if(selectedValue.toLowerCase()!== _uiDivContainer.dataSelectedAnswer.toLowerCase())
                            $(_uiDivContainer).addClass("greyed-out");
                            else
                            $(_uiDivContainer).removeClass("greyed-out");
               }
               
            },
            changeId: function (subSectionId, questionId, seqNo, value) {
                var newId = subSectionId + "-" + questionId + "-" + seqNo + "-" + value + "-" + "ui-single-choice";
                return newId;
            },

            initToggleValues: function (selectedValue) {
                var self = this;
                if (selectedValue) {
                    var displayItems = this.displayItems;
                    var answeredQuestion = _.filter(displayItems, function (o) {
                        return o.answer === selectedValue;
                    });
                    var selectedId = this.changeId(this.subSectionId, this.id, answeredQuestion[0].seqNo, answeredQuestion[0].value);
                    self.findToggleElement(selectedId).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked !== true) {
                            targetElement.setAttribute("checked", "checked");
                        }
                    });
                }
            },
            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },
            dynamicName: function (subSectionId, id) {
                return subSectionId + "-" + id;
            },
            changeSelection: function (payload) {
                var self = this;
                if (payload.subSectionId) {
                    var SelectedValue = this.get('value');
                    self.querySelectorAll('input').forEach(function (_uiInputContainer) {
                        if (_uiInputContainer.value !== SelectedValue) {
                            _uiInputContainer.click();
                        }
                    });
                }
            },
            handleLoanTypeChange: function(){
                var self = this;
                self.publish("loaderInvite:show","Hold on just a few more seconds.");                                  
                self.set('updateLoanType', true);
                // <#borrowerAddAsNewCoBorrower#> is used for question 'Do you want to add another co-borrower?', set it to blank when switching from Joint to Individual Credit
                self.publish('update-place-holders', {placeHolderName: "<#borrowerAddAsNewCoBorrower#>", placeHolderValue: ""})
                self.publish('update-place-holders', {placeHolderName: "<#persistCoBorrowerAnswer#>", placeHolderValue: ""})
                var selectedValue = self.currentSelected.value;
                self.querySelectorAll('input').forEach(function (_uiInputContainer) {
                        if (_uiInputContainer.value === selectedValue) {
                            _uiInputContainer.click();
                        }
                    });
            }
        });
    </script>
</dom-module>