<dom-module id="ui-switch">
<template>
<style>
.switch-text {
	color: var(--switch-text-color);
}
</style>
<span class$="[[ wrapperClass ]]">{{ text }}</span>
<div class="yes-no form-group clearfix" style$="[[ setStyle(marginBottom)]]"><div class="btn-group" disabled="[[disabled]]" data-toggle="buttons"> <label class$="[[computeStyles(disabled)]]"><input type="checkbox" autocomplete="off" id="true" disabled="[[disabled]]">Yes</label></div><div class="btn-group" data-toggle="buttons" disabled="[[disabled]]"><label class$="[[computeStyles(disabled)]]"><input type="checkbox" autocomplete="off" id="false" disabled="[[disabled]]">No</label></div></div>
</template>
<script>
        Polymer({
            is: "ui-switch",

            properties: {
                text: String,

                //button that needs to be pre-selected on init
                selectedValue: String,

                //Holding value that is being updated by user action
                value: String,
                disabled: Boolean,
                defaultValue: String,
                wrapperClass: {
                    type: String,
                    value: "switch-text",
                    computed: "computeDefaultClass(isSummaryRequired, value)"
                }
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                'DefaultValueChanged(defaultValue,id)'
            ],

            DefaultValueChanged: function(value, id){
                var self=this;
                
                if(value === "" || value === null)
                    self.deSelectAll();

                // if(self.value == value.toString()){
                //     return;
                // }
                if (value != null && value != undefined && value !== "" && value.toString().indexOf('{') === -1) {
                    self.findToggleElement(value).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked != true || !($(targetElement).closest('.toggle-button').hasClass('active'))) {
                            self.deSelectOthers(targetElement.id);
                            $(targetElement).closest('.toggle-button').button('toggle');
                        }
                    })
                    .catch(function (error) {
                        if(error)
                         console.warn(error);
                     });
                }
                // else{
                    // self.deSelectAll();
                    /*self.findToggleElement("false").then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked == true) {
                            $(targetElement).closest('.toggle-button').button('toggle');
                        }
                    });*/
                // }
            },

            attached: function () {
                var self = this;

                self.publish(this.id + ".attached");

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                // this.initToggleValues(self.selectedValue);
            },

            init: function () {
                if (!this.disabled) {
                    //Code related to html/dom on initialization of component
                    $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
                }
            },

            /**
             *
             */
            initToggleValues: function (selectedValue) {
                var self = this;
                if (selectedValue != null && selectedValue != undefined) {
                    self.findToggleElement(selectedValue).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked != true) {
                            $(targetElement).closest('.toggle-button').button('toggle');
                        }
                    })
                    .catch(function (error) {
                          console.warn(error);
                        });
                }
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                if(id != null && id != undefined)
                    id = id.toString().toLowerCase();
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            /**
             * Event fired when user click on button
             */
            buttonClicked: function (e) {
                if(!this.disabled){
                    var self = this;
                    var currentValue = "";
                    //Respond to only checkbox.
                    var _targetElement = e.target.querySelector('input[type=checkbox]');
                    if (_targetElement != undefined) {
                        //Note: As we have registered click event on parent of checkbox the value is not still updated
                        //on checkbox. So, we have to take toggled value.
                        var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                        //Save Value
                        currentValue = _checked === true ? _targetElement.id : '';

                    } else if (e.target.type.toLowerCase() === 'checkbox') {
                        _targetElement = e.target;

                        var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                        //Save Value
                        currentValue = _checked === true ? _targetElement.id : '';
                    }

                    this.saveSelectedOption(currentValue);
                    this.deSelectOthers(_targetElement.id);

                    // if(currentValue){
                    //     self.findToggleElement(currentValue).then(function (targetElement) {
                    //         //If not already checked
                    //         if (targetElement.checked != true) {
                    //             $(targetElement).closest('.toggle-button').button('toggle');
                    //         }
                    // });
                    // }
                }
            },

            /**
             *
             */
            saveSelectedOption: function (valueToSave) {
                this.set('value', valueToSave);
            },

            /**
             * This function will toggle all inputs except one passed as argument
             */
            deSelectOthers: function (clickedInputId) {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].id !== clickedInputId && _toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                    }
                }
            },
            deSelectAll: function () {
                var self = this;
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                        self.set('value', "");
                    }
                }
            },
            computeStyles: function (disabled) {
                if (disabled)
                    return ["btn", "btn-primary", "toggle-button", "disabled"].join(" ");
                else
                    return ["btn", "btn-primary", "toggle-button"].join(" ");
            },
            setStyle: function (marginBottom) {
                var styles = [];
                if (marginBottom) {
                    styles.push("margin-bottom: " + marginBottom);
                }
                return styles.join(";")
            },

            computeDefaultClass: function (isSummaryRequired, value) {
                var classList = ["switch-text"];
                if (isSummaryRequired && !value)
                    classList.push("required-control");

                return classList.join(" ");
            }
        });
    </script>
</dom-module>
