<dom-module id="ui-start-end-date">
    <template>
        <div class="start-end-wrapper">
            <div class="clmn clmn1">
                <ui-container question="[[ question ]]" id="startDateContainer"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="Start Date (MM/YYYY)"
                              default-value="[[ item.answer ]]"
                              is-required="[[question.required]]"
                              help-text-body="Please provide two years history."
                              help-text-trigger="focus"
                              help-text-placement="[[ getHelpTextPlacement('focus') ]]"
                              help-text-selector-element='[[ getHelpTextSelectorElement("focus") ]]'
                              control-type ="[[question.questionType]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-input name="startDate"
                              disabled="[[question.isReadOnly]]"
                              id="startDate"
                              mask-format="[[ question.mask ]]"
                              margin-bottom="[[ question.marginBottom ]]"
                              value="{{ startDate }}">
                        <ui-validators>
                            <ui-is-valid-month-year></ui-is-valid-month-year>
                            <ui-is-month-greater id="startDateValidator" error-msg="Start date must be less than End date." reference-value="{{ endDate }}">
                            </ui-is-month-greater>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </div>

            <div class="clmn">
                <ui-container question="[[ question ]]"
                              id="endDateContainer"
                              section-id="[[ sectionId ]]"
                              sub-section-name="[[ subSectionName ]]"
                              sub-section-id="[[ subSectionId ]]"
                              temporary-application-number="[[ temporaryApplicationNumber ]]"
                              question-seq-no="[[ questionSeqNo ]]"
                              floating-label="End Date (MM/YYYY)"
                              default-value="[[ item.answer ]]"
                              is-required="[[question.required]]"
                              control-type ="[[question.questionType]]"
                              is-summary-required="[[ isSummaryRequired ]]">
                    <ui-input name="endDate"
                              disabled="[[question.isReadOnly]]"
                              id="endDate"
                              mask-format="[[ question.mask ]]"
                              value="{{ endDate }}">
                        <ui-validators>
                            <ui-is-valid-month-year></ui-is-valid-month-year>
                            <ui-is-month-greater id="endDateValidator" reference-value="{{ startDate }}" error-msg="End Date must be greater than Start date." start-date="false" end-date="true">
                            </ui-is-month-greater>
                        </ui-validators>
                    </ui-input>
                </ui-container>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-start-end-date",
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            properties: {
                format: {
                    type: String,
                    value: 'MM/YYYY'
                },
                startDate: {
                    type: String,
                    value: ''
                },
                endDate: {
                    type: String,
                    value: ''
                }
            },
            observers: [ 'questionAnswerUpdated(question, subSectionId)'],
            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                //this.attachValues();
            },
            questionAnswerUpdated: function (question, subSectionId) {
                if (question.answer && question.answer.indexOf('{') > -1) {
                    var _answer = JSON.parse(question.answer);

                    if (_answer.startDate)
                        this.set('startDate', _answer.startDate);
                    if (_answer.endDate)
                        this.set('endDate', _answer.endDate);
                }
                else {
                    this.set('startDate', "");
                    this.set('endDate', "");
                }
            },
            init: function () {
                var self = this;
                $("#endDate").on("input", function (e) {
                    if (e) {
                        self.$.startDateContainer.isValid();
                    }
                });
                $("#startDate").on("input", function (e) {
                    if (e) {
                        self.$.endDateContainer.isValid();
                    }
                });
            },
            attachValues: function () {
                var self = this;
                if (self.question.answer && self.question.answer.indexOf('{') > -1) {
                    var _answer = JSON.parse(self.question.answer);

                    if (_answer.startDate)
                        self.set('startDate', _answer.startDate);
                    if (_answer.endDate)
                        self.set('endDate', _answer.endDate);
                }
            },
            scrubData: function (value) {
                if (value) {
                    return value.replace(/([/])/g, "");
                }
            },
            updateStartEndDate: function () {
                var self = this;
                var startDate = this.scrubData(this.get("startDate"));
                var endDate = this.scrubData(this.get("endDate"));

                var answer = JSON.stringify({
                    startDate: startDate ? startDate : "",
                    endDate: endDate ? endDate : ""
                });

                var payload = {
                    "Answer": answer
                };
                // event published to update the Json
                self.publish('update-question-ans', {
                    subSectionId: self.subSectionId,
                    questionSeqNo: self.questionSeqNo,
                    questionID: self.question.questionId,
                    answeredValue: payload.Answer,
                    refreshData: false
                });
                //Notify parent about component is valid
                this.fire('ui-container-validation', true);
                return payload;
            },
            getHelpTextPlacement: function (helpTextTrigger) {
                if (helpTextTrigger) {
                    return "left";
                }
            },
            getHelpTextSelectorElement: function (helpTextTrigger) {
                if (helpTextTrigger) {
                    return "self";
                }
            }
        });
    </script>
</dom-module>