<dom-module id="ui-single-toggle">
    <template>
        <!-- Toggle button -->
        <template is="dom-repeat" items="[[ list ]]" as="item" sort="sortBySequenceNumber">
            <div class="btn-group" data-toggle="buttons" disabled="[[disabled]]" style$="[[ setStyle(toggleTop, toggleBottom)]]">
                <label class$="[[computeStyles(disabled)]]">
                    <input type="checkbox" autocomplete="off" id="[[ item.value ]]" disabled="[[disabled]]"> [[ item.label ]]
                </label>
            </div>
        </template>
    </template>

    <!-- script for component -->
    <script>
        Polymer({
            is: 'ui-single-toggle',

            properties: {
                //List of buttons to be displayed
                list: Array,
                eventName: String,
                //button that needs to be pre-selected on init
                selectedValue: String,

                //Holding value that is being updated by user action
                value: String,

                toggleTop: {
                    type: String,
                    value: ""
                },
                toggleBottom: {
                    type: String,
                    value: ""
                },
                disabled: Boolean
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                'initToggleValues(selectedValue)'
            ],

            attached: function () {
                var self = this;

                self.publish(this.id + ".attached");

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.initToggleValues(self.selectedValue);
            },

            init: function () {
                if (!this.disabled) {
                    $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
                }
            },

            setStyle: function (toggleTop, toggleBottom) {
                var styles = [];

                if (toggleTop) {
                    styles.push("margin-top: " + toggleTop);
                }
                if (toggleBottom) {
                    styles.push("margin-bottom: " + toggleBottom);
                }
                return styles.join(";")
            },
            /**
             *
             */
            initToggleValues: function (selectedValue) {
                var self = this;

                if (selectedValue) {
                    self.findToggleElement(selectedValue).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked != true  || !($(targetElement).closest('.toggle-button').hasClass('active'))) {
                                        self.deSelectOthers(targetElement.id);
                                        $(targetElement).closest('.toggle-button').button('toggle');
                                    }
                    });
                } else {
                    // Setting the value to be blank
                    self.deSelectAll();
                }

            },

            /**
             * This function will sort dom-repeat on based of 'seqNo' property
             */
            sortBySequenceNumber: function (a, b) {
                if (a.seqNo === b.seqNo) {
                    return 0;
                }
                return a.seqNo < b.seqNo ? -1 : 1;
            },

            /**
             * Event fired when user click on button
             */
            buttonClicked: function (e) {
                var self = this;
                //Respond to only checkbox.
                var _targetElement = e.target.querySelector('input[type=checkbox]');
                if (_targetElement != undefined) {
                    //Note: As we have registered click event on parent of checkbox the value is not still updated
                    //on checkbox. So, we have to take toggled value.
                    var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                } else if (e.target.type.toLowerCase() === 'checkbox') {
                    _targetElement = e.target;

                    var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                }
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id +
                                '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            /**
             *
             */
            saveSelectedOption: function (valueToSave) {
                this.set('value', valueToSave);
            },

            /**
             * This function will toggle all inputs except one passed as argument
             */
            deSelectOthers: function (clickedInputId) {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].id !== clickedInputId && _toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                    }
                }
            },

            deSelectAll: function () {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    // Making the previously selected as un select
                    if (_toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                        this.set('value', "");
                    }
                }
            },
            computeStyles: function (disabled) {
                if (disabled)
                    return ["btn", "btn-primary", "toggle-button", "disabled"].join(" ");
                else
                    return ["btn", "btn-primary", "toggle-button"].join(" ");
            }
        });
    </script>
</dom-module>