<dom-module id="ui-single-toggle-verticle">
<template>
<style>
.type {
	text-transform: capitalize;
}
.send-security-code{margin-bottom:30px;}
.btn-group{ display:block; width:100%;margin-top:10px;}
.toggle-button{width:100%;padding: 10px 30px;float: none !important; border:0 !important;color:#666 !important}
@media only screen and (max-width:479px){
	.toggle-button{padding: 10px 15px;}
}
</style>
<!-- Toggle button -->
<div class="send-security-code">
<template is="dom-repeat" items="[[ list ]]" as="item" sort="sortBySequenceNumber">
<div class="btn-group clearfix" data-toggle="buttons">
  <label class="btn btn-block toggle-button vericaltogle clearfix">
  <input type="checkbox" autocomplete="off" id="[[ item.value ]]">
  <div class="pull-left type">[[ item.type ]]</div>
  <div class="pull-right">[[item.label]]</div>
  </label></div>
</template>
</div>
</template>
<!-- script for component --> 
<script>
        Polymer({
            is: 'ui-single-toggle-verticle',

            properties: {
                //List of buttons to be displayed
                list: Array,

                //button that needs to be pre-selected on init
                selectedValue: String,

                //Holding value that is being updated by user action
                value: String,

                toggleTop: {
                    type: String,
                    value: ""
                },
                toggleBottom: {
                    type: String,
                    value: ""
                },
                 clickHandler: String
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                'initToggleValues(selectedValue)'
            ],

            attached: function () {
                var self = this;

                self.publish(this.id + ".attached");

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
            },

           

            /**
             *
             */
            initToggleValues: function (selectedValue) {
                var self = this;

                if (selectedValue) {
                    self.findToggleElement(selectedValue).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked !== true) {
                            $(targetElement).closest('.toggle-button').button('toggle');
                        }
                    });
                }
                else {
                    // Setting the value to be blank
                    self.deSelectAll();
                }

            },

            /**
             * This function will sort dom-repeat on based of 'seqNo' property
             */
            sortBySequenceNumber: function (a, b) {
                if (a.seqNo === b.seqNo) {
                    return 0;
                }
                return a.seqNo < b.seqNo ? -1 : 1;
            },

            /**
             * Event fired when user click on button
             */
            buttonClicked: function (e) {
                var self = this;
                //Respond to only checkbox.
                var _targetElement = e.target.parentElement.querySelector('input[type=checkbox]');
                if (_targetElement != undefined) {
                    //Note: As we have registered click event on parent of checkbox the value is not still updated
                    //on checkbox. So, we have to take toggled value.
                    var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                      if (this.clickHandler
                    && typeof this.domHost[this.clickHandler] === "function")
                    this.domHost[this.clickHandler].call(this.domHost, e,this.value);
                } else if (e.target.parentElement.type.toLowerCase() === 'checkbox') {
                    _targetElement = e.target.parentElement;

                    var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                     if (this.clickHandler
                    && typeof this.domHost[this.clickHandler] === "function")
                    this.domHost[this.clickHandler].call(this.domHost, e,this.value);
                }
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            /**
             *
             */
            saveSelectedOption: function (valueToSave) {
                this.set('value', valueToSave);
            },

            /**
             * This function will toggle all inputs except one passed as argument
             */
            deSelectOthers: function (clickedInputId) {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].id !== clickedInputId && _toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                    }
                }
            },

            deSelectAll: function () {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    // Making the previously selected as un select
                    if (_toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                        this.set('value', "");
                    }
                }
            }
        });
    </script>
</dom-module>
