<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="ui-elements/ui-summary-required-questions.html"></html-import>
<html-import html-href="summary/borrower-summary.html"></html-import>
<html-import html-href="summary/borrower-declarations.html"></html-import>
<html-import html-href="summary/assets-summary.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>

<link rel="import" href="../../borrower-portal/assets/dcc-service.html" />
<link rel="import" href="../../borrower-portal/assets/interactors/init-dcc.html" />
<dom-module id="ui-summary">
    <template>
        <style>
            .tab-content .row .tab-pane {
                display: none;
            }

            .tab-content .row .active {
                display: block;
            }

            .nav-tabs {
                border: 0;
                margin-bottom: 30px
            }

            .nav-tabs>li {
                margin: 0 0 0 4%;
            }

            .nav-tabs>li:first-child {
                margin-left: 0
            }
            .row {
                margin: 0 -40px
            }

            .summary-fields .col-lg-6,
            .summary-fields .col-lg-12 {
                padding: 0 40px
            }

            .blank {
                width: 100%;
                height: 20px;
                clear: both
            }

            .edit {
                margin-left: 40px;
                margin-bottom: 30px
            }

            .edit-assets {
                margin-top: -34px;
                margin-bottom: 30px;
            }

            .assets-container {
                width: 50%;
                padding: 0 40px;
                float: left;
            }
			
			@media only screen and (max-width:767px) {
                .row {
                    margin: 0
                }
                .summary-fields .col-lg-6,
                .summary-fields .col-lg-12 {
                    padding: 0
                }
                .assets-container {
                    width: 100%;
                    padding: 0;
                    float: left;
                }
            }
        </style>

        <div hidden$="[[!hasSummaryValidations]]">
          <span style="white-space: pre-wrap"
          class="question-text">Your spouse has mandatory questions that must be answered to complete your application.</span>
        </div>

        <div hidden$="{{ tabView(userSummary) }}">
            <ul class="nav nav-tabs clearfix">
                <template is="dom-repeat"
                          items="[[ userSummary ]]">
                    <li style$="[[ getWidth() ]]"
                        class$="[[ setFirstActive(item) ]]"><a data-toggle="tab"
                                                               href$="#tab[[ index ]]">[[ fetchTabTitle(item) ]]</a></li>
                </template>
            </ul>
        </div>

        <div class="tab-content">
            <!--Summary tab content start-->
            <div class="row">
                <template is="dom-repeat"
                          items="[[ userSummary ]]">
                    <div id$="tab[[ index ]]"
                         class$="[[ setFirstActivePanel() ]]">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <ui-summary-required-questions required-question="[[ getRequiredQuestion(item) ]]"
                                                           user-summary="[[ userSummary ]]"
                                                           edit-link=true></ui-summary-required-questions>
                        </div>

                        <template is="dom-repeat"
                                  items="{{ questionerSummary(item) }}">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <p class="subsection-heading">[[item.subSectionType]]</p>
                                <borrower-summary question-sections="[[ item.subSection.questionSections ]]">
                                </borrower-summary>
                                <span on-click="redirectToSection"><a href="javascript:void(0)">Edit</a></span>
                            </div>
                            <div class$="{{ getClass(index) }}"></div>
                        </template>
                        <div>
                            <div class="assets-container">
                                
                                <assets-summary items="{{getAssets()}}"></assets-summary>
                                <div on-click="redirectToAssetsSection"
                                        class="edit-assets"><a href="javascript:void(0)">Edit</a>
                                </div>
                            </div>
                        </div>

                        <template is="dom-repeat"
                                  items="{{ getDeclarationSummary(item) }}">
                            <borrower-declarations question-sections="[[ item.subSection.questionSections ]]">
                            </borrower-declarations>
                            <div on-click="redirectToSection"
                                 class="edit"><a href="javascript:void(0)">Edit</a></div>
                        </template>

                    </div>
                </template>
            </div>
            <!--Summary tab content end-->
        </div>

        <div hidden$="[[ showOverlay ]]" style="background: #fff;width: 100%;height: 100vh;position: fixed;z-index: 9;top: 0;"></div>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <assets-dcc-service id="dccService"></assets-dcc-service>
        <assets-interactors-init-dcc id="initDcc"></assets-interactors-init-dcc>
        <event-hub id="hub"></event-hub>
        <identity-service id="identityService"></identity-service>
    </template>
    <script>
        Polymer({
            is: "ui-summary",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                assets: Array,
                currentTabIndex: { type: Number, value: 0 },
                currentIndex: { type: Number, value: 0 },
                showOverlay: false,
                hasSummaryValidations: {type: Boolean, value: false}
            },

            attached: function () {
                var self = this;
                this.assets = [];
                Promise.all([
                    this.initDcc(),
                    this.getSummary()
                ]);

                this.subScriptionInstance = this.subscribe("displaySummaryMessage", function (payload) {
                  self.hasSummaryValidations = payload.display;
                }.bind(this));
            },
            require: [
                "dccService"
            ],

            initDcc: function () {
                return this.ensure("initDcc")
                        .then(function (initDcc) {
                            return initDcc.execute()
                        })
            },

            changeJsonArray: function (item) {
                return _.filter(item, function (o) { return o.subSectionSummary; });;
            },

            getSummary: function () {
                var self = this;
                var primaryBorrower = "";
                this.ensure("questionnaireService")
                        .then(function (service) {
                            return service.fetchApplicantInfoForSummary(self.temporaryApplicationNumber)
                                    .then(function (response) {
                                        self.set("allApplicants", response);
                                        var allowedEmails = "";
                                        service.fetchSummary(self.temporaryApplicationNumber).then(function (summary) {
                                            summary.forEach(function (propName) {
                                                for (var pName in propName) {
                                                    allowedEmails = allowedEmails + pName;
                                                }
                                            })

                                            self.ensure("dccService")
                                                    .then(function (dccService) {
                                                        var promises = [];
                                                        summary.forEach(function (applicants) {
                                                            if (Object.keys(applicants) && Object.keys(applicants)[0])
                                                            {
                                                                if(primaryBorrower == "")
                                                                    primaryBorrower = Object.keys(applicants)[0];
                                                                promises.push(dccService.fetchCustomerAccounts(primaryBorrower, self.temporaryApplicationNumber))
                                                            }
                                                        });
                                                        return Promise.all(promises)
                                                                .then(function (responses) {                                                                   
                                                                    responses.forEach(function (response) {
                                                                        self.assets.push(response)
                                                                    })
                                                                    return self.setSummaryData(summary)
                                                                })
                                                                .catch(self.handleError)
                                                    });
                                        })
                                    })
                        })
            },

            setSummaryData: function (response) {
                var self = this;
                if(response.length > 1){
                    self.ensure("identityService")
                    .then(function (identityService) {
                            identityService.getCurrentUser()
                                .then(function (loggedInUser) {
                                    var array = self.changeJsonArray(response[0]);
                                    if(array[0].spouseUserName === loggedInUser.username){
                                        response.splice(1, 0, response.splice(0, 1)[0]);
                                    }
                                    self.set("userSummary", response);
                                    self.set("showOverlay", true);
                                })
                        });
                }
                else {
                    self.set("userSummary", response);
                    self.set("showOverlay", true);
                }
            },

            getClass: function (index) {
                if (index % 2 != 0) {
                    return "blank clearfix"
                }
            },

            redirectToSection: function (e) {
                var self = this;
                var model = e.model;
                var sectionId = model.item.sectionId;
                var subSectionId = model.item.subSectionId;
                var highestSectionReached = model.item.highestSectionReached;
                var highestSubSectionReached = model.item.highestSubSectionReached;
                self.$.hub.publish("section:redirect", {
                    lastAccessedSectionId: sectionId,
                    lastAccessedSubSectionId: subSectionId,
                    highestSectionReached: highestSectionReached,
                    highestSubSectionReached: highestSubSectionReached,
                    isSummaryEdit: true,
                    requiredQuestionList: null,
                    requiredQuestionCompleteList: null
                });
            },

            redirectToAssetsSection: function (e) {
                var self = this;
                var array = this.changeJsonArray(self.userSummary[0]);
                var propValue = array[0].subSectionSummary;
                var assetsSummary = _.filter(propValue, function (item) {
                    return item.subSectionType === 'bankandinvestment';
                });

                var sectionId = assetsSummary[0].sectionId;
                var subSectionId = assetsSummary[0].subSectionId;
                var highestSectionReached = assetsSummary[0].highestSectionReached;
                var highestSubSectionReached = assetsSummary[0].highestSubSectionReached;
                self.$.hub.publish("section:redirect", {
                    lastAccessedSectionId: sectionId,
                    lastAccessedSubSectionId: subSectionId,
                    highestSectionReached: highestSectionReached,
                    highestSubSectionReached: highestSubSectionReached,
                    isSummaryEdit: true,
                    requiredQuestionList: null,
                    requiredQuestionCompleteList: null
                });
            },

            //tab panes
            setFirstActivePanel: function () {
                var defaultClasses = ["tab-pane", "fade", "summary-fields", "clearfix"];
                if (!this.setActivePanel) {
                    this.setActivePanel = true;
                    defaultClasses.push("in active");
                }
                return defaultClasses.join(" ");
            },

            //tabs
            setFirstActive: function (item) {
                // highlight the tab in red if any of the required questions are not answered
                var isTitleHighlighted = false;
                _.filter(item, function (o) {
                    if (o.requiredQuestions && o.requiredQuestions !== null && o.requiredQuestions.length > 0) {
                        isTitleHighlighted = true;
                    }
                })
                var defaultClass = "";
                if (!this.setFirstTabActive) {
                    this.setFirstTabActive = true;
                    defaultClass = "active";
                }
                if (isTitleHighlighted)
                    defaultClass = defaultClass + " highlight";
                return defaultClass;
            },

            getRequiredQuestion: function (item) {
                var itemArray = this.changeJsonArray(item);
                if (itemArray[0] && itemArray[0].requiredQuestions)
                    return itemArray[0].requiredQuestions;
            },

            getDeclarationSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var declarationSummary = _.filter(propValue, function (item) {
                    return item.subSectionType === 'declarations';
                });
                return declarationSummary;
            },

            questionerSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var summary = _.filter(propValue, function (item) {
                    return (item.subSectionType !== 'declarations' && item.subSectionType !== 'bankandinvestment');
                });
                return summary;
            },
           
            assetsSummary: function (summaryData) {
                var array = this.changeJsonArray(summaryData);
                var propValue = array[0].subSectionSummary;
                var summary = _.filter(propValue, function (item) {
                    if (item.subSectionType === 'bankandinvestment') {
                        for (var subSection in item.subSection) {
                            for (var questionSection in item.subSection.questionSections) {
                                for (questionList in item.subSection.questionSections[questionSection].questionList)
                                    return (item.subSection.questionSections[questionSection].questionList[questionList].questionText === 'Assets');
                            }
                        }
                    }
                });
                return summary;
            },

            fetchTabTitle: function (item) {
                for (var propName in item) {
                    var summary = _.filter(this.allApplicants, function (item) {
                        return item.userName === propName;
                    });
                    return summary[0].firstName + " " + summary[0].lastName;
                }
            },

            getWidth: function () {
                var totalWidth = (Math.ceil(100 / this.userSummary.length) - 2);
                return "width:" + totalWidth + "%";
            },

            tabView: function (userList) {
                if (userList.length > 1) {
                    return false;
                }
                return true;
            },

            getAssets: function () {
                var self = this;
                var index = self.currentIndex;
                if (self.userSummary.length > 1)
                    self.currentIndex = self.currentIndex + 1;
                return self.assets[index];
            },

            handleError: function (error) {
                console.error(error)
            }
        });
    </script>
</dom-module>