<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="ui-switch-loan">
        <template>
        <style>
        .switch-text {
            color: var(--switch-text-color);
        }
        </style>
        <span class$="[[ wrapperClass ]]">{{ text }}</span>
        <div class="yes-no form-group clearfix" style$="[[ setStyle(marginBottom)]]">
            <div class="btn-group" disabled="[[disabled]]" data-toggle="buttons">
                 <label class$="[[computeStyles(disabled)]]">
                     <input type="checkbox" autocomplete="off" id="true" disabled="[[disabled]]">Yes</label>
            </div>
            <div class="btn-group" data-toggle="buttons" disabled="[[disabled]]">
                <label class$="[[computeStyles(disabled)]]">
                    <input type="checkbox" autocomplete="off" id="false" disabled="[[disabled]]">No</label>
            </div>
        </div>
        <ui-confirm id="confirmCoBorrowerChange"
            confirm-title="Changing your application's detail will remove all the information related to your co-borrower(s). Do you want to continue?">
        </ui-confirm>
        <questionnaire-service id="questionnaire"></questionnaire-service>        
    </template>
        <script>
                Polymer({
                    is: "ui-switch-loan",
                    listeners: {
                        "confirm": "handleLoanTypeChange"
                    },
                    properties: {
                        text: String,
        
                        //button that needs to be pre-selected on init
                        selectedValue: String,
        
                        //Holding value that is being updated by user action
                        value: String,
                        disabled: Boolean,
                        defaultValue: String,
                        wrapperClass: {
                            type: String,
                            value: "switch-text",
                            computed: "computeDefaultClass(isSummaryRequired, value)"
                        },
                        currentSelected: String,
                        previousSelected: String,
                        updateLoanType: {
                            type: Boolean,
                            value: false
                        },
                        isCopyAnswerForSpouse: {
                            type: Boolean,
                            value: false
                        }
                    },
        
                    behaviors: [eventHub, ensureDependenciesBehavior, window.alloy.uiInputBehavior],
        
                   
                    attached: function () {
                        var self = this;
                    
                        var persistCoBorrowerAnswer = self.placeHolders["<#persistCoBorrowerAnswer#>"];
                        var coBorrowerAdded = self.placeHolders["<#coBorrowerAdded#>"];
                       
                        if(self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>"){
                            if(persistCoBorrowerAnswer != null && persistCoBorrowerAnswer != undefined && persistCoBorrowerAnswer.toString() != ""){
                                self.selectedValue = self.placeHolders["<#persistCoBorrowerAnswer#>"];
                            }
                            else if(self.selectedValue != null && self.selectedValue != undefined && self.selectedValue != "" && self.selectedValue.toString().toLowerCase() === "true"){
                                self.publish('update-place-holders', {placeHolderName: "<#persistCoBorrowerAnswer#>", placeHolderValue: self.selectedValue})
                            }
                            else if(coBorrowerAdded != null && coBorrowerAdded != undefined && coBorrowerAdded.toString().toLowerCase() === "true"){
                                self.selectedValue = "true";
                                self.publish('update-place-holders', {placeHolderName: "<#persistCoBorrowerAnswer#>", placeHolderValue: self.selectedValue})
                            }
                        }

                        this.set("previousSelected", self.selectedValue);
                        // This component is specific to Loan Marital Status screen only for Joint Credit section.
                        // <#borrowerAddAsNewCoBorrower#> is used for question 'Do you want to add another co-borrower?'
                        // "<#spouseAddedAsCoBorrower#>" is used to keep track whether user has anwered Yes to the question "Do you want to add your spouse as a co-borrower?", 
                            // when tweaking data from 'Yes' to 'No' for this question or tweaking from Married to Seperated/Unmarried in marital status, then based on this placeholder value, confirmation popup would be displayed.
                        if(self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>")
                            self.publish('update-place-holders', {placeHolderName: "<#spouseAddedAsCoBorrower#>", placeHolderValue: self.selectedValue})
        
                        self.publish(this.id + ".attached");
        
                        if (window.jQuery) {
                            self.init();
                        } else {
                            window.addEventListener("WebComponentsReady", self.init());
                        }
                        this.initToggleValues(self.selectedValue);
                    },
        
                    init: function () {
                        if (!this.disabled) {
                            //Code related to html/dom on initialization of component
                            $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
                        }
                    },
        
                    /**
                     *
                     */
                    initToggleValues: function (selectedValue) {
                        var self = this;
                        if (selectedValue != null && selectedValue != undefined) {
                            self.findToggleElement(selectedValue).then(function (targetElement) {
                                //If not already checked                                
                                if (targetElement.checked != true  || !($(targetElement).closest('.toggle-button').hasClass('active'))) {
                                        self.deSelectOthers(targetElement.id);
                                        $(targetElement).closest('.toggle-button').button('toggle');
                                    }
                            })
                            .catch(function (error) {
                                if(error)
                                  console.warn(error);
                                });
                        }
                    },
        
                    /**
                     * On initialization of component dom-repeat may have not finished.
                     * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
                     */
                    findToggleElement: function (id, numberOfAttempts) {
                        var self = this;
                        if(id != null && id != undefined)
                            id = id.toString().toLowerCase();
                        return new Promise(function (resolve, reject) {
                            self.async(function () {
                                numberOfAttempts = numberOfAttempts || 1;
                                if (numberOfAttempts <= 20) {
                                    var _targetElement = self.querySelector('input[id="' + id + '"]');
                                    if (_targetElement != undefined) {
                                        resolve(_targetElement);
                                    } else {
                                        numberOfAttempts = numberOfAttempts + 1;
                                        resolve(self.findToggleElement(id, numberOfAttempts));
                                    }
                                } else {
                                    reject();
                                }
                            }, 50);
                        });
                    },
        
                    /**
                     * Event fired when user click on button
                     */
                    buttonClicked: function (e) {           
                        var self = this;                                                
                        self.isCopyAnswerForSpouse = false;                        
                        //Respond to only checkbox.
                        var _targetElement = e.target.querySelector('input[type=checkbox]');
                        var currentValue;
                        if (_targetElement != undefined) {
                            //Note: As we have registered click event on parent of checkbox the value is not still updated
                            //on checkbox. So, we have to take toggled value.
                            var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                            //Save Value
                            currentValue = _checked === true ? _targetElement.id : '';
                        }
                        else if (e.target.type.toLowerCase() === 'checkbox') {
                            _targetElement = e.target;
                            var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                            //Save Value
                            currentValue = _checked === true ? _targetElement.id : '';
                        }

                        if(_targetElement && self.previousSelected !== currentValue) {
                            if(self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>" && currentValue.toString().toLowerCase() === "true"){
                                self.publish('update-place-holders', {placeHolderName: "<#persistCoBorrowerAnswer#>", placeHolderValue: currentValue.toString()})
                            }
                            var triggeredTemplate =  _.find(self.question.dynamicTemplate, function (dynamicTemplateConfig) {
                            return (dynamicTemplateConfig.triggerAnswer);
                            });

                            if(triggeredTemplate && self.isSummaryEdit  && self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>"){
                                if(triggeredTemplate.triggerAnswer.toLowerCase() === currentValue.toString().toLowerCase())
                                    self.publish('update-skip-summary', {isSkipSummary: true, skipSummaryCount: 1})
                            }
                            if(triggeredTemplate && self.isSummaryEdit  && self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>"){
                                if(triggeredTemplate.triggerAnswer.toLowerCase() !== currentValue.toString().toLowerCase())
                                    self.publish('update-skip-summary', {isSkipSummary: true, skipSummaryCount: 1})
                            }
                            // Added core-logic for copy spouse data.
                            if(self.referenceApplicationNumber!=null && triggeredTemplate && currentValue.toLowerCase() === "true"  && self.question.placeHolder === "<#borrowerAddSpouseAsCoBorrower#>"){
                                self.isCopyAnswerForSpouse = true;
                            }
                           
                            var valcoBorrowerAdded = self.placeHolders["<#coBorrowerAdded#>"];
                            var valSpouseAdded = self.placeHolders["<#spouseAdded#>"];

                            if(!self.updateLoanType && triggeredTemplate && ((typeof self.previousSelected !== 'object' && triggeredTemplate.triggerAnswer.toLowerCase() === self.previousSelected.toString().toLowerCase()) || (typeof self.previousSelected === 'object' && self.previousSelected.indexOf(triggeredTemplate.triggerAnswer) > -1 && (!currentValue || currentValue.indexOf(triggeredTemplate.triggerAnswer) === -1)))
                                && self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>" && valSpouseAdded && valSpouseAdded.toString().toLowerCase() === "true"){

                                self.set('currentSelected', currentValue);
                                e.preventDefault();
                                e.stopPropagation();
                                this.$.confirmCoBorrowerChange.open();
                                return false;
                            }
                            else if(!self.updateLoanType && triggeredTemplate && (!currentValue || currentValue.indexOf(triggeredTemplate.triggerAnswer) === -1)
                                && self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>" && valcoBorrowerAdded && valcoBorrowerAdded.toString().toLowerCase() === "true"){
                                
                                self.set('currentSelected', currentValue);
                                e.preventDefault();
                                e.stopPropagation();
                                this.$.confirmCoBorrowerChange.open();
                                return false;
                            }
                            else {
                                //Save Value
                                this.saveSelectedOption(currentValue);
                                if(self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>")
                                    self.publish('update-place-holders', {placeHolderName: "<#spouseAddedAsCoBorrower#>", placeHolderValue: currentValue})
                                //Deselect others
                                this.deSelectOthers(_targetElement.id);

                                self.findToggleElement(currentValue).then(function (targetElement) {
                                //If not already checked
                                    if (targetElement.checked != true  || !($(targetElement).closest('.toggle-button').hasClass('active'))) {
                                        self.deSelectOthers(targetElement.id);
                                        $(targetElement).closest('.toggle-button').button('toggle');
                                    }
                                })
                                .catch(function (error) {
                                if(error)
                                  console.warn(error);
                                });
                            
                                if(self.updateLoanType){
                                    self.set('updateLoanType', false);
                                    self.removeSpouseAndCoBorrowers();
                                }
                                else{
                                    if(triggeredTemplate && ((typeof self.previousSelected !== 'object' && triggeredTemplate.triggerAnswer.toLowerCase() === self.previousSelected.toString().toLowerCase()) || (typeof self.previousSelected === 'object' && self.previousSelected.indexOf(triggeredTemplate.triggerAnswer) > -1 && (!currentValue || currentValue.indexOf(triggeredTemplate.triggerAnswer) === -1)))){
                                        self.removeSpouseAndCoBorrowersForSpouse();
                                    }
                                    self.saveLoanType();
                                   
                                }
                            }
                        }
                    },
                    saveLoanType: function(){
                        var self = this;
                        var emptyAllChildQuestions = false;
                        if(self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>"){
                            self.publish('clearUIinputs', {control: self, questionType: self.question.questionType });
                            emptyAllChildQuestions = true;
                        }
                                
                                var payload = {
                                    "Answer": self.value
                                };
                                
                                //Update value to local JSON object.
                                self.publish('update-question-ans', {
                                        subSectionId: self.subSectionId,
                                        questionSeqNo: self.questionSeqNo,
                                        questionID: self.question.questionId,
                                        answeredValue: payload.Answer,
                                        previousValue: self.previousSelected,
                                        borrowerMaritalStatus: true,
                                        emptyAllChildQuestions: emptyAllChildQuestions,
                                        referenceApplicationNumber: self.referenceApplicationNumber,
                                        temporaryApplicationNumber:self.temporaryApplicationNumber,
                                        isCopyAnswerForSpouse : self.isCopyAnswerForSpouse
                                    });
                                
                                self.set("previousSelected", self.value);
                             
                                return self.ensure("questionnaire").then(function (service) {
                                        return service.updateQuestionAns(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, self.questionSeqNo, self.question.questionId, payload, self.question.questionText)
                                            .then(function(response){
                                                var persistCoBorrowerAnswer = self.placeHolders["<#persistCoBorrowerAnswer#>"];
                                                if(self.question.placeHolder !== "<#borrowerAddAsNewCoBorrower#>" && persistCoBorrowerAnswer != null && persistCoBorrowerAnswer != undefined && persistCoBorrowerAnswer.toString() != "")
                                                {
                                                    self.publish('update-place-holders', {placeHolderName: "<#borrowerAddAsNewCoBorrower#>", placeHolderValue: persistCoBorrowerAnswer.toString()});
                                                    self.publish('update-coBorrower-answer');
                                                }
                                            });
                                    });
                    },
                    removeSpouseAndCoBorrowers : function(){
                        var self = this;
                        var applicantType = "Spouse";
                        if(self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>"){
                            applicantType =  "CoBorrower";
                            self.publish('update-place-holders', {placeHolderName: "<#coBorrowerAdded#>", placeHolderValue: "false"})
                        }
                        else if(self.question.placeHolder === "<#coBorrowerAddSpouseAsCoBorrower#>")
                            applicantType =  "CoBorrowerSpouse";

                        self.ensure("questionnaire").then(function (service) {
                            service.removeSpouseAndCoBorrowers(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, applicantType)
                            .then(function (response) {
                                self.saveLoanType().then(function (result) {
                                    self.fire('ui-container-validation', false);
                                    self.publish("loaderInvite:hide");                                   
                                })
                                })
                            }).catch(function (error) {
                                self.publish("loaderInvite:hide");                                
                                throw error;
                            });
                    },
                    removeSpouseAndCoBorrowersForSpouse : function(){
                        var self = this;
                        var applicantType = "Spouse";
                        if(self.question.placeHolder === "<#borrowerAddAsNewCoBorrower#>"){
                            applicantType =  "CoBorrower";
                            self.publish('update-place-holders', {placeHolderName: "<#coBorrowerAdded#>", placeHolderValue: "false"})
                        }
                        else if(self.question.placeHolder === "<#coBorrowerAddSpouseAsCoBorrower#>")
                            applicantType =  "CoBorrowerSpouse";

                        self.ensure("questionnaire").then(function (service) {
                            service.removeSpouseAndCoBorrowers(self.temporaryApplicationNumber, self.sectionId, self.subSectionId, applicantType)
                            }).catch(function (error) {
                                throw error;
                            });
                    },
                    saveSelectedOption: function (valueToSave) {
                        this.set('value', valueToSave);
                    },
        
                    /**
                     * This function will toggle all inputs except one passed as argument
                     */
                    deSelectOthers: function (clickedInputId) {
                        //Loop through
                        var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                        for (var i = 0; i < _toggleInputs.length; i++) {
                            if (_toggleInputs[i].id !== clickedInputId && _toggleInputs[i].checked === true) {
                                $(_toggleInputs[i]).closest('.toggle-button').button('toggle');                                
                            }
                        }
                    },
                    deSelectAll: function () {
                        var self = this;
                        //Loop through
                        var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                        for (var i = 0; i < _toggleInputs.length; i++) {
                            if (_toggleInputs[i].checked === true) {
                                $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                                self.set('value', "");
                            }
                        }
                    },
                    computeStyles: function (disabled) {
                        if (disabled)
                            return ["btn", "btn-primary", "toggle-button", "disabled"].join(" ");
                        else
                            return ["btn", "btn-primary", "toggle-button"].join(" ");
                    },
                    setStyle: function (marginBottom) {
                        var styles = [];
                        if (marginBottom) {
                            styles.push("margin-bottom: " + marginBottom);
                        }
                        return styles.join(";")
                    },
        
                    computeDefaultClass: function (isSummaryRequired, value) {
                        var classList = ["switch-text"];
                        if (isSummaryRequired && !value)
                            classList.push("required-control");
        
                        return classList.join(" ");
                    },
                    handleLoanTypeChange: function(){
                        var self = this;
                        self.publish("loaderInvite:show","Hold on just a few more seconds.");                                  
                        self.set('updateLoanType', true);

                        var selectedValue = self.currentSelected;
                        if(selectedValue === "") selectedValue = self.previousSelected.toString();
                        self.querySelectorAll('input').forEach(function (_uiInputContainer) {
                                if (_uiInputContainer.id === selectedValue) {
                                    _uiInputContainer.click();
                                }
                            });
                    }
                });
            </script>
        </dom-module>
        