<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="ui-select-one">
    <template>
        <style>
            .radio input[type="radio"]+label span {
                -moz-border-radius: inherit;
                border-radius: inherit;
            }
			.applicant-info .radio {width:40px;}
			.applicant-info .title {width:90%;border-bottom: 1px solid #bbb;}
			.applicant-info .prof {bottom: -20px;}
			@media only screen and (max-width: 600px) {
			.applicant-info .radio {width: 12%;}
			.applicant-info .title {width: 88%;}
			}
        </style>
        <template is="dom-repeat"
            items="{{ applicants }}">
            <div class="applicant-info clearfix">
                <div class="radio"
                    disabled="[[disabled]]">
                    <input value="{{ item.applicantType }}"
                        id$="{{ changeId(item.subSectionId) }}"
                        on-click="setActive"
                        name="radio"
                        type="radio"
                        disabled="[[disabled]]">
                    <label for$="{{ changeId(item.subSectionId) }}"><span></span></label>
                </div>
                <div class="title">{{ item.firstName }} {{ item.lastName }}
                    <div class="prof">({{ userType(item.applicantType) }})</div>
                </div>
            </div>
        </template>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "ui-select-one",

            behaviors: [
                ensureDependenciesBehavior,
                eventHub
            ],

            properties: {
                subscriptionList: {
                    type: Array,
                    value: []
                },
                disabled: Boolean
            },

            attached: function () {
                this.fetchApplicant();
                //Update answer to local json
                this.subscriptionList.push(this.subscribe('section:next', this.fetchApplicant.bind(this)));
                this.subScriptionInstance = this.subscribe('update-co-borrowers-list', this.fetchApplicantData.bind(this));
            },
            detached: function () {
                //Unsubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },
            fetchApplicantData:function(){
                this.fetchApplicant();
                this.unsubscribe(this.subScriptionInstance);
            },
            fetchApplicant: function () {
                var self = this;
                this.ensure("questionnaireService")
                    .then(function (service) {
                        return service.fetchApplicantInfo(self.temporaryApplicationNumber);
                    })
                    .then(function (response) {
                        self.set("applicants", response);
                        self.async(function () {
                            if (self.querySelector("input[name=radio][value='Borrower']")) {
                                self.querySelector("input[name=radio][value='Borrower']").setAttribute("checked", "checked");
                            }
                        })
                    })
                    .catch(function (error) {
                        console.warn(error);
                    });
            },

            setActive: function (e) {
                var self = this;
                if (!self.disabled) {
                    var event = e.model.item;
                    var sectionId = event.sectionId;
                    var subSectionId = event.subSectionId;
                    var applicants = this.applicants;
                    var currentBorrower = _.findKey(applicants, { 'applicantType': 'Borrower' });
                    if (applicants[currentBorrower]) {
                        this.set('applicants.' + currentBorrower + '.applicantType', "Co-Borrower")
                    }

                    var newBorrower = _.findKey(applicants, event);
                    if (applicants[newBorrower]) {
                        this.set('applicants.' + newBorrower + '.applicantType', "Borrower")
                    }

                    this.ensure("questionnaireService")
                        .then(function (service) {
                            return service.updateBorrower(self.temporaryApplicationNumber, sectionId, subSectionId);
                        })
                        .catch(function (error) {
                            console.warn(error)
                        });
                }
            },

            changeId: function (subsectionId, sectionId) {
                var newId = subsectionId + "ui-select-one";
                return newId;
            },

            userType: function (applicantType) {
                if (applicantType === "CoBorrower") {
                    return "Co-Borrower";
                }
                return applicantType;
            }
        });
    </script>
</dom-module>