<dom-module id="ui-select-boolean">
    <template>
        <div class="switch-text">{{ text }}</div>
        <div class="switch-container">
            <input type="checkbox" name="yesnoswitch" class="switch-checkbox" id$="{{id}}" on-change="setValue">
            <label class="switch-label" for$="{{id}}">
                <span class="switch-inner"></span>
                <span class="switch-circle"></span>
            </label>
        </div>
<style>
	.switch-text {color: var(--switch-text-color);}
	.switch-label {border: var(--switch-border);background-color: var(--switch-background-color);}
	.switch-inner {color: var(--switch-inner-color);}
	.switch-inner:before {color: var(--switch-inner-color);}
	.switch-inner:after {color: var(--switch-inner-color);}
	.switch-circle {background: var(--switch-circle-color);}
</style>

    </template>
    <script>
        Polymer({
            is: "ui-select-boolean",

            properties: {
                id:String,
                text:String,
                value: {
                    value: false,
                    type: Boolean
                }
            },

            behaviors: [ window.alloy.uiInputBehavior ],

            observers: [
                "onValueChanged(value)",
            ],

            onValueChanged: function (value) {
                if (value == "True" || value == "TRUE" || value == true || value == "true") {
                    value = true;
                }
                else {
                    value = false;
                }
                this.querySelector('input[type="checkbox"]').checked = value;
            },

            setValue: function (e) {
                this.set("value", e.target.checked);
            }
        });
    </script>
</dom-module>
