<dom-module id="ui-switch-declaration">
    <template>
        <style>
            .switch-text {
                color: var(--switch-text-color);
            }
			 :host ui-popover {
				position: absolute;
				top: 0;
				right: 20px;
			}
            .yes-no {
                margin: 0;
            }
			@media only screen and (max-width:1025px) {
			.yes-no {
			   text-align:right; 
			}
			}
			 @media only screen and (max-width:800px) {
               :host .toggle-button {
                   margin:5px 0 0 0;
                }
            }
			
            @media only screen and (max-width:767px) {
                .yes-no {
                    padding-left: 15px;
                }
				:host .toggle-button {
                   margin:0;
                }
            }
            @media only screen and (max-width:479px) {
                .yes-no {
                    padding: 0;
                }
                 :host ui-popover {
                    right: 5px;
                }
            }

            .toggle-button.focus {
                box-shadow: 0px 0px 1px 0px grey !important;
            }
        </style>

        <div class="declaration-container clearfix">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 clearfix">
                <span class$="[[ wrapperClass ]]">[[ number ]]</span> <span class$="[[ wrapperTextClass ]]">[[ text ]] </span>
                <template is="dom-if"
                    if="[[ helpTextBody ]]"
                    restamp>
                    <span class="switch-popover">
      <ui-popover body-text="[[ helpTextBody ]]" custom-icon=true> <span class="df df-question"></span></ui-popover>
                    </span>
                </template>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 clearfix">
                <div class="yes-no"><div class="btn-group"
                        data-toggle="buttons"
                        disabled="[[disabled]]">
                        <label class$="[[computeStyles(disabled)]]">
        <input type="checkbox" autocomplete="off" id="true" disabled="[[disabled]]">Yes</label>
                    </div><div class="btn-group"
                        data-toggle="buttons"
                        disabled="[[disabled]]">
                        <label class$="[[computeStyles(disabled)]]">
        <input type="checkbox" autocomplete="off" id="false" disabled="[[disabled]]">No</label>
                    </div></div>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            is: "ui-switch-declaration",

            properties: {
                text: String,

                number: String,

                //button that needs to be pre-selected on init
                selectedValue: String,

                //Holding value that is being updated by user action
                value: String,
                disabled: Boolean,
                wrapperClass: {
                    type: String,
                    value: "switch-line-no",
                    computed: "computeDefaultClass(isSummaryRequired, value)"
                },

                wrapperTextClass: {
                    type: String,
                    value: "switch-text",
                    computed: "computeDefaultTextClass(isSummaryRequired, value)"
                }
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                //'initToggleValues(selectedValue)'
            ],

            attached: function () {
                var self = this;

                self.publish(this.id + ".attached");

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                this.initToggleValues(self.selectedValue);
            },

            init: function () {
                if (!this.disabled) {
                    //Code related to html/dom on initialization of component
                    $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
                }
            },

            /**
             *
             */
            initToggleValues: function (selectedValue) {
                var self = this;
                if (selectedValue != null && selectedValue != undefined) {
                    self.findToggleElement(selectedValue).then(function (targetElement) {
                        //If not already checked
                        if (targetElement.checked != true) {
                            $(targetElement).closest('.toggle-button').button('toggle');
                        }
                    })
                    .catch(function (error) {
                        if(error)
                         console.warn(error);
                     });
                }
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },


            /**
             * Event fired when user click on button
             */
            buttonClicked: function (e) {
                var self = this;
                //Respond to only checkbox.
                var _targetElement = e.target.querySelector('input[type=checkbox]');
                if (_targetElement != undefined) {
                    //Note: As we have registered click event on parent of checkbox the value is not still updated
                    //on checkbox. So, we have to take toggled value.
                    var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                } else if (e.target.type.toLowerCase() === 'checkbox') {
                    _targetElement = e.target;

                    var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                    //Save Value
                    this.saveSelectedOption(_checked === true ? _targetElement.id : '');
                    //Deselect others
                    this.deSelectOthers(_targetElement.id);
                }
            },

            /**
             *
             */
            saveSelectedOption: function (valueToSave) {
                this.set('value', valueToSave);
            },

            /**
             * This function will toggle all inputs except one passed as argument
             */
            deSelectOthers: function (clickedInputId) {
                //Loop through
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].id !== clickedInputId && _toggleInputs[i].checked === true) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                    }
                }
            },
            computeStyles: function (disabled) {
                if (disabled)
                    return ["btn", "btn-primary", "toggle-button", "disabled"].join(" ");
                else
                    return ["btn", "btn-primary", "toggle-button"].join(" ");
            },

            computeDefaultClass: function (isSummaryRequired, value) {
                var classList = ["switch-line-no"];
                if (isSummaryRequired && !value)
                    classList.push("required-control");

                return classList.join(" ");
            },

            computeDefaultTextClass: function (isSummaryRequired, value) {
                var classList = ["switch-text"];
                if (isSummaryRequired && !value)
                    classList.push("required-control");

                return classList.join(" ");
            }
        });
    </script>
</dom-module>