<dom-module id="ui-toggle-button-group">
    <template>
    <div class="form-group clearfix">
    <!-- Toggle button -->
        <template is="dom-repeat" items="[[ list ]]" as="item" sort="sortBySequenceNumber"><div class="btn-group" disabled="[[disabled]]" data-toggle="buttons"><label class$="[[computeStyles(disabled)]]"><input type="checkbox" autocomplete="off" id$="[[ item.value ]]" disabled="[[disabled]]">[[ item.label ]]</label></div></template><template is="dom-if" if="[[ isAllRequired ]]"><div class="btn-group" disabled="[[disabled]]" data-toggle="buttons"><label class$="[[computeStyles(disabled)]]"><input type="checkbox" autocomplete="off" id="all" disabled="[[disabled]]">All</label></div></template></div>  
    </template>

    <!-- script for component -->
    <script>
        Polymer({
            is: 'ui-toggle-button-group',

            properties: {
                list: Array,
                selectedValues: String,
                isAllRequired: {
                    type: Boolean,
                    computed: 'computeIsAllRequired(list)'
                },
                disabled: Boolean,
                value: Array
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                'initToggleValues(selectedValues)'
            ],

            attached: function () {
                var self = this;

                self.publish(this.id + ".attached");

                if (window.jQuery) {
                    self.init();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },

            init: function () {
                if (!this.disabled) {
                    $(this).on('click', '.toggle-button', this.buttonClicked.bind(this));
                }
            },

            /**
             * This function will sort dom-repeat on based of 'seqNo' property
             */
            sortBySequenceNumber: function (a, b) {
                if (a.seqNo === b.seqNo) {
                    return 0;
                }
                return a.seqNo < b.seqNo ? -1 : 1;
            },

            /**
             * If list of buttons are less then 2 then there is no sense to show 'all'
             */
            computeIsAllRequired: function (list) {
                if (list.length < 2) {
                    return false;
                }
                return true;
            },

            /**
             *
             */
            initToggleValues: function (selectedValues) {
                var self = this;

                //
                if (selectedValues && typeof selectedValues === "string") {
                    selectedValues = JSON.parse(selectedValues);
                }

                var _completed = [];
                for (var index in selectedValues) {
                    // var _targetElement = this.findToggleElement(selectedValues[index]);
                    self.findToggleElement(selectedValues[index]).then(function (targetElement) {
                        //If it is not already checked
                        if (targetElement.checked != true) {
                            $(targetElement).closest('.toggle-button').button('toggle');

                            _completed.push(selectedValues[index]);
                            if (_completed.length === selectedValues.length) {
                                self.evaluateAllButtonStatus();
                            }
                        }
                    });
                }
            },

            /**
             * Event fired when user click on button
             */
            buttonClicked: function (e) {
                var self = this;
                //Respond to only checkbox.
                var _targetElement = e.target.querySelector('input[type=checkbox]');
                if (_targetElement != undefined) {
                    //If 'all' is toggled then toggle all
                    if (_targetElement.id.toLowerCase() === 'all') {
                        //Note: As we have registered click event on parent of checkbox the value is not still updated 
                        //on checkbox. So, we have to take toggled value.
                        var _checked = _targetElement.checked === undefined ? true : !_targetElement.checked;
                        self.toggleAllClicked(_checked);
                    } else {
                        self.evaluateAllButtonStatus(_targetElement.id)
                    }

                } else if (e.target.type.toLowerCase() === 'checkbox') {
                    _targetElement = e.target;
                    //If 'all' is toggled then toggle all
                    if (_targetElement.id.toLowerCase() === 'all') {
                        var _checked = _targetElement.checked === undefined ? false : _targetElement.checked;
                        self.toggleAllClicked(_checked);
                    } else {
                        self.evaluateAllButtonStatus(_targetElement.id, true)
                    }
                }
            },

            /**
             * When user click on all button
             */
            toggleAllClicked: function (checked) {
                //Variable holding list of toggled (selected) buttons
                var _listToSave = [];
                //Loop through 
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]:not([id="all"])');
                for (var i = 0; i < _toggleInputs.length; i++) {
                    if (_toggleInputs[i].checked !== checked) {
                        $(_toggleInputs[i]).closest('.toggle-button').button('toggle');
                    }

                    //
                    if (checked === true) {
                        _listToSave.push(_toggleInputs[i].id);
                    }
                }

                //Update selected buttons as value
                this.saveSelectedList(_listToSave);
            },

            /**
             * Evaluate do we need to toggle 'all' button based on the status of other toggle buttons
             */
            evaluateAllButtonStatus: function (clickedToggleId, targetIsSelf) {
                //Element of all button
                var _allToggleInput = this.querySelector('.toggle-button input[type=checkbox][id="all"]');
                //Loop through 
                var _toggleInputs = this.querySelectorAll('.toggle-button input[type=checkbox]:not([id="all"])');
                var _isEveryTogglePressed = true;
                //Variable holding list of toggled (selected) buttons
                var _listToSave = [];
                for (var i = 0; i < _toggleInputs.length; i++) {
                    //Checked value of toggle input
                    var _checked = (_toggleInputs[i].id === clickedToggleId && targetIsSelf !== true) ? (!_toggleInputs[i].checked) : (_toggleInputs[i].checked);
                    //Check status
                    if (_checked !== true) {
                        _isEveryTogglePressed = false;
                    } else {
                        _listToSave.push(_toggleInputs[i].id);
                    }
                }

                //Toggle all button if required.
                if ((_isEveryTogglePressed === true && _allToggleInput.checked !== true)
                    || (_isEveryTogglePressed === false && _allToggleInput.checked === true)) {
                    $(_allToggleInput).closest('.toggle-button').button('toggle');
                }

                //Update selected buttons as value
                this.saveSelectedList(_listToSave);
            },

            /**
             * On initialization of component dom-repeat may have not finished.
             * This method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findToggleElement: function (id, numberOfAttempts) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[id="' + id + '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findToggleElement(id, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },

            /**
             * 
             */
            saveSelectedList: function (valueToSave) {
                this.set('value', _.isEmpty(valueToSave) ? '' : JSON.stringify(valueToSave));
            },
            computeStyles: function (disabled) {
                if (disabled)
                    return ["btn", "btn-primary", "toggle-button", "disabled"].join(" ");
                else
                    return ["btn", "btn-primary", "toggle-button"].join(" ");
            }
        });
    </script>
</dom-module>