<dom-module id="ui-tree-view">
    <template>
    <style>
   	 .text-label {font-weight:normal;}
    </style>
        <div class="tree-view-wrapper">
            <ul class="tree-view">
                <template is="dom-repeat" items="[[ relationships ]]">
                    <li class="form-group clearfix">
                        <div class="custom-checkbox">
                            <input type="checkbox" name$="[[ item.key ]]" value$="[[ item.value ]]" id$="[[ item.key ]]" on-change="valueChanged">
                            <label for$="[[ item.key ]]" class="tree-parent-label">[[ item.label ]]</label>
                        </div>
                        <template is="dom-repeat" items="[[ item.childs ]]" as="child1">
                            <ul class="col-lg-6 col-md-6 col-sm-12 col-xs-12 clearfix">
                                <li class="form-group custom-checkbox clearfix">
                                    <template is="dom-if" if="[[ checkType('textbox', child1.type) ]]">
                                        <label class="text-label">[[ child1.label ]]</label>
                                        <input type="text" autocomplete="off" name$="[[ child1.key ]]" id$="[[ child1.key ]]" class="form-control" on-keyup="valueEntered" parentCheckbox$="[[item.key]]">
                                        <span class="other-info-text">[[ child1.icon ]]</span>
                                    </template>
                                    <template is="dom-if" if="[[ checkType('checkbox', child1.type) ]]">
                                        <input type="checkbox" value$="[[ child1.value ]]" name$="[[ child1.key ]]" id$="[[ child1.key ]]" parentCheckbox$="[[item.key]]"
                                            ; on-change="valueChanged">
                                        <label for$="[[ child1.key ]]" class="custom-unchecked">[[ child1.label ]]
                                        </label>
                                    </template>
                                    <template is="dom-repeat" items="[[ child1.childs ]]" as="child2">
                                        <ul class="level3 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <li class="form-group custom-checkbox clearfix">
                                                <template is="dom-if" if="[[ checkType('textbox', child2.type) ]]">
                                                    <label class="text-label">[[ child2.label ]]</label>
                                                    <input type="text" autocomplete="off" name$="[[ child2.key ]]" class="form-control" id$="[[ child2.key ]]" on-keyup="valueEntered" parentCheckbox$="[[child1.key]]">
                                                    <span class="other-info-text">[[ child2.icon ]]</span>
                                                </template>
                                                <template is="dom-if" if="[[ checkType('checkbox', child2.type) ]]">
                                                    <input type="checkbox" value$="[[ child2.value ]]" name$="[[ child2.key ]]" id$="[[ child2.key ]]" parentCheckbox$="[[child1.key]]"
                                                        on-change="valueChanged">
                                                    <label for$="[[ child2.key ]]" class="custom-unchecked">[[ child2.label ]]
                                                    </label>
                                                </template>

                                                <template is="dom-repeat" items="[[ child2.childs ]]" as="child3">
                                                    <ul>
                                                        <li class="form-group custom-checkbox clearfix">
                                                            <input type="checkbox" value$="[[ child3.value ]]" name$="[[ child3.key ]]" id$="[[ child3.key ]]" parentCheckbox$="[[child2.key]]"
                                                                on-change="valueChanged">
                                                            <label for$="[[ child3.key ]]" class="custom-unchecked">[[ child3.label ]]
                                                            </label>
                                                        </li>
                                                    </ul>
                                                </template>
                                            </li>
                                        </ul>
                                    </template>
                                </li>

                            </ul>
                        </template>
                    </li>
                </template>
            </ul>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-tree-view",
            properties: {
                //Passed from parent
                selectedValues: String,
                //value which will be shared with input behavior
                value: String
            },

            behaviors: [eventHub, window.alloy.uiInputBehavior],

            observers: [
                //'initValues(selectedValues)'
            ],
            attached: function () {
                this.set('relationships', this.question.availableAns);
                this.initValues(this.selectedValues);
            },
            /**
             * This function will be called when we recieved selectedValues from parent
             */
            initValues: function (selectedValues) {
                var self = this;

                if (selectedValues) {
                    selectedValues = JSON.parse(selectedValues);

                    Object.keys(selectedValues).forEach(function (key) {
                        if (key === "child") {
                            var childs = selectedValues[key];
                            self.setChildTargetElementValue(childs)
                        } else {
                            self.setTargetElementValue(key, selectedValues);
                        }


                    });

                }

            },
            setChildTargetElementValue: function (childs) {
                var self = this;
                childs.forEach(function (childFirstLevel) {

                    Object.keys(childFirstLevel).forEach(function (key) {
                        if (key === "child") {
                            var innerChilds = childFirstLevel[key];
                            self.setChildTargetElementValue(innerChilds, childFirstLevel);

                        } else {
                            self.setTargetElementValue(key, childFirstLevel);
                        }
                    });
                });
            },
            setTargetElementValue: function (key, selectedValues) {
                var self = this;
                self.findTargetElement(key).then(function (targetElement) {
                    if (targetElement.type === 'checkbox') {
                        if (selectedValues[key]) {
                            targetElement.checked = true;
                        } else {
                            targetElement.checked = false;
                        }
                    } else {
                        targetElement.value = selectedValues[key];
                    }
                });

            },
            /**
             * On initialization of component dom-repeat may have not finished.
             * Thi)s method will help us to check weather asked toggle is loaded or not for every 100ms interval
             */
            findTargetElement: function (name, numberOfAttempts) {

                var self = this;
                return new Promise(function (resolve, reject) {
                    self.async(function () {
                        numberOfAttempts = numberOfAttempts || 1;
                        if (numberOfAttempts <= 20) {
                            var _targetElement = self.querySelector('input[name="' + name +
                                '"]');
                            if (_targetElement != undefined) {
                                resolve(_targetElement);
                            } else {
                                numberOfAttempts = numberOfAttempts + 1;
                                resolve(self.findTargetElement(name, numberOfAttempts));
                            }
                        } else {
                            reject();
                        }
                    }, 50);
                });
            },
            valueChanged: function (e) {
                if ((e.target).checked)
                    this.checkParent(e.target.parentNode.parentNode, (e.target).checked, e.target.id);
                else
                    this.checkSiblings(e.target, false, e.target.id);
            },
            checkParent: function (node, checked, key) {
                if (checked) {
                    var self = this;
                    var objectMain = this.querySelector("#" + key);
                    if (objectMain) {
                        var parent = objectMain;
                        while (true) {
                            var parentName = parent.attributes["parentcheckbox"];
                            if (!parentName) {
                                break;
                            } else {
                                parent = this.querySelector("#" + parentName.value);
                                if (parent.type == "checkbox") {
                                    parent.checked = checked;
                                }
                            }
                        }
                    }
                }
                this.updatedValues();
            },
            findObject: function (items, key) {
                var self = this;
                var mainObject = items.filter(el => el.key == key);
                if (mainObject && mainObject.length > 0)
                    return mainObject[0];
                else {
                    for (var keyItem in items) {
                        item = items[keyItem];
                        if (item.childs) {
                            var item = self.findObject(item.childs, key);
                            if (item) {
                                return item;
                            }
                        }
                    }
                }
            },
            recursiveCheck: function (mainObject, checked) {
                var self = this;
                if (mainObject != null && mainObject.childs != null) {
                    mainObject.childs.forEach(item => {
                        var objItem = self.querySelector("#" + item.key);
                        if (objItem.type == "checkbox") {
                            objItem.checked = checked;
                        } else {
                            objItem.value = '';
                        }
                        return self.recursiveCheck(item);
                    });
                }
            },
            recursiveCheckSibling: function (mainObject, checked) {
                var self = this;
                if (mainObject) {
                    var parentElement = self.querySelector("#" + mainObject.key);
                    var parentName = parentElement.attributes["parentcheckbox"];
                    if (parentName) {
                        parentElement = self.querySelector("#" + parentName.value);
                        var parentObj = self.findObject(self.relationships, parentName.value);
                        if (parentObj && parentObj.childs != null && parentObj.childs.length > 0) {
                            var allUnChecked = true;
                            parentObj.childs.forEach(item => {
                                var objItem = self.querySelector("#" + item.key);
                                if (objItem.type == "checkbox" && objItem.checked == true) {
                                    allUnChecked = false;
                                } else if (objItem.type == "text" && objItem.value) {
                                    allUnChecked = false;
                                }
                            });
                            if (allUnChecked == true) {
                                if (parentElement.type == "checkbox") {
                                    parentElement.checked = checked;
                                } else {
                                    parentElement.value = '';
                                }
                            }
                            self.recursiveCheckSibling(parentObj, checked);
                        } else {
                            if (parentElement.type == "checkbox") {
                                parentElement.checked = checked;
                            } else {
                                parentElement.value = '';
                            }
                        }
                    }
                }
            },
            checkSiblings: function (node, checked, key) {
                var self = this;
                var objectMain = self.querySelector("#" + key);
                if (objectMain) {
                    var mainObject = self.findObject(self.relationships, objectMain.id);
                    self.recursiveCheck(mainObject, checked);
                    self.recursiveCheckSibling(mainObject, checked);
                }
                this.updatedValues();
            },
            getId: function (childlevel, index) {
                return childlevel + index;
            },
            checkType: function (fixValue, questionValue) {
                if (fixValue && questionValue && questionValue.toLowerCase() === fixValue.toLowerCase())
                    return true;
                else
                    return false;
            },
            valueEntered: function (e) {
                if (e.target.value.length > 0)
                    this.checkParent(e.target.parentNode.parentNode, true, e.target.id);
                else
                    this.checkSiblings(e.target, false, e.target.id);
            },
            updatedValues: function () {
                var self = this;

                // Create a new answer json
                var newValue = {};
                var answerBlank = false;
                this.question.availableAns.forEach(function (currentValue) {
                    var parentNode = self.querySelector('input[name="' + currentValue.key + '"]');
                    var value = parentNode.checked ? parentNode.value : "";
                    if (!value)
                        answerBlank = true;
                    var key = currentValue.key;
                    newValue[key] = value;

                    if (currentValue.childs) {
                        newValue.child = [];
                        currentValue.childs.forEach(function (childFirstLevel) {

                            var keyValue = {};
                            var parentNode = self.querySelector('input[name="' +
                                childFirstLevel.key + '"]');
                            if (parentNode.type === 'checkbox')
                                var value = parentNode.checked ? parentNode.value : "";
                            else
                                var value = parentNode.value;
                            var key1 = childFirstLevel.key;
                            keyValue[key1] = value;

                            if (childFirstLevel.childs) {
                                keyValue.child = [];
                                childFirstLevel.childs.forEach(function (childSecondLevel) {
                                    var keyValue1 = {};
                                    var parentNode = self.querySelector(
                                        'input[name="' + childSecondLevel.key +
                                        '"]');
                                    if (parentNode.type === 'checkbox')
                                        var value = parentNode.checked ? parentNode
                                            .value : "";
                                    else
                                        var value = parentNode.value;

                                    var key2 = childSecondLevel.key;
                                    keyValue1[key2] = value;
                                    keyValue.child.push(keyValue1);
                                });
                            }
                            newValue.child.push(keyValue);
                        });
                    }
                });
                if (!answerBlank)
                    var payload = JSON.stringify(newValue);
                else
                    var payload = " ";
                this.set('value', payload);
            }
        });
    </script>
</dom-module>