<dom-module id="ui-text-area">
    <template>
        <div class$="{{ formGroupClassName }}">
            <label for="input"
                class="control-label"
                hidden$="{{ !label.length }}">
                {{ label }}
            </label>
            <textarea id="input"
                class="form-control"
                value="{{ value::input }}"
                placeholder$="{{ placeholder }}"
                disabled$="{{ disabled }}"
                rows$="{{ rows }}"></textarea>
            <div hidden>
                <content></content>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-text-area",

            properties: {

                value: {
                    type: String,
                    value: ""
                },

                label: {
                    value: "",
                    type: String
                },

                name: String,

                placeholder: String,

                rows: {
                    value: "6",
                    type: String
                },

                errors: {
                    value: function () {
                        return [];
                    },
                    type: Array
                },


                labelInline: {
                    value: false,
                    type: Boolean
                },

                lockSize: {
                    value: String,
                    type: ""
                }
            },

            behaviors: [window.alloy.uiInputBehavior],

            setStyle :function(lockSize) {
              var styles = [];
              if(lockSize){
                  styles.push("resize: "+lockSize);
              }
              return styles.join(";")
            }
        })
    </script>
</dom-module>