<html-import html-href="event/hub.html"></html-import>
<html-import html-href="activities/add-document.html"></html-import>
<html-import html-href="activities/document-with-write-explaination.html"></html-import>
<dom-module id="manual-upload-document">
    <template>
        <style>
            .up-doc-wrap.add-document p.add-document {
                font-size: 12px;
            }

            :host::content.document-with-write-explaination-0 .tab-box.document-with-write-explaination {
                width: 100%;
                padding-right: 0;
            }
        </style>
        <template is="dom-if" if="[[ targetReady ]]" restamp>

            <template is="dom-if" if="[[isWriteExplanation]]" restamp>
                <document-with-write-explaination additional-info="[[additionalInfo]]" additional-info-class="[[additionalInfoClass]]" target-url="[[ target ]]"
                    metadata="[[ metadata ]]" file-name="[[ fileName ]]" tags="[[ tags ]]" base-url="[[ configuration.services.requiredCondition ]]" visible-button="[[visibleButton]]"
                    is-file-required="[[isFileRequired]]" upload-button-text="[[uploadButtonText]]" decreased-top-value="129"
                    adjustable-height="240" request-id="[[requestId]]" need-to-write-explanation="[[isWriteExplanation]]"></document-with-write-explaination>
            </template>
            <template is="dom-if" if="[[!isWriteExplanation]]" restamp>
                <add-document id="addDocument" additional-info="[[additionalInfo]]" additional-info-class="[[additionalInfoClass]]" target="[[ target ]]"
                    metadata="[[ metadata ]]" file-name="[[ fileName ]]" tags="[[ tags ]]" base-url="[[ configuration.services.requiredCondition ]]" visible-button="[[visibleButton]]"
                    need-to-write-explanation="[[isWriteExplanation]]" is-file-required="[[isFileRequired]]" upload-button-text="[[uploadButtonText]]"
                    decreased-top-value="129" adjustable-height="240"></add-document>
            </template>


        </template>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "manual-upload-document",

            properties: {
                additionalInfo: {
                    type: String,
                    value: "Note - if you like, you can provide this information later"
                },
                uploadButtonText: {
                    type: String,
                    value: "NEXT"
                },
                isWriteExplanation: {
                    type: Boolean,

                    computed: "computeIsWriteExplanation(selectedRequested)"

                },
                visibleButton: {
                    type: Boolean,
                    value: false
                },
                targetReady: Boolean,
                additionalInfoClass: {
                    type: String,
                    value: "add-document-note text-center"
                },
                isFileRequired: {
                    type: Boolean,
                    value: false
                },

                selectedRequested: Object,
                entityType: String,
                entityId: String,
                title: String,

                metadata: Object,
                fileName: String,
                tags: Array,
                target: String,
                baseUrl: {
                    type: String,
                    value: null
                },
                requestId: String,
                currentSelectedIndex: Number,
                refreshSummaryList: {
                    type: Boolean,
                    value: false
                },
                subscriptionList: {
                    type: Array,
                    value: []
                }

            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            observers: ["onSelectedRequestedChanged(selectedRequested)"],
            
            attached: function () {
                if (this.configuration.services.requiredCondition == undefined) {
                    throw new Error("requiredCondition service not found");
                }
                var self = this;
                self.baseUrl = this.configuration.services.requiredCondition;
                this.documentUpload = self.subscribe("document:upload", function () {
                    self.handleDocumentUploaded.call(self);
                }.bind(this));
                this.documentSkipped = self.subscribe("document:skipped", function () {
                    self.handleDocumentSkipped.call(self);
                }.bind(this));

                this.documentUpdated = self.subscribe("documents.updated", function () {
                    self.handleDocumentUploaded.call(self);
                }.bind(this));

            },

            detached: function () {
                //Unsubscribe all subscriptions
                this.unsubscribe(this.documentUpload);
                this.unsubscribe(this.documentSkipped);
                this.unsubscribe(this.documentUpdated);

            },
            computeIsWriteExplanation: function (selectedRequested) {
                return selectedRequested.requestType !== null && selectedRequested.requestType.isExplanation;
            },
            onSelectedRequestedChanged: function (selectedRequested) {
                this._setDocumentParameters(selectedRequested);
            },
            _setDocumentParameters: function (selectedRequested) {
                var self = this;


                self.set("entityId", selectedRequested.entityId || "");
                self.set("entityType", selectedRequested.entityType || "");

                self.set("currentSelectedIndex", selectedRequested.index);

                var requestType = selectedRequested.requestType || {};
                self.set("title", requestType.title || "");
                var requestParameterValues = self._getRequestParameterValues(requestType);
                var metadata = requestParameterValues.metadata || {};
                self.set("metadata", metadata);

                self.set("fileName", requestParameterValues.documentName || "");
                self.set("tags", requestParameterValues.tags || []);
                self.set("requestId", metadata != null ? metadata.requestId || "" : "");
                self.set("target", [self.entityType, self.entityId, self.requestId, "submit"].join("/"));
                self._setTargetReady(true);


            },

            _getRequestParameterValues: function (requestType) {
                var self = this;
                var requestParameterValues = {};
                if (requestType.activity != null)
                    if (requestType.activity.parameters != null)
                        requestParameterValues = self._generateRequestParameterValues(requestType.activity.parameters);
                return requestParameterValues;
            },

            _generateRequestParameterValues: function (params) {
                var self = this;

                var interpolatedTemplate =
                    JSON.stringify(params);

                Object.keys(self.selectedRequested).forEach(function (key) {
                    interpolatedTemplate = interpolatedTemplate.replace(
                        // Match occurrences of {key} (with curlies)
                        new RegExp("\{" + key + "\}", "g"),
                        self.selectedRequested[key]
                    );
                });

                return JSON.parse(interpolatedTemplate);
            },
            computecurrentTabIndex: function (selectedRequested) {
                return parseInt(selectedRequested.index);
            },
            _setTargetReady: function (value) {
                this.set("targetReady", value);
            },
            handleDocumentUploaded: function () {
                var self = this;
                if (self.refreshSummaryList)
                    self.fire("w2s-and-paystubs-refresh");
                else
                    this.moveToNextCondition("done");
            },
            handleDocumentSkipped: function () {
                this.moveToNextCondition("skipped");
            },

            moveToNextCondition: function (actionName) {
                this._setTargetReady(false);
                var payload = {
                    actionName: actionName,
                    currentSelectedIndex: this.currentSelectedIndex,
                    requestId: this.requestId
                };
                this.fire("required-condition-completed", payload);
            }
        });
    </script>
</dom-module>