<!-- imports -->
<html-import html-href="services/required-condition-service.html"></html-import>
<html-import html-href="borrower-portal/post-application/post-application-left-navigation.html"></html-import>
<html-import html-href="borrower-portal/post-application/post-application-right-content-area.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<!-- Define element/dom-module -->
<dom-module id="post-application-container">
    <!-- Template -->
    <template>
    <style>
    	.col-centered{min-height:85vh}
		.modal-open .col-centered{min-height:inherit; height:100vh; overflow:hidden}
		@media only screen and (max-width: 767px) {
			.col-centered{min-height:auto}
		}
    </style>
        <!-- html -->
        <http-request-promisified id="$http"></http-request-promisified>
        <template is="dom-if" if="[[!isEmpty]]" restamp>
            <div class="full-height clearfix">
                <div class="leftpanel post-app-left clearfix">
                    <post-application-left-navigation required-conditions="[[requiredConditions]]" selected-requested-index="[[selectedCurrentIndex]]"></post-application-left-navigation>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 no-pad clearfix"></div>
                <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12 animated fadeInUp no-pad">
                    <div class="text-center">
                        <div hidden$="[[isLoading]]">
                            <div class$="[[ rightContentClasses ]]">
                                <ui-form id="form">
                                    <post-application-right-content-area selected-requested="[[ selectedRequested ]]" application-number="[[ applicationNumber ]]"></post-application-right-content-area>
                                </ui-form>
                            </div>
                        </div>
                    <div class="skipall">
                            <div class="col-lg-11 col-md-12 col-sm-12 col-xs-12">
                            	<a  on-click="skipAllButtonClicked">>> SKIP ALL</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <!-- Loading section: START -->
        <div class="loading-container animated fadeInUp clearfix" hidden$="[[!isLoading]]">
            <h3>Hold on just a few more seconds.</h3>
            <loading-indicator></loading-indicator>
        </div>
        <!-- Loading section: END -->
        <event-hub id="hub"></event-hub>
        <required-condition-service id="requiredConditionService"></required-condition-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <url-parser id="urlParser"></url-parser>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <!-- script -->
    <script>
        (function (Polymer) {
            Polymer({
                is: 'post-application-container',

                properties: {
                    isLoading: {
                        type: Boolean,
                        value: true
                    },

                    //This property will have classes like col-lg-XX for right conten are
                    rightContentClasses: {
                        type: String,

                        value: "col-lg-5 col-md-8 col-sm-8 col-xs-12 col-centered spacing"

                    },
                    applicationNumber: String,
                    isEmpty: {
                        type: Boolean,
                        value: true,
                        computed: "computeIsEmpty(selectedRequested)"
                    },
                    selectedCurrentIndex: {
                        type: Number,
                        value: 0

                    },
                    selectedRequested: Object,
                    requiredConditions: Object,
                    //This property will decide  whether to use full area or just center for section
                    fullWidth: {
                        type: Boolean,
                        value: false
                    },
                    previousSelectedIndex: Number,
                    subscriptionList: {
                        type: Array,
                        value: []
                    },
                    loggedInUserName: String

                },
                behaviors: [eventHub,
                    ensureDependenciesBehavior],

                listeners: {
                    "required-condition-adjust-width": "handleAdjustWidth",
                    "required-condition-completed": "handleNextVisibility"
                },

                attached: function () {
                    var self = this;
                    self.applicationNumber = self.$.urlParser.getParams().id;                   

                    self.ensure("questionnaireService")
                                .then(function (questionnaireService) {
                                        return  questionnaireService.getStatus(self.applicationNumber).then(function (response) {
                                                    self.parseQuestionnaireStatus(response);
                                                });
                                    })

                    if (window.jQuery) {
                        self.init();
                    }
                    else {
                        window.addEventListener("WebComponentsReady", self.init());
                    }
                    this.subscriptionList.push(self.subscribe("post-section:next", function (payload) {
                        if (payload && payload.selectedCurrentIndex !== undefined) {
                            self.changePostSection(payload.selectedCurrentIndex);
                        }
                    }.bind(this)));
                },
                parseQuestionnaireStatus: function (questionnaire) {
                    if (questionnaire.status && questionnaire.status.toLowerCase() === 'application') {
                                window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
                            
                            }
                },
                _getApplicant:function(sourceBy,applicants,loggedInUserName){
                    return _.find(applicants, function (applicant) {
                                        //return (applicant.userName === sourceBy );
                                        return (sourceBy.indexOf(applicant.userName) > -1 );
                                    });
                },
                init: function () {
                    var self = this;
                    self.isLoading = true;
                    self.applicationNumber = self.$.urlParser.getParams().id;                   
                    self.fetchCurrentUser().then(function (response) {
                        self.set("loggedInUserName", response.username)
                        self.ensure("requiredConditionService")
                            .then(function (requiredConditionService) {
                                return requiredConditionService.getRequiredConditionsByApplicationNumber(self.applicationNumber)
                            })
                            .then(function (results) {                                                              
								self.ensure("questionnaireService")
								.then(function (questionnaireService) {
									return questionnaireService.fetchApplicantWithSpouseName(self.applicationNumber)                                    
								})
								.then(function (applicants) {
									var loggedInApplicant = applicants.filter(function (memberItem) {
										return memberItem.userName === self.loggedInUserName;
									});
									if(loggedInApplicant.length > 0){
										// For borrower and spouse, merge the conditions for both
                                        var usernames = [];
                                        usernames.push(loggedInApplicant[0].userName);
                                        if(loggedInApplicant[0].spouseUserName)
                                        usernames.push(loggedInApplicant[0].spouseUserName);
                                        
                                        var totalBorrowerConditions = 0;
                                            var totalSpouseConditions  = 0;

											results = results.filter(function (memberItem) {
                                              //  if(loggedInApplicant[0].spouseUserName && memberItem.sourceBy.toLowerCase() === loggedInApplicant[0].spouseUserName.toLowerCase())
                                              if(loggedInApplicant[0].spouseUserName &&  self.isSpouseExist(memberItem.recipients,loggedInApplicant[0].spouseUserName.toLowerCase()))
                                                    totalSpouseConditions = totalSpouseConditions + 1;  

                                                //return (usernames.indexOf(memberItem.sourceBy) > -1);    
                                                return self.compareMasterTypeWithTransactions(memberItem) || self.compareUserRecepients(usernames,memberItem.recipients);
                                            });

                                            if(totalSpouseConditions>0){
                                            _.forEach(results, function (result) {
                                                result.applicant = null;
                                                result.applicant = self._getApplicant(result.recipients,applicants,self.loggedInUserName);
                                            });
										}
										// For non spouse co-borrower, show only their conditions
										else{
											// filter the results based on the logged in user - loggedInUserName
											results = results.filter(function (memberItem) {
												//return memberItem.sourceBy === self.loggedInUserName;
                                               // return (memberItem.requestType!=null && memberItem.requestType.masterType!== undefined && memberItem.requestType.masterType.toLowerCase() === "transaction") || memberItem.recipients.indexOf(self.loggedInUserName) > -1;
                                               return self.compareMasterTypeWithTransactions(memberItem) || memberItem.recipients.indexOf(self.loggedInUserName) > -1;
											});
										}
									}								
									
									//results.sort(self._compareRequestTypes);
									results = self._setRequireConditionIndex(results);

									self.set('requiredConditions', results);
									self.changePostSection();
                                    self.isLoading = false;
								})
                            })
                            .catch(function (error) {
                                console.warn(error);
                            });
                    });

                },
                compareMasterTypeWithTransactions(memberItem){
                   return (memberItem.requestType!=null && memberItem.requestType.masterType!== null && memberItem.requestType.masterType.toLowerCase() === "transaction");                    
                },
                compareUserRecepients(usernames,recipients){          
                    return _.find(usernames, function (user) {                                       
                        return (recipients.indexOf(user) > -1 );
                    });
                },
                isSpouseExist(recipients,spouseusername){
                    return recipients.indexOf(spouseusername) > -1
                },
                fetchCurrentUser: function () {
                    if(this.configuration.services.security == undefined){
                        throw new Error("security service not found");
                    }
                    return this.$.http.get("/", this.configuration.services.security);
                },

                detached: function () {
                    //Unsubscribe all subscriptions
                    this.subscriptionList.map(function (subscription) {
                        this.unsubscribe(subscription);
                    }, this);
                },

                changePostSection: function (currentIndex) {
                    var self = this;
                    var isLogoClick = false;
                    
                    if (currentIndex !== undefined) {
                        self.selectedCurrentIndex = currentIndex;
                        isLogoClick = true;
                    }
                    var selectedRequestedCondition = self._getSelectedRequestedCondition(self.selectedCurrentIndex, isLogoClick);
                    if (selectedRequestedCondition === null){
                        self.completePostApplication().then(function (response) {
                            if (response)
                                self.goToWelcomePersonalDashboard();
                        }).catch(function (error) {
                            var errorSummary = "";
                            if (error && error.responseJSON && error.responseJSON.message)
                                errorSummary = error.responseJSON.message;
                            console.warn(errorSummary);
                        });
                    }

                    self._setSelectedRequestedCondition(selectedRequestedCondition);
                },

                computeIsEmpty: function (selectedRequested) {
                    return selectedRequested === null;
                },
                _setRequireConditionIndex: function (results) {
                    var index = 0;
                    _.forEach(results, function (result) {
                        result.index = index;
                        index = index + 1;
                    });
                    return results;
                },
                _setSelectedRequestedCondition: function (selectedRequestedCondition) {
                    var self = this;
                    self.set("selectedRequested", selectedRequestedCondition);
                    self.set("selectedCurrentIndex", selectedRequestedCondition.index); 
                     if(selectedRequestedCondition.requestType.isSyncRequired || selectedRequestedCondition.requestType.conditionSubCategory.toLowerCase() === ("AssetsLargeDeposits").toLowerCase() || selectedRequestedCondition.requestType.conditionSubCategory.toLowerCase() === ("Assets").toLowerCase())
                         this.fire("required-condition-adjust-width", 90);
                     else 
                        this.fire("required-condition-adjust-width", 40);
                },
                _getSelectedRequestedCondition: function (index, isLogoClick) {

                    if (parseInt(index) === 0 && !isLogoClick)
                        return this._filterMostRecentRequestedConition();
                    else
                        return this._findByIndex(index);

                },
                _findByIndex: function (index) {
                    var self = this;
                    self.requiredConditions = self.requiredConditions || {};
                    return self.requiredConditions
                                    .filter(function (requiredCondition) {
                                        return parseInt(requiredCondition.index) === parseInt(index);
                                    })[0] || null;

                },
                _filterMostRecentRequestedConition: function () {
                    var self = this;
                    self.requiredConditions = self.requiredConditions || {};
                    return self.requiredConditions
                                    .filter(function (requiredCondition) {
                                        return requiredCondition.status.toLowerCase() === "requested" && !requiredCondition.skipped;
                                    })[0] || null;


                },
                /**
                 * This function will return different list of classes based on property passed from json
                 */
                setRightContentClasses: function (sectionWidth) {
                    var _classes = ["col-centered"];

                    //If full width availabe for current section
                    if (this.fullWidth) {
                        _classes.push("col-lg-9 col-md-9 col-sm-10 col-xs-12");
                    } else if (sectionWidth) {
                        var _columns = Math.round(12 * (parseFloat(sectionWidth)) / 100);
                        _classes.push("col-lg-" + _columns + " col-md-" + (_columns + 1) + " col-sm-" + (_columns + 1) + " col-xs-12 spacing");
                    } else {
                        _classes.push("col-lg-5 col-md-7 col-sm-8 col-xs-12 ");
                    }

                    //
                    this.rightContentClasses = _classes.join(" ");
                },
                _compareRequestTypes: function (a, b) {
                    if (a.requestType.conditionCategory > b.requestType.conditionCategory) { return 1; }
                    else if (a.requestType.conditionCategory < b.requestType.conditionCategory) { return -1; }
                    else {
                        if (b.requestType.title > a.requestType.title) return 1;
                        else if (b.requestType.title < a.requestType.title) return -1;
                        else return 0;
                    }
                },
                handleAdjustWidth: function (e) {
                    e.stopPropagation();
                    var self = this;
                    self.setRightContentClasses(e.detail);

                },
                handleNextVisibility: function (e) {
                    var self = this;
                    var payload = e.detail || {};
                    if (payload != null) {
                        var selectedCurrentIndex = payload.currentSelectedIndex + 1;
                        var actionName = payload.actionName || "";
                        self.set("previousSelectedIndex", payload.currentSelectedIndex);
                        self.set("selectedCurrentIndex", selectedCurrentIndex);

                        if (actionName.toLowerCase() == "skipped") {
                            this.ensure("requiredConditionService")
                                    .then(function (services) {
                                        return services.markAsSkippedByApplicationNumberWithRequestId(self.applicationNumber, payload.requestId);
                                    }).then(function () {

                                        if (self.ensureHasLastRequiredConditionMet()) {
                                            return self.completePostApplication().then(function (response) {

                                                if (response)
                                                    self.goToWelcomePersonalDashboard();

                                            }).catch(function (error) {
                                                var errorSummary = "";
                                                if (error && error.responseJSON && error.responseJSON.message)
                                                    errorSummary = error.responseJSON.message;


                                                console.warn(errorSummary);
                                            });



                                        }
                                        else
                                            self.init();
                                    });
                        }
                        else
                            self.init();
                    }

                },
                completePostApplication: function () {
                    var self = this;
                    return this.ensure("questionnaireService").then(function (service) {
                        return service.completePostApplication(self.applicationNumber);
                    });
                },
                ensureHasLastRequiredConditionMet: function () {
                    return this.requiredConditions.length === this.selectedCurrentIndex;
                },
                /**
                 * Redirect to welcome-personal-dashboard
                 */
                goToWelcomePersonalDashboard: function () {

                    window.location.hash = "#/welcome-personal-dashboard/id:" + this.applicationNumber;

                },
                skipAllButtonClicked: function(){
                    var self = this;
                    self.isLoading = true;
                    self.completePostApplication().then(function (response) {
                    if (response)
                        self.goToWelcomePersonalDashboard();
                    }).catch(function (error) {
                    var errorSummary = "";
                    if (error && error.responseJSON && error.responseJSON.message)
                        errorSummary = error.responseJSON.message;


                    console.warn(errorSummary);
                    });
                  self.isLoading = false;
                 
                }
            });
        })(Polymer)
    </script>

    <!--  <style>
#micro-app-host{ height:inherit;}
</style>-->

</dom-module>