<html-import html-href="event/hub.html"></html-import>
<dom-module id="post-application-left-navigation">
    <template>

        <div class="left">
            <div class="todo">Required Condition</div>
            <template is="dom-repeat"
                items="[[requiredConditions]]">
                <div class$="{{ isRequestCompleted( index, selectedRequestedIndex, item.status,item.skipped) }}"
                    on-click="changeSection">
                    [[ displayIndex(index) ]]. &nbsp; [[ item.requestType.title ]] <span class="df df-tick">&nbsp;</span>
                    <div hidden$="[[!hasApplicant(item)]]">  For: [[item.applicant.firstName]]</div>
                </div>
            </template>
        </div>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "post-application-left-navigation",

            properties: {
                requiredConditions: Object,
                selectedRequestedIndex: Number
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            hasTransactionCondition: function(item){
                var isTransactionCondition = false;
                if(item.requestType.masterType!== null && item.requestType.masterType.toLowerCase() === "transaction")
                {
                    isTransactionCondition =true;
                }
                return isTransactionCondition;
            },   
            hasApplicant : function(item)
            {
                return (item.applicant !== undefined && item.applicant !== null && !this.hasTransactionCondition(item));
            },
            displayIndex: function (index) {
                return index + 1;
            },

            isRequestCompleted: function (index, selectedRequestedIndex, currentStatus, skipped) {
                var self = this;
                var classes = "off";
                var mostRecentRecordIndex = self._filterMostRecentRequestedConditionIndex();
                if (index === 0 && (selectedRequestedIndex === undefined || selectedRequestedIndex === null)) {
                    return "on";
                }
                else {
                    if (parseInt(index) === parseInt(selectedRequestedIndex))
                        return "on";
                    if (currentStatus.toLowerCase() !== "requested") {
                        return "completed";
                    }
                    if (skipped || (mostRecentRecordIndex === parseInt(index)))
                        return "skipped";
                }

                return classes;
            },

            /* This function enables user to change amongst the already visited sections */
            changeSection: function (e) {
                var self = this;
                var mostRecentRecordIndex = self._filterMostRecentRequestedConditionIndex();
                if(mostRecentRecordIndex === null || mostRecentRecordIndex === undefined)
                     mostRecentRecordIndex = e.model.item.index;

                var currentIndex = e.model.item.index;
                // allow change of section only if the section is already completed or skipped
                if (currentIndex >= 0 && currentIndex <= mostRecentRecordIndex) {
                    this.$.hub.publish("post-section:next", {
                        selectedCurrentIndex: currentIndex
                    });
                }
            },

            /* This function returns the index of the record that needs to be filled in next */
            _filterMostRecentRequestedConditionIndex: function () {
                var self = this;
              
                if(self.requiredConditions === null || self.requiredConditions === undefined)
                 return null;

                var requestedConditionList = self.requiredConditions
                    .filter(function (requiredCondition) {
                        return requiredCondition.status.toLowerCase() === "requested" && !requiredCondition.skipped;
                    });
                
                 if(requestedConditionList && requestedConditionList.length < 1)
                     return null;
                 else
                    return requestedConditionList[0].index;
            }
        });
    </script>
</dom-module>