<html-import html-href="services/application-service.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<dom-module id="welcome-post-application">
    <template>
        <div class$="{{ backgroundClass }}">
            <div class="vertical-center vcenter-vspace clearfix">

                <div class="welcome-docit text-center animated fadeInUp clearfix" hidden$="[[isLoading]]">
                   
                        <h1>Looks like you’re all done. [[loanOfficerName]] will be in touch shortly.</h1>
                  
                    <div class="text-center getstartbtn">
                        <button class="btn btn-lg btn-primary" on-click="goToPostApplication" type="submit">VIEW MY DASHBOARD</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Loading section: END -->
        <url-parser id="urlParser"></url-parser>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <http-request-promisified id="$http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <identity-service id="identityService"></identity-service>
        <team-service id="teamService"></team-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <logout-service id="logout"></logout-service>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "welcome-post-application",

            properties: {
                userName: String,
                applicationNumber: String,

                /**
                 * This contains list of applicants in application
                 */
                applicants: Object,


                applicantsName: {
                    type: String,
                    computed: 'computeApplicantsName(applicants)'
                },
                /**
                 * to show loading indicator
                 */
                isLoading: {
                    type: Boolean,
                    value: true
                },
                loanOfficerDetails: {
                    type: Object,
                    value: {}
                }

                /**
                 * This needed to bind borrower with application
                 */
                // borrower: {
                //     type: Object,
                //     computed: 'computeBorrower(applicants)'
                // }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                'setClass(backgroundImageOn)',
            ],

            /**
             * Attach event for this component
             */
            attached: function () {
                var self = this;
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })
                //Temporary application number from url params
                self.applicationNumber = this.$.urlParser.getParams().id || "";
                self.fetchLoanOfficerData(self.applicationNumber);
                self.getUserDetails();
                // if (self.applicationNumber != "") {
                //     //Wait for questionaier service to load
                //     this.ensure("applicationService")
                //         .then(function (applicationService) {
                //             applicationService.getByApplicationNumber(self.applicationNumber)
                //                 .then(function (response) {
                //                     self.applicants = response.applicants;
                //                     self.isLoading = false;
                //                 })
                //         })
                // } else {
                //     self.isLoading = false;
                // }
            },

            getUserDetails: function () {
                var self = this;
                this.ensure("identityService", "teamService")
                        .then(function (itServices) {
                            itServices.identityService.getCurrentUser()
                                    .then(function (loggedInUser) {
                                        self.set("username", loggedInUser.username);
                                        self.fetchApplicant()
                                    })
                        })
                        .catch(function (error) {
                            console.warn(error);
                        })
            },

            fetchApplicant: function () {
                var self = this;
                self.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                            return questionnaireService.fetchApplicantWithSpouseName(self.applicationNumber)
                        })
                        .then(function (applicants) {
                            self.applicants = applicants;
                            self.isLoading = false;
                        })
                        .catch(function (error) {
                            if(!self.applicants)
                            {
                                self.logout()
                            }
                            console.warn(error);
                        })
            },
            logout: function () {
                this.$.logout.logout();
            },
            /**
             * compute 'ApplicantsName'
             */
            computeApplicantsName: function (applicants) {
                var self = this;
                var applicantName = [];
                var coApplicantName = [];
                if (applicants && applicants.length > 0) {
                    _.forEach(applicants, function (applicant) {
                        if (applicant.actualApplicantType == "CoBorrower" || applicant.actualApplicantType == "CoBorrowerSpouse") {
                            if (applicant.userName == self.username || (applicant.spouseUserName && applicant.spouseUserName == self.username)) {
                                coApplicantName.push(applicant.firstName);
                            }
                        }
                        else {
                            applicantName.push(applicant.firstName);
                        }
                    });
                }
                if (coApplicantName && coApplicantName.length > 0) {
                    return coApplicantName.join(", ").replace(/,([^,]*)$/, ' and $1');
                }
                return applicantName.join(", ").replace(/,([^,]*)$/, ' and $1');
            },

            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            },

            /**
             * Required to bind borrower with application
             */
            // computeBorrower: function (applicants) {
            //     if (applicants && applicants.length > 0) {
            //         var _borrower = _.find(applicants, { isPrimary: true });

            //         return (_.isUndefined(_borrower) ? {} : _borrower.email);
            //     }
            //     return undefined;
            // },

            /**
             * Redirect to post-application (questionaier)
             */
            goToPostApplication: function (e) {
                //Redirect
                var self = this;
                this.ensure("questionnaireService")
                        .then(function (questionnaireService) {
                                 var updateStatus= questionnaireService.updateStatus(self.applicationNumber, "WelcomePostApplication");
                                 var completeAppliccation =questionnaireService.completePostApplication(self.applicationNumber);
                                 return Promise.all([updateStatus, completeAppliccation])
                                    .then(function (response) {
                                        if (response){
                                             window.location.hash = "#/welcome-personal-dashboard/id:" + self.applicationNumber;
                                        }
                                    })
                                    .catch(function (error) {
                                        console.warn(error);
                                    });
                        });
            },
            fetchLoanOfficerData: function (temporaryApplicationNumber) {
                var self = this;
                self.ensure('assignmentService').then(function (assignmentService) {
                    assignmentService.getLoanOfficer(temporaryApplicationNumber).then(function (
                        response) {
                            if (response) {
                                self.ensure('userProfileService').then(function (userProfileService) {
                                // get the user's name and title, contact information
                                 userProfileService.fetchUserProfile(response.assignee).then(function (response) {
                                    if(response.firstName){
                                    self.set("loanOfficerName", response.firstName);
                                    }
                                   });
                   
                                });
                            }
                            else {
                                self.set('loanOfficerName','We')
                            }

                    });
                }).catch(function(error){
                    self.set('loanOfficerName','We')
                })
            }
        });
    </script>
</dom-module>