<dom-module id="assets-summary">
    <template>
        <style>
            .bank-statements li {
                width: 35%;
            }

            .bank-statements .secndrow {
                width: 65%;
            }

            .bank-statements .titles div {
                float: left;
                display: inline-block;
                width: 50%;
            }

            .bank-statements .row {
                margin: 0;margin-bottom:8px;
            }

            .bank-statements .row div {
                float: left;
                width: 50%;
                display: inline-block;
            }

            .bank-statements .banklogo img {
                background: #fafafa;
                padding: 5px;
                width:60px;
            }

            @media only screen and (max-width:800px) {
                .bank-statements {
                    overflow-x: auto
                }
                .bank-statements ul,
                .bank-statements .total,
                .bank-statements hr {
                    width: 800px;
                }
            }
			@media only screen and (max-width:479px) {
			   .bank-statements ul,
                .bank-statements .total,
                .bank-statements hr {
                    width: 450px;
                }
			   
			   .bank-statements li {
					width: 20%;
				}
				.bank-statements .secndrow {
					width: 80%;
				}
            }
			
        </style>
        <template is="dom-if" if="{{ hasAssets(items) }}">
            <assets-scene-title title-text="Bank & Investment"></assets-scene-title>

            <div class="bank-statements clearfix">
                <ul class="titles clearfix">
                    <li class="title">Institution</li>
                    <li class="secndrow clearfix">
                        <div class="title text-center">Account#</div>
                        <div class="title text-right">Total</div>
                    </li>
                </ul>

                <template is="dom-repeat"
                    items="[[ items ]]"
                    as="asset">
                    <ul class="clearfix">
                        <li class="banklogo" hidden$="[[!isBase64(asset.Logo)]]">
                            <img src="[[asset.Logo]]" alt="[[asset.Name]]" />                   
                            <div class="text-center">[[asset.Name]]</div>
                        </li>
                        <li hidden$="[[ isBase64(asset.Logo) ]]"> [[asset.Name]]</li>
                        <li class="secndrow clearfix">
                            <template is="dom-repeat" items="[[ asset.Accounts ]]" as="account">
                                <div class="row clearfix">
                                    <div class="text-center">
                                            <template is="dom-if" if="[[ isAccountNumber(account.Mask) ]]">
                                                    ([[maskAccountNumber(account.Mask)]])
                                             </template>
                                        &nbsp;</div>
                                    <div class="text-right">
                                        <alloy-format currency="[[account.TotalBalance]]" class="whitespnw"></alloy-format>
                                    </div>
                                </div>
                            </template>
                        </li>
                    </ul>
                    <hr />

                </template>

                <div class="total text-right clearfix">
                    Total <span><alloy-format currency="[[ totalAssets ]]" class="whitespnw"></alloy-format></span>
                </div>
        </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "assets-summary",

            behaviors: [alloy.actions],

            properties: {
                /**
                 * List of assets to display grouped by institution
                 * @type {array<array<object>>}
                 */
                items: {
                    type: Array,
                },

                /**
                 * Sum of all assets in items
                 * @type {string}
                 */
                totalAssets: {
                    type: String,
                    value: "0",
                    computed: "computeTotalAssets(items)"
                },
            },

            computeTotalAssets: function (items) {
                var totalAssets = 0;
                _.forEach(items, function (item) {
                    _.reduce(item.Accounts, function (sum, account) {
                        if (typeof account.TotalBalance !== "undefined" && account.TotalBalance != null)
                            totalAssets = totalAssets + parseFloat(account.TotalBalance);

                    }, 0)
                })
                return totalAssets;
            },
            isAccountNumber: function (accountNumber) {
                if (accountNumber)
                    return true;
                else
                    return false;
            },
            maskAccountNumber: function(str){
                str = str.replace(/.(?=.{4})/g, '');
                return str;
            },
            
            isBase64: function (str) {
                if (str) {
                    var strippedString = str.substr(22);
                    if (strippedString)
                        return true;
                }
                return false;
            },

            hasAssets: function (assets){
                return assets.length > 0;
            }
        })
    </script>
</dom-module>