<dom-module id="borrower-declarations">
    <template>
        <style>
            span {
                display: block;
                color: #95989A;
                font-size: 12px;
                margin-bottom: 3px
            }

            span a {
                color: #0095d0;
                text-decoration: none
            }

            .col-lg-6 {
                padding: 0 20px
            }
			.blank {
                width: 100%;
                height: 20px;
                clear: both
            }
        </style>
        <div class="declaration clearfix">
            <h3>Declarations</h3>
            <template is="dom-repeat" items="[[ questionSections ]]">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <template is="dom-repeat" items="[[ getLeftList(item.questionList) ]]">
                        <template is="dom-if" if="{{ checkCustomType('DeclarationSelectBool', item.questionType) }}">
                            [[ item.questionItemNo ]] [[ item.questionText ]]
                            <strong>[[ checkAnswer(item.answer, item) ]]</strong>
                            <div class="exp">
                            <template is="dom-if" if="{{ checkAnswerToShow(item.answer, item.helpText) }}">
                                [[ item.answer ]]
                            </template>
                            </div>
                            <div class="blank">&nbsp;</div>
                        </template>
                        <template is="dom-if" if="{{ !checkCustomType('DeclarationSelectBool', item.questionType) }}">
                            [[ item.questionText ]]: <strong>[[ checkAnswerNonDeclarationSelectBool(item.answer, item.questionType) ]]</strong><br/>
                        </template>
                    </template>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <template is="dom-repeat" items="[[ getRightList(item.questionList) ]]">
                        <template is="dom-if" if="[[ checkCustomType('DeclarationSelectBool', item.questionType) ]]">
                            [[ item.questionItemNo ]] [[ item.questionText ]]
                            <strong>[[ checkAnswer(item.answer, item) ]]</strong>
                            <div class="exp">
                            <template is="dom-if" if="[[ checkAnswerToShow(item.answer, item.helpText) ]]">
                                [[ item.answer ]]
                            </template>
                            </div>
                            <div class="blank">&nbsp;</div>
                        </template>
                        <template is="dom-if" if="[[ !checkCustomType('DeclarationSelectBool', item.questionType) ]]" restamp>
                            <template is="dom-if" if="[[ checkCustomType('TreeView', item.questionType) ]]">
                                <div id$="{{ addUniqueId(index) }}" class="declaration-treeview-wrapper">
                                    <span>[[  item.questionText ]]: </span> [[ checkAnswerTreeView(index, item.answer, item.questionText) ]]
                                </div>
                                <div class="blank">&nbsp;</div>
                            </template>

                            <template is="dom-if" if="[[ !checkCustomType('TreeView', item.questionType) ]]" restamp>
                                [[ item.questionText ]]: <strong>[[ checkAnswerNonDeclarationSelectBool(item.answer) ]]</strong><br/>
                                <div class="blank">&nbsp;</div>
                            </template>
                        </template>
                    </template>
                </div>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: "borrower-declarations",

            getClass: function (index) {
                if (index % 2 != 0) {
                    return "blank clearfix"
                }
            },

            checkCustomType: function (type, questionType) {
                return type && questionType && questionType.toLowerCase() === type.toLowerCase();
            },

            checkAnswer: function (answer, item) {              
				if (item.questionType.toLowerCase() !== "declarationselectbool")
				{
					if (!answer) {
						return "No"
					}

					return "Yes"
				}
				else
				{
                    if(!answer)
                    {
                        return "";
                    }
                    else if(answer === "[[false]]")
                    {
                        return "No";
                    }
					else if ((!answer) || (item.helpText !== "[[merged]]" && answer === "false")){
						
						return "No"
					}
					
					return "Yes"
				}
            },
			
			
            getLeftList: function (items) {
                return _.slice(items, 0, Math.ceil(items.length/2))
            },

            getRightList: function (items) {
                return _.slice(items, Math.ceil(items.length/2), items.length)
            },

			checkAnswerToShow: function (answer, helpText) {
                if (helpText === "[[merged]]" && answer !== "[[na]]" && answer !== "[[false]]") {
                    return true
                }               
                if ((answer !== "false" && answer !== "true" && answer !== "") && helpText !== "[[merged]]") {					
                    return true
                }               
                return false
            },

			checkAnswerNonDeclarationSelectBool: function (answer) {
                if (answer === "true") {
                    return "Yes"
                }				
				if (answer === "false") {
                    return "No"
                }
                if (answer === "[[na]]"){
                    return ""
                }
				if (answer) {
                    return answer
                }                
            },
            addUniqueId: function (index) {
                return "declaration" + index;
            },
            checkAnswerTreeView: function (index, answer, questionText) {
                var answerJson = JSON.parse(answer);
                var answerString = "";
                for (var key in answerJson) {
                    if (answerString)
                        answerString += " <br/>";
                    var value = answerJson[key];
                    var unkownKey = Object.keys(value)[0];
                    answerString += '<strong>' + value[unkownKey] + '</strong>';
                    var subChilds = false;
                    if (value.child) {
                        answerString += " - ";
                        for (var childKey in value.child) {
                            var childValue = value.child[childKey];

                            var unkownChildKey = Object.keys(childValue)[0];
                            if (childValue[unkownChildKey] && unkownChildKey !== "BorrowerEnrolledPrincipalTribe") {
                                answerString += childValue[unkownChildKey] + ", ";
                                subChilds = true;
                            }
                            else if (childValue[unkownChildKey] && unkownChildKey == "BorrowerEnrolledPrincipalTribe") {
                                answerString += '"' + childValue[unkownChildKey] + '"';
                                subChilds = true;
                            }
                            if (childValue.child) {
                                if (!childValue[unkownChildKey])
                                    answerString = answerString.replace(/,\s*$/, "");
                                if (childValue[unkownChildKey]) {
                                    answerString = answerString.replace(/,\s*$/, "");
                                    answerString += " - ";
                                }
                                var grandChild = false;
                                for (var childInnerKey in childValue.child) {
                                    var childInnerValue = childValue.child[childInnerKey];

                                    var unkownChildInnerKey = Object.keys(childInnerValue)[0];
                                    if (childInnerValue[unkownChildInnerKey]) {
                                        answerString += '"' + childInnerValue[unkownChildInnerKey] + '"';
                                        grandChild = true;
                                    }
                                }
                                if (!grandChild)
                                    answerString = answerString.replace(/-\s*$/, "");
                            }
                        }
                        if (!subChilds)
                            answerString = answerString.replace(/-\s*$/, "");
                    }
                }
                //return answerString;
                var self = this;
                this.async(function () {
                    var el = self.querySelector('#declaration' + index);
                    el.innerHTML += answerString;
                }, 57);
            }
        });
    </script>
</dom-module>