<script src="../script/vanilla-masker.js"></script>
<dom-module id="borrower-application-summary">
    <template>
        <style>
            .answer {
                min-height: 22px;
            }
            .col-lg-6 {
                padding: 0 40px
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none
            }

            li {
                width: 100%;
                margin-bottom: 20px
            }

            .blank {
                width: 100%;
                height: 50px;
                clear: both
            }

            .clmn {
                width: 40%;
                float: left
            }

            .clmn2 {
                width: 56%;
                margin-left: 4%
            }

            .clmna {
                width: 40%;
                float: left
            }

            .clmnb {
                width: 20%;
                margin: 0 4%
            }

            .clmnc {
                width: 32%
            }

            span {
                display: block;
            }
			span.question {
                font-size: 12px;
            }

            span a {
                /*color: #0095d0;*/
                text-decoration: none
            }

            .flex-display {
                display: flex;
                align-items: flex-end;
                word-wrap: break-word;
            }

            .question .col-md-12 {
                padding: 0;
            }

            .question .col-md-6 {
                padding-left: 0;
            }

            .question .col-md-10 {
                padding-left: 0;
            }

            .question .col-md-2 {
                padding-right: 0;
            }

            .question-row .col-md-6:nth-child(1) {
                padding-left: 0;
            }
            .question-row .col-md-6:nth-child(2) {
                padding-left: 15px;
                padding-right: 0;
            }
            :host::content .question:first-child .col-md-12 .select-wrapper.dropdown {
                margin-top: 20px;
            }
            :host::content .question:first-child .col-md-6 .select-wrapper.dropdown{ margin-top:0;}

            :host::content .question-row .select-wrapper input {
                padding-right: 25px !important
            }
            @media only screen and (max-width:991px) {
                .question .col-md-10 {
                    padding-right: 0;
                }
                .question .col-md-2 {
                    padding-left: 0;
                    padding-top: 1px;
                }

                .question .col-md-4,
                .question-row .col-md-6:nth-child(1),
                .question-row .col-md-6:nth-child(2) {
                    padding: 0;
                }
                .question-row .col-md-6:nth-child(1) {
                    padding: 15px 0;
                }
                .question-row .col-md-6:nth-child(2) {
                    padding-bottom: 15px;
                }
            }
            .alnRight {
                width: 50%;
                text-align: right;
                padding-right: 0px;
                margin-bottom: 15px;
            }
            .removeBottomBorder {
                font-weight: 700;
                border-bottom: none;
            }
        </style>
        <ul class="clearfix">
            <template is="dom-repeat" items="[[ questionSections ]]">
                <div class="question clearfix">
                    <template is="dom-if" if="{{ item.lrui }}" restamp>
                        <div class="question-row clearfix">
                            <template is="dom-repeat" items="[[ item.questionList ]]">
                                <div class$="{{ appendClass(item.width) }}">
                                    <template is="dom-if" if="{{ checkCustomType('Address', item.questionType) }}">
                                        <li>
                                            <span>[[ item.questionText ]]</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "address") }}</span>
                                        </li>
                                        <li class="clearfix flex-display">
                                            <div class="clmna"><span>City</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "city") }}</span>
                                            </div>
                                            <div class="clmna clmnb"><span>State</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "state") }}</span>
                                            </div>
                                            <div class="clmna clmnc"><span>Zip</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "zip") }}&nbsp;</span>
                                            </div>
                                        </li>
                                    </template>

                                    <template is="dom-if" if="{{ checkCustomType('BusinessAddress', item.questionType) }}">
                                        <li>
                                            <span>[[ item.questionText ]]</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "address") }}</span>
                                        </li>
                                        <template is="dom-if" if="[[ checkAnswer(item.answer, 'addressLine2') ]]">
                                            <li>
                                                <span class="answer">{{ parseAnswer(item.answer, "addressLine2") }}</span>
                                            </li>
                                        </template>

                                        <li class="clearfix flex-display">
                                            <div class="clmna"><span>City</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "city") }}</span>
                                            </div>
                                            <div class="clmna clmnb"><span>State</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "state") }}</span>
                                            </div>
                                            <div class="clmna clmnc"><span>Zip</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "zip") }}&nbsp;</span>
                                            </div>
                                        </li>
                                    </template>

                                    <template is="dom-if" if="{{ checkCustomType('LoanCalculator', item.questionType) }}">
                                        <li class="clearfix flex-display">
                                            <div class="clmn"><span>($) Purchase</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "purchasePrice", item.mask) }}</span>
                                            </div>
                                            <div class="clmn clmn2"><span>($) Down Payment</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "downPayment", item.mask) }}</span>
                                            </div>
                                        </li>
                                        <li>
                                              <div class="clmn">
                                                    <span>($) Loan Amount</span>
                                                    <span class="answer">{{ parseAnswer(item.answer, "loanAmount", item.mask) }}</span>
                                                </div>
                                                <div class="clmn clmn2">
                                                        <span>(%) Loan Percentage</span>
                                                        <span class="answer">{{ parseAnswer(item.answer, "loanPercentage") }}</span>
                                                </div>
                                        </li>
                                    </template>

                                    <template is="dom-if" if="{{ checkCustomType('SelectBool', item.questionType) }}">
                                        <li>
                                            <span class="question">[[ item.questionText ]]</span>
                                            <span class="answer">[[ checkBooleanAnswer(item.answer,item) ]]</span>
                                        </li>
                                    </template>
                                    <template is="dom-if" if="{{ checkCustomType('SelectBoolMarital', item.questionType) }}">
                                        <li>
                                            <span class="question">[[ item.questionText ]]</span>
                                            <span class="answer">[[ checkBooleanAnswer(item.answer,item) ]]</span>
                                        </li>
                                    </template>
                                    <template is="dom-if"
                                        if="{{ checkCustomType('Label', item.questionType) }}">
                                            <p class="labelHeading">[[ item.questionText ]]</p>
                                    </template>
                                    <template is="dom-if"
                                        if="{{ checkCustomType('TextCurrRight', item.questionType) }}">
                                            <span class="col-md-6">[[ item.questionText ]]</span>
                                            <span class="col-md-6 answer alnRight">[[ applyMasking(item.answer,item.mask) ]]</span>
                                    </template>
                                    <template is="dom-if"
                                        if="{{ checkCustomType('TotalAmountCalculator', item.questionType) }}">
                                        <span class="col-md-6">[[ item.questionText ]]</span>
                                        <span class="col-md-6 answer alnRight removeBottomBorder">[[ applyMasking(item.answer,item.mask) ]]</span>
                                    </template>
                                    <template is="dom-if" if="{{ checkCustomType('StartEndDate', item.questionType) }}">
                                        <li class="clearfix flex-display">
                                            <div class="col-md-6"><span>Start Date</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "startDate", item.mask) }}</span>
                                            </div>
                                            <div class="col-md-6"><span>End Date</span>
                                                <span class="answer">{{ parseAnswer(item.answer, "endDate", item.mask) }}</span>
                                            </div>
                                        </li>
                                    </template>
                                    <template is="dom-if" if="{{ checkCustomType('RadioTreeView', item.questionType) }}">
                                        <li>
                                            <span class="question">[[ item.questionText ]]</span>
                                            <span class="answer radioTreeViewAnswer">[[ parseTreeView(item.answer) ]]</span>
                                        </li>
                                    </template>
                                    <template is="dom-if" if="{{ checkCustomType('MoneyMonth', item.questionType) }}">
                                            <li class="clearfix flex-display">
                                                    <div class="col-md-6"><span>($) Per Month</span>
                                                        <span class="answer">{{ parseAnswer(item.answer, "alimonyAmount", item.mask) }}</span>
                                                    </div>
                                                    <div class="col-md-6"><span>Start Date (MM/YYYY)</span>
                                                        <span class="answer">{{ parseAnswer(item.answer, "startDate", "99/9999") }}</span>
                                                    </div>
                                                </li>
                                    </template>
                                    <template is="dom-if" if="{{ checkDefaultType(item.questionType) }}">
                                        <li>
                                            <span class="question">[[ item.questionText ]]</span>
                                            <span class="answer">[[ applyMasking(item.answer,item.mask) ]]</span>
                                        </li>
                                    </template>                                    
                                </div>
                            </template>
                        </div>
                    </template>
                    <template is="dom-if" if="{{ !item.lrui }}" restamp>
                        <template is="dom-repeat" items="[[ item.questionList ]]">                           
                            <div class="question-row clearfix">
                                <template is="dom-if" if="{{ checkCustomType('Address', item.questionType) }}">
                                    <li>
                                        <span>[[ item.questionText ]]</span>
                                        <span class="answer">{{ parseAnswer(item.answer, "address") }}</span>
                                    </li>
                                    <li class="clearfix flex-display">
                                            <div class="clmna"><span>City</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "city") }}</span>
                                        </div>
                                        <div class="clmna clmnb"><span>State</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "state") }}</span>
                                        </div>
                                        <div class="clmna clmnc"><span>Zip</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "zip") }}&nbsp;</span>
                                        </div>
                                    </li>
                                </template>

                                <template is="dom-if" if="{{ checkCustomType('BusinessAddress', item.questionType) }}">
                                    <li>
                                        <span>[[ item.questionText ]]</span>
                                        <span class="answer">{{ parseAnswer(item.answer, "address") }}</span>
                                    </li>
                                    <template is="dom-if" if="[[ checkAnswer(item.answer, 'addressLine2') ]]">
                                        <li>
                                            <span class="answer">{{ parseAnswer(item.answer, "addressLine2") }}</span>
                                        </li>
                                    </template>

                                    <li class="clearfix flex-display">
                                        <div class="clmna"><span>City</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "city") }}</span>
                                        </div>
                                        <div class="clmna clmnb"><span>State</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "state") }}</span>
                                        </div>
                                        <div class="clmna clmnc"><span>Zip</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "zip") }}&nbsp;</span>
                                        </div>
                                    </li>
                                </template>

                                <template is="dom-if" if="{{ checkCustomType('LoanCalculator', item.questionType) }}">
                                    <li class="clearfix flex-display">
                                        <div class="clmn"><span>($) Purchase</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "purchasePrice", item.mask) }}</span>
                                        </div>
                                        <div class="clmn clmn2"><span>($) Down Payment</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "downPayment", item.mask) }}</span>
                                        </div>
                                    </li>
                                    <li>
                                            <div class="clmn">
                                                    <span>($) Loan Amount</span>
                                                    <span class="answer">{{ parseAnswer(item.answer, "loanAmount", item.mask) }}</span>
                                                </div>
                                                <div class="clmn clmn2">
                                                        <span>(%) Loan Percentage</span>
                                                        <span class="answer">{{ parseAnswer(item.answer, "loanPercentage") }}</span>
                                                </div>
                                    </li>
                                </template>

                                <template is="dom-if" if="{{ checkCustomType('SelectBool', item.questionType) }}">
                                    <li>
                                        <span class="question">[[ item.questionText ]]</span>
                                        <span class="answer">[[ checkBooleanAnswer(item.answer,item) ]]</span>
                                    </li>
                                </template>
                                <template is="dom-if" if="{{ checkCustomType('SelectBoolMarital', item.questionType) }}">
                                    <li>
                                        <span class="question">[[ item.questionText ]]</span>
                                        <span class="answer">[[ checkBooleanAnswer(item.answer,item) ]]</span>
                                    </li>
                                </template>
                                <template is="dom-if"
                                    if="{{ checkCustomType('Label', item.questionType) }}">
                                    <p class="labelHeading">[[ item.questionText ]]</p>
                                </template>
                                <template is="dom-if"
                                    if="{{ checkCustomType('TextCurrRight', item.questionType) }}">
                                    <span class="col-md-6">[[ item.questionText ]]</span>
                                    <span class="col-md-6 answer alnRight">[[ applyMasking(item.answer,item.mask) ]]</span>
                                </template>
                                <template is="dom-if"
                                    if="{{ checkCustomType('TotalAmountCalculator', item.questionType) }}">
                                    <span class="col-md-6">[[ item.questionText ]]</span>
                                    <span class="col-md-6 answer alnRight removeBottomBorder">[[ applyMasking(item.answer,item.mask) ]]</span>
                                </template>
                                <template is="dom-if" if="{{ checkCustomType('StartEndDate', item.questionType) }}">
                                    <li class="clearfix flex-display">
                                        <div class="col-md-6"><span>Start Date</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "startDate", item.mask) }}</span>
                                        </div>
                                        <div class="col-md-6"><span>End Date</span>
                                            <span class="answer">{{ parseAnswer(item.answer, "endDate", item.mask) }}</span>
                                        </div>
                                    </li>
                                </template>
                                <template is="dom-if" if="{{ checkCustomType('RadioTreeView', item.questionType) }}">
                                    <li>
                                        <span class="question">[[ item.questionText ]]</span>
                                        <span class="answer radioTreeViewAnswer">[[ parseTreeView(item.answer) ]]</span>
                                    </li>
                                </template>
                                <template is="dom-if" if="{{ checkCustomType('MoneyMonth', item.questionType) }}">
                                        <li class="clearfix flex-display">
                                                <div class="col-md-6"><span>($) Per Month</span>
                                                    <span class="answer">{{ parseAnswer(item.answer, "alimonyAmount", item.mask) }}</span>
                                                </div>
                                                <div class="col-md-6"><span>Start Date (MM/YYYY)</span>
                                                    <span class="answer">{{ parseAnswer(item.answer, "startDate", "99/9999") }}</span>
                                                </div>
                                            </li>                                        
                                </template>
                                <template is="dom-if" if="{{ checkDefaultType(item.questionType) }}">
                                    <li>
                                        <span class="question">[[ item.questionText ]]</span>
                                        <span class="answer">[[ applyMasking(item.answer,item.mask) ]]</span>
                                    </li>
                                </template>
                               
                            </div>
                        </template>
                    </template>
                </div>
            </template>
        </ul>
    </template>
    <script>
        Polymer({
            is: "borrower-application-summary",

            checkCustomType: function (type, questionType) {
                return type && questionType && questionType.toLowerCase() === type.toLowerCase();
            },

            checkDefaultType: function (questionType) {
                if (['Address', 'BusinessAddress', 'LoanCalculator', 'SelectBool', 'SelectBoolMarital','StartEndDate', 'RadioTreeView', 'TextCurrRight', 'Label', 'TotalAmountCalculator','MoneyMonth'].includes(questionType)) {
                    return false;
                }
                return true;
            },

            parseAnswer: function (answerSet, needle, maskFormat) {
                if (answerSet) {
                    var _answer = JSON.parse(answerSet);
                    if (_answer[needle]) {
                        return this.applyMasking(_answer[needle], maskFormat);
                    }
                    else {
                        return "  ";
                    }
                }
            },

            applyMasking: function (value, maskType) {
                if (maskType) {
                    var _maskOptions = { pattern: maskType };
                    var _maskFunctions = "toPattern";
                    if (maskType === 'money') {
                        _maskFunctions = "toMoney";
                        _maskOptions = VMasker.mergeMoneyOptions({
                            precision: 0,
                            unit: '$',
                            zeroCents: false,
                            separator: '.',
                            delimiter: ','
                        });
                    }
                    value = VMasker[_maskFunctions](value, _maskOptions);
                }
                return value;
            },
            checkAnswer: function (answerSet, needle) {
                if (answerSet) {
                    var _answer = JSON.parse(answerSet);
                    if (_answer[needle]) return true;
                    else return false;
                }
            },
            checkBooleanAnswer: function (answer, item) {
                if (item.questionType.toLowerCase() === "selectboolmarital" ) {
                    if ((!answer) || (answer === "false")) {
                        return "No"
                    }
                    return "Yes"
                }    
                else if (item.questionType.toLowerCase() !== "selectbool") {
                    if (!answer) {
                        return "No"
                    }
                    return "Yes"
                }
                else {
                    if ((!answer) || (item.helpText !== "[[merged]]" && answer === "false")) {

                        return "No"
                    }

                    return "Yes"
                }
            },

            appendClass: function (width) {
                var classes = "";
                //Dynamic columns as per width passed
                if (width && parseFloat(width)) {
                    var _columns = Math.round(12 * (parseFloat(width)) / 100);
                    classes += " col-md-" + _columns;
                } else {
                    classes += " col-md-12";
                }
                return classes;
            },

            isAnswerAvailable: function (answer, questionType) {
                if (questionType === "TextCurr")
                    return true;
                else {
                    if (answer !== "")
                        return true;
                    else
                        return false;
                }
            },

            parseTreeView: function (answer) {
                var preparedAnswer = "";
                if (answer) {
                    var self = this;
                    var selectedValues = JSON.parse(answer);
                    Object.keys(selectedValues).forEach(function (key, index) {
                        if (index === 0 )
                            preparedAnswer += selectedValues[key];
                        else
                            preparedAnswer += " " + self.applyMasking(selectedValues[key], '99/9999');
                    });
                }
                return preparedAnswer;
            }
        });
    </script>
</dom-module>