
<dom-module id="loan-remaining-days">
    <template>
        
        <p class="daysto-close"><strong>{{ daysToClose }} Days</strong><span class="det-text-second-line"> to Close</span></p>      
    </template>
    <script>
        Polymer({
            is: "loan-remaining-days",

            properties: {
              daysToClose: String
            }

        });
    </script>
</dom-module>
