<dom-module id="loan-detail">
    <template>
        <p class="charge-bx">
            <strong>
                <!-- <span class="chargeBxwdth">{{ loanPercentage }}%</span> -->
                ${{ loanAmount }}</strong></p>
        <p class="loan-bx">
            <!-- <span class="loanyrs" >(30 Yr.)</span> -->
            <span class="loanDigit">Loan #: {{ loanNumber }}</span>
        </p>
    </template>
    <script>
        Polymer({
            is: "loan-detail",
            properties: {
                loanAmount: String,
                loanNumber: String
            }
        });
    </script>
</dom-module>
