<html-import html-href="services/notification-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="pending-message-count">
    <template>
        {{ notificationCount }}
        <notification-service id="notify"></notification-service>
        <identity-service id="identity"></identity-service>
    </template>
    <script>
        Polymer({
            is: "pending-message-count",

            behaviors: [
                ensureDependenciesBehavior, eventHub
            ],

            attached: function () {
                var self = this;
                self.ensure("identity")
                    .then(function (identity) {
                        return identity.getCurrentUser();
                    })
                    .then(function (response) {
                        self.set("username", response.username);
                        return response;
                    })
                    .then(function (response) {
                        self.subscribe("notification:count", function () {
                            self.fetchMessageCount(self);
                        });
                        self.fetchMessageCount();
                    })
                    .catch(function (error) {
                        console.warn(error);
                    })
            },

            properties: {
                entityId: String,
                entityType: {
                    type: String,
                    value: "application"
                },
                username: String
            },

            fetchMessageCount: function () {
                var self = this;
                var entityId = ":id";
                this.ensure("notify")
                    .then(function (notification) {
                        return notification.getCount(self.entityType, entityId, self.username);
                    })
                    .then(function (response) {
                        self.set("notificationCount", response);
                    });
            }
        });
    </script>
</dom-module>