
<dom-module id="progress-bar-status">
    <template>
        <style>
            .progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
        </style>
        <div class="progress-wrap clearfix">
            <div class="progress my-reverse-class">
                <template is="dom-repeat" items="{{ _toArray(progresBarStatus.tabStatus) }}">
                    <div class$="{{ setClass(item.name,item.value) }}" role="progressbar">
                        <span class="text-transform">{{ item.name }}</span>
                        <span class="df df-tick" hidden$={{isFlag(item.value)}}>&nbsp;</span>
                    </div>
                </template>
            </div>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "progress-bar-status",

            baseUrl:null,
            properties: {
                progresBarStatus: {
                    type: Object
                },
                progressBarClass: String
            },

            attached: function () {
                if(this.configuration.services.questionnaire == undefined){
                   throw new Error("questionnaire service not found");
                }
                this.baseUrl = this.configuration.services.questionnaire;
                this.getProgressBarStatus();
            },

            _toArray: function (obj) {
                return Object.keys(obj).map(function (key) {
                    return {
                        name: key,
                        value: obj[key]
                    };
                });
            },

            setClass: function (name, value) {
                var self = this;
                var classes = ["progress-bar", "progressBarwidth"];
                if (value === 'Done' || value === 'WIP') {
                    classes.push("progress-bar-striped active");
                    classes.push(this.progressBarClass);
                }
                return classes.join(" ");
            },

            isFlag: function (val) {
                if (val === 'Done') {
                    return false;
                } else {
                    return true;
                }
            },

            getProgressBarStatus: function () {
                var self = this;
                var base = this.baseUrl;
                var url = '/applicationstatus';

                return self.$.http.get(url, base)
                        .then(function (response) {
                            _.forEach(response.tabStatus, function(value, key) {
                                if (value === "WIP") {
                                    self.set("progressBarClass", "progress-bar-" + key);
                                    return false;
                                }
                            });
                            return response;
                        })
                        .then(function (response) {
                            self.progresBarStatus = response;
                        });
            }
        });
    </script>
</dom-module>