<dom-module id="property-info">
    <template>
        <address>[[ addressCityFormat(addressLine) ]] <br />[[ getCity(city) ]] [[ state ]] [[ zipCode ]]</address>
    </template>
    <script>
        Polymer({
            is: "property-info",

            properties: {
              state:String,
              city:String,
              zipCode:String,
              addressLine:String
            },

			addressCityFormat: function(addressLine) {
				var address = '';
				if(addressLine !== null)
					address = addressLine;
				return address;
			},

			getCity: function (city) {
				if (city != null) {
					return city + ', ';
				}
			}
        });
    </script>
</dom-module>