<dom-module id="tax-returns-styles">
    <template>
        <style>
             :host {
                display: block;
                margin: 0 auto;
            }
            .wrapper-summary {
                margin: 0 auto;
            }
            .wrapper-narrow {
                float: none;
                margin: 0 auto;
            }
            .paystub-btns button {
                width: 47%;
            }
            .paystub-btns .manual {
                margin-right: 4%
            }
			.center-align {
                display: none;
            }

            @media only screen and (max-width:479px) {
                .paystub-btns button.manual {
                    width: 54%;
                }
                .paystub-btns button.next {
                    width: 40%;
                }
                .paystub-btns .manual {
                    margin-right: 4%
                }
            }


            @media only screen and (max-width:1025px) {
                .col-md-6.post-application-container {
                    width: 60%
                }
            }

            @media only screen and (max-width:800px) {
                .col-md-7.post-application-container,
                .col-md-6.post-application-container {
                    width: 80%
                }
                .col-md-6.post-application-container .bankinfo {
                    width: 100%;
                }
            }

            @media only screen and (max-width:767px) {
                .col-md-7.post-application-container,
                .col-md-6.post-application-container {
                    width: 100%
                }
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "tax-returns-styles"
        })
    </script>
</dom-module>