<dom-module id="activity-loader">
    <template>
        <h3 class="text-center" hidden$="[[ !isLoading ]]">Loading...</h3>
        <div id="activity"></div>
        <alloy-config id="config" alloy-configuration="{{alloyConfiguration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
        <event-hub id="hub"></event-hub>
        <url-parser id="urlParser"></url-parser>
    </template>
    <script>
        Polymer({
            is: "activity-loader",

            properties: {
                /**
                 * Path to activity component
                 */
                src: String,

                /**
                 * The element from which loaded activities will request properties.
                 * Activities will request properties from their parent views if activityProperties is an array of property names
                 */
                parentView: Object,

                /**
                 * Activity properties can be either an object or an array of strings.
                 * When it is an array of strings, parentView properties are copied to the loaded activity.
                 * When it is an object, the activity element is extended with the activityProperties object.
                 */
                activityProperties: Object,

                /**
                 * Flag for activity loading in progress
                 */
                isLoading: {
                    type: Boolean,
                    value: false
                },

                didLoad: {
                    type: Boolean,
                    value: false
                },

                shouldLoad: {
                    type: Boolean,
                    value: false
                },

                shouldRemove: {
                    type: Boolean,
                    value: false
                },

                alloyConfiguration: Object,

                tenantConfig: Object
            },

            observers: [
                "requiredPropertiesChanged(alloyConfiguration, tenantConfig, src, activityProperties)",
                "shouldLoadChanged(shouldLoad)",
                "shouldRemoveChanged(shouldRemove)"
            ],

            requiredPropertiesChanged: function (alloyConfiguration, tenantConfig, src, activityProperties) {
                if (this.hasPendingLoad) {
                    this.load();
                    this.hasPendingLoad = false;
                }
            },

            shouldLoadChanged: function (shouldLoad) {
                if (shouldLoad && !this.didLoad && !this.isLoading) {
                    this.load();
                }
            },

            shouldRemoveChanged: function (shouldRemove) {
                if (shouldRemove && this.didLoad) {
                    this.remove();
                }
            },

            load: function () {
                var self = this;

                var configuration = this.alloyConfiguration || this.$.config && this.$.config.alloyConfiguration;
                var tenantConfig = this.tenantConfig || this.$.tenant && this.$.tenant.alloyTenant;

                // If we are missing important props wait set a flag and leave
                if (!configuration || !tenantConfig || !self.src || !self.activityProperties) {
                    this.hasPendingLoad = true;
                    return;
                }

                var base = configuration.base;
                var tenant = tenantConfig.name;
                var href = base + tenant + "/" + self.src;

                self.isLoading = true;
                self.importHref(href, function (e) {
                        self.isLoading = false;
                        self.didLoad = true;

                        // Get the element tag
                        var elementName = Polymer
                            .dom(e.target.import.body)
                            .querySelector("dom-module")
                            .getAttribute("id");

                        // create the element with the provided parameters
                        var activityElement = document.createElement(elementName);

                        if (self.parentView) {
                            var entityType = self.parentView.viewType;
                            var entityId = self.$.urlParser.getParams().id;
                            var entity = self.parentView[entityType];
                        }

                        // Provide activity with entityType and entity
                        activityElement.entityType = entityType;
                        activityElement[entityType] = entity;
                        activityElement.entityId = entityId;

                        if (typeof self.activityProperties === "object") {
                            // extend activityElement with properties object
                            $.extend(activityElement, self.activityProperties);
                        }

                        if (Array.isArray(self.activityProperties)) {
                            // get list of props from parent view and extend activityElement with them
                            self.activityProperties.forEach(function (prop) {
                                activityElement[prop] = self.parentView[prop];
                            });
                        }

                        // So pretty!
                        activityElement.classList.add("animated", "fadeIn");

                        // append created element
                        self.$.activity.appendChild(activityElement);
                        self.$.hub.publish("activity.load.succeeded");
                    },
                    function (e) {
                        self.isLoading = false;
                        self.$.hub.publish("activity.load.failed")
                    });
            },

            remove: function () {
                Polymer
                    .dom(this.$.activity)
                    .children.forEach(function (child) {
                    Polymer.dom(this.$.activity).removeChild(child)
                }, this);
                this.didLoad = false;
            }
        })
    </script>
</dom-module>