<!--
Component version of an inspinia dropdown.
-  Accepts an array of objects or strings to define dropdown items
-  Has additional styling to improve dropdown visibility over white backgrounds.

Usage:
<inspinia-dropdown items="{{ someDropDownItems }}"></inspinia-dropdown>

-->
<dom-module id="inspinia-dropdown">
    <template>
        <style>
            .btn-default[disabled] {
                background-color: #cccccc;
            }
        </style>
        <div class="btn-group btn-group-justified">
            <button on-keyup="fetchResult"
                    on-click="setDropdownMaxHeight"
                    id="dropdownBtn"
                    data-toggle="dropdown"
                    class$="{{ getButtonClassName(color) }}"
                    disabled="{{disabled}}">
                [[ buttonText ]] <span class="caret"></span>
            </button>
            <ul class="dropdown-menu"
                id="dropDownMenu"
                on-keyup="fetchResult">
                <template is="dom-repeat"
                          items="{{ items }}">
                    <li on-focus="handleMenuItemClick"
                        tabindex="0"
                        class$="{{ getMenuItemClassName(item, value) }}">
                        <a tabindex="-1"
                           href="#"
                           on-click="handleMenuItemClick">{{ getItemLabel(item) }}</a>
                    </li>
                </template>
            </ul>
        </div>
        <style>
            .btn-group {
                margin: 0;
            }

            .btn {
                height: var(--dropdown-height);
                width: var(--dropdown-width, 100%);
                background-color: var(--dropdown-background-color);
                border: var(--dropdown-border);
                border-radius: var(--dropdown-border-radius);
                color: var(--dropdown-color);
                text-align: left;
            }

            #dropdownBtn:focus {
                border: var(--var-dropdown-focus);
            }

            .btn-group {
                width: var(--dropdown-width);
            }

            .dropdown-menu {
                width: 100%;
                box-shadow: 5px 5px 20px rgba(0, 0, 0, .35);
                overflow-y: auto;
            }

            li a {
                min-height: 22.5px;
            }

            li:focus {
                color: #262626;
                text-decoration: none;
                background-color: #f5f5f5;
            }

            .dropdown-menu-active {
                display: block;
                height: 0px;
            }

            #dropDownMenu {
                left: 0 !important;
                box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
                border-radius: 2px;
                /*max-height: 100px !important;*/
                overflow-x: hidden;
            }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default:active,
            .btn-default.active,
            .open .dropdown-toggle.btn-default {
                border-color: #bababa;
            }

            .btn>.caret {
                float: right;
                margin-top: 8px;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "inspinia-dropdown",

            properties: {

                /**
                 * Bootstrap style color to use (danger, info, warning, etc ...)
                 */
                color: {
                    value: "default",
                    type: String
                },

                /**
                 * Class applied to dropdown button
                 */
                buttonClassName: {
                    value: "btn btn-default",
                    type: String
                },

                /**
                 * Default text within  button
                 */
                buttonText: {
                    value: "Select One",
                    type: String
                },

                /**
                 * Value of the selected item
                 */
                value: {
                    type: String,
                    observer: "valueChanged",
                    notify: true
                },

                /**
                 * Replace buttonText with value
                 */
                showValue: {
                    type: Object,
                    value: false
                },

                /**
                 * Array of items to build dropdown from
                 * @type {Array<string> | Array<Object>}
                 */
                items: {
                    value: function () { return []; },
                    observer: "valuesChanged",
                    type: Array
                },

                disabled: {
                    type: Boolean,
                    value: false
                }
            },

            valueChanged: function (value) {
                this.currentItem = this.currentItem || this.getItemByValue(value);
                var text = (this.showValue)
                        ? this.getItemValue(this.currentItem)
                        : this.getItemLabel(this.currentItem);

                this.set("buttonText", text);
                this.fire("change");
            },

            valuesChanged: function(){
                this.currentItem = this.currentItem || this.getItemByValue(this.value);
                if(this.currentItem!=null && this.currentItem!=""){
                    var text = (this.showValue)
                            ? this.getItemValue(this.currentItem)
                            : this.getItemLabel(this.currentItem);

                    this.set("buttonText", text);
                    this.fire("change");
                }
            },

            handleMenuItemClick: function (e) {
                e.preventDefault();
                this.set("currentItem", e.model.item);
                this.set("value", this.valueFromEvent(e));
            },

            fetchResult: function (e) {
                var searchedText = e.key.trim().toLowerCase();
                var btn = this.$.dropdownBtn;
                if (btn.getAttribute("aria-expanded") && btn.getAttribute("aria-expanded") === "true" && searchedText === 'enter') {
                    // Close the menu if open
                    e.srcElement.click();
                }
                else if (searchedText !== 'tab') {
                    var liElements = Array.prototype.slice.call(this.$.dropDownMenu.children);
                    var matchedLi = liElements.filter(function (value, index) {
                        return (value.innerText.trim().toLowerCase().indexOf(searchedText[0]) === 0);
                    });
                    if (matchedLi.length) {
                        var activeLiIndex = matchedLi.findIndex(function (value, index) {
                            return (value.className.indexOf("active") === 0);
                        });
                        if (activeLiIndex >= 0) {
                            // Active already set for same searched text
                            if (matchedLi.length === 0) {
                                // Only one li present
                                // Leave it as it is
                            }
                            else if (matchedLi.length - 1 === activeLiIndex) {
                                // Last element of the matched li is set active
                                // So set the first li as active
                                this.setLiActive(matchedLi[0]);
                            }
                            else {
                                // Set next li as active
                                this.setLiActive(matchedLi[activeLiIndex + 1]);
                            }
                        }
                        else {
                            // Set li active for the first time
                            this.setLiActive(matchedLi[0]);
                        }
                    }
                }
            },

            /**
             * Setting li as focus
             */
            setLiActive: function (selectedLi) {
                var btn = this.$.dropdownBtn;
                if (!btn.getAttribute("aria-expanded") || btn.getAttribute("aria-expanded") === "false") {
                    this.$.dropDownMenu.classList.add("dropdown-menu-active");
                    selectedLi.focus();
                    this.$.dropDownMenu.classList.remove("dropdown-menu-active");
                    btn.focus();
                }
                else {
                    selectedLi.focus();
                }
            },
            /**
             * Sets dynamic max height for scroll to appear
             * * @param e
             */
            setDropdownMaxHeight: function (e) {
                var top = e.clientY;
                var viewPort = document.documentElement.clientHeight;
                this.$.dropDownMenu.style.maxHeight = viewPort - top - 30 + "px";
            },
            /**
             * Extract item value from DOM event
             * @param e
             * @returns {string}
             */
            valueFromEvent: function (e) {
                return e.model.item.value || e.model.item.label || typeof e.model.item === "string" && e.model.item;
            },

            /**
             * Extract label from DOM event
             * @param e
             * @returns {Event}
             */
            labelFromEvent: function (e) {
                return e.model.item.label || e.model.item.value || e.model.item;
            },

            /**
             * Gets the item with matching value property
             * @returns {Object|string}
             */
            getItemByValue: function (value) {
                return this.items.filter(function (item) {
                            return this.getItemValue(item) === value;
                        }.bind(this))[0] || "";
            },

            /**
             * Extract label from dom-repeat item with fallback to item.value and item
             * @param item
             * @returns {string}
             */
            getItemLabel: function (item) {
                return item.label || item.value || typeof item === "string" && item || "";
            },

            /**
             * Extract label from dom-repeat item with fallback to item.label and item
             * @param item
             * @returns {string}
             */
            getItemValue: function (item) {
                return item.value || item.label || typeof item === "string" && item || "";
            },

            /**
             * Get label that corresponds to a value in an items array
             * @param items
             * @param value
             * @returns {*}
             */
            getLabelFromValue: function (items, value) {
                return items.filter(function (item) {
                    return item.value === value;
                })[0].label;
            },

            /**
             * Returns the class for a dropdown item based on the currently selected value
             * @param itemValue
             * @param value
             * @returns {string}
             */
            getMenuItemClassName: function (item, value) {
                if (typeof item === typeof {} && item.value && item.value === value) return "active";
                if (typeof item === typeof {} && item.label && item.label === value) return "active";
                if (typeof item === typeof "" && item === value) return "active";
            },

            /**
             * Returns the class for a dropdown  button based on the color property/attribute
             * @param color
             * @returns {string}
             */
            getButtonClassName: function (color) {
                return [
                    "btn",
                    "btn-" + color,
                    "dropdown-toggle"
                ].join(" ");
            }
        });
    </script>
</dom-module>