<link rel="import" href="./number-input.html">
<link rel="import" href="./text-input.html">
<dom-module id="lf-input">
    <style>
        .control-label {
            font-weight: bold;
        }
    </style>
    <template>
                <label for="{{ inputName }}" class="control-label">{{ inputLabel }}</label>

            <template is="dom-if" if="{{ isNumberInput(inputType) }}">
                <number-input id$="{{ inputName }}" input-type="default" input-value="{{ inputValue }}"></number-input>
            </template>

            <template is="dom-if" if="{{ isTextInput(inputType) }}">
                <text-input id$="{{ inputName }}" input-value="{{ inputValue }}"></text-input>
            </template>
    </template>
    <script>
        Polymer({
            is: "lf-input",

            properties: {
                inputName: {
                    type: String
                },
                inputLabel: {
                    type: String
                },
                inputType: {
                    type: String
                },
                showError: {
                    type: String
                }
            },

            isNumberInput: function(type) {
                if (!type) {
                    return false;
                }

                return type.toLowerCase() === 'number';
            },

            isTextInput: function(type) {
                if (!type) {
                    return false;
                }

                return type.toLowerCase() === 'text';
            }
        });
    </script>
</dom-module>
