<dom-module id="tag-input">
    <template>
        <style>
            .bootstrap-tagsinput .tag {
                display: inline-block;
            }
            .bootstrap-tagsinput, .input-group {
                width: 100%;
            }
        </style>
        <div class="input-group">
            <input id="tag-input" type="text" class="form-control">
        </div>
    </template>
    <script>
        Polymer({
            is : "tag-input",
            attached : function() {
                var self = this;
                
                if (window.jQuery && $.fn.tagsinput) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init : function() {
                var self = this;
                
                self.parsedTags = [];

                return function() {
                    $(self.$["tag-input"]).tagsinput({
                        itemText: function(item) {
                            return item[0].toUpperCase() + item.slice(1);
                        },
                        tagClass: 'label label-primary'
                    });
                    $(self.$["tag-input"]).on("itemAdded itemRemoved", self.onTagChange.bind(self));
                    self.populateTags(self.inputValue);
                    $(".bootstrap-tagsinput", self).css("width", "100%");
                    // Option for typeahead
                    // $(self.$["tag-input"]).tagsinput({
                    //     // If typeaheadSource is set
                    //     typeahead: {
                    //         source: self.typeaheadSource
                    //     },
                    //     freeInput: true
                    // })
                }
            },
            properties : {
                inputValue: {
                    type: String,
                    notify: true
                },
                typeaheadSource: {
                    type: Array,
                    notify: true
                }
            },
            onTagChange : function() {
                var parsedTags = this._capitalizeTags($(this.$["tag-input"]).val());
                this.set("inputValue", parsedTags);
            },
            clearField : function() {
                $(this.$["tag-input"]).tagsinput('removeAll');
            },
            populateTags : function(tags) {
                if (!Array.isArray(tags)) { return }
                tags.unshift("");
                tags.forEach(function(tag) {
                    $(this.$["tag-input"]).tagsinput("add", tag);
                }.bind(this))
            },
            // Work around to capitalize all tags since the itemValue option on Bootstrap Tagsinput
            // is not working. 
            _capitalizeTags : function(tags) {
              //Takes in array/string searches for capital letter behind "," and capitalizes it
                for (var i = 0; i < tags.length; i++) {
                    if (i === 0 || tags[i - 1] === ",") {
                        tags = tags.slice(0, i) + tags[i].toUpperCase() + tags.slice(i + 1);
                    } 
                }
                return tags;
            }
        })
    </script>
</dom-module>