<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>

<dom-module id="task-activity">
    <template>
        <style>
            .task-description {
                margin-bottom: 25px;
            }
        </style>

        <ui-error-summary id="errorSummary"></ui-error-summary>

        <h4>[[ taskTitle ]]</h4>

        <p class="task-description">
            [[ taskDescription ]]
        </p>

        <ui-form id="form"
            hidden$="[[ actionTypeIsView ]]">
            <ui-text-area name="notes"
                label="Notes"
                value="{{ notes }}">
                <ui-validators>
                    <ui-require-field>Notes are required to update task.</ui-require-field>
                </ui-validators>
            </ui-text-area>
            <ui-button id="actionButton"
                disabled-text="Submitting..."
                color="primary"
                on-click="onActionButtonClicked">
                [[ capitalize(actionType) ]]
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
        <ui-button id="closeButton"
            color="primary"
            hidden$="[[ !actionTypeIsView ]]"
            on-click="closeActivity">Close</ui-button>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "task-activity",

            behaviors: [
                alloy.activity,
                eventHub
            ],

            properties: {
                /**
                 * This component handles various activities relating to tasks
                 * actionType determines which activity it will display
                 */
                actionType: String,
                /**
                 * Flag for hiding certain parts of the UI
                 */
                actionTypeIsView: {
                    type: Boolean,
                    computed: "computeActionTypeIsView(actionType)"
                },
                entityType: String,
                /**
                 * Input from notes field in form
                 */
                notes: String,
                taskId: String,
                taskDescription: String,
                taskTitle: String
            },

            /** 
             * Capitalizes first letter of a string 
             * @method capitalize
             * @returns {String} 
             */
            capitalize: function (string) {
                return string[0].toUpperCase() + string.slice(1);
            },

            /** 
             * Used to determine value of actionTypeIsView property 
             * @method computeActionTypeIsView
             * @returns {Boolean} 
             */
            computeActionTypeIsView: function (actionType) {
                return actionType.toLowerCase() === "view";
            },

            /** 
             * Click handler for action button in UI 
             * @method onActionButtonClicked
             */
            onActionButtonClicked: function () {
                var self = this;

                self.$.actionButton.disable();
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            self.onValidationSuccess()
                                .catch(function (error) {
                                    error = error.responseJSON && error.responseJSON.message ||
                                        "Unable to mark task as complete at this time.";
                                    self.$.errorSummary.setErrors(error);
                                });
                        } else {
                            self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    })
                    .then(function () {
                        self.$.actionButton.enable();
                    });
            },

            /** 
             * Code to run if form is valid 
             * @method onValidationSuccess
             */
            onValidationSuccess: function () {
                var self = this;

                return self.submitTaskUpdate()
                    .then(function () {
                        self.notifySuccess("Task updated successfully.");
                        self.publish(self.entityType.toLowerCase() + ".updated");
                        self.publish("tasks.updated");
                        self.publish("activity:refresh");
                        self.closeActivity();
                    });
            },

            /** 
             * Sends request to server to update task according to actionType 
             * @method submitTaskUpdate
             */
            submitTaskUpdate: function () {
                var self = this;
                var url = [self.entityType, ":id", self.taskId, self.actionType].join("/");
                var baseUrl = self.configuration.services.taskManager;

                return Promise.resolve(self.$.http.post(url, { notes: self.$.form.getData().notes }, baseUrl));
            }
        });
    </script>
</dom-module>