<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-only-numbers.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-only-special-characters.html"></html-import>

<dom-module id="activity-create-task">
    <template>
        <ui-form id="form"
                 errors="{{ errorMessages }}"
                 hidden$="[[ !ready ]]">
            <ui-error-summary id="errorSummary"></ui-error-summary>
            <ui-input name="taskType "
                      label="Task Title"
                      value="{{ task.title }}">
                <ui-validators>
                    <ui-require-field>A task title is required to create task.</ui-require-field>
                </ui-validators>
            </ui-input>
            <ui-options items="[[ roles ]]"
                        name="role"
                        label="Role"
                        value="{{ task.role }}">
                <ui-validators>
                    <ui-require-field>A role must be selected.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-text-area name="notes"
                          label="Notes"
                          value="{{ task.notes }}">
                <ui-validators>
                    <ui-require-field>Notes are required to create task.</ui-require-field>
                    <ui-is-not-only-numbers>Notes cannot be only numbers.</ui-is-not-only-numbers>
                    <ui-is-not-only-special-characters>Notes cannot be only symbols.</ui-is-not-only-special-characters>
                </ui-validators>
            </ui-text-area>
        </ui-form>

        <ui-button id="submitButton"
                   disabled="[[ busy ]]"
                   on-click="handleSubmitButtonClick">Submit</ui-button>
        or
        <a on-click="closeActivity">Cancel</a>

        <http-request id="http"></http-request>
        <identity-service id="identityService"></identity-service>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "activity-create-task",

            behaviors: [
                ensureDependenciesBehavior,
                eventHub,
                alloy.activity
            ],

            properties: {
                /**
                 * @property Flag set after loading
                 */
                ready: {
                    type: Boolean,
                    value: false
                },

                /**
                 * @property Roles able to receive a task
                 */
                roles: Array,

                /**
                 * @property Errors for display
                 */
                errorMessages: Array,

                /**
                 * @property Flag set while sending request
                 */
                busy: {
                    type: Boolean,
                    value: false
                },

                /**
                 * @property Holds form inputs
                 */
                task: {
                    type: Object,
                    value: function () {
                        return {
                            title: "",
                            notes: "",
                            role: ""
                        }
                    }
                }
            },

            /**
             * @method
             */
            attached: function () {
                var self = this;

                this.fetchAllRoles()
                    .then(function (roles) {
                        self.roles = roles;
                        self.ready = true;
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            /**
             * @method
             * @returns {Promise<Array>}
             */
            fetchAllRoles: function () {
                return this.ensure("identityService")
                    .then(function (identityService) {
                        return identityService.getAllRoles();
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            /**
             * @method
             * @returns {Promise<Object>}
             */
            createTask: function () {
                var self = this;
                var url = [self.entityType, ":id"].join("/");
                var payload = {
                    title: self.task.title,
                    description: self.task.notes,
                    assignments: [{ role: self.task.role }]
                };
                var baseUrl = self.configuration.services.taskManager;

                return Promise.resolve(self.$.http.post(url, payload, baseUrl));
            },

            /**
             * @method
             */
            handleSubmitButtonClick: function () {
                var self = this;

                self.busy = true;
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            self.onValidationSuccess()
                                .catch(function (error) {
                                    self.setValidFormError(error);
                                });
                        } else {
                            self.setInvalidFormErrors();
                            self.busy = false;
                        }
                    })
                    .then(function () {
                        self.busy = false;
                    });
            },

            /**
             * @method
             */
            onValidationSuccess: function () {
                var self = this;

                return self.createTask()
                    .then(function () {
                        self.notifySuccess("Task created successfully.");
                        self.publish("tasks.updated");
                        self.publish("activity:refresh");
                        self.closeActivity();
                    });
            },

            /**
             * @method
             */
            setInvalidFormErrors: function () {
                this.$.errorSummary.setErrors(this.$.form.getErrors());
            },

            /**
             * @method
             */
            setValidFormError: function (error) {
                error = error.responseJSON && error.responseJSON.message || "Unable to create task at this time.";
                this.$.errorSummary.setErrors(error);
            }
        });
    </script>
</dom-module>