<html-import html-href="services/merchant-service.html"></html-import>
<html-import html-href="appflow/execute-rule.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input-address.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input-city.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input-zip-code.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/application-service.html"></html-import>

<dom-module id="modify-applicant-address">
    <template>
        <ui-error-summary errors="[[ errorMessages ]]"></ui-error-summary>
        <ui-form id="form"
            error-messages="{{ errorMessages }}"
            handle-validation-success="handleValidationSuccess">
            <ui-input-address></ui-input-address>
            <ui-input-city></ui-input-city>
            <div class="row">
                <ui-options class="col-sm-8" 
                    label="State"
                    name="state"
                    items="{{ states }}">
                    <ui-validators>
                        <ui-require-field>State of residence is required.</ui-require-field>
                    </ui-validators>
                </ui-options>
                <ui-input class="col-sm-4"
                    label="Zip Code"
                    name="zipCode"
                    pattern="[0-9]{0,5}"
                    placeholder="Zip Code">
                    <ui-validators>
                        <ui-require-field>Zip code is required.</ui-require-field>
                        <ui-is-zip-code>Zip code is not valid.</ui-is-zip-code>
                    </ui-validators>
                </ui-input>
            </div>
            <ui-button click-handler="validate">Save</ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
        <event-subscription event="application.received"
            handler="populateForm">
        </event-subscription>
        <execute-rule id="validAddress"
            name="ValidAddress"
            version="1.0">
        </execute-rule>
        <application-service id="applicationService"></application-service>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        (function () {
            Polymer({
                is: "modify-applicant-address",

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior,
                    alloy.activity,
                ],

                properties: {
                    application: Object
                },

                attached: function () {
                    var self = this;
                    // pre-load the states
                    self.$.http.get("us-states", self.configuration.services.lookup)
                        .then(function (states) {
                            self.states =
                                Object.keys(states).map(function (state) {
                                    var capitalizedState =
                                        state[0].toUpperCase() +
                                        state.substring(1);
                                    return {
                                        value: states[state],
                                        label: capitalizedState
                                    };
                                });
        
                        }).then(function(){
                            self.populateForm();
                        });
                },

                validate: function () {
                    this.$.form.isValid();
                },

                handleValidationSuccess: function () {
                    var self = this;
                    var formData = self.$.form.getData();
                    var applicationNumber = self.application.applicationNumber;

                    return self.$.validAddress.execute({
                        entityType:'application', 
                        entityId:applicationNumber,
                        address: formData
                    }).catch(function () {
                        return Promise.reject({
                            name: "InvalidAddressError",
                            message: "We were unable to find this address."
                        });
                    })
                        .then(function (response) {
                            return self._updateApplicantAddress(
                                applicationNumber, {
                                    line1: formData.address,
                                    city: formData.city,
                                    state: formData.state,
                                    zipCode: formData.zipCode
                                }
                            );
                        })
                        .then(function () {
                            self.notifySuccess("Address updated successfully.");
                            self.publish("application.updated");
                            self.publish("activity:refresh");
                            self.closeActivity();
                        }).catch(function (error) {
                            if (error.type === "InvalidAddressError")
                                self.errorMessages = error.message;
                            else
                                self.errorMessages = "We were unable to modify this address."
                        });
                },

                populateForm: function () {
                    var primaryApplicant = getPrimary(this.application.applicants);
                    var primaryAddress = getPrimary(primaryApplicant.addresses);
                    this.ensure("form").then(function (form) {
                        setTimeout(function () {
                            form.setData({
                                address: primaryAddress.line1,
                                city: primaryAddress.city,
                                state: primaryAddress.state,
                                zipCode: primaryAddress.zipCode
                            });
                        }, 500);
                    });
                },

                _handleApplicationReceived: function () {
                    this.populateForm();
                },

                _updateApplicantAddress: function (applicationNumber, payload) {
                    return this.ensure("applicationService")
                        .then(function (applicationService) {
                            return applicationService
                                .updatePrimaryApplicantAddress(applicationNumber, payload)
                        });
                },
            });


            function createInitialFormState(applicantAddress) {
                var initialState = {};

                Object.keys(applicantAddress).forEach(function (key) {
                    switch (key.toLowerCase()) {
                        case "line1":
                            return initialState.address = applicantAddress[key];
                        case "state":
                        case "city":
                        case "zipcode":
                            return initialState[key] = applicantAddress[key];
                        default:
                            return;
                    }
                });

                return initialState;
            }

            function createUpdateApplicationAddressPayload(data) {
                var payload = {};

                Object.keys(data).forEach(function (key) {
                    switch (key) {
                        case "address":
                            return payload.line1 = data.address;
                        default:
                            return payload[key] = data[key];
                    }
                });
                return payload;
            }

            function isPrimary(value) {
                return value.isPrimary ?
                    value :
                    false;
            }

            function getPrimary(value) {
                return value.filter(isPrimary)[0];
            }
        })();
    </script>
</dom-module>