<html-import html-href="appflow/execute-rule.html">
</html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-alphanumeric.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/applicant-service.html"></html-import>
<dom-module id="modify-applicant-name">
    <template>
        <url-parser id="urlParser"></url-parser>
        <style>
            .submit {
                margin-top: 10px;
            }
        </style>
        <div class="row">
            <ui-form id="form"
                handle-validation-success="save"
                error-messages="{{ errorMessages }}">
                <ui-error-summary id="errorSummary"
                    errors="[[ errorMessages ]]"></ui-error-summary>
                <div class="col-lg-12">
                    <ui-input name="firstName"
                        label="First Name"
                        value="{{firstName}}">
                        <ui-validators>
                            <ui-require-field>First Name is required.</ui-require-field>
                            <ui-is-alphanumeric>Please enter a valid first name.</ui-is-alphanumeric>
                        </ui-validators>
                    </ui-input>
                </div>
                <div class="col-lg-12">
                    <ui-input name="middleName"
                        label="Middle Name"
                        value="{{middleName}}">
                        <ui-validators>
                            <ui-custom-validator name="isAlphaNumericValidator">Please enter a valid middle name.
                            </ui-custom-validator>
                        </ui-validators>
                    </ui-input>
                </div>
                <div class="col-lg-12">
                    <ui-input name="lastName"
                        label="Last Name"
                        value="{{lastName}}">
                        <ui-validators>
                            <ui-require-field>Last Name is required.</ui-require-field>
                            <ui-is-alphanumeric>Please enter a valid last name.</ui-is-alphanumeric>
                        </ui-validators>
                    </ui-input>
                </div>
                <div class="col-lg-12">
                    <ui-input name="generationOrSuffix"
                        label="Generation or Suffix"
                        value="{{generationOrSuffix}}">
                    </ui-input>
                    <ui-button id="submitButton"
                        click-handler="validate"
                        disabled="[[ disabled ]]"
                        disabled-text="Submitting...">
                        Submit
                    </ui-button>
                    or
                    <a on-click="closeActivity">Cancel</a>
                </div>
        </div>
        </ui-form>
        <ui-is-alphanumeric id="isAlphaNumeric"></ui-is-alphanumeric>
        <event-hub id="hub"></event-hub>
        <http-request id="http"></http-request>
        <execute-rule id="modifyApplicantName"
            name="modify-applicant-name.ts"
            version="1.0">
        </execute-rule>
        <identity-service id="identityService"></identity-service>
        <applicant-service id="applicantService"></applicant-service>
    </template>
    <script>
        (function () {
            Polymer({
                is: "modify-applicant-name",

                behaviors: [
                    eventHub,
                    ensureDependenciesBehavior,
                    alloy.activity,
                ],

                properties: {
                    application: Object
                },

                attached: function () {
                    this.populateForm();
                },
                _handleApplicationReceived: function () {
                    this.populateForm();
                },

                isAlphaNumericValidator: function (value) {
                    return value ? this.$.isAlphaNumeric.isValid(value) : true;

                },
                validate: function () {
                    if (!this.$.form.isValid())
                        this.setInvalidFormErrors();
                },


                save: function () {
                    var self = this;
                    self.$.submitButton.disable();


                    var applicant = self.getPrimaryApplicant();
                    var updateApplicantName = self._changeApplicantName.bind(self,
                        applicant.applicantId,
                        self.firstName,
                        self.middleName,
                        self.lastName,
                        self.generationOrSuffix);

                    updateApplicantName()
                        .then(function () {
                            return self._changeUserName(self.firstName + " " + self.lastName)
                                .catch(function (error) {
                                    // Unable to update current user name. Rollback Applicant name.
                                    return updateApplicantName()
                                        .then(function () {
                                            return Promise.reject(error)
                                        });
                                })
                        })
                        .then(function () {
                            self.publish("application.updated");
                            self.publish("user.updated");
                            self.publish("applicant.updated", {
                                applicant: self.getPrimaryApplicant()
                            });
                            self.publish("activity:refresh");
                            self.notifySuccess("Applicant name updated.");
                            self.closeActivity();
                        })
                        .catch(function (error) {
                            self.setValidFormError(error);

                        })
                        .then(function () {
                            self.$.submitButton.enable();
                        })




                },


                populateForm: function () {
                    var applicant = this.getPrimaryApplicant();
                    if (applicant) {
                        var firstName = applicant.firstName || "";
                        var lastName = applicant.lastName || "";
                        var middleName = applicant.middleName || "";
                        var generationOrSuffix = applicant.generationOrSuffix || "";
                        this.set("firstName", firstName);
                        this.set("lastName", lastName);
                        this.set("middleName", middleName);
                        this.set("generationOrSuffix", generationOrSuffix);
                    }


                },
                getPrimaryApplicant: function () {
                    return this.application.applicants.filter(function (applicant) {
                        return applicant.isPrimary;
                    })[0];
                },



                /**
                 * Change the name of an applicant
                 * @param {string} id
                 * @param {string} firstName
                 * @param {string} middleName
                 * @param {string} lastName
                 * @param {string} generationOrSuffix
                 * @returns {Promise<T>}
                 */
                _changeApplicantName: function (
                    id,
                    firstName,
                    middleName,
                    lastName,
                    generationOrSuffix
                ) {
                    return this.$.applicantService.changeName(
                        id,
                        this.application.applicationNumber,
                        firstName,
                        middleName,
                        lastName,
                        generationOrSuffix
                    );
                },

                /**
                 * Updates the name of the current user
                 * @param {string} name
                 * @returns {Promise<T>}
                 * @private
                 */
                _changeUserName: function (name) {
                    return this.$.identityService.changeName(name);
                },
                setInvalidFormErrors: function () {
                    this.$.errorSummary.setErrors(this.$.form.getErrors());
                },

                setValidFormError: function (error) {
                    error = error.responseJSON && error.responseJSON.message || "Unable to update name at this time.";
                    this.$.errorSummary.setErrors(error);
                }

            });
        })();
    </script>
</dom-module>