<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-of-required-length.html"></html-import>
<html-import html-href="services/application-service.html"></html-import>
<html-import html-href="ui-elements/forms/formatters/ui-formatter-phone.html"></html-import>

<dom-module id="modify-applicant-phone">
    <template>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form">
            <div class="row">
                <div class="col-lg-8">
                    <ui-input label="Mobile Number"
                        name="phone"
                        type="input">
                        <ui-validators>
                            <ui-require-field>Mobile number is required.</ui-require-field>
                            <ui-is-phone-number>Mobile number is not valid.</ui-is-phone-number>
                        </ui-validators>
                        <ui-formatters>
                            <ui-formatter-phone></ui-formatter-phone>
                        </ui-formatters>
                    </ui-input>
                </div>
                <div class="col-lg-4">
                    <ui-input label="Extension"
                        name="extension"
                        type="input"
                        pattern="\d*">
                    </ui-input>
                </div>
            </div>
            <ui-options label="Phone Type"
                name="phoneType"
                button-text="Select a phone type"
                items="{{ phoneTypes }}">
                <ui-validators>
                    <ui-require-field>Phone type is required.</ui-require-field>
                </ui-validators>
            </ui-options>
            <ui-button id="submitButton"
                click-handler="save"
                disabled="[[ disabled ]]"
                disabled-text="Submitting...">
                Submit
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
        <event-hub id="hub"></event-hub>
        <application-service id="applicationService"></application-service>
    </template>
    <script>
        Polymer({
            is: "modify-applicant-phone",

            behaviors: [
                alloy.activity,
                ensureDependenciesBehavior,
                eventHub
            ],

            properties: {
                application: {
                    type: Object
                },

                phoneTypes: {
                    type: Array,
                    value: function () {
                        return [
                            {
                                value: null,
                                label: "Select A Phone Type",
                                selected: true
                            }, {
                                value: "Home",
                                label: "Home"
                            }, {
                                value: "Mobile",
                                label: "Mobile"
                            }, {
                                value: "Other",
                                label: "Other"
                            }];
                    }
                }
            },

            attached: function () {
                this.prepopulateApplicantPhone(this.application);
            },

            findPrimary: function (list) {
                return _.chain(list)
                    .filter({ isPrimary: true })
                    .get("0").value();
            },

            modifyApplicantPhone: function () {
                var primaryApplicant = this.findPrimary(this.application.applicants);
                var applicationNumber = this.application.applicationNumber;

                return this.ensure("applicationService", "form")
                    .then(function (context) {
                        var formData = context.form.getData();
                        var payload = {};

                        payload.number = formData.phone;
                        payload.type = formData.phoneType;

                        formData.extension
                            ? payload.extension = formData.extension
                            : null;

                        return context
                            .applicationService
                            .updatePrimaryApplicantPhone(
                            applicationNumber,
                            primaryApplicant.applicantId,
                            payload);
                    });
            },

            prepopulateApplicantPhone: function (application) {
                if (application == null) return;

                var self = this;
                var primaryApplicant = this.findPrimary(application.applicants);
                var primaryPhoneNumber = this.findPrimary(primaryApplicant.phoneNumbers);

                if (!primaryPhoneNumber) { return }

                this.ensure("form").then(function (form) {
                    form.setData({
                        phone: primaryPhoneNumber.number || "",
                        extension: primaryPhoneNumber.extension || "",
                        phoneType: primaryPhoneNumber.type || ""
                    })
                })
            },

            save: function (state) {
                var self = this;

                self.$.submitButton.disable();
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            return self.modifyApplicantPhone()
                                .then(function () {
                                    self.notifySuccess("Mobile number updated successfully.");
                                    self.publish("application.updated");
                                    self.publish("activity:refresh");
                                    self.closeActivity();
                                })
                                .catch(function (error) {
                                    self.handleResponseError(error);
                                });
                        } else {
                            self.showFormErrors();
                        }
                    })
                    .then(function () {
                        self.$.submitButton.enable();
                    });
            },

            showFormErrors: function () {
                this.$.errorSummary.setErrors(this.$.form.getErrors());
            },

            handleResponseError: function (error) {
                var errorMessage =
                    _.get(error, "responseJSON.message")
                    || "Unable to update mobile number at this time.";

                this.$.errorSummary.setErrors(errorMessage);
            }
        });
    </script>
</dom-module>