<dom-module id="consent-loader">
    <template>
        <style>

        </style>
        <div id="container"
            style="height: 100%">
            <iframe id="consentContent"
                name="consentContent"
                frameborder=0
                style="width: 100%; height: 100%">
            </iframe>
        </div>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "consent-loader",

            properties: {
                entityType: String,
                name: String,
                data: Object,
                allowEmptyData: {
                    type: Boolean,
                    value: false
                },
                didRequestConsent: {
                    type: Boolean,
                    value: false
                }
            },

            observers: ["onPropertiesChanged(entityType, name, data)"],

            onPropertiesChanged: function (entityType, name, data) {
                var self = this;

                self.fetchTemplate(entityType, name, data)
                    .then(function (content) {
                        var $consentContent = $("#consentContent", self);

                        $consentContent.ready(function () {
                            $consentContent.each(function () {
                                this.contentWindow.document.write(content.data);
                            })
                        })
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            },

            attached: function () {
                if (this.allowEmptyData && !this.didRequestConsent) {
                    this.data = {};
                    this.fetchTemplate(this.entityType, this.name, this.data);
                }
            },

            fetchTemplate: function (entityType, name, data) {
                var self = this;

                if (self.didRequestContent) {
                    return console.warn("Attempted to fetch template twice. Preventing fetch.");
                }

                if (typeof name === "undefined" || name === "") {
                    return console.error("Expected name to be defined.");
                }

                if (typeof entityType === "undefined" || name === "") {
                    return console.error("Expected entity type to be defined");
                }

                if (!this.allowEmptyData && typeof data === "undefined") {
                    return console.error("Expected data for " + this.name + "to be defined. Use allowEmptyData attribute to permit empty payloads.");
                }

                var url = entityType + "/" + name + "/view";
                if(this.configuration.services.consentTracker == undefined){
                    throw new Error("consentTracker service not found");
                }
                var baseUrl = this.configuration.services.consentTracker;

                return new Promise(function (resolve, reject) {
                    self.$.http.post(url, data, baseUrl)
                        .then(function (response) {
                            self.didRequestConsent = true;
                            resolve(response);
                        })
                        .fail(reject);
                });
            },
        });
    </script>
</dom-module>