<dom-module id="template-loader">
    <template>
        <div id="content"></div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "template-loader",

            properties: {
                name: String,
                version: String
            },

            attached: function () {
                var self = this;

                if (typeof this.name === "undefined" || this.name === "") {
                    console.error("name is required");
                    return;
                }

                if (typeof this.version === "undefined" || this.version === "") {
                    console.error("version is required");
                    return;
                }

                self.fetchTemplate()
                    .then(self.stripBodyTag)
                    .then(function (content) {
                        self.$.content.innerHTML = content;
                    });
            },

                fetchTemplate: function () {
                    return this.$.http.post("/template-manager/" + this.name + "/html/process/",
                        {}, "");
                },

            stripBodyTag: function (template) {
                var content = template.data.match(/<body(.*?)<\/body>/gm);
                content = content[0].replace(/body/i, "div");
                return content;
            }
        });
    </script>
</dom-module>