<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="borrower-portal/welcome-content.html"></html-import>
<dom-module id="borrower-invite-details">

    <template>
        <template is="dom-if" if="[[!loader]]">
            <div class="welcome">
                <welcome-content borrower-first-name="{{borrowerFirstName}}"></welcome-content>
                <template is="dom-repeat" items="[[ invitedBy ]]" restamp>
                    <div class="loanofficer clearfix">
                        <div class="pic">
                            <span hidden$="[[!item.noImage]]" class="df df-no-user img-circle"></span>
                            <img hidden$="[[item.noImage]]" class="img-circle" src="[[item.imageUrl]]">
                        </div>
                        <div class="info">
                            <span class="name">[[item.firstName]] [[item.lastName]] </span>
                            <span class="desig">[[item.role]]</span>
                            <span hidden="[[!item.isLoanOfficer]]" class="desig">NMLS# [[item.nmlsNumber]]</span>
                        <span class="desig">
                            <a href="mailto:[[item.email]]">[[item.email]]</a>
                        </span>
                            <template is="dom-if" if="[[item.phoneNumber]]">
                            <span class="desig">
                                <a href="[[ formattedPhone(item.phoneNumber) ]]">
                                    <alloy-format phone-number="[[item.phoneNumber]]"></alloy-format>
                                </a>
                            </span>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
        </template>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
    </template>
    <script>
        Polymer({
            is: "borrower-invite-details",

            properties: {
                loader: {
                    type: Boolean,
                    value: true
                },
                invitationToken: String,
                customerPathWayInvitationToken: {
                    type:String,
                    value: null,
                    observer:'_getInvitationDetail'
                },
                urlKey: String,
                invitedBy: {
                    type: Object,
                    value: []
                },
                borrowerFirstName: String
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                var self = this;
                if (self.invitationToken) {
                    this.parseInvitation(self.urlKey, self.invitationToken);
                }
                else {
                    self.set("loader", false);
                }
            },
            _getInvitationDetail: function(oldValue,newValue){
                var self = this;
                if (self.customerPathWayInvitationToken && self.customerPathWayInvitationToken!=null) {
                    self.parseInvitation("refid", self.customerPathWayInvitationToken);
                }
            },

            /** This function parses the questionnaire to get the temporaryApplicationNumber and invokes function to fetch assigned loan officer details */
            parseInvitation: function (key, token) {
                var self = this;
                this.ensure('assignmentService').then(function (assignmentService) {
                    assignmentService.parseInvitation(key, token).then(function (inviteResponse) {
                        self.set("borrowerFirstName", inviteResponse.inviteFirstName);
                        self.set("loader", false);
                        if (inviteResponse.invitedBy) {
                            self.fetchInviteDetails(inviteResponse.invitedBy).then(function (response) {
                                self.set("invitedBy", response);
                            });
                        }
                    }).catch(function (error) {
                        console.warn(error);
                        self.set("loader", false);
                    });
                });
            },
            fetchInviteDetails: function (invitedByList) {
                var self = this;
                var promises = [];
                _.forEach(invitedByList, function (item) {
                    promises.push(self.fetchInviteByUserImage(item));
                });
                return Promise.all(promises)
                        .then(function (response) {
                            return response;
                        });
            },
            fetchInviteByUserImage: function (item) {
                var self = this;
                return self.ensure('userProfileService').then(function (userprofileService) {
                    return userProfileService.fetchUserProfilePic(item.username).then(function (imageResponse) {
                        item.noImage = false;
                        item.imageUrl = imageResponse.url;
                        return item;
                    }).catch(function (error) {
                        if (error.status == 404) {
                            item.noImage = true;
                            item.imageUrl = "";
                            return item;
                        }
                    });
                });
            },
            formattedPhone: function (phoneNumber) {
                if (!phoneNumber) return "javascript:void(0)";
                if (phoneNumber.length === 10) {
                    return "tel:+1-" + this.changeFormat(phoneNumber);
                }
            },
            changeFormat: function (phoneNumber) {
                var s2 = ("" + phoneNumber).replace(/\D/g, '');
                var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
                var formattedNumber = (!m) ? null : m[1] + "-" + m[2] + "-" + m[3];
                return formattedNumber;
            }
        });
    </script>
</dom-module>