<html-import html-href="behaviors/index.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="ui-elements/groups/tab-group.html"></html-import>
<html-import html-href="summary/outstanding-conditions-count.html"></html-import>
<html-import html-href="summary/loan-detail.html"></html-import>
<html-import html-href="summary/property-info.html"></html-import>
<html-import html-href="summary/loan-remaining-days.html"></html-import>
<html-import html-href="ui-elements/ui-progress-bar-status.html"></html-import>
<html-import html-href="summary/pending-message-count.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/application-service.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="notification/notification-modal.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<dom-module id="dashboard-view">
    <template>
        <div hidden$="[[ loader ]]" >
            <template is="dom-if" if="{{ isAssignedToMe }}">

                <div class="container clearfix">
                    <div class="content-wrap clearfix">
                        <!--start top-details-->
                        <ul class="top-details">
                            <li>
                                <div class="red-bx">
                                    <span class="df df-notes"></span>
                                    <div class="out-red-bx">
                                        <h3>
                                            <outstanding-conditions-count entity-id="[[ entityId ]]"
                                                                          portal="borrower"></outstanding-conditions-count>
                                        </h3>
                                        <p>Outstanding<br/>Conditions</p>
                                    </div></div>
                            </li>
                            <li>
                                <div class="blue-bx">
                                    <span class="df df-messages"></span>
                                    <div on-click="triggerNotificationPopup" class="pend-blue-bx">
                                        <h3>
                                            <pending-message-count entity-id="[[ entityId ]]"></pending-message-count>
                                        </h3>
                                        <p>Pending<br/>Messages</p>
                                    </div>
                                </div>
                            </li>
                            <!-- <li>
                                <div class="img-det">
                                    <span class="df df-calendar"></span>
                                </div>
                                <div class="det-text textAlgn">
                                    <loan-remaining-days days-to-close="[[ days ]]"></loan-remaining-days>
                                </div>
                            </li>
                            <li>
                                <div class="det-text">
                                    <loan-detail loan-number="[[ loanNumber ]]"
                                                 loan-amount="[[ loanAmount ]]"></loan-detail>
                                </div>
                            </li>     -->
                            <li>
                                <div class="loan-officer">
                                    <template is="dom-if" if="[[loanOfficerDetails.assignee]]" restamp>
                                            <span hidden$="[[loanOfficerDetails.imageUrl]]"
                                                  class="df df-no-user img-circle"></span>
                                    </template>
                                    <template is="dom-if" if="[[loanOfficerDetails.imageUrl]]" restamp>
                                        <img class="img-circle" src="[[loanOfficerDetails.imageUrl]]">
                                    </template>
                                    <template is="dom-if" if="[[loanOfficerDetails.name]]" restamp>
                                        [[loanOfficerDetails.name]]
                                    </template>
                                    <template is="dom-if" if="[[loanOfficerDetails.title]]" restamp>
                                        <span>[[loanOfficerDetails.title]]</span>
                                    </template>
                                </div>
                            </li>
                            <li>
                                <div class="det-text">
                                    <template is="dom-if" if="[[loanOfficerDetails.nmlsNumber]]" restamp>
                                        <span>NMLS# [[loanOfficerDetails.nmlsNumber]]</span>
                                    </template>

                                    <template is="dom-if" if="[[loanOfficerDetails.email]]" restamp>
                                        <a href="mailto:[[loanOfficerDetails.email]]">
                                            <span class="user-email">[[loanOfficerDetails.email]]</span>
                                        </a>
                                    </template>

                                    <template is="dom-if" if="[[loanOfficerDetails.phone]]" restamp>
                                        <a href="[[ formattedPhone(loanOfficerDetails.phone) ]]">
                                            <alloy-format
                                                    phone-number="[[ loanOfficerDetails.phone ]]"></alloy-format>
                                        </a>
                                    </template>
                                </div>
                            </li>
                            <li>
                                <span class="df df-location"></span>
                                <div class="det-text address">
                                    <property-info state="[[state ]]" city="[[ city ]]" zip-code="[[ zipcode]]"
                                                   address-line="[[ addressLine]]"></property-info>
                                </div>
                            </li>
                        </ul>
                        <!--end top-wrap-->
                        <div>
                            <ui-progress-bar-status entity-type="application" entity-id="[[entityId]]">
                            </ui-progress-bar-status>
                        </div>
                        <div class="panel-box clearfix">
                            <template is="dom-if" if="{{ hasTabs }}">
                                <tab-group tab-list="{{config.tabs}}" disable-tabs$="{{config.disableTabs}}"></tab-group>
                            </template>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <div class="loading-container animated fadeInUp clearfix" hidden$="[[ !loader ]]">
            <h3>Hold on just a few more seconds.</h3>
            <loading-indicator></loading-indicator>
        </div>

        <ui-modal id="sendInviteModal" class="pending-notifications">
            <template is="dom-if" if="{{ isOpen }}" restamp>
                <notification-modal portal="[[ portal ]]" entity-id="[[ entityId ]]"></notification-modal>
            </template>
        </ui-modal>

        <event-hub id="hub"></event-hub>
        <url-parser id="url"></url-parser>
        <application-service id="applicationService"></application-service>
        <assignment-service id="assignmentService"></assignment-service>
        <user-profile-service id="userProfileService"></user-profile-service>
        <logout-service id="logout"></logout-service>
        <alloy-config id="config" config-ready="{{configReady}}"
                      alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "dashboard-view",

            listeners: {
                "notification-pop-up-close": "notificationPopUpClose"
            },

            behaviors: [
                eventHub, ensureDependenciesBehavior
            ],

            properties: {
                /**
                 * Instance configuration
                 */
                config: Object,

                hasTabs: {
                    type: Boolean,
                    computed: "computeHasTabs(config)"
                },
                entityId: String,

                days: String,

                loanAmount: String,

                loanNumber: String,

                state: String,

                city: String,

                zipCode: String,

                addressLine: String,
                entityType: {
                    type: String,
                    value: 'application'
                },
                isAssignedToMe: {
                    type: Boolean,
                    value: false
                },
                isOpen: {
                    type: Boolean,
                    value: false
                },
                loanOfficerDetails: {
                    type: Object,
                    value: {}
                },
                loader: {
                    type: Boolean,
                    value: true
                },
                subscriptionList: {
                    type: Array,
                    value: []
                },
                loanOfficerAssigned: false
            },
            observers: ["onConfigChanged(config)"],

            onConfigChanged: function (config) {
                this.setValidConfig(config);
            },

            computeHasTabs: function (config) {
                return config && config.tabs && config.tabs.length > 0;
            },
            /**
             * Expects domHost.config to have been set by <micro-app> when it appends the domHost
             */
            attached: function () {
                this.portal = this.configuration.apps.securityLogin.configuration.portal;
                var self = this;
                var temporaryApplicationNumber = self.$.url.getParams().id;
                self.fetchLoanOfficerData(temporaryApplicationNumber);
                // TO hide loader of dashboard as condition tab has loaded
                this.subscriptionList.push(this.subscribe('condition:loaded', this.hideLoader.bind(this)));
                var entityId = self.entityId || ":id";
                self.set("entityId", entityId);
                this.setConfig(self.domHost.config);
                this.subscribe('adjust-dashboard-panel-height', _.debounce(
                        self.calculateHeight.bind(self)
                        , 500));

                self.ensure("assignmentService").then(function (assignmentService) {
                    assignmentService.checkAssignedToMe(self.entityType, self.entityId).then(function (response) {
                        self.set("isAssignedToMe", response.isAssigned);
                        if (self.isAssignedToMe)
                            self.setApplicationDetails();
                        else
                            self.logout();
                    }).catch(function (error) {
                        self.logout();
                    });
                });

            },

            detached: function () {
                //Unsubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
            },

            logout: function () {
                this.$.logout.logout();
            },

            calculateHeight: function () {
                var _targetElement = this.querySelector('.panel-box');
                _targetElement.style.minHeight = _targetElement.offsetHeight + 'px';
            },

            fetchLoanOfficerData: function (temporaryApplicationNumber) {
                var self = this;
                self.ensure('assignmentService')
                        .then(function (assignmentService) {
                            assignmentService.getLoanOfficer(temporaryApplicationNumber)
                                    .then(function (response) {
                                        if (response) {
                                            if (response.assignee) {
                                                self.parseUserProfileDetails('loanOfficerDetails', response.assignee);
                                            }
                                        }

                                    });
                        });
            },

            setValidConfig: function (configuration) {
                if (!configuration) {
                    return;
                }
                if (!configuration.activities && !configuration.tabs) {
                    return;
                }
                this.set("validConfig", configuration);
            },

            setConfig: function (configuration) {
                if (!configuration) {
                    return;
                }
                if (!configuration.activities || !configuration.tabs) {
                    return;
                }
                this.set("config", configuration);
            },

            formatLoanAmount: function (amount) {
                return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            },

            setApplicationDetails: function () {
                var self = this;

                this.ensure("applicationService")
                        .then(function (services) {
                            return services.getApplicationDetails(self.entityId)
                        }).then(function (response) {
                    var todaysDate = moment();
                    var daysToClose = moment(response.expirationDate.time).diff(todaysDate, 'days');
                    self.set("days", daysToClose);
                    self.set("loanAmount", self.formatLoanAmount(response.amount));
                    self.set("loanNumber", response.applicationNumber);

                    self.set("state", response.propertyAddress.state === "." ? "" : response.propertyAddress.state);
                    self.set("addressLine", response.propertyAddress.line1 === "." ? "" : response.propertyAddress.line1);

                    self.set("city", response.propertyAddress.city);
                    self.set("zipcode", response.propertyAddress.zipCode);
                })
            },

            triggerNotificationPopup: function (e) {
                if (_.isUndefined(this.$.sendInviteModal)) return
                this.set("isOpen", true);
                e.preventDefault();
                this.$.sendInviteModal.open();
                this.$.hub.publish("notification:scrollTop");
            },

            notificationPopUpClose: function () {
                if (_.isUndefined(this.$.notificationModal)) return
                this.set("isOpen", false);
                this.$.notificationModal.close();
            },

            parseUserProfileDetails: function (type, assignee) {
                var self = this;

                self.ensure('userProfileService').then(function (userProfileService) {
                    // get the user's name and title, contact information
                    userProfileService.fetchUserProfile(assignee).then(function (response) {
                        if(response.firstName){
                            self.set(type + ".name", response.firstName + " " + response.lastName);
                        }
                        self.set(type + ".title", response.title);
                        self.set(type + ".email", response.email);
                        self.set(type + ".phone", response.phone ? response.phone :
                                response.mobileNumber);
                        if (response.nmlsNumber)
                            self.set(type + ".nmlsNumber", response.nmlsNumber);
                        self.set('loanOfficerAssigned', true)
                    });
                    self.set(type + ".assignee", assignee);
                    // get the user's logo, if not available update noImage to true
                    userProfileService.fetchUserLogo(assignee).then(function (response) {
                        if (response) {
                            if (response.url){
                                self.set(type + ".imageUrl", response.url);
                            }
                        }
                    }).catch(function (error) {
                        if (error.status == 404) {
                            self.set(type + ".imageUrl", undefined);
                        }
                    });
                });
            },
            hideLoader: function () {
                this.set('loader', false);
            },
            formattedPhone: function (phoneNumber) {
                if (!phoneNumber) return "javascript:void(0)";

                if (phoneNumber.length === 10) {
                    return "tel:+1-" + this.changeFormat(phoneNumber);
                }
            },
            changeFormat: function (phoneNumber) {
                var s2 = ("" + phoneNumber).replace(/\D/g, '');
                var m = s2.match(/^(\d{3})(\d{3})(\d{4})$/);
                var formattedNumber = (!m) ? null : m[1] + "-" + m[2] + "-" + m[3];
                return formattedNumber;
            }
        });
    </script>
</dom-module>