<dom-module id="borrower-data-url-image">
    <template>
        <template is="dom-if" if="[[ isDataExist ]]">
            <img src="[[data]]" class="data-image img-responsive animated fadeIn" alt="Embedded Image">
        </template>
    </template>
    <script>
        Polymer({
            is: "borrower-data-url-image",

            properties: {
                data: String,

                isDataExist: {
                    type: Boolean,
                    computed: 'computeDataExist(data)'
                }
            },
            computeDataExist: function (data) {
                return (data !== undefined && data !== null && data !== '');
            }
        })
    </script>
</dom-module>