<dom-module id="get-started">
    <template>
        <div class="get_started animated fadeInUp clearfix">
            <h1 class="text-center">Get started</h1>
            <p class="text-center">Login or sign up below.</p>
            <div class="btns">
                <button class="btn btn-primary signup_btn"
                        on-click="redirectSignup"
                        type="submit">SIGN UP</button>
                <button class="btn btn-primary btn-login"
                        on-click="redirectLogin"
                        type="submit">LOGIN</button>
            </div>
        </div>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
        <!-- to get query params -->
        <url-parser id="urlParser"></url-parser>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
        <session-manager id="session"></session-manager>
    </template>
    <script>
        Polymer({
            is: "get-started",
            properties: {
                portal: String
            },
            attached: function(){
                var self = this;
                //Portal from configuration
                var token = self.$.session.get("token");
                if(token){
                    self.$.session.isAuthorized().then(function(){
                        window.location.hash = self.configuration.private.url;
                    })
                }
                this.portal = this.configuration.apps['sign-up'].configuration.portal;
                if(!this.showSignUpOption())
                    this.querySelector('.signup_btn').setAttribute("hidden", true);
                else
                    this.querySelector('.signup_btn').removeAttribute("hidden");
            },

            get queryParams() {
                var _params = this.$.urlParser.getParams();
                if (_params && Object.keys(_params).length > 0) {
                    return "/" + window.$.param(_params).replace(/=/g, ":");
                } else {
                    return "";
                }
            },

            redirectSignup: function () {
                //window.location.hash = "#/create-account";
                window.location.hash = "#/sign-up" + this.queryParams;
            },

            redirectLogin: function () {
                window.location.hash = "#/login" + this.queryParams;
            },


            /*
             * Check if the sign up button should be visible to the user
             * Show for borrower portal, for lender portal/affinity partner show only if url has invitation token
             */
            showSignUpOption: function () {
                var self = this;
                if (self.portal !== "borrower") {
                    if (self.queryParams)
                        return true;
                    else
                        return false;
                }
                return true;
            }
        });
    </script>
</dom-module>