<html-import html-href="ui-elements/ui-video.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<html-import html-href="behaviors/ensure-dependencies.html"></html-import>
<dom-module id="registered-video">
    <template>
        <!--start welcome-area-->
        <div class$="{{ backgroundClass }}">
            <div class="vertical-center vcenter-vspace clearfix">

                <!--start welcome-area-->
                <div class="welcome-area" hidden$="[[ showVideo ]]">
                    <div class="clearfix">
                        <div class$="[[ getDefaultVideoClassName ]]">
                            <div class="welcome">
                                <h1>Hi there,</h1>
                                <p>Welcome to {{appTenant.tenantDisplayName}}, a safe place where you can manage
                                    everything you’ll need
                                    for your mortgage application. It’s secure, confidential, and easy to use.</p>

                                <p>Our automated system has lots of convenient features to help walk you through the
                                    process
                                    and get your home loan details in order. Allowing the system to verify your details
                                    is
                                    the fastest, most accurate way to proceed – but you can always choose to submit your
                                    information manually if you prefer.</p>
                                <p class="blue">Let’s get you set up to manage all your mortgage information in one
                                    place.</p>
                            </div>
                        </div>
                        <template is="dom-if" if="[[ videoOn ]]" restamp>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn2">
                                <div class="video">
                                    <template is="dom-if" if="[[ !checkIfVideo(videoUrl) ]]" restamp>
                                        <img src="[[ videoPoster ]]" alt="Video">
                                    </template>
                                    <template is="dom-if" if="[[ checkIfVideo(videoUrl) ]]" restamp>
                                        <ui-video video-url="[[ videoUrl ]]"></ui-video>
                                    </template>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="text-center getstartbtn">
                        <button class="btn btn-lg btn-primary" type="submit" on-click="getStarted">GET STARTED</button>
                    </div>
                </div>
                <!--end welcome-area-->
            </div>
        </div>
        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "registered-video",
            properties: {
                videoOn: false,
                backgroundImageOn: false,
                videoPoster: "",
                videoUrl: "",
                backgroundClass: "container-fluid no-pad clearfix",
                getDefaultVideoClassName: "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1",
                showVideo: true
            },
            /** This function redirects user to the next screen on click of Get Started */
            getStarted: function () {
                window.location.hash = this.configuration.private.url;
            },

            observers: [
                'setClass(backgroundImageOn)',
                'getDefaultClassName(videoOn)'
            ],

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.set('getDefaultVideoClassName', "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1");
                this.set('showVideo', true);
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('videoOn', resposne.isWelcomScreenVideoOn)
                                        self.set('videoPoster', resposne.welcomScreenImageUrl)
                                        self.set('videoUrl', resposne.welcomScreenVideoUrl)
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                        self.set('showVideo', false)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })
            },

            checkIfVideo: function (videoUrl) {
                return (videoUrl)
            },

            getDefaultClassName: function (isVideoOn) {
                var defaultclass = "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1";
                if (!isVideoOn) {
                    defaultclass += " no-video";
                }
                this.set('getDefaultVideoClassName', defaultclass);
            },

            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            }
        });
    </script>
</dom-module>