<html-import html-href="ui-elements/forms/ui-radio.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="services/questionnaire-filters-service.html"></html-import>
<html-import html-href="services/application-filters-service.html"></html-import>
<html-import html-href="services/logout-service.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<dom-module id="start-application-screen">
    <template>
        <style>
            .loading-container {
                padding-top: 72px;
            }
        </style>

        <div class$="[[ checkForBackgroundImage(backgroundImageOn) ]]">
            <div class="vertical-center vcenter-vspace clearfix">

                <!-- Get Started section: START -->
                <div hidden$="[[loader]]" class="welcome-docit text-center animated fadeInUp celarfix">
                    <h1>[[question.questionText]]</h1>
                    <ui-form id="form">
                        <!-- radio button options here -->
                        <ui-radio containerClassName="cc-selector"
                                  radio-group="{{ question.availableAns }}"></ui-radio>
                    </ui-form>
                </div>
                <!-- Get Started section: END -->

                <!-- Loading section: START -->
                <div class="loading-container animated fadeInUp clearfix" hidden$="[[!loader]]">
                    <h3>Hang tight as your great experience will safely and securely begin in just a moment.</h3>
                    <loading-indicator></loading-indicator>
                </div>
                <!-- Loading section: END -->

            </div>
        </div>
        <url-parser id="url"></url-parser>
        <logout-service id="logout"></logout-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <questionnaire-filters-service id="questionnaireFiltersService"></questionnaire-filters-service>
        <application-filters-service id="applicationFiltersService"></application-filters-service>
        <session-manager id="session"></session-manager>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "start-application-screen",
            properties: {
                temporaryApplicationNumber: String,
                loader: {
                    type: Boolean,
                    value: true
                },
                question: Object,
                loanPurposeUpdated: {
                    type: Boolean,
                    value: false
                }
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                var self = this;
                self.temporaryApplicationNumber = self.$.url.getParams().id;
                if (self.temporaryApplicationNumber) {
                    self.ensure("questionnaireFiltersService")
                            .then(function (service) {
                                service.hasApplicationAssigned(self.temporaryApplicationNumber).then(function (response) {
                                    if (response) {
                                        // Get existed questionnaire application
                                        self._getExistedQuestionnaireApplication(self.temporaryApplicationNumber);
                                    }
                                    else {
                                        self.logout();
                                    }
                                });
                            });
                }
                else {
                    if (self.$.session.get("start-application-tempno")) {
                        self.temporaryApplicationNumber = self.$.session.get("start-application-tempno");
                        // Get existed questionnaire application
                        self._getExistedQuestionnaireApplication(self.temporaryApplicationNumber);
                    } else {
                        self._createNewQuestionnaireApplication()
                                .then(function (temporaryApplicationNumber) {
                                    self.$.session.set("start-application-tempno", temporaryApplicationNumber);
                                    // Get existed questionnaire application
                                    self._getExistedQuestionnaireApplication(temporaryApplicationNumber);
                                });
                    }

                }

                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                    })
                        })
                this.subScriptionInstance = this.subscribe('update-loan-purpose', this.updateLoanPurpose.bind(this));
            },
            logout: function () {
                this.$.logout.logout();
            },
            _getExistedQuestionnaireApplication: function (applicationNumber) {
                var self = this;
                self.ensure('questionnaireService')
                        .then(function (questionnaireService) {
                            questionnaireService.getStatus(applicationNumber)
                                    .then(function (response) {
                                        self.parseQuestionnaireStatus(response);
                                    });
                        });
            },

            _createNewQuestionnaireApplication: function () {
                var self = this;
                return self.ensure('questionnaireService').then(function (questionnaireService) {
                    return questionnaireService.getTemporaryApplicationNumber();

                });
            },
            detached: function () {
                this.unsubscribe(this.subScriptionInstance);
            },
            /*
             * Update the loan-purpose option and redirect to welcome-video screen
             */
            updateLoanPurpose: function (payload) {
                var self = this;
                if (payload) {
                    if (payload.Answer && self.loanPurposeUpdated === false) {
                        return self.ensure("questionnaireService")
                                .then(function (service) {
                                    self.set('loanPurposeUpdated', true);
                                    //self.set('loader', true);
                                    service.updateLoanPurpose(self.temporaryApplicationNumber, payload)
                                            .then(function (response) {
                                                if (response === true) {
                                                    // Logic for copy questionnaire data from latest application with current application.
                                                    var isCopyData = self.$.session.get("borrower-application-is-copy-data");
                                                   if(isCopyData)
                                                   {   
                                                       self.copyAnswer(self.temporaryApplicationNumber);
                                                   }
                                                   else{
                                                    self.redirectNextScreen();//redirect to Next Screen
                                                   }
                                                }
                                                else {
                                                    //self.set('loader', false);
                                                    self.set('loanPurposeUpdated', false);
                                                    console.warn('Some thing went wrong in loan purpose');
                                                }
                                            })
                                            .catch(function (error) {
                                                self.set('loader', false);
                                            });
                                })
                                .catch(function (error) {
                                    console.warn(error);
                                });
                    }
                }
            },
            copyAnswer:function(temporaryApplicationNumber){
                var self = this;
                var emailId = self.$.session.get("borrower-application-email-id");
                self.ensure("applicationFiltersService")
                        .then(function (applicationFilterService) {
                            return applicationFilterService.getActiveClosedLoans(emailId)
                                    .then(function (activeClosedLoans) { 
                                            if(activeClosedLoans && activeClosedLoans.length>0){
                                              var latestActiveLoan =  activeClosedLoans[0];
                                              var fromApplicationNumber = latestActiveLoan.applicationId;
                                              var toApplicationNumber = self.temporaryApplicationNumber;
                                              self.ensure("questionnaireService")
                                              .then(function(questionnaireService){
                                                return questionnaireService.copyAnswer(fromApplicationNumber, toApplicationNumber)
                                                .then(function(){
                                                    self.$.session.remove("borrower-application-is-copy-data"); 
                                                    self.$.session.remove("borrower-application-email-id");
                                                    self.redirectNextScreen();
                                                }) .catch(function (error) {                                                
                                                self.$.session.remove("borrower-application-is-copy-data"); 
                                                    self.$.session.remove("borrower-application-email-id");
                                                    console.warn('Some thing went wrong in copy questionnaire answer');
                                                    self.redirectNextScreen();
                                            });
                                              });
                                              
                                            }
                                    })
                                });           
            },
            /**
             * If questionnaire doesn't exist, create a new one and return the temporary application number
             * Using this fetch the loan purpose question from questionnaire
             * If the questionnaire exists and status is not open, redirect to dashboard
             * Else redirect to questionnaire-sections if loan-purpose saved in DB else remain on the same page
             */
            parseQuestionnaireStatus: function (questionnaire) {
                var self = this;
                if (questionnaire) {
                    if (questionnaire.temporaryApplicationNumber) {
                        //Set temporary Application number
                        self.set('temporaryApplicationNumber', questionnaire.temporaryApplicationNumber);
                    }


                    switch (questionnaire.status.toLowerCase()) {
                        case 'open':
                            // check if the loan-purpose is saved in DB. If saved redirect to questionnaire else show the same page.
                            self.ensure('questionnaireService')
                                    .then(function (questionnaireService) {
                                        questionnaireService.getLoanPurposeQuestion(self.temporaryApplicationNumber)
                                                .then(function (response) {
                                                    if (response.answer) {
                                                        var logoClick = self.$.url.getParams().logo;
                                                        if (logoClick)
                                                            self.set('question', response);
                                                        else
                                                            window.location.hash = "#/questioner-sections/id:" + self.temporaryApplicationNumber;
                                                        self.loader = false;
                                                    }
                                                    else {
                                                        self.set('question', response);
                                                        self.loader = false;
                                                    }
                                                });
                                    });
                            break;
                        case 'welcomepostapplication':
                            window.location.hash = "#/welcome-post-application/id:" + questionnaire.applicationNumber;
                            self.loader = false;
                            break;
                        case 'postapplication':
                            //Redirect to post application
                            // window.location.hash = "#/welcome-post-application/refid:" + self.temporaryApplicationNumber;
                            var applicationCheck = _.filter(questionnaire.userState, function (o) {
                                return o.status.toLowerCase() == "application";
                            });

                            // if (questionnaire.userState != null && questionnaire.userState != undefined && questionnaire.userState.length > 0 && applicationCheck.length > 0) {
                            //     var self = this;
                            //     this.ensure("questionnaireService").then(function (service) {
                            //         service.completePostApplication(questionnaire.applicationNumber).then(function (response) {
                            //             if (response)
                            //                 window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
                            //         })
                            //     })
                            // }
                            // else {

                            if (questionnaire.applicationNumber)
                                window.location.hash = "#/post-application/id:" + questionnaire.applicationNumber;
                            else
                                window.location.hash = "#/post-application/id:" + questionnaire.temporaryApplicationNumber;
                            // }
                            break;

                        case 'welcomepersonaldashboard':
                            window.location.hash = "#/welcome-personal-dashboard/id:" + questionnaire.applicationNumber;
                            self.loader = false;
                            break;
                        default:
                            window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
                            self.loader = false;
                    }

                }
            },
            /*
             * Get the loan-purpose question from the questionnaire
             */
            getLoanPurposeQuestion: function () {
                var self = this;
                self.ensure('questionnaireService').then(function (questionnaireService) {
                    questionnaireService.getLoanPurposeQuestion(self.temporaryApplicationNumber).then(function (response) {
                        self.set('question', response);
                    });
                });
            },
            redirectNextScreen: function () {
                window.location.hash = "#/questioner-sections/id:" + this.temporaryApplicationNumber;
            },
            checkForBackgroundImage: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                return defaultClass;
            }
        });
    </script>
</dom-module>