<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/ui-video.html"></html-import>
<html-import html-href="borrower-portal/borrower-invite-details.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<dom-module id="welcome-video">
    <template>
        <style>
            :host::content .welcome-confirm .modal-dialog .btn.btn-primary {
                padding: 18px 30px !important;
                width: auto !important;
            }
        </style>
        <public-header></public-header>
        <!--start welcome-area-->
        <div class$="{{ backgroundClass }}">
            <div class="vertical-center vcenter-vspace clearfix">
                <div hidden$="[[loader]]">
                    <!--start welcome-area-->
                    <div class="welcome-area" hidden$="[[ showVideo ]]">
                        <div class="clearfix">
                            <div class$="[[ getDefaultVideoClassName ]]">
                                <borrower-invite-details invitation-token="{{invitationToken}}"
                                                         customer-path-way-invitation-token={{customerPathWayInvitationReferenceId}}
                                                         url-key="{{urlKey}}"></borrower-invite-details>
                            </div>
                            <template is="dom-if" if="[[ videoOn ]]" restamp>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn2">
                                    <div class="video">
                                        <template is="dom-if" if="[[ !checkIfVideo(videoUrl) ]]" restamp>
                                            <img src="[[ videoPoster ]]" alt="Video">
                                        </template>
                                        <template is="dom-if" if="[[ checkIfVideo(videoUrl) ]]" restamp>
                                            <ui-video video-url="[[ videoUrl ]]"></ui-video>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </div>

                        <div class="text-center getstartbtn">
                            <div class="error-message">
                                <ui-error-summary id="errorSummary"></ui-error-summary>
                            </div>
                            <button class="btn btn-lg btn-primary" type="submit" disabled$="{{tokenExpired}}"
                                    on-click="getStarted">GET STARTED
                            </button>
                        </div>
                    </div>
                    <!--end welcome-area-->
                </div>
                <!-- Loading section: START -->
                <div class="text-center get_started animated fadeInUp celarfix"
                     hidden$="[[!loader]]">
                    <h3>Hold on just a few more seconds.</h3>
                    <loading-indicator></loading-indicator>
                </div>
                <!-- Loading section: END -->
            </div>
        </div>

        <ui-confirm class="welcome-confirm" id="confirmRequireQuestion"
                    confirm-title="[[ confirmTitle ]]"
                    buttons='[[ buttons ]]'></ui-confirm>

        <url-parser id="urlParser"></url-parser>
        <theme-service id="themeService"></theme-service>
        <identity-service id="identityService"></identity-service>
        <session-manager id="session"></session-manager>
        <ui-modal id="uiModal"></ui-modal>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "welcome-video",
            properties: {
                buttons: {
                    type: Array,
                    value: function () {
                        return [
                            {
                                text: "Logout and accept invite",
                                color: "primary",
                                clickHandler: function () {
                                    this.fire("confirmRequireQuestion", {
                                        confirm: this
                                    });
                                    //this.close();
                                }
                            },
                            {
                                text: "I'll try later",
                                color: "primary",
                                clickHandler: function () {
                                    this.fire("reject", {
                                        confirm: this
                                    });

                                    //this.close();
                                }
                            }]
                    },
                },
                loader: {
                    type: Boolean,
                    value: true
                },
                videoOn: false,
                videoPoster: "",
                videoUrl: "",
                tokenExpired: false,
                confirmTitle: "You have received an invite to create an account, but the user is already logged in.",
                confirmButtonTitle: "Logout and accept invite"
            },
            observers: [
                'setClass(backgroundImageOn)',
                'getDefaultClassName(videoOn)'
            ],
            listeners: {
                "confirmRequireQuestion": "acceptInvite",
                "reject": "handleReject"
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                var self = this;
                var token = self.$.session.get("token");
                if (token) {
                    this.ensure("identityService", "confirmRequireQuestion", "uiModal")
                            .then(function (itServices) {

                                itServices.identityService.getCurrentUser()
                                        .then(function (loggedInUser) {
                                            //self.set("username", loggedInUser.username);
                                            self.set('confirmTitle', "You have received an invite to create an account, but the user " + loggedInUser.username + " is already logged in.")
                                            self.set('confirmButtonTitle', "Logout " + loggedInUser.username + " and accept invite")
                                            self.$.confirmRequireQuestion.open();
                                        })
                            });
                }
                var self = this;
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.set('getDefaultVideoClassName', "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1");
                this.set('showVideo', true);
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('videoOn', resposne.isWelcomScreenVideoOn)
                                        self.set('videoPoster', resposne.welcomScreenImageUrl)
                                        self.set('videoUrl', resposne.welcomScreenVideoUrl)
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                        self.set('showVideo', false)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })

                var parseParam = this.$.urlParser.getParams();
                if (parseParam.reference) {
                    this.invitationToken = this.$.urlParser.getParams().reference;
                    this.urlKey = 'reference';
                }
                if (parseParam.refid) {
                    this.invitationToken = this.$.urlParser.getParams().refid;
                    this.urlKey = 'refid';
                }
                else if (parseParam.resetlink) {
                    this.invitationToken = this.$.urlParser.getParams().resetlink;
                    this.urlKey = 'token';
                }
                if (parseParam.source) {
                    this.ensure("identityService")
                            .then(function (identityService) {
                                identityService.byPassLoginForLendingPage(parseParam.source, parseParam.token)
                                        .then(function (response) {
                                            self.customerPathWayInvitationReferenceId = response.invitationReferenceId;
                                            self.set("loader", false);
                                        })
                                        .fail(function (error) {
                                            self.set("tokenExpired", true);
                                            self.set("loader", false);
                                            self.ensure("errorSummary").then(function (errorSummary) {
                                                if (error) {
                                                    if (error.responseJSON && error.responseJSON.message) {
                                                        errorSummary.setErrors(error.responseJSON.message);
                                                    }
                                                    if (error.message) {
                                                        errorSummary.setErrors(error.message);
                                                    }
                                                }
                                            })
                                        });
                            });
                }
                else {
                    this.set("loader", false);
                }
            },

            acceptInvite: function () {
                var self = this;
                this.$.session.remove("token");
                this.set('loader', true)
                this.$.confirmRequireQuestion.close();
                setTimeout(function(){ self.set('loader', false) }, 25000);
            },
            handleReject: function () {
                window.location.hash = this.configuration.private.url;
            },
            /** This function redirects user to the next screen on click of Get Started */
            getStarted: function () {
                var self = this;
                self.$.errorSummary.setErrors([]);
                if (this.customerPathWayInvitationReferenceId && this.customerPathWayInvitationReferenceId != null) {
                    window.location.hash = self.configuration.private.url;
                    window.location.reload();
                }
                else if (this.invitationToken) {
                    if (this.urlKey === "token")
                        window.location.hash = '#/securityReset/' + this.urlKey + ':' + this.invitationToken;
                    else
                        window.location.hash = '#/sign-up/' + this.urlKey + ':' + this.invitationToken;
                }
            },

            checkIfVideo: function (videoUrl) {
                return (videoUrl)
            },

            getDefaultClassName: function (isVideoOn) {
                var defaultclass = "col-lg-6 col-md-6 col-sm-6 col-xs-12 clmn1";
                if (!isVideoOn) {
                    defaultclass += " no-video";
                }
                this.set('getDefaultVideoClassName', defaultclass);
            },

            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            }
        });
    </script>
</dom-module>