<html-import html-href="ui-elements/forms/ui-radio.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<dom-module id="loan-purpose">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>

        <div class$="[[ checkForBackgroundImage(backgroundImageOn) ]]">
            <div class="vertical-center vcenter-vspace clearfix">
                <!-- Get Started section: START -->
                <div hidden$="[[loader]]"
                     class="welcome-docit text-center animated fadeInUp celarfix">
                    <h1>[[question.questionText]]</h1>
                    <ui-form id="form">
                        <!-- radio button options here -->
                        <ui-radio containerClassName="cc-selector"
                                  radio-group="{{ question.availableAns }}"></ui-radio>
                    </ui-form>
                </div>
                <!-- Get Started section: END -->

                <!-- Loading section: START -->
                <div class="loading-container animated fadeInUp clearfix" hidden$="[[!loader]]">
                    <h3>Hold on just a few more seconds.</h3>
                    <loading-indicator></loading-indicator>
                </div>
                <!-- Loading section: END -->

            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <url-parser id="url"></url-parser>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "loan-purpose",
            properties: {
                temporaryApplicationNumber: String,
                loader: {
                    type: Boolean,
                    value: true
                },
                question: Object
            },
            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],
            attached: function () {
                 var self = this;
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                    })
                        })
            //    var applicationNumber =  self.$.url.getParams().id;
              
            //     self.ensure('questionnaireService').then(function (questionnaireService) {
            //         questionnaireService.getStatus().then(function (response) {
                      
            //             self.parseQuestionnaireStatus(response);
            //         });
            //     });
            //     this.subScriptionInstance = this.subscribe('update-loan-purpose', this.updateLoanPurpose.bind(this));
            },
            detached: function () {
                this.unsubscribe(this.subScriptionInstance);
            },
            /*
             * Update the loan-purpose option and redirect to welcome-video screen
             */
            updateLoanPurpose: function (payload) {
                var self = this;
                if (payload) {
                    if (payload.Answer) {
                        return self.ensure("questionnaireService")
                                .then(function (service) {
                                    service.updateLoanPurpose(self.temporaryApplicationNumber, payload);
                                    // redirect to the get started page
                                    window.location.hash = "#/welcome-screen";
                                })
                                .catch(function (error) {
                                    console.warn(error);
                                });
                    }
                }
            },
            /**
             * If questionnaire doesn't exist, create a new one and return the temporary application number
             * Using this fetch the loan purpose question from questionnaire
             * If the questionnaire exists and status is not open, redirect to dashboard
             * Else redirect to questionnaire-sections if loan-purpose saved in DB else remain on the same page
             */
            parseQuestionnaireStatus: function (questionnaire) {
                var self = this;
                if (questionnaire) {
                    if (questionnaire.temporaryApplicationNumber) {
                        //Set temporary Application number
                        self.set('temporaryApplicationNumber', questionnaire.temporaryApplicationNumber);
                    }

                    if (questionnaire.status == null || typeof (questionnaire.status) == 'undefined') {
                        self.ensure('questionnaireService').then(function (questionnaireService) {
                            //Register new application and get it's temporary number
                            questionnaireService.getTemporaryApplicationNumber().then(function (response) {
                                self.set('temporaryApplicationNumber', response);
                            }).
                            then(function () {
                                self.loader = false;
                                //call the questionnaire to fetch the question dynamically
                                return self.getLoanPurposeQuestion();
                            });
                        });
                    }
                    else {
                        switch (questionnaire.status.toLowerCase()) {
                            case 'open':
                                // check if the loan-purpose is saved in DB. If saved redirect to questionnaire else show the same page.
                                self.ensure('questionnaireService').then(function (questionnaireService) {
                                    questionnaireService.getLoanPurposeQuestion(self.temporaryApplicationNumber).then(function (response) {
                                        if (response.answer) {
                                            var logoClick = self.$.url.getParams().logo;
                                            if (logoClick)
                                                self.set('question', response);
                                            else
                                                window.location.hash = "#/questioner-sections";
                                        }
                                        else
                                            self.set('question', response);
                                    });
                                });
                                self.loader = false;
                                break;
                            case 'welcomepostapplication':
                                window.location.hash = "#/welcome-post-application/id:" + questionnaire.applicationNumber;
                                self.loader = false;
                                break;
                            case 'postapplication':
                                //Redirect to post application
                                // window.location.hash = "#/welcome-post-application/refid:" + self.temporaryApplicationNumber;
                                var applicationCheck = _.filter(questionnaire.userState, function (o) {
                                    return o.status.toLowerCase() == "application";
                                });

                                if (questionnaire.userState != null && questionnaire.userState != undefined && questionnaire.userState.length > 0 && applicationCheck.length > 0) {
                                    var self = this;
                                    this.ensure("questionnaireService").then(function (service) {
                                        service.completePostApplication(questionnaire.applicationNumber).then(function (response) {
                                            if (response)
                                                window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
                                        })
                                    })
                                }
                                else
                                {
                                    
                                    if(questionnaire.applicationNumber)
                                        window.location.hash = "#/post-application/id:" + questionnaire.applicationNumber;
                                    else
                                    window.location.hash = "#/post-application/id:" + questionnaire.temporaryApplicationNumber;
                                }
                                break;

                            case 'welcomepersonaldashboard':
                                window.location.hash = "#/welcome-personal-dashboard/id:" + questionnaire.applicationNumber;
                                self.loader = false;
                                break;
                            default:
                                window.location.hash = "#/dashboard/id:" + questionnaire.applicationNumber;
                                self.loader = false;
                        }
                }
                }
            },
            /*
             * Get the loan-purpose question from the questionnaire
             */
            getLoanPurposeQuestion: function () {
                var self = this;
                self.ensure('questionnaireService').then(function (questionnaireService) {
                    questionnaireService.getLoanPurposeQuestion(self.temporaryApplicationNumber).then(function (response) {
                        self.set('question', response);
                    });
                });
            },
            checkForBackgroundImage: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                return defaultClass;
            }
        });
    </script>
</dom-module>