<dom-module id="welcome-content">
    <template>

        <h1>Hi there<span hidden$="{{isEmpty}}">&nbsp;{{borrowerFirstName}}</span>,</h1>
        <p>Welcome to {{appTenant.tenantDisplayName}}, a safe place where you can manage everything you’ll need
            for your mortgage application. It’s secure, confidential, and easy to use.</p>

        <p>Our automated system has lots of convenient features to help walk you through the process and get your home
            loan details in order. Allowing the system to verify your details is the fastest, most accurate way to
            proceed – but you can always choose to submit your information manually if you prefer.</p>
        <p class="blue">Let’s get you set up to manage all your mortgage information in one place.</p>

        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "welcome-content",
            properties: {
                borrowerFirstName: {
                    type: String,
                    value: null,
                    observer:'_borrowerFirstNameChanged'
                },
                isEmpty: {
                    type: Boolean,
                    value: false
                }
            },

            attached: function () {
                this.set("isEmpty", this.computeIsEmpty());
            },
            _borrowerFirstNameChanged: function(){
                this.set("isEmpty", this.computeIsEmpty());
            },
            computeIsEmpty: function () {
                var self = this;
                if (!self.borrowerFirstName) return true;
                return self.borrowerFirstName.length === 0;
            }
        });
    </script>
</dom-module>