<dom-module id="account-creation-congratulations">
    <template>
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center clearfix">
                <template is="dom-if" if="{{ hasStatus('success', output) }}">
                    <div class="get_started animated fadeInUp clearfix">
                        <p class="text-center">You will now receive an email to verify your account.</p>
                    </div>
                </template>
                <template is="dom-if" if="{{ hasStatus('INVALID_TOKEN', output) }}">
                    <div class="get_started animated fadeInUp clearfix">
                        <h1 class="text-center">Unable to create account.</h1>
                    </div>
                </template>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: "account-creation-congratulations",

            behaviors: [eventHub, workflowActivityBehavior],

            execute: function () {
                //console.log(this.output);
            },

            hasStatus: function (status, output) {
                return output && output.status && output.status.toLowerCase() === status.toLowerCase();
            }
        });
    </script>
</dom-module>