<html-import html-href="services/invitation-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="templates/template-loader.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-valid-username.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-equal.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-password-criteria.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/user-profile-service.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="account-creation-sign-up">
    <template>
        <style>
            /*
                Note: We are unable to move this to common place (ui-container) as this is limitation of Polymer that, we can only override style property where that element is :-moz-user-disabled
            */
            :host {
                --form-control-border-has-error: 0px;
            }
            :host::content .modal-dialog{height: 90vh;}
            :host::content .modal-content{width: 70%;}
            :host::content .modal-body {margin: 0;margin-top: 20px;padding: 0 30px 0 0;height: calc(100% - 60px);overflow-x: inherit;text-align: left;}
            :host::content  .modal-header {margin: 0;padding: 10px 0;padding-bottom: 10px;font-size: 18px;border-bottom: 1px solid #eee;}

            @media only screen and (max-width: 1023px) {
                :host::content .modal-content {width: 70%;}
            }
            @media only screen and (max-width: 767px) {
                :host::content .modal-body {margin-top: 15px;}
            }
            @media only screen and (max-width: 600px) {
                :host::content .modal-body {margin-top: 10px;}
            }
            @media only screen and (max-width: 479px) {
                :host::content .modal-content {width: 94%;}
            }
            @media only screen and (max-width: 362px) {
                :host::content .modal-body {height: calc(100% - 90px);}
            }
        </style>
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center vcenter-vspace clearfix">
                <div class="get_started animated fadeInUp clearfix">
                    <h1 class="text-center">Let's get your account set up</h1>

                    <p class="text-center">Please complete the information below to access {{appTenant.tenantDisplayName}}.</p>

                    <div class="login-form clearfix">
                        <ui-form id="form"
                                 data="{{ formData }}">
                            <ui-error-summary id="errorSummary"></ui-error-summary>
                                <div class="form-field">
                                <ui-container floating-label="Email" 
                                              is-required=true control-type="TextEmail"
                                              auto-save=false default-value="{{ inviteEmail }}">
                                    <ui-input name="email" value="{{inviteEmail}}">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Email.</ui-require-field>
                                            <ui-is-email>Email address is not valid.</ui-is-email>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                                <div class="form-field">
                                <ui-container floating-label="Password"
                                              is-required=true
                                              auto-save=false
                                              help-text-body="Your password must be at least 8 characters and contain one upper, lower, digit and a special character (!@#$%^*_)"
                                              help-text-placement="right"
                                              help-text-trigger="focus"
                                              help-text-selector-element='self' control-type="TextPassword">
                                    <ui-input name="password"
                                              type="password">
                                        <ui-validators>
                                            <ui-require-field>Password is required.</ui-require-field>
                                            <ui-is-password-criteria>Password criteria don't match.
                                            </ui-is-password-criteria>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                                <div class="form-field">
                                <ui-container floating-label="Confirm Password"
                                              is-required=true
                                              auto-save=false  control-type="TextPassword"  >
                                    <ui-input name="confirmPassword"
                                              type="password">
                                        <ui-validators>
                                            <ui-require-field>Confirm password is required.</ui-require-field>
                                            <ui-is-equal reference-value="[[ formData.password ]]">
                                                Password and Confirm Password must match.
                                            </ui-is-equal>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>
                                </div>
                        </ui-form>
                        <div class="btns signup-btn-space">
                            <ui-button id="acceptButton"
                                       disabled="{{ busy }}"
                                       disabled-text="Saving..."
                                       color="primary"
                                       fullWidth=true
                                       class=""
                                       on-click="submit">
                                SIGN UP
                            </ui-button>
                        </div>
                        <div class="or_div" hidden$="[[isLenderPortal]]">  </div>
                        <div class="login_social">
                            <button class="btn fb"></button>
                            <button class="btn in"></button>
                        </div>
                        <div class="login_terms_div">
                            <ui-label>
                                <div class="blue">By clicking "SIGN UP" I agree by electronic signature to:</div>
                                <p>1) Authorize {{appTenant.tenantDisplayName}} to obtain a credit report for each applicant submitted on this form from all of the major credit bureaus.</p>
                                <p>2) Receive disclosures and communications about my loan inquiry in electronic form. (I confirm I have access to a working computer and/or digital device where I can view and manage my information.)</p>
                                <p>3) Be contacted about a mortgage by a live agent, via email, artificial or prerecorded voice, SMS text at my residential or cellular number, dialed manually or by an autodialer. (Consent to be contacted is not a condition to purchase services.) I consent to be contacted even if my phone number or email address appears on a {{appTenant.tenantDisplayName}} Do Not Call/Do Not Email List, a State or National Do Not Call Registry, or any other Do Not Contact List.</p>

                                <div>Our<ui-modal-trigger modal-id="privacyPolicy" backdrop><a class="cursr">&nbsp;Privacy Policy,</a></ui-modal-trigger> <ui-modal-trigger modal-id="termsOfService" backdrop><a class="cursr">&nbsp;Terms of Use&nbsp;</a></ui-modal-trigger>and<ui-modal-trigger modal-id="electronicConsentAgreement" backdrop><a class="cursr">&nbsp;Electronic Consent Agreement.</a></ui-modal-trigger></div>
                            </ui-label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ui-modal id="termsOfService"
                  title="TERMS OF SERVICE"
                  fit-to-screen>
            <template-loader name="TermsofService"
                             version="1.0"></template-loader>
        </ui-modal>
        <ui-modal id="privacyPolicy"
                  title="PRIVACY POLICY"
                  fit-to-screen>
            <template-loader name="privacyPolicy"
                             version="1.1"></template-loader>
        </ui-modal>
        <ui-modal id="electronicConsentAgreement"
                  title="ELECTRONIC CONSENT AGREEMENT"
                  fit-to-screen>
            <template-loader name="electronicConsentAgreement"
                             version="1.0"></template-loader>
        </ui-modal>
        <div class="btn-bottom">
            <a class="btn btn-block" href="javascript:void(0);" on-click="resetLogin">LOG IN</a>
        </div>

        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
        <url-parser id="urlParser"></url-parser>
        <invitation-service id="invitationService"></invitation-service>
        <user-profile-service id="userprofileService"></user-profile-service>
        <http-request-promisified id="$http"></http-request-promisified>
        <session-manager id="session"></session-manager>
        <identity-service id="identity"></identity-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <alloy-tenant id="tenant" alloy-tenant="{{appTenant}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "account-creation-sign-up",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior,
                workflowActivityBehavior
            ],

            properties: {
                /**
                 * The URL for the next page in the account creation flow
                 */
                nextPageUrl: {
                    value: "#/congratulations-page",
                    type: String
                },

                /**
                 * Portal for which this signup is built
                 */
                portal: String,

                /**
                 * Invitation token if passed in url
                 */
                invitationToken: String,
                
                invitationId: String,
                /**
                 * role assigned to invitee
                 */
                invitationRole: String,
                brandedSiteToken: String,
                busy: Boolean,

                entityType: String,
                entityId:String,
                inviteEmail: String,
                referenceApplicationNumbers: {
                    type: Array,
                    value: ""
                }
            },

            attached: function () {
                var self = this;
                //Portal from configuration
                var token= self.$.session.get("token");
                if(token){
                    self.$.session.isAuthorized().then(function(){
                        window.location.hash = self.configuration.private.url;
                    })
                }
                this.portal = this.configuration.apps['sign-up'].configuration.portal;
                
                this.$.session.remove("start-application-tempno");
                this.$.session.remove("borrower-application-is-copy-data"); 
                this.$.session.remove("borrower-application-email-id");
                //Invitation token from url
                this.invitationToken = this.$.urlParser.getParams().refid;

                //brandedsite token from url
                this.brandedSiteToken = this.$.urlParser.getParams().reference;
                
                //Get associated role with invitation if appllicable
                if (this.invitationToken) {
                    var self = this;

                    self.ensure('invitationService').then(function (invitationService) {
                        invitationService.getInvitationDetails(self.invitationToken).then(function (invitationDetails) {
                            self.inviteEmail = invitationDetails.inviteEmail;
                            self.invitationRole = invitationDetails.role;
                            self.entityType = invitationDetails.entityType;
                            self.entityId = invitationDetails.entityId;
                            self.referenceApplicationNumbers = invitationDetails.referenceApplicationNumbers;
                        });
                    });
                }
            },

            submit: function (e) {
                var self = this;
                self.isValid()
                        .then(function (isValid) {
                            if (isValid) {
                                self.set("busy", true);
                                //Let's first reset errors in error ui-error-summary
                                self.$.errorSummary.setErrors([]);
                                return self.validateUsername()
                                        .then(function (result) {
                                            if (result === false) {
                                                self.$.errorSummary.setErrors("Username " + self.get("formData.email") + " already exists!");
                                                self.set("busy", false);
                                            } else {
                                                self.validateInvitationToken.bind(self)()
                                                        .then(function () {
                                                            self.createAccount
                                                            .bind(self)()
                                                            .then(function (response) {
                                                               

                                                                self.setResponseInSession(response)
                                                                    .then(function(){
                                                                        self.processQuestionnaireGivenInviteId(response)
                                                                            .then(function (res){
                                                                                var output = { status: "success" };
                                                                                self.completeWithOutput(output);        
                                                                                //After sign-up evaluate response to decide on next steps
                                                                                self.evaluateResponse(response);
                                                                            })
                                                                            .catch(function(error){
                                                                                if (error) {
                                                                                    self.$.errorSummary.setErrors("Error while processing request.");
                                                                                }
                                                                                self.set("busy", false);
                                                                            });
                                                                    })
                                                            });
                                                        })
                                                        .catch(function (error) {
                                                            if (error && error.responseJSON && error.responseJSON.message) {
                                                                self.$.errorSummary.setErrors(error.responseJSON.message);
                                                            }
                                                            self.set("busy", false);
                                                        });
                                            }
                                        });
                            }
                        }.bind(self)); // Promise ends here (then block)
            },

            createAccount: function () {
                var payload = {
                    username: this.get("formData.email"),
                    email: this.get("formData.email"),
                    name: this.get("formData.email"),
                    password: this.get("formData.password"),
                    roles: this.invitationRole ? [this.invitationRole] : ["Borrower"],
                    portal: this.get("portal"),
                    invitationReferenceId: this.get('invitationToken'),
                    brandedSiteReferenceId: this.get('brandedSiteToken')
                };

                return this.ensure("identity")
                        .then(function (identity) {
                            return identity.createUser(payload)
                        });
            },

            validateUsername: function () {
                var self = this;
                var url = "check/";
                var payload = {username: this.get("formData.email")};

                return new Promise(function (resolve, reject) {
                    self.$.$http.post(
                            url,
                            payload,
                            "",
                            function success(response) {
                                resolve(response.available);
                            },
                            function failure(error) {
                                reject(error)
                            });
                });
            },

            resetLogin: function () {
                window.location.hash = "#/login";
            },

            processQuestionnaireGivenInviteId: function(request) {
                var self = this;
                if(self.invitationToken && self.invitationId && request.loginResponse && request.loginResponse.token && request.loginResponse.userId)
                {
                    return  self.ensure('questionnaireService')
                                .then(function(questionnaireService){
                                    return questionnaireService
                                      .processQuestionnaireGivenInviteId(self.invitationId)
                                      .then(function(response){
                                         return response;
                                      });
                                });
                }
                else{
                    return new Promise(function (resolve, reject) {
                        resolve(true);
                    });
                }
            },

            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function () {
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                //Validation OK on the screen go ahead
                                return true;
                            } else {
                                //Validation Failed
                                return false;
                            }
                        });
            },

            /**
             * Validate token is passed
             */
            validateInvitationToken: function () {
                var self = this;
                
                if (self.invitationToken) {
                    //verify invitation id
                    return self.$.invitationService.verifyToken(self.entityType, self.invitationToken, self.formData.email).then(function (response) {
                        if(response && response.id)
                        {
                            self.invitationId= response.id;
                            if(response.userName != null)
                            {
                                var message = "Please use a valid invitation link to sign up";
                                self.$.errorSummary.setErrors(message);
                                self.set("busy", false);
                                throw new Error(message);
                            }
                        }
                        return response;
                    }, function (error) {
                        if(error.status = 404)
                            error.responseJSON= {"message" : "Invitation token expired."};
                        self.set("busy", false);
                        //Re throw error
                        throw error;
                    });
                } else if(self.brandedSiteToken){
                  return self.$.userprofileService.verifyBrandedSiteToken(self.brandedSiteToken).then(function (response) {
                        if(response && response.username) return response;
                    }, function (error) {
                        if(error && error.responseJSON && error.responseJSON.message) error.responseJSON.message = "Please use a valid reference link to sign up";
                        self.set("busy", false);
                        throw error;
                    });  
                } else {
                    //Throw error message if portal is back-office/affinity partner and invitation token not found
                    if (self.portal !== "borrower") {
                        self.$.errorSummary.setErrors("Please use a valid invitation link to sign up");
                        self.set("busy", false);
                    }
                    else
                        return Promise.resolve();
                }
            },

            /**
             * Evaluate signup response to decide on next steps
             */
            evaluateResponse: function (response) {
                if (response.loginResponse && response.loginResponse.token && response.loginResponse.userId) {
                    //Set Ip Address
                    this.$.identity.addIpAddressInSession();

                    if (this.invitationToken || this.brandedSiteToken )
                       {       
                           if(this.entityType === "application")
                           {
                            if(this.referenceApplicationNumbers!=null && this.referenceApplicationNumbers.length>0){
                                    window.location.hash = this.configuration.private.url;
                                window.location.reload();
                                }
                                else{
                                //window.location.hash = this.configuration.private.url;
                            window.location.hash = "#/start-application/id:" +this.entityId;
                                }
                           }   
                           else{
                               if( this.portal === "affinity-partner")
                               {
                                    window.location.hash = this.configuration.private.url;
                               }
                               else{
                                //window.location.hash = this.configuration.private.url;
                                window.location.hash = "#/start-application";
                                window.location.reload();
                               }
                               
                           }                 
                            
                       }
                    else
                        window.location.hash = "#/welcome";
                } else if (response.emailVerificationRequired === false && response.mobileVerificationRequired === true) {
                    //As Email verification is off and mobile verification is on redirect user to mobile verification
                    window.location.hash = ["#", "accountVerification", ("refid:" + response.userDetail.id)].join("/");
                } else {
                    //Normal work flow of email verification
                    window.location.hash = "#/signup-success";
                }
            } , 

            setResponseInSession: function (response) {
                if (response.loginResponse && response.loginResponse.token && response.loginResponse.userId) {
                    //If loginResponse is passed then no further action is required and auto login the user
                    this.$.session.set("token", response.loginResponse.token);
                    this.$.session.set("userId", response.loginResponse.userId);
                    this.$.session.setSessionObject("currentUserProfile", response.userDetail);
                }
                else {
                    this.$.session.remove("token");
                    this.$.session.remove("userId");
                }
                return new Promise(function (resolve, reject) {
                    resolve(true);
                });
            } 
        });
    </script>
</dom-module>