<dom-module id="create-account-verify-token">
    <template>
        <http-request-promisified id="$http"></http-request-promisified>
        <url-parser id="url"></url-parser>
    </template>
    <script>
        Polymer({
            is: "create-account-verify-token",

            behaviors: [eventHub, workflowActivityBehavior],

            execute: function () {
                var self = this;

                self.set("token", self.$.url.getParams().token);
                self.set("refId", self.$.url.getParams().refid);
                self.fetchTokenValidity()
                    .then(function (response) {
                        if (response.verified == true) {
                            self.completeWithOutput({ token: self.token, refid: self.refId });
                        }
                        else {
                            self.terminateWithReason("INVALID_TOKEN");
                        }
                    });
            },

            fetchTokenValidity: function () {
                var self = this;
                var url = "verify-token/";
                var payload = {
                    "refid": self.refId,
                    "token": self.token
                };

                return new Promise(function (resolve, reject) {
                    self.$.$http.put(
                        url,
                        payload,
                        "",
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            }
        })
    </script>
</dom-module>