<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>
<html-import html-href="templates/template-loader.html"></html-import>
<html-import html-href="ui-elements/drop-zone.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-equal.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-password-criteria.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-alpha.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="ui-elements/forms/ui-formatter-phone.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-zip-code.html"></html-import>
<html-import html-href="ui-elements/ui-tooltip.html"></html-import>
<dom-module id="account-creation-sign-up">
    <template>
        <style>
            .get_started {
                width: 100% !important;
            }
            .cont-info {
                padding: 0;
            }
             :host::content.form-horizontal.account-creation-sign-up .signup_form_btn.account-creation-sign-up {
                padding: 15px 0 2px 0;
                float: left;
                width: 100%;
                margin-left: 15px;
            }

             :host::content.form-horizontal.account-creation-sign-up .input-group.password.account-creation-sign-up span.account-creation-sign-up {
                bottom: 10px;
            }
            #zipSearchResult {
                overflow-y: auto;
                overflow-x: hidden;
            }
        </style>
        <div class="container-fluid no-pad">
            <div class="get_started">
                <h1>Sign Up</h1>

                <div class="form-horizontal">
                    <ui-form id="form"
                             data="{{ formData }}">
                        <ui-error-summary id="errorSummary"></ui-error-summary>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <ui-input placeholder="Company Name"
                                              name="company">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Company Name.</ui-require-field>
                                        </ui-validators>
                                    </ui-input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="row">
                                    <ui-input placeholder="Email Address"
                                              name="email">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Email.</ui-require-field>
                                            <ui-is-email>Email address is not valid.</ui-is-email>
                                        </ui-validators>
                                    </ui-input>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <ui-input placeholder="Password"
                                                  name="password"
                                                  type="password">
                                            <ui-validators>
                                                <ui-require-field>Password is required.</ui-require-field>
                                                <ui-is-password-criteria>Password criteria don't match.
                                                </ui-is-password-criteria>
                                            </ui-validators>
                                        </ui-input>
                                        <ui-tooltip title="Password must contain one Upper, Lower, digit and a Special character (!@#$%^*_)"><img src="../images/lock_img.png"
                                                 alt=""></ui-tooltip>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <ui-input placeholder="Confirm Password"
                                                  name="confirmPassword"
                                                  type="password">
                                            <ui-validators>
                                                <ui-require-field>Confirm password is required.</ui-require-field>
                                                <ui-is-equal reference-value="[[ formData.password ]]">
                                                    Password and Confirm Password must match.
                                                </ui-is-equal>
                                            </ui-validators>
                                        </ui-input>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 cont-info">
                            <label class="row">Contact information</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Legal Name</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-5 no-pad">
                                        <ui-input placeholder="First Name"
                                                  name="firstName">
                                            <ui-validators>
                                                <ui-require-field>Please enter your first name.</ui-require-field>
                                                <ui-is-alpha>First name is not valid.</ui-is-alpha>
                                            </ui-validators>
                                        </ui-input>
                                    </div>
                                    <div class="col-sm-2">
                                        <ui-input placeholder="Middle"
                                                  name="middleName">
                                        </ui-input>
                                    </div>
                                    <div class="col-sm-5 no-pad">
                                        <ui-input placeholder="Last Name"
                                                  name="lastName">
                                            <ui-validators>
                                                <ui-require-field>Please enter your last name.</ui-require-field>
                                                <ui-is-alpha>Last name is not valid.</ui-is-alpha>
                                            </ui-validators>
                                        </ui-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Direct Phone</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-5 no-pad">
                                        <ui-input name="phone"
                                                  placeholder="Mobile #">
                                            <ui-validators>
                                                <ui-require-field>Please enter your phone number.</ui-require-field>
                                                <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                                                </ui-is-phone-number>
                                            </ui-validators>
                                            <ui-formatters>
                                                <ui-formatter-phone></ui-formatter-phone>
                                            </ui-formatters>
                                        </ui-input>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label col-sm-2">Office</label>
                                    </div>
                                    <div class="col-sm-5 no-pad">
                                        <ui-input name="officePhone"
                                                  placeholder="Phone #"></ui-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Mailing Address</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12 dropdown no-pad">
                                        <ui-input class="dropdown-toggle"
                                                  on-keyup="searchAddress"
                                                  id="AddressAutocomplete"
                                                  value="{{ address }}"
                                                  placeholder="As listed on your State issued ID"
                                                  name="address">
                                            <ui-validators>
                                                <ui-require-field>Please enter your address.</ui-require-field>
                                            </ui-validators>
                                        </ui-input>
                                        <ul class="dropdown-menu autocompleteUl"
                                            id="search-results">
                                            <template is="dom-repeat"
                                                      items="{{ autocompleteItems }}">

                                                <li>
                                                    <a tabindex="-1"
                                                       href="#"
                                                       attr-city="{{ item.city }}"
                                                       attr-state="{{ item.state }}"
                                                       attr-street_line="{{ item.street_line }}"
                                                       on-click="handleMenuItemClick">{{ item.text }}</a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2"> </label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-6 no-pad">
                                        <ui-input placeholder="City"
                                                  name="city"
                                                  value="{{ city }}">
                                            <ui-validators>
                                                <ui-require-field>Please enter your city of residence.
                                                </ui-require-field>
                                            </ui-validators>
                                        </ui-input>
                                    </div>
                                    <div class="col-sm-3">
                                        <ui-options id="state"
                                                    name="state"
                                                    items="{{ states }}"
                                                    button-text="State"
                                                    value="{{ SelectedState }}">
                                            <ui-validators>
                                                <ui-require-field>Please enter your state of residence.
                                                </ui-require-field>
                                            </ui-validators>
                                        </ui-options>
                                    </div>
                                    <div class="col-sm-3 no-pad">
                                        <ui-input id="ZipAutocomplete"
                                                  placeholder="Zip"
                                                  name="zip"
                                                  value="{{ zip }}">
                                            <ui-validators>
                                                <ui-require-field>Please enter your zip code.</ui-require-field>
                                                <ui-is-zip-code>Zip code is not valid.</ui-is-zip-code>
                                            </ui-validators>
                                        </ui-input>
                                        <ul class="dropdown-menu zipAutocompleteUl"
                                            id="zipSearchResult">
                                            <template is="dom-repeat"
                                                      items="{{ zipAutocompleteItems }}">

                                                <li>
                                                    <a tabindex="-1"
                                                       href="#"
                                                       attr-zip="{{ item.zipcode }}"
                                                       on-click="handleZipClick">{{ item.zipcode }}</a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Logo</label>

                            <div class="col-sm-10 no-pad">
                                <drop-zone id="dropZone"
                                           submit-target="{{ target }}"
                                           max-files="1"
                                           metadata="{{ metadata }}"
                                           file-name="{{ fileName }}"
                                           fileName
                                           clickable>
                                    <div class="dz-message">
                                        Drop Files here or click to upload
                                    </div>
                                </drop-zone>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2 ">Facebook</label>

                            <div class="col-sm-10 no-pad">
                                <ui-input placeholder="Facebook Home Url"
                                          name="facebookUrl"></ui-input>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Twitter Handle</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-5 no-pad-left">
                                        <ui-input name="twitter"
                                                  placeholder="Twitter Handle">
                                        </ui-input>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="control-label col-sm-2">Linkedin</label>
                                    </div>
                                    <div class="col-sm-5 no-pad">
                                        <ui-input name="linkedin"
                                                  placeholder="Linkedin Address"></ui-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2">Web Address</label>

                            <div class="col-sm-10 no-pad">
                                <ui-input placeholder="Company Url"
                                          name="companyUrl"></ui-input>
                            </div>
                        </div>
                    </ui-form>
                    <div class="login_terms_div">
                        <ui-label>
                            By continuing you agree to the
                            <ui-modal-trigger modal-id="termsOfService"
                                              backdrop>
                                <a>Terms of Service</a>
                            </ui-modal-trigger>
                        </ui-label>
                    </div>
                    <div class="signup_btn_div signup_form_btn col-sm-9 col-sm-offset-3">
                        <ui-button id="acceptButton"
                                   disabled="{{ busy }}"
                                   disabled-text="Saving..."
                                   color="primary"
                                   fullWidth=true
                                   class=""
                                   on-click="submit">
                            Sign Up
                        </ui-button>
                    </div>
                    <div class="login_terms_div">
                        Have an account? <a href="javascript:void(0);"
                           on-click="resetLogin">Sign In</a>
                    </div>
                </div>
                <ui-modal id="termsOfService"
                          title="TERMS OF SERVICE"
                          fit-to-screen>
                    <template-loader name="TermsofService"
                                     version="1.0"></template-loader>
                </ui-modal>

                <http-request-promisified id="$http"></http-request-promisified>
                <http-request id="http"></http-request>
                <values-service id="values"></values-service>
                <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "account-creation-sign-up",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                busy: Boolean
            },

            attached: function () {
                var self = this;

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
                // Populate dropdown options
                this.ensure("values").then(function (values) {
                    self.set("states", values.statesDropdown);
                });
            },

            init: function () {
                var hovered = false;
                $("#search-results, #zipSearchResult").bind("mouseover", function () {
                    hovered = true;
                }).bind("mouseout", function () {
                    hovered = false;
                });
                $("#AddressAutocomplete").blur(function () {
                    if (!hovered) {
                        $("#search-results").hide();
                    }
                    else {
                        $("#search-results").bind("mouseup", function () {
                            $("#search-results").hide();
                        })
                    }
                });
                $("#ZipAutocomplete").blur(function () {
                    if (!hovered) {
                        $("#zipSearchResult").hide();
                    }
                    else {
                        $("#zipSearchResult").bind("mouseup", function () {
                            $("#zipSearchResult").hide();
                        })
                    }
                });
            },

            submit: function (e) {
                var self = this;
                self.$.form.isValid()
                    .then(function (isValid) {
                        if (isValid) {
                            self.set("busy", true);
                            return self.validateUsername()
                                .then(function (result) {
                                    if (result == false) {
                                        self.$.errorSummary.setErrors("Username " + self.get("formData.email") + " already exists!");
                                        self.set("busy", false);
                                    } else {
                                        self.createAccount
                                            .bind(self)()
                                            .then(function (response) {
                                                var output = {
                                                    status: "success"
                                                };
                                                //self.completeWithOutput(output);
                                                //self.set("busy", false);
                                                window.location.hash = "#/signup-success";
                                            })
                                            .catch(function (error) {
                                                if (error && error.responseJSON && error.responseJSON.message) {
                                                    self.$.errorSummary.setErrors(error.responseJSON.message);
                                                }
                                                self.set("busy", false);
                                            });
                                    }
                                });
                        }
                        else {
                            self.$.errorSummary.setErrors(self.$.form.getErrors());
                        }
                    }.bind(self)); // Promise ends here (then block)
            },

            createAccount: function () {
                var self = this;
                var url = "/";
                var baseUrl = self.configuration.services.security;
                var data = {
                    username: this.get("formData.email"),
                    email: this.get("formData.email"),
                    name: this.get("formData.firstName") + " " + this.get("formData.lastName"),
                    password: this.get("formData.password"),
                    MobileNumber: this.$.isPhoneNumber.scrubPhoneData(this.get("formData.phone")),
                    OfficePhone: this.get("formData.officePhone"),
                    CountryCode: window.config.countryCode,
                    FirstName: this.get("formData.firstName"),
                    MiddleName: this.get("formData.middleName"),
                    LastName: this.get("formData.lastName"),
                    MailingAddress: this.get("formData.address"),
                    City: this.get("formData.city"),
                    State: this.get("formData.state"),
                    ZipCode: this.get("formData.zip"),
                    FacebookUrl: this.get("formData.facebookUrl"),
                    TwitterUrl: this.get("formData.twitter"),
                    LinkedInUrl: this.get("formData.linkedin"),
                    companyName: this.get("formData.company"),
                    CompanyUrl: this.get("formData.companyUrl"),
                    roles: ["affinity-partner"],
                    UserType: "AffinityPartner"
                };

                return new Promise(function (resolve, reject) {
                    self.$.$http.put(
                        url,
                        data,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },

            validateUsername: function () {
                var self = this;
                var url = "check/";
                var payload = { username: this.get("formData.email") };
                var baseUrl = self.configuration.services.security;

                return new Promise(function (resolve, reject) {
                    self.$.$http.post(
                        url,
                        payload,
                        baseUrl,
                        function success(response) {
                            resolve(response.available);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },

            searchAddress: function (e) {
                var self = this;
                var smartStreetUrl = "https://autocomplete-api.smartystreets.com/";
                var params = "suggest?auth-id=50e1854d-b7c2-4333-bce5-94d88d5af7e3&auth-token=sqGlqycXyDYD8MNypfrm&prefix=" + this.get("formData.address");
                this.search(smartStreetUrl + params).then(function (response) {
                    if (response.suggestions != null) {
                        self.set("autocompleteItems", response.suggestions);
                        $(".autocompleteUl").show();
                    }
                });
            },

            search: function (url) {
                var self = this;
                return this.findAddress(url)
                    .then(function (response) {
                        return response;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },

            findAddress: function (url) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        url: url,
                        type: 'get',
                        dataType: 'json',
                        contentType: 'application/json'
                    }).done(function (data) {
                        resolve(data);
                    });
                });
            },

            handleMenuItemClick: function (e) {
                e.preventDefault();
                var self = this;
                this.set("address", e.target.attrStreet_line);
                this.set("city", e.target.attrCity);
                this.set("SelectedState", e.target.attrState);
                $(".autocompleteUl").hide();

                // Populating zipcode
                var smartStreetUrl = "https://us-zipcode.api.smartystreets.com/lookup?auth-id=50e1854d-b7c2-4333-bce5-94d88d5af7e3&auth-token=sqGlqycXyDYD8MNypfrm&zipc&";
                var params = "city=" + e.target.attrCity + "&state=" + e.target.attrState;
                this.search(smartStreetUrl + params).then(function (response) {

                    if (response[0].zipcodes) {
                        self.set("zipAutocompleteItems", response[0].zipcodes);
                        $(".zipAutocompleteUl").show();
                        self.setAutoCompleteMaxHeight(e, "zipSearchResult");
                    }
                    else {
                        console.log("Invalid Address");
                    }
                });
            },

            handleZipClick: function (e) {
                e.preventDefault();
                this.set("zip", e.target.attrZip);
                $(".zipAutocompleteUl").hide();
            },

            setAutoCompleteMaxHeight: function (e, AutoCompleteList) {
                var top = e.clientY;
                var viewPort = document.documentElement.clientHeight;
                this.$.zipSearchResult.style.maxHeight = viewPort - top - 30 + "px";
            },

            resetLogin: function () {
                window.location.hash = "#/login";
            }
        });
    </script>
</dom-module>