<html-import html-href="ui-elements/groups/tab-group.html"></html-import>
<dom-module id="entity-view">
    <template>
        <template is="dom-if" if="[[ validConfig ]]">
            <div class="row">
                <template is="dom-if" if="[[ !hideBorrowerDetail ]]">
                        <content></content>
                </template>
                <template is="dom-if" if="[[ hasTabs ]]">
                    <tab-group tab-list="[[ config.tabs ]]" disable-tabs$="[[ config.disableTabs ]]" portal="[[ config.portal ]]"></tab-group>
                </template>
            </div>
        </template>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" config-ready="{{configReady}}" alloy-configuration="{{ configuration }}"></alloy-config>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "entity-view",

            behaviors: [
                eventHub,
                alloy.viewBehavior,
                publishLifecycleEventsBehavior
            ],

            properties: {
                /**
                 * Instance configuration
                 */
                config: Object,

                /**
                 * Service or base URL for requests
                 */
                dataService: String,

                /**
                 * URL for requests
                 */
                dataEndpoint: String,

                /**
                 * Name for entity type used in this view
                 */
                viewType: String,

                /**
                 * Flag for tab group visibility
                 */
                noTabs: {
                    type: Boolean,
                    value: false
                },

                hasTabs: {
                    type: Boolean,
                    computed: "_computeHasTabs(config)"
                },

                hideBorrowerDetail:{
                    type: Boolean,
                    computed: "_computeHideBorrowerDetails(config)"
                },
                entityView: {
                    type: Object,
                    value: function () {
                        return this;
                    }
                }
            },

            observers: ["onConfigChanged(config)"],

            onConfigChanged: function (config) {
                this._setValidConfig(config);
            },

            _computeHasTabs: function (config) {
                return config && config.tabs && config.tabs.length > 0;
            },
            _computeHideBorrowerDetails: function(config){
                return config && config.hideBorrowerDetail==true;
            },

            /**
             * Use to manually set a configuration when one is not available on the
             * @param configuration
             */
            _setValidConfig: function (configuration) {
                if (!configuration) {
                    return;
                }
                if (!configuration.activities && !configuration.tabs) {
                    return;
                }
                this.set("validConfig", configuration);
            },

            /**
             * Set the config for this view
             * @param configuration
             */
            _setConfig: function (configuration) {
                if (!configuration) {
                    return;
                }
                if (!configuration.activities || !configuration.tabs) {
                    return;
                }
                this.set("config", configuration);
            },
        });
    </script>
</dom-module>