<dom-module id="ui-layout-table">
    <template>
        <table class="table issue-tracker hover">
            <thead>
            <tr>
                <template id="tableHeader" is="dom-repeat" items="{{ tableColumns }}">
                    <th>{{ item }}</th>
                </template>
            </tr>
            </thead>
            <tbody>
            <template id="repeater" is="dom-repeat" items="{{ data }}"></template>
            </tbody>
        </table>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "ui-layout-table",

            properties: {
                data: Array,
                tableColumns: {
                    value: [],
                    type: Array,
                    computed: "computeTableColumns(columns)"
                }
            },

            attached: function () {
                this.fire("attached");
            },

            computeTableColumns: function (columns) {
                return columns.split(", ");
            },

            setData: function (data) {
                this.set("data", data);
                this.$.repeater.templatize(this.getContentChildren()[0]);
                Polymer.Bind.prepareModel(this.$.repeater);
                Polymer.Base.prepareModelNotifyPath(this.$.repeater);
            }
        })
    </script>
</dom-module>