<html-import html-href="ui-elements/tables/index.html"></html-import>
<html-import html-href="ui-elements/ui-empty-curtain.html"></html-import>

<dom-module id="ui-layout-alloy-table">
    <template>
        <ui-empty-curtain
            is-empty="{{ isEmpty }}"
            empty-message="No Applications Found">
            <alloy-table id="table"></alloy-table>
        </ui-empty-curtain>
    </template>
    <script>
        Polymer({
            is: "ui-layout-alloy-table",

            properties: {
                pageLabel: String,
                columns: String,
                data: Object,
                displayData: Array,
                isEmpty: {
                    value: true,
                    type: Boolean
                },
                tableConfig: Object
            },

            attached: function () {
                this.fire("attached");
            },

            setData: function (data) {
                this.data = data;
                new Promise(function (resolve) {
                    this.$.table.is
                        ? resolve(this.$.table)
                        : this.addEventListener(
                            "attached",
                            this.onChildAttached(resolve));
                }.bind(this))
                    .then(function (table) {
                        table.set("tableConfig", this.createTableConfig());
                        this.set("isEmpty", table.tableConfig.data.length === 0);
                        this.removeEventListener("attached", this.onChildAttached);
                    }.bind(this));
            },

            createTableConfig: function () {
                var tableConfig = {
                    columns: this.createColumns(),
                    data: this.createTableData(),
                    addClickHandling: this.addClickHandling(),
                    pageLabel: this.pageLabel
                };

                return _.extend({}, tableConfig, {}, this.domHost.tableConfig);
            },

            createColumns: function () {
                return this.columns
                    ? this.columns.split(", ").map(this.createColumn)
                    : this.inferColumnTitles().map(this.createColumn);
            },

            createColumn: function (title) {
                return {title: title};
            },

            inferColumnTitles: function () {
                // TODO: Write a version that ensure every element in data has each column
                return Object.keys(Object(this.data[0]));
            },

            createTableData: function () {
                return this.data;
            },

            onChildAttached: function (resolve) {
                return function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    resolve(e.target);
                }
            },

            addClickHandling: function () {
                var self = this;

                return this.domHost.addClickHandling
                    ? this.domHost.addClickHandling.bind(this.domHost)
                    : function () {};
            }
        })
    </script>
</dom-module>