<html-import html-href="ui-elements/tables/index.html"></html-import>
<html-import
    html-href="ui-elements/ui-curtain-spinner.html"></html-import>
<dom-module id="ui-view-table">
    <template>
        <ui-curtain-spinner has-content="[[ hasData(data) ]]">
            <alloy-table id="table"></alloy-table>
        </ui-curtain-spinner>
        <div class="well" hidden$="[[ hasData(data) ]]">
            {{ emptyMessage}}
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-view-table",

            behaviors: [eventHub, alloy.ensureDependenciesBehavior],

            properties: {
                columns: String,
                data: {
                    value: function () { return [] },
                    type: Array
                },
                tableConfig: Object,
                emptyMessage: String,
            },

            observers: ["onDataOrTableConfigChanged(data, tableConfig)"],

            onDataOrTableConfigChanged: function (data, tableConfig)
            {
                this.ensure("table").then(function (table)
                {
                    if (!table.tableConfig)
                        table.set("tableConfig", _.extend(tableConfig, {
                            data: data
                        }));
                    else
                        table.reloadWithData(data);
                }.bind(this));
            },

            hasData: function (data) {
                return data && data.length > 0;
            }
        })
    </script>
</dom-module>