<dom-module id="ui-view-entity">
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: "ui-view-entity",

            attached: function () {
                this.fetchData();
            },

            fetchData: function () {
                this.domHost.fetchData().then(function () {

                });
            },
        })
    </script>
</dom-module>