<dom-module id="ui-view-collection">
    <template>
        <style>
            .flex-center {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .transformScale2x {
                transform: scale(2);
            }
        </style>
        <div class="flex-center" hidden$="{{ shouldHideSpinner }}">
            <div class="sk-spinner sk-spinner-circle transformScale2x">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
        <div hidden$="{{ shouldHideContent }}">
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is: "ui-view-collection",

            behaviors: [eventHub, alloy.ensureDependenciesBehavior],

            properties: {
                data: Object,

                shouldHideSpinner: {
                    value: false,
                    type: Boolean
                },
                shouldHideContent: {
                    value: true,
                    type: Boolean
                }
            },

            observers: ["onDataChanged(data)"],

            listeners: {
                "attached": "onChildAttached"
            },

            onDataChanged: function (data)
            {
                if (!data || !data.length)
                {
                    this.set("shouldHideSpinner", false);
                    this.set("shouldHideContent", true);
                }

                else
                {
                    this.set("shouldHideSpinner", true);
                    this.set("shouldHideContent", false);
                }

                // Iterate through content children and pass data down
                this.getContentChildren().forEach(function (child)
                {
                    new Promise(function (resolve)
                    {
                        child.is && child.setData ?
                            resolve(child) :
                            this.addEventListener("attached", this.onChildAttached(resolve));
                    }.bind(this)).then(function (child)
                    {
                        child.setData(this.data);
                    }.bind(this))
                }.bind(this));
            },

            onChildAttached: function (resolve)
            {
                return function (e)
                {
                    e.stopPropagation();
                    e.preventDefault();
                    resolve(e.target);
                }
            },

            detached: function ()
            {
                this.removeEventListener("attached", this.onChildAttached);
            }
        })
    </script>
</dom-module>