<dom-module id="account-transactions-list">
    <template>
        <style>
            .bank-statements {
                margin-top: 20px;
            }

            .bank-header {
                margin-top: 20px;
            }

            .bank-statements .titles {
                margin-bottom: 10px;
                border-top: 1px solid #1268AD;
                border-bottom: 1px solid #1268AD;
                padding: 8px 0;
                background: white !important;
            }

            .bank-statements li:nth-child(odd) {
                float: left;
                width: 25%;
                font-size: 14px;
            }

            .bank-statements li:nth-child(even) {
                float: left;
                width: 50%;
                font-size: 14px;
            }

            .bank-header li {
                float: left;
                width: 50%;
                font-size: 14px;
            }

            .bank-header .text {
                color: #00A7F8;
            }

            .bank-header .title {
                font-size: 14px;
                font-weight: bold;
                color: #1268AD;
            }

            .bank-statements .title {
                font-size: 14px;
                font-weight: bold;
            }

            .pointer-cursor {
                cursor: pointer;
            }

            .center-text {
                text-align: center;
                font-size: 14px;
            }

            .border-color {
                border-top: 2px solid #1268AD;
            }

            li,
            ul {
                padding: 2px 0;
            }

            .bank-statements ul:nth-of-type(odd) {
                background: #F3F0F0;
            }


            @media only screen and (max-width:800px) {
                .bank-statements {
                    overflow-x: auto
                }
                .bank-statements ul,
                .bank-statements .total {
                    width: 800px;
                }
            }
        </style>

        <div class="bank-header clearfix">
            <ul class="clearfix">
                <li class="title">[[accountTransaction.institutionName]]</li>
                <li class="title text-right">Current Balance &nbsp;
                    <alloy-format class="text"
                        currency="[[accountTransaction.currentBalance]]"></alloy-format>
                </li>
            </ul>
            <ul class="clearfix">
                <li> [[capitalize(accountTransaction.accountSubType)]] Account <span class="text">([[accountTransaction.accountMask]])</span></li>
                <li class="text-right"> [[accountTransaction.transactionStartDate]] - [[accountTransaction.transactionEndDate]] <span class="text">([[accountTransaction.transactionPeriodInDays]]
                    Days)</span>
                </li>
            </ul>
        </div>

        <div class="bank-statements clearfix">
            <ul class="titles clearfix">
                <li class="title">Date</li>
                <li class="title">Description</li>
                <li class="title">Amount</li>
            </ul>
            <template is="dom-if"
                if="[[ accountTransactionsFound(accountTransaction) ]]">
                <template is="dom-repeat"
                    items="[[ accountTransaction.transactions ]]"
                    as="transaction">
                    <ul class="clearfix">
                        <li> [[transaction.shortDate]] </li>
                        <li> [[transaction.name]] </li>
                        <li>
                            <alloy-format currency="[[transaction.amount]]" class="whitespnw"></alloy-format>
                        </li>
                    </ul>
                </template>
            </template>
            <template is="dom-if"
                if="[[ ! accountTransactionsFound(accountTransaction) ]]">
                <p class="center-text">No transactions found for the selected account</p>
            </template>
            <hr class="border-color" />
        </div>
    </template>
    <script>
        Polymer({
            is: "account-transactions-list",

            behaviors: [alloy.actions],

            properties: {
                /**
                 * List of assets to display grouped by institution
                 * @type {array<array<object>>}
                 */
                accountTransaction: {
                    type: Object,
                }
            },

            accountTransactionsFound: function (accountTransaction) {
                return (accountTransaction.transactions && accountTransaction.transactions.length > 0)
            },

            capitalize: function (string) {
                return string.slice(0, 1).toUpperCase() + string.slice(1);
            },
        })
    </script>
</dom-module>