<link rel="import" href="manual.html" />

<dom-module id="assets-customer-accounts-list">
  <template>
    <div class="col-centered">
        <div class="bankinvest clearfix">
          <h3>Bank &amp; Investment</h3>
          <p>Below are you current financial institutions that you have in sync.</p>
          <ul class="clearfix"
              style="padding-left: 0px">
            <template is="dom-repeat"
                      items="[[ items ]]"
                      as="institutionAccounts">
              <li class="data"
                  style="margin-bottom: 20px; width: 100%;">
                <div class="row"
                     style="margin-bottom: 15px;">
                  <div class="col-sm-2">
                    <img src="[[ getInstitutionLogo(institutionAccounts) ]]"
                         alt="Bank Logo"
                         class="img-responsive"
                         style="max-height: 100%" /></div>
                  <div class="col-sm-10">
                    <table class="account-table" style="table-layout: fixed;">
                      <thead>
                        <th class="text-left"></th>
                        <th class="text-left">Name</th>
                        <th class="text-left">Account #</th>
                        <th class="text-left">Type</th>
                        <th class="text-left">Total</th>
                      </thead>
                      <template is="dom-repeat"
                                items="[[ institutionAccounts ]]"
                                as="account">
                        <tr>
                          <td on-click="handleRemoveClick"
                              style="text-align: center;">
                            <span class="df df-close-o"
                                  style="font-size: 12px; cursor: pointer;"></span>
                          </td>
                          <td class="text-left">[[ getAccountHolderName(account) ]]</td>
                          <td class="text-left">[[ account.accountNumber ]]</td>
                          <td class="text-left">[[ account.accountType ]]</td>
                          <td class="text-left">
                            <alloy-format currency="[[ getAccountBalance(account) ]]" class="whitespnw"></alloy-format>
                          </td>
                        </tr>
                      </template>
                    </table>
                  </div>
                </div>
              </li>
            </template>
          </ul>
          
        
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad backbtn">
        	<button action="assets-set-visibility-mode"
                  action-visibility-mode="GRID"
                  on-click="fireAction">
            <i action="assets-set-visibility-mode" action-visibility-mode="GRID" class="df df-back"></i>Back
          </button>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad nextbtns">
        	<button type="button"
                    class="add-institute"
                    action="assets-set-visibility-mode"
                    action-visibility-mode="GRID"
                    on-click="fireAction">
              Add Another Account
            </button>
            <button class="next"
                    action="alloy-navigate"
                    action-destination="#/login"
                    on-click="fireAction">
              I’M ALL DONE
            </button>
        </div>
        </div>
      </div>
  </template>
  <script>
    Polymer({
      is: "assets-customer-accounts-list",

      behaviors: [alloy.actions],

      properties: {
        /**
         * List of assets to display grouped by institution
         * @type {array<array<object>>}
         */
        items: {
          type: Array,
        }
      },

      getInstitutionLogo: function (institutionAccounts) {
        return _.get(institutionAccounts, "0.logo")
      },

      getAccountHolderName: function (account) {
        return [
          _.get(account, "accountHolders.0.firstName"),
          _.get(account, "accountHolders.0.lastName")
        ].join(" ")
      },

      getAccountBalance: function (account) {
        return "$" + _.get(account, "currentBalance", "0")
      }
    })
  </script>
</dom-module>