<link rel="import" href="../dcc-service.html" />
<html-import html-href="services/document-manager-service.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<dom-module id="filethis-document-list">
        <template>
            <div class="document-list-popup">
                <h3>[[popup-title-text]]</h3>
                <ul class="titles clearfix">
                    <li class="title">Account#</li>
                    <li class="title">Date</li>
                    <li class="title">View</li>
                    <li class="title">Remove</li>
                </ul>
                <div class="datalist" id="listOfTaxdocument">
                    <template is="dom-repeat" items="{{documentList}}">
                        <ul class="clearfix" class$="row-[[item.DocumentId]]">
                                <li>{{item.Name}}</li>
                                <li>{{item.Date}}</li>
                                <li>
                                    <template is="dom-if" if="[[item.FileId]]">
                                        <a href="javascript:void(0);">
                                                <span class="df df-document filethis-docs" 
                                                on-click="handleDownloadDocumentClick"
                                                title="Download file"
                                                data-entity-id$="[[customerId]]"
                                                data-id$="[[item.FileId]]"></span>
                                        </a>
                                    </template>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <span class="df df-close-o filethis-docs"
                                            on-click="handleRemoveDocumentClick"
                                            data-entity-id$="[[customerId]]"
                                            title="Delete file"
                                            data-document-id$="[[item.DocumentId]]">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                </template>
                </div>
                
            </div>
            <session-manager id="session"></session-manager>
            <document-manager-service id="documentManagerService"></document-manager-service>
            <assets-dcc-service id="dccService"></assets-dcc-service>
            <ui-confirm id="confirm" confirm-title="Are you sure you want to delete?"></ui-confirm>
            <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
            <url-parser id="urlParser"></url-parser>
        </template>
        <script>
            Polymer({
                is: 'filethis-document-list',
                
                require: ["dccService","progressBar"],

                behaviors: [eventHub, ensureDependenciesBehavior],

                properties: {
                        documentList: {type:Array,value:[]},
                        popupTitleText: String,
                        popupSubtitleText:String,
                        customerId:String,
                        filethisInstitutionId: {
                            type:String,
                            notify: true
                        },
                        loadTitleText:String,
                        loadSubtitleText:String,
                        applicationNumber: String,
                        deleteDocumentContext: {type: Object, value: function () { return {} } },
                },

                listeners: {
                    "confirm": "executeDeleteDocument"
                },
                attached: function(){
                    var self = this;
                    self.handleSlimScroll();
                    self.applicationNumber = this.$.urlParser.getParams().id;
                },
                handleSlimScroll: function () {
                $(this.$.listOfTaxdocument).slimScroll({
                    size: '5px',
                    height: '200px',
                    distance: '5px',
                    alwaysVisible: true,
                    opacity: 1
                });
                },
                /*handleDownloadDocumentClick*/
                handleDownloadDocumentClick: function (e) {
                    var self = this;
                    var entityType = "filethis";
                    var entityId = e.target.dataset.entityId;
                    var documentId = e.target.dataset.id || "";
                    
                    if (!documentId) {
                        console.warn("document id is blank");
                        return;
                    }

                    self.ensure("documentManagerService")
                        .then(function (documentManagerService) {
                            return documentManagerService.getDocumentByEntityTypeWithId(entityType, encodeURIComponent(entityId), documentId);
                        })
                        .then(function (document) {
                            self.downloadDocument(document, entityType, encodeURIComponent(entityId), documentId);
                        }).catch(function (error) {
                            var errorSummary = "";
                            if (error && error.responseJSON && error.responseJSON.message) {
                                errorSummary = error.responseJSON.message;
                            }
                            console.warn(errorSummary);
                        });
                },

                /*download Document*/
                downloadDocument: function (document, entity, entityId, documentId) {
                    if(this.configuration.services.documentManager == undefined){
                         throw new Error("documentManager service not found");
                    }
                    var baseUrl = this.configuration.services.documentManager;
                    var url = [baseUrl, entity, entityId, documentId, "download"].join("/");
                    var fileName = "";
                
                    if (document != null)
                        fileName = document.fileName || "";
                
                    var x = new XMLHttpRequest();
                    x.open("GET", url, true);
                    x.responseType = "blob";
                    x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                    x.onload = function (e) {
                        download(e.target.response, fileName);
                    };
                    x.send();
                },

                /*handleRemoveDocumentClick*/
                handleRemoveDocumentClick: function(e)
                {
                    var self = this;
                    var entityType = "FileThisBanking";
                    var entityId = e.target.dataset.entityId;
                    var documentId = e.target.dataset.documentId || "";
                    
                    var context = {
                        documentId: documentId,
                        entityId: entityId,
                        entityType: entityType
                    }

                    this.openConfirmModal(context);
                },

                openConfirmModal: function (context) {
                    this.deleteDocumentContext = context;
                    this.$.confirm.open();
                },

                executeDeleteDocument: function () {
                    var self = this;

                    if(_.isUndefined(self.deleteDocumentContext.documentId))
                        return;
            
                   
                    self.ensure("dccService")
                        .then(function (dccService) {
                            dccService.removeDocumentOrAccount(
                                        self.deleteDocumentContext.documentId, 
                                        self.deleteDocumentContext.entityId, 
                                        self.deleteDocumentContext.entityType,
                                        "account",
                                        self.applicationNumber)
                            .then(function () {
                                $('.row-' + self.deleteDocumentContext.documentId).hide();
                                self.deleteDocumentContext.documentId = undefined;
                            },function(error){
                                //$('.row-' + self.deleteDocumentContext.documentId).show();
                            });
                        });
                },

            });
        </script>
    </dom-module>
    
    