<html-import html-href="services/document-manager-service.html"></html-import>
<html-import html-href="ui-elements/modal/ui-confirm.html"></html-import>
<dom-module id="filethis-list-popup">
    <template>
            <div class="document-list-popup">
                    <h3>[[popup-title-text]]</h3>
                    <ul class="titles clearfix">
                        <li class="title">Owner</li>
                        <li class="title">Date</li>
                        <li class="title">View</li>
                        <li class="title">Remove</li>
                    </ul>
                    <div class="datalist" id="listOfTaxdocuments">
                            <template is="dom-repeat" items="{{listOfDocuments}}" as="taxDoc" index-as="w2s_no">
                                    <ul class="clearfix">
                                            <li>[[taxDoc.name]]&nbsp;</li>
                                            <li>[[taxDoc.yearDate]]&nbsp;</li>
                                            <li class="text-center">
                                                    <template is="dom-if" if="[[taxDoc.fileId]]">
                                                            <template is="dom-if" if="[[!checkoutLength(taxDoc.documents)]]">
                                                        <span class="df df-document" on-click="handleDownloadDocumentClick"
                                                            data-entity-id$="[[applicantId]]" title="[[taxDoc.fileName]]" data-id$="[[taxDoc.fileId]]">
                                                        </span>
                                                           </template>
                                                    <template is="dom-if" if="[[checkoutLength(taxDoc.documents)]]">
                                                    <ui-modal-trigger modal-id$="doc-documentViewer-[[filethisInstitutionId]]">
                                                        <span class="df df-document" 
                                                        data-entity-id$="[[applicantId]]" title="[[taxDoc.fileName]]" data-id$="[[taxDoc.fileId]]">
                                                     </span>
                                                    </ui-modal-trigger>
                                                    <ui-modal class="documents-popup" id$="doc-documentViewer-[[filethisInstitutionId]]" fit-to-screen>
                                                        <popUp-document-list popup-title-text="Documents" load-title-text="Loading..." 
                                                            document-list = [[taxDoc.documents]]  
                                                            name = [[name]] title-name = [[titlename]] entity-name=[[entityName]]
                                                            load-subtitle-text="Retreiving your data" customer-id="[[applicantId]]"
                                                            filethis-institution-id="[[filethisInstitutionId]]">
                                                        </popUp-document-list>
                                                    </ui-modal>
                                                    </template>
                                                    </template>&nbsp;
                                                            <span hidden$="[[taxDoc.fileId]]"> -- </span>
                                                </li>
                                            <li class="text-center">
                                                <span class="df df-close-o" on-click="fireAction" action$="[[actionType]]"
                                                    action-applicant-id$="[[applicantId]]" action-file-id$="[[taxDoc.fileId]]"
                                                    action-document-id$="[[taxDoc.documentId]]" action-connection-id$="[[connectionId]]"
                                                    action-institution-id$="[[filethisInstitutionId]]">
                                                </span>
                                            </li>
                                        </ul>
                                </template>
                    </div>
            </div>
            <session-manager id="session"></session-manager>
            <document-manager-service id="documentManagerService"></document-manager-service>
            <assets-dcc-service id="dccService"></assets-dcc-service>
            <ui-confirm id="confirm" confirm-title="Are you sure you want to delete?"></ui-confirm>
            <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
            <url-parser id="urlParser"></url-parser>
    </template>
    <script>
            Polymer({
                is: 'filethis-list-popup',
                 behaviors: [eventHub, ensureDependenciesBehavior, alloy.lifeCycleEvents, alloy.actions],
                 properties: {
                        listOfDocuments: {type:Array,value:[]},
                        popupTitleText: String,
                        popupSubtitleText:String,
                        applicantId:String,
                        connectionId: String,
                        filethisInstitutionId: {
                            type:String,
                            notify: true
                        },
                        loadTitleText:String,
                        loadSubtitleText:String,
                        applicationNumber: String,
                        deleteDocumentContext: {type: Object, value: function () { return {} } },
                        actionType:{
                            type: String,
                            value: ""
                        }
                },

                 taxClass: function (parent_index, child_index) {
                    return 'secndrow clearfix li-tax-' + parent_index + '-' + child_index;
                },

                taxClassEdit: function (parent_index, child_index) {
                    return 'secndrow clearfix div-margin li-li-tax-' + parent_index + '-' + child_index;
                },

                handleDownloadDocumentClick: function (e) {
                    var self = this;
                    var entityType = "filethis";
                    var documentId = e.target.dataset.id || "";
                    if (!documentId) {
                        console.warn("document id is blank");
                        return;
                    }
                    var entityId = e.target.dataset.entityId;
                    entityId = encodeURIComponent(entityId)
                    this.ensure("documentManagerService")
                        .then(function (documentManagerService) {
                            return documentManagerService.getDocumentByEntityTypeWithId(entityType, entityId, documentId);
                        })
                        .then(function (document) {
                            self.downloadDocument(document, entityType, entityId, documentId);
                        }).catch(function (error) {
                            var errorSummary = "";
                            if (error && error.responseJSON && error.responseJSON.message) {
                                errorSummary = error.responseJSON.message;
                            }
                            console.warn(errorSummary);
                        });

                },

                downloadDocument: function (document, entity, entityId, documentId) {
                    if(this.configuration.services.documentManager == undefined){
                        throw new Error("documentManager service not found");
                    }
                    var baseUrl = this.configuration.services.documentManager;
                    var url = [baseUrl, entity, entityId, documentId, "download"].join("/");
                    var fileName = "";
                    if (document != null)
                        fileName = document.fileName || "";
                    var x = new XMLHttpRequest();
                    x.open("GET", url, true);
                    x.responseType = "blob";
                    x.setRequestHeader("Authorization", "Bearer " + this.$.session.get("token"));
                    x.onload = function (e) {
                        download(e.target.response, fileName);
                    };
                    x.send();
                },
                checkoutLength: function(documentList){
                    return (documentList.length > 1 && documentList != null);
                }     
            });
    </script>
</dom-module>