<dom-module id="assets-lists-manual">
    <template>
        <style>
            .bank-statements {
                margin-top: 0;
            }
            .bank-statements li {
                width: 15%;
            }

            .bank-statements .secndrow {
                width: 85%;
            }

            .bank-statements .titles div,
            .bank-statements .row div{
                float: left;
                width: 21%;
                display: inline-block;
            }
            .bank-statements .titles div:first-child,
            .bank-statements .row div:first-child{
                width: 16%;
            }
            .bank-statements .row {
                margin: 0;
				padding:8px 0;
            }
            .bank-statements .titles div:first-child,
            .bank-statements .row div:first-child {
                text-align: center
            }

            .bank-statements .banklogo img {
                background: #fafafa;
                padding: 5px;
                width: 100px;
            }
            .pointer-cursor {
                cursor: pointer;
            }
            :host .btn-group,
            :host .btn-group-vertical{vertical-align: top;}
			.div-margin-top{margin-top: 8px; line-height:18px;}
            @media only screen and (max-width:800px) {
                .bank-statements {
                    overflow-x: auto
                }
                .bank-statements ul,
                .bank-statements .total {
                    width: 800px;
                }
                .bank-statements hr {
                    width: 800px;
                }
            }
        </style>
        <assets-scene-title title-text="[[titleText]]"></assets-scene-title>

        <div class="bank-statements clearfix">
            <ul class="titles clearfix">
                <li class="title">Institution</li>
                <li class="secndrow clearfix">
                    <div class="title text-center">Remove</div>
                    <div class="title">Owner</div>
                    <div class="title">Account#</div>
                    <div class="title">Type</div>
                    <div class="title text-right">Total</div>
                </li>
            </ul>

            <template is="dom-repeat"
                      items="[[ items ]]"
                      as="asset">

                <ul class="clearfix">
                    <li class="banklogo" hidden$="[[!isBase64(asset.Logo) ]]">
                        <template is="dom-if" if="[[ asset.Logo ]]">
                            <img src="[[asset.Logo]]" alt="[[asset.Name]]"/>
                            <div> [[asset.Name]] </div>
                        </template>
                    </li>
                    <li class="div-margin-top" hidden$="[[ isBase64(asset.Logo) ]]">[[asset.Name]]</li>
                    <li class="secndrow clearfix">
                        <template is="dom-repeat" items="[[ asset.Accounts ]]" as="account">
                            <div class="row clearfix">
                                <div class="text-center"><span class="df df-close-o"
                                                               on-click="fireAction"
                                                               action-account-id$="[[account.Account_Id]]"
                                                               action="assets-remove"></span>
                                </div>
                                <div>[[account.OwnerName]]&nbsp;</div>
                                <template is="dom-if" if="[[ isManualAssets(asset) ]]">

                                    <div action-account-id$="[[account.Account_Id]]"
                                         action="show-transactions">
                                        <template is="dom-if" if="[[ isAccountNumber(account.Mask) ]]">
                                            ([[account.Mask]])
                                        </template>
                                        &nbsp; </div>

                                </template>

                                <template is="dom-if" if="[[ !isManualAssets(asset) ]]">
                                    <div class="pointer-cursor"
                                         on-click="fireAction"
                                         action-account-id$="[[account.Account_Id]]"
                                         action="show-transactions">([[account.Mask]])&nbsp;</div>
                                </template>


                                <div>[[account.SubType]]&nbsp;</div>
                                <div class="text-right">
                                    <alloy-format currency="[[account.TotalBalance]]" class="whitespnw"></alloy-format>
                                </div>
                            </div>
                        </template>
                    </li>
                </ul>

                <hr />

            </template>

            <div class="total text-right clearfix">
                Total:<span><alloy-format currency="[[ totalAssets ]]" class="whitespnw"></alloy-format></span>
            </div>

        </div>
    </template>
    <script>
        Polymer({
            is: "assets-lists-manual",

            behaviors: [alloy.actions],

            properties: {
                /**
                 * List of assets to display grouped by institution
                 * @type {array<array<object>>}
                 */
                items: {
                    type: Array,
                },
                titleText: {
                    type: String,
                    value: ""
                },
                /**
                 * Sum of all assets in items
                 * @type {string}
                 */
                totalAssets: {
                    type: String,
                    value: "0",
                    computed: "computeTotalAssets(items)"
                }
            },

            observers: [
                //   'itemsAreUpdated(items)'
            ],

            handleRemoveClick: function (e) {
                e.stopPropagation();
                this.fire("assets-manual-remove", {
                    account: e.model.account
                })
            },

            handleAddAnother: function (e) {
                e.stopPropagation();
                this.fire("assets-set-visibility-mode", {
                    mode: "ADD"
                })
            },
            handleAllDone: function (e) {
                e.stopPropagation();

                this.fire("assets-manual-all-done")
            },
            handleBack: function (e) {
                this.handleAddAnother(e);
            },
            computeTotalAssets: function (items) {
                var totalAssets = 0;
                _.forEach(items, function (item) {
                    _.reduce(item.Accounts, function (sum, account) {
                        if (typeof account.TotalBalance !== "undefined" && account.TotalBalance != null)
                            totalAssets = totalAssets + parseFloat(account.TotalBalance);

                    }, 0)
                })
                return totalAssets;
            },

            isManualAssets: function (assets) {
                return assets.Accounts[0].IsManualUpload
            },

            isAccountNumber: function (accountNumber) {
                if (accountNumber)
                    return true;
                else
                    return false;
            },

            isBase64: function (str) {
                if (str) {
                    var strippedString = str.substr(22);
                    if (strippedString)
                        return true;
                }
                return false;
            }
        });
    </script>
</dom-module>