<dom-module id="event-subscription">
    <script>
        // <event-subscription event="tabs:reset" handler="resetTabs"></event-subscription>
        Polymer({
            is: "event-subscription",

            properties: {
                event: {
                    type: String,
                    reflectToAttribute: true
                },
                handler: String,
                _subscription: Object
            },

            ready: function () {
                var event = this.event;
                var handler = this.domHost[this.handler];
                var handlerName = this.handler;

                if (event == null)
                    return console.error("Event cannot be empty. Check the event attribute at " + this.getComponentPath());

                if (typeof handler !== "function")
                    return console.error("Handler named '" + handlerName + "' is not a function. Check the handler attribute at " + this.getComponentPath());

                this._subscription = window._eventHub.subscribe.call(
                    this.domHost,
                    event,
                    handler.bind(this.domHost)
                );
            },

            getComponentPath: function () {
                var parents = [];
                var current;
                var path = "";
                parents.push(this.domHost);

                while (parents.length) {
                    current = parents.pop();
                    if (current.is)
                        path += current.is + ".";

                    if (current.domHost)
                        parents.push(current.domHost);
                }

                return path;
            },

            detached: function () {
                window._eventHub.unsubscribe(this._subscription);
            }
        });
    </script>
</dom-module>