<dom-module id="affinity-partner-pipeline-tabs">
    <style>
		.aci.nav-tabs{margin:30px 0;width:100%;}
		.aci.nav-tabs>li{width:48%;margin:0;margin-right:4%;}
		.aci.nav-tabs>li:last-child{margin:0;}
    </style>
    <template>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-pad clearfix">
            <ul class="nav nav-tabs aci">
                <li class="active">
                    <a href="#" data-toggle="tab" data-filter="pipeline">PIPELINE
                        <span class="space"></span>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="tab" data-filter="communication">COMMUNICATION
                        <span class="space"></span>
                    </a>
                </li>
            </ul>
        </div>
      </div>  
    </template>

    <script>
        Polymer({
            is: "affinity-partner-pipeline-tabs",
            behaviors: [eventHub],
            properties: {
                // totalLength: Object
            },
            attached: function () {
                $(this, "li").on("click", this.handleTabClick.bind(this))
                    .children().on("click", this.handleTabClick.bind(this));
            },
            handleTabClick: function (event) {
                var self = this;
                var element = $(event.target);
                if ($(element).is("span"))
                    element = element.parent();

                self.querySelectorAll('li').forEach(function (liElement) {
                    $(liElement).removeClass("active");
                });
                element.parent().addClass("active");

                this.publish("tab-clicked", {
                    filter: element.data("filter")
                });
            }
        });
    </script>
</dom-module>