<dom-module id="dev-helper">
    <template>
        <content></content>
        <url-parser id="routeParams"></url-parser>
    </template>
    <script>
        Polymer({
            is: "dev-helper",

            properties: {
                // path to the element to import
                src: {
                    type: String,
                    value: ""
                },

                // tag name of the element to import
                name: {
                    type: String,
                    value: ""
                },

                // how often to reload the element
                refreshInterval: {
                    type: String,
                    value: 5000
                }
            },

            attached: function () {
                var self = this

                // TODO remove
                this.src = "http://localhost:5000/app/docitt/borrower-portal/assets/container.html"

                this.src =
                    this.src || this.$.routeParams.getParams().src

                this.name =
                    this.name || this.$.routeParams.getParams().name

                this.refreshInterval =
                    this.refreshInterval || this.$.routeParams.getParams().refreshInterval

                if (!this.src)
                    return console.warn("No src found in properties or route params")

                if (!this.name)
                    return console.warn("No tag name found in properties or route params")

                if (!this.refreshInterval)
                    return console.warn("No refresh interval found in properties or route params")

                var fail =
                    function () {
                        console.error("Unable to load from: " + self.src)
                    }

                var ok =
                    function () {
                        // provision new element with saved property values
                        _.each(self.props, function (value, key) {
                            self.element[key] = value
                        })

                        if (self.element)
                            Polymer.dom(self).removeChild(self.element)
                        try {
                            self.element = document.createElement(self.name)
                        } catch (e) {
                            //nothing
                        }

                        Polymer.dom(self).appendChild(self.element)
                        console.log("Loaded " + self.src)
                    }

                setInterval(function () {
                    if (self.element) {
                        // save property values
                        self.props =
                            _.reduce(self.element.properties, function (props, value, key) {
                                props[key] = self.element[key]
                                return props
                            }, {})

                        // remove current element instance
                    }

                    self.importHref(
                        self.src + "?v=" + Date.now(),
                        ok,
                        fail)
                }, self.refreshInterval)
            }

        })
    </script>
</dom-module>