<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-of-required-length.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>


<link rel="import" href="../scene-title.html">
<dom-module id="borrower-assets-forms-add-institution">
<template>
<style>
.clmn ui-modal-trigger a {
	cursor: pointer;
}
.next:disabled{
  background: #ebebeb;
    border: 2px solid #ebebeb;
    color: #bebebe;
    pointer-events: none;
}
 @media only screen and (max-width:800px) {
.bankinfo {width:84%; margin:0 auto;}
 }
 @media only screen and (max-width: 767px) {
.bankinfo {width:100%;}
.bankinfo .scene .col-xs-8{margin-left:10px;margin-top:10px;}
}
 @media only screen and (max-width: 600px) {
.bankinfo .col-lg-8 {
	padding: 0;
}
}
 @media only screen and (max-width: 479px) {
.bankinfo .clmn,  .bankinfo .clmn2 {
	width: 100%;
	margin: 0;
	text-align: left;
}
.bankinfo .clmn2 {
	margin-top: 20px;
}
}
</style>
<div class="bankinfo">
  <div class="clearfix">
    <assets-scene-title title-text="{{titleText}}" subtitle-text="Financial institution information"  
    enter-manual="{{enterManual}}"
    verify-electronically  ="{{verifyElectronically}}"></assets-scene-title>   
   </div>
  <div class="clearfix">
   <ui-form id="form" data="{{ form }}">
<ui-error-summary id="errorSummary"></ui-error-summary>
  <ui-container floating-label="Name of Institution*" is-required=true auto-save=false>
    <ui-input type="text" name="institutionName">
      <ui-validators>
        <ui-require-field>Please enter an institution.</ui-require-field>
      </ui-validators>
    </ui-input>
  </ui-container>
  <ui-container floating-label="Type of Account (Optional)" is-required=false auto-save=false>
    <ui-input name="accountType" type="text"> </ui-input>
  </ui-container>
  <ui-container floating-label="($) Current Balance*" is-required=true auto-save=false>
    <ui-input name="currentBalance" type="text" mask-format="money">
      <ui-validators>
        <ui-require-field>Current balance is required.</ui-require-field>
      </ui-validators>
    </ui-input>
  </ui-container>
  <ui-container floating-label="Account Number (Optional)" is-required=false auto-save=false>
    <ui-input name="accountNumber" type="text"  pattern="[a-zA-Z0-9]{0,10}" >
     
    </ui-input>
  </ui-container>
  <ui-container floating-label="What name is this account under (Optional)" is-required=false auto-save=false>
    <ui-input name="accountHolder" type="text"></ui-input>
  </ui-container>
</ui-form>
  </div>
  
  <div class="clearfix secur">
      <!-- Link -->
    <ui-modal-trigger modal-id="termsofService"><a><span class="df df-lock"></span>Security Information</a> </ui-modal-trigger>
  </div>
  
<div class="clearfix">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad backbtn">
  <template is="dom-if" if="[[isShowBackButton]]">
    <button back action="assets-set-visibility-mode" action-visibility-mode="LIST" on-click="fireAction" 
   > <i action="assets-set-visibility-mode" action-visibility-mode="LIST" class="df df-back"></i>Back</button>
  </template>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad nextbtns">
    <button name="next"  disabled="disabled" class="next" primary action="assets-manual-add"  on-click="fireAction">Enter</button>
  </div>
</div>
</div>

</template>
<script>
     Polymer({
      is: "borrower-assets-forms-add-institution",

      behaviors: [eventHub, alloy.ensureDependenciesBehavior, alloy.actions],

      observers: [
                'computeHideBackButton(totalAssets)'
            ],
      properties: {
        /**
         * form model
         */
        form: {
          type: Object,
          notify: true,
          value: function () {
            return {}
          }
        },
        titleText: {
        type: String,
        value: ""
      },
      enterManual: {
        type: Boolean,
        value: false
      }
      ,verifyElectronically:{
        type: Boolean,
        value: false
      },
      isShowBackButton:{
       type:Boolean,
       value:false
       //computed: "computeHideBackButton(totalAssets,enterManual,verifyElectronically)"
        }
      },
      computeHideBackButton: function (totalAssets) { 
              if(this.enterManual & this.verifyElectronically)    
              {
                this.set('isShowBackButton',true)
              }
               else if (totalAssets > 0 & this.enterManual & !this.verifyElectronically) {
                    //return false;
                    this.set('isShowBackButton',true)
                }                
                else
                {
                  this.set('isShowBackButton',false)
                }
            }

    })
  </script>
</dom-module>
