<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<link rel="import" href="../forms/mfa-selections.html" />
<link rel="import" href="../forms/mfa-device-list.html" />
<link rel="import" href="../forms/mfa-device.html" />

<link rel="import" href="../scene-title.html">
<link rel="import" href="../forms/mfa-questions.html" />
<dom-module id="assets-forms-challenge">
<template>
<style>
:host {
 --subTitleFontSize: 10pt;
}
</style>
<div class="bankinfo">
  <div class="clearfix scene">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-pad banklogo">
		<template is="dom-if" if="{{ selectedInstitution.logo }}">
			<img src="[[selectedInstitution.logo]]" class="img-responsive" alt="Bank Logo">
		</template>
		<template is="dom-if" if="{{ !selectedInstitution.logo }}">
			<span>[[selectedInstitution.name]]</span>
		</template>
	</div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <assets-scene-title title-text="Bank Information"
            subtitle-text="Verify your identity"></assets-scene-title>
    </div>
  </div>
	
	<template is="dom-if" if="[[ isChallengeMode(mfaTypes.SELECTIONS, mfa.mfa_type) ]]">
		<assets-mfa-selections selections="[[mfa.selections]]" ></assets-mfa-selections>
	</template>
	<template is="dom-if" if="[[ isChallengeMode(mfaTypes.DEVICE_LIST, mfa.mfa_type) ]]">
        <assets-mfa-device-list device-list="[[mfa.device_list]]" ></assets-mfa-device-list>		
	</template>
	<template is="dom-if" if="[[ isChallengeMode(mfaTypes.DEVICE, mfa.mfa_type) ]]">
		   <assets-mfa-device device="[[mfa.device]]" ></assets-mfa-device>
	</template>
	<template is="dom-if" if="[[ isChallengeMode(mfaTypes.QUESTIONS, mfa.mfa_type) ]]">
		<assets-mfa-questions id="mfaQuestions" questions="[[mfa.questions]]"  ></assets-mfa-questions>
	</template>
	
		 <div class="clearfix spacer">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad backbtn">
          <button back action="assets-set-visibility-mode" action-visibility-mode="GRID" on-click="fireAction"><i action="assets-set-visibility-mode" action-visibility-mode="GRID" class="df df-back"></i>Back</button>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad nextbtns">
          <button class="next" primary action="assets-answer-challenge" action-challenge-public-token$="[[ mfa.public_token ]]"
					action-challenge-mfa-type$="[[ mfa.mfa_type ]]" action-challenge-institution-id$="[[ institutionId ]]"
					  on-click="fireAction" action-challenge-selected-answer$=[[selectedAnswer]] >Enter</button>
        </div>
      </div>
	
</div>
<event-hub id="hub"></event-hub>
</template>
<script src="challenge.js"></script>
</dom-module>
