<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/modal/ui-modal-trigger.html"></html-import>

<link rel="import" href="../scene-title.html">
<dom-module id="assets-forms-credentials">
<template>
<style>
:host {
 --subTitleFontSize: 10pt;
}
</style>
<div class="bankinfo">
  <div class="clearfix scene">
      <assets-scene-title title-text="[[ headerTitle ]]"></assets-scene-title>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-pad banklogo">
        <template is="dom-if" if="{{ selectedInstitution.logo }}">
          <img src="[[selectedInstitution.logo]]" class="img-responsive" alt="Bank Logo">
        </template>
        <template is="dom-if" if="{{ !selectedInstitution.logo }}">
          <span class="bank-title">[[selectedInstitution.name]]</span>
        </template>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      <assets-scene-title title-text="[[ titleText ]]" subtitle-text="[[ subtitleText ]]"></assets-scene-title>
      <p hidden$="[[ !helpText ]]">[[ help-text ]]</p>
    </div>
  </div>
  
  <div class="clearfix">
    <p hidden$="[[ !shareInfoText ]]" class="highlight">[[share-info-text]] </p>
  </div>
  
  <div class="clearfix">
    <ui-form id="credentialsForm" data="{{ credentialsFormData }}">
      <ui-error-summary id="errorSummary"></ui-error-summary>
       <template is="dom-repeat"
        items="[[ credentials ]]"
        as="credential">
        <ui-container floating-label="[[credential.label]]" is-required=true auto-save=false>
          <ui-input type="[[credential.type]]" name="[[credential.name]]" >
            <ui-validators>
              <ui-require-field>Please enter your [[credential.label]].</ui-require-field>
            </ui-validators>
          </ui-input>
        </ui-container>
       </template>
    </ui-form>
  </div>
  
  <div class="clearfix secur">
      <!-- Link -->
      <ui-modal-trigger modal-id="termsofService"><a><span class="df df-lock"></span>Security Information</a> </ui-modal-trigger>
  </div>
  
  <div class="clearfix">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-pad backbtn">
      <button back action="assets-set-visibility-mode" action-visibility-mode="GRID" on-click="fireAction"><i action="assets-set-visibility-mode" action-visibility-mode="GRID" class="df df-back"></i>Back</button>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-pad nextbtns">
    <button class="next verify-btn" primary action="assets-submit" action-loggedin-username$="[[ loggedInUserName ]]"  on-click="fireAction">Verify Electronically</button>
    </div>
  </div>
</div>
<http-request id="http"></http-request>
<alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
</template>
<script>
    Polymer({
      is: "assets-forms-credentials",

      behaviors: [alloy.lifeCycleEvents, alloy.actions],
observers: ["handleCredentials(selectedInstitution)"],
      properties: {
          /** @memberOf assetsContainer */
      selectedInstitution: {
        type: Object
      },
      credentials:{
        type:Array,
        value:[]
      },
        titleText: String,

        subTitleText: String,

        helpText:{
          type:String,
          value:""
        }, 
 shareInfoText:{
          type:String,
          value:""
        }, 

        username: {
          type: String,
          value: "",
        },
        password: {
          type: String,
          value: "",
        },
      
        loggedInUserName:String
      },

      attached: function () {
     var self=this;
        this.reset();
        this.fetchCurrentUser().then(function(response){
          self.set("loggedInUserName",response.username)
        });
      },
      handleCredentials:function(selectedInstitution){
      
        this.set("credentials",selectedInstitution.credentials);
      },
      isValid: function () {
        return this.$.credentialsForm.isValid()
      },
        fetchCurrentUser: function () {
              if(this.configuration.services.security == undefined){
                throw new Error("service not found");
              }
                return this.$.http.get("/", this.configuration.services.security);
            },
      getFormData:function(){
         return this.$.credentialsForm.getData();
      },
    
      reset: function () {
        
        this.$.credentialsForm.setData({})
        $("ui-container", this.$.credentialsForm).each(function () {
          this.resetServerErrors()
        })
        $("ui-input", this.$.credentialsForm).each(function () {
          this.resetErrors()
        })
      },
    })
  </script>
</dom-module>
