<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/forms/ui-single-toggle-verticle.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>

<link rel="import" href="../scene-title.html">
<dom-module id="assets-mfa-device-list">
<template>
    <span class="blue mfa-device-list">Where would you like to send your security code?</span> 
    <ui-form id="form" data="{{ formData }}">
    <ui-single-toggle-verticle name="deviceList" list="[[toggleItems]]" click-handler="updateSelectedAnswer">
    </ui-single-toggle-verticle>
    </ui-form>
    <event-hub id="hub"></event-hub>
</template>
<script>
    Polymer({
        is: "assets-mfa-device-list",
				properties: {
					deviceList:Array,
					responses:{
						type:Array,
						value:[]
					},
                    toggleItems:Array
				},
				  behaviors: [eventHub],
				  
            attached:function(){
                  var self = this;
                this.responses = [];
                if(self.deviceList!=null)
                {
                     var _deviceItems = [];
                     _.forEach(self.deviceList, function (item) {
                         _deviceItems.push({
                             "seqNo":item.device_id,
                             "type":item.type,
                             "label":item.mask,
                             "value":item.device_id
                         });
                     });
                     self.toggleItems = _deviceItems;
                }
               
            },
            updateSelectedAnswer:function(e,value){
                var self = this;
self.responses[0] =  value || "";
 self.publish('update-selected-answer', self.responses);
            }
		})
</script>
</dom-module>
