<html-import html-href="event/hub.html"></html-import>

<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-select-one.html"></html-import>

<link rel="import" href="../scene-title.html">
<dom-module id="assets-mfa-selections">
<template>
<style>
.radio {
margin: 0;
display: block;
}
</style>
		<template is="dom-repeat"
        items="[[ selections ]]"
        as="selection" index-as="que_no">
				<span class="blue">[[selection.question]]</span> 
		
			 <ui-container >
                <template is="dom-repeat" items="{{ selection.answers }}">
            <div class="answer-info clearfix">
                <div class="radio">
                    <input value="{{ item }}" id$="{{changeId(que_no,index)}}" on-click="setActive"
                           name="[[que_no]]" data-que-no$="[[que_no]]" type="radio">
                    <label for$="{{changeId(que_no,index)}}"><span></span></label>
                </div>
                <div class="title">{{ item }}</div>
            </div>
        </template>
            </ui-container>
		</template>
 <event-hub id="hub"></event-hub>
</template>
<script>
    Polymer({
        is: "assets-mfa-selections",
				properties: {
					selections:Array,
					responses:{
						type:Array,
						value:[]
					}
				},
				  behaviors: [eventHub],
				   changeId: function (queNumber, answerIndex) {
                var newId = queNumber + "-" + answerIndex + "-ui-select-one";
                return newId;
            },
            attached:function(){
                this.responses = [];
            },
				setActive: function (e) {
                var self = this;
                var event = e.model.item;
							self.responses[e.model.que_no] = event;
						  self.publish('update-selected-answer', self.responses);
              
            }
		})
</script>
</dom-module>
