<html-import html-href="ui-elements/ui-empty-curtain.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/ui-checkbox.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/status-management-service.html"></html-import>

<dom-module id="change-entity-status">
    <template>
        <style>
            .submit {
                margin-top: 10px;
            }

            .borderless td,
            .borderless th {
                border: none;
                padding: 0px !important;
                line-height: 0 !important;
            }
        </style>

        <ui-empty-curtain empty-message="No transitions found for this status"
            loading-message="Loading status transitions..."
            is-empty="[[ isEmpty ]]"
            is-loading="[[ isLoading ]]">

            <ui-error-summary id="errorSummary"
                errors="[[ errors ]]"></ui-error-summary>

            <ui-form id="form"
                error-messages="{{ errors }}">

                <ui-options id="status"
                    name="status"
                    label="New Status"
                    items="[[ status ]]"
                    on-change="loadChecklistAndReasons">
                    <ui-validators>
                        <ui-require-field>Status is required.</ui-require-field>
                    </ui-validators>
                </ui-options>

                <div class="form-group">
                    <div>
                        <label class="control-label">Checklist </label>
                        <span class="label pull-right"
                            hidden$="[[ !isLoading ]]">Loading...</span>
                    </div>

                    <ui-empty-curtain empty-message="No checklist items"
                        loading-message="Loading checklist items..."
                        is-empty="[[ !checklist.length ]]"
                        is-loading="[[ isLoading ]]">

                        <table class="table"
                            hidden$="[[ !showChecklist ]]">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Item</th>
                                </tr>
                            </thead>
                            <tbody>
                                <template is="dom-repeat"
                                    items="[[ checklist ]]">
                                    <tr>
                                        <td>
                                            <span class="label label-primary"
                                                hidden$="[[ !item.isCompleted ]]">Complete</span>
                                            <span class="label label-danger"
                                                hidden$="[[ item.isCompleted ]]">Incomplete</span>
                                        </td>
                                        <td>[[ item.title ]]</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </ui-empty-curtain>
                </div>

                <ui-options id="reasonSelector"
                    name="reasonSelector"
                    hidden$="[[ !showReasons ]]"
                    button-text="Reason"
                    label="Reason"
                    items="[[ reasons ]]">
                    <ui-validators>
                        <ui-custom-validator name="validateReason">A reason is required</ui-custom-validator>
                    </ui-validators>
                </ui-options>

                <ui-text-area name="notes"
                    label="Notes">
                    <ui-validators>
                        <ui-require-field>Notes are required.</ui-require-field>
                    </ui-validators>
                </ui-text-area>

                <div class="submit">
                    <ui-button id="submit"
                        disabled-text="Submit"
                        color="primary"
                        click-handler="changeStatus">
                        Change Status
                    </ui-button>
                    or <a on-click="closeActivity">Cancel</a>
                </div>

            </ui-form>
        </ui-empty-curtain>

        <status-management-service id="statusManagementService"></status-management-service>
        <event-subscription event="alerts.updated"
            handler="loadChecklistAndReasons"></event-subscription>
        <event-subscription event="tasks.updated"
            handler="loadChecklistAndReasons"></event-subscription>
        <url-parser id="urlParser"></url-parser>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: 'change-entity-status',

            behaviors: [eventHub, alloy.activity, alloy.ensureDependenciesBehavior],

            properties: {
                isLoading: {
                    type: Boolean,
                    value: true
                },

                isEmpty: {
                    type: Boolean,
                    value: true,
                    computed: "computeIsEmpty(status)"
                },

                showChecklist: {
                    type: Boolean,
                    value: false,
                    computed: "computeShowChecklist(checklist)"
                },

                showReasons: {
                    type: Boolean,
                    value: false
                },

                status: {
                    type: Array,
                    value: function () { return []; }
                },

                checklist: {
                    type: Array,
                    value: function () { return []; }
                },

                reasons: {
                    type: Array,
                    value: function () { return []; }
                },

                errors: {
                    type: Array,
                    value: function () { return []; },
                },

                isChecklistComplete: {
                    type: Boolean,
                    value: false,
                    computed: "computeIsChecklistComplete(checklist)"
                },
            },

            attached: function () {
                this.getStatus();
            },

            computeIsEmpty: function (status) {
                if (!status) return true;

                return status.length === 0;
            },

            computeShowChecklist: function (checklist) {
                return checklist && checklist.length > 0;
            },

            computeIsChecklistComplete: function (checklist) {
                return checklist.every(function (item) { return item.isCompleted });
            },

            computeShouldDisableButton: function (isChecklistComplete) {
                return isChecklistComplete;
            },

            getStatus: function () {
                var self = this;

                self.isLoading = true;

                return this.ensure("statusManagementService")
                    .then(function (statusManagementService) {
                        return statusManagementService.fetchStatus(self.entityType, self.entityId)
                            .then(function (statusCode) {
                                if (!statusCode.code) {
                                    return Promise.reject({
                                        name: "INVALID_STATUS",
                                        message: "Fetched status was undefined."
                                    })
                                }

                                self.set("currentStatus", statusCode.code);

                                return statusManagementService.fetchTransition(self.entityType, statusCode.code);
                            })
                            .then(function (transitions) {
                                self.status = transitions.map(function (t) {
                                    return { value: t.code, label: t.name };
                                });
                            })
                    })
                    .catch(function (error) {

                    })
                    .then(function () {
                        self.isLoading = false;
                    });
            },

            loadChecklistAndReasons: function () {
                if (this.$.form.getData().status === "") return;

                this.loadChecklist();
                this.loadReasons();
            },

            loadChecklist: function () {
                var self = this;

                return self.ensure("statusManagementService")
                    .then(function (statusManagementService) {
                        self.isLoading = true;
                        return statusManagementService.fetchChecklist(self.entityType, self.entityId, self.$.form.getData().status)
                    })
                    .then(function (checklist) {
                        self.checklist = checklist;

                        if (!self.isChecklistComplete) {
                            self.errors = "Unable to change status with incomplete checklist items.";
                        }
                    })
                    .catch(function (error) { })
                    .then(function () {
                        self.isLoading = false;
                    });
            },

            loadReasons: function () {
                var self = this;

                self.ensure("reasonSelector", "statusManagementService")
                    .then(function (ctx) {
                        var status = self.$.form.getData().status;

                        if (!status) {
                            return Promise.reject({
                                name: "INVALID_STATUS",
                                message: "Status is undefined."
                            });
                        }

                        return ctx.statusManagementService.fetchReason(self.entityType, status);
                    })
                    .then(function (reasons) {
                        var reasonsList = reasons.map(function (reason) {
                            return { value: reason.code, label: reason.descriptions };
                        });

                        self.showReasons = true;
                        self.reasons = reasonsList;
                    })
                    .catch(function (error) {
                        self.showReasons = false;
                        self.reasons =  [];
                    });
            },

            changeStatus: function () {
                var self = this;

                self.$.submit.disable();
                self.$.form.isValid().then(function (isValid) {
                    var errors = self.validate();

                    self.errors = errors.concat(self.$.form.getErrors());
                    self.$.submit.enable();

                    if (self.errors.length > 0) return;

                    self.ensure("statusManagementService").then(function (statusManagementService) {
                        statusManagementService.changeStatus(self.entityType,
                            self.entityId, self.$.form.getData().status,
                            self.$.form.getData().reasonSelector, self.$.form.getData().notes)
                            .then(function () {
                                self.$.submit.enable();
                                self.notifySuccess("Status Changed.");
                                self.publish("activity:refresh");
                                self.publish(self.entityType + ".updated");
                                self.closeActivity();
                            })
                            .fail(function (error) {
                                error = error.responseJSON && error.responseJSON.message || "Unable to change status at this time.";
                                self.$.errorSummary.setErrors(error);
                                self.$.submit.enable();
                            });
                    });
                });
            },

            validate: function () {
                var errors = [];

                if (_.get(this.checklist, "length", 0) > 0 && !this.isChecklistComplete) {
                    errors.push("Please ensure every checklist item is complete.");
                }

                return errors;
            },

            validateReason: function (value) {
                if (this.reasons.length === 0)
                    return true;

                if (typeof value === "undefined")
                    value = "";

                return value.length !== 0;
            }
        });
    </script>
</dom-module>
