<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-validators.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="unassing-entity">
    <template>
        <style>
            :host {
                --form-control-height: 3em;
                --form-control-border: 1px solid #cdcdcd;
                --form-control-border-focus: 1px solid #03426b !important;
                --var-dropdown-focus: 1px solid #03426b !important;
                --dropdown-height: 3em;
                --dropdown-background-color: white;
                --dropdown-border: 1px solid #cdcdcd;
                --dropdown-border-has-error: 1px solid #ed5565 !important;
                --dropdown-color: rgb(103, 106, 108);
                --dropdown-width: 100%;
            }

            .submit {
                margin-top: 10px;
            }
        </style>
        <ui-error-summary id="errorSummary"></ui-error-summary>
        <ui-form id="form" on-register="loadForm">
            <ui-input name="role" items="{{ roles }}" label="Role" disabled>
                <ui-validators>
                    <ui-require-field>Role is required.</ui-require-field>
                </ui-validators>
            </ui-input>
            <ui-input name="user" items="{{ users }}" label="User" disabled>
                <ui-validators>
                    <ui-require-field>User is required.</ui-require-field>
                </ui-validators>
            </ui-input>
            <div class="submit">
                <ui-button id="submit" disabled-text="Processing" color="primary" on-click="unassign">
                    Unassign
                </ui-button>
                or <a on-click="closeActivity">Cancel</a>
            </div>
        </ui-form>
        <assignment-service id="assignmentService"></assignment-service>
        <url-parser id="urlParser"></url-parser>
    </template>
    <script>
        Polymer({
            is: 'unassing-entity',

            behaviors: [eventHub, alloy.activity, ensureDependenciesBehavior],

            attached: function () {
                this.loadForm();
            },

            loadForm: function () {
                this.ensure("form").then(function (form) {
                    form.setData({
                        role: this.assignment.role,
                        user: this.assignment.assignee
                    });
                }.bind(this));
            },

            unassign: function () {
                var self = this;
                self.$.submit.disable();
                this.ensure("assignmentService").then(function (assignmentService) {
                    assignmentService.unassign(self.assignment.entityType, self.assignment.entityId, self.assignment.role)
                        .then(function (response) {
                            var message = [self.entityType, self.entityId, "unassigned successfully"].join(" ");
                            self.notifySuccess(message);
                            self.publish("assignments.changed");
                            self.publish("assignments.cancelled");
                            self.publish("activity:refresh");
                            self.closeActivity();
                        })
                        .fail(function (response) {
                            self.$.errorSummary.setErrors(response.responseJSON.message);
                        });
                }).then(function () {
                    self.$.submit.enable();
                });
            }
        });
    </script>
</dom-module>