<dom-module id="communication-archieved">
    <template>
        <div class="communicate-chat tab-content">
            <div id="archieved-content" class="content">
                <!-- Tabs Links -->
                <ul class="txt-sms" role="tablist">
                    <li role="presentation" class="text-link active"><a href="#text"role="tab" data-toggle="tab">Text</a></li>
                    <li role="presentation" class="text-link"><a href="#sms" role="tab" data-toggle="tab">SMS</a></li>
                </ul>

                <!-- Tabs Pane -->
                <div class="tab-content msg-chat-box archive">
                    <!-- Messages -->
                    <div role="tabpanel" class="tab-pane active text-box tab-change" id="text">
                        <ul>
                            <li>
                                <div class="msg-img">
                                    <img class="img-circle active" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-2.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-3.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-2.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-3.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>
                        </ul>
                    </div>
                    <!-- Archived -->
                    <div role="tabpanel" class="tab-pane sms-box tab-change" id="sms">
                        <ul>
                            <li>
                                <div class="msg-img">
                                    <img class="img-circle active" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                    <h6>+345234241</h6>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-2.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                    <h6>+345234241</h6>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-3.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                    <h6>+345234241</h6>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                    <h6>+345234241</h6>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-2.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-3.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>

                            <li>
                                <div class="msg-img">
                                    <img class="img-circle" src="../../images/person-1.png" alt="Person">
                                </div>

                                <div class="msg-text">
                                    <h5>Alex Fernando</h5>
                                    <span>Loan Assistant</span>
                                </div>

                                <div class="msgicons">
                                    <a href="javascript:;" class="df df-phone"></a>
                                    <a href="javascript:;" class="df df-message"></a>
                                    <a href="javascript:;" class="df df-chat"></a>
                                </div>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </template>
</dom-module>

<script>
    Polymer({
        is:'communication-archieved'
    });
</script>