<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-email.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<dom-module id="team-new-invite">
    <template>
        <div class="contributors">
            <!-- Title -->
            <!--<h4>{{team.title}} ({{team.count}})</h4>-->

            <!-- Add & Close icon-->
             <div class="add-person clearfix">
                <span class="df df-no-user">&nbsp;<span class="df df-plus img-circle">&nbsp;</span></span>
                <div class="close-btn"><a href="javascript:;" class="df df-close-o" on-click="close"></a></div>
            </div>

            <!-- Text -->
            <p>When you invite a person to this transaction, they’ll be able to follow along with your loan status. Here’s what they’ll be able to do:</p>
            <ul>
                <li>– Upload and view documents</li>
                <li>– View/post status updates</li>
                <li>– View outstanding conditions</li>
                <li>– Chat and collaborate</li>
            </ul>
            <p class="special-note">They will NOT have access to your personal financial details you provided on this application.</p>
            <!-- Form -->
            <div class="invite-details">
                <ui-error-summary id="errorSummary"></ui-error-summary>
                <ui-form id="form"
                         data="{{ formData }}">
                    <ui-container-group id="uiContainerGroup" has-error="{{formHasError}}">
                                <ui-container floating-label="Email"
                                              is-required=true auto-save=false
                                              default-value="">
                                    <ui-input name="email">
                                        <ui-validators>
                                            <ui-require-field>Please enter your Email.</ui-require-field>
                                            <ui-is-email>Email address is not valid.</ui-is-email>
                                        </ui-validators>
                                    </ui-input>
                                </ui-container>

                            <div class="invite-dropdwn-error">
                                <ui-container floating-label="Select Role"
                                              is-required=true auto-save=false default-value="">
                                    <ui-options name="role" button-text="Select Role"
                                                items="[[ listOfRoles ]]">
                                        <ui-validators>
                                            <ui-require-field>Please select one of the available option.</ui-require-field>
                                        </ui-validators>
                                    </ui-options>
                                </ui-container>
                            </div>
                    </ui-container-group>
                </ui-form>
            </div>
            <!-- submit button -->
            <div class="invite-btn-wrapper">
                <button type="button" class="invite-btn docitt-button ui-container-button" disabled="disabled" on-click="inviteUser">INVITE</button>
            </div>
        </div>

        <!-- -->
        <event-hub id="hub"></event-hub>
        <team-service id="teamService"></team-service>
        <url-parser id="urlParser"></url-parser>
    </template>
    <script>
        Polymer({
            is:'team-new-invite',

            properties:{
                componentLoaderId:String,
                formHasError:Boolean,
                /*List of roles to display in dropdown*/
                listOfRoles:{
                    type:Array,
                    value:[]
                },
                team:Object
            },

            get entityId(){
                return this.$.urlParser.getParams().id;
            },

            observers:[
                'listnerFormHasError(formHasError)'
            ],

            attached: function(){
                //Load role list from alloy config
                this.listOfRoles = window.config.addMemberRoles;
            },

            listnerFormHasError: function(formHasError){
                if(formHasError==true){
                    this.querySelector('.ui-container-button').setAttribute('disabled','disabled');
                }else{
                    this.querySelector('.ui-container-button').removeAttribute('disabled');
                }
            },

            inviteUser:function(){
                var self = this;
                self.$.uiContainerGroup.isValid().then(function(isValid){
                    if(isValid){
                        //Clear server side errors
                        self.$.errorSummary.clearErrors();
                        //
                        self.$.teamService.inviteNewMember("application", self.entityId, self.formData.email,  self.formData.role)
                                .then(function(response){
                                    //Redirect to new UI.
                                    var _eventName = self.componentLoaderId+"-component:load.dynamic"
                                    self.$.hub.publish(_eventName,{
                                        src:'borrower-portal/communication/team-new-invite-success.html',
                                        componentProperties:{
                                            team:self.team,
                                            email:self.formData.email
                                        }
                                    });
                                }, function(error){
                                    if(error.status==400){
                                        self.$.errorSummary.setErrors("User already invited.");
                                    }else{
                                        self.$.errorSummary.setErrors(error.statusText);
                                    }
                                });
                    }
                });
            },

            close: function(){
                this.$.hub.publish(this.componentLoaderId+'-component:close', {
                    doNotLoadDefault: true
                });
            }
        });
    </script>
</dom-module>