<!--<html-import html-href="event/hub.html"></html-import>-->
<html-import html-href="borrower-portal/communication/team-member-photo.html"></html-import>
<html-import html-href="ui-elements/ui-popover.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>

<dom-module id="team-member">
    <template>
        <div class="team-member-wrapper">
            <!--<div class="col-md-3">
                <team-member-photo logo-reference-id="[[logoReferenceId]]" user-id="[[userId]]">                    
                </team-member-photo>
            </div>
            <div class="col-md-9">
                <div>{{name}}</div>
                <div>{{role}}</div>
            </div>-->

            <div class="msg-img">
                <!--<img class="active" src="images/person-1.png" alt="Person">-->
                <team-member-photo user-name="[[username]]">
                </team-member-photo>
            </div>

            <div class="msg-text">
                <h5>{{firstName}} {{lastName}}</h5>
                <span>{{role}}</span>
            </div>

            <div class="msg-icons">
                <a href="javascript:;"><img src="../../images/call-icon.png"></a>
                <a href="javascript:;"><img src="../../images/chat-com.png"></a>
                <!--<ui-popover 
                    trigger="click" custom-icon=true
                    dynamic-html="<span>Zaid Chauhan</span>">
                    <img src="../../images/com-social.png">
                </ui-popover>-->
                <span>
                    <a href="javascript:;">
                        <img src="../../images/com-social.png">
                            <ui-popover trigger="focus" selector-element="self"
                                        custom-html="[[popoverHtmlContent]]">
                            </ui-popover>
                        </img>
                    </a>
                </span>
                <!--<a href="javascript:;"><img src="../../images/com-social.png"></a>-->
            </div>
        </div>

        <!-- -->
        <!--<event-hub id="hub"></event-hub>-->
        <team-service id="teamService"></team-service>

        <div hidden
             id='popoverContent'>
            <a twitterurl
               target="docitt-social"
               style="display:inline-block; padding:0px; margin:0px;">
                <img src="../../images/twiter-img.png" class="media-object" alt="Sample Image">
            </a>
            <a facebookurl
               target="docitt-social"
               style="display:inline-block; padding:0px; margin:0px;">
                <img src="../../images/fb-img.png" class="media-object" alt="Sample Image">
            </a>
            <a linkedinurl
               target="docitt-social"
               style="display:inline-block; padding:0px; margin:0px;">
                <img src="../../images/linked-img.png" class="media-object" alt="Sample Image">
            </a>
        </div>
    </template>

    <script>
        Polymer({
            is: 'team-member',

            properties: {
                /*below properties are recieved from parent*/
                assignee: String,
                userId: String,
                role: String,

                /*Below properties will be loaded from */
                firstName: String,
                lastName: String,
                username: String,
                mobileNumber: String,
                facebookUrl: String,
                twitterUrl: String,
                linkedInUrl: String,

                /*Popover for social media*/
                popoverHtmlContent: String
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var self = this;
                self.ensure("teamService").then(function (teamService) {
                    teamService.getUserDetails(self.assignee).then(function (response) {
                        self.updateProperties(response);
                        self.updatePopoverHtmlContent()
                    })
                });
            },

            /*Update properties with values received from api*/
            updateProperties: function (userDetails) {
                for (var property in this.properties) {
                    if (userDetails[property]) {
                        this[property] = userDetails[property];
                    }
                }
            },

            updatePopoverHtmlContent: function () {
                var self = this;
                var _html = self.$.popoverContent.innerHTML;
                //
                _html = _html.replace('twitterurl=""', "href='" + (!self.twitterUrl ? 'javascript:;' : self.twitterUrl) + "'");
                _html = _html.replace('facebookurl=""', "href='" + (!self.facebookUrl ? 'javascript:;' : self.facebookUrl) + "'");
                _html = _html.replace('linkedinurl=""', "href='" + (!self.linkedInUrl ? 'javascript:;' : self.linkedInUrl) + "'");

                self.popoverHtmlContent = _html;
            }
        });
    </script>
</dom-module>