<dom-module id="team-member-photo">
    <template>
        <style>
            img {
                width: 44px;
                height: 44px;
                border-radius:50%;
            }
        </style>
        <div>
            <img hidden$="[[!noImage]]" src="../../images/person-icon.png">
            <img hidden$="[[noImage]]" src="[[imageUrl]]" on-error="onError">
        </div>

        <!-- -->
        <!--<event-hub id="hub"></event-hub>-->
        <team-service id="teamService"></team-service>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>

    <script>
        Polymer({
            is: 'team-member-photo',

            properties: {
                userName: String,
                imageUrl: String,
                noImage: {
                    type: Boolean,
                    value: true
                }
            },

             baseUrl: null,
				
                attached: function () {
                    if(this.configuration.services.staticServer == undefined){
                        throw new Error("staticServer service not found");
                    }
                    
                    this.baseUrl=this.configuration.services.questionnaire;
                },

            observers: [
                'generateImageURL(userName)'
            ],

            /**
             * If there will be error in retrival 
             */
            onError: function () {
                this.set('noImage', true)
            },

            /**
             * 
             */
            generateImageURL: function (userName) {
              
                //Set image url
                this.imageUrl = [this.baseUrl, "user", userName, "profile.jpeg"].join('/');
                //turn off default image
                this.set('noImage', false);
            }
        });
    </script>
</dom-module>