<html-import html-href="event/hub.html"></html-import>
<dom-module id="team-new-invite-success">
	<template>
		<div class="thanksmsg">
			<!--<h4>{{team.title}} ({{team.count}})</h4>-->
            <div class="add-person celarfix">
                <span class="df df-no-user">&nbsp;<span class="df df-plus img-circle">&nbsp;</span></span>
                <div class="close-btn"><a href="javascript:;" class="df df-close-o" on-click="close"></a></div>
            </div>

			<h6>Thank you.</h6>
			<p>An invitation email has been sent to: {{email}}</p>
			<div class="add-another-member">
				<input type="button" class="add-member-btn docitt-button" value="ADD ANOTHER MEMBER" on-click="addMember">
			</div>
		</div>

		<!-- -->
		<event-hub id="hub"></event-hub>
	</template>
	<script>
		Polymer({
			is:'team-new-invite-success',

			properties:{
				email:String,
				team:Object
			},

			addMember: function(){
				var self = this;
				var _eventName = self.componentLoaderId+"-component:load.dynamic"
				self.$.hub.publish(_eventName,{
					src:'borrower-portal/communication/team-new-invite.html',
					componentProperties:{
						team:self.team
					}
				});
			},

			close: function(){
				this.$.hub.publish(this.componentLoaderId+'-component:close', {
					doNotLoadDefault: true
				});
			}
		});
	</script>
</dom-module>