<html-import html-href="event/hub.html"></html-import>
<!--<html-import html-href="services/url-parser.html"></html-import>-->
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="borrower-portal/communication/team-member.html"></html-import>
<dom-module id="team-list">
<template>
<div class="msg-chat-box"> 
  <!-- Lending/Contributors Team -->
  <template is="dom-repeat" items="[[formattedTeamMembersList]]" as="teamList">
    <div class="team-list-wrapper">
      <h4>{{teamList.title}} ({{teamList.count}})</h4>
      <template is="dom-repeat" items="[[teamList.list]]" as="team">
        <team-member
                                assignee="[[team.assignee]]"
                                userId="[[team.userId]]"
                                role="[[team.role]]"> </team-member>
      </template>
    </div>
  </template>
  <div class="add-person"> <a href="javascript:;" class="df df-no-user" on-click="addMember"><span class="df df-plus img-circle">&nbsp;</span></a> </div>
</div>

<!-- -->
<event-hub id="hub"></event-hub>
<url-parser id="urlParser"></url-parser>
<assignment-service id="assignmentService"></assignment-service>
<http-request-promisified id="$http"></http-request-promisified>
</template>
<script>
        Polymer({
            is:'team-list',

            properties:{
                componentLoaderId:String,

                entityType:{
                    type:String,
                    value:'application'
                },

                teamMembersList:Array,
                formattedTeamMembersList:{
                    type:Array,
                    value:[
                        {
                            title:'Lending Team',
                            list:[],
                            count:0
                        },{
                            title:'Contributors Team',
                            list:[],
                            count:0
                        }
                    ]
                },
                // lendingTeam:Array,
                // lendingTeamCount:{
                //     type:Number,
                //     value:0,
                //     computed:"getCounts(lendingTeam)"
                // },
                // contributorsTeam:Array,
                // contributorsTeamCount:{
                //     type:Number,
                //     value:0,
                //     computed:"getCounts(contributorsTeam)"
                // }
            },

            behaviors:[
                eventHub,
                ensureDependenciesBehavior
            ],

            observers:[
                'filterTeamList(teamMembersList)'
            ],

            get entityId(){
                return this.$.urlParser.getParams().id;
            },

            getCounts: function(teamList){
                if(teamList && Array.isArray(teamList)){
                    return teamList.length;
                }else{
                    return 0;
                }
            },

            attached: function(){
                var self=this;
                self.async(function(){
                    self.ensure("assignmentService").then(function (assignmentService) {
                        assignmentService.getAssignments(self.entityType, self.entityId).then(function(response){
                            self.teamMembersList = response;
                            //
                            self.$.hub.publish("tab:overview", {
                                id: "communication",
                                dynamicText: self.teamMembersList.length + " Members"
                            });
                        });
                    });
                },100);
            },

            filterTeamList: function(teamMembersList){
                //Lenders team
                var _lendingTeam = teamMembersList.filter(function(memberItem){
                    return memberItem.lenderTeam == true;
                });
                var _lendingTeamCount = this.getCounts(_lendingTeam);

                //Contributors team
                var _contributorsTeam = teamMembersList.filter(function(memberItem){
                    return memberItem.lenderTeam == false;
                });
                var _contributorsTeamCount = this.getCounts(_contributorsTeam);

                //Update formattedTeamMembersList as per new data
                this.formattedTeamMembersList[0].list = _lendingTeam;
                this.formattedTeamMembersList[0].count = _lendingTeamCount;
                this.notifyPath('formattedTeamMembersList.0.list');
                this.notifyPath('formattedTeamMembersList.0.count');

                this.formattedTeamMembersList[1].list = _contributorsTeam;
                this.formattedTeamMembersList[1].count = _contributorsTeamCount;
                this.notifyPath('formattedTeamMembersList.1.list');
                this.notifyPath('formattedTeamMembersList.1.count');

            },

            addMember:function(){
                var self = this;
                var _eventName = self.componentLoaderId+"-component:load.dynamic"
                self.$.hub.publish(_eventName,{
                    src:'borrower-portal/communication/team-new-invite.html',
                    componentProperties:{
                        team:{
                            title:self.formattedTeamMembersList[1].title,
                            count:self.formattedTeamMembersList[1].count
                        }
                    }
                });
            },

        });
    </script>
</dom-module>
