<html-import html-href="ui-elements/activity-drop-zone.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="add-document">
<template>
<style>
.slimScrollBar {right: -30px !important;}
.btn-grp-disabled {opacity: 0.4}
/*.up-doc-wrap {height: auto;}*/
@media only screen and (max-width: 479px) {
.btn-outline-primary{ font-size:14px;}
}
</style>
        <div class="clearfix" id="uploadDocuments">
            <template template
                      is="dom-if"
                      if="{{ errorMessage }}">
                <div id="error-message"
                     class="alert alert-danger">
                    {{ errorMessage }}
                </div>
            </template>
            <div class="up-doc-wrap clearfix">
                <p>[[ title ]]</p>
                <div class="drag-box">
                    <activity-drop-zone id="dropZone"
                                        current-user="[[ currentUser ]]"
                                        submit-target="{{ target }}"
                                        max-files="{{maxFiles}}"
                                        metadata="{{ metadata }}"
                                        tags="{{ tags }}"
                                        file-name="{{ fileName }}"
                                        explanation="[[ explanation ]]"
                                        submit-base-url="{{ baseUrl }}"
                                        parallel-uploads="{{maxFiles}}"
                                        fileName
                                        clickable>
                        <div class="dz-message">Drop Files here or click to upload<br />(Maximum {{maxFiles}} files allowed)</div>
                    </activity-drop-zone>
                </div>
            </div>

            <div class="hidden">
                <span class="or">or</span>
                <ul class="gdrive-dropbox clearfix">
                    <li><a class="grdrive" href="javascript:void(0)">&nbsp;</a></li>
                    <li><a class="dropbox" href="javascript:void(0)">&nbsp;</a></li>
                </ul>
            </div>
        </div>

        <div hidden$="[[ showUploadButton ]]">
            <div hidden$="[[ !needToWriteExplanation ]]" class="write-explanation">
                <a on-click="changeTab"
                   href="javascript:void(0)"
                   class="btn btn-lg btn-outline btn-block">Do you need to write an explanation?</a>
            </div>
            <p hidden$="[[!isShowAdditionInfo]]"
               class$="[[additionalInfoClass]]"> [[additionalInfo]]</p>
                <button disabled$="{{ uploadBusy }}" hidden$="[[ needToWriteExplanation ]]"
                    class="btn btn-lg btn-primary btn-block"
                    on-click="submit">
                <span hidden$="{{ uploadBusy }}">[[uploadButtonText]]</span>
                <span hidden$="{{ !uploadBusy }}">{{ disabledText }}</span>
            </button>
        </div>

        <identity-service id="identityService"></identity-service>
        <url-parser id="urlParser"></url-parser>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "add-document",

            behaviors: [eventHub, window.alloy.activity, ensureDependenciesBehavior],

            properties: {
                errorMessage: {
                    type: String
                },
                additionalInfo: String,
                additionalInfoClass: String,
                isShowAdditionInfo: {
                    type: Boolean,
                    computed: "computeAdditionalInfo(additionalInfo)"

                },
                needToWriteExplanation: {
                    type: Boolean,
                    value: true
                },
                minScrollHeight: {
                    type: Number,
                    value: 360
                },
                adjustableHeight: {
                    type: Number,
                    value:240
                },
                isFileRequired: {
                    type: Boolean,
                    value: true
                },
                showUploadButton: {
                    type: Boolean,
                    value: true
                },
                visibleButton: {
                    type: Boolean,
                    value: false
                },
                uploadButtonText: {
                    type: String,
                    value: "NO, I'M FINISHED SATISFYING THIS CONDITION"
                },
                disableButton: {
                    type: Boolean,
                    value: true
                },
                uploadBusy: {
                    type: Boolean,
                    value: false
                },
                disabledText: {
                    value: "Processing",
                    type: String
                },
                maxFiles: {
                    type: Number,
                    value: 12
                },
                decreasedTopValue: {
                    type: Number,
                    value: 29
                }
            },

            attached: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }

                this.ensure("identityService")
                        .then(function (identityService) {
                            return identityService.getCurrentUser()
                        })
                        .then(function (response) {
                            self.currentUser = response.username;
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
                self.showHideUploadBtn(null);
                this.subscribe("files:inQueue", function (payload) {
                    self.showHideUploadBtn(payload);
                });
                this.subscribe("uploadButton:enable", function (payload) {
                    if (payload.enableButton) {
                        self.set("uploadBusy", false);
                    }
                });
                this.subscribe("document:upload", function (payload) {
                    if (payload.enableButton) {
                        self.set("uploadBusy", false);
                    }
                });
            },

            init: function () {
                $('#uploadDocuments').slimScroll({
                    size: '10px',
                    height: this.adjustableHeight + 'px',
                    distance: '-30px',
                    alwaysVisible: false,
                    opacity: 1
                });
                //Update scroll height
                this._updateScrollHeight();
                // hide the scroll on initial load
                $(".slimScrollBar").hide();
            },

            /**
             *
             */
            _updateScrollHeight: function (attempt) {
                this.async(function () {
                    attempt = attempt || 1;
                    if (attempt <= 20) {
                        var _dimensions = this.getBoundingClientRect();

                        if (_dimensions != undefined && _dimensions != null && _dimensions.top != undefined && _dimensions.top !== 0) {
                            var _calculatedScrollHeight = window.innerHeight - _dimensions.top - this.decreasedTopValue;
                            /*$('#uploadDocuments').slimScroll({

                             height: (_calculatedScrollHeight < this.minScrollHeight ? this.minScrollHeight : _calculatedScrollHeight) + 'px'
                             });*/

                        } else {
                            attempt++;
                            this._updateScrollHeight(attempt);
                        }
                    }
                }, 500);
            },

            handleError: function (errorMessage) {
                this.errorMessage = errorMessage;
            },

            isValid: function () {
                var errorMessage = "Please select file to be uploaded";

                if (this.isFileRequired && !this.$.dropZone.filesAdded) {
                    this.handleError(errorMessage);
                    return false;
                }

                return true;
            },
             submit: function () {
                if (this.isValid()) {
                    if (this.$.dropZone.filesAdded) {
                        this.set("uploadBusy", true);
                        this.$.dropZone.processQueue();
                    }
                    else if (!this.isFileRequired) {
                        this.$.hub.publish("document:skipped");
                    }
                }
            },

            addDisabledClass: function (disabled) {
                if (disabled) {
                    return "btn-grp-disabled";
                }
            },

            showHideUploadBtn: function (payload) {
                if (!this.isFileRequired && !this.visibleButton)
                    this.set("showUploadButton", false);
                else if (payload != null && payload.totalQueuedCount > 0 && !this.visibleButton) {
                    this.set("showUploadButton", false);
                }
                else {
                    this.set("showUploadButton", this.visibleButton);
                }
            },

            changeTab: function () {
                this.$.hub.publish("tab:change", {
                    changeTabTo: "write-explanation"
                });
            },
            computeAdditionalInfo: function (additionalInfo) {
                return additionalInfo != null && additionalInfo.length > 0;
            },
        });
    </script>
    <style>
        .tab-content .document-activities .slimScrollBar {
            right: -30px !important;
        }
    </style>
</dom-module>