<html-import html-href="notification/loading-indicator.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-single-toggle.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-validate-recipient-list.html"></html-import>
<html-import html-href="ui-elements/document-drop-zone.html"></html-import>
<html-import html-href="ui-elements/ui-custom-button.html"></html-import>
<html-import html-href="services/action-center-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/lookup-service.html"></html-import>
<html-import html-href="services/assignment-service.html"></html-import>
<html-import html-href="services/team-service.html"></html-import>
<html-import html-href="borrower-portal/communication/team-member-photo.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="add-conditions">
    <template>
	<style>
        :host::content .slimScrollDiv {
            overflow: visible !important;
        }
        :host::content .slimScrollBar {
                right: -11px !important
            }
		/* .slimScrollBar{right: -11px !important;} */
		.select-all{margin-top:10px;}
		.question-label{margin:0 0 5px 0;}
		.cctitle{margin-top:30px;}
		.evlistby li { clear: none; width: 200px; float: left; margin-left: 20px;}
        
    </style>
        <template is="dom-if" if="[[ !isEmpty ]]">
            <div class="conditions clearfix">
                <ui-form id="form" data="{{ formData }}">
                    <div class="col-lg-6 col-md-6 col-sm-12 no-pad-left clearfix">
                        <h4>Condition(s)</h4>
 
                        <div class="recipient-list">
                            <ui-container id="recipientList" floating-label="Send to"
                                            is-required=true auto-save=false default-value="">
                                <ui-options name="recipient" on-change="addRecepient"  value="{{ recipient }}"
                                            items="[[ recipientList ]]">
                                    <ui-validators>
                                        <ui-validate-recipient-list selected-recipients="[[selectedRecepientList]]">Please select one of the available option
                                        </ui-validate-recipient-list>
                                    </ui-validators> 
                                </ui-options>
                            </ui-container>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 no-pad-right">
                        <ul class="evlistby eml-listby">
                            <template is="dom-repeat" items="[[selectedRecepientList]]">
                                <li class="active">
                                    <span on-click="removeRecepient" class="df df-close-o cursr"></span>

                                    <div class="pic cursr">
                                        <team-member-photo user-name="[[ item.assignee ]]">
                                        </team-member-photo>
                                    </div>
                                    <div class="msgtext cursr">
                                        <h5>[[ item.label ]]</h5>
                                        <span>[[ item.role ]]</span>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 no-pad-left clearfix">
                        <h4>Conditions</h4>

                        <div class="conditions-box">
                            <div class="ui-options">
                                <ui-container floating-label="Select Category" is-required=true auto-save=false
                                              default-value="">
                                    <ui-options name="requestType"
                                                items="{{ requestTypes }}"
                                                value="{{ requestType }}">
                                    </ui-options>
                                </ui-container>
                            </div>
                                  <ul id="filtered-request-list" class="filtered-request">
                                      <template is="dom-repeat" items="[[ filteredRequest ]]" sort="sortFilteredRequest">
                                         <li id$="[[ item.requestId ]]" class="" on-click="selectRequest">
                                               <div class="request-title">[[ toIndex(index) ]]. [[ item.title ]]</div>
                                          </li>
                                      </template>
                                 </ul>
                            <div hidden$="[[ optionAvail(filteredRequest) ]]" on-click="selectAll"
                                 class="select-all">
                                <a href="javascript:void(0)">Select All</a>
                            </div>
                        </div>
                    </div>
                    <!-- preview area start-->
                    <div hidden$="[[ optionAvail(selectedRequest) ]]"
                         class="col-lg-6 col-md-6 col-sm-12 no-pad-right clearfix">
                        <h4>Preview</h4>
                                <ul id="selected-request-list" class="selected-request-list">
                                        <template is="dom-repeat" items="{{ selectedRequest }}">
                                            <li>
                                                <div class="request-title">[[ toIndex(index) ]]. [[ item.title ]]</div>
                                                <span on-click="unSelectRequest" class="df df-close pull-right"></span>
                                            </li>
                                        </template>
                                    </ul>
                        <div class="pull-right preview-btns">
                            <ui-custom-button id="clear" color="clear" disabled="[[ disabledClear ]]" click-handler="clearAllRequest">
                                CLEAR
                            </ui-custom-button>
                            <ui-custom-button id="send" color="secondary" disabled="[[ disabledSend ]]" click-handler="saveAllRequest">
                                SEND
                            </ui-custom-button>
                        </div>
                    </div>
                    <div hidden$="[[ successMessage ]]" class="col-lg-6 col-md-5 col-sm-12 no-pad-right clearfix">
                        <h4>Preview</h4>
                        <div class="success-area">Your conditions have been sent.</div>
                    </div>
                    <!-- preview area end-->
                    <div class="clearfix"></div>
                    <!-- custom condition area -->
                    <div class="col-lg-6 col-md-6 col-sm-12 no-pad-left clearfix">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#customCondition">
                                            Create Custom Condition
                                        </a>
                                    </h3>
                                </div>
                                <div id="customCondition" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ui-container-group id="createCustomCondition" has-error="{{formHasError}}">
                                            <div class="ui-options">
                                                <ui-container id="categoryList" floating-label="Select Category" is-required=true auto-save=false default-value="">
                                                    <ui-options name="category"
                                                      items="{{ categoryList }}"
                                                      value="{{ categoryListValue }}">
                                                      <ui-validators>
                                                            <ui-require-field>Please select Category.
                                                            </ui-require-field>
                                                        </ui-validators>
                                                    </ui-options>
                                                </ui-container>
                                            </div>
                                            <div class="cctitle">
                                                <ui-container auto-save=false
                                                              floating-label="Title"
                                                              is-required=true>
                                                    <ui-input name="title" value="{{ title }}">
                                                        <ui-validators>
                                                            <ui-require-field>Please enter Title.
                                                            </ui-require-field>
                                                        </ui-validators>
                                                    </ui-input>
                                                </ui-container>
                                            </div>

                                            <div class="question-label">
                                                <span>Description (optional)</span>
                                            </div>
                                                <ui-container auto-save=false>
                                                    <ui-text-area name="description"
                                                                  type="textarea"
                                                                  value="{{ descriptionValue }}"
                                                                  rows="3">
                                                    </ui-text-area>
                                                </ui-container>
                                            <div class="question-label">
                                                <span>Upload documents (optional)</span>
                                            </div>
                                            <div class="drag-box">
                                                <document-drop-zone id="dropZone"
                                                                    current-user="[[ currentUser ]]"
                                                                    submit-target="{{ target }}"
                                                                    max-files="12"
                                                                    metadata="{{ metadata }}"
                                                                    submit-base-url="{{ baseUrl }}"
                                                                    fileName
                                                                    clickable>
                                                    <div class="dz-message">DROP FILE(S) HERE OR CLICK TO UPLOAD</div>
                                                </document-drop-zone>
                                            </div>
                                        </ui-container-group>
                                        <div class="pull-right savebtn">
                                            <ui-custom-button id="submit" color="clear" disabled="[[ disabled ]]"
                                                              on-click="validateForm">
                                                SAVE
                                            </ui-custom-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- custom condition area end-->
                </ui-form>
            </div>
        </template>

        <template is="dom-if" if="[[ isEmpty ]]">
            <loading-indicator></loading-indicator>
        </template>

        <action-center-service id="actionCenter"></action-center-service>
        <lookup-service id="lookupService"></lookup-service>
        <identity-service id="identityService"></identity-service>
        <assignment-service id="assignmentService"></assignment-service>
        <team-service id="teamService"></team-service>
        <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
        <session-manager id="session"></session-manager>
        <event-hub id="hub"></event-hub>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "add-conditions",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                'filterRequests(requestType)'
            ],

            properties: {
                isLoading: {
                    type: Boolean,
                    value: true
                },
                isEmpty: {
                    type: Boolean,
                    value: true,
                    computed: "computeIsEmpty(recipientList,requestTypes)"
                },
                requestTypes: {
                    type: Array,
                    value: ""
                },
                recipientList: {
                    type: Array,
                    value: ""
                },
                requestType: String,
                baseUrl: String,
                target: String,
                payloadItems: {
                    type: Array,
                    value: []
                },
                filteredRequest: {
                    type: Array,
                    value: []
                },
                selectedRequest: {
                    type: Array,
                    value: []
                },
                disabled: {
                    type: Boolean,
                    value: false
                },
                disabledSend: {
                    type: Boolean,
                    value: false
                },
                disabledClear: {
                    type: Boolean,
                    value: false
                },
                entityType: {
                    type: String,
                    value: "application"
                },
                selectedRecipient: String,
                selectedRecepientList:{
                    type:Array,
                    value:[]
                },
            },

            attached: function () {
                var self = this;
                var entityId = self.$.url.getParams().id;
                self.set("entityId", entityId);

                this.set("baseUrl", self.configuration.services.requiredCondition);
                var target = [self.entityType, entityId, "custom-condition"].join("/");
                this.set("target", target);
                this.set("successMessage", true);

                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init());
                }

                this.getConditionType();
                this.getConditionList();
                this.getCurrentUser();
                // this.fetchCategories();
                this.fetchUserList();

                this.subScriptionInstance = this.subscribe("document:upload", function (payload) {
                    self.addCustomConditionPreview(payload);
                    setTimeout(function () {
                      self.clearCustomConditionErrors();
                    }, 1000);
                }.bind(this));
            },

            init: function () {
                $('#filtered-request-list').slimScroll({
                    size: '10px',
                    height: '342px',
                    distance: '0px',
                    width: '100%',
                    alwaysVisible: true,
                    opacity: 1
                });
                $('#selected-request-list').slimScroll({
                    size: '10px',
                    height: 'inherit',
                    distance: '0px',
                    width: '100%',
                    alwaysVisible: true,
                    opacity: 1
                });
            },

            getConditionType: function () {
                var self = this;
                this.ensure("actionCenter")
                        .then(function (service) {
                            return service.requestTemplates();
                        })
                        .then(function (response) {
                            var requestTypes = response.map(function (item) {
                                return {value: item.name, label: item.description};
                            });
                            self.set("requestTypes", requestTypes);
                            self.set("categoryList", requestTypes);
                        })
                        .catch(function (error) {
                            console.warn(error);
                        })
            },

            getConditionList: function () {
                var self = this;
                this.ensure("actionCenter")
                        .then(function (service) {
                            return service.requestTypes();
                        })
                        .then(function (response) {
                            self.set("allRequest", response);
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            filterRequests: function (requestType) {
                if (!requestType) return

                var allRequest = this.allRequest;
                var selectedTemplate = _.filter(this.requestTypes, function (item) { return item.label === requestType});

                var filteredRequest = _.filter(allRequest, function (item) {
                    if (item.templateNames.indexOf(selectedTemplate[0].value) > -1)
                        return true;
                    else
                        return false;
                });

                var selectedElementList = this.querySelectorAll("#filtered-request-list li.selected-request");
                [].forEach.call(selectedElementList, function (element) {
                    if (element.classList.contains("selected-request"))
                        element.classList.remove("selected-request")
                });

                this.set("filteredRequest", filteredRequest);
                // making the preview area blank for dynamic templates
                //var customConditions = _.filter(this.selectedRequest, 'id');
                //this.set("selectedRequest", customConditions);
            },

            sortFilteredRequest:function(a,b){
                   var firstTitle = a.title.toUpperCase();
                    var secondTitle = b.title.toUpperCase(); 
                    if (firstTitle < secondTitle)
                        return -1;
                    if (firstTitle > secondTitle) 
                        return 1;
                   
                    return 0;
            },

            toIndex: function (index) {
                return index + 1;
            },

            computeIsEmpty: function (recipientList, requestTypes) {
                if (!recipientList || !requestTypes) return true;

                return recipientList.length === 0 && requestTypes.length === 0;
            },

            optionAvail: function (filteredRequest) {
                if (filteredRequest.length > 0) {
                    return false;
                }
                return true;
            },

            selectRequest: function (e) {
                var model = e.model;
                if (e.currentTarget.classList.contains("selected-request"))
                    this.unSelectRequest(e, true);
                else {
                    var selectedRequest = _.cloneDeep(this.selectedRequest);
                    selectedRequest.push(model.item);
                    this.set('selectedRequest', selectedRequest);
                    e.currentTarget.classList.add("selected-request");
                }
            },

            unSelectRequest: function (e, unSelectParent) {
                var model = e.model;

                if (model.item.id && model.item.entityId) {
                    this.removeCustomCondition(model.item);
                }
                else {
                    var requestId = model.item.requestId;
                    var index = this.selectedRequest.findIndex(function (item) {
                        return item.requestId === requestId
                    });

                    if (index > -1) {
                        var selectedRequest = _.cloneDeep(this.selectedRequest);
                        selectedRequest.splice(index, 1);
                        this.set('selectedRequest', selectedRequest);
                    }
                    var ele = this.querySelector("#" + requestId);
                    if (unSelectParent) {
                        if (ele.classList.contains("selected-request"))
                            ele.classList.remove("selected-request")
                    }
                }
            },

            selectAll: function () {
                var requestList = this.querySelectorAll("#filtered-request-list li");

                [].forEach.call(requestList, function (element) {
                    if (!element.classList.contains("selected-request"))
                        element.classList.add("selected-request")
                });

                var filteredRequest = _.cloneDeep(this.filteredRequest);
                this.set("selectedRequest", filteredRequest);
            },

            clearAllRequest: function () {
                this.set("disabledClear", true);
                var requestList = this.querySelectorAll("#filtered-request-list li");

                [].forEach.call(requestList, function (element) {
                    if (element.classList.contains("selected-request"))
                        element.classList.remove("selected-request")
                });
                this.set("selectedRequest", []);
                this.set("disabledClear", false);
            },

            getCurrentUser: function () {
                var self = this;
                this.ensure("identityService")
                        .then(function (identityService) {
                            return identityService.getCurrentUser()
                        })
                        .then(function (response) {
                            self.currentUser = response.username;
                            self.role = response.roles[0];
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            validateForm: function () {
                var self = this;
                this.ensure("createCustomCondition", "dropZone")
                        .then(function (cd) {
                            return cd.createCustomCondition.isValid()
                                    .then(function (isValid) {
                                        if (isValid) {
                                            self.set("disabled", true);
                                            if (cd.dropZone.fileUploaded() > 0) {
                                                self.push("payloadItems", {"targetUrl": self.baseUrl + "/" + self.target});
                                                self.push("payloadItems", {"title": self.formData.title});
                                                self.push("payloadItems", {"conditionCategory": self.formData.category});
                                                self.push("payloadItems", {"description": self.formData.description});
                                                var metadata = JSON.stringify({"createdBy": self.get("currentUser")});
                                                self.push("payloadItems", {"metadata": metadata});
                                                cd.dropZone.processQueue(self.payloadItems);
                                            }
                                            else {
                                                self.createCustomCondition();
                                            }
                                        }
                                    });
                        });

            },

            fetchCategories: function () {
                var self = this;
                this.ensure("lookupService")
                        .then(function (lookupService) {
                            return lookupService.getRequiredConditionCategory();
                        })
                        .then(function (response) {
                            if (response) {
                                var categories = [];
                                for (var prop in response) {
                                    if (response.hasOwnProperty(prop))
                                        categories.push({"value": prop, "label": response[prop]});
                                }
                                self.set("categoryList", categories);
                            }
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            fetchUserList: function () {
                var self = this;
                self.ensure("assignmentService")
                        .then(function (assignmentService) {
                            return assignmentService.getAssignments(self.entityType, self.entityId)
                        })
                        .then(function (assignmentList) {
                            var promises = [];
                            _.forEach(assignmentList, function (item) {
                                promises.push(self.$.teamService.getUserDetails(item.assignee)
                                                .then(function (response) {
                                                    if (item.team !== "lender" && item.team !== "affinitypartner") {
                                                        item.value = item.assignee;
                                                        item.label = response.firstName + " " + response.lastName;
                                                        return item;
                                                    }
                                                })
                                                .catch(function (error) {
                                                    console.warn(error);
                                                })
                                );
                            });
                            Promise.all(promises)
                                    .then(function (response) {
                                        var recipientList = _.filter(response, function (item) {
                                            if (item)
                                                return item;
                                        });
                                        self.set("recipientList", recipientList);
                                        return response;
                                    }).then(function () {
                                        self.init();
                                    });
                        });

            },

            addCustomConditionPreview: function (payload) {
                if (payload.response) {
                    var selectedRequest = _.cloneDeep(this.selectedRequest);
                    selectedRequest.push(payload.response);
                    this.set('selectedRequest', selectedRequest);
                    this.set("payloadItems", []);
                    this.set("title", "");
                    this.set("descriptionValue", "");
                    this.set("categoryListValue", "");
                    this.set("disabled", false);
                }
            },

            removeCustomCondition: function (deletedCondition) {
                var self = this;
                this.ensure("actionCenter")
                        .then(function (actionCenter) {
                            var url = [deletedCondition.entityType, deletedCondition.entityId, deletedCondition.id, "custom-condition"].join("/");
                            self.$.http.delete(url, {}, self.configuration.services.requiredCondition, function (response) {
                                return response;
                            }, function (err) {
                                if (err.message) {
                                    console.warn(err.message);
                                }
                                console.warn("Error submitting request. Please try again or contact support.");
                            });
                        })
                        .then(function (response) {
                            var index = self.selectedRequest.findIndex(function (item) {
                                return item.id === deletedCondition.id
                            });

                            if (index > -1) {
                                var selectedRequest = _.cloneDeep(self.selectedRequest);
                                selectedRequest.splice(index, 1);
                                self.set('selectedRequest', selectedRequest);
                            }
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },

            createCustomCondition: function () {
                var self = this;
                var token = self.$.session.get("token");
                var formData = new FormData();
                var metaData = JSON.stringify({"createdBy": self.get("currentUser")});

                formData.append('title', self.formData.title);
                formData.append('conditionCategory', self.formData.category);
                formData.append('description', self.formData.description);
                formData.append('metadata', metaData);
                formData.append('files', "");

                var requestInfo = {
                    type: "POST",
                    url: self.baseUrl + "/" +self.target,
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Authorization', "Bearer " + token);
                    }
                };

                this.postData(requestInfo)
                        .then(function (returnedValue) {
                            var response = {"response": returnedValue};
                            self.addCustomConditionPreview(response);
                            setTimeout(function () {
                                self.clearCustomConditionErrors();
                            }, 1000);
                        })
                        .catch(function (error) {
                            self.set("disabled", false);
                            console.warn(error);
                        });
            },

            saveAllRequest: function () {
                var self = this;
                this.ensure("recipientList")
                        .then(function (recipientList) {
                            return recipientList.isValid()
                                    .then(function (isValid) {
                                        if (isValid && self.selectedRecepientList && self.selectedRecepientList.length > 0) {
                                            self.set("disabledSend", true);
                                            var selectedRequest = self.selectedRequest;
                                            var recipient = self.getUserName(self.formData.recipient);
                                            var promises = [];
                                            var sendToList = [];
                                            
                                            _.forEach(self.selectedRecepientList, function (rcp) {
                                                sendToList.push(rcp.value);
                                            });

                                            _.forEach(selectedRequest, function (value) {

                                                var requestId = value.requestId ? value.requestId : value.id;
                                                var today = moment().format();
                                                var payload = {
                                                    "priority": "normal",
                                                    "dueDate": today,
                                                    "SourceBy": self.currentUser,
                                                    "Role": self.role,
                                                    "entityId": self.entityId,
                                                    "isCustom": value.requestId ? false : true,
                                                    "sendTo": sendToList
                                                };                                                
                                                promises.push(self.$.actionCenter.createRequest(self.entityType,
                                                        self.entityId, requestId, payload)
                                                        .catch(function (error) {
                                                        }));
                                            });
                                            Promise.all(promises)
                                                    .then(function (response) {
                                                        self.set("selectedRequest", []);
                                                        self.set("successMessage", false);
                                                        setTimeout(function () {
                                                            self.set("successMessage", true);
                                                        }, 3000);
                                                        self.set("disabledSend", false);
                                                        self.set("filteredRequest", "");
                                                        self.set("requestType", "");
                                                        self.set("recipient","");

                                                        var accordionTitle = self.querySelector(".panel-title a");
                                                        if (!accordionTitle.classList.contains("collapsed"))
                                                            accordionTitle.classList.add("collapsed");

                                                        var accordionBody = self.querySelector("#customCondition");
                                                        if (accordionBody.classList.contains("in"))
                                                            accordionBody.classList.remove("in");

                                                        self.set('selectedRecepientList', []);
                                                        self.set("recipientList", self.recipientList);
                                                        self.$.hub.publish("conditions:refreshOutStanding");
                                                    })
                                                    .catch(function (error) { });
                                        }
                                    });
                        });
            },

            getUserName: function (name) {
                var selectedRecipient = _.filter(this.recipientList, function (item) {
                    return item.label === name
                })
                return selectedRecipient;
            },

            postData: function (requestInfo) {
                var self = this;
                return new Promise(function (resolve, reject) {
                    $.ajax(requestInfo).done(function (data) {
                        resolve(data);
                    }).fail(function(error){
                        reject(error);
                    });
                });
            },

            addRecepient: function (event) {       
                if (event.detail && event.detail.value)
                {
                    var tempSelectedRecipient = this.getUserName(event.detail.value);
                    var tempRecepientList = _.cloneDeep(this.selectedRecepientList);
                    var recepientExists = false;
                    if(tempSelectedRecipient != null && tempSelectedRecipient.length > 0) {
                        _.forEach(tempRecepientList, function (trcp) {
                            if(trcp.label == event.detail.value)
                            {
                                recepientExists = true;
                            }
                        });
                        if(!recepientExists) {
                            tempRecepientList.push(tempSelectedRecipient[0]);
                            this.set("selectedRecepientList", []);
                            this.set("selectedRecepientList", _.cloneDeep(tempRecepientList));
                        }
                    }
                    this.set("recipient","");
                }
            },

            removeRecepient: function (e) {
                var model = e.model;
                var index = this.selectedRecepientList.findIndex(function (item) {
                    return item.assignee === model.item.assignee
                });
                if (index > -1) {
                    var selectedRecepientList = _.cloneDeep(this.selectedRecepientList);
                    selectedRecepientList.splice(index, 1);
                    this.set('selectedRecepientList', selectedRecepientList);
                   
                }

            },

            clearErrors: function(){
                var self = this;
                this.ensure("recipientList").then(function(recipientList){
                    recipientList.clearControlErrors();
                    recipientList.resetServerErrors();
                });
            },

            clearCustomConditionErrors: function(){
                var self = this;
                this.ensure("categoryList").then(function(categoryList){
                    categoryList.clearControlErrors();
                    categoryList.resetServerErrors();
                });
            }
        });
    </script>
    <style>
        #selected-request-list{max-height:322px !important; margin-bottom:15px;}
    </style>
</dom-module>