<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/inputs/ui-input.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container-group.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="ui-elements/ui-empty-curtain.html"></html-import>
<html-import html-href="ui-elements/forms/ui-options.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="services/status-management-service.html"></html-import>
<html-import html-href="notification/loading-indicator.html"></html-import>

<dom-module id="change-entity-status">
    <template>
    <style>
    .loading-container{height:auto;}
    </style>
            <div class="entity-status" hidden$="[[isLoading]]">
                <div  hidden$="[[!isEmpty]]">No transitions found for this status.</div>
                <!-- Form -->
                <div hidden$="[[isEmpty]]">
                    <ui-error-summary id="errorSummary"></ui-error-summary>
                    <ui-form id="form" data="{{ formData }}">
                        <ui-container-group id="uiContainerGroup" has-error="{{formHasError}}">
                                    <template is="dom-if" if="[[ !isEmpty ]]">
                                        <ui-container floating-label="Select Status" is-required=true auto-save=false default-value="">
                                            <ui-options name="status" button-text="Select Status" items="[[ status  ]]">
                                                <ui-validators>
                                                    <ui-require-field>Please select one of the available option.
                                                    </ui-require-field>
                                                </ui-validators>
                                            </ui-options>
                                        </ui-container>
                                    </template>
                                    <ui-container floating-label="Notes" is-required=true auto-save=false default-value="">
                                        <ui-text-area name="notes" type="textarea" rows="3" placeholder="Notes" lock-size="none">
                                            <ui-validators>
                                                <ui-require-field>Please enter notes.
                                                </ui-require-field>
                                            </ui-validators>
                                        </ui-text-area>
                                    </ui-container>
                        </ui-container-group>
                    </ui-form>
                <!-- submit button -->
                <div>
                    <button type="button" class="btn change-status docitt-button ui-container-button" disabled="disabled" on-click="changeStatus"> Change</button>
                    <button type="button" class="btn btn-outline" on-click="closeActivity">Cancel
                        </button>
                </div>
                </div>
            </div>
              <!-- Loading section: START -->
        <div class="loading-container animated fadeInUp clearfix" hidden$="[[!isLoading]]">
            <h3>Hold on just a few more seconds.</h3>
            <loading-indicator></loading-indicator>
        </div>
        <!-- Loading section: END -->
            <event-hub id="hub">
                <event-subscription event="activity:refresh" handler="refreshEntityStatus"></event-subscription>
            </event-hub>
            <status-management-service id="statusManagementService"></status-management-service>
    </template>
    <script>
        Polymer({
            is:'change-entity-status',
behaviors: [eventHub, alloy.activity, alloy.ensureDependenciesBehavior],
            properties:{
                isLoading: {
                    type: Boolean,
                    value: true
                },
 entityType:{
                    type:String,
                    value:"application"
                }   , 
                entityId:{
                    type:String
                },
                formHasError:Boolean,              
             
currentStatus:{
type:Object
},

                status: {
                    type: Array,
                     value: function () { return  []; }
                   
                },
                 isEmpty: {
                    type: Boolean,
                    value: true                   
                } ,
                selectedStatusCode:{
                    type:String
                },
                notes:{type:String
                    }

            },

            observers:[
                'listnerFormHasError(formHasError)'
               
            ],

            attached: function(){
              
              this.attachCloseClickHandlers();
                this.getStatus();
                
            },
            attachCloseClickHandlers: function () {
                var self = this;

$(".close").on("click", function (e) {
e.stopPropagation();
self.closeActivity();
});            
},
  refreshEntityStatus:function(){
                this.getStatus();
             
            },
 
            listnerFormHasError: function(formHasError){
                if(formHasError==true){
                     this.disabledBtn();
                }else{
                    this.enabledBtn();
                   
                }
            },
            enabledBtn:function()
            {
  this.querySelector('.ui-container-button').removeAttribute('disabled');
            },
            disabledBtn:function()
            {
 this.querySelector('.ui-container-button').setAttribute('disabled','disabled');
            },
computeIsEmpty: function (status) {
   
               if (!status) return true;
               return status.length === 0;
           },
           getStatus: function () {
                var self = this;

                self.isLoading = true;

                return this.ensure("statusManagementService")
                    .then(function (statusManagementService) {
                       
                      return statusManagementService.fetchStatus(self.entityType,self.entityId).then(function(statusResponse){
                          if(statusResponse!=null)
                          {
                              self.currentStatus = {
                                  "code":statusResponse.code,
                                   "label":statusResponse.label,
                                    "name":statusResponse.name
                              };
 return statusManagementService.fetchTransition(self.entityType, self.currentStatus.code)
                         
                            .then(function (transitions) {
                                self.status= transitions.map(function (t) {
                                    return { value: t.code, label: t.name };
                                });
                               
                           self.isEmpty= self.computeIsEmpty(self.status);
                            
                            })
                          }
                      })
                               
                              
                               
                    })
                    .catch(function (error) {

                    })
                    .then(function () {
                        self.isLoading = false;
                    });

            },
           getStatusCode:function(label){
               var self=this;
             self.selectedStatusCode = "";
                self.status.filter(function(obj){
                  if(obj.label.toLowerCase()===label.toLowerCase())
                     self.selectedStatusCode= obj.value;
                });
               return  self.selectedStatusCode;
            
            
           },
            closeActivity:function()
            {
                
                this.fire("handle-manual-popup-close")
            },
            changeStatus: function () {
                var self = this;
 var self = this;
                self.$.uiContainerGroup.isValid().then(function(isValid){
                    if(isValid){
                         //Clear server side errors
                        self.$.errorSummary.clearErrors();
                        //
                        
                        self.ensure("statusManagementService").then(function(statusManagementService){
 statusManagementService.changeStatus(self.entityType,
 self.entityId,
                            self.getStatusCode(self.formData.status),null,
                            self.formData.notes)
                            .then(function () {
                              self.enabledBtn(); 
                                                           
                                self.publish("activity:refresh");
                               
                                self.closeActivity();
                            })
                            .fail(function (error) {
                                error = error.responseJSON && error.responseJSON.message || "Unable to change status at this time.";
                                self.$.errorSummary.setErrors(error);
                                self.enabledBtn();
                            });
                        });
                       
                }
                });
               

            }
        });
    </script>
</dom-module>