<html-import html-href="activities/add-document.html"></html-import>
<html-import html-href="activities/write-explanation.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/custom-http-request-service.html"></html-import>
<dom-module id="document-with-write-explaination">
    <template>
        <style>
            .btn-outline-primary,
            .btn-outline-primary:hover,
            .btn-outline-primary:active,
            .btn-outline-primary:focus {
                background-color: var(--primary-background-color);
                color: var(--primary-color);
            }
        </style>
        <div class="tab-box">
            <ul class="nav nav-tabs document-activity-tab">
                <li class="active cursr"><a data-toggle="tab" data-target="#upload-document"><span class="df df-upload"></span>Upload Documentation</a></li>
                <li class="w-exp cursr"><a data-toggle="tab" data-target="#write-explanation"><span class="df df-write"></span>Write&nbsp;<br />Explanation</a></li>
            </ul>
            <div class="tab-content">
                
                <tab-pane id="upload-document" class="tab-pane fade in active">
                    <add-document id="addDocument" additional-info="[[additionalInfo]]" additional-info-class="[[additionalInfoClass]]" need-to-write-explanation="[[needToWriteExplanation]]"  metadata="[[ metadata ]]" file-name="[[ fileName ]]" tags="[[ tags ]]" base-url="[[ baseUrl ]]" target="[[targetUrl]]"  explanation="{{ description }}" visible-button="[[visibleButton]]" is-file-required="[[isFileRequired]]" upload-button-text="NEXT" decreased-top-value="129" adjustable-height="240"></add-document>
                                 
                </tab-pane>
                <tab-pane id="write-explanation" class="tab-pane fade">
                    <write-explanation id="writeExplanation" additional-info="[[additionalInfo]]" additional-info-class="[[additionalInfoClass]]" title="[[ title ]]" description="{{ description }}"></write-explanation>
                </tab-pane>
            </div>
           
            <div hidden$="[[ showDismissButton ]]">
                 <button disabled$="{{ uploadBusy }}"
                class="btn btn-lg btn-primary btn-block"
                on-click="submit">
                    <span hidden$="{{ uploadBusy }}">[[uploadButtonText]]</span>
                    <span hidden$="{{ !uploadBusy }}">{{ disabledText }}</span>
                </button>
            </div>
        </div>
         <http-request id="http"></http-request>
        <url-parser id="url"></url-parser>
         <session-manager id="session"></session-manager>
         <identity-service id="identityService"></identity-service>
         <event-hub id="hub"></event-hub>
         <custom-http-request-service id="customHttpRequestService"></custom-http-request-service>
    </template>
    <script>
        Polymer({
            is: "document-with-write-explaination",

            behaviors: [eventHub, window.alloy.activity,ensureDependenciesBehavior],

            listeners: {
                "activity-explanation-added": "handleActivityExplanation"
            },

            properties: {
                description:{
                    type: String,
                    value: "",
                    notify: true
                },
                 errorMessage: {
                    type: String
                },
                   uploadBusy: {
                    type: Boolean,
                    value: false
                },
                disabledText: {
                    value: "Processing",
                    type: String
                },
                  uploadButtonText: {
                    type: String,
                    value: "NO, I'M FINISHED SATISFYING THIS CONDITION"
                },
                    showDismissButton: {
                    type: Boolean,
                    value: true
                },
                currentUser: {
                   type: String,
                   value: ''
                },
                 /**
                 * This property contains list of subscriptions done in this component
                 */
                subscriptionList: {
                    type: Array,
                    value: []
                },
                 isFileRequired:{
type:Boolean,
             value:false
            },
            requestId:String,
            baseUrl:String,
            targetUrl:String
            },

            attached: function () {
                var self = this;

                this.subscriptionList.push(self.subscribe("tab:change", function (payload) {
                    self.showHideDismissBtn(null);
                     $('.document-activity-tab a[data-target="#' + payload.changeTabTo + '"]').tab('show');
                }.bind(this)));
                 this.subscriptionList.push(self.subscribe("files:inQueue", function (payload) {
                      self.showHideDismissBtn(payload);
                }.bind(this)));


           
                self.ensure("identityService")
                     .then(function (identityService) {
                    identityService.getCurrentUser().then(function (response) {
                    self.currentUser = response.username;
                 })
                  self.showHideDismissBtn(null);
          });
            },

            detached: function(){
                //Unsubscribe all subscriptions
                this.subscriptionList.map(function (subscription) {
                    this.unsubscribe(subscription);
                }, this);
                
            },

            handleActivityExplanation: function (e) {
                this.set('description', e.detail.explanation);
                if($('.ql-editor').text().length!==0 ||this.$.addDocument.querySelector('#dropZone').filesAdded ){
                this.set('showDismissButton', false);
            }
            else{
                  this.set('showDismissButton', true);
            }
            },
             submit: function () {
                   if (this.$.addDocument.querySelector('#dropZone').filesAdded) {
                        this.set('uploadBusy', true);
                        this.$.addDocument.querySelector('#dropZone').processQueue();
                    }
                    else if(this.$.writeExplanation.querySelector(".ql-editor").innerHTML.replace("<p><br></p>", "")!==""){
                         this.set('uploadBusy', true);
                        this.customDocumentActivity();
                    }
                    else if (!this.$.addDocument.isFileRequired) {
                        this.$.hub.publish("document:skipped");
                    }
            },
            customDocumentActivity : function(){
                var self = this;
                var explanation=this.$.writeExplanation.querySelector(".ql-editor").innerHTML;
               
                var requestId = this.requestId;
                var token = self.$.session.get("token");
                var metadata =JSON.stringify({'createdBy':self.get("currentUser"),'requestId':requestId});
                var payload = new FormData();
          
                 payload.append('metadata', metadata);
                 payload.append('files', '');
                 payload.append('explanation',explanation);
                     this.ensure("customHttpRequestService")
                        .then(function (service) {
                            return service.post(self.targetUrl, payload, self.baseUrl);
                        })
                         .then(function (response) {
                            self.$.hub.publish("documents.updated");
                        })
                        .catch(function (error) {
                            console.warn(error);
                        });
            },
                showHideDismissBtn: function (payload) {
                     if (!this.isFileRequired && !this.visibleButton)
                    this.set("showDismissButton", false);
                    else if (this.$.addDocument.querySelector('#dropZone').filesAdded && !this.visibleButton)
                    this.set("showDismissButton", false);
                else if (payload != null && payload.totalQueuedCount > 0 && !this.visibleButton) {
                    this.set("showDismissButton", false);
                }
                else {
                    this.set("showDismissButton", this.visibleButton);
                }

                
            }
        });
    </script>
</dom-module>