<html-import html-href="ui-elements/generic-ui-text-editor.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<dom-module id="generic-write-explanation">
    <template>
        
        <style>
            .btn-outline {
                margin-top:30px;margin-bottom:15px;
            }
            ui-text-editor {
                --text-editor-height: 300px;
            }
        </style>
      
        <div id="[[contentUniqueId]]" class="content">
            <div class="write-wrap">
                <h3>[[ title ]]</h3>
                <generic-ui-text-editor id="[[textEditor]]" toolbar-container-id ="[[toolbarContainerId]]" text-editor-unique-id="[[editorUniqueId]]" description="{{ description }}"></generic-ui-text-editor>
            </div>
        </div>
        <div class="clearfix"></div>
        <a on-click="changeTab" href="javascript:void(0)" class="btn btn-lg btn-outline btn-block">Do you
                    want to upload more document(s)?</a>
                     <p hidden$="[[!isShowAdditionInfo]]"
               class$="[[additionalInfoClass]]"> [[additionalInfo]]</p>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "generic-write-explanation",

            behaviors: [eventHub],
            observers: [
                'generateUniqueId(writeExplanationId)'
            ],
            properties:{
                minScrollHeight:{
                    type:Number,
                    value:420
                },
                addWriteExplanationId:String,
                 additionalInfo: String,
                additionalInfoClass: String,
                isShowAdditionInfo: {
                    type: Boolean,
                    computed: "computeAdditionalInfo(additionalInfo)"
                },
                contentUniqueId:{
                    type:String,
                    value:"content-3"
                },
                changeTabTo:String
            },
            generateUniqueId:function(writeExplanationId){
                this.set("contentUniqueId",writeExplanationId + "-content");
                this.set("editorUniqueId", writeExplanationId + "-editor-container");
                this.set("toolbarContainerId",writeExplanationId + "-toolbar-container");
            },
            ready: function () {
                var self = this;
                if (window.jQuery) {
                    self.init();
                }
                else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },

            init: function () {
                var self = this;               
            },

            /**
             * Register mutation observcer to listen class change on tab-pane
             */
            _registerMutationObserver: function(){
                var self = this;
                // select the target node
                var target = this.parentElement;
                while(target.tagName.toLowerCase() !== 'tab-pane'){
                    target = target.parentElement;
                }
                
                // create an observer instance
                this.observer = new MutationObserver(function(mutations){
                    //
                    if(mutations[mutations.length-1].target.classList.contains('active') 
                    && mutations[mutations.length-1].target.classList.contains('in') ){
                        self._updateScrollHeight();
                    }
                });
                
                // configuration of the observer:
                var config = { attributes: true, childList: false, characterData: false };
                
                // pass in the target node, as well as the observer options
                this.observer.observe(target, config);
            },

            /**
             * De-Register mutation observer
             */
            _deRegisterMutationObserver:function(){
                if(this.observer){
                    this.observer.disconnect();
                    this.observer = undefined;
                }
            },
            
            /**
             * This method update slim scroll height dynamically it gets top position plus 29px(which is fixed margin) 
             */
            _updateScrollHeight: function(attempt){
                this.async(function(){
                    //
                    attempt = attempt || 1;

                    if(attempt<=20){
                        var _dimensions = this.getBoundingClientRect();
                        if(_dimensions!=undefined && _dimensions!=null && _dimensions.top!=undefined && _dimensions.top!==0){
                            //Update scroll height
                            var _calculatedScrollHeight = window.innerHeight-_dimensions.top-55;
                            $("#" + this.contentUniqueId).slimScroll({  
                                height: (_calculatedScrollHeight < this.minScrollHeight?this.minScrollHeight:_calculatedScrollHeight)+'px'                 
                            });
                            this._deRegisterMutationObserver();
                        }else{
                            attempt++;
                            this._updateScrollHeight(attempt);
                        }
                    }
                },10)
            },

            changeTab: function  () {
                this.$.hub.publish("tab:change", {
                    changeTabTo: this.changeTabTo
                });
            },
             computeAdditionalInfo: function (additionalInfo) {
                return additionalInfo != null && additionalInfo.length > 0;
            }
        });
    </script>
</dom-module>