<html-import html-href="ui-elements/ui-tour.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<dom-module id="borrower-tour">
    <template>
        <ui-tour tour-details="[[ tourDetails ]]" application-number="[[ applicationNumber ]]" redirect-url="[[ redirectUrl ]]"></ui-tour>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
        <alloy-config id="config" alloy-configuration="{{coreConfig}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "borrower-tour",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            attached: function () {
                var storeBase = this.coreConfig.base;
                var tourDetails = [{
                    pic: storeBase + "docitt/images/tour/large1.jpg",
                    mobilePic: storeBase + "docitt/images/tour/mobile1.jpg",
                    content: "This is your top status bar. This shows you at a glance some of the most important information about your loan. You can see your Outstanding Conditions and Messages Pending along with your loan details.",
                    headerTitle: "Status Bar",
                    buttonTitle: "Next"
                }, {
                    pic: storeBase + "docitt/images/tour/large2.jpg",
                    mobilePic: storeBase + "docitt/images/tour/mobile2.jpg",
                    content: "Your progress bar displays where your loan is currently. You can easily track the milestone you have met and the stages that are to come before your loan is funded and closed.",
                    headerTitle: "Progress Bar",
                    buttonTitle: "Next"
                }, {
                    pic: storeBase + "docitt/images/tour/large3.jpg",
                    mobilePic: storeBase + "docitt/images/tour/mobile3.jpg",
                    content: "Your conditions tab displays the number of outstanding and received conditions. From here you can manage and view what steps you need to take to keep you loan progress in good standing.",
                    headerTitle: "Conditions Tab",
                    buttonTitle: "Next"
                }, {
                    pic: storeBase + "docitt/images/tour/large4.jpg",
                    mobilePic: storeBase + "docitt/images/tour/mobile4.jpg",
                    content: "To support any condition, you can easily drag and drop standard file types into the Upload Documentation tab. If you choose you can also pull files from your Google Drive or Drop box accounts.",
                    headerTitle: "Upload Documentation",
                    buttonTitle: "Next"
                }, {
                    pic: storeBase + "docitt/images/tour/large5.jpg",
                    mobilePic: storeBase + "docitt/images/tour/mobile5.jpg",
                    content: "If a condition needs to be supported by a written explanation you can easily write your explanation here. You can easily format and customize your written explanation like most word programs.",
                    headerTitle: "Write Explanation",
                    buttonTitle: "Next"
                }];
                this.set("tourDetails", tourDetails);

                this.fetchEntityId();

                var entityId = this.entityId || ":id";
                this.set("entityId", entityId);
            },

            fetchEntityId: function () {
                var self = this;
                self.ensure('questionnaireService').then(function (questionnaireService) {
                    questionnaireService.getStatus(self.entityId).then(function (response) {
                        var url = "/dashboard/id:" + response.temporaryApplicationNumber;
                        self.set("redirectUrl", url);
                        self.set("applicationNumber", response.temporaryApplicationNumber);
                    });
                });
            }
        })
    </script>
</dom-module>