<html-import html-href="services/action-center-service.html"></html-import>
<html-import html-href="services/format.html"></html-import>
<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>

<dom-module id="verify-condition">
    <style>
        :host {
            text-align: center;
            font-size: 14px;
            --form-control-height: 85px;
            --form-control-border: 1px solid #A1A1A1;
            --textarea-border-right: 1px solid #A1A1A1;
            --textarea-border-left: 1px solid #A1A1A1;
            --textarea-border-top: 1px solid #A1A1A1;
            --form-control-border-radius: 0;
            --textarea-resize: none;
            --textarea-padding-bottom: 5px;
            --textarea-padding-top: 5px;
            --textarea-padding-right: 8px;
            --textarea-padding-left: 8px;
            --textarea-font-size: 12px;
            --textarea-font-color: #A1A1A1;
        }
        p{margin:0;}
        p:nth-child(2){margin:5px 0;}
        .date{font-size:10px;width:100%;}
        .btn{background:transparent;padding:8px 0;vertical-align:top;box-shadow:none;}
        .btn>span{padding-right:5px;}
        .notes{width:90%;margin:15px auto 0;}
        :host::content .notes .form-control{box-shadow:none;}
        .text-container{margin-bottom:7px;}
        .text-center .send{width:75%;margin-top:20px;font-size:14px;}
        .text-center div{width:75%;margin:10px auto 0;}
        :host::content .alert.alert-danger li.ui-error-summary {width: 90%;}
    </style>
    <template>
            <template is="dom-if" if="[[ !success ]]">
                <!-- text  -->
                <div class="text-container">
                    <p class="orange">[[ condition.statusLabel ]]</p>
                    <p>[[ condition.requestType.title ]]</p>
                    <p class="date">
                        <alloy-format id="format"
                                      date="[[ condition.submittedDate.time ]]">
                        </alloy-format>
                    </p>
                </div>
                <div class="text-center">
                    <!-- ACCEPT/REJECT buttons -->
                    <button class="verify btn accept block"
                            on-click="handleVerificationClick"
                            data-verification-type="accept">
                        <span class="df df-thumbs-up"></span> Accept
                    </button>
                    <button class="verify btn reject block"
                            on-click="handleVerificationClick"
                            data-verification-type="reject">
                        <span class="df df-thumbs-down"></span> Reject
                    </button>
                    <!-- SEND button (shown only when user clicks ACCEPT button)  -->
                    <template is="dom-if"
                              if="[[ showSendButton(verificationType) ]]">
                        <div>
                            <ui-form id="form">
                                <ui-error-summary id="errorSummary"
                                                  class="text-left"></ui-error-summary>
                            </ui-form>
                        </div>
                        <button class="btn send with"
                                on-click="submit">
                            Send
                        </button>
                    </template>
                </div>
                <!-- notes box and SEND (with/without notes) buttons -->
                <!-- shown only when user clicks REJECT button  -->
                <template is="dom-if"
                          if="[[ showNotes(verificationType) ]]">
                    <div class="notes clearfix">
                        <ui-form id="form">
                            <ui-error-summary id="errorSummary"
                                              class="text-left"></ui-error-summary>
                            <ui-container is-required=true
                                          auto-save=false>
                                <ui-text-area value="{{ notes }}"
                                              placeholder="Add a description to this condition (optional)"
                                              name="notes">
                                    <ui-validators>
                                        <ui-require-field>Please add a description before sending.</ui-require-field>
                                    </ui-validators>
                                </ui-text-area>
                            </ui-container>
                        </ui-form>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-left pad-right">
                            <button class="send btn"
                                    id="submitWithout"
                                    on-click="submit">Send, without note
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-pad-right pad-left">
                            <button class="send with btn"
                                    id="submitWith"
                                    on-click="submit"
                                    data-send-notes="true">
                                Send, with note
                            </button>
                        </div>
                    </div>
                </template>
            </template>
            <div class="success-message">
                <template is="dom-if"
                          if="[[ success ]]">
                    <template is="dom-if"
                              if="[[ accepted ]]">Condition accepted.</template>
                    <template is="dom-if"
                              if="[[ !accepted ]]">Condition rejected.</template>
                </template>
            </div>

        <action-center-service id="actionCenterService"></action-center-service>
    </template>
    <script>
        Polymer({
            is: "verify-condition",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            properties: {
                accepted: {
                    type: Boolean,
                    value: true
                },

                entityId: String,

                notes: {
                    type: String,
                    value: null
                },

                condition: {
                    type: Object,
                    value: function () {
                        return {};
                    }
                },

                success: {
                    type: Boolean,
                    value: false
                },

                conditionId: {
                    type: String,
                    value: "",
                    observer: "fetchCondition"
                },

                verificationType: {
                    type: String,
                    value: ""
                }
            },

            addSelectedClass: function (target) {
                $(".verify").removeClass("selected");
                $(target).addClass("selected");
            },

            disable: function (target) {
                $(target).attr("disabled", true);
            },

            enable: function (target) {
                $(target).attr("disabled", false);
            },

            fetchCondition: function (conditionId) {
                var self = this;

                return self.ensure("actionCenterService")
                        .then(function (service) {
                            return service.findAction(self.entityId, conditionId);
                        })
                        .then(function (condition) {
                            if (condition.status === "Rejected" || condition.status === "Completed") {
                                var acceptedRejectedLabel = condition.status === "Rejected" ? false : true;
                                self.set('accepted', acceptedRejectedLabel);
                                self.set('success', true);
                            }
                            self.set("condition", condition);
                            return condition;
                        });
            },

            handleResponseError: function (error) {
                var errorMessage =
                        _.get(error, "responseJSON.message")
                        || "Unable to verify condition at this time.";

                return this.ensure("errorSummary")
                        .then(function (errorSummary) {
                            errorSummary.setErrors(errorMessage);
                        });
            },

            handleVerificationClick: function (event) {
                var clicked = event.target;

                this.addSelectedClass(clicked);
                this.setVerificationType(clicked.dataset.verificationType);
            },

            isValid: function () {
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                        .then(function (validationResult) {
                            if (validationResult.indexOf(false) == -1) {
                                //Validation OK on the screen go ahead
                                return true;
                            } else {
                                //Validation Failed
                                return false;
                            }
                        });
            },

            setVerificationType: function (type) {
                this.verificationType = type;
            },

            showFormErrors: function () {
                return this.ensure("errorSummary", "form")
                        .then(function (dependencies) {
                            dependencies.errorSummary.setErrors(dependencies.form.getErrors());
                        });
            },

            showNotes: function (verificationType) {
                return verificationType === "reject";
            },

            showSendButton: function (verificationType) {
                return verificationType === "accept";
            },

            submit: function (event) {
                var self = this;
                var sendNotes = event.target.dataset.sendNotes;
                var clickedSubmitButton = event.target;

                return sendNotes ?
                        self.submitWithNotes(clickedSubmitButton) :
                        self.submitWithoutNotes(clickedSubmitButton);
            },

            submitWithoutNotes: function (submitButton) {
                var self = this;

                self.disable(submitButton);

                return self.verifyCondition(false)
                        .then(function () {
                            if (self.verificationType === "accept") {
                                self.accepted = true;
                            } else {
                                self.accepted = false;
                            }

                            self.success = true;
                            self.hideAcceptRejectMsg();
                            self.enable(submitButton);
                            self.publish("conditions:refreshOutStanding");
                        })
                        .catch(function (error) {
                            self.handleResponseError(error);
                            self.enable(submitButton);
                        });
            },

            submitWithNotes: function (submitButton) {
                var self = this;

                self.disable(submitButton);

                return self.isValid()
                        .then(function (isValid) {
                            if (isValid) {
                                return self.verifyCondition(true)
                                        .then(function (response) {
                                            self.accepted = false;
                                            self.success = true;
                                            self.hideAcceptRejectMsg();
                                            self.enable(submitButton);
                                            self.publish("conditions:refreshOutStanding");
                                        })
                                        .catch(function (error) {
                                            self.handleResponseError(error);
                                            self.enable(submitButton);
                                        });
                            }
                            else {
                                self.enable(submitButton);
                            }
                        });
            },

            verifyCondition: function (sendNotes) {
                var self = this;
                var notes = sendNotes ? self.notes : null;

                return this.ensure("actionCenterService")
                        .then(function (service) {
                            return service[self.verificationType + "Condition"](
                                    self.entityId,
                                    self.condition.id,
                                    notes
                            );
                        });
            },

            hideAcceptRejectMsg: function () {
                var self = this;
                setTimeout(function(){
                    self.publish("conditions:hide", {
                        conditionId: self.conditionId
                    });
                }, 5000);
            }
        });
    </script>
</dom-module>