<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-equal.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-not-equal.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>

<dom-module id="modify-password">
    <template>
        <style>
            :host {
                --form-control-height: 3em;
                --form-control-border: 1px solid #cdcdcd;
                --form-control-border-focus: 1px solid #bababa !important;

            }

            .submit {
                margin-top: 10px;
            }
        </style>

        <identity-service id="identityService"></identity-service>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>

        <ui-error-summary
            id="errorSummary"
            errors="[[ errorMessages ]]">
        </ui-error-summary>
        <ui-form
            id="form"
            data="{{ formData }}"
            error-messages="{{ errorMessages }}"
            handle-validation-success="changePassword">
            <ui-input
                label="Current Password"
                name="currentPassword"
                type="password">
                <ui-validators>
                    <ui-require-field>Current Password is required.</ui-require-field>
                </ui-validators>
            </ui-input>
            <ui-input
                label="New Password"
                name="newPassword"
                type="password">
                <ui-validators>
                    <ui-require-field>New Password is required.</ui-require-field>
                    <ui-is-not-equal
                        reference-value="[[ formData.currentPassword ]]">
                        New Password cannot match Current Password.
                    </ui-is-not-equal>
                </ui-validators>
            </ui-input>
            <ui-input
                label="Confirm Password"
                name="confirmPassword"
                type="password">
                <ui-validators>
                    <ui-require-field>Confirm Password is required.</ui-require-field>
                    <ui-is-equal
                        reference-value="[[ formData.newPassword ]]">
                        New Password and Confirm Password must match.
                    </ui-is-equal>
                </ui-validators>
            </ui-input>
            <ui-button
                id="submit"
                disabled-text="Saving..."
                color="primary"
                on-click="validateForm">
                Submit
            </ui-button>
            or
            <a on-click="closeActivity">Cancel</a>
        </ui-form>
    </template>
    <script>
        Polymer({
            is: "modify-password",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior,
                alloy.activity
            ],

            validateForm: function () {
                this.$.form.isValid();
            },

            changePassword: function () {
                var self = this;

                return self.ensure("identityService")
                    .then(function (identityService) {
                        self.$.submit.disable();

                        return identityService.changePassword(
                            self.formData.currentPassword,
                            self.formData.newPassword,
                            self.formData.confirmPassword
                        );
                    })
                    .then(function () {
                        self.notifySuccess("Password updated successfully.");
                        self.publish("user.updated");
                        self.publish("activity:refresh");
                        self.closeActivity();
                    })
                    .catch(function (response) {
                        var error = response.responseJSON && response.responseJSON.message || "Unable to modify password.";

                        self.$.errorSummary.setErrors(error);
                    })
                    .then(function () {
                        self.$.submit.enable();
                    });
            }

        })
    </script>
</dom-module>