<dom-module id="terminate-on">
    <template>
    </template>
    <script>
        Polymer({
            is: "terminate-on",

            behaviors: [eventHub, workflowActivityBehavior, publishLifecycleEventsBehavior],

            execute: function () {
                var hasProhibitedStatus = this.parameters.terminateOn.map(function (status) {
                        return status.toLowerCase();
                    }).indexOf(String(this.output.status).toLowerCase()) > -1;

                if (hasProhibitedStatus) {
                    this.terminateWithReason(this.output.status);
                }

                else {
                    this.completeWithOutput(this.output);
                }
            }
        })
    </script>
</dom-module>