<link rel="import" href="./ui-selector-item.html" />
<dom-module id="ui-selector">
  <template>
    <style>
		/*Not sure why this one isn't working*/
		.dropdown-menu{ max-height:220px;}
		.open.dropup button {
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		}
		/*Not sure why this one isn't working*/
		.open button {
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		}
		
		.dropdown-arrow {
		transition: all .1s linear;
		transform: rotate(180deg);
		margin-left: 10px;
		}
		
		button[aria-expanded=true] .dropdown-arrow {
		transform: rotate(0deg) !important;
		}
    </style>
    <button id="button"
            data-toggle="dropdown"
            class="add-inst-btn dropdown-toggle"
            outline
            aria-expanded="false">
      [[ buttonText ]]
    </button>
    <ul id="optionsContainer"
        class="dropdown-menu"
        style="overflow-y: scroll; overflow-x: hidden; border: 2px solid #0095d0; transform: translateY(4px);">
      <content></content>
    </ul>
  </template>

  <script src="ui-selector.js"></script>
</dom-module>