<dom-module id="ui-selector-item">
  <template>
    <style>
      :host {
        display: block;
        color: #7d7d7d;
        font-size:15px;
        background: #FFF;
        padding:5px 10px;
        cursor: pointer;
      }
    </style>
    <content></content>
  </template>
  <script>
    Polymer({
      is: "ui-selector-item",

      attached: function () {
        this.handleMouseover = this.handleMouseover.bind(this)
        this.handleMouseout = this.handleMouseout.bind(this)

        this.addEventListener("mouseover", this.handleMouseover)
        this.addEventListener("mouseout", this.handleMouseout)
      },

      detached: function () {
        this.removeEventListener("mouseover", this.handleMouseover)
        this.removeEventListener("mouseout", this.handleMouseout)
      },

      handleMouseover: function () {
        this.toggleClass("is-hovered", true)
      },

      handleMouseout: function () {
        this.toggleClass("is-hovered", false)
      }
    })
  </script>
</dom-module>