<html-import html-href="event/hub.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/theme-service.html"></html-import>
<dom-module id="section-complete-curtain">
    <template>
        <div class="backbtn section-back">
            <button type="button"
                    class="action"
                    on-click="backButtonClicked"
                    name="back">
                <span class="df df-back">&nbsp;</span>Back
            </button>
        </div>

        <div class$="{{ backgroundClass }}">
            <div class="vertical-center vcenter-vspace clearfix">

                <div class="welcome-docit text-center animated fadeInUp clearfix">
                    <template is="dom-repeat" items="[[title]]" as="header">
                        <h1>[[ header ]]</h1>
                    </template>
                    <p>[[ body ]]</p>
                    <div class="text-center getstartbtn">
                        <ui-button id="goNextSection" disabled="[[ isLoading ]]" disabled-text="Loading..."
                                   color="primary" fullWidth=true class="" on-click="goNextSection"> [[ buttonLabel ]]
                        </ui-button>
                    </div>
                </div>

            </div>
        </div>
        <event-hub id="hub"></event-hub>
        <questionnaire-service id="questionnaire"></questionnaire-service>
        <theme-service id="themeService"></theme-service>
    </template>
    <script>
        Polymer({
            is: "section-complete-curtain",
            properties: {
                temporaryApplicationNumber: String,
                lastAccessedSectionId: String,

                /**
                 * This property will be passed from parent which indicate whe this curtain will be shown
                 */
                visibleOn: {
                    type: Boolean,
                    observer: 'visibilityChanged'
                },

                /**
                 * This property will be used to disable button to prced next section
                 */
                isLoading: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [
                eventHub,
                ensureDependenciesBehavior
            ],

            observers: [
                'setClass(backgroundImageOn)',
            ],

            attached: function () {
                var self = this;
                this.set('backgroundClass', "container-fluid no-pad clearfix");
                this.ensure('themeService')
                        .then(function (service) {
                            service.fetchCurrentAsset()
                                    .then(function (resposne) {
                                        self.set('backgroundImageOn', resposne.isWelcomeScreenBackgroundImageOn)
                                    })
                        })
                        .catch(function () {
                            self.set('showVideo', false)
                        })
            },

            backButtonClicked: function () {
                this.$.hub.publish("section:resume", {
                    redirectNextSection: false
                });
            },

            goNextSection: function () {
                var self = this;

                //Disable the button
                self.isLoading = true;

                var lastAccessedSectionId = self.lastAccessedSectionId;
                //call the endpoint to update the isCompleted flag
                self.ensure("questionnaire")
                        .then(function (questionnaireService) {
                            questionnaireService.updateSectionCompletion(
                                    self.temporaryApplicationNumber,
                                    lastAccessedSectionId,
                                    true);
                        });
                this.$.hub.publish("section:next", {
                    redirectNextSection: true
                });
            },

            /**
             * This function will be called when visibility will be changed
             */
            visibilityChanged: function (newValue, oldValue) {
                if (newValue) {
                    this.isLoading = false;
                }
            },
            setClass: function (backgroundImageOn) {
                var defaultClass = "container-fluid no-pad clearfix";
                if (backgroundImageOn) {
                    defaultClass += " landing_bg";
                }
                this.set('backgroundClass', defaultClass);
            }
        });
    </script>
</dom-module>
