<dom-module id="document-viewer">
    <template>
        <style>
            #document {
                background-color: white;
                padding: 20px;
            }
        </style>

        <div id="document">
        </div>

        <http-request id="http"></http-request>
        <url-parser id="urlParser"></url-parser>
        <alloy-config id="config" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: 'document-viewer',

            properties: {
                name : String
            },

            attached: function() {
                var name = this.$.urlParser.getParams().name || this.name;
                var data = { Data: "" };
                var url = this.configuration.services.consentTracker;
                var baseUrl = "Application/" + name + "/view";
                Promise.resolve(this.$.http.post(baseUrl, data, url))
                    .then(function (response) {
                        $("#document").html(response.data)
                    });
            }
        });
    </script>
</dom-module>