<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-is-phone-number.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<dom-module id="account-verification-verify-account">
    <template is="dom-if" if="{{window.config.mobileVerificationRequired === true}}">
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center clearfix">
                <div class="get_started text-center animated fadeInUp clearfix">
                <h1>Verify Your Account</h1>

                <p>To keep your account safe, you'll need a verification code to access your account.</p>

                    <div class="login-form">
                    <ui-form id="form">
                        <ui-error-summary id="errorSummary"></ui-error-summary>
                            <ui-container floating-label="Phone #"
                                is-required=true control-type="TextPhone"
                                auto-save=false>
                                <ui-input name="phone"
                                    mask-format="(999) 999-9999">
                                    <ui-validators>
                                        <ui-require-field>Please enter your phone number.</ui-require-field>
                                        <ui-is-phone-number id="isPhoneNumber">Phone number is not valid.
                                        </ui-is-phone-number>
                                    </ui-validators>
                                </ui-input>
                            </ui-container>
                    </ui-form>

                    <ui-button
                            id="acceptButton"
                            disabled="{{ busy }}"
                            disabled-text="Saving..."
                            color="primary"
                            fullWidth=true
                            class=""
                            on-click="submit">
                        SEND CODE
                    </ui-button>
                </div>
            </div>
            </div>
        </div>
        <http-request-promisified id="$http"></http-request-promisified>
    </template>

    <script>
        Polymer({
            is: "account-verification-verify-account",

            behaviors: [
                eventHub,
                workflowActivityBehavior
            ],

            properties: {
                busy: Boolean,
                /**
                 * The URL for the next page in the account creation flow
                 */
                nextPageUrl: {
                    value: "#/verify-otp",
                    type: String
                }
            },

            submit: function (e) {
                var self = this;
                self.isValid().then(function (isValid) {
                    if (isValid) {
                        self.set("busy", true);
                        // // TODO remove the condition only for testing purpose
                        // if (self.unMaskValue(self.$.form.getData().phone) == "9999999999") {
                        //     var output = {
                        //         "phoneNumber": self.unMaskValue(self.$.form.getData().phone)
                        //     };
                        //     self.completeWithOutput(output);
                        //     self.set("busy", false);
                        // }
                        // else {
                            return self.sendOtp()
                                .then(function (result) {
                                    if (result.success === true) {
                                        var output = {
                                            "phoneNumber": self.unMaskValue(self.$.form.getData().phone)
                                        };
                                        self.completeWithOutput(output);
                                        self.set("busy", false);
                                    }
                                    else {
                                        self.set("busy", false);
                                        self.$.errorSummary.setErrors(result.message);
                                    }
                                });
                        // }
                    }
                    else {
                        self.$.errorSummary.setErrors(self.$.form.getErrors());
                    }
                }.bind(self));
            },

            sendOtp: function () {
                var self = this;
                var formData = self.$.form.getData();
                var url = ["send-otp", self.unMaskValue(formData.phone), window.config.countryCode, window.config.otpLength, "sendotp"].join("/");

                return new Promise(function (resolve, reject) {
                    self.$.$http.get(
                        url,
                        "",
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },

            execute: function(){
                var self = this;
                if (window.config && window.config.mobileVerificationRequired === false) {
                    var output = { status: "success" };
                    self.completeWithOutput(output);
                    return;
                }
            },
            /**
             * Validate all ui-containers attached on this screen
             */
            isValid: function () {
                var self = this;

                //Validate All ui elements
                var _validations = [];

                self.querySelectorAll('ui-container').forEach(function (_uiInputContainer) {
                    _validations.push(_uiInputContainer.isValid());
                });

                //We do not need to chain validation here as they are not dependent on each other.
                return Promise.all(_validations)
                    .then(function (validationResult) {
                        if (validationResult.indexOf(false) == -1) {
                            //Validation OK on the screen go ahead
                            return true;
                        } else {
                            //Validation Failed
                            return false;
                        }
                    });
            },
            unMaskValue: function (value) {
                value = value.replace(/\D/g, '');
                return value;
            }
        });
    </script>
</dom-module>