<html-import html-href="ui-elements/forms/ui-form-elements.html"></html-import>
<html-import html-href="header/public-header.html"></html-import>
<html-import html-href="ui-elements/forms/ui-container.html"></html-import>
<html-import html-href="services/form-validators.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<html-import html-href="services/questionnaire-service.html"></html-import>
<html-import html-href="services/invitation-service.html"></html-import>
<dom-module id="account-verification-verify-otp">
    <template is="dom-if" if="{{window.config.mobileVerificationRequired === true}}">
        <public-header></public-header>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center verify-acc clearfix">
                <div class="get_started text-center animated fadeInUp clearfix">
                <h1>Verify your account</h1>
                <p>A {{ otpLength }}-digit code has been sent to ******{{ phoneNumber }} to access your account.</p>
                <!--<p>To keep your account safe, you'll need a verification code to access your account.</p>-->

                    <div class="login-form verify-account">

                        <div class="verify_code">
                            <span>Enter your {{ otpLength }}-digit code below.</span>
                        <div class="verifcation clearfix">
                            <input class="textInput"
                                   type="text"
                                   name="" />
                            <input class="textInput"
                                   type="text"
                                   name="" />
                            <input class="textInput"
                                   type="text"
                                   name="" />
                            <input class="textInput"
                                   type="text"
                                   name="" />
                            <input class="textInput"
                                   type="text"
                                   name="" />
                            <input class="textInput"
                                   type="text"
                                   name="" />
                        </div>
                    </div>
                    <div id="error-message"
                         hidden$="[[ !hasError ]]">
                        [[ errorMessage ]]
                    </div>

                    <ui-button id="acceptButton"
                               disabled="{{ busy }}"
                               disabled-text="Saving..."
                               color="primary"
                               fullWidth=true
                               class=""
                               on-click="submit">
                        SIGN UP
                    </ui-button>
                </div>

                        <div class="text-center havingtrouble">
                            <p>Having trouble?</p>
                            <a href="javascript:void(0)" on-click="sendOtp">Did not receive {{ otpLength }}-digit code.</a> </div>

            </div>
            </div>
        </div>
        <http-request-promisified id="$http"></http-request-promisified>
        <url-parser id="url"></url-parser>
        <form-validators id="validators"></form-validators>
        <session-manager id="session"></session-manager>
        <identity-service id="identity"></identity-service>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <invitation-service id="invitationService"></invitation-service>
        <questionnaire-service id="questionnaireService"></questionnaire-service>
    </template>

    <script>
        var shiftTab = 0;
        var mobileNumber= "";
        Polymer({
            is: "account-verification-verify-otp",

            behaviors: [
                eventHub,
                ensureDependenciesBehavior,
                workflowActivityBehavior
            ],

            properties: {
                busy: Boolean,
                /**
                 * The URL for the next page in the account creation flow
                 */
                nextPageUrl: {
                    value: "#/congratulations-page",
                    type: String
                },

                otpLength: {
                    value: window.config.otpLength,
                    type: Number
                },
                errorMessage: { type: String },
                hasError: { type: Boolean, value: false },
                phoneNumber: String,
                entityType: String,
                invitationToken: String,
                invitationId: String
            },
            sendOtp: function () {
                var self = this;
                var url = ["send-otp", mobileNumber, window.config.countryCode, window.config.otpLength, "sendotp"].join("/");

                return new Promise(function (resolve, reject) {
                    self.$.$http.get(
                        url,
                        "",
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                    });
                });
            },
            execute: function () {
                var self = this;
                mobileNumber = this.output.phoneNumber;
                if (window.config && window.config.mobileVerificationRequired === false) {
                    var output = { status: "success" };
                    self.completeWithOutput(output);
                    return;
                }
               
                var maskedNumber = this.output.phoneNumber.substr(6);
                this.set("phoneNumber", maskedNumber);
                this.set("token", this.$.url.getParams().token);
                this.set("refId", this.$.url.getParams().refid);

                $(".textInput").on("keyup", function (e) {
                    var enteredVal = $(this).val();
                    if (e.type === "blur") {
                        return;
                    }
                    else if ($(this).val() !== "") {
                        var enteredVal = $(this).val();
                        if (isNaN(enteredVal) || enteredVal.length > 1
                            || enteredVal === " ") {
                            $(this).val("");
                        }
                        else {
                            if ($(this).next().hasClass('textInput')) {
                                $(this).next().focus();
                            }
                        }
                    }
                });
            },

            submit: function (e) {
                var self = this;
                if (e) {
                    e.preventDefault();
                    e.stopPropagation();
                }
                if (this.isFormValid()) {
                    self.set("busy", true);
                    self.verifyOtp()
                        .then(function (result) {
                            if (result.success === true) {
                                self.updateInformation()
                                    .then(function (result) {
                                        if (result.success == true) {
                                            if (result.loginResponse && result.loginResponse.token && result.loginResponse.userId) {
                                                //If loginResponse is passed then no further action is required and auto login the user
                                                self.$.session.set("token", result.loginResponse.token);
                                                self.$.session.set("userId", result.loginResponse.userId);

                                                //Set Ip Address
                                                self.$.identity.addIpAddressInSession();
                                            }

                                            self.validateInvitationToken(result.userInfo).then(function(inviteResponse){
                                                self.processQuestionnaireGivenInviteId().then(function(){
                                                    self.set("busy", false);
                                                    var output = {
                                                        status: "success"
                                                    };
                                                    self.completeWithOutput(output);
                                                });
                                            });
                                            
                                        }else {
                                            self.set("busy", false);
                                            self.terminateWithReason("INVALID_TOKEN");
                                        }
                                    });
                            }
                            else {
                                self.set("busy", false);
                                self.setErrorMessage(result.message, $(".textInput"));
                            }
                        });
                }
            },

            verifyOtp: function () {
                var self = this;
                var otp = self.fetchOtp();
                var url = ["verifyOtp", this.output.phoneNumber, window.config.countryCode, otp, "verify"].join("/");
                var baseUrl = self.configuration.services.mobileOtp;
                
                //if (otp == "123456") { //
                //    // TODO to be remove condition only for testing purpose
                //    return new Promise(function (resolve, reject) {
                //        var obj = {
                //            "success": true
                //        };
                //        resolve(obj);
                //    });
                //} 
                //else { //
                    return new Promise(function (resolve, reject) {
                        self.$.$http.get(
                            url,
                            "",
                            function success(response) {
                                resolve(response);
                            },
                            function failure(error) {
                                reject(error)
                            });
                    });
                //} //
            },

            updateInformation: function () {
                var self = this;
                var url = "update/";

                var payload = {
                    refid: self.refId,
                    phoneNumber: this.output.phoneNumber,
                    countryCode: window.config.countryCode
                };

                return new Promise(function (resolve, reject) {
                    self.$.$http.put(
                        url,
                        payload,
                        "",
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            },
            /**
             * Validate all ui-containers attached on this screen
             */
            isFormValid: function () {
                var self = this;
                this.set("errorMessage", "");
                this.set("hasError", false);

                $(".textInput").each(function () {
                    if (self.$.validators.isEmpty($(this).val())) {
                        self.setErrorMessage("Verification code should be of 6 digit.", $(".textInput"));
                        return false;
                    }
                    if (!self.$.validators.isNumber($(this).val())) {
                        self.setErrorMessage("Only numbers allowed.", $(".textInput"));
                        return false;
                    }
                });
                if (self.hasError) {
                    return false;
                }
                return true;
            },

            setErrorMessage: function (message, field) {
                $(field).addClass("error");
                this.set("errorMessage", message);
                this.set("hasError", true);
            },
            
            validateInvitationToken: function (request) {
                var self = this; 
                if (request.invitationReferenceId) {
                    //verify invitation id
                    self.invitationToken = request.invitationReferenceId;
                    
                    return self.$.invitationService.getInvitationDetails(self.invitationToken).then(function (response) {
                        if(response && response.id)
                        {
                            self.invitationId = response.id;
                        }
                        return response;
                    }, function (error) {
                        throw error;
                    });
                }else {
                    return Promise.resolve();
                }
            },

            processQuestionnaireGivenInviteId: function() {
                var self = this;
                if(self.invitationToken && self.invitationId)
                {
                    return  self.ensure('questionnaireService')
                                .then(function(questionnaireService){
                                    return questionnaireService
                                      .processQuestionnaireGivenInviteId(self.invitationId)
                                      .then(function(response){
                                         return response;
                                      });
                                });
                }
                else{
                    return new Promise(function (resolve, reject) {
                        resolve(true);
                    });
                }
            },

            fetchOtp: function () {
                var values = $('.textInput').map(function () {
                    return this.value
                }).get()
                return values.join("");
            }
        });
    </script>
</dom-module>