<html-import html-href="header/public-header.html"></html-import>

<dom-module id="account-verification-congratulations">
    <template>
        <public-header></public-header>
        <div class="container-fluid no-pad animated fadeInUp">
            <div class="vertical-center clearfix">
            <template is="dom-if" if="{{ hasStatus('success', output) }}">
                <div class="get_started animated fadeInUp clearfix">
                    <h1 class="text-center">Congratulations!</h1>
                    <p class="text-center">Your account is now created!</p>
                    <div class="login-form clearfix">
                        <div class="btns">
                            <ui-button
                                    id="acceptButton"
                                    disabled="{{ busy }}"
                                    disabled-text="Saving..."
                                    color="primary"
                                    fullWidth=true
                                    class=""
                                    on-click="onAccessPortalClicked">
                                Access my portal
                            </ui-button>
                        </div>
                    </div>
                </div>
            </template>

            <template is="dom-if" if="{{ hasStatus('INVALID_TOKEN', output) }}">
                <h1><strong>Unable to create account.</strong></h1>
            </template>
        </div>
        <alloy-config id="config"
        alloy-configuration="{{ configuration }}"></alloy-config>
</div>
    </template>
    <script>
        Polymer({
            is: "account-verification-congratulations",

            behaviors: [eventHub, workflowActivityBehavior],

            execute: function () {
                //console.log(this.output);
            },

            hasStatus: function (status, output) {
                return output && output.status && output.status.toLowerCase() === status.toLowerCase();
            },

            onAccessPortalClicked: function () {
                window.location.hash = this.configuration.private.url;;
            }
        });
    </script>
</dom-module>