<html-import html-href="header/public-header.html"></html-import>
<dom-module id="affinity-partner-verify-token">
    <template>
        <div class="container-fluid no-pad animated fadeInUp">
            <public-header></public-header>
            <template is="dom-if"
                      if="{{ displayError }}">
                <h1><strong>Verification token has expired.</strong></h1>
            </template>
        </div>
        <http-request-promisified id="$http"></http-request-promisified>
        <url-parser id="url"></url-parser>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "affinity-partner-verify-token",

            behaviors: [eventHub],

            properties: {
                displayError: {
                    value: false,
                    type: Boolean
                }
            },

            attached: function () {
                var self = this;

                self.set("token", self.$.url.getParams().token);
                self.set("refId", self.$.url.getParams().refid);
                self.fetchTokenValidity()
                    .then(function (response) {
                        if (response.verified === true) {
                            //self.completeWithOutput({token: self.token, refid : self.refId});
                            self.updateInformation()
                                .then(function (response) {
                                    window.location.hash = "#/login";
                                });
                        }
                        else {
                            self.set("displayError", true);
                        }
                    }).catch(function (error) {
                        self.set("displayError", true);
                    });
            },

            fetchTokenValidity: function () {
                var self = this;
                var url = "verify-token";
                var baseUrl = self.configuration.services.security;
                var payload = {
                    "refid": self.refId,
                    "token": self.token
                };
                return this.$.$http.put(url, payload, baseUrl);
            },

            updateInformation: function () {
                var self = this;
                var url = "updateinformation";
                var baseUrl = self.configuration.services.security;

                var payload = {
                    refid: self.refId
                };

                return new Promise(function (resolve, reject) {
                    self.$.$http.put(
                        url,
                        payload,
                        baseUrl,
                        function success(response) {
                            resolve(response);
                        },
                        function failure(error) {
                            reject(error)
                        });
                });
            }
        })
    </script>
</dom-module>