<html-import html-href="services/docitt-security-service.html"></html-import>
<html-import html-href="services/identity/service.html"></html-import>
<dom-module id="borrower-account-verification">
    <template>
        <div class="container-fluid no-pad clearfix">
            <div class="vertical-center clearfix">
                <div class="get_started animated fadeInUp clearfix">
                    <h3>[[ invalidToken ]]</h3>
                </div>
            </div>
        </div>
        <http-request-promisified id="$http"></http-request-promisified>
        <url-parser id="url"></url-parser>
        <docitt-security-service id="docittSecurityService"></docitt-security-service>
        <identity-service id="identity"></identity-service>
        <alloy-config id="alloyConfig" alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "borrower-account-verification",

            behaviors: [eventHub, ensureDependenciesBehavior],

            properties : {
                invalidToken: {
                    type: String,
                    value: ""
                }
            },

            attached: function () {
                var self = this;
                this.portal = this.configuration.apps.securityLogin.configuration.portal;

                this.set("token", self.$.url.getParams().token);
                this.set("referenceId", self.$.url.getParams().refid);
                this.ensure("docittSecurityService")
                        .then(function (service) {
                            return service.fetchTokenValidity(self.referenceId, self.token)
                                    .then(function (response) {
                                        if (response.verified === true)
                                            return service.updateInformation(self.referenceId, "")
                                    })
                                    .then(function (response) {
                                        if (response.success === true)
                                            //Login user from here
                                            return self.$.identity.login(response.userInfo.username, response.userInfo.password, self.portal)
                                    })
                                    .then(function (response) {
                                        if (response.token && response.userId)
                                            self._redirect();
                                        else
                                            self._redirectLogin();
                                    })
                        })
                        .catch(function (error) {
                            console.warn(error)
                            self.set("invalidToken", "Verification is invalid");
                        });
            },

            _redirect: function () {
                window.location.hash = this.getDefaultPrivateApplication();
            },

            _redirectLogin: function () {
                window.location.hash = this.getDefaultPublicUrl();
            },

            getDefaultPublicUrl: function () {
                return this.configuration.public.url;
            },

            getDefaultPrivateApplication: function () {
                return this.configuration.private.url;
            }
        })
    </script>
</dom-module>