<dom-module id="on-complete">
    <template>
        <alloy-config id="config"
                      alloy-configuration="{{ configuration }}"></alloy-config>
    </template>
    <script>
        Polymer({
            is: "on-complete",

            /**
             * Redirect To private layout as auto login is done.
             */
            ready: function () {
                window.location.hash = this.configuration.private.url;;
            }
        })
    </script>
</dom-module>