<html-import html-href="ui-elements/modal/ui-modal.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>

<dom-module id="ui-confirm">
    <template>
        <ui-modal id="modal"
                  title="[[ confirmTitle ]]"
                  hide-close-button
                  subtitle={{subtitle}}
                 value=[[dateValue]]>
            <h2> [[ content ]]</h2>
            <div class="modal-footer">
                <template is="dom-repeat"
                          items="[[ buttons ]]"
                          as="button">
                    <ui-button color="[[ button.color ]]"
                               on-click="handleClick">
                        [[ button.text ]]
                    </ui-button>
                </template>
            </div>
        </ui-modal>
        <style>
             :host {display: none;
            }
        </style>
    </template>
    <script>
        Polymer({
            is: "ui-confirm",

            properties: {
                backdrop: {
                    type: Boolean,
                    value: true
                },
                confirmTitle: String,
                content: String,
                buttons: Array
            },

            behaviors: [eventHub, publishLifecycleEventsBehavior],

            attached: function () {
                this.confirmTitle = this.confirmTitle || "Are You Sure?";
                this.buttons = this.buttons || [
                    {
                        text: "Cancel",
                        color: "default",
                        clickHandler: function () {
                            this.fire("cancel", {
                                confirm: this
                            });

                            this.close();
                        }
                    },
                    {
                        text: "Yes",
                        color: "primary",
                        clickHandler: function () {
                            if (this.id === "confirmQuestionSection") {
                                this.fire("confirmQuestionSection", {
                                    confirm: this
                                });
                            }
                            else {
                                this.fire("confirm", {
                                    confirm: this
                                });
                            }
                            this.close();
                        }
                    }
                ];
            },

            open: function (cb) {
                this.style.display = "block";
                this.$.modal.open({
                    backdrop: false,
                    keyboard: false,
                    show: true
                });
                this.cb = cb;
            },

            close: function () {
                this.$.modal.close();
                this.style.display = "none";
            },

            handleClick: function (e) {
                var handler = e.model.button.clickHandler;

                handler.call(this, e);
                if (this.cb) {
                    this.cb(e.model.button)
                }
            }
        })
    </script>
</dom-module>