<dom-module id="ui-modal">
    <template>
        <div id="modal"
             class$="[[ fullscreenMode(fullscreen) ]] modal fade in"
             tabindex="-1"
             role="dialog">
            <div class$="[[ modalClasses ]] ">
                <div class="modal-content">
                    <template is="dom-if" if="[[ noSections ]]" restamp>
                        <div class="modal-header">
                            <button on-click="resetCondition"
                                    hidden$="{{ hideCloseButton }}"
                                    type="button"
                                    class="close"
                                    data-dismiss="modal">
                                <span aria-hidden="true" class="df df-close-o"></span>
                                <span class="sr-only">Close</span></button>
                            <h4 class="modal-title">{{ title }}</h4>
                            <small id="divContent" class="font-bold"></small>
                            <template is="dom-if"
                                      if="[[ IsDateValue(value) ]]">
                                <small class="font-bold">[[ getInnerHtml(value) ]]</small>
                            </template>
                            <small class="font-bold">{{ subtitle }}</small>
                        </div>
                        <content></content>
                    </template>

                    <template is="dom-if"
                              if="[[ !noSections ]]" restamp>
                        <div class="modal-header">
                            <button hidden$="{{ hideCloseButton }}"
                                    type="button"
                                    class="close"
                                    data-dismiss="modal"><span aria-hidden="true"
                                                               class="df df-close-o"></span> <span
                                    class="sr-only">Close</span></button>
                            <h4 class="modal-title"><span class="entity-title">Change Status</span>{{ title }}</h4>
                            <small id="divContent" class="font-bold"></small>
                            <template is="dom-if"
                                      if="[[ IsDateValue(value) ]]">
                                <small class="font-bold">[[ getInnerHtml(value) ]]</small>
                            </template>
                            <small class="font-bold">{{ subtitle }}</small>
                        </div>
                        <div id="modal-body"
                             class="modal-body">
                            <content select="*:not(.modal-footer)"></content>
                        </div>
                        <content select="div.modal-footer"></content>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'ui-modal',

            properties: {

                title: String,

                subtitle: String,
                value: String,

                fitToScreen: {
                    value: false,
                    type: Boolean
                },

                fullscreen: {
                    type: Boolean,
                    value: false
                },

                hideCloseButton: {
                    value: false,
                    type: Boolean
                },

                modalSize: {
                    type: String,
                    value: "large"
                },
                modalClasses: {
                    type: String,
                    value: "modal-dialog"
                },

                noSections: {
                    type: Boolean,
                    value: false
                }
            },

            behaviors: [eventHub],

            attached: function () {
                this.publish(this.id + ".attached");
                $(this.$.modal).on('show.bs.modal', this.handleShow.bind(this))
                $(this.$.modal).on('shown', function () {
                    $(".modal-body", this).animate({ scrollTop: 0 }, 'slow');

                });
                $(this.$.modal).on('hidden.bs.modal', function () {
                    $(".modal-body", this).animate({ scrollTop: 0 }, 'slow');

                });
            },

            fullscreenMode: function (fullscreen) {
                return fullscreen ? "fullscreen" : "";
            },

            setModalSize: function (modalSize) {
                if (modalSize === "small") {
                    return "modal-sm";
                }

                return "modal-lg"
            },

            setBodyContent: function (html) {
                $(this.$["modal-body"]).html(html)
            },

            open: function (options) {
                if (options) {
                    $(this.$.modal).modal(options);
                } else {
                    $(this.$.modal).modal("show");
                }
            },

            handleShow: function (e) {
                if (this.fitToScreen) {
                    $(".modal-body", this).css("overflow-y", "auto");
                    // TODO Find an objective way to measure th appropriate height
                    //$(".modal-body", this).css("height", "40vw");
                }
                this.setModalClasses();
                $(".modal-body", this).animate({ scrollTop: 0 }, 'slow');
            },
            setModalClasses: function () {
                var _classes = ["modal-dialog"];
                _classes.push(this.setModalSize(this.modalSize));

                this.modalClasses = _classes.join(" ");
            },
            IsDateValue: function (value) {
                if (value)
                    return true;
                else
                    return false;
            },
            insert: function (main_string, ins_string, pos) {
                if(typeof(pos) == "undefined") {
                    pos = 0;
                }
                if(typeof(ins_string) == "undefined") {
                    ins_string = '';
                }
                return main_string.slice(0, pos) + ins_string + main_string.slice(pos);
              },
            close: function () {

                $(this.$.modal).modal("hide");
            },

            detached: function () {
                $(this.$.modal).off();
                this.close();
            },

            resetCondition: function () {
                this.publish("popup:closed");
            },
            getInnerHtml: function (value) {
                var self = this;
                this.async(function () {
                    var el = self.querySelector('#divContent');
                    if (el)
                    {
                        if(value.indexOf('2.') > -1)
                            el.innerHTML = self.insert(value, '<br/>', value.indexOf('2.') - 1); 
                        else
                            el.innerHTML = value;
                    }
                }, 57);
            }
        });
    </script>
</dom-module>

