
<dom-module id="ui-modal-trigger">
    <template>
        <style>
            div {
                display: inline;
            }
        </style>
        <div on-click="showModal">
            <content></content>
        </div>        
    </template>
    <script>
        Polymer({
            is: 'ui-modal-trigger',
            
            properties: {

                /* modalId must be the same as the modal id used on <ui-modal id="someId"></ui-modal> */
                modalId: String,

                keyboard: {
                    value: false,
                    type: Boolean
                },

                backdrop: {
                    value: false,
                    type: Boolean
                },

                static: {
                    value: false,
                    type: Boolean
                }
            },

            showModal: function() {
                $("#" + this.modalId + " .modal").modal({
                            keyboard: this.keyboard,
                            show: true,
                            backdrop: this.getBackdrop()
                        });
            },
            
            /* 
            * This function returns a correct backdrop 
            * based in two boolean variables (static and backdrop).
            * This function must be used inside the modal object.
            */
            getBackdrop : function() {
                  return this.static ? 'static' : this.backdrop;
            }
        });
    </script>
</dom-module>
