<html-import html-href="ui-elements/forms/ui-form.html"></html-import>
<html-import html-href="ui-elements/forms/ui-error-summary.html"></html-import>
<html-import html-href="ui-elements/forms/validators/ui-require-field.html"></html-import>
<html-import html-href="ui-elements/forms/ui-text-area.html"></html-import>
<html-import html-href="ui-elements/ui-button.html"></html-import>
<html-import html-href="ui-elements/lists/ui-description-list.html"></html-import>
<html-import html-href="ui-elements/lists/ui-description-list-item.html"></html-import>
<html-import html-href="event/hub.html"></html-import>
<html-import html-href="event/subscription.html"></html-import>

<dom-module id="verify-request">
    <template>
        <style>
            :host {
                --form-control-height: 3em;
                --form-control-border: 1px solid #cdcdcd;
                --form-control-border-radius: 3px;
                --form-control-border-focus: 1px solid #bababa !important;
                --var-dropdown-focus: 1px solid #03426b !important;
                --dropdown-height: 3em;
                --dropdown-background-color: white;
                --dropdown-border: 1px solid #cdcdcd;
                --dropdown-border-has-error: 1px solid #ed5565 !important;
                --dropdown-color: #cacaca;
                --dropdown-width: 100%;
            }
        </style>

        <!--REQUEST DETAILS-->
        <div class="row">
            <ui-description-list>
                <div class="col-sm-6">
                    <ui-description-list-item
                        term="Status"
                        definition="{{ request.status }}">
                    </ui-description-list-item>
                </div>
                <div class="col-sm-6">
                    <ui-description-list-item
                        term="Requested Date"
                        definition="{{ requestDateTime }}">
                    </ui-description-list-item>
                </div>
                <div class="col-sm-6">
                    <ui-description-list-item
                        term="Request"
                        definition="{{ request.requestType.title }}">
                    </ui-description-list-item>
                </div>                
                <div class="col-sm-6">
                    <ui-description-list-item
                        term="Notes"
                        definition="{{ request.notes }}">
                    </ui-description-list-item>
                </div>
            </ui-description-list>
        </div>

        <!--ERROR SUMMARY-->
        <ui-error-summary id="errorSummary"></ui-error-summary>

        <!--CHECKLIST-->
        <h4>Checklist</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">Pass</th>
                <th class="text-center">Fail</th>
                <th>Item</th>
            </tr>
            </thead>
            <tbody>
            <template is="dom-repeat" items="{{ checklist }}">
                <tr>
                    <td class="text-center"><input type="radio"
                        value="1"
                        name="{{ item }}"></td>
                    <td class="text-center"><input type="radio"
                        value="0"
                        name="{{ item }}"></td>
                    <td>{{ item }}</td>
                </tr>
            </template>
            </tbody>
        </table>

        <!--NOTES-->
        <ui-form id="form">
            <ui-text-area name="notes" label="Notes" rows="4">
                <ui-validators>
                    <ui-require-field>
                        Please add notes to your verification.
                    </ui-require-field>
                </ui-validators>
            </ui-text-area>
        </ui-form>

        <!--SUBMIT OR CANCEL-->
        <ui-button id="submitButton" on-click="submit">Submit</ui-button>
        or
        <a on-click="cancel">Cancel</a>

        <!--SERVICES-->
        <alloy-format id="format"></alloy-format>
        <http-request id="http"></http-request>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>

    </template>
    <script>
        Polymer({
            is: "verify-request",

            behaviors: [
                eventHub,
                alloy.ensureDependenciesBehavior,
                alloy.activity
            ],

            properties: {
                /**
                 * Requested action sent borrower
                 */
                request: Object,

                /**
                 * The type of entity the requested action applies to
                 */
                entityType: String,

                /**
                 * The id of the entity the requested action applies to
                 */
                entityId: String,

                /**
                 * List of manual verifications that must be performed
                 */
                checklist: Array,

                /**
                 * Messages and events used in UI
                 */
                success: {
                    value: {
                        message: "Request Verified",
                        event: "request.verified"
                    }
                },

                error: {
                    value: {
                        message: "Unable to verify request at this time."
                    }
                }
            },

            attached: function ()
            {
                var request, entityType, entityId, checklist, notes, requestDateTime;
                try
                {
                    request = this.request;
                    requestDateTime = this.formatDate(request.submittedDate.time);
                    entityType = this.request.entityType;
                    entityId = this.request.entityId;
                    checklist =
                        this.request.requestType.checklist;
                    notes =
                        this.request.requestType.description;

                    this.set("request", request);
                    this.set("entityType", entityType);
                    this.set("entityId", entityId);
                    this.set("checklist", checklist);
                    this.set("notes", notes);
                    this.set("requestDateTime",requestDateTime);                    
                }
                catch (error)
                {
                    console.warn("Unable to start activity without required properties. Exiting activity.", error);
                    return;
                }

            },

            formatDate: function (date, isLong) {
                if (!date) {
                    return "";
                }

                if (isLong) {
                    return moment.tz(date, window.tenant.timezone).format("MM/DD/YYYY")
                }

                return moment.tz(date, window.tenant.timezone).format("MMM D, YYYY");
            },

            submit: function (e)
            {
                e.stopPropagation();
                var self = this;
                self.ensure("errorSummary", "form").then(function (ctx)
                {
                    ctx.form.isValid().then(function (isValid)
                    {
                        var errors = self.validate(self.getInputValues(), self.checklist);
                        errors = errors.concat(ctx.form.getErrors());
                        if (errors.length > 0)
                        {
                            ctx.errorSummary.setErrors(errors);
                        }

                        else
                        {
                            self.$.submitButton.disable();
                            self.saveVerification()
                                .catch(function (error)
                                {
                                    var message = _.get(error, "responseJSON.message")
                                        || self.error.message;

                                    self.$.errorSummary.setErrors(message);
                                })
                                .then(function ()
                                {
                                    self.notifySuccess(self.success.message);
                                    self.publish(self.success.event);
                                    self.publish("activity:refresh");
                                    self.closeActivity();
                                })
                                .catch(function (error)
                                {
                                    console.error("An error occurred after successful verification. Exiting activity.");
                                })
                                .then(function ()
                                {
                                    self.$.submitButton.enable();
                                });
                        }
                    });
                });
            },

            cancel: function (e)
            {
                e.stopPropagation();
                this.closeActivity();
            },

            /**
             * Get all radio button values keyed by radio button group
             * @returns {Object}
             */
            getInputValues: function ()
            {
                var values = {};
                $("input[type='radio']:checked").each(function ()
                {
                    values[$(this).attr("name")] = Boolean(Number(this.value));
                });

                return values;
            },


            validate: function (data, checklist)
            {
                var errors = [];

                if (!checklist)
                {
                    errors.push("Unable to validate at this time.");
                }

                if (!data)
                {
                    errors.push("Please verify the checklist items.");
                }

                if (Object.keys(data).length !== checklist.length)
                {
                    errors.push("Please verify all checklist items.");
                }

                return errors;
            },

            saveVerification: function ()
            {
                var self = this;
                return self.ensure("http", "form").then(function (ctx)
                {
                    return ctx.http.post
                    (
                        [self.entityType, self.entityId, self.request.id,
                            "verify"].join("/"),
                        {
                            notes: ctx.form.getData().notes,
                            questions: self.getInputValues()
                        },
                        self.configuration.services.requiredCondition
                    );
                });
            }
        })
    </script>
</dom-module>