<link rel="import" href="../behaviors/index.html" />
<html-import html-href="services/http-request-promisified.html"></html-import>
<dom-module id="borrower-public">
<template>
<nav class="header grey navbar navbar-fixed-top" role="navigation">
  <div class="navbar-header"><a href="javascript:void(0);" class="logo" title="Logo"></a></div>
</nav>

<div class="container-fluid no-pad clearfix">
  <div class="vertical-center clearfix">
  
    <div class="get_started animated fadeInUp clearfix">
      <h1>Get Started</h1>
      <p>We offer one intuitive place to manage and upload all your mortgage information</p>
      <micro-app current-app class=""></micro-app>
    </div>
    
  </div>
</div>
<alloy-config id="coreConfig" alloy-configuration="{{configuration}}"></alloy-config>
</template>
<script>
        // {{url}}/#/securityLogin
        Polymer({
            is: "borrower-public"
        });
    </script>
</dom-module>
