<!--<html-import html-href="behaviors/index.html"></html-import>-->
<link rel="import"
      href="../behaviors/index.html"/>
<html-import html-href="services/http-request-promisified.html"></html-import>
<dom-module id="public-layout">
    <template>
        <micro-app current-app></micro-app>

        <alloy-config id="coreConfig"
                      alloy-configuration="{{ configuration }}"></alloy-config>
    </template>

    <script>
        Polymer({
            is: "public-layout"
        });
    </script>
</dom-module>