<dom-module id="borrower-progress-bar">
  <template>
    <style>
       :host {
        display: block;
        overflow: hidden;
        height: .5em;
        width: 0;
      }
    </style>
  </template>
  <script src="./progress-bar.js"></script>
</dom-module>